<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="editForm('category/'+$route.params.id, {route:'category.view'})">
                    <b-row>
                        <router-link :to="{name:'category'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Edit Category</h5></div>
                        <div class="col align-right"><b-button type="submit" class="inventory-btn">Save</b-button></div>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row class="mt-30">
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Add Parent Category</b>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="parent_category"
                                            name="parent_category"
                                            v-model="form.parent_category"
                                            :options="parent_category"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Category Name</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="category_name"
                                            name="category_name"
                                            placeholder="Category Name"
                                            v-model="form.category_name"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Meta Tag</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="meta_tag"
                                            name="meta_tag"
                                            placeholder="Meta Tag"
                                            v-model="form.meta_title"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Enable</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-checkbox v-model="checked" class="category_switch" name="check-button" switch>
                                        </b-form-checkbox>
                                    </b-form-group>
                                </b-col>
                            </b-row> -->
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    // import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { required } from "vuelidate/lib/validators";
    import Axios from 'axios';

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                selected: [],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Procurement', active:true },
                    { text: 'Category', href: '#'},
                    { text: 'Edit', active:true },
                ],             
                parent_category: [
                    { value: null, text: "Select Category" }
                ],
                form: {
                    id:null,
                    parent_category: null,
                    category_name: '',
                    meta_tag: ''
                }
            };
        },
        validations: {
            form: {
                category_name: {
                    required
                }
            }
        },
        mounted(){
            Axios.get('category/'+this.$route.params.id).then(response => {
                let category = response.data;
                this.form.id = category.id;
                this.form.category_name = category.category_name;
                this.form.parent_category = (category.parent_category == null?null:category.parent_category.id);
                this.form.meta_title = category.meta_title;
            });

            Axios.get('category').then(response => {
                response.data.forEach((category) => {
                    console.log(this.form.id != category.id)
                    if(this.form.id != category.id){
                        this.parent_category.push({
                            value: category.id,
                            text: category.category_name
                        });
                    }
                });
            });
        },
        
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
.category_switch {
    position: relative;
    top: 7px;
}
</style>