<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'category'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Category Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'category.edit', params: {id:$route.params.id}}"><b-button class="btn-inventory-primary btn-size mr-05">Edit</b-button></router-link>
                        <b-button right class="hr-more btn-size mr-05">Delete</b-button>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col xs="12" sm="12" md="5" lg="5">
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Parent Category</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{data.parent_category}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Category Name</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{data.category_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Meta Tag</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{data.meta_title}}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Enable</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">Active</label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                </b-row>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
import Axios from 'axios';
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Procurement', active:true },
                    { text: 'Category', href: '#'},
                    { text: 'View', active:true },
                ],
                data:{
                    category_name:'',
                    parent_category: '',
                    meta_title: '',
                }
            }
        },
        mounted(){ 
            Axios.get('category/'+this.$route.params.id).then(response => {
                let category = response.data;
                this.data.category_name = category.category_name;
                this.data.parent_category = (category.parent_category == null?"":category.parent_category.category_name);
                this.data.meta_title = category.meta_title;
            }) 
        },
        method: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>