<template>
<b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('transmittal-slip')">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'transmittal_slip' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Transmittal Slip</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Date</b>
                        </b-col>   
                        <b-col md="4">
                            <b-form-group label-for="example-txtarea">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                        id="date"
                                        name="date"
                                        v-model="$v.form.date.$model"
                                        :state="stateValidation('date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="4">
                            <b-form-group label-for="example-txtarea">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_id"
                                        name="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :options="employee_name"
                                        :state="stateValidation('employee_id')"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <div class="fs-18 pt-2rm"><b>Transmittal Items</b></div>
                    <hr style="width: 100%; margin-bottom: 0.1rem;">
                    <b-row>
                        <b-col>
                            <b-table hover :items="form.item" :fields="transmittal_slip_items" show-empty style="width: 100%">
                                 <template v-slot:cell(id)="row">
                                    {{row.index + 1}}
                                </template>
                                <template v-slot:cell(inventory_id)="row">
                                   <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="inventory_id"
                                        name="inventory_id"
                                        v-model="row.item.inventory_id"
                                        :options="description"
                                    ></b-form-select>
                                </template>
                                <template v-slot:cell(quantity)="row">
                                   <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="quantity"
                                        name="quantity"
                                        v-model="row.item.quantity"
                                    ></b-form-input>
                                </template>
                                <template v-slot:cell(unit_id)="row">
                                   <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="unit_id"
                                        name="unit_id"
                                        v-model="row.item.unit_id"
                                        :options="unit"
                                    ></b-form-select>
                                </template>
                                <template v-slot:cell(remarks)="row">
                                   <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="remarks"
                                        name="remarks"
                                        v-model="row.item.remarks"
                                    ></b-form-input>
                                </template>
                                <template v-slot:cell(action)="row">
                                    <div :value="row.action">
                                        <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(row.item)"></span>
                                    </div>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>
                            <b-col style="padding-left: 0px">
                                <b-button class="btn-inventory-primary" @click="addRow"><span class="fa fa-plus"></span>&nbsp;Add Row</b-button>
                            </b-col>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    // import Modal2 from '@/components/Modal2'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked:false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Transmittal Slip', href: '#' },
                    { text: 'New', active: true },
                ],                
                tableColumns: [
                    'item_no.', 'description', 'remarks', 'unit', 'remarks', 'action'
                ],
                transmittal_slip_items: [
                    { key: 'id', label: 'Item No.' },
                    { key: 'inventory_id', label: 'Description' },
                    { key: 'quantity', label: 'Quantity' },
                    { key: 'unit_id', label: 'Unit' },
                    { key: 'remarks', label: 'Remarks' },
                    { key: 'action', label: 'Action ' }
                ],
                asset_tag: '',
                employee_name: [
                    { value: null, text: "Select Employee" }
                ],
                unit: [
                    {value: null, text: "Select Unit"}                 
                ],
                description: [
                    {value: null, text: "Select Description"}                
                ],
                remarks: [
                    {value: null, text: "Select Remarks"},
                    {value: 'defective', text: "defective"},                    
                    {value: 'pulled-out', text: "pulled-out"},                    
                ],
                form: {
                    employee_id: null,
                    date: '',
                    item: [],
                },
                // formitems: {
                //     item_no: '',
                //     description: null,
                //     quantity: '',
                //     unit_id: null,
                //     remarks: null,
                // }
            };
        },
        validations: {
            form: {
                date: {
                    required
                },
                employee_id: {
                    required,
                }
            }
        },
        mounted(){
            axios.get('transmittal-slip/create').then((response) => {
                console.log(response)
                let employee_data = response.data.employees;
                employee_data.forEach((employee) => {
                    this.employee_name.push({
                        value: employee['id'],
                        text: employee['first_name'] + ' ' + employee['last_name']
                    })
                });
                
                let units_data = response.data.units;
                units_data.forEach((unit) =>{
                    if (unit.enabled == 1)
                    {
                        this.unit.push({
                            value: unit.id,
                            text: unit.unit_code
                        });
                    }
                });
                
                let inventories_data = response.data.inventories;
                inventories_data.forEach((inventory) =>{
                    if(inventory.type == 2){
                        axios.get('transmittal-slip/getasset_tag/'+ inventory.id).then((response) => {
                            this.asset_tag = response.data;
                            this.description.push({
                                value: inventory.id,
                                text: response.data
                            });
                        });
                    }else{
                        this.description.push({
                            value: inventory.id,
                            text: inventory.get_inventories_names.description
                        });
                    }
                });
            });
        
            this.form.item.push({
                id: "",
                inventory_id: "",
                quantity: "",
                unit: "",
                remarks: "",
                action: ""
            });
        }, 
        methods: {
            // getTransmittal(){
                
            // },
            // getInventoriesItems(){
            //     axios.get('transmittal-slip/create').then((data) => {
            //         for (const x in data.data.Employee){
            //             this.employee_name.push({value: data.data.Employee[x]['id'],text: data.data.Employee[x]['first_name'] + ' ' + data.data.Employee[x]['last_name']})
            //         }
            //         for (const x in data.data.Inventories){
            //             this.unit_id.push({value: data.data.Inventories[x]['unit_id'],text: data.data.Inventories[x]['unit_name']})
            //         }
            //     })
            //     this.form.item.push({
            //         id: "",
            //         inventory_id: "",
            //         quantity: "",
            //         unit_id: "",
            //         remarks: "",
            //         action: ""
            //     });
            // },
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
            },
            addRow(){
                if(this.form.item == null){
                    this.form.item = [];
                }                
                var my_object = {
                    action:'',
                    item_no: this.form.item.item_no,
                    description: this.form.item.description,
                    quantity: this.form.item.quantity,
                    unit_id: this.form.item.unit_id,
                    remarks: this.form.item.remarks
                };
                this.form.item.item_no = "";
                this.form.item.description = null;
                this.form.item.quantity = "";
                this.form.item.unit_id = null;
                this.form.item.remarks = null;
                this.form.item.push(my_object)
                this.$bvModal.hide('modal-main')
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },       
            closeModal: function(){
                this.$bvModal.hide('modal-main')
            },
        }
    }
</script>

<style scoped>
    .p-5{
    padding: 0px !important;
    }
</style>