<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">            
            <modal2>
                <h5 slot="header" class="margin-0">Delete Transmittal Slip</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Transmittal Slip</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{ name:'transmittal.slip.create' }">
                        <b-button class="btn-inventory-primary"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                </b-col>
            </b-row>
            <b-col class="mt-30">
                <b-container>
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable 
                :fields="fields" 
                :data="data"
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="employee_name" slot-scope="props">
                    <router-link :to="{ name: 'transmittal.slip.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_id.first_name + ' ' + props.rowData.employee_id.last_name }} </router-link>
                </div>
                <div slot="location" slot-scope="props">
                    <label>{{props.rowData.employee_id.location == null ? 'N/A' :  props.rowData.employee_id.location}}</label>
                </div>
                <div slot="released_by">
                    <img :src="require(`@/images/user.jpg`)" class="rounded-circle default-minimg"/> <span class="mini-desc bold">Administrator</span><br>
                    <span class="mini-desc">May 6, 2020 | 4:33 PM</span>
                </div>
                <div slot="created_by" slot-scope="props">
                    <b-avatar v-if="props.rowData.history_logs.image == null" size="sm" :text="getAcronym(props.rowData.history_logs.user)"></b-avatar>
                    <b-avatar v-else :src="props.rowData.history_logs.image" size="sm"></b-avatar>&nbsp;&nbsp;
                    <span class="mini-desc bold">{{props.rowData.history_logs.user}}</span><br>
                    <span class="mini-desc">{{props.rowData.history_logs.date}} | {{props.rowData.history_logs.time}}</span>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'
    import NoData from '@/components/NoDataPage'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Transmittal Slip",
                    image: "transmittal_slip",
                    description: "Documentation of transferred from one company to another.",
                    route_create: "transmittal.slip.create",
                    route_import: "transmittal.slip.import",
                    params: "transmittal_slip",
                    allmodules: true, 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Transmittal Slip', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        formatter: (value) => {
                         return value
                        }
                    },
                    {
                        name: 'location',
                        title: 'Loaction',
                        sortField: 'location',
                        formatter: (value) => {
                        return value  
                        }
                        
                    },
                    {
                        name: 'released_by',
                        title: 'Released By',
                        sortField: 'released_by',
                        formatter: (value) => {
                        return value  
                        } 
                    },
                    {
                        name: 'created_by',
                        title: 'Created By',
                        sortField: 'created_by',
                        formatter: (value) => {
                        return value 
                        }
                    },
                ],
                data: [{
                    'employee_name' : '' ,
                    'location' :  'SKY',
                    'released_by' :  '',
                    'created_by' :  '' 
                },
                {
                    'employee_name' : '' ,
                    'location' :  'SKY',
                    'released_by' :  '',
                    'created_by' :  '' 
                }],
                perPage: 10,
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('transmittal-slip').then( response => {
                this.data = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetableDepartments.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('transmittal-slit/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                return matches.join('')
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
    }
</script>

<style scoped>
    .p-5 {
        padding: 0px !important;
    }
</style>