<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'transmittal_slip'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Transmittal Slip Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <b-button class="btn-inventory-primary btn-size" style="margin-right: 5px;">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item >Call</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Contact"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item >Send Email</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="5">
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Employee Name</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{TransmittalSlipData.employee_id.first_name +' '+ TransmittalSlipData.employee_id.last_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date Created</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{TransmittalSlipData.history_logs.date +' | '+ TransmittalSlipData.history_logs.time}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Created By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{TransmittalSlipData.history_logs.user}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Released By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">Administrator</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Approved By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{TransmittalSlipData.approved_by == null ? "N/A" : TransmittalSlipData.approved_by}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Checked By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">Administrator</label>
                            </b-col>
                        </b-row>                        
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
                <b-row class="mt-20">
                    <b-col md="12">
                        <b-tabs content-class="mt-3">
                            <b-tab title="Items" active>
                                <div class="align-right">
                                    <a href="#" title=""><span class="fa fa-plus"></span> <b>Add</b></a>
                                </div>
                                <vuetable ref="vuetable" :fields="itemNumberHeader" :data="TransmittalSlipItems" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                                    <div slot="item_no" slot-scope="props">
                                        <label>{{props.rowData.id}}</label>
                                    </div>
                                    <div slot="item_description" slot-scope="props">
                                        <label>{{props.rowData.inventory_id.inventory_description_data.description}}</label>
                                    </div>
                                    <div slot="qty_request" slot-scope="props">
                                        <label>{{props.rowData.inventory_id.quantity}}</label>
                                    </div>
                                    <div slot="unit" slot-scope="props">
                                        <label>{{props.rowData.inventory_id.unit_id.unit_name}}</label>
                                    </div>
                                </vuetable>
                            </b-tab>
                        </b-tabs>
                    </b-col>
                </b-row>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import axios from 'axios'
    import ApprovalStatus from '@/components/ApprovalStatus' 

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            ApprovalStatus
        },
        data() {
            return {
                approveData: [],
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Transmittal', href: '#'},
                    { text: 'View', active:true },
                ],
                TransmittalSlipData: [],
                TransmittalSlipItems: [],
                itemNumberHeader: [
                    {
                        name: 'item_no',
                        title: 'Item No.'
                    },
                    {
                        name: 'item_description',
                        title: 'Item Description'
                    },
                    {
                        name: 'qty_request',
                        title: 'Quantity Request'
                    },
                    {
                        name: 'unit',
                        title: 'Unit'
                    },
                ],
                perPage: 10,
                data: []
            }
        },
        mounted(){
            axios.get('transmittal-slip/'+ this.$route.params.id).then(response => {
                this.approveData = response.data
                let data = response.data
                this.TransmittalSlipData = data
                this.TransmittalSlipItems = data.transmittalslipitem
            });    
        },
        method: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>