<template>
    <div>
        <b-tab title="Attendance Summary" active>
            <div class="row justify-content-center">
                <div class="col-md-12 pr-0">
                    <vuetable ref="vuetable"
                            :fields="fields"
                            :api-mode="false"
                            class="table-payroll-overflow"
                            :data-manager="dataManagerTotalHours"
                            pagination-path="pagination"
                            @vuetable:pagination-data="onPaginationData"
                            :css="css.table">
                            </vuetable>
                </div>
            </div>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" 
                    @vuetable-pagination:change-page="onChangePage" 
                    :css="css.pagination">
                </vuetable-pagination>
            </div>
        </b-tab>
        <salary-computation 
            :payload="this.payload"></salary-computation>
        <payroll-summary :payload="this.payload"></payroll-summary>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'
import SalaryComputation from './SalaryComputation.vue'
import PayrollSummary from './PayrollSummary.vue'

export default {
    name: 'total-hours-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination,
        SalaryComputation,
        PayrollSummary
    },
    data() {
        return {
            fields: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'lates_and_absence',
                    title: 'Late & Absence',
                    sortField: 'lates_and_absence',
                },
                {
                    name: 'billable_leave_hours',
                    title: 'Billable Leave',
                    sortField: 'billable_leave_hours'
                },
                {
                    name: 'non_billable_leave_hours',
                    title: 'Non-Billable Leave',
                    sortField: 'non_billable_leave_hours'
                },
                // {
                //     name: 'non_billable_hours',
                //     title: 'Rendered Hours',
                //     sortField: 'non_billable_hours'
                // },
                {
                    name: 'billable_hours',
                    title: 'Billable Hours',
                    sortField: 'billable_hours'
                }
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetable.refresh();
        }
    },
    mounted() {
            axios.get('payruns/' + this.payload + '/payrun-items').then(response => {
                response.data.forEach((payroll, index) => {
                    this.data.push({
                        employee_name: payroll.employee_name,
                        billable_hours: payroll.total_billable_hours,
                        non_billable_hours: payroll.total_non_billable_hours,
                        lates_and_absence: payroll.total_late_absent_hours,
                        billable_leave_hours: payroll.billable_leave_hours,
                        non_billable_leave_hours: payroll.non_billable_leave_hours,
                    });

                    //axios.get('payruns/' + payroll.id + '/payrun-overtime').then(result => {

                        for (let type of payroll.ot) {
                            this.data[index][type.ot_type] = type.billable_hours
                        }
                    //});
                });
            });

            

            axios.get('ot-type').then(response => {
                response.data.forEach(type => {
                    this.fields.push({
                        name: type.code,
                        title: type.code,
                        sortField: type.code,
                        formatter (value) {
                            return value == null ? '0.00' : value
                        }
                    });
                });
            });
            
            
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetable.changePage(page)
        },
        dataManagerTotalHours(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetable.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>