<template>
    <b-tab title="Payroll Summary">
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableSalarySummary"
                :api-mode="false" 
                :fields="SalarySummary"
                :per-page="perPage"
                :data-manager="dataManagerSalarySummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-payroll-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'payroll-summary',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            SalarySummary: [
                {
                    name: 'employee_name',
                    title: 'Name',
                    sortField: 'employee_name',
                    width: 200
                },
                {
                    name: 'salary',
                    title: 'Rate',
                    sortField: 'salary'
                },
                {
                    name: 'billable_hours',
                    title: 'Total Billable Hours',
                    sortField: 'billable_hours'
                },
                {
                    name: 'late_hours',
                    title: 'Total Late and Absent Hours',
                    sortField: 'late_hours'
                },
                {
                    name: 'allowance',
                    title: 'Allowance',
                    sortField: 'allowance'
                },
                {
                    name: 'daily',
                    title: 'Daily',
                    sortField: 'daily'
                },
                {
                    name: 'billable',
                    title: 'Billable',
                    sortField: 'billable'
                },
                {
                    name: 'overtime',
                    title: 'OT',
                    sortField: 'overtime'
                },
            ],
            SalaryField2: [
                {
                    name: 'deductions',
                    title: 'Lates & Absences',
                    sortField: 'deductions'
                },
                {
                    name: 'grossPay',
                    title: 'Gross',
                    sortField: 'grossPay'
                },
                {
                    name: 'sss',
                    title: 'SSS',
                    sortField: 'SSS'
                },
                {
                    name: 'phic',
                    title: 'PHIC',
                    sortField: 'phic'
                },
                {
                    name: 'hdmf',
                    title: 'HDMF',
                    sortField: 'hdmf'
                },
                {
                    name: 'bir',
                    title: 'BIR',
                    sortField: 'bir'
                },
                {
                    name: 'deduc',
                    title: 'Other Deductions',
                    sortField: 'deduc'
                },
                // {
                //     name: 'incentives',
                //     title: 'Incentives',
                //     sortField: 'incentives'
                // },
                {
                    name: 'adjustments',
                    title: 'Adjustments',
                    sortField: 'adjustments'
                },
                {
                    name: 'netPay',
                    title: 'Net',
                    sortField: 'netPay'
                },
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS,
            total_hrs: 0,
            employees: []
        }
    },
    watch: {
        data() {
            this.$refs.vuetableSalarySummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/' + this.payload + '/payrun-items')
            .then(response => {
                let totalOT = 0;
                // let totalOTHours = 0;
                let totalGross = 0;
                let totalAllowance = 0;
                let totalNet = 0;
                let totalBir = 0;
                response.data.forEach((payroll, index) => {
                    let otPay = 0
                    let ot = payroll.ot
                    let absent_late = payroll.total_late_absent_hours * payroll.rate.rate_per_hour
                    let billable_pay = 0;

                    if (payroll.rate.type == 1) {
                        billable_pay = payroll.total_billable_hours * payroll.rate.rate_per_hour
                    } else {
                        billable_pay = payroll.rate.monthly_salary / 2;
                    }
                    
                    ot.forEach((overTime) => {
                        otPay += (parseInt(overTime.billable_hours) * parseFloat(payroll.rate.rate_per_hour)) * overTime.rate
                    })

                    let allowance = 0;
                    let no_of_days = 0;

                    if (payroll.rate.total_allowance > 0 ) {
                        if (payroll.rate.type == 1) {
                            no_of_days = payroll.total_billable_hours / 8;
                            allowance = payroll.rate.total_allowance * no_of_days;
                            console.log(allowance);
                        } else {
                            allowance = payroll.rate.total_allowance / 2;
                        }
                    }

                    let income = (billable_pay + otPay + parseFloat(payroll.adjustments) + allowance)

                    let grosspay = 0;

                    if (absent_late > income) {
                        grosspay = income;
                    } else { 
                        if (payroll.rate.type == 1) {
                            grosspay = income;
                        } else {
                            grosspay = income - absent_late
                        }
                    }

                    let sss = payroll.rate.sss / 2;
                    let philhealth = (payroll.pay_date == 15 ? payroll.philhealth : 0);
                    let pagibig = (payroll.pay_date == 30 ? payroll.rate.pagibig : 0);
                    let bir = payroll.rate.bir;
                    let mandated = (parseFloat(sss) + parseFloat(philhealth) + parseFloat(pagibig) + parseFloat(bir));

                    let net = 0;
                    if (absent_late > grosspay) {
                        if (mandated > grosspay) {
                            net = 0;
                        } else {
                            net = grosspay - mandated;
                        }
                    } else {
                        if (mandated > grosspay) {
                            net = 0;
                        } else {
                            net = grosspay - mandated;
                        }
                    }

                    this.data.push({
                        employee_name: payroll.employee_name,
                        salary: this.formatPrice(payroll.rate.monthly_salary == null ? payroll.rate.rate_per_day : payroll.rate.monthly_salary),
                        allowance: this.formatPrice(allowance),
                        daily: payroll.rate.monthly_salary == null ? this.formatPrice(payroll.rate.rate_per_day) : payroll.rate.monthly_daily_rate,
                        billable: this.formatPrice(billable_pay),
                        overtime: this.formatPrice(otPay),
                        deductions: this.formatPrice(absent_late),
                        grossPay: this.formatPrice(grosspay),
                        sss: this.formatPrice(sss),
                        phic: this.formatPrice(philhealth),
                        hdmf: this.formatPrice(pagibig),
                        billable_hours: payroll.total_billable_hours,
                        late_hours: payroll.total_late_absent_hours,
                        bir: this.formatPrice(bir),
                        netPay: this.formatPrice(net),
                        adjustments: this.formatPrice(payroll.adjustments),
                        deduc: this.formatPrice(payroll.deductions)
                    });
                    totalOT += otPay
                    totalGross += grosspay
                    totalNet += net
                    totalAllowance += allowance
                    totalBir += parseFloat(bir)
                    for (let type of payroll.ot) {
                        this.data[index][type.ot_type] = type.billable_hours
                    }
                });

                let totalSalary = 0
                let totalDaily = 0
                let totalBillable = 0
                let totalDeduction = 0
                let totalSSS = 0
                let totalPHIC = 0
                let totalHDMF = 0
                let totalBillableHours = 0
                let totalLateHours = 0
                let totalAdjustments = 0
                let totalDeduc = 0
                response.data.reduce(function(sum, value) {
                    totalSalary += (value.rate.monthly_salary == null ? Number(value.rate.rate_per_day) : Number(value.rate.monthly_salary))
                    // totalAllowance += value.rate.total_allowance
                    totalDaily += (value.rate.monthly_salary == null ? Number(value.rate.rate_per_day) : Number(value.rate.monthly_daily_rate))
                    totalBillable += value.total_billable_hours * value.rate.rate_per_hour
                    totalDeduction += value.total_late_absent_hours * value.rate.rate_per_hour
                    totalSSS += value.rate.sss / 2
                    totalPHIC += (value.pay_date == 15 ? value.philhealth : 0);
                    totalHDMF += (value.pay_date == 30 ? 100 : 0);
                    totalBillableHours += Number(value.total_billable_hours)
                    totalLateHours += Number(value.total_late_absent_hours)
                    totalAdjustments += value.adjustments
                    totalDeduc += value.deductions
                }, 0);

                this.data.push({
                    employee_name: 'Total',
                    salary: this.formatPrice(totalSalary),
                    allowance: this.formatPrice(totalAllowance),
                    daily: this.formatPrice(totalDaily),
                    billable: this.formatPrice(totalBillable),
                    overtime: this.formatPrice(totalOT),
                    adjustments: this.formatPrice(totalAdjustments),
                    deductions: this.formatPrice(totalDeduction),
                    deduc: this.formatPrice(totalDeduc),
                    grossPay: this.formatPrice(totalGross),
                    sss: this.formatPrice(totalSSS),
                    phic: this.formatPrice(totalPHIC),
                    hdmf: this.formatPrice(totalHDMF),
                    bir: this.formatPrice(totalBir),
                    billable_hours: this.formatPrice(totalBillableHours),
                    late_hours: this.formatPrice(totalLateHours),
                    netPay: this.formatPrice(totalNet)
                })
            }
        );

        axios.get('ot-type').then(response => {
            response.data.forEach(type => {
                this.SalarySummary.push({
                    name: type.code,
                    title: type.code,
                    sortField: type.code,
                    formatter (value) {
                        return value == null ? '0.00' : value
                    }
                });
            });
            this.SalaryField2.forEach(type => {
                this.SalarySummary.push({
                    name: type.name,
                    title: type.title,
                    sortField: type.sortField
                })
            });
        });

    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2)
            return val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
        },
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableSalarySummary.changePage(page)
        },
        dataManagerSalarySummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableSalarySummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>