<template>
    <b-tab title="Salary Computation">
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableSalarySummary"
                :api-mode="false" 
                :fields="SalarySummary"
                :per-page="perPage"
                :data-manager="dataManagerSalarySummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-payroll-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'salary-computation',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            SalarySummary: [
                {
                    name: 'employee_name',
                    title: 'Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'salary',
                    title: 'Rate',
                    sortField: 'salary'
                },
                {
                    name: 'allowance',
                    title: 'Allowance',
                    sortField: 'allowance'
                },
                {
                    name: 'daily',
                    title: 'Daily',
                    sortField: 'daily'
                },
                {
                    name: 'billable',
                    title: 'Billable',
                    sortField: 'billable'
                },
                {
                    name: 'overtime',
                    title: 'OT',
                    sortField: 'overtime'
                },
                {
                    name: 'deductions',
                    title: 'Lates & Absences',
                    sortField: 'deductions'
                },
                {
                    name: 'adjustments',
                    title: 'Adjustments',
                    sortField: 'adjustments'
                },
                {
                    name: 'incentives',
                    title: 'Incentives',
                    sortField: 'incentives'
                },
                {
                    name: 'thirteenth_month',
                    title: '13th Month',
                    sortField: 'thirteenth_month'
                },
                {
                    name: 'service_incentive_leave',
                    title: 'Service Incentive Leave',
                    sortField: 'service_incentive_leave'
                },
                {
                    name: 'grossPay',
                    title: 'Gross',
                    sortField: 'grossPay'
                },
                {
                    name: 'sss',
                    title: 'SSS',
                    sortField: 'SSS'
                },
                {
                    name: 'phic',
                    title: 'PHIC',
                    sortField: 'phic'
                },
                {
                    name: 'hdmf',
                    title: 'HDMF',
                    sortField: 'hdmf'
                },
                {
                    name: 'bir',
                    title: 'BIR',
                    sortField: 'bir'
                },
                {
                    name: 'deduc',
                    title: 'Deductions',
                    sortField: 'deduc'
                },
                {
                    name: 'netPay',
                    title: 'Net',
                    sortField: 'netPay'
                },
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS,
            total_hrs: 0,
            employees: []
        }
    },
    watch: {
        data() {
            this.$refs.vuetableSalarySummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/' + this.payload + '/payrun-items')
            .then(response => {
                response.data.forEach((payroll) => {
                    let otPay = 0

                    let mandated = 0;
                    let bir = 0;
                    let pagibig = 0;
                    let philhealth = 0;
                    let sss = 0;
                    
                    let ot = payroll.ot
                    let absent_late = (payroll.total_late_absent_hours * payroll.rate.rate_per_hour)
                    let billable_pay = 0;

                    if (payroll.rate.type == 1) {
                        billable_pay = payroll.total_billable_hours * payroll.rate.rate_per_hour
                    } else {
                        billable_pay = payroll.rate.monthly_salary / 2;
                    }
                    
                    if (ot) {
                        ot.forEach((overTime) => {
                            otPay += (parseInt(overTime.billable_hours) * parseFloat(payroll.rate.rate_per_hour)) * overTime.rate
                        })
                    }

                    let allowance = 0;
                    let no_of_days = 0;

                    if (payroll.rate.total_allowance > 0 ) {
                        if (payroll.rate.type == 1) {
                            no_of_days = payroll.total_billable_hours / 8;
                            allowance = payroll.rate.total_allowance * no_of_days;
                        } else {
                            allowance = payroll.rate.total_allowance / 2;
                        }
                    }         

                    let income = billable_pay + otPay + payroll.adjustments + allowance;

                    let grosspay = 0;
                    if (absent_late > income) {
                        grosspay = income;
                    } else {
                        if (payroll.rate.type == 1) {
                            grosspay = income;
                        } else {
                            grosspay = income - absent_late
                        }
                    }

                    sss = payroll.rate.sss / 2;
                    philhealth = (payroll.pay_date == 15 ? payroll.philhealth : 0);
                    pagibig = (payroll.pay_date == 30 ? payroll.rate.pagibig : 0);
                    bir = payroll.rate.bir;
                    mandated = (parseFloat(sss) + parseFloat(philhealth) + parseFloat(pagibig) + parseFloat(bir));
                    let net = 0;

                    if (absent_late > grosspay) {
                        if (mandated > grosspay) {
                            net = 0;
                        } else {
                            net = grosspay - mandated;
                        }
                    } else {
                        if (mandated > grosspay) {
                            net = 0;
                        } else {
                            net = grosspay - mandated;
                        }
                    }
                    
                    //let net = income - (parseFloat(payroll.deductions) + sss + philhealth + pagibig + bir + deduction)
                    this.data.push({
                        employee_name: payroll.employee_name,
                        salary: (payroll.rate.monthly_salary == null ? this.formatPrice(payroll.rate.rate_per_day) : this.formatPrice(payroll.rate.monthly_salary)),
                        allowance: this.formatPrice(allowance),
                        daily: (payroll.rate.monthly_salary == null ? payroll.rate.rate_per_day : payroll.rate.monthly_daily_rate),
                        billable: this.formatPrice(billable_pay),
                        overtime: this.formatPrice(otPay),
                        deductions: this.formatPrice(absent_late),
                        grossPay: this.formatPrice(grosspay),
                        incentives: '0.00',
                        thirteenth_month: '0.00',
                        service_incentive_leave: '0.00',
                        sss: this.formatPrice(sss),
                        phic: this.formatPrice(philhealth),
                        hdmf: this.formatPrice(pagibig),
                        bir: this.formatPrice(bir),
                        netPay: this.formatPrice(net),
                        adjustments: this.formatPrice(payroll.adjustments),
                        deduc: this.formatPrice(payroll.deductions)
                    });
                });
            }
        );
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2)
            return val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
        },
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableSalarySummary.changePage(page)
        },
        dataManagerSalarySummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableSalarySummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>