<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row justify-content-center mt-30">
            <div class="col-md-12"> 
                <b-form @submit.stop.prevent="save">
                    <b-row>
                        <b-col lg="6" md="6" sm="6" class="text-no-wrap">
                            <router-link :to="{ name:'approval_process' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm ">New Approval Process</span>                        
                        </b-col>
                        <b-col  md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="stay_on_page"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="admin-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" lg="4" class="align-right pt-9">
                            <b>Module</b>
                        </b-col>   
                        <b-col md="5" lg="5">
                            <b-form-group> 
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="module"
                                        v-model="$v.form.module.$model"
                                        :options="module_option"
                                        :state="stateValidation('module')"
                                        aria-describedby="input-1-live-feedback"    
                                        @change="fetchDepartment"                          
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Approval Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="name"
                                        v-model="$v.form.name.$model"
                                        :state="stateValidation('name')"
                                        placeholder="Enter Name"
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Description</b>
                        </b-col>   
                        <b-col sm="12" md="5" lg="5">
                            <b-form-group>
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="description"
                                        name="description"
                                        v-model="$v.form.description.$model"
                                        :state="stateValidation('description')"
                                        placeholder="Enter a description"
                                        rows="3"
                                        no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>When to Execute</b>
                        </b-col>   
                        <b-col sm="12" md="5" lg="5" class="pt-9">
                            <b-form-group>
                                <b-form-checkbox-group
                                    id="checkbox-group-1"
                                    v-model="$v.form.execute.$model"
                                    :options="options"
                                    name="flavour-1"
                                    :state="stateValidation('execute')"
                                ></b-form-checkbox-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Who should Approve</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" >
                                <multiselect 
                                    class="approver"
                                    group-values="users"
                                    group-label="role"
                                    v-model="$v.form.approver.$model"
                                    :state="stateValidation('approver')"
                                    @input="toggleSelected()"
                                    track-by="id"
                                    label="user_name"
                                    :options="approver_option"
                                    :searchable="true"
                                    :group-select="true"
                                    placeholder="Type to search"
                                    :class="{ 'is-danger': showRequired }"
                                    :multiple="true">       
                                </multiselect>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Departments</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" >
                                <multiselect 
                                    v-model="$v.form.departments.$model"
                                    track-by="id"
                                    label="name"
                                    :options="department_options"
                                    :searchable="true"
                                    placeholder="Type to search"
                                    :class="{ 'is-danger': showRequired }"
                                    :multiple="true">       
                                </multiselect>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Specify Approval Setup</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group>
                                <b-form-radio-group
                                    v-model="$v.form.approver_setup.$model"
                                    :options="approved_setup"
                                    v-on:change="selectType($event)"
                                    :state="stateValidation('approver_setup')"
                                    class="drkgry-color mb-3"
                                    name="radio-inline"
                                    style="padding-top: 10px"
                                ></b-form-radio-group>
                            </b-form-group>
                        </b-col>
                        <span class="fa fa-info-circle tooltip_order" 
                            v-b-tooltip.hover 
                            title="
                            Anyone - Select this option if you want any one of the members to approve.
                            Everyone - Select this if your want all the members to approve. You can either set the multiple approvals to be parallel or sequential.
                            ">
                        </span>
                    </b-row>
                    <b-row v-if="showOrder">
                        <b-col md="4" class="align-right pt-9">
                            <b>Specify Order</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                v-model="form.order"
                                v-on:change="selectOrder($event)"
                                :options="order">
                            </b-form-select>
                        </b-col>
                        <span class="fa fa-info-circle tooltip_data" 
                                    v-b-tooltip.hover 
                                    title="
                                    Sequential - All the users need to approve in a sequence. 
                                        Only after first user approves will the second user be able to approve. 
                                        The user mentioned first, on the top of the list, 
                                        will be the first person to approve the record followed by the next user and so on.
                                    Parallel - All the users need to approve. They can approve simultaneously. There is no sequence in which
                                    they need to approve.">
                                </span>
                    </b-row>
                    <br>
                    <b-row >
                        <b-col md="4" class="align-right pt-9">
                        </b-col>   
                        <b-col md="5">
                            <draggable :data="form.approver" id="drag" @sort="sorting"></draggable>
                            <!-- <draggable v-model="form.approver" group="people" @start="drag=true" @end="drag=false">
                                <div v-for="element in form.approver" :key="element.id">{{element.user_name}}</div>
                            </draggable> -->
                        </b-col>
                    </b-row>
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import Draggable from '@/components/Draggable'
    //import draggable from 'vuedraggable'
    export default {
        mixins: [validationMixin,formMixins],
        components: {
            Multiselect,
            Draggable
            //draggable
        },
        data() {
            return {
                showOrder: false,
                showDrag: false,
                busy: false,
                showRequired: false,
                stay_on_page: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Approval Process', href: '#' },
                    { text: 'New', active: true },
                ],
                options: [
                    { text: 'Record Creation', value: '0' },
                    { text: 'Record Edit', value: '1' },
                ],
                form: {
                    module: null,
                    name: '',
                    approver: '',
                    description: '',
                    execute: ['0'],
                    order: '1',
                    sorted: null,
                    approver_setup: '',
                    departments: null
                },
                order: [
                    { text: 'Sequential', value: '0' },
                    { text: 'Parallel', value: '1' } 
                ],
                module_option: [],
                approver_option: [],
                approved_setup: [
                    { text: 'Anyone', value: '0' },
                    { text: 'Everyone', value: '1' } 
                ],
                department_options: []
            };
        },
        validations: {
            form: {
                module: { required },
                name: { required },
                execute: { required },
                description: { required },
                approver: { required },
                approver_setup: { required },
                departments: { required }
            }
        },
        mounted(){
            axios.get('approval_process/create').then((response) => {
                this.module_option = response.data.module
                this.approver_option = response.data.approver
                console.log(this.department_options);
            })
            document.getElementById('drag').style.display ='none'
        },
        methods: {
            sorting(value) {
                this.form.sorted = value
            },
            save() {
                if(this.form.approver == ''){
                    this.showRequired = true;
                }
                this.submitForm('approval_process', {stay: this.stay_on_page,route: 'approval_process.view'}).then((result) => {
                    this.form.execute = ['0']
                    this.showOrder = false
                    this.form.order = '1'
                    document.getElementById('drag').style.display ='none'
                    console.log(result)
                });
                
            },
            toggleSelected () {

                 if(this.form.approver != ''){
                     this.showRequired = false;
                 }
            },
            selectType(selected){
                if (selected == 1) {
                    this.showOrder = true;
                    this.form.order != null || this.form.order == 1  ?
                        document.getElementById('drag').style.display ='block' : ''
                    //
                } else {
                    this.showOrder = false;
                    this.form.order != null || this.form.order == 0 ?
                        document.getElementById('drag').style.display ='none' : ''
                    //this.showDrag = false
                }
            },
            selectOrder(selected){
                console.log(selected)
                if (selected == 0) {
                    document.getElementById('drag').style.display ='block';
                    //this.showDrag = true;
                } else {
                    document.getElementById('drag').style.display ='none';
                    //this.showDrag = false;
                }
            },
            fetchDepartment(val){
                let model_split = val.split('\\');
                let departments = [];
                this.department_options = [];
                this.form.departments = null;
                axios.get('departments/'+model_split[1]+'/approvals').then((response) => {
                    response.data.forEach(function(department){
                        departments.push({
                            id: department.id,
                            name: department.name
                        })
                    })
                });
                this.department_options = departments;

            }
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.tooltip_data{
    margin-top: 11px;
}
.tooltip_order{
    margin-top: 11px;
}
</style>
<style> 
.multiselect.approver .multiselect__tags {
    border-left: solid 1.5px #ec0000
}
</style>