<template>
<div class="form-group col-md-12 p-5">
    <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
    <template v-if="data.length > 0">
        <modal2>
            <h5 slot="header" class="margin-0">Delete Approval Process</h5>
            <h5 slot="body">
                <form ref="form">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="2" class="align-right">
                            <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="10">
                            <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                            <p class="fs-16">You can't undo this action.</p>
                        </b-col>
                    </b-row>
                </form>
            </h5>
            <h5 slot="buttons">
                <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
            </h5>
        </modal2>
        <b-row class="mt-30">
            <b-col md="6" lg="6">
                <span class="hr-title">Approval Processes</span>
            </b-col>
            <b-col md="6" lg="6" class="align-right">
                <router-link :to="{name:'approval_process.create'}">
                    <b-button class="admin-btn mr-05"><span class="fa fa-plus"></span> New</b-button>
                </router-link>
                <b-dropdown right class="hr-more btn-size">
                    <template slot="button-content">
                        <b-icon icon="three-dots"></b-icon>
                    </template>
                    <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-dropdown-item>
                </b-dropdown>
            </b-col>
        </b-row>
        <b-row class="mt-30">
            <b-col md="6" lg="9"></b-col>
            <b-col xs="12" sm="12" md="6" lg="3">
                <b-input-group>
                    <b-form-input></b-form-input>
                    <b-input-group-append>
                        <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </b-row>
        <vuetable
            ref="vuetable" 
            @vuetable:checkbox-toggled-custom="addCheckboxID" 
            @vuetable:checkbox-toggled-all="checkALL" 
            :fields="fields" 
            :data="data"
            :api-mode="false" 
            class="table-overflow"
            :data-manager="dataManager" 
            pagination-path="pagination" 
            :sort-order="sortOrder"
            @vuetable:pagination-data="onPaginationData"
            :css="css.table">
            <div slot="process_name" slot-scope="props">
                <router-link :to="{ name: 'approval_process.view',  params: {id: props.rowData.id}}">{{props.rowData.name}}</router-link>
            </div>
            <!-- <div slot="status" >
                <b-form-checkbox v-model="checked" name="check-button" switch></b-form-checkbox>
            </div> -->
        </vuetable>
        <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
    </template>
    <template v-else>
            <no-data :data="defaultData"></no-data>
    </template> 
</div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'
    import NoData from '@/components/NoDataPage'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {                
                checkboxID: [],
                checked: false,
                css: VuetableCSS,
                defaultData: {                    
                    image: "approvals",
                    title: "Approval Processes",
                    description: "set up approval process by specifying criteria based on which records will be sent for approval.",
                    route_create: "approval_process.create",
                    btn_color: "dark",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Approval Processes', href: '#' },
                    { text: 'List', active: true }
                ],
                sortOrder: [
                    {
                        field: 'process_name',
                        sortField: 'process_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'process_name',
                        title: 'Process Name',
                        sortField: 'process_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'module_name',
                        title: 'Module',
                        sortField: 'module_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'execute_msg',
                        title: 'Execute On',
                        sortField: 'execute_msg',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'approved_setup_msg',
                        title: 'Rules',
                        sortField: 'approved_setup_msg',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    // {
                    //     name: 'status',
                    //     title: 'Status',
                    //     sortField: 'status',
                    //     formatter: (value) => {
                    //         return value 
                    //     }
                    // },
                ],
                data: [],
                perPage: 10,
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('approval_process').then( response => {
                this.data = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },            
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>