<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <router-link :to="{name: 'approval_process'}" style="color: #707070;"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                    <div class="col text-left"><h5 class="form-head">{{ approvalData.name }}</h5></div>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="3" class="form-group mt-50 align-right">
                        <label>Approval Name</label>
                    </b-col>
                    <b-col md="6" class="form-group mt-50 align-left">
                        <label class="fw-bold">{{ approvalData.name }}</label>
                    </b-col>
                </b-row>
                <div class="row">
                    <b-col md="3" class="form-group align-right">
                        <label>Module</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <label class="fw-bold">{{ approvalData.module_name }}</label>
                    </b-col>
                </div>
                <b-row>
                    <b-col md="3" class="form-group align-right">
                        <label>Description</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <label class="fw-bold">{{ approvalData.description }}</label>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="3" class="form-group align-right">
                        <label>Execute on</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <label class="fw-bold">{{ approvalData.execute_msg }}</label>
                    </b-col>
                </b-row>
                 <b-row>
                    <b-col md="3" class="form-group align-right">
                        <label>Departments</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <label class="fw-bold">{{ departments }}</label>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="3" class="form-group align-right">
                        <label>Who Should Approve</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <label class="fw-bold">{{ approvalData.approved_setup_msg }}</label>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="3" class="form-group align-right">
                        <label>Approver</label>
                    </b-col>
                    <b-col md="6" class="form-group align-left">
                        <ul v-for="(approver, order) in approvalData.approvers" :key="approver.id" class="list-group" >
                            <li class="list-group-item">
                                {{approvalData.approved_setup == 1 ? order + 1 : ''}} | <strong>{{ approver.user_name }}</strong> - ({{ approver.role }})
                            </li>
                        </ul>
                        <p v-if="approvalData.approved_setup == 1" class="font-weight-light">{{ approvalData.approved_setup_msg }} must approve 
                                {{approvalData.order == 0 ? '(order matters)' : "(order doesn't matters)"}}</p>
                        <p v-if="approvalData.approved_setup == 0" class="font-weight-light">One of the following users must approve</p>
                    </b-col>
                </b-row>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import { modalMixins } from '@/mixins/modal'
    import axios from 'axios'
    export default {        
        mixins: [modalMixins],
        name: "Show",
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Approval Process', href: '#' },
                    { text: 'View', active: true },
                ],
                approvalData: [],
                departments: ""
            }
        },
        mounted(){
            axios.get('approval_process/'+this.$route.params.id).then(response => {
                this.approvalData = response.data
                response.data.departments.forEach(department => {
                    this.departments = (this.departments==""?"":this.departments+ ", ")  + department.name;
                })
            })
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>