<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <!-- Modal Verification -->
                <modal2>
                    <h5 slot="header" class="margin-0">Account Verification</h5>
                    <h5 slot="body">
                        <form ref="form">
                            <b-row style="padding: 1rem 1rem; position: relative;">
                                <b-col md="4" class="align-right">
                                    <p class="fs-16">Enter your Password</p>
                                </b-col>
                                <b-col md="7">
                                    <b-form-input :type="passwordFieldType" autocomplete="off" v-model="password_acct"></b-form-input>
                                    <b-icon @click="showPassword" :icon="iconText" aria-hidden="true" class="icon-position"></b-icon>
                                </b-col>
                            </b-row>
                        </form>
                    </h5>
                    <h5 slot="buttons">
                        <b-button variant="success" @click.stop.prevent="accountVerify" class="mr-05 btn-dltmodal-size" size="sm">Submit</b-button>
                        <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                    </h5>
                </modal2>
                <b-form @submit.stop.prevent="save">
                    <b-row>
                        <b-col md="6" lg="6">
                            <router-link :to="{ name:'employee_salaries' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Employee Salary</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="stay_on_page"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        name="employee_id"
                                        id="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :options="employee_options"
                                        :state="stateValidation('employee_id')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Date Effective</b>
                        </b-col>  
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-datepicker 
                                    name="effective_date"
                                    id="effective_date"
                                    style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.effective_date.$model"                                    
                                    :state="stateValidation('effective_date')"
                                    :show-decade-nav="showDecNav"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }">>
                                </b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col sm="12" md="4" lg="4" class="align-right pt-9">
                            <b>Salary Type</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.classification.$model"
                                        :state="stateValidation('classification')"
                                        :options="class_options"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col sm="12" md="4" lg="4" class="align-right pt-9">
                            <b>Rate</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        name="type"
                                        id="type"
                                        v-model="$v.form.type.$model"
                                        :state="stateValidation('type')"
                                        :options="type"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row v-if="form.type == 0">
                        <b-col sm="12" md="4" lg="4" class="align-right pt-9">
                            <b>Monthly Salary</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    name="monthly_salary"
                                    id="monthly_salary"
                                    v-model="$v.form.monthly_salary.$model"
                                    :state="stateValidation('monthly_salary')"
                                    placeholder="Enter Monthly Salary">
                                </b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row v-if="form.type == 1">
                        <b-col sm="12" md="4" lg="4" class="align-right pt-9">
                            <b>Rate Per Day</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    min="0" 
                                    step=".01"
                                    type="number"
                                    name="rate_per_day"
                                    id="rate_per_day"
                                    v-model="$v.form.rate_per_day.$model"
                                    :state="stateValidation('rate_per_day')"
                                    placeholder="Enter Rate Per Day"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row> 
                        <b-col offset-md="7" md="3" offset-lg="6" lg="3" class="media-left align-right">
                            <b-form-group>
                                <a class="fs-16 fw-bold text-no-wrap" style="color: #1C7CD5; cursor: pointer;" @click="addRow">+ Add Allowance</a>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <div v-for="(data, index) in form.allowancelist" v-bind:key="index">
                        <b-row>
                            <b-col  sm="5" md="3" offset-md="1" lg="3" offset-lg="1" class="align-right pt-9">
                                <b-form-input 
                                    name="allowance_name"
                                    id="allowance_name"
                                    v-model="form.allowancelist[index].allowance_name"
                                    placeholder="Add Allowance Name"
                                ></b-form-input>
                            </b-col>
                            <b-col sm="6" md="6" lg="5" class="align-right pt-9">
                                <b-form-group>
                                    <b-form-input 
                                        name="amount"
                                        id="amount"
                                        v-model="form.allowancelist[index].amount"
                                        placeholder="Amount"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <span class="fa fa-times fa-2x remove-color" style="cursor: pointer;" v-on:click="removeElement(index)"></span>
                        </b-row>
                    </div>                    
                    <p></p>                
                    <b-row v-if="form.type == 0">   
                        <b-col offset-md="4" md="6" offset-lg="4" lg="5" class="text-center">
                            <b-form-group>
                                <div class="dash-income">
                                    <span style="font-weight: 600;">Net Income</span>
                                    <span><b>&#8369;{{ formatPrice(net_income) }}</b></span>
                                </div>
                            </b-form-group>
                        </b-col>
                    </b-row>

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required, requiredIf } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import { mapGetters } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins],
        components: { Modal2 },
        data(){
            return {
                passwordFieldType: 'password',
                iconText: 'eye-fill',
                password_acct: null,
                stay_on_page:false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Employee Salaries', href: '#' },
                    { text: 'New', active: true },
                ],
                employee_options: [
                    { value: null, text: "Select Employees" }
                ],
                form: {
                    employee_id: null,
                    effective_date: '',
                    monthly_salary: null,
                    rate_per_day: null,
                    type: null,
                    allowancelist:[],
                    classification: null
                },
                showDecNav: true,
                type: [
                    { value : null, text: 'Select Rate' },
                    { value : 0, text: 'Fixed Rate' },
                    { value : 1, text: 'Daily Rate' },
                ],
                class_options: [
                    {text:"Select Type", value:null}, 
                    {text:"Starting Salary", value:"0"}, 
                    {text:"Adjustment", value:"1"}
                ]
                // allowance: {
                //     allowance_name: '',
                //     amount: ''
                // }
            }
        },
        mounted(){
            axios.get('employee-salary/create').then((response) => {
                    console.log(response.data.employee_name)
                    let employee_data = response.data.employee_name;
                    employee_data.forEach((employee_name) =>{
                        this.employee_options.push({value: employee_name['id'],text: employee_name['last_name'] + ' ' + employee_name['first_name']})
                    });    
                });
        },
        validations: {
            form: {
                employee_id: { required },
                effective_date: { required },
                classification: { required },
                monthly_salary: { 
                    required: requiredIf(function(form){
                        return form.type == 0
                    }) 
                },
                rate_per_day: { 
                    required: requiredIf(function(form){
                        return form.type == 1
                    }) 
                },
                type: { required }
            }
        },
        methods: {
            showPassword() {
                if(this.passwordFieldType === 'password') {
                    this.passwordFieldType = 'text'
                    this.iconText = 'eye-slash-fill'
                } else {
                    this.passwordFieldType = 'password'
                    this.iconText = 'eye-fill'
                }
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            accountVerify()
            {
                let form_data = new FormData();
                form_data.append("id", this.user.id);
                form_data.append("password", this.password_acct);
                axios.post('user-verify', form_data).then(response => {
                    if(response.data.verified) {
                        this.submitForm('employee-salary', {stay: this.stay_on_page, route: 'employee_salaries.view'}, 
                            '/allowance', this.form.allowancelist).then((result) => {
                            console.log(result)
                            this.form.allowancelist = [];
                        });
                    } else {
                        this.makeToast('Oopps!','Invalid Account Password','danger')
                    }
                })
            },
            save(){
                this.$bvModal.show('modal-main')
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            addRow(){
                this.form.allowancelist.push({
                    allowance_name: '',
                    amount: ''
                })
            },            
            removeElement : function (item) {
                this.form.allowancelist.splice(item, 1);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            }),
            net_income(){
                let net_income = 0;
                let allowance_amount = 0;
                console.log(this.form.allowancelist);
                if(this.form.monthly_salary == null || this.form.monthly_salary == ''){
                    return net_income;
                }
                else if(this.form.allowancelist.length > 0){
                    this.form.allowancelist.forEach((allowancelist) =>{
                        allowance_amount = allowance_amount+ Number(allowancelist.amount);
                    });   
                }
                net_income = parseFloat(this.form.monthly_salary) + parseFloat(allowance_amount);
                return net_income;
            },
            // net_income_total(){
            //     let net_income_total = 0;
            //     net_income_total = this.form.monthly_salary + this.allowancelist.amount;
            //     return net_income_total;
            // }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>