<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <!-- Modal Verification -->
                <modal2>
                    <h5 slot="header" class="margin-0">Account Verification</h5>
                    <h5 slot="body">
                        <form ref="form">
                            <b-row style="padding: 1rem 1rem; position: relative;">
                                <b-col md="4" class="align-right">
                                    <p class="fs-16">Enter your Password</p>
                                </b-col>
                                <b-col md="7">
                                    <b-form-input :type="passwordFieldType" autocomplete="off" v-model="password_acct"></b-form-input>
                                    <b-icon @click="showPassword" :icon="iconText" aria-hidden="true" class="icon-position"></b-icon>
                                </b-col>
                            </b-row>
                        </form>
                    </h5>
                    <h5 slot="buttons">
                        <b-button variant="success" @click.stop.prevent="accountVerify" class="mr-05 btn-dltmodal-size" size="sm">Submit</b-button>
                        <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                    </h5>
                </modal2>
                <b-form @submit.stop.prevent="save">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name: 'employee_salaries.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Employee Salary</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5" class="media-left">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    v-model="employee_name"
                                    readonly
                                    >
                                </b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Date Effective</b>
                        </b-col>  
                        <b-col md="5">
                            <b-form-group>
                                <b-form-datepicker 
                                    style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.effective_date.$model"                                    
                                    :state="stateValidation('effective_date')"
                                    :show-decade-nav="showDecNav"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }">
                                </b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group>
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        name="type"
                                        id="type"
                                        v-model="$v.form.type.$model"
                                        :state="stateValidation('type')"
                                        :options="type"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                
                    <b-row v-if="form.type == 0">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Monthly Salary</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.monthly_salary.$model"
                                    :state="stateValidation('monthly_salary')"
                                    placeholder="Enter Monthly Salary">
                                </b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row v-if="form.type == 1">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Rate Per Day</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group>
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    min="0" 
                                    step=".01"
                                    type="number"
                                    v-model="$v.form.rate_per_day.$model"
                                    :state="stateValidation('rate_per_day')"
                                    placeholder="Enter Rate Per Day"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row> 
                        <b-col offset-md="7" md="3" offset-lg="6" lg="3" class="align-right">
                            <b-form-group>
                                <a class="fs-16 fw-bold text-no-wrap" style="color: #1C7CD5; cursor: pointer;" @click="addRow">+ Add Allowance</a>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <div v-for="(AllowanceData, index) in form.allowancelist" v-bind:key="AllowanceData.index">
                        <b-row>
                            <b-col  sm="5" md="3" offset-md="1" lg="3" offset-lg="1" class="align-right pt-9">
                                <b-form-input 
                                    name="allowance_name"
                                    id="allowance_name"
                                    v-model="form.allowancelist[index].allowance_name"
                                    placeholder="Add Allowance Name"
                                ></b-form-input>
                            </b-col>
                            <b-col sm="6" md="6" lg="5" class="align-right pt-9">
                                <b-form-group>
                                    <b-form-input 
                                        name="amount"
                                        id="amount"
                                        v-model="form.allowancelist[index].amount"
                                        placeholder="Amount"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <!-- <span v-if="" class="fa fa-times fa-2x remove-color" style="cursor: pointer;" v-on:click="removeElement(index)"></span> -->
                        </b-row>
                    </div>

                    <b-row v-if="form.type == 0">   
                        <b-col offset-md="4" md="5" class="text-center">
                            <b-form-group>
                                <div class="dash-income">
                                    <span style="font-weight: 600;">Net Income</span>
                                    <span><b>&#8369;{{ formatPrice(net_income) }}</b></span>
                                </div>
                            </b-form-group>
                        </b-col>
                    </b-row>

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required, requiredIf } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import moment from 'moment'
    import Modal2 from '@/components/Modal2'
    import { mapGetters } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins],
        components: { Modal2 },
        data(){
            return {
                passwordFieldType: 'password',
                iconText: 'eye-fill',
                password_acct: null,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Employee Salaries', href: '#' },
                    { text: 'Edit', active: true },
                ],
                employee_options: [
                    { value: null, text: "Select Employees" }
                ],
                employee_name : null,
                form: {
                    employee_id: '',
                    effective_date: '',
                    monthly_salary: '',
                    rate_per_day: '',
                    type: null,
                    allowancelist:[],
                },
                type: [
                    { value : 0, text: 'Fixed Rate' },
                    { value : 1, text: 'Daily Rate' },
                ],
                showDecNav: true,
            }
        },
        mounted(){
            axios.get('employee-salary/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data
                this.employee_name = data.employee_name
                this.form.employee_id = data.employee_id
                this.form.effective_date = moment(String(data.effective_date)).format('yyyy-MM-D')
                this.form.monthly_salary = data.monthly_salary
                this.form.type = data.type
                this.form.rate_per_day = data.rate_per_day   
            });
            axios.get('employee-salary/'+this.$route.params.id+'/allowance').then(response => {
                this.form.allowancelist = response.data
            });
            
        },
        validations: {
            form: {
                // employee_id: { required },
                effective_date: { required },
                monthly_salary: { 
                    required: requiredIf(function(form){
                        return form.type == 0
                    }) 
                },
                rate_per_day: { 
                    required: requiredIf(function(form){
                        return form.type == 1
                    })
                },
                type: { required }
            }
        },
        methods: {
            showPassword() {
                if(this.passwordFieldType === 'password') {
                    this.passwordFieldType = 'text'
                    this.iconText = 'eye-slash-fill'
                } else {
                    this.passwordFieldType = 'password'
                    this.iconText = 'eye-fill'
                }
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            accountVerify()
            {
                axios.get('user-verify/' + this.user.id + '/' + this.password_acct).then(response => {
                    if(response.data.verified) {
                        this.editForm('employee-salary/' + this.$route.params.id, 
                            {stay: this.stay_on_page, route: 'employee_salaries.view'}, '/allowance',this.form.allowancelist)
                    } else {
                        this.makeToast('Oopps!','Invalid Account Password','danger')
                    }
                })
            },
            save(){
                this.$bvModal.show('modal-main')
            },
            changeItem(item,count){                
                var my_object = {
                    id: count,
                    value: item,
                }
                this.form.allowancelist.push(my_object)
                // this.form.allowancelist.splice(this.form.allowancelist.indexOf(count), 1);
            },
            addRow(){
                this.form.allowancelist.push({
                    allowance_name: '',
                    amount: ''
                })
            },            
            removeElement : function (item) {
                this.form.allowancelist.splice(item, 1);
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            }),
            net_income(){
                let net_income = 0;
                let allowance_amount = 0;
                if(this.form.monthly_salary == null || this.form.monthly_salary == ''){
                    return net_income;
                }
                else if(this.form.allowancelist.length > 0){
                    this.form.allowancelist.forEach((allowancelist) =>{
                        allowance_amount = allowance_amount+ Number(allowancelist.amount);
                    });   
                }
                net_income = parseInt(this.form.monthly_salary) + parseInt(allowance_amount);
                return net_income;
            },
            // net_income_total(){
            //     let net_income_total = 0;
            //     net_income_total = this.form.monthly_salary + this.allowancelist.amount;
            //     return net_income_total;
            // }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>