<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
            <template v-if="data.length > 0">
                <!-- Modal Delete -->
                <modal2 v-if="activeDelete">
                    <h5 slot="header" class="margin-0">Delete Employee Salary</h5>
                    <h5 slot="body">
                        <form ref="form">
                            <b-row style="top: 10px; position: relative;">
                                <b-col md="2" class="align-right">
                                    <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                                </b-col>
                                <b-col md="10">
                                    <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                    <p class="fs-16">You can't undo this action.</p>
                                </b-col>
                            </b-row>
                        </form>
                    </h5>
                    <h5 slot="buttons">
                        <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                        <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                    </h5>
                </modal2>
                <!-- Modal Verification -->
                <modal2 v-if="activeVerify">
                    <h5 slot="header" class="margin-0">Account Verification</h5>
                    <h5 slot="body">
                        <form ref="form">
                            <b-row style="padding: 1rem 1rem; position: relative;">
                                <b-col md="4" class="align-right">
                                    <p class="fs-16">Enter your Password</p>
                                </b-col>
                                <b-col md="7">
                                    <b-form-input :type="passwordFieldType" autocomplete="off" v-model="password_acct"></b-form-input>
                                    <b-icon @click="showPassword" :icon="iconText" aria-hidden="true" class="icon-position"></b-icon>
                                </b-col>
                            </b-row>
                        </form>
                    </h5>
                    <h5 slot="buttons">
                        <b-button variant="success" @click.stop.prevent="accountVerify" class="mr-05 btn-dltmodal-size" size="sm">Submit</b-button>
                        <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                    </h5>
                </modal2>
                <b-row class="mt-30">
                    <b-col md="6">
                        <span class="hr-title">Employee Salaries</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name:'employee_salaries.create'}">
                            <b-button class="btn-hr-primary btn-size mr-05"><span class="fa fa-plus"></span> New</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item style="display: none;" class="show-edit">New</b-dropdown-item>
                            <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow('deleteSalary');">Delete</b-dropdown-item>
                            <b-dropdown-item  @click.stop.prevent="modalShow('verifyFirst');">Export Data</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
                <b-row class="justify-content-center mt-30">
                    <b-col md="12">
                        <b-row>
                            <b-col sm="6">
                                <b-button class="btn btn-light" size="md" v-b-toggle.collapse-1 style="width: auto">Filter <b-icon icon="filter-left" style="vertical-align: middle;" aria-hidden="true"></b-icon> </b-button>
                            </b-col>
                            <b-col sm="6">
                                
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col sm="12">
                                <b-collapse id="collapse-1" class="mt-12">
                                    <b-card style="padding-right:1.5rem;">
                                        <b-container class="bv-example-row">
                                            <p class="card-text"></p>
                                            <b-row>
                                                <b-col>
                                                    <b-input-group>
                                                        <b-form-input v-model="filter.search" placeholder="Filter by Employee Name..." v-on:keyup.enter="applyFilter"></b-form-input>
                                                        <b-button disabled size="sm" variant="light"><span class="fa fa-search"></span> Search</b-button>
                                                    </b-input-group>
                                                </b-col>
                                            </b-row>
                                            <b-row class="mt-30 pb-1rm">
                                                <b-col md="6" sm="12" >
                                                    <b-form>
                                                        <label label-align-sm="left" label-size="lg" for="department_filter">Rate Type: </label>
                                                        <b-form-select id="department_filter" class="clean-form-input" v-model="filter.rate_type" :options="rate_type_options" button-only></b-form-select>
                                                    </b-form>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                    </b-card>
                                </b-collapse>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <vuetable 
                    @vuetable:checkbox-toggled-custom="addCheckboxID" 
                    @vuetable:checkbox-toggled-all="checkALL" 
                    ref="vuetable" 
                    :fields="fields" 
                    :api-mode="false" 
                    class="table-overflow"
                    :data-manager="dataManager" 
                    pagination-path="pagination" 
                    :sort-order="sortOrder"
                    @vuetable:pagination-data="onPaginationData"
                    :css="css.table">
                    <div slot="employee_name" slot-scope="props">
                        <b-button variant="link" @click.stop.prevent="modalShow('verifyFirst', props.rowData.id)">{{ props.rowData.employee_name }}</b-button>
                    </div>
                    <!-- <div slot="monthly_salary" slot-scope="props">
                        {{ formatNetIncome(props.rowData.monthly_salary) }}
                    </div>                 -->
                    <div slot="created_by" slot-scope="props">
                        <b-avatar v-if="props.rowData.history_logs[0].image == null" size="lg" :src="require(`@/images/user.jpg`)" class="rounded-circle default-minimg"></b-avatar>
                        <b-avatar v-else :src="props.rowData.history_logs[0].image" size="lg"></b-avatar>
                        <span class="mini-desc bold"> {{ props.rowData.history_logs[0].user }}</span><br>
                        <span class="mini-desc">{{ props.rowData.history_logs[0].date }} <b>|</b> {{ props.rowData.history_logs[0].time }}</span>
                    </div>
                </vuetable>
                <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                </vuetable-pagination>
            </template>
            <template v-else>
                <no-data :data="defaultData"></no-data>
            </template>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                passwordFieldType: 'password',
                iconText: 'eye-fill',
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "employee-salaries",
                    title: "Employee Salaries",
                    description: "Employee Salaries are fixed amount of money or compensation paid to an employee by an employer in return for work performed.",
                    route_create: "employee_salaries.create",
                    route_import: "employee_salaries.import",
                    params: "employee_salaries" ,
                    allmodules: true
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active: true },
                    { text: 'Employee Salaries', href: '#'},
                    { text: 'List', active: true },
                ],
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee',
                        sortField: 'employee_name',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'type',
                        title: 'Rate',
                        sortField: 'type',
                        formatter: (value) => {
                           return value == 1 ? 'Daily Rate' : 'Fixed Rate'
                        }
                    },
                    {
                        name: 'classification',
                        title: 'Type',
                        sortField: 'classification',
                        formatter: (value) => {
                           return value==1?"Adjustment":"Starting Salary"
                        }
                    },
                    {
                        name: 'effective_date',
                        title: 'Date Effective',
                        sortField: 'effective_date',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'created_by',
                        title: 'Created By',
                        sortField: 'created_by',
                        formatter: (value) => {
                           return value
                        }
                    },                   
                ],
                rate_type_options: [
                    { value: null, text: "All" },
                    { value: 0, text: "Fixed Rate" },
                    { value: 1, text: "Daily Rate" }
                ],
                filter: {
                    search: "",
                    rate_type: null
                },
                perPage: 10,
                data:[],
                activeVerify: true,
                activeDelete: false,
                password_acct: null,
                showId: null,
                deleteAction: false
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            },
            "filter.rate_type" : function() {
                this.applyFilter();
            },
        },
        mounted() {
            this.fetchEmployeeSalary();

            this.dataList(this.employeeSalaryList);
        },
        computed:{
            ...mapGetters({
                user: 'auth/user',
                employeeSalaryList: 'employeeSalaryList'
            }),
        },
        methods: {
            applyFilter() {
                let url = 'employee-salary?search='+this.filter.search;
                if (this.filter.rate_type != null) {
                    url += '&rate_type='+this.filter.rate_type
                }

                axios.get(url).then((response) => {
                    console.log(response.data);
                    if (response.data.length != 0) {
                        this.data = []
                        this.dataList(response.data, false);
                    } else {
                        this.makeToast('','No Data Retrieved with provided filter.','danger');
                    }   
                    
                })
            },
            dataList(salary, update = true){

                this.data = salary

                this.history_logs = salary.history_logs

                if (update) {
                    axios.get('employee-salary').then((response) => {
                        if (response.data.length != salary.length) {
                            console.log('update api');
                            this.data = []
                            this.dataList(response.data);
                        }
                    })
                }
            },
            ...mapActions({
                fetchEmployeeSalary: 'fetchEmployeeSalary'
            }),
            showPassword() {
                if(this.passwordFieldType === 'password') {
                    this.passwordFieldType = 'text'
                    this.iconText = 'eye-slash-fill'
                } else {
                    this.passwordFieldType = 'password'
                    this.iconText = 'eye-fill'
                }
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow(ref, param = null, deleteAction = false){
                if(ref == 'deleteSalary') {
                    this.activeDelete = true;
                    this.activeVerify = false;
                } else {
                    this.activeDelete = false;
                    this.activeVerify = true;
                    this.showId = param
                    this.deleteAction = deleteAction

                }
                
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                this.modalShow('verifyFirst',null, true);
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            formatNetIncome(value) {
                let val = (value)
                return val.toString().replace(value, "######")
            },
            accountVerify()
            {
                let form_data = new FormData();
                form_data.append("id", this.user.id);
                form_data.append("password", this.password_acct);
                axios.post('user-verify', form_data).then(response => {
                    if(response.data.verified) {
                        localStorage.setItem('verified', '1');
                        if (this.showId != null) {
                            this.$router.push({
                                name: 'employee_salaries.view',
                                params: { id: this.showId } 
                            });
                        } else if (this.deleteAction) {
                            this.checkboxID.forEach(id => {
                                axios.delete('employee-salary/'+id)
                            });
                            this.$bvModal.hide('modal-main');
                            this.makeToast('Success','Successfully Deleted','success');
                            setTimeout( function() { window.location.reload(true); }, 500);
                        } else {
                            axios.get('reports/export', {
                                params: {
                                    module: 'employee-salaries',
                                    type: 'CSV'
                                }
                            }).then(response => {
                                var a = document.createElement("a"); //Create <a>
                                a.href = response.data.data; //Image Base64 Goes here
                                a.download = response.data.fileName; //File name Here
                                a.click(); //Downloaded file
                            })
                            .finally(()=>{
                                this.password_acct = null
                                setTimeout( function() { window.location.reload(true); }, 500);
                            })
                        }
                        
                    } else {
                        this.makeToast('Oopps!','Invalid Account Password','danger')
                    }
                })
            }
        },
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}

</style>