<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" lg="6">
                        <router-link :to="{name: 'employee_salaries'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Employee Salary Information</span>
                    </b-col>
                    <b-col md="6" lg="6" class="align-right">
                        <router-link :to="{name: 'employee_salaries.edit' , params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05" >Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item  @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7" lg="7">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Employee Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ EmployeeSalaryData.employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Date Effective</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ EmployeeSalaryData.effective_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Rate</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ EmployeeSalaryData.type == 1 ? 'Daily Rate' : 'Fixed Rate' }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Type</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ EmployeeSalaryData.classification == 1 ? 'Adjustment' : 'Starting Salary' }}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="EmployeeSalaryData.type == 0">
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Monthly Salary</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">PHP {{ EmployeeSalaryData.monthly_salary }}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="EmployeeSalaryData.type == 1">
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Rate Per Day</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">PHP {{ EmployeeSalaryData.rate_per_day }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Allowances</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold"></label>
                            </b-col>
                        </b-row>
                        <b-row v-if="allowances == ''">
                            <b-col md="6" class="form-group media-left align-right mb-0">
                                <label class="fs-14"><b>N/A</b></label>
                            </b-col>
                        </b-row>
                        <b-row v-for="allowance in allowances" :key="allowance.allowance_name">
                            <b-col md="6" class="form-group media-left align-right mb-0">
                                <label class="fs-14"><b>{{ allowance.allowance_name }}</b></label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fs-14 fw-bold">PHP {{ allowance.amount }}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="6" class="form-group media-left align-right mb-0">
                                <label class="fs-14"><b>N/A</b></label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                    <b-col md="5" lg="5">
                        <b-row>
                            <b-col md="5" lg="4" class="form-group media-left align-right mb-0">
                                <label class="fs-14">Created By</label>
                            </b-col>
                            <b-col md="7" lg="8" class="form-group align-left">
                                <label class="fs-14 fw-bold">
                                    <b-avatar v-if="EmployeeSalaryData.history_logs[0].image == null" size="lg" :src="require(`@/images/user.jpg`)" class="rounded-circle default-minimg"></b-avatar>
                                    <b-avatar v-else :src="EmployeeSalaryData.history_logs[0].image" size="lg"></b-avatar>
                                    <span class="mini-desc bold"> {{EmployeeSalaryData.history_logs[0].user}}</span><br>
                                    <span class="mini-desc">{{ EmployeeSalaryData.history_logs[0].date }} <b>|</b> {{ EmployeeSalaryData.history_logs[0].time }}</span>
                                </label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <ApprovalStatus :data="approveData"></ApprovalStatus>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row class="mt-50">
                    <b-col md="12">
                        <b-tabs active-nav-item-class="fw-600" content-class="mt-3">
                            <b-tab title="Attachments" active>
                            </b-tab>
                            <b-tab title="NOPA">
                            </b-tab>
                        </b-tabs>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import { mapGetters } from 'vuex'

    export default {
        mixins: [formMixins,modalMixins],
        components: {
            ApprovalStatus
        },
        data() {
            return {
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Employee Salaries', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                DeleteData: [],
                passwordFieldType: 'password',
                iconText: 'eye-fill',
                EmployeeSalaryData: [],
                allowances: [],
                history_logs: []
            }
        },
        mounted(){
            axios.get('employee-salary/'+this.$route.params.id).then(response => {
                console.log(response.data.data)
                let data = response.data.data
                this.EmployeeSalaryData = data
                this.DeleteData = {value:this.$route.params.id,route:'employee-salary/', route2:'employee_salaries',data:this.EmployeeSalaryData.employee_name}
                this.history_logs = response.data.data.history_logs
            });
            axios.get('employee-salary/'+this.$route.params.id+'/allowance').then(response => {
                console.log(response.data)
                this.allowances = response.data
            });
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            }),
        },
        methods: {
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}    
</style>