<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('official_business', { stay: checked, route:'official_business.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'official_business' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Official Business</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <div>
                    <EmployeeSelection v-on:assignEmployeeID="assignEmployee"></EmployeeSelection>
                    </div>
                    <!-- <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_id"
                                        name="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :state="stateValidation('employee_id')"
                                        :options="employee_name"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row> -->
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                        id="date"
                                        name="date"
                                        v-model="$v.form.date.$model"
                                        :state="stateValidation('date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Time In</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="overtime-date">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                    id="time_in"  
                                    name="time_in"
                                    v-model="$v.form.time_in.$model"
                                    :state="stateValidation('time_in')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Time Out</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="time-started">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                    id="time_out"  
                                    name="time_out"
                                    v-model="$v.form.time_out.$model"
                                    :state="stateValidation('time_out')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Purpose</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="purpose"
                                        name="purpose"
                                        v-model="$v.form.purpose.$model"
                                        :state="stateValidation('purpose')"
                                        placeholder="Enter a purpose"
                                        rows="3"
                                        no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import EmployeeSelection from '@/components/EmployeeSelection.vue';
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        components: {EmployeeSelection},
        data() {
            return {
                checked:false,
                busy: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Official Business', href: '#' },
                    { text: 'New', active: true },
                ],
                employee_name: [
                    { value: null, text: "Select Employee" }
                ],
                form: {
                    employee_id: null,
                    date: '',
                    time_in: '',
                    time_out: '',
                    purpose: '',
                }
            };
        },
        
        mounted(){
            this.getEmployees();
        },
        validations: {
            form: {
                employee_id: { required },
                date: { required },
                time_in: { required },
                time_out: { required },
                purpose: { required }
            }
        },
        methods: {
            assignEmployee(value){
                this.form.employee_id = value;
            },
            getEmployees(){
                axios.get('official_business/create').then((response) => {
                    let employee_data = response.data;
                    employee_data.forEach((employee) =>{
                        this.employee_name.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name'] })
                    });
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>