<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm(route, { stay: false, route:'official_business.view', edit: true })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'official_business.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Official Business</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.employee_id.$model"
                                    :state="stateValidation('employee_id')"
                                    readonly
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.date.$model"
                                    :state="stateValidation('date')"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Time In</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="overtime-date">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                    id="time_in"  
                                    name="time_in"
                                    v-model="$v.form.time_in.$model"
                                    :state="stateValidation('time_in')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Time Out</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="time-started">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                    id="time_out"  
                                    name="time_out"
                                    v-model="$v.form.time_out.$model"
                                    :state="stateValidation('time_out')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Purpose</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                    id="purpose"
                                    name="purpose"
                                    v-model="$v.form.purpose.$model"
                                    :state="stateValidation('purpose')"
                                    placeholder="Enter a purpose"
                                    rows="3"
                                    no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                route: 'official_business/'+this.$route.params.id,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Official Business', href: '#' },
                    { text: 'Edit', active: true },
                ],
                form: {
                    employee_id: '',
                    date: '',
                    time_in: '',
                    time_out: '',
                    purpose: '',
                }
            };
        },
        mounted(){
            axios.get('official_business/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data.official_business
                this.form.employee_id = data.employee_name
                this.form.date = data.edit_date
                this.form.time_in = data.edit_timein
                this.form.time_out = data.edit_timeout
                this.form.purpose = data.purpose
            });
        },
        validations: {
            form: {
                employee_id: { required },
                date: { required },
                time_in: { required },
                time_out: { required },
                purpose: { required }
            }
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>