<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        
        <template v-if="data.length > 0">
            <modal2 ref="deleteModal">
                <h5 slot="header" class="margin-0">Delete Official Business</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">Official Business List</p></div>
                <div class="col text-right"><router-link :to="{name:'official_business.create'}"> <b-button class="hr-btn btn-shadow"><span class="fa fa-plus"></span> New</b-button></router-link>&nbsp;
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShowDelete">Delete</b-dropdown-item>
                        <b-dropdown-item>Approvals</b-dropdown-item>
                    </b-dropdown>
                </div>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col> 
                        <b-col sm="2"> 
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable ref="vuetables" :fields="fields" :api-mode="false" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                <div slot="Date" slot-scope="props">
                    <div class="outline"  v-b-toggle="'accordion' + props.rowData.id" >
                        <b block >{{ props.rowData.Date }}  </b> 
                        <b-icon icon="caret-down-fill" class="when-closed right"></b-icon>
                        <b-icon icon="caret-up-fill" class="when-open right"></b-icon> 
                    </div>
                    <div class="table-overflow">
                        <b-collapse :id="'accordion'+props.rowData.id" class="mt-2">
                        <vuetable :ref="'vuetable'+props.rowData.id"
                            :data-manager="dataManager"
                            pagination-path="pagination"
                            @vuetable:pagination-data="onPaginationData"
                            @vuetable:checkbox-toggled-custom="addCheckboxID" 
                            @vuetable:checkbox-toggled-all="checkALL($event, props.rowData.id)"
                            :css="css.table"
                            :api-mode="false"
                            :data="props.rowData.ob"
                            :fields="innerFields">
                            <div slot="employee_name" slot-scope="props">
                                <router-link :to="{ name: 'official_business.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                            </div>
                            <div slot="purpose" slot-scope="props">
                                <label class="ob-elips" :title="props.rowData.purpose">{{ props.rowData.purpose }}</label>
                            </div>
                        </vuetable>
                        <p></p>
                        <!-- <p class="align-right"><b>Total Rendered Hours: </b>adladks;dlad;woda{{ props.rowData.total_rendered_hours }}</p> -->
                        </b-collapse>
                    </div>
                </div>
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </div>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Modal2 from '@/components/Modal2'
    import Checkbox from '@/components/Checkbox'
    import NoData from '@/components/NoDataPage'

    export default {
        mixins: [VuetableFieldCheckboxMixin],
        name: "List",
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2,
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "leave-tracker",
                    title: "Official Business",
                    description: "Official Business are activities carried out by a person in authority as part of their job",
                    route_create: "official_business.create",
                    route_import: "official_business.import",
                    params: "official_business",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active: true },
                    { text: 'Official Business', href: '#'},
                    { text: 'List', active: true },
                ],
                fields: [
                    {
                        name: 'Date',
                        title: 'Date',
                        sortField: 'Date',
                        width: "95%",
                    }
                ],
                innerFields: [ 
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    { name: 'employee_name', title: 'Name', width: '20%'},
                    { name: 'time_in', title: 'Time In', width: '20%'},
                    { name: 'time_out', title: 'Time Out', width: '20%'},
                    // { name: 'rendered_hours', title: 'Rendered Hours', width: '20%'},
                    { name: 'purpose', title: 'Purpose', width: '20%', tableClass: 'eli' },
                    { name: 'approved_status', title: 'Approval Status', width: '20%'}
                ],
                // subinnerFields: [ 
                //     'total_rendered_hours'
                // ],
                innerData: [],  
                perPage: 10,
                data:[],
                contentID: [],
            }
        },
         watch: {
            data(){
                this.$refs.vuetables.refresh();
            }
        },
        mounted() {
            axios.get('official_business').then( response => {
                this.data = response.data
                for (let data of response.data){
                    this.contentID[data.id]=data;
                }
            })
        },
        methods: {
           addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked, data){
                if(checked){
                    for(let selectedID of this.$refs['vuetable' + data].selectedTo){
                        this.checkboxID.push(selectedID);
                    }
                }else{
                    for(let content of this.contentID[data].ob){
                        let idIndex = this.checkboxID.indexOf(content.id);
                        this.checkboxID.splice(idIndex, 1);
                    }
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetables.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetables.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShowDelete: function (){
                this.$bvModal.show('modal-main')
            },
            deleteModal: function (){
                axios.delete('official_business/massdelete/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
        
    }
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>