<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>     
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'official_business'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">{{ date }}</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'official_business.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="btn-size hr-more">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'timesheet.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'timesheet.view', data: this.history_log})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col> 
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Employee Name</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Time In</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ time_in }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Time Out</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ time_out }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Purpose</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ purpose }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Status</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ approve_status }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Created by</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ created_by }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Date Created</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ date }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>            
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { modalMixins } from '@/mixins/modal'
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Official Business', href: '#' },
                    { text: 'View', active: true },
                ],
                approveData: [],
                DeleteData: [],
                time_in: "",
                time_out: "",
                purpose: "",
                employee_name: "",
                date: "",
                approve_status: "",
                created_by: "",
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Official Business'
                }
            }
        },
        mounted(){
            axios.get('official_business/'+ this.$route.params.id).then(response => {
                let data = response.data;
                this.time_in = data.official_business.time_in
                this.time_out = data.official_business.time_out
                this.purpose = data.official_business.purpose
                this.employee_name = data.official_business.employee_name
                this.date = data.official_business.date
                this.DeleteData = {value:this.$route.params.id,route:'official_business/',route2:'official_business', data: this.employee_name}
                this.approve_status = response.data.approved_status
                this.created_by = data.history_logs.user.name
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
                this.approveData = response.data
            });
        },
        methods:{
            modalShow(action) {
                this.actionData.action = action;
                this.$bvModal.show('modal-main')
            },
            modalHide() {
                this.$bvModal.hide('modal-main')
            },
        },
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}   
</style>