<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('employee-overtime', { stay: checked, route:'overtime.view' })">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                            <router-link :to="{ name:'overtime' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Overtime</span>                        
                        </b-col>
                        <b-col sm="6" md="6" lg="6" style="white-space: nowrap" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_id"
                                        name="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :state="stateValidation('employee_id')"
                                        :options="employee_name"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>File Date</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group>
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    no-flip="false"
                                    showDecadeNav
                                    v-model="$v.form.file_date.$model"
                                    :state="stateValidation('file_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Overtime Date</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label="" label-for="overtime-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    no-flip="false"
                                    v-model="$v.form.overtime_date.$model"
                                    :state="stateValidation('overtime_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Purpose</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="purpose"
                                        name="purpose"
                                        v-model="$v.form.purpose.$model"
                                        :state="stateValidation('purpose')"
                                        :options="purpose"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Shift Working Days</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="input-1">
                                <b-form-input
                                    v-bind:value="shift_schedule_days"
                                    disabled="true"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row class='appendStartTime'>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Shift Schedule</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="input-1">
                                <b-form-input
                                    v-bind:value="shift_schedule"
                                    disabled="true"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row >
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Time Started</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="time-started">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                id="start_time"  
                                name="start_time"
                                v-model="$v.form.start_time.$model"
                                :state="stateValidation('start_time')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Time Ended</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="time-ended">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                id="end_time"  
                                name="end_time"
                                v-model="$v.form.end_time.$model"
                                :state="stateValidation('end_time')"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Reason of Filing</b>
                        </b-col>   
                        <b-col sm="12" md="6" lg="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="reason"
                                        name="reason"
                                        v-model="$v.form.reason.$model"
                                        :state="stateValidation('reason')"
                                        placeholder="Enter a reason of filing overtime"
                                        rows="3"
                                        no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                showDecadeNav: true,
                checked:false,
                busy: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Overtime', href: '#' },
                    { text: 'New', active: true },
                ],
                shift_schedule: '',
                shift_schedule_days: '',
                employee_name: [
                    { value: null, text: "Select Employee" }
                ],
                purpose: [
                    { value: 'Extended Work', text: 'Extended Work' },
                    { value: 'Work on Holiday', text: 'Work on Holiday' },
                    { value: 'Work on Restday', text: 'Work on Restday' },
                    { value: 'Temporary work on other department', text: 'Temporary work on other department' },
                ],
                form: {
                    employee_id: null,
                    file_date: '',
                    overtime_date: '',
                    end_time: '',
                    start_time: '',
                    purpose: '',
                    reason: '',
                }
            };
        },
        
        mounted(){
            this.getEmployees()
        },
        validations: {
            form: {
                employee_id: { required },
                file_date: { required },
                overtime_date: { required },
                end_time: { required },
                purpose: { required },
                reason: { required },
                start_time: { required }
            }
        },
        methods: {
            getEmployees(){
                axios.get('employee-overtime/create').then((response) => {
                    let employee_data = response.data.employee_name;
                    employee_data.forEach((employee) =>{
                        this.employee_name.push({value: employee['id'],text: employee['last_name'] + ' ' + employee['first_name'] })
                    });
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        },
        watch: {
            "form.employee_id": function(newVal) {
                if(newVal == '' || newVal == null)
                {
                    this.shift_schedule = ''
                    this.shift_schedule_days = ''
                }
                axios.get('employee/shifts/' + newVal).then((response) => {
                    this.shift_schedule = response.data.start_full_day + ' - ' + response.data.end_full_day,
                    this.shift_schedule_days = response.data.working_days_full
                });
            },
            "form.purpose": function(purpose) {
                if(purpose == 'Extended Work' || purpose == 'Temporary work on other department'){
                    this.form.start_time = '17:00';
                }else {
                    this.form.start_time = '8:00';
                }
            }
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>