<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Overtime</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" size="sm" @click.stop.prevent="modalHide">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">Overtime List</p></div>
                <div class="col text-right">
                    <router-link :to="{name:'overtime.create'}"> <b-button class="hr-btn btn-shadow mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable 
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="employee_name" slot-scope="props">
                    <router-link :to="{ name: 'overtime.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
            </vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import moment from 'moment'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "overtime",
                    title: "Overtime",
                    description: "Records of employee overtime that worked beyond on scheduled working hours.",
                    route_create: "overtime.create",
                    route_import: "overtime.import",
                    params: "overtime",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Overtime', href: '#' },
                    { text: 'List', active: true }
                ],
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {                        
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'overtime_date',
                        title: 'Overtime Date',
                        sortField: 'overtime_date',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'rendered_hours',
                        title: 'Rendered Hours',
                        sortField: 'rendered_hours',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'approved_status',
                        title: 'Status',
                        sortField: 'approved_status',
                        formatter: (value) => {
                            return value 
                        }
                    },
                ],
                perPage: 10,
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('employee-overtime').then( response => {
                let overtime = response.data;
                overtime.forEach(ot => {
                    this.data.push({
                        id: ot.id,
                        employee_name: ot.employee_name,
                        overtime_date: moment(String(ot.overtime_date)).format('MMMM DD, YYYY'),
                        rendered_hours: ot.rendered_hours,
                        approved_status: ot.approved_status
                    });
                    console.log(this.data)
                });
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('employee-overtime/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
</style>