<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'overtime'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Overtime Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'overtime.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'overtime.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'overtime.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Employee Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.employee_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>File Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{file_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Overtime Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{overtime_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Overtime Type</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.ot_type_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Time Started</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{start_time}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Time Ended</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.end_time}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Rendered Hours</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.rendered_hours}}Hour(s)</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Purpose</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('purpose') !== -1">
                                    <b-form-input size="sm"  v-model="OvertimeData.purpose" ></b-form-input>
                                    <div class="action-buttons">
                                        <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('purpose')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ OvertimeData.purpose }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('purpose')"></span>
                                </span>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Reason of Filing</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.reason}}</label>
                            </b-col>
                        </b-row>
                        <b-row v-show="!approveData.length">
                            <b-col md="5" class="form-group align-right">
                                <label>Current Cutoff</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.cutoff}}</label>
                            </b-col>
                        </b-row>
                        <b-row v-show="!approveData.length">
                            <b-col md="5" class="form-group align-right">
                                <label>Overtime Total Hours this Cutoff</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{OvertimeData.total_overtime}}</label>
                            </b-col>
                        </b-row>
                    </b-col>                    
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
                <b-row style="display: none">
                    <Printing></Printing>
                </b-row>
            </b-container>
            
        </b-row>
    </b-col>
</template>

<script>
    // import _ from 'lodash'
    import axios from 'axios'
    import moment from 'moment'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        name: "Show",
        components: {
            ApprovalStatus, Approval
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Overtime', href: '#' },
                    { text: 'View', active: true },
                ],
                approveData: [],
                file_date: '',
                overtime_date: '',
                start_time: '',
                DeleteData: [],
                OvertimeData: [],
                active_editor: [],
                TimelineData: [],
                history_logs: [],
                selected: 1,
                approved_status: 'Pending for approval',
                approver: false,
                actionData: {
                    action: false,
                    remark: '',
                    model: null,
                    name: 'Employee Overtime'
                }
            }
        },
        created () {
            this.getContent(this.$route.params.id);
        },
        beforeRouteUpdate (to, from, next) {
            this.getContent(to.params.id);
            next();
        },
        methods:{
            editEvent(key){
                if(this.active_editor.indexOf(key) !== -1){
                    this.active_editor.splice(this.active_editor.indexOf(key),1)
                } else{
                    this.active_editor.push(key)
                }
            },
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            getContent(id) {
                axios.get('employee-overtime/'+ id).then(response => {
                    let data = response.data.data;
                    this.OvertimeData = data;
                    this.file_date = moment(String(data.file_date)).format('MMMM DD, YYYY'); 
                    this.overtime_date = moment(String(data.overtime_date)).format('MMMM DD, YYYY'); 
                    this.start_time = data.start_time;
                    this.history_logs = response.data.history_logs
                    this.DeleteData = {value:id,route:'employee-overtime/',route2:'overtime',data:this.OvertimeData.employee_name}
                    this.TimelineData = {id: id,breadcrumbs: this.breadcrumbs, route: 'overtime.view'}
                    this.approveData = response.data
                    this.approver = response.data.approver.approver
                    this.actionData.model = response.data.approver.model
                });
            }
        },
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}   
</style>