<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="save">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'incident_report' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Incident Report</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked_another"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="9" lg="9">
                            <b-row class="mt-30">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Reported By</b>
                                </b-col>
                                <b-col md="6" lg="6">
                                    <b-form-group> 
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="select_employee"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.reported_by.$model"
                                            :state="stateValidation('reported_by')"
                                            :options="reported_by"
                                            v-on:change="reportedType($event)"
                                        ></b-form-select>
                                        <b-form-input style="border-left: solid 1.5px #ec0000; display: none"
                                            class="mt-08"
                                            id="input_employee"
                                            placeholder="Enter Name"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.reported_by_employee"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Assigned Department</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="department_id"
                                            name="department_id"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.department_id.$model"
                                            :state="stateValidation('department_id')"
                                            :options="department_id"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Date and Time Reported</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <date-picker style="border-left: solid 1.5px #ec0000"
                                            placeholder="No Date Selected"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('reported_date')"
                                            v-model="$v.form.reported_date.$model"
                                            :config="datepicker"
                                        ></date-picker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Date and Time of Incident</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <date-picker style="border-left: solid 1.5px #ec0000"
                                            placeholder="No Date Selected"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('incident_date',$v.form)"
                                            v-model="$v.form.incident_date.$model"
                                            :config="datepicker"
                                        ></date-picker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Incident Location</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-textarea
                                            v-model="form.incident_location"
                                            placeholder="Enter a Location"
                                            rows="3"
                                            no-resize
                                        ></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row >
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Witness 1</b>
                                </b-col> 
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            v-model="form.witnesseslist[0].witness"
                                            aria-describedby="input-2-live-feedback"
                                            placeholder="Enter a Witness 1" 
                                        ></b-form-input>
                                        
                                    </b-form-group>  
                                    <a class="fs-16 fw-bold a-witness" @click="addRow">+ Add Witness</a>
                                    <div  v-for="(data, index) in form.witnesseslist" v-bind:key="data.index" md="6" lg="6">
                                        <b-form-group v-if="index != 0">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                v-model="form.witnesseslist[index].witness"
                                                aria-describedby="input-2-live-feedback" 
                                                :placeholder="'Enter a Witness '+ (index+1)"
                                            ></b-form-input>
                                            <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(index)"></span>
                                        </b-form-group>
                                    </div>
                                </b-col>

                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Type of Incident</b>
                                </b-col>   
                                <b-col md="6" lg="6" class="pt-9">
                                    <b-form-group>
                                        <b-form-radio-group
                                            v-model="$v.form.incident_type.$model"
                                            :state="validateState('incident_type',$v.form)"
                                            :options="incident_type" class="drkgry-color mb-3"
                                            name="radio-inline"
                                            id="incident_type"
                                            v-on:change="radioType($event)"
                                        ></b-form-radio-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row id="vehicle">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Vehicular Information</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select
                                            aria-describedby="input-2-live-feedback" 
                                            v-model="form.team_id"
                                            :options="team_id"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row id="equipment" style="display: none">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Equipment Information</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.asset_id"
                                            :options="asset_id"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- {{this.form.incident_report}} -->
                            <b-row> 
                                <b-col offset-md="5" offset-lg="5">
                                    <b-row>
                                        <b-col md="10" lg="10">
                                            <b-form-group label="label for checkboxes:">
                                                <b-form-checkbox-group
                                                    id="checkbox-group-1"
                                                    v-model="select_checkboxes"
                                                    :options="incident_report"
                                                    stacked
                                                ></b-form-checkbox-group>
                                            </b-form-group>
                                        </b-col>
                                        <!-- <b-col md="6" lg="6">
                                            <b-form-group>
                                                <template v-slot:label>
                                                    <b-form-checkbox
                                                    v-model="allSelected"
                                                    :indeterminate="indeterminate"
                                                    aria-describedby="injured illness"
                                                    aria-controls="injured illness"
                                                    @change="toggleAll"
                                                    name="incident_report"
                                                    >Injured Illness
                                                    </b-form-checkbox>
                                                </template>
                                                <b-form-checkbox-group
                                                    id="incident_report"
                                                    v-model="selected"
                                                    :options="injured_options"
                                                    name="incident_report"
                                                    class="ml-4"
                                                    aria-label="Individual injured illness"
                                                    stacked
                                                ></b-form-checkbox-group>
                                            </b-form-group>
                                        </b-col> -->
                                    </b-row>
                                    <b-row id="specify">
                                        <b-col v-if="show_specify" md="10" lg="10">
                                            <b-form-input
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Please specify..."
                                                v-model="specified_incident"
                                            ></b-form-input>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'bootstrap/dist/css/bootstrap.css';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                selected: [],
                select_checkboxes: false,
                show_specify:false,
                specified_incident: "",
                allSelected: false,
                indeterminate: false,
                checked_another: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Incident Report', href: '#'},
                    { text: 'New', active:true },
                ],    
                datepicker: {
                    format: 'MMMM DD, Y hh:mm A',
                    useCurrent: true,
                },      
                reported_by: [
                    { value: null, text: "Select Here" },
                    { value: 0, text: "Others" }
                ],
                department_id: [
                    { value: null, text: "Select Department" }
                ],
                incident_type: [
                    { text: 'Vehicular', value: '0' },
                    { text: 'Equipment/Property Damage', value: '1' },  
                    { text: 'Equipment/Property Lost', value: '2' },  
                ],
                asset_id: [
                    { value: null, text: "Select Here" }
                ],
                team_id: [
                    { value: null, text: "Select Here" }
                ],
                incident_report: [
                    { text: 'Near Miss', value: 'Near Miss' },
                    { text: 'Restricted Work', value: 'Restricted Work' },
                    { text: 'Lost Time', value: 'Lost Time' },
                    { text: 'Fatality', value: 'Fatality' },
                    { text: 'Security Incident', value: 'Security Incident' },
                    { text: 'Injured Illness - First Aid', value: 'Injured Illness - First Aid' },
                    { text: 'Injured Illness - Medical Treatment', value: 'Injured Illness - Medical Treatment' },
                    { text: 'Others', value: 'Others' }
                ],
                tableColumns: [
                    'witnesses', 'action',
                ],
                count:2,
                checked: "false",
                form: {
                    reported_by: null,
                    department_id: null,
                    reported_date: '',
                    incident_date: '',
                    incident_type: '',
                    incident_report: [],
                    team_id: null,
                    asset_id: null,
                    witnesseslist:[{witness:""}],
                    selected: [],

                },
            };
        },
        components: {
            datePicker
        },
        validations: {
            form: {
                reported_by: {
                    required
                },
                department_id: {
                    required
                },
                incident_date: {
                    required
                },
                reported_date: {
                    required
                },
                incident_type: {
                    required
                },
                witnesseslist: {
                    $each : {
                        witness: {
                            required
                        }
                    }
                }
            }
        },
        mounted(){
            axios.get('incident-reports/create').then((response) => {
                console.log(response)
                let employee_response = response.data.Employee
                employee_response.forEach(employee_response => {
                    this.reported_by.push({
                        value: employee_response.id,
                        text: employee_response.first_name + ' ' + employee_response.last_name
                    });
                });
                let department_response = response.data.Department
                department_response.forEach(department_response => {
                    this.department_id.push({
                        value: department_response.id,
                        text: department_response.name 
                    });
                });
                let asset_response = response.data.Assets
                asset_response.forEach(asset_response => {
                    this.asset_id.push({
                        value: asset_response.inventory.id,
                        text: asset_response.inventory.get_inventories_names.description + ' - ' + asset_response.asset_tag
                    });
                });
            });
            axios.get('team').then((response) => {
                let team_response = response.data
                team_response.forEach(team_response => {
                    this.team_id.push({
                        value: team_response.id,
                        text: team_response.vehicle_plateno
                    });
                });
             });
            // this.select_checkboxes = ["Near Miss"];
        },
        methods: {
            save(){
                this.$v.form.$touch()
                if(this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger');
                }
                else if (this.form.witnesseslist[0].witness == null) {
                    this.makeToast('Oopps!','Witness required','danger')
                }
                else {
                    this.submitForm('incident-reports', { stay: this.checked_another, route:'incident_report.view' }).then(()=>{
                        this.formReset(this.$v.form)
                        this.form = {
                            reported_by: null,
                            department_id: null,
                            reported_date: '',
                            incident_date: '',
                            incident_type: '',
                            incident_report: [],
                            team_id: null,
                            asset_id: null,
                            witnesseslist:[{witness:""}],
                            selected: [],
                        }
                        // this.form.reported_by = false;
                        this.checked_another = false;
                        this.select_checkboxes = [];
                        this.show_specify = false;
                        this.specified_incident ='';
                    });
                   
                }
                // this.select_checkboxes = true;
            },
            formReset(form){
                for (let val in form.$model) {
                    this.$set(form.$model,val,null)
                }
                this.$nextTick(() => {
                    this.$v.$reset();
                });
                return form.$model
            },
            changeItem(item,count){  
                // if(this.form.witnesses == null){
                //     this.form.witnesses = [];
                // }
                // let bla = this.form.witnesses.find( (stack) => {
                //     return stack.id === count;
                // });
                // console.log(bla);
                //  this.form.witnesses.splice(this.form.witnesses.indexOf(bla), 1);
              
                var my_object = {
                    id: count,
                    value: item,
                }
                this.form.witnesses.push(my_object)
                // this.form.witnesses.splice(this.form.witnesses.indexOf(count), 1);
            },
            toggleAll(checked) {
                this.selected = checked ? this.injured_options.slice() : []
            },
            removeElement : function (item) {
                this.form.witnesseslist.splice(item, 1);
            },
            addRow(){
                this.form.witnesseslist.push({
                    witness: ''
                })
            },
            radioType(data){
                if(data == 0) {
                    document.getElementById('equipment').style.display ='none';
                    document.getElementById('vehicle').style.display ='flex';
                }else{
                    document.getElementById('equipment').style.display ='flex';
                    document.getElementById('vehicle').style.display ='none';
                }
            },
            reportedType(data){
                if(data == 0) {
                    document.getElementById('select_employee').style.display ='flex';
                    document.getElementById('input_employee').style.display ='flex';
                }else{
                    document.getElementById('select_employee').style.display ='flex';                    
                    document.getElementById('input_employee').style.display ='none';
                }
            },
            checkType(data){
                console.log(data.target.checked);
                if(data == 'Others') {
                    if(data.target.checked){
                        document.getElementById('specify').style.display ='flex';
                    }else{
                        document.getElementById('specify').style.display ='none';
                    }
                }
            },
        },
        watch: {
            selected(newVal) {
                if (newVal.length === 0) {
                    this.indeterminate = false
                    this.allSelected = false
                } else if (newVal.length === this.injured_options.length) {
                    this.indeterminate = false
                    this.allSelected = true
                } else {
                    this.indeterminate = true
                    this.allSelected = false
                }
            },
            select_checkboxes(val){
                console.log(val)
                this.form.incident_report = [];
                let obj = {};

                val.forEach(value =>{
                    this.form.incident_report[value] = value;
                    if(value=="Others"){
                        // this.form.incident_report[value] = this.specified_incident;
                        obj[value] = this.specified_incident;
                        this.show_specify = true;
                    }
                    // else if (value != "Others"){
                    //     this.show_specify = true;
                    //     console.log('asdasdas')
                    // }
                    else {
                        obj[value] = value;
                        this.show_specify = false;
                    }
                })
                this.form.incident_report = obj;
                val.includes("Others")?this.show_specify=true:this.show_specify==false;
            },
            specified_incident(){
                console.log(this.form.incident_report.Others)
                this.form.incident_report.Others = this.specified_incident;
                // console.log(this.form.incident_report);
            }
        },
        
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
.a-witness {
    color: #1C7CD5;  
    position: relative;
    bottom: 10px;
    left: 15em;
}
.remove-color {   
    position: absolute;
    top: 5px;
    right: -15px;
}
</style>