<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="update">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'incident_report.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Incident Report</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="inventory-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="9" lg="9">
                            <b-row class="mt-30">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Reported By</b>
                                </b-col>
                                <b-col md="6" lg="6">
                                    <b-form-group> 
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="select_employee"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('reported_by_employee')"
                                            v-model="form.reported_by_employee"
                                            :options="reported_by_employee"
                                            v-on:change="reportedType($event)"
                                        ></b-form-select>
                                        <b-form-input style="border-left: solid 1.5px #ec0000; display: none"
                                            class="mt-08"
                                            id="input_employee"
                                            placeholder="Enter Name"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.reported_by"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Assigned Department</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="department_id"
                                            name="department_id"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.department_id.$model"
                                            :state="stateValidation('department_id')"
                                            :options="department_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Date and Time Reported</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <date-picker style="border-left: solid 1.5px #ec0000"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('reported_date')"
                                            v-model="$v.form.reported_date.$model"
                                            :config="datepicker"
                                        ></date-picker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Date and Time of Incident</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <date-picker style="border-left: solid 1.5px #ec0000"
                                            id="incident_date"
                                            name="incident_date"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('incident_date')"
                                            v-model="$v.form.incident_date.$model"
                                            :config="datepicker"
                                        ></date-picker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Incident Location</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-textarea 
                                            v-model="form.incident_location"
                                            placeholder="Enter a Location"
                                            rows="3"
                                            no-resize
                                        ></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row v-for="(data, index) in form.witnesseslist" v-bind:key="data.index">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Witness {{index + 1}}</b>
                                </b-col> 
                                <b-col md="6" lg="6" v-if="index != 0">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            v-model="data.witness"
                                            aria-describedby="input-2-live-feedback"
                                            :state="stateValidation('witnesseslist')"
                                            :placeholder="'Enter a Witness ' + (index + 1)" 
                                            v-on:change="changeItem($event,data.count)"
                                        ></b-form-input>
                                        <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(index)"></span>
                                    </b-form-group>  
                                </b-col>
                                <b-col v-else md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            v-model="data.witness"
                                            aria-describedby="input-2-live-feedback"                                
                                            :state="stateValidation('witnesseslist')"
                                            placeholder="Enter a Witness 1"
                                            v-on:change="changeItem($event,1)"
                                        ></b-form-input>
                                    </b-form-group>
                                    <a class="fs-16 fw-bold a-witness" @click="addRow">+ Add Witness</a>
                                </b-col>
                            </b-row>
                            
                            <b-row>
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Type of Incident</b>
                                </b-col>   
                                <b-col md="6" lg="6" class="pt-9">
                                    <b-form-group>
                                        <b-form-radio-group
                                            v-model="form.incident_type"
                                            :state="validateState('incident_type',$v.form)"
                                            :options="incident_type" class="drkgry-color mb-3"
                                            name="radio-inline"
                                            id="incident_type"
                                            v-on:change="radioType($event)"
                                        ></b-form-radio-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row id="vehicle">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Vehicular Information</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select
                                            aria-describedby="input-2-live-feedback" 
                                            v-model="form.team_id"
                                            :options="team_id"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row id="equipment" style="display: none">
                                <b-col md="5" lg="5" class="align-right pt-9">
                                    <b>Equipment Information</b>
                                </b-col>   
                                <b-col md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.asset_id"
                                            :options="asset_id"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row> 
                                <b-col offset-md="5" offset-lg="5">
                                    <b-row>
                                    <b-col md="10" lg="10">
                                        <b-form-group label="label for checkboxes:">
                                            <b-form-checkbox-group
                                                v-model="select_checkboxes"
                                                :options="incident_report"
                                                stacked
                                            ></b-form-checkbox-group>
                                        </b-form-group>
                                    </b-col>
                                    </b-row>
                                    <b-row id="specify">
                                        <b-col v-if="show_specify" md="10" lg="10">
                                            <b-form-input
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Please specify..."
                                                v-model="specified_incident"
                                            ></b-form-input>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'bootstrap/dist/css/bootstrap.css';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';   
    
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                busy: false,
                route: 'incident-reports/'+this.$route.params.id,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Incident Report', href: '#'},
                    { text: 'Edit', active:true },
                ],          
                reported_by_employee: [
                    { value: null, text: "Select Here" },
                    { value: 0, text: "Others" }
                ],
                department_options: [
                    { value: null, text: "Select Department" }
                ],
                datepicker: {
                    format: 'MMMM DD, Y hh:mm A',
                    useCurrent: true
                },
                incident_type: [
                    { text: 'Vehicular', value: '0' },
                    { text: 'Equipment/Property Damage', value: '1' },  
                    { text: 'Equipment/Property Lost', value: '2' },  
                ],
                asset_id: [
                    { value: null, text: "Select Here" }
                ],
                team_id: [
                    { value: null, text: "Select Here" }
                ],
                incident_report: [
                    { text: 'Near Miss', value: 'Near Miss' },
                    { text: 'Restricted Work', value: 'Restricted Work' },
                    { text: 'Lost Time', value: 'Lost Time' },
                    { text: 'Fatality', value: 'Fatality' },
                    { text: 'Security Incident', value: 'Security Incident' },
                    { text: 'Injured Illness - First Aid', value: 'Injured Illness - First Aid' },
                    { text: 'Injured Illness - Medical Treatment', value: 'Injured Illness - Medical Treatment' },
                    { text: 'Others', value: 'Others' }
                ],
                tableColumns: [
                    'witnesses', 'action',
                ],
                count:2,
                select_checkboxes: false,
                show_specify: false,
                specified_incident: "",
                checked: false,
                acc: [],
                form: {
                    reported_by: '',
                    reported_by_employee: null,
                    department_id: null,
                    reported_date: '',
                    incident_date: '',
                    incident_type: '',
                    incident_report: [],
                    incident_location: '',
                    team_id: null,
                    asset_id: null,
                    witnesseslist:[],
                    selected: [],

                },
            };
        },
        components: {
            datePicker
        },
        validations: {
            form: {
                reported_by_employee: {
                    required
                },
                department_id: {
                    required
                },
                incident_date: {
                    required
                },
                reported_date: {
                    required
                },
                incident_type: {
                    required
                },
                witnesseslist: {
                    $each : {
                        witness: {
                            required
                        }
                    }
                }
            }
        },
        mounted(){
            axios.get('incident-reports/'+ this.$route.params.id + '/edit').then((response) => {
                let data = response.data
                this.incident = data.incident_reports
                this.departments = data.department
                this.employee = data.employees
                if (this.incident.reported_by != null) {
                    this.form.reported_by = this.incident.reported_by
                    this.form.reported_by_employee = 0
                    this.reportedType(0);
                }else{
                    this.form.reported_by = ''
                    this.form.reported_by_employee = this.incident.reported_by_employee.id
                    this.reportedType(1);
                }
                
                this.form.department_id = data.incident_reports.department_data.id
                this.form.reported_date = data.incident_reports.reported_date
                this.form.incident_date = data.incident_reports.incident_date
                this.form.incident_type = (this.incident.incident_type == 'Vehicular' ? 0 :(this.incident.incident_type == 'Equipment/Property Damage' ? 1 : 2 ))
                if(this.incident.team_id != null) {
                    this.form.team_id = this.incident.team_id.id
                    this.radioType(0)
                } else {
                    this.form.team_id == null
                    this.form.asset_id = this.incident.asset_data.id
                    this.radioType(1)
                }
                this.form.incident_location = data.incident_reports.incident_location == null ? 'N/A' : data.incident_reports.incident_location                
                let witness_data = data.incident_reports.witnesses
                witness_data.forEach(witness_data => {
                    this.form.witnesseslist.push({   
                        witness: witness_data
                    });
                });
                this.select_checkboxes = JSON.parse(data.incident_reports.incident_report)
                this.form.incident_report = JSON.parse(data.incident_reports.incident_report)
                let setarray = [];
                this.incident_report.forEach(data => {
                    setarray.push(data.value);
                });
                // console.log(this.form.incident_report.push('Others'))
                this.form.incident_report.forEach(data => {
                    if(!setarray.includes(data)){
                        this.select_checkboxes.push('Others')
                        this.show_specify = true;
                        this.specified_incident = data;
                    }   
                });

                for (let dep of response.data.department){
                    this.department_options.push({
                        value: dep.id,
                        text: dep.name
                    });
                }
                for (let emp of response.data.employees){
                    this.reported_by_employee.push({
                        value: emp.id,
                        text: emp.first_name + ' ' + emp.last_name
                    });
                }
                for (let team of response.data.team){
                    this.team_id.push({
                        value: team.id,
                        text: team.vehicle_plateno
                    });
                }
                for (let asset of response.data.assets){
                    this.asset_id.push({
                        value: asset.id,
                        text: asset.inventory.get_inventories_names.description + ' - ' + asset.asset_tag
                    });
                }
            });
        },
        methods: {
            update(){
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                } else {
                    if(this.form.incident_type == 0) {
                        this.form.asset_id = '';
                    } else {
                        this.form.team_id = '';
                    }
                    if (this.form.reported_by_employee == 0) {
                        this.form.reported_by_employee = ''
                    }else{
                        this.form.reported_by = ''
                    }
                    let form_data = new FormData();
                    form_data.append("_method", "PUT");
                    form_data.append("reported_by", this.form.reported_by);
                    form_data.append("incident_date", this.form.incident_date);
                    form_data.append("department_id", this.form.department_id);
                    form_data.append("reported_date", this.form.reported_date);
                    this.form.witnesseslist.forEach(witness_data => {
                        form_data.append("witnesseslist[]", witness_data.witness); 
                    });
                    form_data.append("incident_type", this.form.incident_type);
                    form_data.append("reported_by_employee", this.form.reported_by_employee);
                    form_data.append("asset_id", this.form.asset_id);
                    form_data.append("team_id", this.form.team_id);
                    form_data.append("incident_location", this.form.incident_location);
                    // form_data.append("incident_report[]", this.form.incident_report);
                    let report_data = this.form.incident_report
                    Object.keys(report_data).map((key) => {
                        console.log(report_data[key])
                        form_data.append("incident_report[]", report_data[key]); 
                    })
                    axios.post('incident-reports/'+this.$route.params.id,form_data).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                            this.makeToast('Success','Successfully Edited','success')
                            if(this.checked == false){
                                this.$router.push({
                                    name: 'incident_report.view'
                                });
                            }
                            
                        }                       
                    })
                }  
            },
            changeItem(item,count){                
                var my_object = {
                    id: count,
                    value: item,
                }
                this.form.witnesses.push(my_object)
                // this.form.witnesses.splice(this.form.witnesses.indexOf(count), 1);
            },
            removeElement : function (item) {
                this.form.witnesseslist.splice(item, 1);
            },
            addRow(){
                this.form.witnesseslist.push({
                    witness: ''
                })
            },
            radioType(data){
                if(data == 0) {
                    document.getElementById('equipment').style.display ='none';
                    document.getElementById('vehicle').style.display ='flex';
                }else{
                    document.getElementById('equipment').style.display ='flex';
                    document.getElementById('vehicle').style.display ='none';
                }
            },
            reportedType(data){
                if(data == 0) {
                    document.getElementById('select_employee').style.display ='flex';
                    document.getElementById('input_employee').style.display ='flex';
                }else{
                    document.getElementById('select_employee').style.display ='flex';                    
                    document.getElementById('input_employee').style.display ='none';
                }
            },
        },
        watch: {
            select_checkboxes(val){
                this.form.incident_report = [];
                let obj = {};

                val.forEach(value =>{
                    this.form.incident_report[value] = value;
                    if(value=="Others"){
                        // this.form.incident_report[value] = this.specified_incident;
                        obj[value] = this.specified_incident;
                        this.form.incident_report.push('Others')
                        this.show_specify = true;
                    }
                    else {
                        let setarray = [];
                        this.incident_report.forEach(data => {
                            setarray.push(data.value);
                        });
                        if(setarray.includes(value)){
                            obj[value] = value;
                            this.show_specify = false;
                        }   
                    }
                })
                this.form.incident_report = obj;
                val.includes('Others')?this.show_specify=true:this.show_specify==false;
            },
            specified_incident(){
                this.show_specify=true
                this.form.incident_report.Others = this.specified_incident;
            }
        },
    };
  
</script>

<style scoped>
.p-5 {
    padding: 0px !important;
}
.a-witness {
    color: #1C7CD5;  
    position: relative;
    bottom: 10px;
    left: 15em;
}
.remove-color {   
    position: absolute;
    top: 5px;
    right: -15px;
}
</style>