<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <modal2 ref="authority">
            <h5 slot="header">Authority to Deduct</h5>
            <div slot="body">
                <label><i>For incidents with costs charged to employee/s</i></label>
                <b-row class="pt-1rm">
                    <b-col md="4" class="align-right pt-9">
                        <b>Employee name</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="employee_deducted">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                name="employee_deducted"
                                v-model="formAuthority.employee_deducted"                            
                                :style="show1 ? filterStyle : null"
                                :options="employee_options"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="align-right pt-9">
                        <b>Amount to deduct</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="deduction_amount">
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                type="number"
                                name="deduction_amount"
                                v-model="formAuthority.deduction_amount"                            
                                :style="show2 ? filterStyle : null"
                                placeholder="Enter Amount to deduct"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>                                            
                <b-row>
                    <b-col md="4" class="align-right pt-9">
                        <b>Deduction Amount per pay period</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="deduction_per_period">
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                name="deduction_per_period"                            
                                :style="show3 ? filterStyle : null" 
                                v-model="formAuthority.deduction_per_period"
                                placeholder="Enter here"
                            >
                            </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem" variant="success"  @click.stop.prevent="SaveAuthority"> Save</b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">Close</b-button>
            </div>
        </modal2>
        <modal2 ref="actionTaken">
            <h5 slot="header">Actions Taken</h5>
            <div slot="body">
                <b-row class="pt-1rm">
                    <b-col md="4" class="align-right pt-9">
                        <b>Actions</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="actions">
                        <b-form-input style="border-left: solid 1.5px #ec0000"
                            name="actions"
                            v-model="formAction.actions"                            
                            :style="show4 ? filterStyle : null"
                            placeholder="Enter Actions"
                            aria-describedby="input-1-live-feedback"
                        ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="align-right pt-9">
                        <b>Responsibility</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="responsibility">
                        <b-form-input style="border-left: solid 1.5px #ec0000"
                            name="responsibility"
                            v-model="formAction.responsibility"                            
                            :style="show5 ? filterStyle : null"
                            placeholder="Enter Responsibility"
                            aria-describedby="input-1-live-feedback"
                        ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>                                            
                <b-row>
                    <b-col md="4" class="align-right pt-9">
                        <b>Completion Date</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group label-for="completion_date">
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                name="completion_date"                            
                                :style="show6 ? filterStyle : null" 
                                v-model="formAction.completion_date"
                            >
                            </b-form-datepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem" variant="success" @click="addActions"> Save</b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">Close</b-button>
            </div>
        </modal2>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" lg="6" class="text-no-wrap">
                        <router-link :to="{ name: 'incident_report' }"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Incident Report Information</span>
                        <!-- <span class="hr-title">0001 - <b>Incident Report</b> -reported by John Michael Langan</span> -->
                    </b-col>
                    <b-col md="6" lg="6" class="align-right">
                        <router-link :to="{ name:'incident_report.edit', params: {id: this.$route.params.id}}">
                            <b-button class="inventory-btn" style="margin-right: 5px;"> Edit</b-button>
                        </router-link>
                        <!-- <router-link :to="{name: 'inventory.accountability_issuance.convert'}" style="color: #707070; "><b-button class="inventory-btn" style="margin-right: 5px;">Edit</b-button></router-link> -->
                        
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- <b-dropdown-item>Edit</b-dropdown-item> -->
                            <b-dropdown-item>Print</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Incident Report" component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item>Timeline</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="5" lg="5">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Incident No.</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.id}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Reported By</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.reported_by != null ? IncidentReportData.reported_by : IncidentReportData.reported_by_employee.first_name + ' ' + IncidentReportData.reported_by_employee.last_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Assigned Department</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.department_data.name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Location of Incident</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.incident_location == null ? 'N/A' : IncidentReportData.incident_location}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Type of Incident</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.incident_type}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Incident Report</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <div v-for="name in JSON.parse(IncidentReportData.incident_report)" v-bind:key="name">
                                    <label class="fw-bold">{{ name }}</label>
                                </div>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="3" offset-lg="3" md="9" lg="9" class="form-group">
                                <img :src="require(`@/images/user.jpg`)" class="rounded-circle" style="height: 50px; width: 50px;"/>
                                <span style="color: #808080e0; margin-left: 1.5rem;"><b>{{IncidentReportData.asset_data != null ? IncidentReportData.asset_data.inventory.get_inventories_names.description + ' - '+ IncidentReportData.asset_data.asset_tag:""}}</b>
                                <b>{{IncidentReportData.team_id != null ? IncidentReportData.team_id.team_name + ' - ' + IncidentReportData.team_id.vehicle_plateno:""}}</b></span>
                                <!-- <span><b style="color: #808080e0; margin-left: 1.5rem;"> {{IncidentReportData.asset_data == null ?IncidentReportData.asset_data.inventory.get_inventories_names.description:""}}&nbsp;</b> 
                                <b>{{IncidentReportData.asset_data != null ?(IncidentReportData.asset_data.asset_tag == null ? IncidentReportData.team_id.vehicle_plateno : IncidentReportData.asset_data.asset_tag):""}}</b></span> -->
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="7" lg="7">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Date & Time Reported</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.reported_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Date & Time of Incident</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.incident_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row v-for="(witnesses,index) in this.IncidentReportData.witnesses" :key="witnesses">
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Witness {{index + 1}}</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{witnesses}}</label>
                            </b-col>
                        </b-row>    
                        <b-row v-if="this.IncidentReportData.employee_deducted != null">
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Employee Deducted</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.employee_deducted.first_name + ' ' + IncidentReportData.employee_deducted.last_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="this.IncidentReportData.deduction_amount != null">
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Deduction Amount</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.deduction_amount}}</label>
                            </b-col>
                        </b-row>
                         <b-row v-if="this.IncidentReportData.deduction_per_period != null">
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Deduction per Period</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{IncidentReportData.deduction_per_period}}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="this.IncidentReportData.employee_deducted == null">
                            <b-col offset-md="4" offset-lg="4" md="8" lg="8">
                                <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" title="Authority to Deduct" @click.stop.prevent="modalShow('authority')">+ Authority to deduct</a>
                            </b-col>
                        </b-row>                        
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
                <b-row class="mt-20">
                    <b-col md="12">
                        <b-tabs content-class="mt-3">
                            <b-tab title="Summary" active>
                                <b-form @submit.stop.prevent="submitStatement(0)">
                                    <b-row>
                                        <b-col col="12" style="margin-bottom: 10px">
                                            <div class="col text-right"><b-button class="inventory-btn" variant="success" @click="submitStatement(0)"> Save</b-button></div>
                                        </b-col>
                                    </b-row>
                                    <b-card-text>
                                        <b-container>
                                            <p>Briefly describe what happened including the sequence of events, investigate scene of incident or near miss
                                            conditions present at the time of incident, what was involved, what activity (if any) was taking place prior and
                                            at time of incident. What hazards was the worker exposed to? What hazards may have contributed to the incident occuring?
                                            (Attach photos if available).</p>
                                            <template>
                                                <div class="form-group">
                                                    <vue-editor 
                                                        v-model="form.summary.statement"
                                                        placeholder="Write your content here">
                                                    </vue-editor>
                                                </div>
                                            </template>
                                            <b-row>
                                                <b-col md="9" lg="9">
                                                    <b-form-group label="If injury occured, please check one:">
                                                        <b-form-radio-group
                                                            v-model="form.summary.injury_statement"
                                                            :options="injury_statement"
                                                            style="column-count: 2;"
                                                        ></b-form-radio-group>
                                                    </b-form-group>
                                                </b-col>
                                            </b-row>
                                            <p>Created by&nbsp;<span class="fw-bold">{{this.form.summary.history_logs == null ? 'N/A' : this.form.summary.history_logs.user.name}}</span></p>
                                            <label>Date Created&nbsp;<span class="fw-bold">{{this.form.summary.history_logs == null ? 'N/A' : this.form.summary.history_logs.date + ' ' +  this.form.summary.history_logs.time }}</span></label>
                                        </b-container>
                                    </b-card-text>
                                </b-form>
                            </b-tab>
                            <b-tab title="Supervisor/Dept. Head Comments">
                                <b-form @submit.stop.prevent="submitStatement(1)">
                                <b-row>
                                    <b-col col="12">
                                        <div class="col text-right"><b-button class="inventory-btn" variant="success" @click="submitStatement(1)"> Save</b-button></div>
                                    </b-col>
                                </b-row>
                                <b-card-text>
                                    <b-container>
                                        <p>Additional information if any</p>
                                        <template>
                                            <div class="form-group">
                                                <vue-editor v-model="form.supervisor.statement" placeholder="Write your content here"></vue-editor>
                                            </div>
                                        </template>
                                        <p>Created by&nbsp;<span class="fw-bold">{{this.form.supervisor.history_logs == null ? 'N/A' : this.form.supervisor.history_logs.user.name}}</span></p>
                                        <label>Date Created&nbsp;<span class="fw-bold">{{this.form.supervisor.history_logs == null ? 'N/A' : this.form.supervisor.history_logs.date + ' ' +  this.form.supervisor.history_logs.time }}</span></label>
                                    </b-container>
                                </b-card-text>
                                </b-form>
                            </b-tab>
                            <b-tab title="Investigation Findings">
                                <b-form @submit.stop.prevent="submitStatement(2)">
                                    <b-row>
                                        <b-col col="12">
                                            <div class="col text-right"><b-button class="inventory-btn" variant="success" type="submit"> Save</b-button></div>
                                        </b-col>
                                    </b-row>
                                    <b-card-text>
                                        <b-container>
                                            <p>The summary should outline the event, who was involved, what happened, the scope of investigation, the analysis and outcome.</p>
                                            <template>
                                                <div class="form-group">
                                                    <vue-editor v-model="form.investigation_findings.statement" placeholder="Write your content here"></vue-editor>
                                                </div>
                                            </template>
                                            <p>Created by&nbsp;<span class="fw-bold">{{this.form.investigation_findings.history_logs == null ? 'N/A' : this.form.investigation_findings.history_logs.user.name}}</span></p>
                                            <label>Date Created&nbsp;<span class="fw-bold">{{this.form.investigation_findings.history_logs == null ? 'N/A' : this.form.investigation_findings.history_logs.date + ' ' +  this.form.investigation_findings.history_logs.time }}</span></label>
                                        </b-container>
                                    </b-card-text>
                                </b-form>
                            </b-tab>
                            <b-tab title="Investigation Analysis">
                                <b-form @submit.stop.prevent="submitStatement(3)">
                                    <b-row>
                                        <b-col col="12">
                                            <div class="col text-right"><b-button class="inventory-btn" variant="success" type="submit"> Save</b-button></div>
                                        </b-col>
                                    </b-row>
                                    <b-card-text>
                                        <b-container>
                                            <p>Analyze and capture outcome findings of investigation</p>
                                            <template>
                                                <div class="form-group">
                                                    <vue-editor v-model="form.analysis.statement" placeholder="Write your content here"></vue-editor>
                                                </div>
                                            </template>
                                            <p>Created by&nbsp;<span class="fw-bold">{{this.form.analysis.history_logs == null ? 'N/A' : this.form.analysis.history_logs.user.name}}</span></p>
                                            <label>Date Created&nbsp;<span class="fw-bold">{{this.form.analysis.history_logs == null ? 'N/A' : this.form.analysis.history_logs.date + ' ' +  this.form.analysis.history_logs.time }}</span></label>
                                        </b-container>
                                    </b-card-text>
                                </b-form>
                            </b-tab>
                            <b-tab title="Action Taken">
                                <b-card-text>
                                    <b-container>
                                    <b-form @submit.stop.prevent="submitForm('incident-reports/incident-action')">    
                                        <b-row>  
                                            <b-col md="12" lg="12" class="add-action form-group">
                                                <a class="fs-16 fw-bold add-action" @click="modalShow('actionTaken')">+ Add</a>
                                            </b-col>
                                            <!-- <b-col md="2" lg="2">
                                                <div class="col text-right"><b-button class="inventory-btn" variant="success" type="submit"> Save</b-button></div>
                                            </b-col> -->
                                        </b-row>                                     
                                        <b-table hover :items="form.item" :fields="tableColumns" class="table-overflow" show-empty style="width: 100%">
                                          
                                            <template v-slot:cell(actions)="items">
                                                {{ items.item.actions }}
                                            </template>
                                            <template v-slot:cell(responsibility)="items">
                                                {{ items.item.responsibility }}
                                            </template>
                                            <template v-slot:cell(completion_date)="items">
                                                {{ dateformat(items.item.completion_date) }}
                                            </template>
                                            <template v-slot:emptyfiltered="scope">
                                                <h4>{{ scope.emptyFilteredText }}</h4>
                                            </template>
                                        </b-table>
                                    </b-form>
                                    </b-container>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </b-col>
                </b-row>                
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import _ from 'lodash'
    import axios from 'axios'
    import FormData from 'form-data'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    // import { required } from "vuelidate/lib/validators"; 
    import Modal2 from '@/components/Modal2'
    import { VueEditor } from "vue2-editor";
    import moment from 'moment'
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import { validationMixin } from "vuelidate";    
    import ApprovalStatus from '@/components/ApprovalStatus'    

    export default {
        name: "Show",
        mixins: [formMixins, validationMixin, modalMixins],
        components: {
            Modal2,
            VueEditor,
            ApprovalStatus
        },
        data(){
            return {
                approveData: [],
                summary_content: "<h5>Write your content here</h5>",
                comment_content: "<h5>Write your content here</h5>",
                findings_content: "<h5>Write your content here</h5>",
                analysis_content: "<h5>Write your content here</h5>",
                investigation_content: "<h5>Write your content here</h5>",
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Incident Report', href: '#' },
                    { text: 'View', active: true },
                ],
                DeleteData: [],
                TimelineData: [],
                IncidentReportData: [],
                IncidentStatementsData: [],
                filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                show5:false,
                show6:false,
                show7:false,
                accountability_issuance: [
                    { name: 'item_no', title: 'Item No.' },
                    { name: 'item_description', title: 'Item Description' },
                    { name: 'quantity_request', title: 'Quantity Request' },
                    { name: 'unit', title: 'Unit' },
                    { name: 'remarks', title: 'Remarks' },
                ],
                injury_statement: [
                    { text: 'No First Aid administered, returned to work', value: 'No First Aid administered, returned to work' },
                    { text: 'First Aid administered, returned to work', value: 'First Aid administered, returned to work' },
                    { text: 'Saw a Physician, returned to work', value: 'Saw a Physician, returned to work' },
                    { text: 'Saw a Physician, returned to light duty', value: 'Saw a Physician, returned to light duty' },
                    { text: 'Saw a Physician, time loss', value: 'Saw a Physician, time loss' },
                    { text: 'Refused medical Treatment', value: 'Refused medical Treatment' },
                ],
                incident_report: [
                    { text: 'Near Miss', value: 'Near Miss' },
                    { text: 'Restricted Work', value: 'Restricted Work' },
                    { text: 'Lost Time', value: 'Lost Time' },
                    { text: 'Fatality', value: 'Fatality' },
                    { text: 'Security Incident', value: 'Security Incident' },
                    { text: 'Injured Illness - First Aid', value: 'Injured Illness - First Aid' },
                    { text: 'Injured Illness - Medical Treatment', value: 'Injured Illness - Medical Treatment' },
                    { text: 'Others', value: 'Others' }
                ],
                tableColumns: [
                   'actions', 'responsibility', 'completion_date'
                ],
                employee_options: [
                    { text: 'Select Employee', value: null }
                ],
                form: {
                    item: [],
                    analysis: [],
                    summary: {
                        "statement": "",
                        "type": 0,
                        "injury_statement": ""
                    },
                    supervisor: {
                        "type": 1,
                        "statement": "",
                    },
                    investigation_findings: {
                        "type": 2,
                        "statement": "",
                    },
                    investigation_analysis: {
                        "type": 3,
                        "statement": "",
                    }
                },
                formAction: {
                    actions: '',
                    responsibility: '',
                    completion_date: '',
                },
                employee_deducted: '',
                deduction_amount: '',
                deduction_per_period: '',
                formAuthority: {
                    id: this.$route.params.id,
                    employee_deducted: null,
                    deduction_amount: '',
                    deduction_per_period: '',
                },
                analysisstatement: '',
                perPage: 10,
                manager: [],
                history_logs: [],
                summary_select: [],
                              
            }
        },
        mounted(){
            axios.get('incident-reports/'+ this.$route.params.id).then(response => {                
                this.approveData = response.data
                console.log(response.data)
                let data = response.data
                this.IncidentReportData = data
                this.DeleteData = {value:this.$route.params.id,route:'incident-reports/',route2:'incident_report',data:this.IncidentReportData.id}
                let statement_data = data.incident_statements
                let incident_actions = data.incident_actions
                incident_actions.forEach(incident_actions => {
                    this.form.item.push({   
                        id: incident_actions.id,
                        incident_id: this.$route.params.id,
                        actions: incident_actions.actions,
                        responsibility: incident_actions.responsibility,
                        completion_date: incident_actions.completion_date,
                    });
                });
                statement_data.forEach((statement) => {
                    switch(statement.statement_type){
                        case 0:
                            this.form.summary = statement;
                            break;
                        case 1:
                            this.form.supervisor = statement;
                            break;
                        case 2:
                            this.form.investigation_findings = statement;
                            break;
                        case 3:
                            this.form.analysis = statement;
                            break;
                        default:
                            break;
                    }
                });
                // data.incident_statements.forEach(element => {
                //     if(element){
                //         this.analysisstatement = element.statement;
                //     }else{
                //         this.analysisstatement = '';
                //     }
                    
                //     this.form.analysis.push({
                //         id: element.id,
                //         incident_id: element.incident_id,
                //         statement_type:3,
                //         statement: this.analysisstatement,
                //         injury_statement: null,
                //     })
                    
                // });
                // this.form.analysis.incident_id = this.$route.params.id;
                // this.form.analysis.statement_type = 3;
            }); 
            axios.get('incident-reports/create').then((response) => {
                let employee_response = response.data.Employee
                employee_response.forEach(employee_response => {
                    this.employee_options.push({
                        value: employee_response.id,
                        text: employee_response.first_name + ' ' + employee_response.last_name
                    });
                });
            }); 
        },
        methods: {
            SaveAuthority: function () {   
                axios.post('incident-reports/incident-deducted/'+this.$route.params.id,this.formAuthority).then((response) => {
                    let data = response.data
                    if (data == "Error"){
                        this.makeToast('Oopps!',data)
                    }else{
                        for (let val in this.formAuthority) {
                            this.$set(this.formAuthority,val,null)
                        }
                        this.IncidentReportData.employee_deducted = data.employee_deducted;
                        this.IncidentReportData.deduction_amount = data.deduction_amount;
                        this.IncidentReportData.deduction_per_period = data.deduction_per_period;
                        this.$bvModal.hide('modal-main')
                    }           
                })
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            validation(){
               return true;
            },
            dateformat(completion_date) {
               return moment(String(completion_date)).format('MMMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            // addAuthority() {
            //     if (this.formModal.employee == null || this.formModal.amount_to_deduct == '' || this.formModal.deduction_amount_period == '' ){
            //         this.makeToast('Oopps!','Fields with red are required','danger')
            //         if(this.formModal.employee == null){
            //             this.show1 = true;
            //         }
            //         if(this.formModal.amount_to_deduct == ''){
            //             this.show2 = true;
            //         }
            //         if(this.formModal.deduction_amount_period == ''){
            //             this.show3 = true;
            //         }
            //     }else{
            //         axios.post('incident-reports/incident-dedcuted/'+this.$route.params.id,this.formModal).then((response) => {
            //             let data = response.data
            //             console.log(data)
            //         });
            //         this.$bvModal.hide('modal-main')
            //     }
            // },
            addActions() {
                if (this.formAction.actions == '' || this.formAction.responsibility == '' || this.formAction.completion_date == '' ){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.formAction.actions == ''){
                        this.show4 = true;
                    }
                    if(this.formAction.responsibility == ''){
                        this.show5 = true;
                    }
                    if(this.formAction.completion_date == ''){
                        this.show6 = true;
                    }
                }
                else {
                    if(this.form.item == null){
                        this.form.item = [];
                    }
                    var my_object = {
                        id: 0,
                        incident_id: this.$route.params.id,
                        actions: this.formAction.actions,
                        responsibility: this.formAction.responsibility,
                        completion_date: this.formAction.completion_date,
                    };
                    this.formAction.actions = '';
                    this.formAction.responsibility = '';
                    this.formAction.completion_date = '';
                    this.form.item.push(my_object)
                    axios.post('incident-reports/incident-action',this.form).then((response) => {
                        let data = response.data
                        // this.form.incident_id = this.$route.params.id;
                        console.log(data)
                    });
                    console.log(this.form);
                    this.$bvModal.hide('modal-main')
                }
            },    
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            submitStatement(type){
                let form_data = new FormData();
                form_data.append('incident_id', this.$route.params.id);
                form_data.append('statement_type', type);
                let statement = "";
                let id = null;
                let injury_statement = ""
                switch(type){
                    case 0:
                        statement = this.form.summary.statement;
                        injury_statement = this.form.summary.injury_statement
                        id = this.isEmpty(this.form.summary.id)?null:this.form.summary.id;
                        break;
                    case 1:
                        statement = this.form.supervisor.statement;
                        id = this.isEmpty(this.form.supervisor.id)?null:this.form.supervisor.id;
                        break;
                    case 2:
                        statement = this.form.investigation_findings.statement;
                        id = this.isEmpty(this.form.investigation_findings.id)?null:this.form.investigation_findings.id;
                        break;
                    case 3:
                        statement = this.form.analysis.statement;
                        id = this.isEmpty(this.form.analysis.id)?null:this.form.analysis.id;
                        break;
                    default:
                        break;
                }
                if (!this.isEmpty(statement))
                {
                    form_data.append('id',  id);
                    form_data.append('statement',  statement);
                    form_data.append('injury_statement', injury_statement);
                    axios.post('incident-reports/incident-statements', form_data).then((response)=>{
                        console.log(response);
                       
                        this.makeToast('Success',"Successfully Saved Statement",'success')
                    });

                } 
                else {
                    this.makeToast('Oopps!','Please input a statement before saving','danger')
                }
                
            },
            isEmpty(value){
                return (value == null || value == undefined || value == "" || value == 0);
            }
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.add-action {
    text-align: right;
    cursor: pointer;
    top: 8px;
}
</style>