<template> 
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12"> 
                <b-form  @submit.stop.prevent="submitForm(route, { stay: false, route:'timesheet.view', edit: true })">
                    <div class="row">
                        <b-col md="6">
                            <router-link :to="{ name:'timesheet.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Timesheet</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </div>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5"> 
                            <b-form-group id="employee_id" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.employee_id.$model"
                                    :state="stateValidation('employee_id')"
                                    aria-describedby="input-2-live-feedback"
                                    readonly
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    id="timesheet_date"
                                    name="timesheet_date" 
                                    v-model="$v.form.timesheet_date.$model"
                                    :state="stateValidation('timesheet_date')">
                                </b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Description</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="description">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                    placeholder="Enter a description"
                                    v-model="$v.form.description.$model"
                                    rows="3"
                                    max-rows="6"
                                    :state="stateValidation('description')"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Start Time</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-2">
                                <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                    id="start_time"
                                    name="start_time"
                                    v-model="$v.form.start_time.$model"
                                    :state="stateValidation('start_time')"
                                    locale="en">
                                </b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Rendered Hours</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="rendered_hours" label-for="input-3">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="rendered_hours"
                                    name="rendered_hours"
                                    v-model="$v.form.rendered_hours.$model"
                                    :state="stateValidation('rendered_hours')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <div class="row">
                        <b-col md="4" class="text-right">
                            <b>Billable?</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group  label-for="input-3">
                                 <b-form-checkbox
                                    id="is_billable"
                                    v-model="form.is_billable"
                                    name="is_billable"
                                    value=1
                                    unchecked-value=0>
                                </b-form-checkbox>
                            </b-form-group>
                        </b-col>
                    </div>                    
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                route: 'employee_timesheet/'+this.$route.params.id,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Timesheet', href: '#'},
                    { text: 'Edit', active:true },
                ],
                employee_options: [
                    { value: null, text: "Select Employee" },
                ],
                form: {
                    employee_id: null,
                    timesheet_date: '',
                    description: '',
                    start_time: '',
                    rendered_hours: '',
                    is_billable: 0
                },
            };
        },
        mounted(){
            this.getEmployees()
        },
        validations: {
            form: {
                employee_id: { required },
                timesheet_date: { required }, 
                description: { required },
                start_time: { required },
                rendered_hours: { required },
            }
        },
         methods: {          
            getEmployees(){
                axios.get('employee_timesheet/' + this.$route.params.id + '/edit').then((response) => {
                    console.log(response.data)
                    let data = response.data.timesheet
                    this.form.employee_id = data.employee_name
                    this.form.timesheet_date = data.edit_timesheet_date
                    this.form.description = data.description
                    this.form.start_time = data.edit_start_time
                    this.form.rendered_hours = data.rendered_hours
                    this.form.is_billable = data.edit_is_billable
                    // let employee_data = response.data.employees;
                    // employee_data.forEach((employee) =>{
                    //     this.employee_options.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name'] })
                    // });
                });
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>