<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'timesheet'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Timesheet Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'timesheet.edit', params: {id: this.$route.params.id}}"><b-button class="btn btn-hr-primary btn-size mr-05">Edit</b-button></router-link>
                        <b-dropdown right class="btn-size hr-more">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'timesheet.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'timesheet.view', data: this.history_log})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col> 
                </b-row> 
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Employee Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ timesheet_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Description</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ description }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Start Time</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ start_time }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Rendered Hours</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ rendered_hours }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Billable Status</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ is_billable }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>
            
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { modalMixins } from '@/mixins/modal'
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Timesheet', href: '#'},
                    { text: 'View', active:true },
                ],
                approveData: [],
                employee_name: '',
                timesheet_date: '',
                description: '',
                start_time: '',
                rendered_hours: '',
                is_billable: '',
                DeleteData: [],
                TimesheetData: [],
                TimelineData: [],
                data:[],
                history_log: [],
                approved_status: 'Pending for approval',
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Timesheet'
                }
            }
        },
        mounted(){
            axios.get('employee_timesheet/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.employee_name = data.employee_name
                this.timesheet_date = data.timesheet_date
                this.description = data.description
                this.start_time = data.start_time
                this.rendered_hours = data.rendered_hours
                this.is_billable = data.is_billable
                this.history_log = response.data.history_logs
                this.DeleteData = {value:this.$route.params.id,route:'employee_timesheet/',route2:'timesheet', data: this.employee_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'timesheet.view'}
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
                this.approveData = response.data
            });
        },
        methods:{
            DeleteFunction(){
                this.deleteForm('employee_timesheet/',this.$route.params.id,'timesheet')
            },
            modalShow(action) {
                this.actionData.action = action;
                this.$bvModal.show('modal-main')
            },
            modalHide() {
                this.$bvModal.hide('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 