<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb> 
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('team', { stay: checked, route:'team.view' })">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'team'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Teams</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team ID</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                          v-model="$v.form.team_id.$model"
                                        :state="stateValidation('team_id')"
                                        placeholder="Enter Team ID"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Name</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                                <b-form-input
                                        v-model="form.team_name"
                                        placeholder="Enter Team Name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Type</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                         v-model="$v.form.team_type.$model"
                                        :state="stateValidation('team_type')"
                                        :options="team_type_option"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Vehicle Plate No.</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.vehicle_plateno.$model"
                                        :state="stateValidation('vehicle_plateno')"
                                        placeholder="Enter Vehicle Plate No"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Members</b>
                        </b-col>  
                    </b-row>
                    <br>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Tech 1</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                         v-model="$v.form.tech1.$model"
                                        :state="stateValidation('tech1')"
                                        :options="team_tech"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Tech 2</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                         v-model="$v.form.tech2.$model"
                                        :state="stateValidation('tech2')"
                                        :options="team_tech"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        components: {
        },
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Teams', href: '#' },
                    { text: 'New', active: true },
                ],
                team_type_option: [
                    { value: null, text: "Select Type" },
                    { value: 'BAU', text: "BAU" },
                    { value: 'CORPO', text: "CORPO" }
                ],
                team_tech: [
                    { value: null, text: "Select Tech" }
                ],
                team_id_option: [
                    { value: null, text: "Select Team ID" }
                ],
                form: {
                    team_type: null,
                    team_id: null,
                    team_name: '',
                    vehicle_plateno: '',
                    tech1: [],
                    tech2: [],

                },
            };
        },        
        mounted(){
             axios.get('team/create').then((response) => {
                let Employee = response.data.Employee
                console.log(Employee);
                Employee.forEach((data) =>{
                    this.team_tech.push({value: data['id'],text: data['first_name']+' '+data['last_name']})
                });      
                let Team = response.data.Team
                Team.forEach((data) =>{
                    this.team_id_option.push({value: data['id'],text: data['team_name']})
                });     
            });
        },
        computed: {
             MemberOptions() {
                return this.MemberOptionss.filter(opt => this.member_data .indexOf(opt) === -1)
            }
        },
        validations: {
            form: {
                team_type:  {required},
                team_id:  {required},
                vehicle_plateno:  {required},
                tech1:  {required},
                tech2:  {required}
            }
        },
       
        methods: {
          
        }
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>