<template>
    <b-col md="12" class="form-group p-5"> 
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
      
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                        <router-link :to="{name: 'team'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Team Information</span>
                    </b-col>
                    <b-col sm="6" md="6" lg="6" class="align-right">
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item style="display: none;" class="show-edit">Edit</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Teams" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item  @click.stop.prevent="modalShow('Delete')" title="Add New Material">Delete</b-dropdown-item> -->
                           </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="6">
                        <b-row class="mt-50">
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team ID</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold" style="text-transform: uppercase;">{{ form.team_id == '' ? 'N/A' : form.team_id }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team Name</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ form.team_name == null ? 'N/A' : form.team_name }}</label>
                            </b-col>
                        </b-row>
                         <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team Type</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ form.team_type }}</label>
                            </b-col>
                        </b-row>
                         <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Vehicle Plate No</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ form.vehicle_plateno }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                
                    <b-col md="6" class="mt-50">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label><b>Members</b></label>
                            </b-col>
                        </b-row>
                        <b-row v-for="(technicians) in this.form.technicians" :key="technicians">
                            <b-col md="5" lg="5" class="form-group align-right">
                                <label>Technician {{technicians.technician}}</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{technicians.employee_name}}</label>
                            </b-col>
                        </b-row>    
                    </b-col>
                </b-row>   
             
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        data() {
            return {    
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Team', href: '#'},
                    { text: 'View', active:true },
                ],
               
                form: {
                    team_id: null,
                    team_name: null,
                    team_type: null,
                    vehicle_plateno: null,
                    active: null,
                    technicians:[]
                },      
                DeleteData: [],

            }
        },
        mounted(){
           
             axios.get('team/'+this.$route.params.id).then((response) => {
               let data = response.data;
               this.form.team_id = data.team_id;
               this.form.technicians = data.team_technicians;
               this.form.team_name = data.team_name;
               this.form.team_type = data.team_type;
               this.form.vehicle_plateno = data.vehicle_plateno;
               this.DeleteData = {value:this.$route.params.id,route:'team/',route2:'team',data:response.data.id}

            });
            
        },
        method:{
            
        }
      
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>