<template>
    <div class="form-group col-md-12">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>

        <!-- Modal Verify -->
        <modal2>
            <h5 slot="header" class="margin-0">Verify Attendance</h5>
            <h5 slot="body">
                <form ref="form">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="2" class="align-right">
                            <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="10">
                            <p class="fs-16 margin-0">
                                Are you sure you want to Verify 
                                {{ checkboxID.length > 1 ? 'these' : 'this' }} 
                                Attendance?
                            </p>
                            <p class="fs-16">You can't undo this action.</p>
                        </b-col>
                    </b-row>
                </form>
            </h5>
            <h5 slot="buttons">
                <b-button variant="success" 
                    class="mr-05 btn-dltmodal-size"
                    size="sm"  
                    @click.stop.prevent="verifyModal">
                    Confirm
                </b-button>
                <b-button style="background: #fff; color: #707070;"
                    @click.stop.prevent="modalHide" 
                    size="sm">
                    Cancel
                </b-button>
            </h5>
        </modal2>
        <!-- Modal Verify End -->

        <!-- Body List Daily Time Records -->
        <template>
            <b-row class="mt-30">
                <div class="col text-left">
                    <p class="hr-title">Daily Time Records</p></div>
                    <div class="col text-right">
                        <b-button class="hr-btn" 
                            style="background: #707070" 
                            :disabled="checkboxID.length <= 0" 
                            @click.stop.prevent="modalShow">
                            Verify
                        </b-button>
                    </div>
            </b-row>

            <!-- Filter -->
            <b-row class="justify-content-center mt-30">
                <b-col md="12">
                    <b-row>
                        <b-col sm="6">
                            <b-button class="btn btn-light" 
                                size="md" 
                                v-b-toggle.collapse-1 style="width: auto">
                                Filter
                                <b-icon icon="filter-left" 
                                    style="vertical-align: middle;" 
                                    aria-hidden="true">
                                </b-icon>
                            </b-button>
                        </b-col>
                        <b-col sm="6"></b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="12">
                        <b-collapse id="collapse-1" class="mt-12">
                            <b-card style="padding-right:1.5rem;">
                                <b-container class="bv-example-row">
                                    <p class="card-text"></p>
                                    <b-row >
                                        <b-col>
                                            <b-input-group>
                                                <b-form-input v-model="filter.search" 
                                                    placeholder="Search by Name.." 
                                                    v-on:keyup.enter="applyFilter">
                                                </b-form-input>
                                                <b-button disabled size="sm" 
                                                    variant="light">
                                                    <span class="fa fa-search"></span>
                                                    Search
                                                </b-button>
                                            </b-input-group>
                                        </b-col>
                                    </b-row>
                                    <b-row class="pb-1rm">
                                        <b-col md="6" sm="12" >
                                            <b-form>
                                            <label label-align-sm="left" 
                                                label-size="lg" 
                                                for="date_from">
                                                Filter by Date From:
                                            </label>
                                            <b-form-datepicker
                                                id="date_from"
                                                name="date_from"
                                                v-model="filter.date_from" 
                                                v-on:keyup.enter="applyFilter"
                                                :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }">
                                            </b-form-datepicker>
                                            </b-form>
                                        </b-col>
                                        <b-col md="6" sm="12" class="pt-adjust8">
                                            <b-form>
                                            <label label-align-sm="left" 
                                                label-size="lg"
                                                for="date_to">
                                                Filter by Date To:
                                            </label>
                                            <b-form-datepicker
                                                id="date_to"
                                                name="date_to"
                                                v-model="filter.date_to" 
                                                v-on:keyup.enter="applyFilter"
                                                :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }">
                                            </b-form-datepicker>
                                            </b-form>
                                        </b-col>
                                    </b-row>
                                    <b-row class="pb-1rm">
                                        <b-col md="6" sm="12" >
                                            <b-form>
                                                <label label-align-sm="left" 
                                                    label-size="lg" 
                                                    for="status">
                                                    Status:
                                                </label>
                                                <b-form-select id="status" 
                                                    class="clean-form-input" 
                                                    v-model="filter.verify" 
                                                    :options="verify_options" 
                                                    button-only>
                                                </b-form-select>
                                            </b-form>
                                        </b-col>
                                        <b-col md="6" sm="12" class="pt-adjust8">
                                            <b-form>
                                                <label label-align-sm="left" 
                                                    label-size="lg" 
                                                    for="status">
                                                    Show DTR with Schedule:
                                                </label>
                                                <b-form-checkbox
                                                    v-model="showAll"  
                                                    true-value="true"
                                                    false-value="false">
                                                </b-form-checkbox>
                                            </b-form>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </b-card>
                        </b-collapse>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
            <!-- End Filter -->

            <!-- List -->
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID"
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow" 
                :data-manager="dataManager" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData" 
                :css="css.table">
                <div slot="date" slot-scope="props">
                    <router-link :to="{ name: 'daily_time_record.view', params: {id: props.rowData.id} }">{{ props.rowData.date }}</router-link>
                </div>
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" 
                    @vuetable-pagination:change-page="onChangePage" 
                    :css="css.pagination">
                </vuetable-pagination>
            </div>
            <!-- End List -->

        </template>
    </div>
</template>
<script>
    import _ from 'lodash'
    import axios from 'axios'
    import Vuetable from 'vuetable-2'
    import Modal2 from '@/components/Modal2'
    import Checkbox from '@/components/Checkbox'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { mapGetters, mapActions } from 'vuex'
    
    export default {
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2
        },
        data(){
            return {
                css: VuetableCSS,
                checkboxID: [],
                showAll: false,
                filter: {
                    verify: null,
                    search: "",
                    date_from: null,
                    date_to: null
                },
                verify_options:[
                    { value:null, text: "Filter by Status" },
                    { value: 'VERIFY', text: 'Verified' },
                    { value: 'NOT_VERIFY', text: 'Unverify' }
                ],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Daily Time Record', href: '#'},
                    { text: 'List', active:true },
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'date',
                        title: 'Date',
                        sortField: 'date'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status'
                    },
                    {
                        name: 'timelogs',
                        title: 'Timelogs (In/Out)',
                        sortField: 'timelogs'
                    }
                ],
                sortOrder: [
                    {
                        field: 'date',
                        sortField: 'date',
                        direction: 'asc'
                    }
                ],
                perPage: 10,
                data: [] 
            }
        },
        mounted(){
            this.fetchDailyTimeRecords();
            this.dataList(this.dailyTimeRecordList);
        },
        computed:{
            ...mapGetters({
                user: 'auth/user',
                dailyTimeRecordList: 'dailyTimeRecordList'
            }),
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            },
            "filter.verify" : function() {
                this.applyFilter();
            },
            "filter.date_from" : function() {
                this.applyFilter();
            },
            "filter.date_to" : function() {
                this.applyFilter();
            },
            "showAll" : function() {
                this.applyFilter();
            },
        },
        methods: {
            applyFilter() {
                let url = 'daily_time_record?search='+this.filter.search;
                if (this.filter.verify != null) {
                    url += '&verify='+this.filter.verify
                }

                if (this.filter.date_from != null) {
                    url += '&date_from='+this.filter.date_from
                }

                if (this.filter.date_to != null) {
                    url += '&date_to='+this.filter.date_to
                }

                axios.get(url).then((response) => {
                    if (response.data.length != 0) {
                        this.data = []
                        this.dataList(response.data, false, this.showAll);
                    } else {
                        this.makeToast('','No Data Retrieved with provided filter.','danger');
                    }
                })
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            verifyModal: function (){
                axios.put('daily_time_record/massverify/'+this.checkboxID)
                    .then(response => {
                        let data = response.data
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.$bvModal.hide('modal-main');
                            this.makeToast('Success','Successfully Verified','success');
                            setTimeout( function() { window.location.reload(true); }, 500);
                        }
                    });
            },
            timelogsInteface(value) {
                
                let logs = ''
                if (value.length > 0) {
                    value.forEach(log => {
                        logs += '<small>' + log.start_time + ' - ' + log.end_time + '</small><br>'
                    });
                } else {
                    logs = '-'
                }
                return logs
            },
            dataList(dailyTimeRecords, update = true, showAllData = false){
                let data_interface = dailyTimeRecords;
                data_interface.forEach(dtr => {
                    if (dtr._attendance.length > 0 || showAllData) {
                        this.data.push({
                            id: dtr.id,
                            date: dtr.parse_date,
                            employee_name: dtr.employee_name,
                            status: dtr.verified_attendance == 1 ? 'Verified' : 'Not Verify',
                            timelogs: this.timelogsInteface(dtr._attendance)
                        });
                    }
                });

                if (update) {
                    axios.get('daily_time_record').then((response) => {
                        if (response.data.length != dailyTimeRecords.length) {
                            console.log('update api');
                            this.data = []
                            this.dataList(response.data);
                        }
                    })
                }
            },
            ...mapActions({
                fetchLoader: 'fetchLoader',
                fetchDailyTimeRecords: 'fetchDailyTimeRecords'
            }),
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }

    }
</script>