<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <div class="col-md-6">
                        <router-link :to="{ name: 'daily_time_record' }">
                            <i class="fa fa-arrow-left back-btn" 
                                style="margin-top: 0.5rem; margin-right: 15px;" 
                                aria-hidden="true"></i>
                            </router-link>
                        <span class="hr-title">{{ date }}</span>
                    </div>
                    <div class="col-md-6 align-right">
                        <b-button v-if="status != 'Verified'" class="hr-btn btn-shadow mr-05 hide-edit"
                            @click.stop.prevent="modalShow">
                            Verify
                        </b-button>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item>Reschedule</b-dropdown-item>
                            <!-- <b-dropdown-item>Verify</b-dropdown-item> -->
                        </b-dropdown>
                    </div>
                </b-row>
            </b-col>

            <!-- Modal Verify -->
            <modal2>
                <h5 slot="header" class="margin-0">Verify Attendance</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">
                                    Are you sure you want to Verify {{ date }}?
                                </p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" 
                        class="mr-05 btn-dltmodal-size"
                        size="sm"  
                        @click.stop.prevent="verifyModal">
                        Confirm
                    </b-button>
                    <b-button style="background: #fff; color: #707070;"
                        @click.stop.prevent="modalHide" 
                        size="sm">
                        Cancel
                    </b-button>
                </h5>
            </modal2>
            <!-- Modal Verify End -->

            <b-container>
                <b-row>
                    <b-col md="5">
                        <b-row class="mt-50">
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Employee Name</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Date</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Status</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ status }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Time In</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ time_in }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Last Time Out</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ time_out }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Total Rendered</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ total_hours }} hr/s</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Device </label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">Mobile App QR Code</label>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
            
            <b-tabs class="mt-50 col-12">
                <b-tab title="Attendance Logs" active>
                    <div class="row justify-content-center margin-top">
                        <div class="col-md-12">
                            <vuetable ref="vuetable"
                                :fields="fields"
                                :api-mode="false"
                                class="table-overflow"
                                :data-manager="dataManager"
                                pagination-path="pagination"
                                @vuetable:pagination-data="onPaginationData"
                                :css="css.table"
                                >
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <!-- <b-tab title="Attachment">
                    <vuetable ref="vuetable" :fields="attachment" :data="data" :api-mode="false" :css="css.table" ></vuetable>
                </b-tab> -->
            </b-tabs>     
        </b-row>
    </b-col>
</template>

<script>
    import _ from 'lodash'
    import axios from 'axios'
    import moment from 'moment'
    import Vuetable from 'vuetable-2'
    import Modal2 from '@/components/Modal2'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    
    export default {
        name: "Show",
        mixins: [modalMixins],
        components: {
            Vuetable,
            VuetablePagination,
            Modal2
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Employee Attendance', href: '#' },
                    { text: 'View', active: true },
                ],                
                fields: [ 
                    {
                        name: 'time_in',
                        title: 'Time In',
                        sortField: 'time_in',
                        width: "15%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_out',
                        title: 'Time Out',
                        sortField: 'time_out',
                        width: "15%",
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'rendered_hours',
                        title: 'Rendered Hours',
                        sortField: 'rendered_hours',
                        width: "25%",
                        formatter: (value) => {
                            return value
                        }
                    },
                ],
                attendanceData: [],
                perPage: 10,
                manager: [],
                data:[],             
                employee_name: "",
                status: "",
                total_hours: "",
                time_in: "",
                time_out: "",
                location: "",
                date: "",
                DeleteData: "",
            }
        },        
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('daily_time_record/'+this.$route.params.id).then(response => {
                let attendance = response.data
                this.employee_name = attendance.employee_name
                this.date = attendance.parse_date
                this.status = attendance.verified_attendance == 1 ? 'Verified' : 'Not Verify'

                if (attendance._attendance.length > 0) {
                    attendance._attendance.forEach(logs => {
                        this.data.push({
                            time_in: logs.start_time,
                            time_out: logs.end_time,
                            rendered_hours: this.computeRenderedHours(logs.start_time, logs.end_time),
                        })
                    });

                    this.time_in = this.data[0].time_in;
                    this.time_out = this.data[this.data.length - 1].time_out;
                }
            });
        },
        methods: {
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            verifyModal: function (){
                axios.put('daily_time_record/'+this.$route.params.id)
                    .then(response => {
                        console.log(response)
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Verified','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            computeRenderedHours(from, to) {
                var total_hours = 0;
                var date1 = new Date(from);
                var date2 = new Date(to);

                if (to == null) {
                    return 0;
                }

                total_hours = this.diff_hours(date1, date2);
                this.total_hours = +total_hours + +this.total_hours;

                return total_hours;
            },
            diff_hours(dt2, dt1) {
                var diff =(dt2.getTime() - dt1.getTime()) / 1000;
                diff /= (60 * 60);
                return Math.abs(Math.round(diff * 100) / 100);  
            },
            hourFormat(value) {
               return moment(String(value)).format('HH:MM')
            },
            
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            validation(){
               return true;
            },
            dateformat(value) {
               return moment(String(value)).format('MMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.a-month {
    position: relative;
    top: 1em;
}
</style> 