<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <Modal2>
            <h5 slot="header">Add Request Items</h5>
            <div slot="body">

                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b>Item Description</b>
                    </b-col>   
                    <b-col md="5">
                        <b-form-group id="item_description" label-for="input-2">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                id="item_description"
                                name="item_description"
                                aria-describedby="input-2-live-feedback"
                                v-model="inventory"
                                :options="inventory_options"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>

            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size mr-05" style="margin-right:0.5rem;" variant="success" @click="addRow"> Save</b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click="modalHide">Close</b-button>
            </div>
        </Modal2>   
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="save">
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'accountability_request'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Accountability Request</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn" type="submit">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <EmployeeSelection v-on:assignEmployeeID="assignEmployee" style="margin-bottom:20px"/>
                            <b-row >
                                <b-col md="4" class="text-right pt-9">
                                    <b>Date</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group label="" label-for="date">
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            id="date" 
                                            name="date"
                                            v-model="$v.form.date.$model"
                                            :state="stateValidation('date')"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                </b-col>   
                                <b-col md="5">
                                    <b-form-radio-group
                                    v-model="$v.form.type.$model"
                                    :state="validateState('type',$v.form)"
                                    :options="options"
                                    class="mb-3"
                                    value-field="item"
                                    text-field="name"
                                    disabled-field="notEnabled"
                                    ></b-form-radio-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>                            
                    <div class="drkgry-color fs-18  pt-2rm"><b>Request Items</b>  <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click.stop.prevent="modalShow">+ Add</a></div>
                    <hr style="width: 100%; margin-bottom: 0.1rem;">
                    <b-row>
                        <b-col>
                            <b-table hover :items="form.requisition_items" :fields="tableColumns" show-empty style="width: 100%">
                                <template v-slot:cell(asset_id)="row">
                                    {{ row.index + 1 }}
                                </template>
                                <template v-slot:cell(quantity)="row">
                                    <b-form-input v-model="row.item.quantity"></b-form-input>
                                </template>
                                <template v-slot:cell(action)="items">
                                    <div class="row">
                                        <div class="col-md-2 text-right"><span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(items.index)"></span></div>
                                    </div>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>   
                        </b-col>
                    </b-row>
                </b-form>
                
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios';
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import Modal2 from '@/components/Modal2'
    import { modalMixins } from '@/mixins/modal'
    import EmployeeSelection from '@/components/EmployeeSelection.vue';

    export default {
        mixins: [validationMixin,formMixins, modalMixins],
        components: {
            Modal2,
            EmployeeSelection
        },
        data() {
            return {
                checked: false,
                busy: false,
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active: true},
                    { text: 'Accountability Request', href: '#'},
                    { text: 'New', active: true },
                ],
                options: [
                    { item: '1', name: 'From WH' },
                    { item: '2', name: 'Transfer' },
                    { item: '3', name: 'Return' },
                ],
                inventory_options: [
                    {value: null, text: "Select Item Inventory"},
                ],
                assets: [
                    {value: null, text: "Select Item Inventory"},
                ],
                employee_id: [
                    { value: null, text: "Select Employee Name" },
                ],
                description: [
                    { value: null, text: "Coaxial Cable > RG6 with mess" },
                ],
                // inventory: [],
                form: {
                    date: '',
                    employee_id: null,
                    from_employee_id: null,
                    type: null,
                    requisition_items:[]
                },
                tableColumns: [
                    {key:'inventory_id', label:'Item Number'},
                    {key:'item_description', label:'Description'},
                    {key:'quantity', label:'Quantity'},
                    {key:'action', label:'Action'},
                ],
                inventory: null,
                filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
            };
        },
        validations: {
            form: {
                date: { required },
                employee_id: { required },
                type: { required }
            }
        },
        mounted(){
            axios.get('accountability_requisition/create').then((response) => {
                // let employee_id = response.data.employees;
                // employee_id.forEach(employee_id => {
                //     this.employee_id.push({
                //         value: employee_id.id,
                //         text:  employee_id.first_name+' '+employee_id.last_name
                //     });
                // });

                let inventories = response.data.inventories;
                console.log(this.inventory);
                inventories.forEach(inventory => {
                    this.inventory_options.push({
                        value: inventory,
                        text:  inventory.get_inventories_names.description
                    });
                });

                // let assets_res = response.data.assets;
                // assets_res.forEach((asset)=>{
                //     if(asset.inventory.type == 2){
                //         this.assets.push({
                //             value:  asset,
                //             text:   asset.inventory.get_categories.category_name+' > '+ 
                //                     asset.inventory.get_inventories_names.description +' > '+
                //                     asset.inventory.get_inventories_names.mat_code
                //         });
                //     }
                // });
                // console.log(this.assets);
            });
        },
        methods: {
            assignEmployee(value){
                this.form.employee_id = value;
            },
            removeElement : function (index) {
                this.form.requisition_items.splice(index, 1);
            },
            addRow(){
                if (this.inventory == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    let check_inventory = this.form.requisition_items.find(x => x.inventory_id == this.inventory.id);
                    if(check_inventory == undefined){
                        this.form.requisition_items.push({
                            inventory_id: this.inventory.id,
                            item_description: this.inventory.get_inventories_names.description,
                            quantity: 0,
                            action:'',
                        })
                        this.inventory = null;
                    }else{
                        this.makeToast('Oopps!','Duplicate Inventory Selected','danger')
                    }
                    
                    this.$bvModal.hide('modal-main')
                }
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            save(){
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    this.submitForm('accountability_requisition', {route: "accountability_request"});
                    this.form = {
                        date: '',
                        employee_id: null,
                        from_employee_id: null,
                        type: null,
                        requisition_items:[]
                    };
                }
                
            }
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>