<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{name: 'accountability_request'}" ><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Accountability Requisition</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                       <!-- <router-link :to="{name: 'premise_equipment.edit', params: {id: this.$route.params.id}}"><b-button class="inventory-btn btn-size hide-edit" style="margin-right: 5px;">Edit</b-button></router-link> -->
                        <!-- <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Customer Premise Equipment" component="delete">Delete</b-dropdown-item>
                        </b-dropdown> -->
                    </b-col>
                    <b-container>
                        <b-row class="mt-50">
                            <b-col sm="12" md="9" lg="9">
                                <b-row>
                                    <b-col md="4" class="form-group align-right media-left mb-0">
                                        <label class="fs-14 fw-bold mb-0 text-no-wrap">Requested By</label>
                                    </b-col>
                                    <b-col md="7" class="form-group" align-left >
                                        <label class="fs-14">{{ requested_by}}</label>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="4" class="form-group align-right media-left mb-0">
                                        <label class="fs-14 fw-bold mb-0 text-no-wrap">Date Requested</label>
                                    </b-col>
                                    <b-col md="7" class="form-group" align-left >
                                        <label class="fs-14">{{ date_requested }}</label>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="4" class="form-group align-right media-left mb-0">
                                        <label class="fs-14 fw-bold mb-0 text-no-wrap">Type</label>
                                    </b-col>
                                    <b-col md="7" class="form-group" align-left >
                                        <label class="fs-14">{{ type }}</label>
                                    </b-col>
                                </b-row>
                            </b-col>
                            <b-col sm="12" md="5" lg="5">
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col xs="2" sm="2" md="1" lg="1"></b-col>
                            <b-col xs="12" sm="12" md="9" lg="9">
                                <b-table hover :items="inventories" :fields="tableColumns" show-empty style="width: 100%">
                                </b-table> 
                            </b-col>
                        </b-row>
                    </b-container> 
                </b-row>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    export default {
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Accountability Requisition', href: '#'},
                    { text: 'View', active:true },
                ],
                tableColumns: ['inventory_name', 'quantity', "category"],
                requested_by: "",
                date_requested: "",
                type: "",
                inventories: []
            }
        },
        mounted(){
            Axios.get('accountability_requisition/'+this.$route.params.id).then(response => {
                console.log(response.data);
                let data = response.data;
                this.requested_by = data.employee_id.first_name + (data.employee_id.middle_name != ""?" " + data.employee_id.middle_name:"") + " " + data.employee_id.last_name;

                this.date_requested = data.date
                let type_array = ['', 'From Warehouse', "Transfer", "Return"];
                this.type = type_array[data.type]
                console.log(data.requisition_items)
                data.requisition_items.forEach(item => {
                    this.inventories.push({
                        inventory_name: item.inventory.get_inventories_names.description,
                        quantity: item.quantity,
                        category: item.inventory.get_categories.category_name
                    });
                });
            });
        },
        methods: {
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}


</style>