<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col sm="6" md="6" lg="6" class="text-no-wrap">
                <router-link :to="{name:'shift_schedules'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                <span class="form-head pl-1rm">Create Shift Schedules</span>                        
            </b-col>
            <b-col sm="6" md="6" lg="6" class="text-no-wrap align-right">
                <b-form-checkbox class="mr-05 custom-checkbox-position" 
                    v-model="stay_on_page"  
                    true-value="true"
                    false-value="false">
                </b-form-checkbox>
                <label class="label-create-a">Create Another</label>
                <b-button type="submit" class="hr-btn" @click="saveShift">Save</b-button>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row class="fs-18 pl-8rm"><b>Schedule Shifts</b></b-row>
                <hr style="width: 80%">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="">Shift Name</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group id="input-group-1" label-for="shift-name">
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="shift-name"
                                    v-model="$v.form.name.$model"
                                    :state="stateValidation('name')"
                                    placeholder="Enter Shift Name"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Shift Schedule Start</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="example-txtarea">
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    id="schedule_date_start"
                                    name="schedule_date_start"
                                    v-model="$v.form.schedule_date_start.$model"
                                    :state="stateValidation('schedule_date_start')"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                            ></b-form-datepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Shift Schedule End</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="example-txtarea">
                            <b-form-datepicker
                                    id="schedule_date_from"
                                    name="schedule_date_from"
                                    v-model="form.schedule_date_end"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                            ></b-form-datepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
                <!-- <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="">Departments</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group>
                            <multiselect 
                                class="departments"
                                :class="{ 'is-danger': show4 }"
                                track-by="text"
                                label="text"
                                @input="toggleSelected()"
                                v-model="$v.form.departments.$model"
                                :options="departmentOptions"
                                :state="stateValidation('departments')"
                                :searchable="true"
                                :multiple="true">       
                            </multiselect>
                        </b-form-group>
                    </b-col>
                </b-row> -->
                <!-- <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b>Exception</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group>
                            <multiselect 
                                track-by="text"
                                label="text"
                                @input="toggleSelected(value)"
                                v-model="form.exceptions"
                                :options="employee_name"
                                :searchable="true"
                                :multiple="true">       
                            </multiselect>
                        </b-form-group>
                    </b-col>
                </b-row> -->
                
                <!-- <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b>Working Days</b>
                    </b-col>
                    <b-col md="8" class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                        <div v-for="(day,index) in weekDays" v-bind:key="index">
                            <input class="checkbox-day" type="checkbox" v-bind:id="'weekday-'+index" value="1">
                            <label for="" class="label-day" @click="toggleDay('weekday-'+index)">
                                <span class="label-day-desc">{{ day }}</span>
                            </label>
                        </div>
                    </b-col>
                </b-row> -->
                <!-- <b-row class="fs-18 pl-8rm pt-2rm"><b>Working Hours</b></b-row>
                <hr style="width: 80%">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="">Time-in</b>
                    </b-col>
                    <b-col md="5">
                         <b-form-group label="" label-for="full-day-start">
                            <b-form-timepicker id="full-day-start" locale="en" v-model="$v.form.working_hours_from.$model" :state="stateValidation('working_hours_from')" style="border-left: solid 1.5px #ec0000"></b-form-timepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="">End Shift</b>
                    </b-col>
                    <b-col md="5">
                         <b-form-group label="" label-for="full-day-end">
                            <b-form-timepicker id="full-day-end" locale="en" v-model="$v.form.working_hours_to.$model" :state="stateValidation('working_hours_to')" style="border-left: solid 1.5px #ec0000"></b-form-timepicker>
                        </b-form-group>
                    </b-col>
                </b-row> -->
                <!-- <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="">Half Day</b>
                    </b-col>
                    <b-col md="5">
                         <b-form-group label="" label-for="half-day-start">
                            <b-form-timepicker id="half-day-start" locale="en" v-model="$v.form.start_half_day.$model" :state="stateValidation('start_half_day')" style="border-left: solid 1.5px #ec0000"></b-form-timepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b></b>
                    </b-col>
                    <b-col md="5">
                         <b-form-group label="" label-for="half-day-end">
                            <b-form-timepicker id="half-day-end" locale="en" v-model="$v.form.end_half_day.$model" :state="stateValidation('end_half_day')" style="border-left: solid 1.5px #ec0000"></b-form-timepicker>
                        </b-form-group>
                    </b-col>
                </b-row> -->
                <!-- <div class="fs-18 pl-8rm pt-2rm"><b>Break Time Settings</b>  <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="modalShow('AddBreak')">+ Add</a></div>
                <hr style="width: 80%">
                <modal2 ref="AddBreak">
                    <h5 slot="header">Add Break</h5>
                    <div slot="body">                            
                        <b-row>
                            <b-col md="4" class="text-right pt-9">
                                <b class="">Break Name</b>
                            </b-col>
                            <b-col md="5">
                                <b-form-group id="input-group-1" label-for="break-name">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="break-name"
                                            v-model="form2.break_name"
                                            :style="show1 ? filterStyle : null"
                                            required
                                            placeholder="Enter Break Name"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="text-right pt-9">
                                <b class="">Duration</b>
                            </b-col>
                            <b-col md="5">
                                <b-form-group id="input-group-1" label-for="duration">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="form2.duration"
                                        placeholder="Enter number in minutes e.g. 60"
                                        :style="show2 ? filterStyle : null"
                                        type="number"
                                        step=".01"
                                        min="0"
                                        @keydown="filterKey"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="text-right pt-9">
                                <b class="">Break Mode</b>
                            </b-col>
                            <b-col md="5">
                                <b-form-group id="input-group-4" label-for="break_mode">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="break_mode"
                                    name="break_mode"
                                    :style="show3 ? filterStyle : null"
                                    v-model="form2.break_mode"
                                    :options="break_mode"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="text-right pt-9">
                                <b class="">Billable</b>
                            </b-col>
                            <b-col md="5" class="mt-8">
                                <b-form-group id="input-group-4" label-for="billable">
                                <b-form-checkbox
                                    id="billable-shift"
                                    v-model="form2.billable"
                                    name="billable-shift"
                                    value="1"
                                    unchecked-value="0">
                                    </b-form-checkbox>
                                </b-form-group>
                            </b-col>
                        </b-row>                           
                    </div>
                    <div slot="buttons">
                        <b-button size="sm" class="btn-dltmodal-size mr-05" variant="success" @click="addRow"> Add</b-button>
                        <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">Close</b-button>
                    </div>
                </modal2>
                <b-row class="justify-content-center mt-30">
                    <b-col md="12" class="pl-8rm">
                        <b-table hover :items="form.break_time" :fields="tableColumns" show-empty style="width: 89%">
                            <template v-slot:cell(Action)="items">
                                <b-row>
                                    <i class="fa fa-times fa-2x remove-color" aria-hidden="true" style="font-size: 20px; margin-left: 1rem; cursor: pointer;" v-on:click="removeElement(items.item)"></i>
                                </b-row>
                            </template>
                            <template v-slot:cell(duration)="items">
                                {{ items.item.duration }} minutes                                     
                            </template>
                                <template v-slot:emptyfiltered="scope">
                                <h4>{{ scope.emptyFilteredText }}</h4>
                            </template>
                        </b-table>
                    </b-col>
                </b-row> -->
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    //import Multiselect from 'vue-multiselect'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import { modalMixins } from '@/mixins/modal'
    //import Modal2 from '@/components/Modal2'

    export default {
        mixins: [formMixins,validationMixin, modalMixins],
        // components: {
        //     Modal2, Multiselect
        // },
        data(){
            return {
                stay_on_page: false,
                checked:false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Shift Schedules', href: '#' },
                    { text: 'New', active: true },
                ], 
                filterStyle: {
                    borderColor: '#dc3545',
                },
                tableData: [],
                tableColumns: [
                    'break_name', 'duration', 'break_mode', 'billable', 'Action'
                ],
                departmentOptions: [],
                departments: {},
                rowData:[],
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                weekDays: ['Su','M','Tu','W','Th','F','Sa'],
                form: {
                    name: null,
                    // departments: [],
                    // exceptions: null,
                    // working_days: [],
                    // working_hours_from: null,
                    // working_hours_to: null,
                    // start_half_day: null,
                    // end_half_day: null,
                    // break_time: [],
                    schedule_date_start: null,
                    schedule_date_end: null
                },
                form2: {
                    break_name: '',
                    break_mode: null,
                    duration: '',
                    billable: '',
                },
                employee_name: [],
                break_mode: [
                    { text: 'Select Break Mode', value: null },
                    { text: 'Automatic', value: 'automatic' },
                    { text: 'Manual', value: 'manual' }
                ]
            }
        },
        validations:{
            form: {
                name: {required},
                // departments:{required},
                schedule_date_start: {required},
                schedule_date_end: {required}
                // start_half_day: {required},
                // end_half_day: {required},
            }
        },
        
        methods: {
            toggleSelected () {
                if(this.form.departments != ''){
                    this.show4 = false;
                }
            },            
            saveShift(){             
                // this.$v.form.$touch()
                // if (this.$v.form.$anyError){
                //     this.makeToast('Oopps!','Fields with red are required','danger')
                //     if(this.form.departments == ''){
                //         this.show4 = true;
                //     }
                //     return
                // }else{
                //     if(this.form.working_days.length < 1){
                //         this.makeToast('Oopps!','Working days are required','danger')
                //     }else{
                //         this.form.working_days = JSON.stringify(this.form.working_days);
                        this.submitForm('schedules', { stay: this.stay_on_page, route:'shift_schedules.view' }).then(() => {
                            // for(let x = 0; x <= 6; x++){
                            //     let chk = document.getElementById("weekday-" + x);
                            //     chk.checked = false
                            // }
                        });
                //     }                  
                // }
            },
            removeElement : function (item) {
                this.form.break_time.splice(this.form.break_time.indexOf(item), 1);
            },
            addRow(){
                if (this.form2.break_name == '' || this.form2.duration == '' || this.form2.break_mode == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form2.break_name == ''){
                        this.show1 = true;
                    }
                    if(this.form2.duration == ''){
                        this.show2 = true;
                    }
                    if(this.form2.break_mode == null){
                        this.show3 = true;
                    }
                    setTimeout(()=>{
                        this.show1 = false;
                        this.show2 = false;
                        this.show3 = false;
                    },5000);
                }else{
                    var checkval = 'Non-Billable';
                    if(this.form2.billable == 1) {
                        checkval = 'Billable';
                    }
                    if(this.form.break_time == null) {
                        this.form.break_time = [];
                    }
                    var my_object = {
                        Action:'',
                        break_name:this.form2.break_name,
                        duration:this.form2.duration,
                        break_mode:this.form2.break_mode,
                        billable:checkval
                    };
                    
                    this.form2.break_name = '';
                    this.form2.duration = '';
                    this.form2.break_mode = null;
                    this.form2.billable = '';
                    this.form.break_time.push(my_object)
                    this.$bvModal.hide('modal-main')
                }                
            },
            closeAdd(){
                this.$refs['my-modal'].hide()
            },
            toggleDay(id){
                if(this.form.working_days ==null){
                    this.form.working_days = [];
                }
                
                let chk = document.getElementById(id);
                let days = id.replace("weekday-", '');
                if(chk.checked === true){
                    this.form.working_days.splice(this.form.working_days.findIndex(element => element == days), 1);
                }else{
                    this.form.working_days.push(Number(days))
                }
                
                (chk.checked === true ? chk.checked = false : chk.checked = true)
               
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            closeModal: function(){
                this.$bvModal.hide('modal-main')
            },
            filterKey(e){
                const key = e.key;
                // If is '.' key, stop it
                if (key === '.')
                    return e.preventDefault();                
                // OPTIONAL
                // If is 'e' key, stop it
                if (key === 'e')
                    return e.preventDefault();
            },
        },
        computed: {
            availableOptions() {
                return this.departmentOptions.filter(opt => this.form.departments .indexOf(opt) === -1)
            },
             EmployeeOptions() {
                return this.employee_name.filter(opt => this.form.exceptions .indexOf(opt) === -1)
            }
        },
        mounted(){            
            axios.get('schedules/create').then((response) => {
                let schedules = response.data.departments
                let employees = response.data.employees
                schedules.forEach((department) => {
                    this.departmentOptions.push({
                        id: department.id,
                        text: department.name
                    })
                });
                employees.forEach((employee) => {
                    this.employee_name.push({
                        id: employee.id,
                        text: employee.first_name + ' ' + employee.last_name
                    })
                });                
            });

        }
    }
   
</script>

<style scoped>
    .red-theme {
        border-color: #dc3545;
    }
    .p-5{
      padding: 0px !important;
    }
    .label-day{
        cursor: pointer;
        width: 35.6px;
        height: 35.6px;
        background: #fff;
        display: block;
        border-radius: 50%;
        position: relative;
        border-radius: 50%;
        border: 2.4px solid #55c755;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        color: #404040;
        margin-right: 10px;
        /*text-transform: uppercase;*/
    }
    .label-day-desc{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        text-align: center
    }
    input:checked + label{
        background-color: #55c755;
        color: #fff;
    }
    .greenlabel{
        background-color: #55c755;
    }
    .checkbox-day{
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }
</style>
<style>
.multiselect.is-danger .multiselect__tags {
    border-color: #dc3545;
}
.multiselect.departments .multiselect__tags {
    border-left: solid 1.5px #ec0000
}
</style>