<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">            
            <b-col md="12">
                <b-form @submit.stop.prevent="save">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" class="text-no-wrap">
                            <router-link :to="{name:'shift_schedules.view'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Shift Schedules</span>                        
                        </b-col>
                        <b-col sm="6" md="6" lg="6" class="text-no-wrap align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="justify-content-center mt-30">
                        <b-col md="12">
                            <b-row class="fs-18 pl-8rm"><b>Schedule Shifts</b></b-row>
                            <hr style="width: 80%">
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Shift Name</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-1" label-for="shift-name">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            v-model="$v.form.name.$model"
                                            :state="stateValidation('name')"
                                            placeholder="Enter Shift Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                                    <b>Shift Schedule Start</b>
                                </b-col>   
                                <b-col sm="12" md="6" lg="5">
                                    <b-form-group label-for="example-txtarea">
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                                v-model="$v.form.schedule_start.$model"
                                                :state="stateValidation('schedule_start')"
                                                :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                                    <b>Shift Schedule End</b>
                                </b-col>   
                                <b-col sm="12" md="6" lg="5">
                                    <b-form-group label-for="example-txtarea">
                                        <b-form-datepicker
                                            v-model="form.schedule_end"
                                            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Departments</b>
                                </b-col>
                                 <b-col md="5">
                                    <b-form-group>
                                        <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                                        <b-form-tags v-model="form.departments" size="lg" add-on-change no-outer-focus class="mb-2">
                                            <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                        <b-form-tag
                                                                @remove="removeTag(tag)"
                                                                :title="tag"
                                                                :disabled="disabled"
                                                                variant="info"
                                                        >{{ tag }}</b-form-tag>
                                                    </li>
                                                </ul>
                                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                                    v-bind="inputAttrs"
                                                    v-on="inputHandlers"
                                                    :disabled="disabled || availableOptions.length === 0"
                                                    :options="availableOptions">
                                                    <template v-slot:first>
                                                        <!-- This is required to prevent bugs with Safari -->
                                                        <option disabled value="">Choose departments here...</option>
                                                    </template>
                                                </b-form-select>
                                            </template>
                                        </b-form-tags>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Exception</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group>
                                        <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                                        <b-form-tags v-model="form.exceptions" size="lg" add-on-change no-outer-focus class="mb-2">
                                            <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                                                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                        <b-form-tag
                                                                @remove="removeTag(tag)"
                                                                :title="tag"
                                                                :disabled="disabled"
                                                                variant="info"
                                                        >{{ tag }}</b-form-tag>
                                                    </li>
                                                </ul>
                                                <b-form-select
                                                        v-bind="inputAttrs"
                                                        v-on="inputHandlers"
                                                        :disabled="disabled || EmployeeOptions.length === 0"
                                                        :options="EmployeeOptions">
                                                    <template v-slot:first>
                                                        <!-- This is required to prevent bugs with Safari -->
                                                        <option disabled value="">Choose Employee here...</option>
                                                    </template>
                                                </b-form-select>
                                            </template>
                                        </b-form-tags>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Working Days</b>
                                </b-col>
                                <b-col md="8" class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                                    <div v-for="(day,index) in weekDays" v-bind:key="index">
                                        <input 
                                            class="checkbox-day"
                                            type="checkbox" 
                                            v-bind:id="'weekday-'+index" 
                                            v-model="form.working_days" 
                                            :value="index" 
                                        >
                                        <label for="" class="label-day" @click="toggleDay('weekday-'+index)">
                                            <span class="label-day-desc">{{ day }}</span>
                                        </label>
                                    </div>
                                </b-col>
                            </b-row>
                            <b-row class="fs-18 pl-8rm pt-2rm"><b>Working Hours</b></b-row>
                            <hr style="width: 80%">
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Full Day</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group label="" label-for="full-day-start">
                                        <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                            locale="en"
                                            v-model="$v.form.start_full_day.$model"
                                            :state="stateValidation('start_full_day')"
                                        ></b-form-timepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class=""></b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group label="" label-for="full-day-end">
                                        <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                            locale="en"
                                            v-model="$v.form.end_full_day.$model"
                                            :state="stateValidation('end_full_day')"
                                        ></b-form-timepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Half Day</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group label="" label-for="half-day-start">
                                        <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                            locale="en"
                                            v-model="$v.form.start_half_day.$model"
                                            :state="stateValidation('start_half_day')"
                                        ></b-form-timepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b></b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group label="" label-for="half-day-end">
                                        <b-form-timepicker style="border-left: solid 1.5px #ec0000"
                                            locale="en"
                                            v-model="$v.form.end_half_day.$model"
                                            :state="stateValidation('end_half_day')"
                                        ></b-form-timepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <div class="fs-18 pl-8rm pt-2rm"><b>Break Time Settings</b>  <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="modalShow('AddBreak')">+ Add</a></div>
                            <hr style="width: 80%">
                            <modal2 ref="AddBreak">
                                <h5 slot="header">Add Break</h5>
                                <div slot="body">                            
                                    <b-row>
                                        <b-col md="4" class="text-right pt-9">
                                            <b class="">Break Name</b>
                                        </b-col>
                                        <b-col md="5">
                                            <b-form-group id="input-group-1" label-for="break-name">
                                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                                        id="break-name"
                                                        v-model="form2.name"
                                                        :style="show1 ? filterStyle : null"
                                                        required
                                                        placeholder="Enter Break Name"
                                                ></b-form-input>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col md="4" class="text-right pt-9">
                                            <b class="">Duration</b>
                                        </b-col>
                                        <b-col md="5">
                                            <b-form-group id="input-group-1" label-for="duration">
                                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                                    v-model="form2.edit_duration"
                                                    placeholder="Enter number in minutes e.g. 60"
                                                    type="number"
                                                    step=".01"
                                                    min="0"
                                                    @keydown="filterKey"
                                                    :style="show2 ? filterStyle : null"
                                                ></b-form-input>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col md="4" class="text-right pt-9">
                                            <b class="">Break Mode</b>
                                        </b-col>
                                        <b-col md="5">
                                            <b-form-group id="input-group-4" label-for="break_mode">
                                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                                :style="show3 ? filterStyle : null"
                                                v-model="form2.break_mode"
                                                :options="break_mode"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-select>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col md="4" class="text-right pt-9">
                                            <b class="">Billable</b>
                                        </b-col>
                                        <b-col md="5" class="mt-8">
                                            <b-form-group id="input-group-4" label-for="billable">
                                            <b-form-checkbox
                                                name="is_billable"
                                                id="is_billable"
                                                v-model="form2.is_billable">
                                                </b-form-checkbox>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>                           
                                </div>
                                <div slot="buttons">
                                    <b-button size="sm" class="btn-dltmodal-size mr-05" variant="success" @click="addRow"> Add</b-button>
                                    <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">Close</b-button>
                                </div>
                            </modal2>
                            <b-row class="justify-content-center mt-30">
                                <b-col md="12" class="pl-8rm">
                                    <b-table hover :items="form.break_time" :fields="tableColumns" show-empty style="width: 89%">
                                        <template v-slot:cell(Action)="items">
                                            <b-row>
                                                <i class="fa fa-times fa-2x remove-color" aria-hidden="true" style="font-size: 20px; margin-left: 1rem; cursor: pointer;" v-on:click="removeElement(items.item)"></i>
                                            </b-row>
                                        </template>
                                        <template v-slot:cell(break_name)="items">
                                            <b-form-input
                                                placeholder="Enter Break Name"
                                                :state="stateValidation('break_time', {child: true, index: items.index, name:'name'})"
                                                v-model="items.item.name"
                                                :style="{ width: '200px' }"
                                            ></b-form-input>
                                        </template>
                                        <template v-slot:cell(duration)="items">
                                            <b-form-input type="number"
                                                :state="stateValidation('break_time', {child: true, index: items.index, name:'edit_duration'})"
                                                v-model="items.item.edit_duration"
                                                placeholder="Enter number in minutes e.g. 60"
                                                :style="{ width: '100px' }"
                                                step=".01"
                                                min="0"
                                                @keydown="filterKey"
                                                title="Enter number in minutes e.g. 60"
                                            ></b-form-input>                                    
                                        </template>
                                        <template v-slot:cell(break_mode)="items">
                                            <b-form-select
                                                :state="stateValidation('break_time', {child: true, index: items.index, name:'break_mode'})"
                                                v-model="items.item.break_mode"
                                                :options="break_mode"
                                                :style="{ width: '200px' }"
                                            ></b-form-select>                        
                                        </template>
                                        <template v-slot:cell(billable)="items">
                                            <b-form-radio-group
                                                v-model="items.item.is_billable"
                                                :options="bill"
                                                :name="'radio-inline'+items.item.count"
                                                :id="'billable'+items.item.count"
                                                :style="{ width: '300px' }"
                                            ></b-form-radio-group>
                                        </template>
                                        <template v-slot:emptyfiltered="scope">
                                            <h4>{{ scope.emptyFilteredText }}</h4>
                                        </template>
                                    </b-table>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    export default {
        mixins: [validationMixin,formMixins],
        components: { Modal2 },
        data(){
            return {
                route:'schedules/'+this.$route.params.id, 
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Shift Schedules', href: '#' },
                    { text: 'Edit', active: true },
                ], 
                filterStyle: {
                    borderColor: '#dc3545',
                },
                tableData: [],
                tableColumns: [
                    'break_name', 'duration', 'break_mode', 'billable', 'Action'
                ],
                weekDays: ['Su','M','Tu','W','Th','F','Sa'],
                departmentOptions: [],
                departments: {},
                rowData:[],
                days:[],
                count:0,
                show1:false,
                show2:false,
                show3:false,           
                employee_name: [],  
                form: {
                    name: '',
                    schedule_start: '',
                    schedule_end: '',
                    departments: [],                
                    exceptions: null,
                    working_days: [],
                    start_full_day: null,
                    end_full_day: null,
                    start_half_day: null,
                    end_half_day: null,
                    break_time: [],
                },
                form2: {
                    name: '',
                    break_mode: null,
                    edit_duration: '',
                    is_billable: '',
                },
                bill: [
                    { text: 'Billable', value: 1 },
                    { text: 'Non-Billable', value: 0 },
                ],
                break_mode: [
                    { text: 'Select Break Mode', value: null },
                    { text: 'Automatic', value: 'automatic' },
                    { text: 'Manual', value: 'manual' }
                ]
            }
        },    
        validations: {
            form: {
                name: { required },
                schedule_start: { required },           
                departments:{required},
                start_full_day: {required},
                end_full_day: {required},
                start_half_day: {required},
                end_half_day: {required},
                break_time: {
                    $each : {
                        name: { required },
                        edit_duration: { required },
                        break_mode: { required },
                        is_billable: { required }
                    }
                }
            }
        },
        computed: {
            availableOptions() {
                return this.departmentOptions.filter(opt => this.form.departments .indexOf(opt) === -1)
            },
            EmployeeOptions() {
                return this.employee_name.filter(opt => this.form.exceptions .indexOf(opt) === -1)
            }
        },
        mounted() {
            axios.get('schedules/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data.schedule
                this.count = response.data.last_id
                this.form.name = data.name
                this.form.schedule_start = data.edit_sheduledate_start
                this.form.schedule_end = data.edit_scheduledate_from       
                this.form.start_full_day = data.edit_startfull_day
                this.form.end_full_day = data.edit_endfull_day
                this.form.start_half_day = data.edit_starthalf_day
                this.form.end_half_day = data.edit_endhalf_day
                this.form.exceptions = data.exempted_name
                this.form.working_days = data.working_days
                this.form.departments = data.edit_departments_name

                let departments = response.data.departments
                for (let department of departments){
                    this.departmentOptions.push(department.name)
                    let key = department.id
                    this.departments[key] = department.name
                }
                for (let data of response.data.employees){
                    this.employee_name.push(data.first_name+' '+data.last_name)
                }
                // this.form.break_time = data.break_time
                data.break_time.forEach((data) =>{
                    this.form.break_time.push({
                        id: data['id'],
                        count: data['id'],
                        name: data['name'],
                        edit_duration: data['edit_duration'],
                        break_mode: data['break_mode'],
                        is_billable: data['is_billable']
                    })
                });

            });

        },
        methods: {
            removeElement : function (item) {
                this.form.break_time.splice(this.form.break_time.indexOf(item), 1);
            },
            addRow(){
                if (this.form2.name == '' || this.form2.edit_duration == '' || this.form2.break_mode == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form2.name == ''){
                        this.show1 = true;
                    }
                    if(this.form2.edit_duration == ''){
                        this.show2 = true;
                    }
                    if(this.form2.break_mode == null){
                        this.show3 = true;
                    }
                    setTimeout(()=>{
                        this.show1 = false;
                        this.show2 = false;
                        this.show3 = false;
                    },5000);
                }else{
                    var checkval = 0;
                    if(this.form2.is_billable == 1) {
                        checkval = 1;
                    }
                    if(this.form2.break_mode == null) {
                        this.show3 = true;
                    }
                    if(this.form.break_time == null) {
                        this.form.break_time = [];
                    }
                    this.count ++;
                    var my_object = {
                        Action:'',
                        id: '',
                        count: this.count,
                        name:this.form2.name,
                        edit_duration:this.form2.edit_duration,
                        break_mode:this.form2.break_mode,
                        is_billable:checkval
                    };
                    
                    this.form2.name = '';
                    this.form2.edit_duration = '';
                    this.form2.break_mode = null;
                    this.form2.is_billable = null;
                    this.form.break_time.push(my_object)
                    this.$bvModal.hide('modal-main')
                }                
            },
            toggleDay(id){
                if(this.form.working_days == null){
                    this.form.working_days = [];
                }
                
                let chk = document.getElementById(id);
                let days = id.replace("weekday-", '');

                if(this.form.working_days.includes(parseInt(days))){
                    this.form.working_days.splice(this.form.working_days.indexOf(parseInt(days)), 1);
                }else{
                    this.form.working_days.push(parseInt(days));
                }
                
                chk.checked = !chk.checked;
                
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            closeModal: function(){
                this.$bvModal.hide('modal-main')
            },
            filterKey(e){
                const key = e.key;
                // If is '.' key, stop it
                if (key === '.')
                    return e.preventDefault();                
                // OPTIONAL
                // If is 'e' key, stop it
                if (key === 'e')
                    return e.preventDefault();
            },
            save(){
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{                  
                    this.submitForm('schedules/'+this.$route.params.id, { stay: false, route:'shift_schedules.view', edit: true });
                    this.form2 = {
                        name: '',
                        break_mode: null,
                        edit_duration: '',
                        is_billable: '',
                    };
                }
                
            }
        },
    }
</script>

<style scoped>
    .red-theme {
        border-color: #dc3545;
    }
    .p-5{
      padding: 0px !important;
    }
    .label-day{
        cursor: pointer;
        width: 35.6px;
        height: 35.6px;
        background: #fff;
        display: block;
        border-radius: 50%;
        position: relative;
        border-radius: 50%;
        border: 2.4px solid #55c755;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        color: #404040;
        margin-right: 10px;
        /*text-transform: uppercase;*/
    }
    .label-day-desc{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        text-align: center
    }
    input:checked + label{
        background-color: #55c755;
        color: #fff;
    }
    .greenlabel{
        background-color: #55c755;
    }
    .checkbox-day{
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }
</style>