<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Shift Schedule</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">Shift Schedules List</p></div>
                <div class="col text-right">
                    <router-link :to="{name:'shift_schedules.create'}"><b-button class="hr-btn mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>  
            <vuetable 
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                class="table-overflow"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="name" slot-scope="props">
                    <router-link :to="{ name: 'shift_schedules.view', params: {id: props.rowData.id} }">{{ props.rowData.name }}</router-link>
                </div>
                <div slot="schedule_date" slot-scope="props">
                    <label>{{props.rowData.schedule_date_start}} - {{props.rowData.schedule_date_end}}</label>
                </div>
                <!-- <div slot="departments" slot-scope="props">
                    <div class="taghead">
                        <div v-if="props.rowData.departments_name.length===0" class="tags">N/A</div>
                    </div>
                    <div class="taghead">
                        <div class="tags" v-for="system in props.rowData.departments_name" :key="system">
                            {{ departmentname(system) }}
                        </div>
                    </div>
                </div> -->
                <div slot="working_days" slot-scope="props">
                    <div class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                        <b v-if="props.rowData.working_days.length===0">N/A</b>
                        <div v-for="(day,index) in props.rowData.working_days"
                            v-bind:key="index">
                            <label class="label-day">
                                <span class="label-day-desc" >{{ dayname(day) }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </b-col>
</template>

<script>
    import NoData from '@/components/NoDataPage'
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "shift-schedules",
                    title: "Shift Schedules",
                    description: "Shift Schedules are the records of Employees different working hours on the organization.",
                    route_create: "shift_schedules.create",
                    route_import: "shift_schedules.import",
                    params: "shift_schedules",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Shift Schedules', href: '#'},
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                weekDays: [
                    { text: 'M', value: '1'},
                    { text: 'Tu', value: '2'},
                    { text: 'W', value: '3'},
                    { text: 'Th', value: '4'},
                    { text: 'F', value: '5'},
                    { text: 'Sa', value: '6'},
                    { text: 'Su', value: '0'}
                ],
                fields: [   
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },                 
                    {
                        name: 'name',
                        title: 'Schedule Name',
                        sortField: 'name'
                    },
                    {
                        name: 'schedule_date',
                        title: 'Schedule Date From - To',
                        sortField: 'schedule_date'
                    },
                    {
                        name: 'is_activate',
                        title: 'Status',
                        sortField: 'is_activate'
                    }                     
                ],                
                data: [],
                perPage: 10,
                tag: '',
                tags: [],
                DepartmentData:[],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('schedules').then( response => {
                let schedules = response.data

                schedules.forEach(schedule => {
                    this.data.push({
                        id: schedule.id,
                        name: schedule.name,
                        schedule_date_start: schedule._parse_schedule_date_start,
                        schedule_date_end: schedule._parse_schedule_date_end,
                        is_activate: schedule.is_activate == 1 ? 'Activated': 'Inactive'
                    });
                });
            })
            axios.get('department').then( response => {
                this.DepartmentData = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            dayname(salut) {
                var text = '';
                 for (let days of this.weekDays){
                     if(days.value == salut) text = days.text
                 }
                 return text;
            },
            departmentname(id) {
                var text = '';
                    for (let dep of this.DepartmentData){
                        if(dep.id == id) text = dep.name
                    }
                    return text;
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('schedules/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
 .p-5{
  padding: 0px !important;
}
.tags{
     background-color: #55c755;
    color: #fff;
    border-radius: 2px;
    display: flex;
    padding: 3px 5px;
    margin: 2px;
    font-size: .85em;
}
.taghead{
    display: flex;
    padding: 4px;
    flex-wrap: wrap;
}
.p-5{
    padding: 0px !important;
}
.label-day{
    cursor: pointer;
    width: 35.6px;
    height: 35.6px;
    background: #fff;
    display: block;
    border-radius: 50%;
    position: relative;
    border-radius: 50%;
    border: 2.4px solid #55c755;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #404040;
    margin-right: 10px;
    /*text-transform: uppercase;*/
}
.label-day-desc{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    text-align: center
}
input:checked + label{
    background-color: #55c755;
    color: #fff;
}
.checkbox-day{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
</style>