<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="8">
                        <router-link :to="{name: 'shift_schedules'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">{{ ShiftSchedData.name }} - ({{ ShiftSchedData._parse_schedule_date_start }} - {{ ShiftSchedData._parse_schedule_date_end }})</span>
                    </b-col>
                    <b-col md="4" class="align-right">
                        <!-- <router-link :to="{name: 'shift.schedule.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link> -->
                        <ToggleButton id="secondary" :defaultState="active" v-on:change="triggerToggleEvent"/>
                        <b-dropdown right class="btn-ts btn-size hr-more">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item  @click.stop.prevent="modalShow" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item  title="Edit Data" component="delete">
                                <router-link :to="{name: 'shift.schedule.edit', params: {id: this.$route.params.id}}">
                                    Edit
                                </router-link>
                            </b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'shift_schedules.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'shift_schedules.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <!-- <label class="hr-title fw-bold">Shift Schedules</label>
                <hr class="hr-view">
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="align-right form-group">
                                <label class="fs-14">Shift Name</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14 fw-bold">{{ ShiftSchedData.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="align-right form-group">
                                <label class="fs-14">Schedule Date From</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14 fw-bold">{{ ShiftSchedData._parse_schedule_date_start }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="align-right">
                                <label class="fs-14">Schedule Date To</label>
                            </b-col>
                            <b-col md="7" class="align-left">
                                <label class="fs-14 fw-bold">{{ ShiftSchedData._parse_schedule_date_end }}</label>
                            </b-col>
                        </b-row><br>
                        <b-row>
                            <b-col md="5" class="align-right">
                                <label class="fs-14">Departments</label>
                            </b-col>
                            <b-col md="7" class="align-left mt-n0-7rm ml-n6">
                                <div class="taghead">
                                    <div v-if="ShiftSchedData.departments_name.length === 0" class="pt-8 fw-bold">N/A</div>
                                    <div class="tags fw-bold" v-for="system in ShiftSchedData.departments_name" :key="system">
                                    {{ departmentname(system) }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row><br>
                        <b-row>
                            <b-col md="5" class="align-right">
                                <label class="fs-14 ">Exception</label>
                            </b-col>
                            <b-col md="7" class="align-left mt-n0-7rm ml-n6">
                                <div class="taghead">
                                    <div v-if="ShiftSchedData.exceptions.length === 0" class="pt-8 fw-bold">N/A</div>
                                    <div class="tags fw-bold" v-for="system in ShiftSchedData.exceptions" :key="system">
                                    {{ employeename(system) }}
                                    </div>
                                </div>
                            </b-col>
                        </b-row><br>
                        <b-row>
                            <b-col md="5" class="align-right">
                                <label class="fs-14 ">Working Hours</label>
                            </b-col>
                            <b-col md="7" class="align-left">
                                <label class="fs-14 fw-bold">{{ ShiftSchedData.working_hours_from }} - {{ ShiftSchedData.working_hours_to }}</label>
                            </b-col>
                        </b-row><br>
                        <b-row>
                            <b-col md="5" class="align-right">
                                <label class="fs-14 ">Working Days</label>
                            </b-col>
                            <b-col md="7" class="align-left mt-n0-7rm ml-n1rm">
                                <div class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                                    <div v-for="(day,index) in ShiftSchedData.working_days"
                                        v-bind:key="index">
                                        <label class="label-day">
                                            <span class="label-day-desc fw-bold" >{{ dayname(day) }}</span>
                                        </label>
                                    </div>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row> -->
                <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>

                <label class="hr-title fw-bold mt-20">Add Employee</label>
                <hr class="hr-view">
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="align-right pt-9">
                                <label class="fs-14">Add Employee</label>
                            </b-col>   
                            <b-col md="7">
                                <b-form-group label="" >
                                    <multiselect 
                                        class="employee_id"
                                        group-values="users"
                                        group-label="role"
                                        v-model="$v.form.employee_id.$model"
                                        :state="stateValidation('employee_id')"
                                        @input="toggleSelected()"
                                        track-by="id"
                                        label="user_name"
                                        :options="approver_option"
                                        :searchable="true"
                                        :group-select="true"
                                        placeholder="Type to search"
                                        :class="{ 'is-danger': showRequired }"
                                        :multiple="true">       
                                    </multiselect>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        
                        <!-- <b-row class="pt-1rm">
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 ">Half Day</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ ShiftSchedData.start_half_day }} - {{ ShiftSchedData.end_half_day }}</label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                </b-row>
                <!-- <b-row class="fs-18 pl-8rm pt-2rm"><b>Working Hours</b></b-row>
                <hr style="width: 80%"> -->
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="text-right pt-9">
                                <label class="fs-14">Time-in</label>
                            </b-col>
                            <b-col md="7">
                                <b-form-group label="" label-for="full-day-start">
                                    <b-form-timepicker 
                                        id="full-day-start" locale="en" 
                                        style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.time_in.$model" :state="stateValidation('time_in')"
                                        ></b-form-timepicker>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="text-right pt-9">
                                <label class="fs-14">Time-out</label>
                            </b-col>
                            <b-col md="7">
                                <b-form-group label="" label-for="full-day-end">
                                    <b-form-timepicker 
                                        id="full-day-end" locale="en" 
                                        style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.time_out.$model" :state="stateValidation('time_out')"
                                        ></b-form-timepicker>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="text-right pt-9">
                                <label class="fs-14">Attach Restday</label>
                            </b-col>
                            <b-col md="7" class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                                <div v-for="(day,index) in weekDays" v-bind:key="index">
                                    <input class="checkbox-day" type="checkbox" v-bind:id="'weekday-'+index" value="1">
                                    <label for="" class="label-day" @click="toggleDay('weekday-'+index)">
                                        <span class="label-day-desc">{{ day }}</span>
                                    </label>
                                </div>
                            </b-col>
                            
                        </b-row>
                        
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="text-right pt-9">
                            </b-col>
                            <b-col md="7" class="weekday-container pl-1rm mt-8" style="display: inline-flex;">
                                <b-button @click="save()" class="admin-btn">Add</b-button>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                
                <!-- <b-row class="mt-20">
                    <b-col md="6">
                        <label class="hr-title fw-bold">Break Time Settings</label>
                    </b-col>                   
                </b-row>
                <hr class="hr-view">    
                <vuetable ref="vuetable" :fields="BreakTimeHeader" :data="ShiftSchedData.break_time" :api-mode="false" class="table-overflow" :css="css.table" >
                    <div slot="is_billable" slot-scope="props">
                        {{ (props.rowData.is_billable == 0 ? 'Non-Billable':'Billable') }}
                    </div>
                    <div slot="duration" slot-scope="props">
                        {{ parseFloat(props.rowData.duration) + ' minutes'}}
                    </div>
                </vuetable>      -->
            </b-container>
            <b-container>
                <b-tabs class="pt-1rm" content-class="mt-3">
                    <!-- <b-button @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Remove</b-button> -->
                    <b-tab title="Employees" active>
                        <vuetable 
                            @vuetable:checkbox-toggled-custom="addCheckboxID" 
                            @vuetable:checkbox-toggled-all="checkALL" 
                            ref="vuetable"
                            class="pt-1rm table-overflow"
                            :fields="employeeHeader"
                            :data="employees"
                            :api-mode="false"
                            :css="css.table" >
                        </vuetable>
                    </b-tab>
                </b-tabs>
            </b-container>

            <!-- Modal Section -->
            <modal2 ref="activate">
                <h5 slot="header">Activate Schedule</h5>
                <div slot="body">
                    <b-col md="10">
                        <p class="fs-16 margin-0">Are you sure you want to activate {{ ShiftSchedData.name }}</p>
                        <p class="fs-16">You can't undo this action.</p>
                    </b-col>
                </div>
                <div slot="buttons">
                    <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem; background: #55c755; border-color: #ec0000" @click="activateSchedule"> Save</b-button>
                    <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">Close</b-button>
                </div>
            </modal2>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import { validationMixin } from "vuelidate"
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    import ToggleButton from '@/components/ToggleButton'
    import Multiselect from 'vue-multiselect'
    import Checkbox from '@/components/Checkbox'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import Modal2 from '@/components/Modal2'
    import { mapActions } from 'vuex'

    export default {
        components: {
            Multiselect, Vuetable, Modal2, ApprovalStatus, Approval, ToggleButton
        },
        mixins: [validationMixin,formMixins,modalMixins, VuetableFieldCheckboxMixin],
        data() {
            return {
                checkboxID: [],
                active: false,
                css: VuetableCSS,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Shift Schedules', href: '#' },
                    { text: 'View', active: true }
                ],
                break_mode: [
                    { text: 'Automatic', value: 'first'},
                    { text: 'Manual', value: 'second' }
                ],
                approveData: [],
                DeleteData: [],
                ShiftSchedData: [],
                EmployeeData: [],
                DepartmentData: [],
                TimelineData: [],
                history_logs: [],
                employees: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Shift Schedule'
                },
                weekDays: ['Su','M','Tu','W','Th','F','Sa'],
                employeeHeader: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },                 
                    {
                        name: 'employee_name',
                        title: 'Employee',
                        sortField: 'employee_name',
                    },
                    {
                        name: 'department',
                        title: 'Department',
                        sortField: 'department',
                    },
                    {
                        name: 'time',
                        title: 'Time',
                        sortField: 'time',
                    },
                    {
                        name: 'rest_days',
                        title: 'Rest Days',
                        sortField: 'rest_days',
                    }
                ],
                BreakTimeHeader: [
                    {
                        name: 'name',
                        title: 'Name',
                        sortField: 'name',
                    },
                    {
                        name: 'duration',
                        title: 'Duration',
                        sortField: 'duration',
                    },
                    {
                        name: 'break_mode',
                        title: 'Break Mode',
                        sortField: 'break_mode',
                    },
                    {
                        name: 'is_billable',
                        title: 'Billable',
                        sortField: 'is_billable',
                    }
                ],
                approver_option: [],
                form: {
                    employee_id: '',
                    restdays: [],
                    time_in: '8:00',
                    time_out: '17:00',
                },
                showRequired: false
            }
        },
        validations: {
            form: {
                employee_id: { required },
                restdays: { required },
                time_in: { required },
                time_out: { required },
            }
        },
        mounted(){

            axios.get('approval_process/create').then((response) => {
                this.approver_option = response.data.approver
            });

            axios.get('schedules/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.ShiftSchedData = data;
                if (this.ShiftSchedData.is_activate == 1) {
                    this.active = true;
                } else {
                    this.active = false;
                }

                this.history_logs = response.data.history_logs
                this.DeleteData = {value:this.$route.params.id,route:'schedules/',route2:'shift_schedules',data:this.ShiftSchedData.name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'shift_schedules.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
            axios.get('department').then(response => {
                this.DepartmentData = response.data;
            });
            axios.get('employees').then(response => {
                this.EmployeeData = response.data;
            });

            axios.get('schedules/' + this.$route.params.id + '/schedule-items').then(response => {
                let data = response.data;
                data.forEach(schedule => {
                    this.employees.push({
                        employee_name: schedule.employee_name,
                        department: schedule.department,
                        rest_days: schedule._parse_restdays,
                        time: schedule._parse_time_in + ' - ' + schedule._parse_time_out
                    });
                });
            });
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            toggleDay(id){
                if(this.form.restdays ==null){
                    this.form.restdays = [];
                }
                
                let chk = document.getElementById(id);
                let days = id.replace("weekday-", '');
                if(chk.checked === true){
                    this.form.restdays.splice(this.form.restdays.findIndex(element => element == days), 1);
                }else{
                    this.form.restdays.push(Number(days))
                }
                
                (chk.checked === true ? chk.checked = false : chk.checked = true)
               
            },
            closeModal: function(){
                this.active = false;
                this.$bvModal.hide('modal-main')
            },
            activateSchedule() {
                this.fetchLoader(true);
                axios.post('schedules/' + this.$route.params.id + '/schedule-employees').then((result) => {
                    console.log(result);
                    this.fetchLoader(false)
                    this.makeToast('Success!','Successfully Activated','success')
                    setTimeout( function() { window.location.reload(true); }, 500);
                });
            },
            deleteModal: function (){
                //
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            save() {
                if(this.form.employee_id == ''){
                    this.showRequired = true;
                    this.makeToast('Oopps!','Add Employee Field is Required.','danger')
                } else if(this.form.restdays.length < 1){
                        this.makeToast('Oopps!','Attach Restday to proceed.','danger')
                } else {
                    this.submitForm('schedules/' + this.$route.params.id + '/schedule-items').then((result) => {
                        console.log(result);
                        setTimeout( function() { window.location.reload(true); }, 500);
                    });
                }
            },
            triggerToggleEvent(value) {
                this.active = value;
                this.$refs['activate'].$children[0].show()
            },
            thisMinutes(data) {
                return Math.round(Number(data / 60).toFixed(1));
            },
            dayname(salut) {
                var text = '';
                    for (let days of this.weekDays){
                        if(days.value == salut) text = days.text
                    }
                    return text;
            },
            employeename(salut) {
                var text = '';
                    for (let days of this.EmployeeData){
                        if(days.id == salut) text = days.first_name+' '+days.last_name
                    }
                    return text;
            },
            departmentname(id) {
                var text = '';
                    for (let dep of this.DepartmentData){
                        if(dep.id == id) text = dep.name
                    }
                    return text;
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
        }
    }
    
</script>

<style scoped>
.tags{
    background-color: #55c755;
    color: #fff;
    border-radius: 2px;
    display: flex;
    padding: 6px 9px;
    margin: 2px;
}
.taghead{
    display: flex;
    padding: 4px;
}
.p-5{
      padding: 0px !important;
}
.label-day{
    cursor: pointer;
    width: 35.6px;
    height: 35.6px;
    background: #fff;
    display: block;
    border-radius: 50%;
    position: relative;
    border-radius: 50%;
    border: 2.4px solid #55c755;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #404040;
    margin-right: 10px;
    /*text-transform: uppercase;*/
}
.label-day-desc{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    text-align: center
}
input:checked + label{
    background-color: #55c755;
    color: #fff;
}

.checkbox-day{
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}
</style>
<style> 
.multiselect.employee_id .multiselect__tags {
    border-left: solid 1.5px #ec0000
}
</style>