<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('employee_leave', { stay: checked, route:'leave_tracker.view' })">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" class="text-no-wrap">
                            <router-link :to="{ name:'leave_tracker' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Leave Tracker</span>                        
                        </b-col>
                        <b-col sm="6" md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <EmployeeSelection v-on:assignEmployeeID="assignEmployee" style="margin-bottom:20px"/>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>Leave Type</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="input-2"
                                        v-model="$v.form.leave_id.$model"
                                        :options="leave_types"
                                        :state="stateValidation('leave_id')"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>Start Date</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group label="" label-for="start-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    id="start-date"
                                    v-model="$v.form.start_date.$model"
                                    :state="stateValidation('start_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>End Date</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group label="" label-for="end-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    id="end-date" 
                                    v-model="$v.form.end_date.$model"
                                    :state="stateValidation('end_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9">
                            <b>Purpose</b>
                        </b-col>   
                        <b-col md="7" lg="5" class="mt-n1rm">
                            <p></p>
                            <b-form-group label="" label-for="example-txtarea">
                                <b-form-textarea
                                        id="example-txtarea"
                                        placeholder="Enter a purpose"
                                        rows="3"
                                        max-rows="6"
                                        v-model="$v.form.reason.$model"
                                        :state="stateValidation('reason')"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>               
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios';
    import EmployeeSelection from '@/components/EmployeeSelection.vue';

    export default {
        mixins: [validationMixin,formMixins],
        components: {EmployeeSelection},
        data(){
            return {
                checked:false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Leave Tracker', href: '#' },
                    { text: 'New', active: true },
                ], 
               form: {
                    employee_id: null,
                    leave_id: null,
                    start_date: '',
                    end_date: '',
                    reason: ''
                },
                employees: [{text: 'Select Employee', value: null}],
                leave_types: [{text: 'Select Leave Type', value: null}],
            }
        },
         validations: {
            form: {
                employee_id: { required },
                leave_id: { required },
                start_date: { required },
                end_date: { required },
                reason: { required },
            }
        },
        mounted(){
            axios.get(`employee_leave/create`).then(response => {
                let employee_data = response.data.employees;
                employee_data.forEach((employee) =>{
                    this.employees.push({value: employee.id, text: employee.last_name + " " + (employee.middle_name == null? "": employee.middle_name + " ") + employee.first_name });
                });

                let leave_type_data = response.data.leave_type;
                leave_type_data.forEach((leave_type) =>{
                    this.leave_types.push({value: leave_type.id, text: leave_type.name });
                });
            });
        },
        methods:{
            assignEmployee(value){
                this.form.employee_id = value;
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>