<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm(route, { stay: false, route:'leave_tracker.view', edit: true })">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" class="text-no-wrap">
                            <router-link :to="{ name:'leave_tracker.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Leave Tracker</span>                        
                        </b-col>
                        <b-col sm="6" md="6" lg="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>Employee Name</b>
                        </b-col>
                        <b-col md="7" lg="5">
                            <b-form-group id="employee_id" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.employee_id.$model"
                                        :state="stateValidation('employee_id')"
                                        aria-describedby="input-1-live-feedback"
                                        readonly
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>Leave Type</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.leave_id.$model"
                                        :options="leave_options"
                                        :state="stateValidation('leave_id')"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>Start Date</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group label-for="start-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.start_date.$model"
                                    :state="stateValidation('start_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                            <b>End Date</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group label-for="end-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.form.end_date.$model"
                                    :state="stateValidation('end_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" lg="4" class="align-right media-left pt-9">
                            <b>Purpose</b>
                        </b-col>   
                        <b-col md="7" lg="5" class="mt-n1rm">
                            <p></p>
                            <b-form-group label-for="example-txtarea">
                                <b-form-textarea
                                        placeholder="Enter a purpose"
                                        rows="3"
                                        max-rows="6"
                                        v-model="form.reason"
                                        :state="stateValidation('reason')"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>               
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                busy: false,
                route:'employee_leave/'+this.$route.params.id, 
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Leave Tracker', href: '#' },
                    { text: 'Edit', active: true },
                ], 
               form: {
                    employee_id: '',
                    leave_id: null,
                    start_date: '',
                    end_date: '',
                    reason: ''
                },
                employee_options: [
                    { value: null, text: 'Select Employee' }
                ],
                leave_options: [
                    { value: null, text: 'Select Leave Type' }
                ],
            }
        },
        validations: {
            form: {
                employee_id: { required },
                leave_id: { required },
                start_date: { required },
                end_date: { required },
                reason: { required },
            }
        },
        mounted(){
            axios.get('employee_leave/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data
                this.employees = data.employee_leave
                this.leave_types = data.leave_type
                this.form.employee_id = data.employee_leave.employee_name
                this.form.leave_id = data.employee_leave.leave_type.id
                this.form.start_date = data.employee_leave.start_date
                this.form.end_date = data.employee_leave.end_date
                this.form.reason = data.employee_leave.reason

                for (let types of response.data.leave_type){
                    this.leave_options.push({
                        value: types.id,
                        text: types.name
                    });
                }

            });
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>