<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Leave Tracker</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm" @click="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col sm="6" md="6" lg="6" class="text-no-wrap">
                    <span class="hr-title">Leave Tracker List</span>
                </b-col>
                <b-col sm="6" md="6" lg="6" class="align-right">
                    <router-link :to="{name: 'leave_tracker.create'}"> <b-button class="hr-btn btn-shadow mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item style="display: none;" class="show-edit">New</b-dropdown-item>
                        <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-dropdown-item>
                        <b-dropdown-item><router-link :to="{ name: 'leave_tracker.settings' }">Settings</router-link></b-dropdown-item>
                        <!-- <b-dropdown-item>List View</b-dropdown-item>
                        <b-dropdown-item>Calendar View</b-dropdown-item> -->
                    </b-dropdown>
                </b-col>
            </b-row>
            <b-row class="mt-30">
                <b-col md="6" lg="9"></b-col>
                <b-col xs="12" sm="12" md="6" lg="3">
                    <b-input-group>
                        <b-form-input></b-form-input>
                        <b-input-group-append>
                            <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
            </b-row>
        
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetables" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                :sort-order="sortOrder">
                <div slot="employee_name" slot-scope="props">
                    <router-link :to="{ name: 'leave_tracker.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                </div>
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </div>
        </template>

        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'
    import moment from 'moment'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "leave-tracker",
                    title: "Leave Tracker",
                    description: "To easily record Employee Leaves for vacations, holidays, sick days, half- days etc.",
                    route_create: "leave_tracker.create",
                    route_import: "leave_tracker.import",
                    route_setting: "leave_tracker.settings",
                    settings: "Setup Leave Settings",
                    params: "leave_tracker",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Leave Tracker', href: '#'},
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'leave_type',
                        title: 'Leave Type',
                        sortField: 'leave_type',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'leave_duration',
                        title: 'Leave Duration',
                        sortField: 'leave_duration',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'reason',
                        title: 'Reason',
                        sortField: 'reason',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                        formatter: (value) => {
                            return value
                        }
                    },
                ],
                perPage: 10,
                data:[],
            }
        },
        watch: {
            data(){
                this.$refs.vuetables.refresh();
            }
        },
        mounted() {
            axios.get('employee_leave').then( response => {
                let leaves = response.data;
                leaves.forEach(leave => {
                    let total_days = (Number(leave.total_days) && Number(leave.total_days).toLocaleString(undefined, {maximumFractionDigits:2}) || "0") ;
                    this.data.push({
                        id: leave.id,
                        employee_name:  leave.employee_name,
                        leave_type: leave.leave_type.name,
                        leave_duration: moment(String(leave.start_date)).format('MMM DD, YYYY ') + "- " + moment(String(leave.end_date)).format('MMM DD, YYYY ') +'<br><p class="mini-desc">'+ total_days + (leave.total_days>1?' days':' day') + '</p>',
                        reason: leave.reason,
                        status: leave.status
                    });
                });
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                if(checked){
                    this.checkboxID = this.$refs.vuetables.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetables.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetables.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('employee_leave/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
.disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;  
}
</style>