<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <div class="row justify-content-center mt-30" >
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('leave_type', { stay: checked, route:'leave_tracker.settings.view' })">
                    <b-row>
                        <b-col md="6" lg="6">
                            <router-link :to="{ name:'leave_tracker.settings' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Leave Type</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="row mt-30">
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Name</b>
                        </b-col>   
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-1" label-for="name">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="name"
                                        id="name"
                                        v-model="$v.form.name.$model"
                                        :state="validateState('name',$v.form)"
                                        placeholder="Enter Leave Type Name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Code</b>
                        </b-col>   
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-1" label-for="code">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="code"
                                        id="code"
                                        v-model="$v.form.code.$model"
                                        :state="validateState('code',$v.form)"
                                        placeholder="Enter Code"
                                ></b-form-input> 
                            </b-form-group>
                        </b-col>
                    </b-row>
                        
                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Default Leave Count</b>
                        </b-col>   
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-1" label-for="balance">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="balance"
                                        id="balance"
                                        v-model="$v.form.balance.$model"
                                        :state="validateState('balance',$v.form)"
                                        placeholder="Enter Default Leave Count"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Marital Status</b>
                        </b-col>
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    name="marital_status"
                                    id="marital_status"
                                    v-model="form.marital_status"
                                    :state="validateState('marital_status',$v.form)"
                                    :options="marital_status"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right">
                            <b>Gender</b>
                        </b-col>   
                        <b-form-group class="pl-1rm">
                            <b-form-radio-group
                                name="gender"
                                id="gender"
                                v-model="form.gender"
                                :state="validateState('gender',$v.form)"                                
                                :options="gender"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right">
                            <b>Type</b>
                        </b-col>   
                        <b-form-group class="pl-1rm">
                            <b-form-radio-group
                                name="type"
                                id="type"
                                v-model="$v.form.type.$model"
                                :state="validateState('type',$v.form)"
                                :options="type_option"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-row>

                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Encashment Percentage</b>
                        </b-col>   
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-1" label-for="encashment_percentage">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="encashment_percentage"
                                        id="encashment_percentage"
                                        v-model="$v.form.encashment_percentage.$model"
                                        :state="validateState('encashment_percentage',$v.form)"
                                        placeholder="Enter Encashment Percentage"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Carry Forward Percentage</b>
                        </b-col>   
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-1" label-for="carry_forward_percentage">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="carry_forward_percentage"
                                        id="carry_forward_percentage"
                                        v-model="$v.form.carry_forward_percentage.$model"
                                        :state="validateState('carry_forward_percentage',$v.form)"
                                        placeholder="Enter Carry Forward Percentage"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Effective After</b>
                        </b-col>   
                        <b-col md="2">
                            <b-form-group id="input-group-1" label-for="effective_value">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="effective_value"
                                        id="effective_value"
                                        v-model="$v.form.effective_value.$model"
                                        :state="validateState('effective_value',$v.form)"
                                        placeholder="Enter Here"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col md="3">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    name="effective_type"
                                    id="effective_type"
                                    v-model="$v.form.effective_type.$model"
                                    :state="validateState('effective_type',$v.form)"
                                    :options="effective_type"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" lg="4" class="align-right pt-9 media-left">
                            <b>Description</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group label-for="description">
                                <b-form-textarea
                                        name="description"
                                        id="description"
                                        v-model="form.description"
                                        placeholder="Add a description"
                                        rows="3"
                                        no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <b>Departments</b>
                        </div>
                        <div class="col-md-5">
                            <b-form-group label="">
                                <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                                <b-form-tags v-model="$v.form.departments.$model" size="lg" add-on-change no-outer-focus class="mb-2">
                                    <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                <b-form-tag
                                                        @remove="removeTag(tag)"
                                                        :title="tag"
                                                        :disabled="disabled"
                                                        variant="info"
                                                >{{ tag }}</b-form-tag>
                                            </li>
                                        </ul>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                        :state="validateState('departments',$v.form)"
                                                v-bind="inputAttrs"
                                                v-on="inputHandlers"
                                                :disabled="disabled || availableOptions.length === 0"
                                                :options="availableOptions">
                                            <template v-slot:first>
                                                <!-- This is required to prevent bugs with Safari -->
                                                <option disabled value="">Choose departments here...</option>
                                            </template>
                                        </b-form-select>
                                    </template>
                                </b-form-tags>
                            </b-form-group>
                        </div>
                    </div>

                    <b-row>
                        <b-col md="4" class="text-right">
                            <b>Designations</b>
                        </b-col>
                        <b-col md="6" lg="6">
                            <b-form-group label="">
                                <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                                <b-form-tags v-model="$v.form.designations.$model"  size="lg" add-on-change no-outer-focus class="mb-2">
                                    <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                <b-form-tag
                                                        @remove="removeTag(tag)"
                                                        :title="tag"
                                                        :disabled="disabled"
                                                        variant="info"
                                                >{{ tag }}</b-form-tag>
                                            </li>
                                        </ul>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            :state="validateState('designations',$v.form)"
                                            v-bind="inputAttrs"
                                            v-on="inputHandlers"
                                            :disabled="disabled || obtainableOptions.length === 0"
                                            :options="obtainableOptions"
                                        >
                                            <template v-slot:first>
                                                <option disabled value="">Choose designations here...</option>
                                            </template>
                                        </b-form-select>
                                    </template>
                                </b-form-tags>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Office Type</b>
                        </b-col>
                        <b-col md="6" lg="6">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    name="office_type"
                                    id="office_type"
                                    v-model="$v.form.office_type.$model"
                                    :state="validateState('office_type',$v.form)"
                                    :options="office_type"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
             
                </b-form>
            </b-col>
        </div>
    </b-col>
</template>

<script>
 
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked:false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Time Attendance', active:true },
                    { text: 'Leave Tracker', href: '#'},
                    { text: 'Settings', active:true },
                    { text: 'New', active:true },
                ],
                marital_status: [
                    { value: null, text: "Select Marital Status" },
                    { value: '1', text: 'Single'},
                    { value: '0', text: 'Married'}
                ],
                gender: [
                    { text: 'Male', value: '1'},
                    { text: 'Female', value: '0' }
                ],
                type_option: [
                    { text: 'Paid', value: '1'},
                    { text: 'Unpaid', value: '0' }
                ],
                effective_type: [
                    { value: null, text: "Select Effective Type" },
                    { value: '3', text: 'Days'},
                    { value: '2', text: 'Months'},
                    { value: '1', text: 'Year'}
                ],
                office_type: [
                    { value: null, text: "Select Office Type" },
                    { value: '1', text: 'Head Office' },
                    { value: '2', text: 'Stockyard' }
                ],
                departmentOptions: [],
                designationOptions: [],
                departments: {},
                designations: {},
                form: {
                    name: '',
                    code: '',
                    balance: '',
                    type: null,
                    gender: null,
                    description: null,
                    encashment_percentage: null,
                    effective_value: null,
                    marital_status: null,
                    effective_type: null,
                    departments: null,
                    designations: null,
                    office_type: null,
                    carry_forward_percentage: null,
                },
            };
        },
        validations: {
            form: {
                name: { required },
                code: { required },
                balance: { required },
                type: { required },
                gender: { required },
                marital_status: { required },
                departments: { required },
                designations: { required },
                encashment_percentage: { required },
                effective_type: { required },
                effective_value: { required },
                office_type: { required },
                carry_forward_percentage: { required },
            }
        },
        computed: {
            availableOptions() {
                return this.departmentOptions.filter(opt => this.form.departments .indexOf(opt) === -1)
            },
            obtainableOptions() {
                return this.designationOptions.filter(opt => this.form.designations .indexOf(opt) === -1)
            }
        },
        mounted(){
            axios.get('leave_type/create').then((response) => {
                let departments = response.data.departments
                console.log(response.data)
                let designations = response.data.designations
                for (let department of departments){
                    this.departmentOptions.push(department.name)
                    let key = department.id
                    this.departments[key] = department.name
                }

                for (let designation of designations){
                    this.designationOptions.push(designation.name)
                    let key = designation.department_id
                    this.designations[key] = designation.name
                }
            });

        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>