<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <template v-if="data.length > 0">
        <!-- Modal Delete -->
            <modal2>
                <h5 slot="header" class="margin-0">Delete Leave Type</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm" @click="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2> 
            <b-row class="justify-content-center mt-30">
                <b-col md="12">
                    <b-row>
                        <div class="col-md-6" style="margin: inherit;">
                            <router-link :to="{name: 'leave_tracker'}"><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                            <span class="hr-title">Leave Type Settings</span>
                        </div>
                        <div class="col-md-6 align-right" style="margin: auto;">
                            <router-link :to="{ name: 'leave_tracker.settings.create' }"><b-button class="hr-btn mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                            <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                        </div>
                    </b-row>
                </b-col>
                <b-col md="12">
                    <b-row class="mt-30">
                        <b-col md="6" lg="9"></b-col>
                        <b-col xs="12" sm="12" md="6" lg="3">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                    <vuetable 
                        @vuetable:checkbox-toggled-custom="addCheckboxID" 
                        @vuetable:checkbox-toggled-all="checkALL" 
                        ref="vuetable" 
                        :fields="fields" 
                        :api-mode="false" 
                        class="table-overflow"
                        :data-manager="dataManager" 
                        pagination-path="pagination" 
                        @vuetable:pagination-data="onPaginationData"
                        :css="css.table"
                        :sort-order="sortOrder">
                        <div slot="name" slot-scope="props">
                            <router-link :to="{ name: 'leave_tracker.settings.view', params: {id: props.rowData.id} }">{{ props.rowData.name }}</router-link>
                        </div>
                    </vuetable>
                    <div style="padding-top: 0px">
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                    </div>
                </b-col>
            </b-row>
        </template>

        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import NoData from '@/components/NoDataPage'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data() {
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "files.png",
                    title: "Leave Type Settings",
                    description: " This is to customize the settings for the leaves that gives you a lot of room to implement your company’s policies while using the Leave module.",
                    route_create: "leave_tracker.settings.create",
                    route_import: "leave_tracker.settings.import",
                    params: "leave_tracker.settings"
                },
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Leave Trackers', href: '#' },
                    { text: 'Settings', active: true },
                    { text: 'List', active: true }
                ],
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'name',
                        title: 'Type Name',
                        sortField: 'name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'balance',
                        title: 'Balance',
                        sortField: 'balance',
                        formatter: (value) => {
                            return value + " Day(s) " 
                        }
                    },
                ],
                
                perPage: 10,
                data:[]
            }
                
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('leave_type').then( response => {
                this.data = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('leave_type/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>