
<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>        
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24"> 
                <b-row>
                    <b-col sm="12" md="6" lg="6">
                        <router-link :to="{name: 'leave_tracker'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Leave Tracker Information</span>
                    </b-col>
                    <b-col sm="12" md="6" lg="6" class="align-right">
                        <div v-if="user.employee.isEmployee && user.employee.id == employee_id">
                            <router-link  :to="{name: 'leave.tracker.edit', params: {id: this.$route.params.id}}"><b-button class="btn-hr-primary btn-size mr-05 hide-edit">Edit</b-button></router-link>
                            <b-dropdown right class="hr-more btn-size">
                                <template slot="button-content">
                                    <b-icon icon="three-dots"></b-icon>
                                </template>
                                <!-- buttons for approval  -->
                                <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                                <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                                <!-- end of code of buttons for approval  -->
                                
                                <b-dropdown-item  style="display: none;" class="show-edit">{{user.employee.id}}Edit</b-dropdown-item>
                                <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                                <!-- <b-dropdown-item @click="printMe" >Print</b-dropdown-item>                            
                                <b-dropdown-item><router-link :to="{name: 'leave_tracker.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'leave_tracker.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                            </b-dropdown>
                        </div>
                        <div v-else-if="approver">
                            <b-button @click.stop.prevent="modalShow(true)" class="btn-hr-primary btn-size mr-05 hide-edit">Approve</b-button>
                            <b-button @click.stop.prevent="modalShow(true)" class="hr-more btn-size mr-05 hide-edit">Reject</b-button>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col sm="12" md="7" lg="7">
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left mb-0">
                                <label class="fs-14 fw-bold mb-0 text-no-wrap">Employee Name</label>
                            </b-col>
                            <b-col md="7" class="form-group" align-left >
                                <label class="fs-14">{{employee_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left mb-0">
                                <label class="fs-14 fw-bold mb-0 text-no-wrap">Leave Type</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14">{{leave_type}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left mb-0">
                                <label class="fs-14 fw-bold mb-0 text-no-wrap">Start Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14">{{start_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left mb-0">
                                <label class="fs-14 fw-bold mb-0 text-no-wrap">End Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14">{{end_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left mb-0">
                                <label class="fs-14 fw-bold mb-0">Purpose</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14">{{reason}}</label>
                            </b-col>
                        </b-row>                        
                    </b-col>
                    <b-col sm="12" md="5" lg="5">
                        <b-row>
                            <b-col sm="12" md="12" lg="12">
                                <ApprovalStatus :data="approveData"></ApprovalStatus>
                            </b-col>
                            <b-col sm="12" md="12" lg="12" class="mt-20">
                                <b-card>
                                    <b-card-text class="fw-bold fs-14">As of {{start_date}}</b-card-text>
                                        <b-row>
                                            <b-col sm="7" md="7" lg="7" class="form-group mb-0">
                                                <label class="form-group mb-0 text-no-wrap mt-1rem">Available Balance</label>
                                            </b-col>
                                            <b-col sm="5" md="5" lg="5" class="align-right label-left">
                                                <label class="fw-bold mt-1rem">{{available_balance}}</label>
                                            </b-col>
                                        </b-row>
                                        <b-row>
                                            <b-col sm="7" md="7" lg="7" class="form-group mb-0 mt-1rem">
                                                <label class="form-group text-no-wrap mb-0">Currently Booked</label>
                                            </b-col>
                                            <b-col sm="5" md="5" lg="5" class="align-right label-left">
                                                <label class="fw-bold mt-1rem">{{parseInt(total_days)}}</label>
                                            </b-col>
                                        </b-row>
                                        <b-row>
                                            <b-col sm="7" md="7" lg="7" class="form-group mb-0">
                                                <label class="form-group mb-0 text-no-wrap mt-1rem">Estimated Balance</label>
                                            </b-col>
                                            <b-col sm="5" md="5" lg="5" class="align-right label-left">
                                                <label class="fw-bold mt-1rem">{{estimated_balance}}</label>
                                            </b-col>
                                        </b-row>                                   
                                </b-card>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    import moment from 'moment'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    import { mapGetters } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data() {
            return {
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Leave Tracker', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                DeleteData: [],
                TimelineData: [],
                history_logs: [],
                employee_name: "",
                delete_data: {
                    value: this.employee_name,
                    id: this.$route.params.id,
                    route: 'employee_leave',
                    way: 'leave_tracker'
                },
                leave_type: "",
                start_date: "",
                end_date: "",
                reason: "",
                status: "",
                approved_status: 'Pending for approval',
                estimated_balance: "",
                available_balance: "",
                total_days: "",
                approver: false,
                employee_id: null,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Employee Leave'
                }
            }
        },
        mounted(){
            Axios.get('employee_leave/'+this.$route.params.id).then(response => {
                let data = response.data.data;
                this.employee_id = data.employee_id
                this.history_logs = response.data.history_logs
                this.employee_name = data.employee_name;
                this.leave_type = data.leave_type.name;
                this.start_date = moment(String(data.start_date)).format('MMMM DD, YYYY '); 
                this.end_date = moment(String(data.end_date)).format('MMMM DD, YYYY ');
                this.reason = data.reason;
                this.status = data.status;
                this.total_days = data.total_days;
                this.available_balance = parseFloat(response.data.available_balance);
                this.estimated_balance =parseFloat(response.data.available_balance) + parseFloat(data.total_days);
                this.DeleteData = {value:this.$route.params.id,route:'employee_leave/',route2:'leave_tracker',data:this.employee_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'leave_tracker.view'}
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
                this.approveData = response.data
            });
        },
        computed:{
            ...mapGetters({
                user: 'auth/user',
            })
        },
        methods: {
            modalShow(action) {
                this.actionData.action = action;
                this.$bvModal.show('modal-main')
            },
            modalHide() {
                this.$bvModal.hide('modal-main')
            },            
        }
    }
</script>

<style scoped>
 .p-5{
  padding: 0px !important;
}   
</style>