<template>
    <b-form>
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-20">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{ name: 'leave_tracker.settings' }" style="color: #707070; "><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Leave Type Information</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                        <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        <b-button class="btn-size" @click="deleteModal($event,DeleteData)" :title='"Delete Leave Type"' component="delete">Delete</b-button>
                    </b-col>
                </b-row>
            </b-col>
            <b-row>
                <b-col md="5">
                    <b-row>
                        <b-col md="7" class="mt-50 align-right">
                            <label>Name</label>
                        </b-col>
                        <b-col md="5" class="mt-50 align-left">
                            <label class="fw-bold">{{ LeaveTypeData.name }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Code</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.code }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Default Leave Count</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.balance }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Marital Status</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.marital_status == 1 ? 'Single': 'Married' }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Gender</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.gender == 1 ? 'Male' : 'Female' }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Type</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.type == 1 ? 'Paid' : 'Unpaid' }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Encashment Percentage</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ formatDecimal(LeaveTypeData.encashment_percentage) }}%</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="7" class="align-right">
                            <label>Carry Forward Percentage</label>
                        </b-col>
                        <b-col md="5" class="align-left">
                            <label class="fw-bold">{{ formatDecimal(LeaveTypeData.carry_forward_percentage) }}%</label>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col md="6">                        
                    <b-row>
                        <b-col md="4"  class="align-right mt-50">
                            <label>Effective After</label>
                        </b-col>
                        <b-col md="6" class="align-left mt-50">
                            <label class="fw-bold">{{ LeaveTypeData.effective_days }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="4" class="align-right">
                            <label>Office Type</label>
                        </b-col>
                        <b-col md="6" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.office_type == 1 ? 'Head Office' : 'Stockyard' }}</label>
                        </b-col>
                    </b-row>
                    <b-row style="padding: 5px 0rem;">
                        <b-col md="4" class="align-right">
                            <label>Description</label>
                        </b-col>
                        <b-col md="6" class="align-left">
                            <label class="fw-bold">{{ LeaveTypeData.description == null ? 'N/A' : LeaveTypeData.description }}</label>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col md="6">
                    <vuetable ref="vuetableDepartment" :fields="department" :items="department" class="table-overflow" :api-mode="false" :data-manager="dataManagerDepartment" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table"> 
                    </vuetable>
                    <div style="padding-top:0px">
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePageDepartment" :css="css.pagination"></vuetable-pagination>
                    </div>
                </b-col>
                <b-col md="6">
                    <vuetable ref="vuetableDesignation" :fields="designation" :items="designation" :api-mode="false" class="table-overflow" :data-manager="dataManagerDesignation" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table"> 
                    </vuetable>
                    <div style="padding-top:0px">
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePageDesignation" :css="css.pagination"></vuetable-pagination>
                    </div>
                </b-col>
            </b-row>
        </b-row>
    </b-form>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'

    export default {
        name: 'View',
        mixins: [modalMixins],
        components: {
            Vuetable,
            VuetablePagination,
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Leave Trackers', href: '#' },
                    { text: 'Settings', active: true },
                    { text: 'View', active: true }
                ],
                department: [
                    {
                        name: 'departments',
                        title: 'Departments',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
                designation: [
                    {
                        name: 'designations',
                        title: 'Designations',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
                perPage: 10,
                data:[],
                LeaveTypeData: [],
                DeleteData: [],
                departments: [],
                designations: []                
            }
        },
        watch: {
            data(){
                this.$refs.vuetableDepartment.refresh();
                this.$refs.vuetableDesignation.refresh();
            }
        },
        mounted(){
            axios.get('leave_type/'+this.$route.params.id).then(response => {
                console.log(response.data)
                let date_name = ["", "Years", "Months", "Days"]
                this.LeaveTypeData = response.data
                this.DeleteData = {value:this.$route.params.id,route:'leave_type/',route2:'leave_tracker.settings',data:this.LeaveTypeData.name}
                this.LeaveTypeData.effective_days = response.data.effective_value + " " + date_name[response.data.effective_type]
                for(const x in response.data.department){
                    this.data.push({departments: response.data.department[x]});
                }
                for(const x in response.data.designation){
                    this.data.push({designations: response.data.designation[x]});
                }
            });
        },
        methods: {
            formatDecimal(LeaveTypeData) {
                let val = (LeaveTypeData/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePageDepartment(page){
                this.$refs.vuetableDepartment.changePage(page)
            },
            onChangePageDesignation(page){
                this.$refs.vuetableDesignation.changePage(page)
            },
            dataManagerDepartment(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetableDepartment.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            dataManagerDesignation(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetableDesignation.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
        
    }
</script>

<style>
    .vuetable-td-designations:empty {
        display: none;
    }
    .vuetable-td-departments:empty {
        display: none;
    }
</style>