<template>
    <div class="form-group col-md-12">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <h4 class="form-head">Modules</h4>
        <div class="row justify-content-center">
            <div class="col-md-12 margin-top">
                <div align="right" style="margin: 0px 0px 20px 0px">
                    <router-link :to="{ name: 'item.create' }"><b-button variant="secondary"><i class="fa fa-plus" aria-hidden="true"></i> New</b-button></router-link>
                </div>
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group
                            :size="sm"
                            >
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>


                </b-container>
                <vuetable ref="vuetable" :fields="fields" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table">
                    <div slot="name" slot-scope="props">
                        <router-link :to="{ name: 'modules.show', params: {id: props.rowData.id} }">{{ props.rowData.name }}</router-link>
                    </div>
                </vuetable>
                <div style="padding-top:0px">
                    <vuetable-pagination ref="pagination"
                        @vuetable-pagination:change-page="onChangePage" :css="css.pagination"
                    ></vuetable-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetableFieldHandle from 'vuetable-2/src/components/VuetableFieldHandle'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '../../../assets/scripts/vuetable-custom'

    export default {
        name: "Show",
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    {
                        html: '<span class="fa fa-home"></span>',
                        href: '#'
                    },
                    {
                        text: 'User Management',
                        href: '#'
                    },
                    {
                        text: 'Modules',
                        active:true
                    },
                ],
                fields: [
                    {
                        name: VuetableFieldHandle
                    },
                    {
                        name: 'name',
                        title: 'Module Name',
                        sortField: 'name',
                        formatter: (value   ) => {
                            return "<a href='#' @click='onActionClicked' >"+value+"</a>"
                        }
                    },
                    {
                        name: 'system_name',
                        sortField: 'system_name'
                    },
                    {
                        name: 'status',
                        formatter: (value) => {
                            return value === 1 ? 'Enabled' : 'Disabled'
                        }
                    },
                    {
                        name: 'route',
                        formatter: (value) => {
                            return value === null ? 'None' : value
                        }
                    },
                ],
                perPage: 10,
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('modules').then( response => {
                this.data = response.data
            })
        },
        methods: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            onActionClicked(id) {
                alert(id);
            }
        }
    }
</script>

<style scoped>

</style>