<template>
    <div class="form-group col-md-12">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <h4 class="form-head"><router-link :to="{ name : 'modules.index'}"><span class="fa fa-arrow-left"></span></router-link> View Module</h4>
        <div class="row justify-content-center">
            <div class="col-md-12 margin-top">
                <b-form>
                    <b-container class="bv-example-row">
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Module ID" label-for="input-sm">
                            <b-col sm="3">
                                <b>{{ module_description.id }}</b>
                                <span class="editIcon fa fa-lock"></span>
                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Module Name" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('module_name') !== -1">
                                    <b-form-input size="sm"  v-model="module_description.name" ></b-form-input>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('module_name')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.name }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('module_name')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="System Name" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('system_name') !== -1">
                                    <b-form-select v-model="selected" size="sm">
                                         <b-form-select-option v-for="option in system_options" :key="option.id" :value="option.id">{{ option.name }}</b-form-select-option>
                                    </b-form-select>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('system_name')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.system_name }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('system_name')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Parent Module" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('parent_module') !== -1">
                                    <b-form-select v-model="selected" size="sm">
                                         <b-form-select-option v-for="option in system_options" :key="option.id" :value="option.id">{{ option.name }}</b-form-select-option>
                                    </b-form-select>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('parent_module')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.parent_module }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('parent_module')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Status" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('status') !== -1">
                                    <b-form-select v-model="selected" size="sm">
                                         <b-form-select-option v-for="option in system_options" :key="option.id" :value="option.id">{{ option.name }}</b-form-select-option>
                                    </b-form-select>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('status')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.status }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('status')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Route" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('route') !== -1">
                                    <b-form-input size="sm" v-model="module_description.route" ></b-form-input>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('route')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.route }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('route')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                        <b-form-group label-align-sm="right" label-cols="3" label-cols-lg="3" label-size="sm" label="Icon" label-for="input-sm">
                            <b-col sm="3">
                                <span class="holderEditor" v-if="this.active_editor.indexOf('icon') !== -1">
                                   <b-form-input size="sm"  v-model="module_description.icon" ></b-form-input>
                                    <div class="action-buttons">
                                         <span class="saveIcon fa fa-check"></span>
                                        <span class="closeIcon fa fa-close" @click.prevent="editEvent('icon')"></span>
                                    </div>
                                </span>
                                <span class="holderValue" v-else>
                                    <b>{{ module_description.icon }}</b>
                                    <span class="editIcon fa fa-edit" @click.prevent="editEvent('icon')"></span>
                                </span>

                            </b-col>
                        </b-form-group>
                    </b-container>
                </b-form>

            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "Show",
        data(){
            return {
                breadcrumbs:[
                    {
                        html: '<span class="fa fa-home"></span>',
                        href: '#'
                    },
                    {
                        text: 'User Management',
                        href: '#'
                    },
                    {
                        text: 'Modules',
                        href: '#'
                    },
                    {
                        text: 'View',
                        active:true
                    },
                ],
                module_description: [],
                active_editor: [],
                selected: 1,
                system_options: [],
                form: {
                    name: '',
                    food: null
                },
                foods: [{text: 'Select One', value: null},'Value 1','Value 2','Value 3']
            }
        },
        mounted(){
            axios.get(`modules/`+this.$route.params.id).then(response => {
                this.module_description = response.data
            });
            axios.get('system').then(response => {
                this.system_options = response.data
            })
        },
        methods:{
            editEvent(key){
                if(this.active_editor.indexOf(key) !== -1){
                    this.active_editor.splice(this.active_editor.indexOf(key),1)
                } else{
                    this.active_editor.push(key)
                }
            },

        },
    }
</script>

<style scoped>

</style>