<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                 <b-form @submit.stop.prevent="submitForm('consumables', { stay: checked, route:'supplies_equipment.view.consumables' })">
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'supplies_equipment'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Consumable</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn" type="submit">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <b-row class="mt-30">
                                <b-col md="4" class="text-right pt-9">
                                    <b>Consumable Name</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="description" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="description"
                                            name="description"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.description.$model"
                                            :state="stateValidation('description')"
                                            placeholder="Consumable Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Category</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="category_id" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="category_id"
                                            name="category_id"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.category_id.$model"
                                            :state="stateValidation('category_id')"
                                            :options="category_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Quantity</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="quantity" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="quantity"
                                            name="quantity"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.quantity.$model"
                                            :state="stateValidation('quantity')"
                                            placeholder="Quantity"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Min. Stock</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="min_stock" label-for="input-2">
                                         <b-form-input
                                            id="min_stock"
                                            name="min_stock"
                                            aria-describedby="input-2-live-feedback"
                                           v-model="$v.form.min_stock.$model"
                                            placeholder="Stock"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Unit</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="unit_id" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            :options="unit_options"
                                            aria-describedby="input-2-live-feedback"
                                            id="unit_id"
                                            name="unit_id"
                                            v-model="$v.form.unit_id.$model"
                                            :state="stateValidation('unit_id')"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- <b-row>
                                <b-col md="4" ></b-col>   
                                <b-col md="5">
                                    <a href="#"  @click="showModal($event)" title="Add Other Info" component=""><span class="fa fa-plus"></span> <b>Add Other Info</b></a>
                                </b-col>
                            </b-row> -->
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script> 
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios';
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'Consumable', href: '#'},
                    { text: 'New', active:true },
                ],
                category_options: [
                    { value: null, text: "Select Category" },
                ],
                unit_options: [
                    { value: null, text: "Select Unit" },
                ],
                form: {
                    description: '',
                    category_id: null,
                    quantity: '',
                    min_stock: '',
                    unit_id: null,
                },
            };
        },
        validations: {
            form: {
                description: { required },
                category_id: { required },
                quantity: { required },
                min_stock: { required },
                unit_id: { required },
            }
        },
        mounted(){
            axios.get('assets/create').then((response) => {
                response.data.Categories.forEach(category => {
                    this.category_options.push({
                        value: category.id,
                        text:  category.category_name
                    });   
                });

                response.data.Unit.forEach(unit => {
                    this.unit_options.push({
                        value: unit.id,
                        text:  unit.unit_name
                    });     
                });
            });
        },
        methods: {
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>