<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{name: 'supplies_equipment'}" ><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Consumable Information</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                        <b-button class="inventory-btn btn-size" style="margin-right: 5px;">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Consumable"' component="delete">Delete</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                        <b-row>
                            <b-col md="3" class="form-group mt-50 align-right">
                                <label>Equipment Name</label>
                            </b-col>
                            <b-col md="6" class="form-group mt-50 align-left">
                                <label class="fw-bold">{{equipment_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Quantity</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{formatDecimal(quantity)}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Unit</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{unit}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Min. Stock</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{min_stock == null ? 'N/A' : min_stock}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Details</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">-</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Category</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{category}}</label>
                            </b-col>
                        </b-row>
               
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import axios from 'axios';
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'Consumable', href: '#'},
                    { text: 'View', active:true },
                ],
                attachmentHeader: [
                    {
                        name: 'file_name',
                        title: 'File Name',
                        sortField: 'file_name',
                    },
                    {
                        name: 'added_by',
                        title: 'Added By',
                        sortField: 'added_by',
                    },
                    {
                        name: 'date_added',
                        title: 'Date Added',
                        sortField: 'date_added',
                    },
                ],
                attachment: [{
                    'file_name' : 'Company_profile.docx',
                    'added_by' : 'Jhon Mariano',
                    'date_added' : 'May 12, 2020',
                }],
                equipment_name: '',
                quantity: '',
                unit: '',
                min_stock: '',
                category: '',

            }
        },
        mounted(){
            axios.get('assets/consumables/'+this.$route.params.id).then(response => {
                console.log(response.data);
                let data = response.data
                this.equipment_name = data.inventory_description_data.description
                this.quantity = data.quantity
                this.unit = data.unit_id.unit_name
                this.min_stock = data.min_stock
                this.category = data.category_id.category_name
            });
        },
        methods: {
            formatDecimal(quantity) {
                let val = (quantity/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")

            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}


</style>