<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>

            <b-col md="12" class="mt-30">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <span class="hr-title" style="vertical-align: -webkit-baseline-middle;">Activities</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                        <span class="fa fa-list act-btn mt-05" @click="currentActive = 0" :class="{active: currentActive === 0}" title="Listing"></span>
                        <span class="fa fa-calendar act-btn" @click="currentActive = 1" :class="{active: currentActive === 1}" title="Calendar"></span>
                        <router-link :to="{name:'human_resource.task.create'}">
                            <b-button class="btn btn-hr-primary btn-size mr-05"><span class="fa fa-plus fs-12"></span> Task</b-button>
                        </router-link>
                        <b-button class="btn btn-size"><span class="fa fa-plus fs-12"></span> Event</b-button>
                    </b-col>
                </b-row>
                <b-row class="mt-30">
                    <b-col md="3">
                        <b-card>
                            <b-form-checkbox-group
                            :options="options"
                            class=""
                            value-field="item"
                            text-field="name"
                            stacked
                            ></b-form-checkbox-group>
                        </b-card>
                    </b-col>
                    <transition name="list">
                        <b-col md="9" v-show="currentActive === 0">
                            <b-row>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                            </b-row>
                            <p></p>
                            <b-row>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                            </b-row>
                            <p></p>
                            <b-row>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                                <b-col md="4">
                                    <b-card class="btn-shadow">
                                        <p class="fs-16 margin-0"><b>Leads/Contacts</b></p>
                                        <label class="fs-12">August 10</label>
                                        <p class="fw-600">Site Inspection</p>
                                        <p class="margin-0">Ms. Estella</p>
                                        <p class="margin-0">John Michael Langan</p>
                                        <p class="pill btn-hr-primary ps-pill">HIGH</p>
                                    </b-card>
                                </b-col>
                            </b-row>
                        </b-col>
                    </transition>
                    <b-col md="9" v-show="currentActive === 1">
                        <template>
                            <full-calendar :events="fcEvents" lang="en"></full-calendar>
                        </template>
                    </b-col>
                </b-row>
            </b-col>
    </b-col>

</template>

<script>
    var calendarEvents = [
        {
            title : "Conference",
            start : "2020-08-11",
            end : "2020-08-13",
            cssClass: "your-class-here"
        },
        {
            title : "Happy Birthday!",
            start : "2020-08-11",
            end : "2020-08-11"
        },
        {
            title : "General Meeting!",
            start : "2020-08-11",
            end : "2020-08-11"
        },
        {
            title : "Meetings!",
            start : "2020-08-11",
            end : "2020-08-11"
        },
        {
            title : "More Meetings!",
            start : "2020-08-11",
            end : "2020-08-11"
        }
    ]
    export default {
        name: "Activities",
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Activities', active: true },
                ],
                options: [
                    { item: 'All Activities', name: 'All Activities' },
                    { item: 'All Events', name: 'All Events' },
                    { item: 'All Tasks', name: 'All Tasks' },
                    { item: 'Closed Task', name: 'Closed Task' },
                    { item: 'My Activities', name: 'My Activities' },
                    { item: 'My Tasks', name: 'My Tasks' },
                    { item: 'My Events', name: 'My Events' },
                    { item: 'Overdue Tasks', name: 'Overdue Tasks' },
                    { item: 'Past Events', name: 'Past Events' },
                    { item: 'Today Tasks', name: 'Today Tasks' },
                    { item: 'Open Activities', name: 'Open Activities' },
                    { item: 'Closed Tasks', name: 'Closed Tasks' },
                    { item: 'Tomorrow Tasks', name: 'Tomorrow Tasks' },
                    { item: 'This Weeks Events', name: 'This Weeks Events' }
                ],
                fcEvents : calendarEvents,
                currentActive: 1
            }
        },
        components : {
            'full-calendar': require('vue-fullcalendar')    
        },
        methods: {
        }
    }
</script>

<style scoped>
.p-5 {
    padding: 0px !important;
}
</style>