<template>
    <div class="form-group col-md-12 pt-1rm">
        <modal2>
            <h5 slot="header" class="margin-0">Birthdays</h5>
            <h5 slot="body">
                <form ref="form" style="overflow-y:scroll;">
                    <b-row style="top: 10px; position: relative;">
                        <b-col class="2"></b-col>
                        <b-col  sm="8" md="8" style="inline-block;" >
                            <div v-for="(birthday, key) in birthdays" v-bind:key="key">
                                <b-row class="pt-8">
                                    <b-col sm="2" md="2">
                                        <b-img :src="require(`@/images/user.jpg`)" class="default-img" style="vertical-align: text-top"></b-img>
                                    </b-col>
                                    <b-col sm="5" md="5" class="pt-15">
                                        <span>{{birthday.name}}</span>
                                    </b-col>
                                    <b-col sm="5" md="5" class="align-right pt-15 media-left">
                                        <span style="color: #55c755">{{birthday.birthday}}</span>
                                    </b-col>
                                </b-row>
                            </div>
                        </b-col>
                        <b-col class="2"></b-col>
                    </b-row>
                </form>
            </h5>
            <h5 slot="buttons">
                <!-- <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button> -->
                <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
            </h5>
        </modal2>
        <h4 class="form-head">HR Dashboard</h4>
        <b-row align-h="around" class="pt-1rm">
            <b-col>
                <b-card style="max-width: 20rem; background-color:#fffcfc;" class="bg-card">
                    <b-row>
                        <b-col md="5">
                            <b-iconstack font-scale="4">
                                <b-icon stacked icon="circle-fill" variant="primary"></b-icon>
                                <b-icon stacked icon="person" scale="0.5" variant="white"></b-icon>
                            </b-iconstack>
                        </b-col>
                        <b-col md="7" class="mt-08">
                            <b-row>
                                <label style="font-weight:900; margin-bottom:0px;">{{scorecards.total_employees}}</label>
                            </b-row>
                            <b-row>
                                <label>Total Employees</label>
                            </b-row>
                        </b-col>
                    </b-row>
                    
                </b-card>
            </b-col>
            <b-col>
                <b-card style="max-width: 20rem; background-color:#fffcfc;" class="bg-card">
                    <b-row>
                        <b-col md="5" >
                            <b-iconstack font-scale="4">
                                <b-icon stacked icon="circle-fill" variant="success"></b-icon>
                                <b-icon stacked icon="person" scale="0.5" variant="white"></b-icon>
                            </b-iconstack>
                        </b-col>
                        <b-col md="7" class="mt-08">
                            <b-row>
                                <label style="font-weight:900; margin-bottom:0px;">{{scorecards.total_present}}</label>
                            </b-row>
                            <b-row>
                                <label>Total Present</label>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col>
                <b-card style="max-width: 20rem; background-color:#fffcfc;" class="bg-card">
                    <b-row>
                        <b-col md="5" >
                            <b-iconstack font-scale="4">
                                <b-icon stacked icon="circle-fill" variant="danger"></b-icon>
                                <b-icon stacked icon="person" scale="0.5" variant="white"></b-icon>
                            </b-iconstack>
                        </b-col>
                        <b-col md="7" class="mt-08">
                            <b-row>
                                <label style="font-weight:900; margin-bottom:0px;">{{scorecards.total_absent}}</label>
                            </b-row>
                            <b-row>
                                <label>Total Absent</label>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col>
                <b-card style="max-width: 20rem; background-color:#fffcfc;" class="bg-card">
                    <b-row>
                        <b-col md="5" >
                            <b-iconstack font-scale="4">
                                <b-icon stacked icon="circle-fill" variant="warning"></b-icon>
                                <b-icon stacked icon="person" scale="0.5" variant="white"></b-icon>
                            </b-iconstack>
                        </b-col>
                        <b-col md="7" class="mt-08">
                            <b-row>
                                <label style="font-weight:900; margin-bottom:0px;">{{scorecards.new_hire}}</label>
                            </b-row>
                            <b-row>
                                <label>New Hire for today</label>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
        </b-row>
        <b-row align-h="around" class="pt-2rm">
            <b-col md="5">
                <b-card class="bg-card" style="background-color:#fffcfc;">
                    <h4 class="text-center justify-content-center"><strong>Employees by Department</strong></h4>
                    <pie-chart :options="employee_by_department_chart_options" :chartData="department_data" :width="dept_width" :height="dept_height" label="Departments"></pie-chart>
                </b-card>
            </b-col>
            <b-col md="7" class="pt-media">  
                <b-card class="bg-card" style="background-color:#fffcfc;">
                    <h4 class="align-left pl-8"><strong>Payroll</strong></h4>
                    <bar-chart :chartData="payroll_data" :width="width" :height="height"></bar-chart>
                </b-card>
                
            </b-col>

        </b-row>
        <b-row align-h="around" class="pt-1rm">
            <b-col sm="12" md="8" class="pt-8">

                <b-card class="bg-card" style="background-color:#fffcfc;">
                    <b-row>
                        <b-col md="12">
                            <h4 class="align-left attendance-title"><strong>Attendance</strong></h4>
                        </b-col>
                        <b-col>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="5">
                            <!-- <b-row>
                                <b-col md="5">
                                    <span class="fs-18 bold" style="white-space: nowrap">Present : {{scorecards.total_present}}</span>
                                </b-col>
                                <b-col md="7">
                                    <span class="fs-18 bold" style="white-space: nowrap">Late</span>
                                </b-col>
                            </b-row> -->
                            <b-row class="pt-1rm">
                                <b-col>
                                    <span class="fs-16 bold">Leave: {{total_leave}}</span><br>
                                    <div class="pl-1rm pt-8" v-for="leave in leaves" v-bind:key="leave.name">
                                        <span> {{leave.count}} {{leave.name}} </span>
                                    </div>
                                </b-col>
                            </b-row>
                            <b-row class="pt-1rm">
                                <b-col>
                                    <span class="bold" style="white-space: nowrap">3 days or more consecutive absents</span><br>
                                    <div class="pl-1rm pt-8" v-for="absent in absences" v-bind:key="absent.name">
                                        <span>{{absent.count}} day/s {{absent.name}}</span><br>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col class="mt-8" md="7">
                            <h4 class="text-center justify-content-center"><strong>Present by Department</strong></h4>
                            <div v-if="present_count_zero" >
                                <pie-chart :options="present_by_department_chart_options" :chartData="department_present_data" :width="attendance_pie_width" :height="attendance_pie_height"></pie-chart>
                            </div>
                            <div v-else class="text-center" align-v="center">Currently No Attendance Found Today</div>
                        </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col  sm="12" md="4" class="pt-media">
                <b-card style="max-width: 20rem; background-color:#fffcfc;" class="bg-card">
                    <b-row>
                        <b-col md="5" >
                            <i class="fa fa-birthday-cake" style="color: rgb(255 0 170 / 55%);font-size:6em;text-shadow:grey 1px 1px 2px;" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="7" class="mt-08">
                            <b-row>
                                <label style="font-weight:900; margin-bottom:0px;">{{birthdays.length}}</label>
                            </b-row>
                            <b-row>
                                <label>Birthday Celebrants</label>
                            </b-row>
                            <b-row>
                                <a href="#" @click.prevent="modalShow">See More</a>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-card>
                <b-card style="background-color:#fffcfc;margin-top: 5px;height:380px;" class="bg-card ">
                    <b-row>
                        <b-col>
                            <span><b> Upcoming Holidays</b></span>
                        </b-col>
                    </b-row>
                    <b-row class="pt-15">
                        <b-col>
                            <div v-for="holiday in holidays" :key="holiday"><label class="fs-10"><strong>{{holiday.name}}</strong></label> {{holiday.type}} Holiday | {{holiday.date}}</div>
                        </b-col>
                        <!-- <b-col class="pt-15">
                            <b-row>
                                <b-col style="padding-right: 0px;">
                                    <b-img :src="require(`@/images/holiday.png`)" width="150rem" style="vertical-align: text-top; border-radius: 100%"></b-img>
                                </b-col>
                                <b-col class="align-left pt-1rm" style="margin-left: 0px;">
                                    <span class="fs-18"><b>There is no upcoming<br> holiday for this month.</b></span>
                                </b-col>
                            </b-row>
                        </b-col> -->
                    </b-row>
                </b-card>
            </b-col>
        </b-row>
        <b-row>
            <!-- <b-col md="6">  
                <b-card style="background-color:#fffcfc;" class="bg-card pad-lrb">
                    <b-row>
                        <b-col>
                            <i class="fa fa-history" style="color: #55c755;" aria-hidden="true"></i>
                            <span><b> HR Logs</b></span>
                        </b-col>
                    </b-row>
                    <b-list-group flush class="pt-1rm">
                        <b-list-group-item v-for="log in logs" :key="log"><label v-html="log"></label></b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-col> -->
            <b-col md="6">  
                <b-card class="bg-card mt-1rem pad-lrb pt-media" style="background-color:#fffcfc;">
                    <b-row>
                        <b-col>
                            <i class="fa fa-clock-o" style="color: #55c755;" aria-hidden="true"></i>
                            <span><b> Overtime</b></span>
                        </b-col>
                    </b-row>
                    <b-list-group flush class="pt-1rm">
                        <b-list-group-item v-for="overtime in overtimes" :key="overtime">{{overtime}}</b-list-group-item>
                        <b-list-group-item class="align-center"><a href="#">See More</a></b-list-group-item>
                    </b-list-group>
                </b-card>
                <!-- <b-card class="mt-1rem pad-lrb bg-card pt-media" style="background-color:#fffcfc;">
                    <b-row>
                        <b-col>
                            <i class="fa fa-bell" style="color: #55c755;" aria-hidden="true"></i>
                            <span><b> Notifications</b></span>
                        </b-col>
                    </b-row>
                    <b-list-group flush class="pt-1rm">
                        <b-list-group-item><label>System Administrator UserAccess created (January 07, 2020)</label></b-list-group-item>
                        <b-list-group-item><label>System Administrator UserAccess created (January 07, 2020)</label></b-list-group-item>
                        <b-list-group-item><label>System Administrator UserAccess created (January 07, 2020)</label></b-list-group-item>
                        <b-list-group-item><label>System Administrator UserAccess created (January 07, 2020)</label></b-list-group-item>
                        <b-list-group-item><label>System Administrator UserAccess created (January 07, 2020)</label></b-list-group-item>
                        <b-list-group-item class="align-center"><a href="#">See More</a></b-list-group-item>
                    </b-list-group>
                </b-card> -->
            </b-col>
            <b-col md="6">  
                
            </b-col>
        </b-row>
    </div>

</template>

<script>
    import PieChart from '@/components/PieChart'
    import BarChart from '@/components/BarChart'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'

    
    export default {
    components:{
            PieChart,
            BarChart,
            Modal2
        },
        name: "Dashboard",
        data(){
            return {
                present_by_department_chart_options: {
                    responsive: true,
                    aspectRatio: 10,
                    legend: {
                        fullSize:false,
                        display: true,
                        position: "right",
                        align:'start',
                        labels: {
                            boxWidth: 10,
                            boxHeight: 10
                        }
                    }
                },
                employee_by_department_chart_options: {
                    responsive: true,
                    aspectRatio: 10,
                    legend: {
                        fullSize: false,
                        display: true,
                        position: "right",
                        align:'start',
                        labels: {
                            boxWidth: 10,
                            boxHeight: 10
                        }
                    }
                },
                attendance_pie_width: 200,
                attendance_pie_height: 100,
                pie_width: 250,
                pie_height: 220,
                dept_height: 150,
                dept_width: 200,
                height: 250,
                width: 400,
                scorecards: {
                    total_employees: 0,
                    total_present: 0,
                    total_absent: 0,
                    new_hire: 0,
                },
                total_leave: 0,
                leaves: [],
                absences: [],
                birthdays: [],
                overtime: [],
                department_data: [],
                holidays: [],
                logs: [],
                overtimes: [],
                department_present_data: [],
                attendance_data: {
                    labels: ["OSG - Rizal", "PMG - Rizal", "DSIG - Rizal", "DSIG", "PMG - QC", "OSG - QC"],
                    datasets: [
                        {
                            // label: "Data One",
                            backgroundColor: ["#848484", "#55C755", "#EC6E00", "#dc3545", "#17a2b8", "#ffc107"],
                            data: [15, 15, 20, 15, 15, 20]
                        }
                    ],
                },
                payroll_data: {
                    labels: ["December 15, 2020", "December 30, 2020", "January 15, 2021", " January 29, 2021", "", ""],
                },
                present_count_zero: false
            }
        },
        // mounted() {
        //     if (localStorage.getItem('reloaded')) {
        //         // The page was just reloaded. Clear the value from local storage
        //         // so that it will reload the next time this page is visited.
        //         localStorage.removeItem('reloaded');
        //     } else {
        //         // Set a flag so that we know not to reload the page twice.
        //         localStorage.setItem('reloaded', '1');
        //         location.reload();
        //     }
        // },
        async created() {
            const { data } = await axios.get('hr_dashboard')
            console.log(data)
            let scorecards = data.scorecards;
            this.scorecards.total_employees = scorecards.total_employees;
            this.scorecards.total_present = scorecards.total_present;
            this.scorecards.total_absent = scorecards.total_absent;
            this.scorecards.new_hire = scorecards.new_hire;
            data.present_by_department.data.map((count)=>{
                if(count != 0){
                   this.present_count_zero = true;
                }
            });

            let department_dataset = {
                labels: data.employee_by_department.label,
                datasets: [
                    {
                        label: data.employee_by_department.label,
                        backgroundColor: ["#848484", "#55C755", "#EC6E00", "#dc3545", "#17a2b8"],
                        data: data.employee_by_department.data
                    }
                ],
            };
            let attendance_dataset = {
                labels: data.present_by_department.label,
                datasets: [
                    {
                        label: data.present_by_department.label,
                        backgroundColor: ["#848484", "#55C755", "#EC6E00", "#dc3545", "#17a2b8"],
                        data: data.present_by_department.data
                    }
                ],
            };
            console.log(attendance_dataset)
            this.department_data = department_dataset
            this.department_present_data = attendance_dataset
            let total_leave = []
            data.leave.forEach(element => {
                total_leave.push(element.count)
            });
            let total = total_leave.reduce(function(total, num) { return total + num}, 0)
            this.total_leave = total
            this.leaves = data.leave
            this.absences = data.absences
            this.birthdays = data.birthdays
            this.overtimes = data.overtimes
            this.holidays = data.holidays
            this.logs = data.logs
        },
        methods:{
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            }
        }
    }
</script>

<style scoped>
.bg-card {
    background: #FBFBFB;
    border: none;
    box-shadow: 0px 2px 4px #aaaaaa;
}
.attendance-title{
    position: absolute;
    background: #fff;
    margin-top: -34px;
    padding-left: 8px;
    padding-right: 8px;
}
</style>