<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
          <div class="row margin-top">
          <!--<router-link :to="{name:'reimbursements'}" style="color: #000"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
              <div class="col text-left"><p class="hr-title">Create Reimbursements</p></div>-->
              <!--<div class="col text-right"> <b-button class="hr-btn" style="width:112px"> Edit Profile</b-button></div>-->
          </div>
            <modal2>
                <h5 slot="header" class="margin-0">Change Password</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="10">
                                <div class="row">
                                    <div class="col-md-4 text-right pt-9">
                                        <b class="default-color">Old Password</b>
                                    </div>   
                                    <div class="col-md-5">
                                        <b-form-group id="input-group-3" label-for="input-3">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                    name="password"
                                                    autocomplete="new-password"
                                                    :type="passwordFieldType"
                                                    v-model="password.old_password"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-right pt-9">
                                        <b class="default-color">New Password</b>
                                    </div>   
                                    <div class="col-md-5">
                                        <b-form-group id="input-group-3" label-for="input-3">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                    name="password"
                                                    autocomplete="new-password"
                                                    :type="passwordFieldType"
                                                    v-model="password.new_password"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-right pt-9">
                                        <b class="default-color">Confirm Password</b>
                                    </div>   
                                    <div class="col-md-5">
                                        <b-form-group id="input-group-3" label-for="input-3">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                    name="password"
                                                    autocomplete="new-password"
                                                    :type="passwordFieldType"
                                                    v-model="password.confirm_password"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                </div>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="changePassword">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-button class=" pull-right" variant="success" @click.stop.prevent="modalShow">Change password</b-button>
            <div align="center">
                <b-img :src="require(`@/images/user.jpg`)" style="width: 5rem; border-radius: 100%"></b-img>
            </div>
            <!-- <div class="row pt-1rm">
                <div class="col-md-3 text-right">
                    <p class="drkgry-color">001 - Angelo Zamora</p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="drkgry-color">Managing Officer</p>
                </div>
                <div class="col-md-3 text-left">
                    <a href="">angelo.zamora@abcsystems.com.ph</a>
                </div>
                <div class="col-md-3 text-left">
                </div>
            </div> -->
            
            <hr>
            <div>
                <b-card no-body>
                    <b-tabs pills card vertical nav-class="profilecard-header">
                        <b-tab title="Profile" active>
                            <!-- <div class="col text-right">  -->
                                <!-- <b-button class="hr-btn" style="width: auto; margin-top: -27.33rem; margin-right: -2.28rem;"> Edit Profile</b-button></div> -->
                            <div class="row">
                                <div class="col-md-5 drkgry-color">
                                    <p><b-icon-info-circle></b-icon-info-circle> Basic Info</p>
                                    <hr class="mt-n8" style="margin-bottom: 0.5rem">

                                    <div class="row">
                                        <div class="col">
                                            <p class="text-left"><b>Employee Id</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">001</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>First Name</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.basic_info.first_name }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Last Name</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.basic_info.last_name }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Email Address</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.basic_info.email }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Gender</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right"> {{ employee_profile.basic_info.gender }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="pt-8">
                                        <p><b-icon-person-lines-fill></b-icon-person-lines-fill> Personal Information</p>
                                        <hr class="mt-n8" style="margin-bottom: 0.5rem">
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Birthdate</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right"> {{ employee_profile.personal_info.birthdate }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Martial Status</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right"> {{ employee_profile.personal_info.marital_status }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Age</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">27 yrs. old</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Address</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.personal_info.address }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>SSS Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.personal_info.sss_number }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Pag-Ibig Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.personal_info.pagibig_number }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Philhealth Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.personal_info.philhealth_number }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>TIN Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.personal_info.tin_number }}</p>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-5 drkgry-color ml-8rm">
                                    <p><b-icon-briefcase-fill></b-icon-briefcase-fill> Employement Details</p>
                                    <hr class="mt-n8" style="margin-bottom: 0.5rem">

                                    <div class="row">
                                        <div class="col">
                                            <p class="text-left"><b>Department</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.department }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Title</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.title }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Date of Joining</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.date_joined }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Employee Status</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.employee_status }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Employee Type</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.employee_type }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Reporting To</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.reporting_to }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Source of Hire</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.source_of_hire }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Employee Location</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.employment_details.employee_location }}</p>
                                        </div>
                                    </div> 

                                    <div class="pt-8">
                                        <p><b-icon-book-half></b-icon-book-half> Contact Details</p>
                                        <hr class="mt-n8" style="margin-bottom: 0.5rem">
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <p class="text-left"><b>Phone Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.contact_details.phone_number }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Work Phone</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.contact_details.work_phone }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Emergency Contact Person</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.contact_details.emergency.contact_person }}</p>
                                        </div>
                                    </div>

                                    <div class="row mt-n8">
                                        <div class="col">
                                            <p class="text-left"><b>Emergency Contact Number</b></p>
                                        </div>
                                        <div class="col">
                                            <p class="text-right">{{ employee_profile.contact_details.contact_number }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="drkgry-color">
                                <p><b-icon-file-text></b-icon-file-text><b> Educational Background</b></p>
                                <hr class="mt-n8" style="margin-bottom: 0.5rem">

                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <b-table hover :items="employee_profile.educational_background" :fields="tableEduc">
                                        <template v-slot:cell(checkbox)="row">
                                            <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                        </template>      
                                        </b-table>
                                    </div>
                                </div>

                                <p><b-icon-briefcase></b-icon-briefcase><b> Work Experience</b></p>
                                <hr class="mt-n8" style="margin-bottom: 0.5rem">

                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <b-table hover :items="employee_profile.work_experience" :fields="tableWorkExperience">
                                        <template v-slot:cell(checkbox)="row">
                                            <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                        </template>      
                                        </b-table>
                                    </div>
                                </div>

                                <p><b-icon-people-fill></b-icon-people-fill><b> Dependent</b></p>
                                <hr class="mt-n8" style="margin-bottom: 0.5rem">

                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <b-table hover :items="employee_profile.dependent" :fields="tableDependent">
                                        <template v-slot:cell(checkbox)="row">
                                            <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                        </template>      
                                        </b-table>
                                    </div>
                                </div>

                            </div>

                        </b-tab>
                        <b-tab title="Calendar">
                        
                            <template>
                                <b-calendar block locale="en-US"></b-calendar>
                            </template>
                        
                        </b-tab>
                        <b-tab title="Leave">
                            <div class="col text-right"> <b-button class="hr-btn" style="width:auto; margin-top: -27.33rem; margin-right: -2.28rem;"> Apply Leave</b-button></div>
                            <div class="row pl-1rm">
                                <div class="col-md-6 drkgry-color">
                                    <div class="row">
                                        <div class="pt-8">
                                            <b class="drkgry-color">Year</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="year-leave">
                                                <b-form-select
                                                        id="year-leave"
                                                        v-model="form.year_leave"
                                                        :options="year_leave"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>

                                        <div class="pt-8">
                                            <b class="drkgry-color">Month</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="month_leave">
                                                <b-form-select
                                                        id="month_leave"
                                                        v-model="form.month_leave"
                                                        :options="month_leave"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            

                            <div>
                                <b-tabs content-class="pt-2rm" nav-class="myportal-tabs" align="right">
                                    <b-tab title="Upcoming" active>

                                        <div class="row drkgry-color" align="center">
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Sick Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="sl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 5</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Vacation Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="vl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 7</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Maternity Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="ml-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 60</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Paternity Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="pl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 14</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="drkgry-color pt-2rm">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="leave_upcoming" :fields="tableLeaveUpcoming">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                    <b-tab title="History">

                                        <div class="row drkgry-color" align="center">
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Sick Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="sl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 5</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Vacation Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="vl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 7</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Maternity Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="ml-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 60</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    <p class="pt-8"><b>Paternity Leave</b></p>
                                                        <b-icon-calendar-fill font-scale="2" class="pl-icon"></b-icon-calendar-fill>
                                                        <p class="pt-1rm fs-14">Available : 14</p>
                                                    <p class="fs-14">Applied : 0</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="drkgry-color pt-2rm">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="leave_history" :fields="tableLeaveHistory">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                </b-tabs>
                            </div>
                            
                        </b-tab>
                        <b-tab title="Overtime">
                            <div class="col text-right"> <b-button class="hr-btn" style="width:auto; margin-top: -27.33rem; margin-right: -1.28rem;"> Apply Overtime</b-button></div>
                            <div class="row pl-1rm">
                                <div class="col-md-6 drkgry-color">
                                    <div class="row">
                                        <div class="pt-8">
                                            <b class="drkgry-color">Year</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="year-overtime">
                                                <b-form-select
                                                        id="year-overtime"
                                                        v-model="form.year_overtime"
                                                        :options="year_overtime"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>

                                        <div class="pt-8">
                                            <b class="drkgry-color">Month</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="month-overtime">
                                                <b-form-select
                                                        id="month-overtime"
                                                        v-model="form.month_overtime"
                                                        :options="month_overtime"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <b-tabs content-class="pt-2rm" nav-class="myportal-tabs" align="right">
                                    <b-tab title="Upcoming" active>

                                        <div class="drkgry-color">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="overtime_upcoming" :fields="tableOvertimeUpcoming">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                    <b-tab title="History">

                                        <div class="drkgry-color">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="overtime_history" :fields="tableOvertimeHistory">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                </b-tabs>
                            </div>

                            
                        
                        </b-tab>
                        <b-tab title="Reimbursement">
                            <div class="col text-right"> <b-button class="hr-btn" style="width:auto; margin-top: -27.33rem; margin-right: -1.28rem;"> Apply Reimbursement</b-button></div>
                            <div class="row pl-1rm">
                                <div class="col-md-6 drkgry-color">
                                    <div class="row">
                                        <div class="pt-8">
                                            <b class="drkgry-color">Year</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="year-reimbursement">
                                                <b-form-select
                                                        id="year-reimbursement"
                                                        v-model="form.year_reimbursement"
                                                        :options="year_reimbursement"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>
                                        <div class="pt-8">
                                            <b class="drkgry-color">Month</b>
                                        </div>   
                                        <div class="col-md-4">
                                            <b-form-group id="input-group-1" label-for="month-reimbursement">
                                                <b-form-select
                                                        id="month-reimbursement"
                                                        v-model="form.month_reimbursement"
                                                        :options="month_reimbursement"
                                                        required
                                                ></b-form-select>
                                            </b-form-group>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <b-tabs content-class="pt-2rm" nav-class="myportal-tabs" align="right">
                                    <b-tab title="Upcoming" active>

                                        <div class="drkgry-color">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="reimbursement_upcoming" :fields="tableReimbursementUpcoming">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                    <b-tab title="History">

                                        <div class="drkgry-color">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">
                                                    <b-table hover :items="reimbursement_history" :fields="tableReimbursementHistory">
                                                    <template v-slot:cell(checkbox)="row">
                                                        <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                                    </template>      
                                                    </b-table>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </b-tab>
                                </b-tabs>
                            </div>
                        
                        </b-tab>
                        <b-tab title="File">
                            <div class="col text-right"> <b-button class="hr-btn" style="width:auto; margin-top: -27.33rem; margin-right: -1.28rem;"> Apply Files</b-button></div>
                            <div class="drkgry-color">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <b-table hover :items="file" :fields="tableFile">
                                        <template v-slot:cell(checkbox)="row">
                                            <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                        </template>      
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                        
                        </b-tab>
                        <b-tab title="Payslip">
                        
                            <div class="drkgry-color">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <b-table hover :items="payslip" :fields="tablePayslip">
                                        <template v-slot:cell(checkbox)="row">
                                            <b-form-checkbox v-model="row.checkbox" ></b-form-checkbox>
                                        </template>      
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                        
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
         
    </div>
</template>

<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';
    import Modal2 from '@/components/Modal2'

    export default {
        components: {
            Modal2
        },
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'My Portal', active:true },
                    { text: 'Self Service', href: '#'}
                ], 
                form: {
                        year_leave: null,
                        month_leave: null,
                        year_overtime: null,
                        month_overtime: null,
                        year_reimbursement: null,
                        month_reimbursement: null
                },
                passwordFieldType: 'password',
                password: {
                    old_password: null,
                    new_password: null,
                    confirm_password: null
                },
                employee_profile: {
                    basic_info: {
                        first_name: null,
                        last_name: null,
                        email: null,
                        gender: null,
                    },
                    personal_info: {
                        birthdate: null,
                        martial_status: null,
                        age: null,
                        address: null,
                        sss_number: null,
                        pagibig_number: null,
                        philhealth_number: null,
                        tin_number: null
                    },
                    employment_details: {
                        department: null,
                        title: null,
                        date_joined: null,
                        employee_status: null,
                        employee_type: null,
                        reporting_to: null,
                        source_of_hire: null,
                        employee_location: null,
                        role: null
                    },
                    contact_details : {
                        phone_number: null,
                        work_phone: null,
                        emergency: {
                            contact_person: null,
                            contact_number: null
                        }
                    },
                    educational_background: [],
                    work_experience: [
                        { previous_company_name: '', job_title: '', year_duration: ''}
                    ],
                    dependent: [
                        { name: '', relationship: '', birthdate: ''}
                    ],
                },
                year_leave: [{text: 'Year', value: null},'2018','2019','2020','2021'],
                month_leave: [{text: 'Month', value: null},'January','February','March','April','May','June','July','August','September','October','November','December'],
                year_overtime: [{text: 'Year', value: null},'2018','2019','2020','2021'],
                month_overtime: [{text: 'Month', value: null},'January','February','March','April','May','June','July','August','September','October','November','December'],
                year_reimbursement: [{text: 'Year', value: null},'2018','2019','2020','2021'],
                month_reimbursement: [{text: 'Month', value: null},'January','February','March','April','May','June','July','August','September','October','November','December'],
                file: [
                    { file_name: 'Angelo_files', date_added: 'June 01, 2020', size: '598.8 KB'},
                    { file_name: 'Attachments', date_added: 'June 15, 2020', size: '2 MB'}
                ],
                payslip: [
                    { payroll_period: 'June 1 - 15, 2020', status: 'Paid', pay_date: 'June 30, 2020'},
                    { payroll_period: 'June 16 - 30, 2020', status: 'Next Period', pay_date: 'July 15, 2020'}
                ],
                leave_upcoming: [
                    { leave_duration: 'June 24, 2020', leave_type: 'Sick Leave', purpose: 'Please accept this written notification of my absence on June 24, 2020. I was unable to'},
                    { leave_duration: 'June 26 - June 28, 2020', leave_type: 'Vacation Leave', purpose: 'I am formally requesting for 3 days of vacation leave from June 26 - 28, 2020 for family reunion.'}
                ],
                leave_history: [
                    { leave_duration: 'June 19, 2020', leave_type: 'Sick Leave', purpose: 'Please accept this written notification of my absence on June 19, 2020. I was unable to'},
                    { leave_duration: 'May 16 - May 28, 2020', leave_type: 'Vacation Leave', purpose: 'I am formally requesting for 3 days of vacation leave from May 26 - 28, 2020 for family reunion.'}
                ],
                overtime_upcoming: [
                    { overtime_date: 'June 24, 2020', overtime_duration: '06:00 PM - 08:00 PM', purpose: 'I need more time to finish my task'},
                    { overtime_date: 'June 26, 2020', overtime_duration: '06:00 PM - 09:00 PM', purpose: 'I need more time to finish my task'}
                ],
                overtime_history: [
                    { overtime_date: 'June 24, 2020', overtime_duration: '06:00 PM - 10:00 PM', purpose: 'Reformat Laptops'},
                    { overtime_date: 'June 26, 2020', overtime_duration: '06:00 PM - 08:00 PM', purpose: 'Client discussion'}
                ],
                reimbursement_upcoming: [
                    { reimbursement_date: 'June 14, 2020', subject: 'Business Travel', total_amount: 'PHP 5,000'},
                    { reimbursement_date: 'June 16, 2020', subject: 'Meals', total_amount: 'PHP 1,000'}
                ],
                reimbursement_history: [
                    { reimbursement_date: 'June 01, 2020', subject: 'Business Travel', total_amount: 'PHP 3,000'},
                    { reimbursement_date: 'June 10, 2020', subject: 'Meals', total_amount: 'PHP 500'}
                ],

                tableEduc: [
                    'school', { key: "year_duration", tdClass: 'tWidth-col2'}, { key: "awards", tdClass: 'tWidth-col3'}   
                ],
                tableWorkExperience: [
                    'previous_company_name', { key: "job_title", tdClass: 'tWidth-col2'}, { key: "year_duration", tdClass: 'tWidth-col3'}   
                ],
                tableDependent: [
                    'name', { key: "relationship", tdClass: 'tWidth-col2'}, { key: "birthdate", tdClass: 'tWidth-col3'}   
                ],
                tableFile: [
                    { key: "file_name", tdClass: 's-link'},{ key: "date_added", tdClass: 'tWidth-col2'},{ key: "size", tdClass: 'tWidth-col3'}
                ],
                tablePayslip: [
                    'payroll_period',{ key: "status", tdClass: 'tWidth-col2'},{ key: "pay_date", tdClass: 'tWidth-col3'}
                ],
                tableLeaveUpcoming: [
                    { key: "leave_duration", tdClass: 'tWidth-col1'},{ key: "leave_type", tdClass: 'tWidth-30'},{ key: "purpose", tdClass: 'ellipsis-2'}
                ],
                tableLeaveHistory: [
                    { key: "leave_duration", tdClass: 'tWidth-col1'},{ key: "leave_type", tdClass: 'tWidth-30'},{ key: "purpose", tdClass: 'ellipsis-2'}
                ],
                tableOvertimeUpcoming: [
                    { key: "overtime_date", tdClass: 'tWidth-col1'},{ key: "overtime_duration", tdClass: 'tWidth-col2'},'purpose'
                ],
                tableOvertimeHistory: [
                    { key: "overtime_date", tdClass: 'tWidth-col1'},{ key: "overtime_duration", tdClass: 'tWidth-col2'},'purpose'
                ],
                tableReimbursementUpcoming: [
                    'reimbursement_date',{ key: "subject", tdClass: 'tWidth-col2'},{ key: "total_amount", tdClass: 'tWidth-col3'}
                ],
                tableReimbursementHistory: [
                    'reimbursement_date',{ key: "subject", tdClass: 'tWidth-col2'},{ key: "total_amount", tdClass: 'tWidth-col3'}
                ],
                
            }
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            })
        },
        mounted(){
            axios.get('employees/' + this.user.employee.id).then((response) => {
                console.log(response);
                let data = response.data.data;
                this.employee_profile.basic_info.first_name = data.first_name;
                this.employee_profile.basic_info.last_name = data.last_name
                this.employee_profile.basic_info.email = data.email
                this.employee_profile.basic_info.gender = data.gender
                this.employee_profile.personal_info.birthdate = data.birth_date
                this.employee_profile.personal_info.marital_status = data.marital_status;
                this.employee_profile.personal_info.age = null;
                this.employee_profile.personal_info.address = data.current_address;
                this.employee_profile.personal_info.sss_number = data.sss_details != null? data.bir_details.membership_code : "N/A";
                this.employee_profile.personal_info.pagibig_number = data.phic_details != null? data.phic_details.membership_code : "N/A";
                this.employee_profile.personal_info.philhealth_number = data.hdmf_details != null? data.hdmf_details.membership_code : "N/A";
                this.employee_profile.personal_info.tin_number = data.bir_details != null? data.bir_details.membership_code : "N/A";
                this.employee_profile.employment_details.department = data.job_details.department;
                this.employee_profile.employment_details.title = data.job_details.designation;
                this.employee_profile.employment_details.date_joined = data.job_details.joined_date;
                this.employee_profile.employment_details.employee_status = data.job_details.employee_status == 1?"Active":"Inactive";
                this.employee_profile.employment_details.employee_type = data.job_details.employee_type;
                this.employee_profile.employment_details.reporting_to = null;
                this.employee_profile.employment_details.source_of_hire = data.job_details.source_of_hire == 1?"Direct":"-";
                this.employee_profile.employment_details.employee_location = null;
                this.employee_profile.employment_details.role = data.job_details.designation;
                this.employee_profile.contact_details.phone_number = data.contact_details.phone_number;
                this.employee_profile.contact_details.work_phone = data.contact_details.work_phone;
                this.employee_profile.contact_details.emergency.contact_person = data.contact_details.emergency_contact;
                this.employee_profile.contact_details.contact_number = data.contact_details.emergency_contact_number;
                
                data.educational_details.forEach(detail => {
                    this.employee_profile.educational_background.push({
                        school: detail.school, 
                        year_duration: detail.start_date + " " + detail.end_date, 
                        awards: detail.awards == null?"-":detail.awards
                    })
                });
                
            });
        },
        methods:{
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            changePassword(){
                let form_data = new FormData();
                form_data.append('old_password', this.password.old_password)
                form_data.append('new_password', this.password.new_password)
                form_data.append('confirm_password', this.password.confirm_password)

                axios.post('user/change-password', form_data).then((response) => {
                    if(response.data.success){
                        this.modalHide();
                        this.makeToast('Success!',"Successfully changed your password",'success');
                    }else{
                        this.makeToast('Oops!',response.data.description,'danger');
                    }
                });
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
.sl-icon{
    margin-left: 42%; 
    color: #F6AC0B;
}
.vl-icon{
    margin-left: 42%; 
    color: #64D5FD;
}
.ml-icon{
    margin-left: 42%; 
    color: #CB3888;
}
.pl-icon{
    margin-left: 42%; 
    color: #5895FF;
}
</style>