<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>

        <div>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Notifications List </span>
                </b-col>
                <b-col md="6" class="align-right">
                    
                </b-col>
            </b-row>
            <ul class="pt-1rm">
                <li class="notif-hr" v-bind:class="{notif_view: notification.view_at == null}" v-for="notification in notifications" :key="notification.id">
                    <router-link @click.native="markAsView(notification.id)" :to="{ name: notification.data.route, params: {id: notification.data.id} }" style="color: #707070">
                        <b-row>
                            <b-col md="2">
                                <img :src="require(`@/images/user.jpg`)" class="default-img" style="vertical-align: text-top">
                            </b-col>
                            <b-col md="10">
                                <div class="fs-12" style="padding-left: 10px; line-height: 1.2rem">
                                <div>
                                    <span class="ellipsis-2">
                                        <b>{{ notification.data.user_name }}</b> {{ notification.data.description }}<b> {{ notification.data.other_info }}</b>
                                    </span>
                                    <span>{{ notification.time_diff }}</span> <span> - created by: {{notification.data.created_at}}</span>
                                </div>
                                    
                                </div>
                            </b-col>
                        </b-row>
                    </router-link>
                </li> 
            </ul>
            
        </div>
        
    </b-col>
</template>
 
<script>
    import axios from 'axios'
    export default {
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Notifications', href: '#'},
                    { text: 'List', active:true },
                ],
                notifications: []
                
            }
        },
        mounted(){
                axios.get('notification/all').then((response) => {
                    this.notifications = response.data
                });
        },
        methods:{
            markAsView(id){
                axios.put('notification/' + id);
            }
        }
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>