<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form>
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{name:'human_resource.activities'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Task</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Task Owner</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_options"
                                        name="employee_options"
                                        v-model="form.employee_options"
                                        :options="employee_options"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Subject</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="name" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="subject"
                                        name="subject"
                                        placeholder="Enter Subject"
                                        v-model="form.subject"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Due Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="overtime-date">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    id="due_date" 
                                    name="due_date"
                                    v-model="form.due_date"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="2">
                        </b-col>
                        <b-col md="2" class="text-right">
                            <b-form-select class="btn-drop" size="sm"
                                    id="select_here"
                                    name="select_here"
                                    v-model="form.select_here"
                                    :options="select_here"
                            ></b-form-select>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="select"
                                        name="select"
                                        placeholder="Search Overtime"
                                        v-model="form.select"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Status</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="status"
                                        name="status"
                                        v-model="form.status"
                                        :options="status"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Priority</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="priority"
                                        name="priority"
                                        v-model="form.priority"
                                        :options="priority"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Reminder</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-checkbox class="mt-08"></b-form-checkbox>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Repeat</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-checkbox class="mt-08"></b-form-checkbox>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b></b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;">+ Add Description</a>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    export default {
        data() {
            return {          
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Activities', active:true },
                    { text: 'Task', href: '#'},
                    { text: 'New', active: true },
                ],
                employee_options: [
                    { value: null, text: "Select Employee" },
                    { value: '0', text: 'Angelo Zamora'},
                    { value: '1', text: 'Andrian Bantero'}
                ],
                status: [
                    { value: null, text: "Select Status" },
                    { value: '0', text: 'In progress'},
                ],
                priority: [
                    { value: null, text: "Select Priority" },
                    { value: '0', text: 'High'},
                ],
                select_here: [
                    { value: null, text: "Select Here" },
                    { value: '0', text: 'Overtime'},
                    { value: '1', text: 'Timesheet'},
                    { value: '1', text: 'Leave'}
                ],
                form: {
                    employee_options: null,
                    subject: null,
                    dute_date: null,
                    status: null,
                    priority: null,
                    select_here: null,
                },
            };
        },
        methods: {
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>