<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{ name: 'return_slip' }" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title title-left">Return Slip Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <b-button class="btn-inventory-primary btn-size mr-05">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item v-on:click="printMe" title="Print">Print</b-dropdown-item>
                            <b-dropdown-item >Call</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Contact"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item >Send Email</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="6">
                        <b-row>
                            <b-col md="4" class="form-group mt-50 align-right">
                                <label>Return By</label>
                            </b-col>
                            <b-col md="6" class="form-group mt-50 align-left">
                                <label class="fw-bold">{{returned_by}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date Created</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{date_created}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Received By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">N/A</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Created By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{created_by}}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">                        
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
                <b-row class="mt-20">
                    <b-col md="12">
                        <b-tabs content-class="mt-3">
                            <b-tab title="Item Return" active>
                                <div class="align-right">
                                    <a href="#" title=""><span class="fa fa-plus"></span> <b>Add</b></a>
                                </div>
                                <vuetable ref="vuetable" :fields="itemNumberHeader" :data="return_items" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                                </vuetable>
                                
                            </b-tab>
                        </b-tabs>
                    </b-col>
                </b-row>
            </b-container> 
        </b-row>
        <b-row style="display: none">
            <Printing></Printing>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import axios from 'axios'
    import moment from 'moment'
    import ApprovalStatus from '@/components/ApprovalStatus' 
    import printJS from 'print-js';

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            ApprovalStatus
        },
        data() {
            return {
                approveData: [],
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Return Slip', href: '#'},
                    { text: 'View', active:true },
                ],
                itemNumberHeader: [
                    {
                        name: 'item_no',
                        title: 'Item No.',
                        sortField: 'item_no',
                    },
                    {
                        name: 'item_description',
                        title: 'Item Description',
                        sortField: 'item_description',
                    },
                    {
                        name: 'unit',
                        title: 'Unit',
                        sortField: 'unit',
                    },
                    {
                        name: 'returned',
                        title: 'Returned',
                        sortField: 'returned',
                    },
                    {
                        name: 'received',
                        title: 'Received',
                        sortField: 'received',
                    },
                    {
                        name: 'remarks',
                        title: 'Remarks',
                        sortField: 'remarks',
                    }
                ],
                returned_by: '',
                date_created: '',
                created_by: '',
                return_items: [],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('return_slip/'+this.$route.params.id).then(response => {
                this.approveData = response.data
                let data = response.data
                this.returned_by = data.employee.first_name + " " + data.employee.last_name
                this.date_created = moment(String(data.created.created_at)).format('MMMM DD, YYYY ') + "|" + " " + moment(String(data.created.created_at)).format('hh:mm A ')
                this.created_by = data.created.user.name
                for (const x in response.data.return_items){
                    console.log(response.data.return_items);
                    this.return_items.push({item_no: response.data.return_items[x]['id'],item_description: response.data.return_items[x].inventory.get_inventories_names['description'],unit: response.data.return_items[x].inventory.get_unit['unit_name'],returned: response.data.return_items[x]['qty_return'],received: response.data.return_items[x]['qty_recieved'],remarks: response.data.return_items[x]['remarks']})
                }
            });
        },
        method: {
            printMe(){
                printJS({ printable: 'printMe', type: 'html', header: 'Return Slip Information'});
                // this.printval = false;
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>