<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-form @submit.stop.prevent="save">
            <b-row class="row justify-content-center">
                <b-col md="12" class="mt-24">
                    <b-row>
                        <b-col md="6" style="margin: inherit;">
                            <router-link :to="{ name: 'premise_equipment.view', params: {id: this.$route.params.id}}" ><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                            <span class="hr-title">Edit Customer Premise Equipment Information</span>
                        </b-col>
                        <b-col md="6" class="align-right" style="margin: auto;">
                            <b-button type="submit" class="inventory-btn">Save</b-button> 
                        </b-col>
                    </b-row>
                </b-col>
                <b-container>
                    <b-col md="12" class="mt-25">
                        <b-row>
                            <b-col md="6" style="margin: inherit;">
                                <router-link :to="{name: 'premise_equipment'}" ><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                                <span class="hr-title">Edit Customer Premise Equipment Information</span>
                            </b-col>
                            <b-col md="6" class="align-right" style="margin: auto;">
                             <b-button type="submit" class="inventory-btn">Save</b-button> 
                            </b-col>
                        </b-row>
                    </b-col>
                        <b-row>
                            <b-col md="2 ">
                                <div class="mt-50 ">
                                    <b-col md="2">
                                        <div class="mt-50">
                                            <img style="border-radius: 50%;width: 140px;height: 140px;" :src="form.image"  class="mt-20"  md="12" id="im" name="im"  @click="changeImage">
                                            <b-form-file
                                                    id="file_image"
                                                    placeholder="Choose a file or drop it here..."
                                                    drop-placeholder="Drop file here..."
                                                    accept="image/*"
                                                    @change="filesChange($event.target.files)"
                                                    height="100"
                                                    width="100"
                                                    class="no-display"
                                            ></b-form-file>
                                        </div>
                                    </b-col>
                                </div>
                            </b-col>
                            <b-col md="10">
                                <b-row  class="mt-50">
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Item Description</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group id="description" label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="description"
                                                name="description"
                                                v-model="$v.form.description.$model"
                                                :state="stateValidation('description')"
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Item Description"
                                                readonly
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Mat Code</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="mat_code"
                                                name="mat_code"
                                            
                                                 v-model="$v.form.mat_code.$model"
                                                :state="stateValidation('mat_code')"
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Item Mat Code"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Category</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="category_id"
                                                name="category_id"
                                                aria-describedby="input-2-live-feedback"
                                                 v-model="$v.form.category.$model"
                                                :state="stateValidation('category')"
                                                :options="category_options"
                                            ></b-form-select>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Quantity</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                            <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                                id="quantity"
                                                name="quantity"
                                                 v-model="$v.form.quantity.$model"
                                                :state="stateValidation('quantity')"
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Item Quantity"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Mininmum Stock</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                            <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                                id="min_stock"
                                                name="min_stock"
                                                v-model="$v.form.min_stock.$model"
                                                :state="stateValidation('min_stock')"
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Item Mininmum Stock"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Unit Price</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                            <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                                id="unit_price"
                                                name="unit_price"
                                                v-model="form.unit_price"
                                                aria-describedby="input-2-live-feedback"
                                                placeholder="Item Unit Price"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3" class="align-right pt-9">
                                        <b>Unit</b>
                                    </b-col>
                                    <b-col md="6"  class="align-left">
                                        <b-form-group label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="category_id"
                                            name="category_id"
                                            aria-describedby="input-2-live-feedback"
                                                v-model="$v.form.category.$model"
                                            :state="stateValidation('category')"
                                            :options="category_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="align-right pt-9">
                                    <b>Quantity</b>
                                </b-col>
                                <b-col md="6"  class="align-left">
                                    <b-form-group label-for="input-2">
                                        <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                            id="quantity"
                                            name="quantity"
                                                v-model="$v.form.quantity.$model"
                                            :state="stateValidation('quantity')"
                                            aria-describedby="input-2-live-feedback"
                                            placeholder="Item Quantity"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="align-right pt-9">
                                    <b>Mininmum Stock</b>
                                </b-col>
                                <b-col md="6"  class="align-left">
                                    <b-form-group label-for="input-2">
                                        <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                            id="min_stock"
                                            name="min_stock"
                                            v-model="$v.form.min_stock.$model"
                                            :state="stateValidation('min_stock')"
                                            aria-describedby="input-2-live-feedback"
                                            placeholder="Item Mininmum Stock"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="align-right pt-9">
                                    <b>Unit Price</b>
                                </b-col>
                                <b-col md="6"  class="align-left">
                                    <b-form-group label-for="input-2">
                                        <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                            id="unit_price"
                                            name="unit_price"
                                            v-model="form.unit_price"
                                            aria-describedby="input-2-live-feedback"
                                            placeholder="Item Unit Price"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="align-right pt-9">
                                    <b>Unit</b>
                                </b-col>
                                <b-col md="6"  class="align-left">
                                    <b-form-group label-for="input-2">
                                    <b-form-select style="border-left: solid 1.5px #ec0000"
                                            aria-describedby="input-2-live-feedback"
                                            id="unit"
                                            name="unit"
                                                v-model="$v.form.unit.$model"
                                            :state="stateValidation('unit')"
                                            :options="unit_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-container>
            </b-row>
        </b-form>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { required } from "vuelidate/lib/validators";
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Customer Premise Equipment', href: '#'},
                    { text: 'Edit', active:true },
                ],
                 category_options: [
                    { value: null, text: "Select Category" },
                ],
                unit_options: [
                    { value: null, text: "Select Unit" },
                ],
                attachmentHeader: [
                    {
                        name: 'file_name',
                        title: 'File Name',
                        sortField: 'file_name',
                    },
                    {
                        name: 'added_by',
                        title: 'Added By',
                        sortField: 'added_by',
                    },
                    {
                        name: 'date_added',
                        title: 'Date Added',
                        sortField: 'date_added',
                    },
                ],
                attachment: [{
                    'file_name' : 'Company_profile.docx',
                    'added_by' : 'Jhon Mariano',
                    'date_added' : 'May 12, 2020',
                }],
                form: {
                    inventoies_name_id: '',
                    description: '',
                    category: null,
                    mat_code: '',
                    quantity: '',
                    unit: null,
                    min_stock: '',
                    unit_price: '',
                    images: null,
                    image: null,
                }
            }
        },
        mounted(){
            Axios.get('customer-premise-equipment/'+this.$route.params.id+'/edit').then(response => {
                console.log(response.data);
                this.form.description = response.data.data.inventory_description_data.description;
                this.form.inventoies_name_id = response.data.data.inventory_description_data.id;
                this.form.category = response.data.data.category_id.id;
                this.form.quantity = response.data.data.quantity;
                this.form.image = (response.data.data.image == null?require(`@/images/user.jpg`):response.data.data.image);
                this.form.images = (response.data.data.image_src == null?'':response.data.data.image_src);
                this.form.unit = response.data.data.unit_id.id;
                this.form.mat_code = response.data.data.inventory_description_data.mat_code;
                this.form.min_stock = response.data.data.min_stock;
                this.form.unit_price = response.data.data.unit_price;
                this.form.imageval = 0;
                let categories = response.data.Categories;
                categories.forEach(category => {
                    this.category_options.push({
                        value: category.id,
                        text:  category.category_name
                    });
                });
                let units = response.data.Unit;
                units.forEach(unit =>{
                    this.unit_options.push({
                        value: unit.id,
                        text:  unit.unit_name
                    });   
                });
            });
        },
         validations: {
            form: {
                description: {
                    required
                },
                category: {
                    required
                },
                mat_code: {
                    required
                },
                quantity: {
                    required
                },
                unit: {
                    required
                },
                min_stock: {
                    required
                }
                
            }
        },
        methods: {
            filesChange(fileList){
                
                if(!fileList.length) return;
                let selected_file = fileList[0];
                let imageTag = document.getElementById('im') 
                let reader = new FileReader();
                reader.onload = function(e) {
                    // The file's text will be printed here
                    imageTag.src = e.target.result
                };
                reader.readAsDataURL(selected_file);
                this.form.images = selected_file;
                console.log(selected_file)
                this.form.imageval = 1;
            },
            changeImage(){
                document.getElementById('file_image').click()
            },
             modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
             save(){
              
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    let form_data = new FormData();
                    form_data.append("_method", "PUT");
                    form_data.append("image", this.form.images);
                    form_data.append("inventoies_name_id", this.form.inventoies_name_id);
                    form_data.append("description", this.form.description);
                    form_data.append("mat_code", this.form.mat_code);
                    form_data.append("category", this.form.category);
                    form_data.append("quantity", this.form.quantity);
                    form_data.append("unit", this.form.unit);
                    form_data.append("unit_price", this.form.unit_price);
                    form_data.append("min_stock", this.form.min_stock);
                    form_data.append("imageval", this.form.imageval);
                    
                    Axios.post('customer-premise-equipment/'+this.$route.params.id,form_data).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                            this.makeToast('Success','Successfully Edited','success')
                           
                                this.$router.push({
                                    name: 'premise_equipment.view',
                                    params: {id: this.$route.params.id}
                                });
                        
                            
                        }                       
                    })
                }
                
            }
            // deleteModal: function (){
            //     let id = [];
            //     id.push(this.$route.params.id);
            //     Axios.delete('customer-premise-equipment/'+id).then(response => {
            //         let data = response.data
            //         if (data.error){
            //             this.makeToast('Oopps!',data.desc,'danger')
            //         } else{
            //             this.$bvModal.hide('modal-main');
            //             this.makeToast('Success','Successfully Deleted','success');
            //             this.$router.push({
            //                 name: 'opremise_equipment'
            //             });
            //         }
            //     });
            // },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}


</style>