<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Customer Premise Equipment</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Customer Premise Equipment List</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{name:'premise_equipment.create'}">
                        <b-button class="btn-inventory-primary mr-05"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button class="btn-size" :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-button>
                </b-col>
            </b-row>
            <b-row class="mt-30 col-md-12">
                <!-- <b-card class="k-card m-card" style="width: 35em;">
                    <b-row md="12">
                        <b-col sm="8">Weekly Usage</b-col>
                        <b-col sm="4">as of June 1-5,2020</b-col>
                    </b-row>
                    <hr>
                    <b-row md="12">
                        <b-col sm="9">
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label>
                        </b-col>
                        <b-col  sm="3">
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label>
                        </b-col>
                    </b-row>
                    <b-row md="12">
                        <b-col class="align-right link-color"><b-link href="" >See more</b-link></b-col>
                    </b-row>
                </b-card>
                <b-card class="k-card m-card" style="width: 35em;">
                    <b-row md="12">
                        <b-col sm="8">Delivery</b-col>
                        <b-col sm="4">as of June 1-5,2020</b-col>
                    </b-row>
                    <hr>
                    <b-row md="12">
                        <b-col sm="9">
                            <label>WIFI Mesh (Deco M5) set of 3 (RESIDENTIAL)</label><br>
                            <label>WIFI Mesh (Deco M5) set of 3 (CORPO)</label><br>
                            <label>WIFI Mesh (Deco M5) set of 3</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label><br>
                            <label>AC ADAPTER, Pwrs Sup(220VAC-12VDC)1.5A</label>
                        </b-col>
                        <b-col  sm="3">
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label><br>
                            <label>10 pcs</label>
                        </b-col>
                    </b-row>
                    <b-row md="12">
                        <b-col class="align-right link-color"><b-link href="" >See more</b-link></b-col>
                    </b-row>
                </b-card> -->
                    
            </b-row>
            <b-col class="mt-30">
                <b-container>
                    <b-row>
                        <!-- <b-col sm="10"></b-col>
                        <b-col sm="2"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click="filter()"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col> -->
                    </b-row>
                </b-container>
            </b-col>
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="image" slot-scope="props">
                    <b-avatar v-if="props.rowData.image == null" size="lg" :src="require(`@/images/user.jpg`)" class="rounded-circle img-user-size"></b-avatar>
                    <b-avatar v-else :src="props.rowData.image" size="lg"></b-avatar>
                </div>
                <div slot="description" slot-scope="props">
                    <router-link :to="{ name: 'premise_equipment.view', params: {id: props.rowData.id}}">{{ props.rowData.description }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import NoData from '@/components/NoDataPage'
    import { mapActions } from 'vuex'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Customer Premise Equipment",
                    image: "premise_equipment",
                    description: "Inventory for CPE's or customer provided equipment is any terminal and associated equipment located at a subscriber's premises.",
                    route_create: "premise_equipment.create",
                    route_import: "premise_equipment.import",
                    params: "premise_equipment",
                    allmodules: true,
                    import_data: {
                        params: "premise_equipment",
                        title: "Customer Premise Equipment",
                        download: "SampleCSVFile_CPE.csv", //SampleCSVFile_ + Name of module in CamelCase format
                        data_to_import: "premise-equipment",
                        data_route: "premise_equipment",
                        template_headers: { //add sample data here
                            "ItemDescription*": "Coax RG-6(Blk) 77%-Trsshield w/ mes",
                            "Category*": "Cable",
                            "MatCode*": "75002710",
                            "Quantity*": "20",
                            "MinimumStock*": "10",
                            "UnitPrice": "",
                            "Unit*": "pc",
                        },
                        to: 'premise_equipment' //route
                    }
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Customer Premise Equipment', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'image',
                        sortField: 'image',
                        direction: 'asc'
                    }
                ],
                

                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'image',
                        title: 'Image',
                        sortField: 'image',
                        formatter: (value) => {
                         return value
                        }
                    },
                    
                    {
                        name: 'description',
                        title: 'Description',
                        sortField: 'description',
                        formatter: (value) => {
                        return value  
                        }
                        
                    },
                    {
                        name: 'category',
                        title: 'Category',
                        sortField: 'category',
                        formatter: (value) => {
                        return value  
                        } 
                    },
                    {
                        name: 'quantity',
                        title: 'Quantity',
                        sortField: 'quantity',
                        formatter: (value) => {
                        return value 
                        }
                    },
                ],
                data: [],
                perPage: 10,
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        }, 
        created(){
            this.fetchModule("premise_equipment")
        },
        mounted() {
            axios.get('customer-premise-equipment').then( response => {
                console.log(response.data);
                for(const x in response.data){
                    this.data.push({
                        id: response.data[x].id,
                        image: response.data[x].image,
                        description: response.data[x].inventory_description_data.description,
                        category: response.data[x].category_id.category_name,
                        quantity: response.data[x].quantity,
                    });
                }
            })
        },
        methods: {
            ...mapActions({
                fetchModule: 'fetchModule'
            }),
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                console.log(this.checkboxID);
                axios.delete('customer-premise-equipment/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>