<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{name: 'premise_equipment'}" ><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Customer Premise Equipment Information</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                       <router-link :to="{name: 'premise_equipment.edit', params: {id: this.$route.params.id}}"><b-button class="inventory-btn btn-size hide-edit" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Customer Premise Equipment" component="delete">Delete</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
             <b-row>
                <b-col md="2">
                    <div class="mt-50">
                        <b-avatar v-if="image != null" :src="image" size="10rem"></b-avatar>
                        <b-avatar v-else  :src="require(`@/images/user.jpg`)"  size="10rem"></b-avatar>
                    </div>
                </b-col>
                <b-col md="10">
                    <b-row>
                        <b-col md="3" class="form-group mt-50 align-right">
                            <label>Description</label>
                        </b-col>
                        <b-col md="6" class="form-group mt-50 align-left">
                            <label class="fw-bold">{{ description }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Mat Code</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ MatCode }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Category</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ category }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Quantity</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ formatDecimal(quantity) }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Mininmum Stock</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ formatDecimal(min_stock) }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Unit Price</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold"> {{ unit_price != null ? 'PHP '+unit_price : 'N/A'}}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Unit</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ unit }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Created By</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ created_by.name }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="form-group align-right">
                            <label>Date Created</label>
                        </b-col>
                        <b-col md="6" class="form-group align-left">
                            <label class="fw-bold">{{ date_created }}</label>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="2" ></b-col>   
                        <b-col md="5">
                            <a href="#"  @click="showModal($event)" title="Add Specification / Other Info" component=""><span class="fa fa-plus"></span> <b>Add Specification / Other Info</b></a>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
                <b-tabs content-class="mt-3" class="mt-30">
                    <b-tab title="Attachments" active>
                        <vuetable ref="vuetable" :fields="attachmentHeader" :data="attachment" :api-mode="false" class="table-overflow" :css="css.table" >
                        </vuetable>
                    </b-tab>
                    <b-tab title="History"></b-tab>
                    <b-tab title="Defective"></b-tab>
                    <b-tab title="Delivery"></b-tab>
                    <b-tab title="Transfer"></b-tab>
                </b-tabs>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    import Vuetable from 'vuetable-2'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Customer Premise Equipment', href: '#'},
                    { text: 'View', active:true },
                ],
                attachmentHeader: [
                    {
                        name: 'file_name',
                        title: 'File Name',
                        sortField: 'file_name',
                    },
                    {
                        name: 'added_by',
                        title: 'Added By',
                        sortField: 'added_by',
                    },
                    {
                        name: 'date_added',
                        title: 'Date Added',
                        sortField: 'date_added',
                    },
                ],
                attachment: [{
                    'file_name' : 'Company_profile.docx',
                    'added_by' : 'Jhon Mariano',
                    'date_added' : 'May 12, 2020',
                }],
                DeleteData: [],
                description: [],
                category: [],
                quantity: [],
                unit: [],
                created_by: [],
                date_created: [],
                MatCode: [],
                min_stock: [],
                unit_price: [],
            }
        },
        mounted(){
            Axios.get('customer-premise-equipment/'+this.$route.params.id).then(response => {
                console.log(response.data);
                this.data=response.data;
                this.description = response.data.inventory_description_data.description;
                this.category = response.data.category_id.category_name;
                this.quantity = response.data.quantity;
                this.unit = response.data.unit_id.unit_name;
                this.image = response.data.image;
                this.MatCode = response.data.inventory_description_data.mat_code;
                this.min_stock = response.data.min_stock;
                this.unit_price = response.data.unit_price;
                this.date_created = response.data.created_at+" "+response.data.time;
                this.created_by = response.data.history_logs == null ? 'N/A' : response.data.history_logs.user;
                this.DeleteData = {value: this.$route.params.id, route:'customer-premise-equipment/', route2:'premise_equipment', data: this.description}
            });
        },
        methods: {
             modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            // deleteModal: function (){
            //     let id = [];
            //     id.push(this.$route.params.id);
            //     Axios.delete('customer-premise-equipment/'+id).then(response => {
            //         let data = response.data
            //         if (data.error){
            //             this.makeToast('Oopps!',data.desc,'danger')
            //         } else{
            //             this.$bvModal.hide('modal-main');
            //             this.makeToast('Success','Successfully Deleted','success');
            //             this.$router.push({
            //                 name: 'opremise_equipment'
            //             });
            //         }
            //     });
            // },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}


</style>