<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
              
                <b-form  @submit.stop.prevent="save">
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'supplies_equipment'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Asset</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn" @click.prevent="save()">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="3" class="pl-3rm" >
                            <upload-image v-on:newImage="imageChanged"/>
                        </b-col>
                        
                        <b-col md="9" > 
                            <b-row class="mt-30">
                                <b-col md="4" class="text-right pt-9">
                                    <b>Asset Name</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="description" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="description"
                                            name="description"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.description"
                                            placeholder="Asset Name"
                                            :style="show1 ? filterStyle : null"
                                            v-on:change="validation($event,'show1')"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Category</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="category_id" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="category_id"
                                            name="category_id"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.category_id"
                                            :options="category_options"
                                            v-on:change="validation($event,'show2')"
                                            :style="show2 ? filterStyle : null"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Quantity</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="quantity" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="quantity"
                                            name="quantity"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.quantity"
                                            placeholder="Quantity"
                                            v-on:change="validation($event,'show3')"
                                            :style="show3 ? filterStyle : null"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Unit</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="unit_id" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            :options="unit_options"
                                            aria-describedby="input-2-live-feedback"
                                            id="unit_id"
                                            name="unit_id"
                                            v-on:change="validation($event,'show4')"
                                            v-model="form.unit_id"
                                             :style="show4 ? filterStyle : null"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>  
                                <b-col md="9" lg="9" class="align-right">
                                    <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="addRow">+ Add</a>
                                </b-col>
                            </b-row>
                           
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <div class="drkgry-color fs-18  pt-2rm"><b>Other Information</b></div>
                            <hr style="width: 100%; margin-bottom: 0.1rem;">
                            <b-row >
                                <b-col >
                                    <b-table hover  :items="form.item" :fields="tableColumns" show-empty style="width: 100%">
                                        <template v-slot:cell(images)="items">
                                            <b-avatar v-if="items.item.images != null" :src="items.item.images" size="4em"></b-avatar>
                                            <b-avatar v-else  :src="require(`@/images/user.jpg`)"  size="4em"></b-avatar>
                                        </template>
                                        <template v-slot:cell(description)="items" >
                                            <div>
                                                {{items.item.description}}<br>
                                            </div>
                                        </template>
                                         <b-form-select
                                            :options="unit_options"
                                        ></b-form-select>
                                        <template v-slot:cell(asset_tag)="row" >
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                v-model="row.item.asset_tag"
                                                :state="stateValidation('item')"
                                                name="asset_tag"></b-form-input>
                                        </template>
                                        <template v-slot:cell(inventory_status_id)="row" >
                                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                            v-model="form.item[row.index].inventory_status_id"
                                            :options="status_options"
                                            :state="stateValidation('item')"
                                            name="inventory_status_id"
                                        ></b-form-select>
                                        </template>
                                        <template v-slot:cell(assigned_to)="row" >
                                            <b-form-select
                                            v-model="row.item.assigned_to"
                                            :options="assigned_options"
                                            name="assigned_to"
                                        ></b-form-select>
                                        </template>
                                        <template v-slot:cell(serial_model_no)="row" >
                                            <b-form-input v-model="row.item.serial_model_no" 
                                           
                                             name="serial_model_no"></b-form-input>
                                        </template>
                                        <template v-slot:cell(action)="row">
                                            <div :value="row.action">
                                                <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(row.item)"></span>
                                            </div>
                                        </template>
                                        <template v-slot:emptyfiltered="scope">
                                            <h4>{{ scope.emptyFilteredText }}</h4>
                                        </template>
                                    </b-table>   
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import axios from 'axios';
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import { mapActions } from 'vuex'
    import UploadImage from './UploadImage'

    export default {
        mixins: [validationMixin,formMixins],
        
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'Asset', href: '#'},
                    { text: 'New', active:true },
                ],
                tableColumns: [
                    {key:"images", label:"Image"},
                    {key:"description", label:"Description"},
                    {key:"asset_tag", label:"Asset Number"},
                    {key:"serial_model_no", label:"Serial Number"},
                    {key:"inventory_status_id", label:"Status"},
                    {key:"assigned_to", label:"Assigned To"},
                    {key:"action", label:"action"}
                ],
                category_options: [
                    { value: null, text: "Select Category" },
                ],
                unit_options: [
                    { value: null, text: "Select Unit" },
                ],
                status_options: [
                    { value: null, text: "Select Status" },
                ],
                assigned_options: [
                    { value: null, text: "Select Assigned" },
                ],
                type_options: [
                    { value: 0, text: "Type 1" },
                    { value: 1, text: "Type 2" },
                ],
                 filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                shows1:false,
                shows2:false,
                show3:false,
                show4:false,
                form: {
                    description: '',
                    category_id: null,
                    quantity: '',
                    unit_id: null,
                    image:null,
                    item: []
                },
                otheritems: {
                    location : '',
                    type: null,
                } 
            };
        },
        validations: {
            form: {
              
                item: {
                    $each : {
                        asset_tag: {
                            required
                        },
                        inventory_status_id: {
                            required
                        },
                        
                    }
                }
            }
        },
        components: {
            UploadImage
        },
        mounted(){
            axios.get('assets/create').then((response) => {
                let category_options_data = response.data.Categories;
                category_options_data.forEach((category) =>{
                    this.category_options.push({
                        value: category['id'],
                        text:  category['category_name']
                    });  
                });
                
                let unit_options_data = response.data.Unit;
                unit_options_data.forEach((unit) =>{
                    this.unit_options.push({
                        value: unit['id'],
                        text:  unit['unit_name']
                    }); 
                });
                
                let assigned_options_data = response.data.Employees;
                assigned_options_data.forEach((assigned) =>{
                   this.assigned_options.push({
                        value: assigned['id'],
                        text:  assigned['first_name'] + " " + assigned['last_name']
                    });     
                });
                
                let status_options_data = response.data.InventoryStatus;
                status_options_data.forEach((status_option) =>{
                    this.status_options.push({
                        value: status_option['id'],
                        text:  status_option['status_name']
                    });       
                });
            });
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            changedImage(value){
                 this.form.image = value
            },
            validation(value,type){
               
                if(value != null || value != ''){
                    if(type == 'show1'){
                        this.show1 = false;
                    }if(type == 'show2'){
                        this.show2 = false;
                    }if(type == 'show3'){
                        this.show3 = false;
                    }if(type == 'show4'){
                        this.show4 = false;
                    }
                }
            },
            imageChanged(value){
                this.form.image = value
            },
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            closeModal: function(form){
                for (let val in form.$model) {
                    this.$set(form.$model,val,null)
                }

                this.$nextTick(() => {
                    this.$v.$reset();
                    this.$bvModal.hide('modal-main')
                })
            },
            addData(){
                if (this.otheritems.location == '' || this.otheritems.type == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.otheritems.location == ''){
                        this.shows1 = true;
                    }
                    if(this.otheritems.type == null){
                        this.shows2 = true;
                    }
                    setTimeout(()=>{
                        this.shows1 = false;
                        this.shows2 = false;
                    },5000);
                }
            },
            addRow(){  
                this.fetchLoader(true)
                if (this.form.description == '' || this.form.category_id == null ||  this.form.quantity == '' || this.form.unit_id == null ){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form.description == ''){
                        this.show1 = true;
                    }
                    if(this.form.category_id == null){
                        this.show2 = true;
                    }
                    if(this.form.quantity == ''){
                        this.show3 = true;
                    }
                    if(this.form.unit_id == null){
                        this.show4 = true;
                    }
                }
                else {
                    this.show1 = false;
                    this.show2 = false;
                    this.show3 = false;
                    this.show4 = false;
                    if(this.form.item == null){
                        this.form.item = [];
                    }   
                    for ( let i = 0; i < this.form.quantity; i++) {
                        let my_object = {
                            id: i,
                            description: this.form.description, //
                            category_id: this.form.category_id, //
                            unit_id: this.form.unit_id, //   
                            quantity: this.form.quantity, //
                            asset_tag:'',
                            inventory_status_id: null,
                            assigned_to: null,
                            image: null,
                            images: null,
                            serial_model_no:'',
                        };
                        let count_quantity = this.form.quantity;
                        try {
                            axios.post('assets/validation',this.form).then((response) => {
                                let data = response.data
                                console.log(data)
                                if (data == "Error"){
                                    this.makeToast('Oopps!','This description is already in use','danger')
                                }else{
                                    if (this.form.image != null){
                                        let form_data = new FormData();
                                        form_data.append('image', this.form.image)
                                        axios.post('assets/save-image',form_data).then((response2) => {
                                            let val = response2.data
                                            if (val.error){
                                                this.addvalidation == false;
                                                this.makeToast('Oopps!',val.desc,'danger')
                                            }else{
                                                my_object.image = val.image;
                                                my_object.images = val.image_display;
                                                let imageTag = document.getElementById('im') 
                                                imageTag.src = require(`@/images/image-upload.jpg`);
                                            }
                                        
                                        })
                                    }else{
                                        my_object.image = null;
                                        my_object.images = null;
                                    }
                                    this.form.item.push(my_object)
                                    this.form.description = '';
                                    this.form.category_id = null;
                                    this.form.quantity = '';
                                    this.form.unit_id = null;
                                    console.log(count_quantity);
                                } 

                                return count_quantity;                    
                            }).then((quantity)=> {
                                
                                if((i+1) == quantity){
                                    this.form.image = null;
                                }
                            });
                        
                        }catch (e) {
                            console.log(e)
                        }
                        
                        
                         
                    }        
                     
                }
                this.fetchLoader(false);
            },
            imagevali(){
                this.form.image = null; 
            },
            save(){    
                this.fetchLoader(true);
                if(this.form.item == '') {
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form.description == ''){
                        this.show1 = true;
                    }
                    if(this.form.category_id == null){
                        this.show2 = true;
                    }
                    if(this.form.quantity == ''){
                        this.show3 = true;
                    }
                    if(this.form.unit_id == null){
                        this.show4 = true;
                    }
                }
                else {
                    this.$v.form.$touch()
                    if (this.$v.form.$anyError){
                        this.makeToast('Oopps!','Fields with red are required','danger')
                        return
                    }
                    try {
                        axios.post('assets',this.form).then((response) => {
                            let data = response.data
                            if (data.error){
                                this.makeToast('Oopps!',data.desc,'danger')
                            } else{
                                this.makeToast('Success','Successfully Created','success')
                                if(this.checked == false){
                                    this.$router.push({
                                        name: 'supplies_equipment'
                                    });
                                }
                                this.form.item = [];
                                this.checked = false;
                                
                            }                       
                        })
                    }catch (e) {
                        console.log(e)
                    }
                }
                this.fetchLoader(false);
            },
           
            
        }
    };
 
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>