<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="save">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8">
                            <router-link :to="{name:'supplies_equipment.view.assets'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Asset Information</span>                        
                        </b-col>
                        <b-col xl="6" lg="6" md="6" sm="4" cols="4" class="align-right">
                            <b-button type="submit" class="inventory-btn">Update</b-button>
                            
                        </b-col>
                    </b-row>
                    <b-container>
                        <b-row>
                            <b-col md="2">
                                <div class="mt-50">
                                    <img style="border-radius: 50%;width: 140px;height: 140px;" :src="form.image"  class="mt-20"  md="12" id="im" name="im"  @click="changeImage">
                                    <b-form-file
                                            id="file_image"
                                            placeholder="Choose a file or drop it here..."
                                            drop-placeholder="Drop file here..."
                                            accept="image/*"
                                            @change="filesChange($event.target.files)"
                                            height="100"
                                            width="100"
                                            class="no-display"
                                    ></b-form-file>
                                </div>
                            </b-col>
                            <b-col md="10">
                                <b-row class="mt-30">                                
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Description</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-input
                                                id="description"
                                                name="description"
                                                v-model="form.description"
                                                readonly
                                                placeholder="Enter Description"
                                        ></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-30">                                
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Category</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-select
                                            id="assigned_to"
                                            name="assigned_to"
                                            v-model="form.category"
                                            :options="category"
                                        ></b-form-select>
                                    </b-col>
                                </b-row>
                                 <b-row class="mt-30">                                
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Unit</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-select
                                            id="assigned_to"
                                            name="assigned_to"
                                            v-model="form.unit"
                                            :options="unit"
                                        ></b-form-select>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-30">
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Serial Number</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-input
                                                id="serial_model_no"
                                                name="serial_model_no"
                                                v-model="form.serial_model_no"
                                                placeholder="Enter Serial Number"
                                        ></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-30">
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Status</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="inventory_status_id"
                                            name="inventory_status_id"
                                            v-model="$v.form.inventory_status_id.$model"
                                            :options="inventory_status_id"
                                            :state="stateValidation('inventory_status_id')"
                                        ></b-form-select>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-30">
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Asset Tag</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="asset_tag"
                                            name="asset_tag"
                                            v-model="$v.form.asset_tag.$model"
                                            :state="stateValidation('asset_tag')"
                                            placeholder="Enter Asset Tag"
                                        ></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row class="mt-30">
                                    <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                                        <b class="drkgry-color">Assigned To</b>
                                    </b-col>  
                                    <b-col md="6" xl="5" lg="5">
                                        <b-form-select
                                            id="assigned_to"
                                            name="assigned_to"
                                            v-model="form.assigned_to"
                                            :options="assigned_to"
                                        ></b-form-select>
                                    </b-col>
                                </b-row>
                            </b-col>
                         </b-row>
                    </b-container>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                route:'assets/'+this.$route.params.id,  
                checked:false,
                checkedCategories: [],
                busy: false,
               breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'Asset', href: '#'},
                    { text: 'Edit', active:true },
                ],
                inventory_status_id: [
                    { value: null, text: "Select Inventory Status" }
                ],
                assigned_to: [
                    { value: null, text: "Select Assigned To" }
                ],
                category: [
                    { value: null, text: "Select Category" }
                ],
                 unit: [
                    { value: null, text: "Select Unit" }
                ],
                form: {
                    asset_tag: null,
                    description: null,
                    unit: null,
                    category: null,
                    serial_model_no: null,
                    inventory_status_id: null,
                    image:null
                }
            };
        },        
        mounted(){
            axios.get('assets/' + this.$route.params.id + '/edit').then(response => {
                console.log(response.data);
                let data = response.data
                this.form.assigned_to = data.data.assigned_to.id
                this.form.asset_tag = data.data.asset_tag
                this.form.description = data.data.inventory_data.inventory_description_data.description
                this.form.serial_model_no = data.data.serial_model_no
                this.form.unit = data.data.inventory_data.unit_id.id
                this.form.inventory_status_id = data.data.inventory_status_data.id
                this.form.category = data.data.inventory_data.category_id.id
                this.form.image = (data.data.image_src == null?require(`@/images/user.jpg`):data.data.image_src);
                this.form.images = (data.data.image_src == null?'':data.data.image);
                this.form.imageval = 0;
                let assigned_options_data = data.Employees;
                assigned_options_data.forEach((assigned) =>{
                   this.assigned_to.push({
                        value: assigned['id'],
                        text:  assigned['first_name'] + " " + assigned['last_name']
                    });     
                });
                let categories_data = data.Categories;
                categories_data.forEach((categories) =>{
                   this.category.push({
                        value: categories['id'],
                        text:  categories['category_name']
                    });     
                });
                let unit_data = data.Unit;
                unit_data.forEach((unit) =>{
                   this.unit.push({
                        value: unit['id'],
                        text:  unit['unit_name']
                    });     
                });
                let status_options_data = data.InventoryStatus;
                status_options_data.forEach((status_option) =>{
                   this.inventory_status_id.push({
                        value: status_option['id'],
                        text:  status_option['status_name']
                    });     
                });
            });
        },
        validations: {
            form: {
                asset_tag: { required },
                inventory_status_id: { required },
                assigned_to: { required },
            }
        },
        methods: {
            filesChange(fileList){
                
                if(!fileList.length) return;
                let selected_file = fileList[0];
                let imageTag = document.getElementById('im') 
                let reader = new FileReader();
                reader.onload = function(e) {
                    // The file's text will be printed here
                    imageTag.src = e.target.result
                };
                reader.readAsDataURL(selected_file);
                this.form.images = selected_file;
                console.log(selected_file)

                this.form.imageval = 1;
            },
            changeImage(){
                document.getElementById('file_image').click()
            },
            save(){
                // submitForm(route,{ stay: false, route:'operation_material.view', edit: true })
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    let form_data = new FormData();
                    form_data.append("_method", "PUT");
                    form_data.append("image", this.form.images);
                    form_data.append("inventory_status_id", this.form.inventory_status_id);
                    form_data.append("asset_tag", this.form.asset_tag);
                    form_data.append("category", this.form.category);
                    form_data.append("unit", this.form.unit);
                    form_data.append("assigned_to", this.form.assigned_to);
                    form_data.append("serial_model_no", this.form.serial_model_no);
                    form_data.append("imageval", this.form.imageval);
                    
                    axios.post('assets/'+this.$route.params.id,form_data).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                            this.makeToast('Success','Successfully Edit','success')
                            if(this.checked == false){
                                this.$router.push({
                                    name: 'supplies_equipment.view.assets',
                                    params: {id: this.$route.params.id}
                                });
                            }
                            
                        }                       
                    })
                }
                
            }
        }
      
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>