<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="submitForm('new_field')">
                    <b-row >
                        <b-col lg="6" md="6" sm="6" class="text-no-wrap">
                            <router-link :to="{ name:'supplies_equipment.view.assets' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm ">Create New Field</span>                        
                        </b-col>
                        <b-col  md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button  class="inventory-btn" type="submit">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Field Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="field_name" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="field_name"
                                        name="field_name"
                                        placeholder="Field Name"
                                        v-model="$v.form.field_name.$model"
                                        :state="stateValidation('field_name')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Element Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="element_type" label-for="input-2">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="element_type"
                                        name="element_type"
                                        v-model="$v.form.element_type.$model"
                                        :options="type_options"
                                        :state="stateValidation('element_type')"
                                        aria-describedby="input-2-live-feedback"
                                        v-on:change="showDescription()"
                                ></b-form-select>
                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row v-if="show">
                        <b-col md="3" class="align-right media-left pt-9"></b-col>   
                        <b-col md="6">
                            <b-row md="12">
                                <b-col md="2"><b>Description</b></b-col>
                                <b-col md="4">
                                    <b-form-input
                                        id="description"
                                        name="description"
                                        placeholder="Description"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                                </b-col>
                                <b-col md="2"><b>Value</b></b-col>
                                <b-col md="4">
                                    <b-form-input
                                        id="values"
                                        name="values"
                                        placeholder="Value"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                                </b-col>
                                
                            </b-row>
                        </b-col>
                        <b-col md="3" class="mt-05"><span class="fa fa-plus fa-2x add-color"></span>&nbsp;
                        <span class="fa fa-times fa-2x remove-color"></span></b-col>
                        
                    </b-row>

                    <b-row class="mt-08">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Implement To</b>
                        </b-col>   
                        <b-col md="5" class="mt-08">
                            <b-form-group>
                                <b-form-radio-group id="implement" 
                                    v-model="$v.form.implement.$model"
                                    :state="validateState('implement',$v.form)"
                                    :options="implement" class="drkgry-color"
                                    name="implement">
                                </b-form-radio-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
 
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                busy: false,
                show: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Operations Materials', href: '#'},
                    { text: 'New Field', href: '#'},
                    { text: 'New', active:true },
                ],
                implement: [
                    { value: 0, text: "on Data only" },
                    { value: 1, text: "on data Category only" },
                    { value: 2, text: "All" },
                ],
                type_options: [
                    { value: null, text: "Select Type"},
                    { value: 1, text: "Radio Button",}
                ],
                form: {
                    field_name: '',
                    element_type: null,
                    implement: '',
                    description: '',
                    values: ''
                },
            };
        },
        validations: {
            form: {
                field_name: {
                    required
                },
                element_type: {
                    required,
                },
                implement: {
                    required,
                },
            }
        },
        methods: {
            showDescription(){
                this.show = !this.show
            }
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>