<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-modal 
            id="confirmation"
            @ok="submitAdjustment">
          <div class="text-center"><h6>Are you sure to adjust the warehouse quantity?</h6></div>
        </b-modal>
        <b-modal 
            id="quantity_adjustment"
            @ok="confirmAdjustment">
          <div class="text-center">
            <h6>Adjust Quantity:</h6>
            <b-input-group>
                <b-form-input v-model="quantity_adjusted" placeholder="Quantity"></b-form-input>
            </b-input-group>
          </div>
        </b-modal>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'supplies_equipment'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Inventory Assets Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <b-button style="margin-right:1em;" @click.prevent="adjustWHQuantity">Adjust Warehouse Quantity</b-button>

                        <!-- <router-link :to="{name: 'assets.edit', params: {id: this.$route.params.id}}"><b-button class="inventory-btn btn-size hide-edit" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Assets" component="delete">Delete</b-dropdown-item>
                        </b-dropdown> -->
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="2">
                        <!-- <div class="mt-50">
                            <b-avatar v-if="image != null" :src="image" size="10rem"></b-avatar>
                            <b-avatar v-else  :src="require(`@/images/user.jpg`)"  size="10rem"></b-avatar>
                        </div> -->
                    </b-col>
                    <b-col md="5">
                        <b-row>
                            <b-col md="5" class="form-group mt-50 align-right">
                                <label>Name</label>
                            </b-col>
                            <b-col md="6" class="form-group mt-50 align-left">
                                <label class="fw-bold">{{description}}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Serial Number</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{(serial_model_no == null?'N/A':serial_model_no)}}</label>
                            </b-col>
                        </b-row> -->
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Category</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{category}}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Status</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{status}}</label>
                            </b-col>
                        </b-row> -->
                        <!-- <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Asset Tag</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{asset_tag}}</label>
                            </b-col>
                        </b-row> -->
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Unit</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{unit_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Warehouse</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ this.in_warehouse }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Issued</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ this.issued_count }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Total Quantity</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ this.total_quantity }}</label>
                            </b-col>
                        </b-row>
                        
                    </b-col>
                    <!-- <b-col md="5" v-if="assigned_to">
                       <b-card class="mt-50"> 
                            <b-col md="5" class="form-group align-left">
                                <label>Assigned To</label>
                            </b-col>
                            <b-row>
                               
                                <b-col md="4">
                                    <div style="text-align: center;">
                                        <b-avatar v-if="assigned_to.image != null" :src="assigned_to.image" size="7rem"></b-avatar>
                                        <b-avatar v-else  :src="require(`@/images/user.jpg`)"  size="7rem"></b-avatar>
                                    </div>
                                </b-col>
                                <b-col md="8">
                                    <label class="fw-bold default-color fs-22">{{ assigned_to.first_name+' '+assigned_to.last_name}}</label><br>
                                    <label class="" style="margin: 0;">{{assigned_to.job_details.employee_designation.get_department.description}}</label><br>
                                    <a v-b-toggle.collapse-5 class="fs-14 fw-bold" style="color: #0080FF; cursor: pointer;"><span class="when-closed">Show</span><span class="when-open">Hide</span> Information
                                        <b-icon icon="chevron-down" class="when-closed"></b-icon>
                                        <b-icon icon="chevron-up" class="when-open"></b-icon>
                                    </a>                        
                                    <b-collapse id="collapse-5">
                                        <b-row class="mt-1rem">
                                            <b-col md="12" class="text-left">
                                                <label>Designations : {{assigned_to.job_details.employee_designation.name}}</label><br>
                                                <label>Employee Status : {{assigned_to.job_details.employees_type.name}}</label><br>
                                            </b-col>
                                        </b-row>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col> -->
                </b-row>
                <!-- <b-row class="mt-50">
                    <label class="hr-title col-md-6">Other Information</label>
                </b-row>
                <b-row>
                    <b-col md="6">
                        <b-row class="mt-30">
                            <b-col md="5" class="form-group align-right">
                                <label>Brand</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">-</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Processor</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">-</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Storage</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">-</label>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row> -->
                <b-row class="pull-right">
                </b-row>
                <b-tabs content-class="mt-3" class="mt-30">
                    <b-tab title="Assigned" active>
                        <vuetable ref="vuetable" :fields="issuedInventoryFields" :data="issued_inventories" :api-mode="false" class="table-overflow" :css="css.table" >
                        </vuetable>
                    </b-tab>
                    <b-tab title="All Assets">
                        <div class="pull-right">
                            <b-button class="inventory-btn" @click.prevent="saveAllAssets">Save</b-button>
                        </div>
                        <vuetable 
                            ref="allassets" 
                            :fields="allAssetsFields" 
                            :api-mode="false" 
                            class="table-overflow" 
                            :data-manager="dataManager" 
                            pagination-path="pagination" 
                            @vuetable:pagination-data="onPaginationData"                                        
                            :css="css.table" >
                                <div slot="id" slot-scope="props">
                                    <label>{{props.rowIndex + 1}}</label>
                                </div>

                                <div slot="asset_tag" slot-scope="props">
                                    <b-form-input  
                                        v-model="props.rowData.asset_tag"
                                        style="border-left: solid 1.5px #ec0000"
                                    ></b-form-input>
                                </div>

                                <div slot="serial_model_number" slot-scope="props">
                                    <b-form-input 
                                        v-model="props.rowData.serial_model_number"
                                        style="border-left: solid 1.5px #ec0000"
                                    ></b-form-input>
                                </div>

                                <div slot="status" slot-scope="props">
                                    <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="unit_id"
                                        name="unit_id"
                                        v-model="props.rowData.status"
                                        :options="statuses"
                                    ></b-form-select>
                                </div>
                        </vuetable>
                        <vuetable-pagination style="margin-top: 10px" ref="pagination"
                            @vuetable-pagination:change-page="onChangePage" :css="css.pagination"
                        ></vuetable-pagination>
                    </b-tab>
                    <!-- <b-tab title="Purchase Order"></b-tab>
                    <b-tab title="Purchase Request"></b-tab>
                    <b-tab title="History"></b-tab> -->
                </b-tabs>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import Vuetable from 'vuetable-2'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import axios from 'axios';
    import _ from 'lodash'
    import { mapActions } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            VuetablePagination,
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'Asset', href: '#'},
                    { text: 'View', active:true },
                ],
                DeleteData: [],
                issuedInventoryFields: [
                    {
                        name: 'assigned_to',
                        title: 'Assigned To',
                        sortField: 'assigned_to',
                    },
                    {
                        name: 'asset_tag',
                        title: 'Asset Tag',
                        sortField: 'asset_tag',
                    },
                    {
                        name: 'serial_model_number',
                        title: 'Serial Model Number',
                        sortField: 'serial_model_number',
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                    },
                ],
                allAssetsFields: [
                    {
                        name: 'id',
                        title: 'Item Number',
                    },
                    {
                        name: 'asset_tag',
                        title: 'Asset Tag',
                        sortField: 'asset_tag',
                    },
                    {
                        name: 'serial_model_number',
                        title: 'Serial Model Number',
                        sortField: 'serial_model_number',
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                    },
                ],
                statuses: [
                    {
                        value:null,
                        text:"Select A Status"
                    },
                    {
                        value:1,
                        text:"Used"
                    },
                    {
                        value:2,
                        text:"New"
                    },
                    {
                        value:3,
                        text:"Damaged"
                    }
                ],
                all_assets: [],
                issued_inventories: [],
                checkboxID:[],
                description: '',
                assigned_to: '',
                serial_model_no: '',
                status: '',
                history_logs: '',
                category: '',
                issued_count: '',
                total_quantity: '',
                in_warehouse: '',
                asset_tag: '',
                image: '',
                unit_name: '',
                perPage: 10,
                quantity_adjusted: 0,
            }
        },
        mounted(){
            console.log(this.$refs.allassets)
            axios.get('assets/'+this.$route.params.id).then(response => {
                console.log(response.data);
                let data = response.data
                this.unit_name = data.unit_id.unit_name
                this.description = data.inventory_description_data.description
                this.category = data.category_id.category_name
                this.in_warehouse = data.quantity - data.issued_count
                this.total_quantity = data.quantity
                this.issued_count = data.issued_count
                let issued = data.issued

                issued.forEach(asset_issued => {
                    let asset_data = asset_issued.asset;
                    let assigned = ""
                    let statuses = ["", "Used", "New", 'Damaged']
                    if(asset_data.assigned_to != null){
                        assigned = asset_data.assigned_to.first_name + (asset_data.assigned_to.middle_name != ""?" " + asset_data.assigned_to.middle_name:"") + " " + asset_data.assigned_to.last_name;
                    }
                    if(asset_issued.issuance != null){
                        assigned = asset_issued.issuance.employee.first_name + (asset_issued.issuance.employee.middle_name != ""?" " + asset_issued.issuance.employee.middle_name:"") + " " + asset_issued.issuance.employee.last_name;
                    }

                    this.issued_inventories.push({
                        assigned_to: assigned,
                        asset_tag: asset_data.asset_tag,
                        serial_model_number: asset_data.serial_model_no,
                        status: statuses[asset_data.asset_status]
                    });
                })
                // this.DeleteData = {value: this.$route.params.id, route:'assets/', route2:'supplies_equipment', data: this.description}
            });
            axios.get('assets/'+this.$route.params.id+'/inventory').then(response => {
                let assets = response.data;
                assets.forEach(asset => {
                    this.all_assets.push({
                        id: asset.id,
                        asset_tag: asset.asset_tag,
                        serial_model_number:asset.serial_model_no,
                        status: asset.asset_status
                    })
                })
            });
        },
        watch: {
            all_assets(){
                this.$refs.allassets.refresh();
            },
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.allassets.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.all_assets.length < 1) return;

                let local = this.all_assets;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.allassets.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            saveAllAssets(){
                this.fetchLoader(true);
                let form_data = new FormData();
                form_data.append("assets", JSON.stringify(this.all_assets));
                axios.post(
                    'assets/saveAllAssets',
                    form_data,
                    { "Content-Type": "multipart/form-data" }
                ).then(response => {
                    return response
                }).finally((response)=>{
                    this.fetchLoader(false)
                    let status = "success"
                    let title = "Success!"
                    if(response.data.error){
                        status = "danger"
                        title = "Oops!"
                    }
                    this.makeToast(title, response.datadesc, status)
                })
            },
            adjustWHQuantity: function(){
                this.$bvModal.show('quantity_adjustment')
                // this.$bvModal.show('confirmation');
            },
            confirmAdjustment: function(){
                this.$bvModal.hide('quantity_adjustment')
                this.$bvModal.show('confirmation');
            },
            submitAdjustment: function(){
                let operation = "deduction";
                let quantity = this.in_warehouse - this.quantity_adjusted;
                if(this.quantity_adjusted > this.in_warehouse){
                    operation = "addition";
                    quantity = this.quantity_adjusted - this.in_warehouse;
                }
                let formAdjustment = new FormData();
                formAdjustment.append('adjusted_warehouse_quantity', this.quantity_adjusted);
                formAdjustment.append('quantity', quantity);
                formAdjustment.append('operation', operation);
                formAdjustment.append('inventory_id', this.$route.params.id);

                axios.post('inventory/adjust_quantity', formAdjustment).then(response => {
                    let data = response.data
                    this.unit_name = data.unit_id.unit_name
                    this.description = data.inventory_description_data.description
                    this.category = data.category_id.category_name
                    this.in_warehouse = data.quantity - data.issued_count
                    this.total_quantity = data.quantity
                    this.issued_count = data.issued_count
                    let issued = data.issued

                    this.issued_inventories = [];
                    issued.forEach(asset_issued => {
                        let asset_data = asset_issued.asset;
                        let assigned = ""
                        let statuses = ["", "Used", "New", 'Damaged']
                        if(asset_data.assigned_to != null){
                            assigned = asset_data.assigned_to.first_name + (asset_data.assigned_to.middle_name != ""?" " + asset_data.assigned_to.middle_name:"") + " " + asset_data.assigned_to.last_name;
                        }
                        if(asset_issued.issuance != null){
                            assigned = asset_issued.issuance.employee.first_name + (asset_issued.issuance.employee.middle_name != ""?" " + asset_issued.issuance.employee.middle_name:"") + " " + asset_issued.issuance.employee.last_name;
                        }

                        this.issued_inventories.push({
                            assigned_to: assigned,
                            asset_tag: asset_data.asset_tag,
                            serial_model_number: asset_data.serial_model_no,
                            status: statuses[asset_data.asset_status]
                        });
                    });

                    this.makeToast('', 'Successfully Updated warehouse quantity!!','primary')
                }).then(() => {
                    axios.get('assets/'+this.$route.params.id+'/inventory').then(response => {
                        let assets = response.data;
                        this.all_assets = [];
                        assets.forEach(asset => {
                            this.all_assets.push({
                                id: asset.id,
                                asset_tag: asset.asset_tag,
                                serial_model_number:asset.serial_model_no,
                                status: asset.asset_status
                            })
                        })
                    });
                    console.log(this.all_assets)
                });
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
            // deleteModal: function (){
            //     axios.delete('assets/'+this.$route.params.id).then(response => {
            //         let data = response.data
            //         if (data.error){
            //             this.makeToast('Oopps!',data.desc,'danger')
            //         } else{
            //             this.$bvModal.hide('modal-main');
            //             this.makeToast('Success','Successfully Deleted','success');
                        
            //             this.$router.push({
            //                 name: 'supplies_equipment'
            //             });
            //         }
            //     });
            // },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}


</style>