<template>
    <div style="font-size: 2.5rem" >
        <img  :src="require(`@/images/image-upload.jpg`)"  class="op-img-size mt-30" md="12" id="im" name="im"  @click="changeImage">
        <b-form-file
                id="file_image"
                placeholder="Choose a file or drop it here..."
                drop-placeholder="Drop file here..."
                accept="image/*"
                @change="filesChange($event.target.files)"
                height="100"
                width="100"
                class="no-display"
                ref="file-input"
        ></b-form-file>
    </div>
</template>

<script>
    export default {
        name: "UploadImage",
        data(){
            return{
                file_name: null
            }
        },
        methods: {
            filesChange(fileList){
                if(!fileList.length) return;
                let selected_file = fileList[0];
                let imageTag = document.getElementById('im') 
                let reader = new FileReader();
                reader.onload = function(e) {
                    // The file's text will be printed here
                    imageTag.src = e.target.result
                };
                reader.readAsDataURL(selected_file);
                this.$emit('newImage',selected_file);
            },
            changeImage(){
                
            console.log('img');
                document.getElementById('file_image').click()
            }
        },
        mounted() {
            let oldImage = document.getElementById('im');
            this.$emit('oldImage',oldImage.src)
        }

    }
</script>

<style scoped>

</style>