<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm(route, { stay: false, route:'candidates.view', edit: true })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'candidates.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Candidates</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Full Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="name"
                                    name="name"
                                    v-model="$v.form.name.$model"
                                    :state="stateValidation('name')"
                                    placeholder="Enter Name"
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Contact Number</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="contact_number"
                                        name="contact_number"
                                        v-model="$v.form.contact_number.$model"
                                        :state="stateValidation('contact_number')"
                                        placeholder="Enter Contact Number"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Email</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class=" fs-12">(optional)</span>
                            </div>
                            <b-form-group label-for="input-3">
                                <b-form-input
                                        id="email"
                                        name="email"
                                        v-model="form.email"
                                        placeholder="Enter Email"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Address</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="input-4">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="address"
                                        name="address"
                                        v-model="$v.form.address.$model"
                                        :state="stateValidation('address')"
                                        placeholder="Enter Address">
                                </b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Source</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-5" label-for="input-5">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="source"
                                        name="source"
                                        v-model="$v.form.source.$model"
                                        :state="stateValidation('source')"
                                        :options="source"
                                ></b-form-select>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Recruiter</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class=" fs-12">(optional)</span>
                            </div>
                            <b-form-group id="input-group-6" label-for="input-6">
                                <b-form-select
                                        v-model="form.recruiter_id"
                                        :options="recruiter_option"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Potential Designation</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-7" label-for="input-7">
                                <b-form-select  style="border-left: solid 1.5px #ec0000"
                                        id="potential_designation"
                                        name="potential_designation"
                                        v-model="form.potential_designation"
                                        :options="potential_designations"
                                        :state="stateValidation('potential_designation')"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Opening</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-8" label-for="input-8">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="job_opening"
                                        name="job_opening"
                                        v-model="form.job_opening_id"
                                        :options="job_opening"
                                        :state="stateValidation('job_opening_id')"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                route: 'candidate/'+this.$route.params.id,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Candidates', href: '#' },
                    { text: 'Edit', active: true },
                ],                
                source: [
                    { value: null, text: "Select Source" },
                    { value: 1, text: "Walk-in" },
                    { value: 2, text: "Employee Referral" },
                    { value: 3, text: "Via-website" }
                ],
                recruiter_option: [
                    { value: null, text: "Select Recruiter" }
                ],
                potential_designations: [
                    { value: null, text: "Select Potential Designation" }
                ],
                job_opening: [
                    { value: null, text: "Select Job Opening" }
                ],
                form: {
                    name: '',
                    contact_number: '',
                    email: '',
                    address: '',
                    source: null,
                    recruiter_id: null,
                    potential_designation: null,
                    job_opening_id: null
                }
            };
        },
        
        mounted(){
            axios.get('candidate/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data.candidate;
                this.form.name = data.name
                this.form.contact_number = data.contact_number
                this.form.address = data.address
                this.form.email = data.email
                this.form.source = data.source
                this.form.recruiter_id = data.recruiter_id == null ? null : data.recruiter_id.id
                this.form.potential_designation = data.potential_designation.id
                this.form.job_opening_id = data.job_opening_id

                for (let designations of response.data.designation){
                    this.potential_designations.push({
                        value: designations.id,
                        text: designations.name
                    });
                }

                for (let manpower of response.data.job_opening){
                    this.job_opening.push({
                        value: manpower.id,
                        text: manpower.name
                    });
                }

                for (let recruiter of response.data.employees){
                    this.recruiter_option.push({
                        value: recruiter.id,
                        text: recruiter.first_name +' '+ recruiter.last_name
                    });
                }
             });
        },
        validations: {
            form: {
                name: { required },
                contact_number: { required },
                address: { required },
                source: { required },
                potential_designation : { required},
                job_opening_id : { required}
            }
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>