<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'candidates'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Candidate Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'candidate.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'candidates.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'candidates.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="6">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Job Opening</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.job_opening_name == null ? 'N/A' : CandidateData.job_opening_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Full Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Contact Number</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.contact_number}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Email</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.email}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Address</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.address}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Potential Designation</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.potential_designation == null ? 'N/A' : CandidateData.potential_designation.name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Source</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.source}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Recruiter</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{CandidateData.recruiter_id == null ? 'N/A' : CandidateData.recruiter_id.first_name + " " + CandidateData.recruiter_id.last_name}}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="6">
                        <label class="hr-title">Attachments</label>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <label class="fs-18 fw-600 attach-file"><i class="fa fa-plus"></i> Attach</label>
                        <input type="file" style="display: none;" ref="fileInput"/> 
                    </b-col>                   
                </b-row>
                <hr class="hr-view">
                <vuetable ref="vuetable" :fields="fields" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                </vuetable>
                <div style="padding-top:0px">
                    <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                    </vuetable-pagination>
                </div>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import { modalMixins } from '@/mixins/modal'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    
    export default {
        name: "Show",
         mixins: [formMixins,modalMixins],
        components: {
            Vuetable, VuetablePagination, ApprovalStatus, Approval
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Candidates', href: '#' },
                    { text: 'View', active: true },
                ],
                approveData: [],
                DeleteData: [],
                CandidateData: [],
                TimelineData: [],
                history_logs: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Candidate'
                },
                fields: [
                    { name: '', title: 'File Name' },
                    { name: '', title: 'Added By' },
                    { name: '', title: 'Date Added' },
                ],
                perPage: 10,
                data:[]
            }
        },
        mounted(){
            axios.get('candidate/'+ this.$route.params.id).then(response => {
                let data = response.data.data
                this.CandidateData = data
                this.history_logs = response.data.history_logs
                let status_text = new Array('', 'Walk-in', 'Employee Referral', 'Via-website');
                this.CandidateData.source = status_text[this.CandidateData.source];
                this.DeleteData = {value:this.$route.params.id,route:'candidate/',route2:'candidates',data:this.CandidateData.job_opening_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'candidates.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
        },
        methods: {
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
    
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 