<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="save"> 
                    <b-row>
                        <router-link :to="{name: 'roles'}" style="color: #707070"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Roles</h5></div>
                        <b-col sm="6" md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="stay_on_page"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="admin-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right pt-9">
                            <b class="drkgry-color">Role Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-1" label-for="role-name">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="role_name" 
                                        name="role_name"
                                        v-model="$v.form.role_name.$model"
                                        :state="stateValidation('role_name')"
                                        placeholder="Enter Role Name"
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right pt-14">
                            <b>Reports To</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="input-group-3" label-for="reports-to">
                                <b-form-select
                                    id="reports-to"
                                    name="reports-to"
                                    v-model="form.reports_to"
                                    :options="reports_to"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Share with Peers</b>
                        </b-col>   
                        <b-col md="5" class="mt-8">
                            <b-form-group id="input-group-4" label-for="share-with-peers">
                                <b-form-checkbox
                                    id="share-with-peers"
                                    name="is_shared"
                                    v-model="form.is_shared"
                                    value="1"
                                    unchecked-value="0"
                                    true-value="1"
                                    false-value="0"
                                ></b-form-checkbox>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Description</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group label="" label-for="description">
                                <b-form-textarea
                                    id="description"
                                    name="description"
                                    v-model="form.role_description"
                                    placeholder="Enter a description"
                                    rows="3"
                                    no-resize
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        name: "ItemCreate",
        data(){
            return {
                checked_: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Roles', href: '#' },
                    { text: 'Create', active: true },
                ],
                form: {
                    role_name: '',
                    reports_to: null,
                    is_shared: '0',
                    role_description: ''
                },
                reports_to: [
                    {text: 'Choose...', value: null}
                ],
                stay_on_page: false
            }
        },
         validations: {
            form: {
                role_name: { required },
            }
        },
        mounted(){
            axios.get(`roles/create`).then(response => {
                let data = response.data;
                data.forEach((datum) =>{
                    this.reports_to.push({value: (datum['id']).toString(),text: datum['role_name'] })
                });
            });
            this.setSelectedReportsTo();
        },
        methods: {
            setSelectedReportsTo: function(){
                this.form.reports_to = this.$route.params.id;
            },
            save(){
                this.submitForm('roles', {stay: this.stay_on_page, route: 'roles'}).then((result) => {
                    this.form.reports_to = null;
                    this.reports_to.push({
                        value: result.id,
                        text: result.role_name
                    });
                });
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>