<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row mt-30">
            <div class="col text-left"><p class="hr-title">Roles List</p></div>
            <div class="col text-right"><a href="#">Expand All</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="margin-right: 15px">Collapse All</a>
            <router-link :to="{name: 'roles.create', params: {'id': null}}"><b-button class="admin-btn"><span class="fa fa-plus"></span> New</b-button></router-link></div>
        </div>
        
       <div>
        <tree v-for="branch in tree" :key="branch.id" :tree-data="branch"></tree>
            
        </div>
    </div>
   
</template>

<script>
    import Tree  from './Tree'
    import axios from 'axios'
    export default {
        data(){
            return {
                 breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'User Management', active:true },
                    { text: 'Roles', href: '#'},
                    { text: 'List', active:true },
                ],
                treeData:[],
                tree: Array
               
            }
        },
        components: {
            Tree 
        },
        mounted: function(){
            this.getRoles()
            this.showTree()
        },
        methods: {
            getRoles: function (){
                axios.get(`roles`).then(response => {
                    this.treeData.push(this.buildTree(response.data))
                    this.tree = (this.buildTree(response.data))
                    console.log(this.tree)
                });
            },
            buildTree: function(elements, parentID = null){
                // for(let item of items){
                //    let data = {
				// 	id:item.id,
                //     name: item.role_name,
                //     branch:[]
				// }
				// if ( item.all_children.length) {
				// 	this.buildTree(data.branch, item.all_children);
				// }

				// treeData.push(data);
                // }
                // console.log(treeData)

                // return treeData;
               let branch = [];
                for(let element of elements){
                    if(element.role_id == parentID){
                        if(element.all_children !== null || element.all_children !== undefined){
                            let children = this.buildTree(element.all_children, element.id);
                            if(children){
                                element.all_children = children
                            }
                            branch.push(element) 
                        }
                       
                    }
                }
                return branch;

            },
            showTree : function(){
            }
            
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>