<template>
  <li class="node-tree">
    <p class="outline admin-color bold" v-b-toggle="'collapse-'+(node.id).toString()" 
    @mouseover="hover = true" @mouseleave="hover=false"
   >

      <i v-if="node.all_children && node.all_children.length" class="fa fa-plus-square when-closed" aria-hidden="true"></i>
      <i v-if="node.all_children && node.all_children.length" class="fa fa-minus-square when-open" aria-hidden="true"></i>
      <b-icon-square v-if="node.all_children.length <= 0" class="fs-12"></b-icon-square>&nbsp;
      <span class="label">{{ (node.role_name).toString() }}</span>
      <router-link :to="{name: 'roles.create', params:  {'id': (node.id).toString()} }"><a  v-if="hover" class="fs-12"> + Create Subordinate Role</a></router-link>&nbsp;
      <router-link :to="{name: 'roles.edit', params:  {'id': (node.id).toString()} }">
        <a v-if="hover" class="fs-12"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit Subordinate Role</a>
      </router-link>
    </p>

    <b-collapse class="mt-2"
      :id="'collapse-'+(node.id).toString()" 
      v-if="node.all_children && node.all_children.length" >
      <node class="mleft left26" 
        v-for="child in node.all_children" 
        :node="child" v-bind:key="child.id"></node>
    </b-collapse>
  </li>
</template>

<script>
export default {
  name: "node",
  props: {
    node: Object
  },
  data(){
    return{
      hover:false,
      hide_box:false
    }
  }
};
</script>