<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <!-- <b-modal 
                id="quantity"
                @ok="addToIssuance(rowData)">
                <div class="text-center">
                    <h6>Add Quantity to be issued:</h6>
                    <b-input-group>
                        <b-form-input v-model="quantityToAdd" placeholder="Quantity"></b-form-input>
                    </b-input-group>
                </div>
            </b-modal> -->
            <b-col md="12">
                <b-form  @submit.stop.prevent="save">
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'accountability_issuance'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Accountability Issuance</span>                       
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn" type="submit">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <b-row class="mt-30">
                                <b-col md="4" class="text-right pt-9">
                                    <b>Date</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group label="" label-for="date">
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            id="date" 
                                            name="date"
                                            v-model="$v.form.date.$model"
                                            :state="stateValidation('date')"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Employee Name</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="employee_id" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.employee_id.$model"
                                            :state="stateValidation('employee_id')"
                                            :options="employees"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Requisition</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="requisition" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="requisition"
                                            name="requisition"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.requisition.$model"
                                            :state="stateValidation('requisition')"
                                            :options="requisitions"
                                            @change="onChange()" 
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                    <div class="fs-18 pt-2rm"><b>Requisition Details</b></div>
                    <hr style="width: 100%; margin-bottom: 0.1rem;">
                    <b-row>
                        <b-col>
                            <b-table hover :items="form.requisition_items" :fields="requisition_fields" show-empty style="width: 100%">
                                <template v-slot:cell(id)="row">
                                    {{row.index + 1}}
                                </template>
                                <template v-slot:cell(description)="rows">
                                    {{ rows.item.description }}
                                </template>
                                <template v-slot:cell(action)="rows">
                                    <a  v-if="!rows.item.added"
                                        style="color: rgb(28, 124, 213); cursor: pointer;"
                                        class="issuance-underline" 
                                        @click="addToIssuance(rows)">
                                        Add to Issuance
                                    </a>
                                    <a  v-else
                                        style="color: rgb(28, 124, 213); cursor: pointer;"
                                        class="issuance-underline" 
                                        >Added to Issuance
                                    </a>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>
                            <b-col offset-md="7" md="2" offset-lg="7" lg="2" class="align-right">
                                <a class="fs-16 fw-bold" style="color: rgb(28, 124, 213); cursor: pointer;" @click="addAllToIssuance">+ Add All</a>  
                            </b-col>
                        </b-col>
                    </b-row>
                    <div class="fs-18 pt-2rm"><b>Issuance Details</b></div>
                    <hr style="width: 100%; margin-bottom: 0.1rem;">
                    <b-row>
                        <b-col>
                            <b-table hover :items="form.issuance_items" :fields="issuance_fields" show-empty style="width: 100%">
                                <template v-slot:cell(inventory_id)="row">
                                    {{row.index + 1}}
                                </template>
                                <template v-slot:cell(description)="rows">
                                    {{ rows.item.description }}
                                </template>
                                <template v-slot:cell(requested_quantity)="rows">
                                    {{ rows.item.requested_quantity }}
                                </template>
                                <template v-slot:cell(selected_assets)="rows">
                                    {{ rows.item.asset_id.length != null?rows.item.asset_id.length:0 }}
                                </template>
                                <template v-slot:cell(serial_number)="rows">
                                    <multiselect
                                        style="border-left: solid 1.5px #ec0000"
                                        track-by="text"
                                        label="text"
                                        v-model="rows.item.asset_id"
                                        :options="rows.item.serial_number"
                                        :searchable="false"
                                        :multiple="true">       
                                    </multiselect>
                                    <!-- <b-form-select multiple v-model="rows.item.asset_id" :options="rows.item.serial_number">
                                    </b-form-select> -->
                                </template>
                                <template v-slot:cell(action)="rows">
                                    <a @click="removeIssuance(rows.index)">X</a>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>
                            <b-col offset-md="7" md="2" offset-lg="7" lg="2" class="align-right">
                                <a  v-if="addedAll"
                                    class="fs-16 fw-bold" 
                                    style="color: rgb(28, 124, 213); cursor: pointer;" 
                                    @click="removeAllFromIssuance">- Remove All</a>  
                            </b-col>    
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios';
    // import Vuetable from 'vuetable-2'
    // import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import Multiselect from 'vue-multiselect'

    export default {
        mixins: [validationMixin,formMixins],
        components: { Multiselect },
        data() {
            return {
                checked: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active: true},
                    { text: 'Accountability Request', href: '#'},
                    { text: 'New', active: true },
                ],
                requisition_fields: [
                   { key:"id", label:"Item Number"},
                   { key:"description", label:"Description"}, 
                   { key:"quantity", label:"Quantity"}, 
                   { key:"action", label:"Action"}, 
                ],
                issuance_fields: [
                   { key:"inventory_id", label:"Item Number"},
                   { key:"description", label:"Description"}, 
                   { key:"requested_quantity", label:"Requested Quantity"}, 
                   { key:"selected_assets", label:"Selected Assets"}, 
                   { key:"serial_number", label:"Serial Number"}, 
                   { key:"action", label:"Action"}, 
                ],
                tableHeader: [
                   'item_number', 'description', 'action'
                ],
                employees: [
                    { value: null, text: "Select Employee Name" },
                ],
                requisitions: [
                    { value: null, text: "Select Requisition" }
                ],
                type: [
                    "", 
                    "From Warehouse", 
                    "Transfer", 
                    "Return"
                ],
                form: {
                    type: null,
                    date: '',
                    requisition_id: null,
                    from_employee_id:null,
                    employee_id: null,
                    requisition: null,
                    requisition_items: [],
                    issuance_items: [],
                },
                addedAll: false,
                rowData: null,
                quantityToAdd: 0
            };
        },
        validations: {
            form: {
                date: { required },
                employee_id: { required },
                requisition: { required },
            }
        },        
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('accountability_issuance/create').then((response) => {
                let employee_data = response.data.employees;
                employee_data.forEach((employee) =>{
                    this.employees.push({value: employee.id, text: employee.first_name + " " + employee.last_name });
                });
                
                let requisitions_data = response.data.requisitions;
                requisitions_data.forEach((requisition) =>{
                    this.requisitions.push({
                        value: requisition,
                        text: requisition.employee.first_name + " " + requisition.employee.last_name + " - " + requisition.date  + " - " + (requisition.type == null ? 'N/A' : this.type[requisition.type])
                    });
                });
            });
        },
        methods: {
            onChange() {
                console.log(this.form);
                this.form.requisition_id = this.form.requisition.id;
                this.form.requisition_items = [];
                this.form.issuance_items = [];

                this.form.requisition.requisition_items.forEach(item => {
                    this.form.requisition_items.push({
                        id: item.inventory_id,
                        description: item.inventory.get_inventories_names.description,
                        action: "",
                        quantity: item.quantity,
                        added: false
                    })
                })
                // axios.get('accountability_requisition/'+this.form.requisition.id).then((response) => {
                //     this.form.type = response.data.type;
                //     this.form.requisition_id = response.data.id;
                //     this.form.requisition_items = [];
                //     this.form.issuance_items = [];
                    
                //     response.data.requisition_items.forEach((item) => {
                //         let value = item;
                //         this.form.requisition_items.push({
                //             id: value.asset.id,
                //             description: value.asset.inventory.get_inventories_names.description,
                //             action: "",
                //             added: false
                //         });
                //     });
                // });
            },
            formatDecimal(quantity) {
                let val = (quantity/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            openQuantity(row){
                this.$bvModal.show('quantity');
                this.rowData = row
            },
            addToIssuance(data){
                if(this.quantityToAdd <= parseInt(data.item.quantity)){
                    let assets = [];
                    axios.get('assets/'+ data.item.id +'/inventory').then(response => {
                        response.data.forEach(item => {
                            console.log(item)
                            if(item.serial_model_no != null){
                                assets.push({
                                    asset_id: item.id,
                                    value:item,
                                    text: item.serial_model_no
                                });
                            }
                        })
                    });

                    this.form.requisition_items[data.index].added = true;
                    this.form.issuance_items.push({
                        inventory_id: data.item.id,
                        description: data.item.description,
                        requested_quantity: data.item.quantity,
                        selected_assets: 0,
                        action: "",
                        requisition_index: data.index,
                        serial_number: assets,
                        asset_id: []
                    });
                }else{
                    this.makeToast('Oopps!','Inputted quantity exceeds the maximum value of the inventory','danger')
                }
                
            },
            addAllToIssuance(){

                this.form.issuance_items = [];
                this.form.requisition_items.forEach((item, index)=>{let assets = [];
                    axios.get('assets/'+ item.id +'/inventory').then(response => {
                        response.data.forEach(item => {
                            console.log(item)
                            if(item.serial_model_no != null){
                                assets.push({
                                    asset_id: item.id,
                                    value:item,
                                    text: item.serial_model_no
                                });
                            }
                        })
                    });

                    this.form.requisition_items[index].added = true;
                    this.form.issuance_items.push({
                        inventory_id: item.id,
                        description: item.description,
                        requested_quantity: item.quantity,
                        selected_assets: 0,
                        action: "",
                        requisition_index: index,
                        serial_number: assets,
                        asset_id: []
                    });
                });
                this.addedAll = true
                
            },
            removeIssuance(index){
                let data = this.form.issuance_items[index];
                this.form.requisition_items[data.requisition_index].added = false;
                this.form.issuance_items.splice(index, 1)
            },
            removeAllFromIssuance(){
                this.form.issuance_items = [];
                this.form.requisition_items.forEach((item)=>{
                    item.added = false;
                });
                this.addedAll = false
            },
            save(){
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    this.submitForm('accountability_issuance', {route: 'accountability_issuance'});
                    this.form = {
                        type: null,
                        date: '',
                        requisition_id: null,
                        from_employee_id:null,
                        employee_id: null,
                        requisition: null,
                        requisition_items: [],
                        issuance_items: [],
                    };
                }
            }
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
.issuance-underline:hover {
    text-decoration: underline
}
</style>