<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Accountability Issuance</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Accountability Issuance List</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{name:'accountability_issuance.create'}">
                        <b-button class="btn-inventory-primary btn-size mr-05"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button class="btn-size">Delete</b-button>
                </b-col>
            </b-row>
            <b-col class="mt-30" md="12">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col xl="9" lg="8" md="6" ></b-col>
                        <b-col xl="3" lg="4" md="6" sm="12" cols="12"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click="filter()"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                class="table-overflow"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="employee_name" slot-scope="props">
                    <router-link :to="{ name: 'accountability_issuance.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                </div>
                <!-- <div slot="created_by" slot-scope="props">
                    <img :src="require(`@/images/user.jpg`)" class="rounded-circle default-minimg"/> <span class="mini-desc bold">{{ props.rowData.created_by }}</span><br>
                    <span class="mini-desc">{{ props.rowData.date_created }} <b>|</b> {{ props.rowData.time_created }}</span>
                </div> -->
            </vuetable> 
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'
    // import moment from 'moment'
    import NoData from '@/components/NoDataPage'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Accountability Issuance",
                    image: "accountability_issuance",
                    description: "Issuance of equipment requested by an employee accountable by employee.",
                    route_create: "accountability_issuance.create",
                    route_import: "accountability_issuance.import",
                    params: "accountability_issuance",
                    allmodules: true, 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Accountability Issuance', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'no_item',
                        title: 'No. of Items',
                        sortField: 'no_item'
                    },
                    {
                        name: 'date',
                        title: 'Date Created',
                        sortField: 'date'
                    },
                    // {
                    //     name: 'created_by',
                    //     title: 'Created By',
                    //     sortField: 'created_by',
                    // }
                ],
                data: [],
                perPage: 10
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('accountability_issuance').then( response => {
                let type = ["", "From Warehouse", "Transfer", "Return"];
                for(const x in response.data){
                    let data = response.data[x]
                    this.data.push({
                        id: data.id,
                        employee_name: response.data[x].employee.first_name + " " +response.data[x].employee.last_name,
                        no_item: response.data[x].item_count,
                        accountability_type: response.data[x].type == null ? 'N/A' : type[response.data[x].type],
                        // created_by: response.data[x].created.user.name,
                        date: response.data[x].date,
                        // time_created: moment(String(response.data[x].created.created_at)).format('hh:mm A'),                        
                    });
                }
        })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                if(checked){
                    this.checkboxID = this.$refs.vuetableDepartments.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('department/massdelete/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>