    <template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <div class="col-md-6">
                        <router-link :to="{ name: 'accountability_issuance' }"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Accountability Issuance Information</span>
                    </div>
                    <!-- <div class="col-md-6 align-right">
                        <router-link :to="{name: 'inventory.accountability_issuance.convert'}" style="color: #707070; "><b-button class="inventory-btn mr-05">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item>Edit</b-dropdown-item>
                            <b-dropdown-item>Print</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Accountabilit Issuance"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item>Timeline</b-dropdown-item>
                        </b-dropdown>
                    </div> -->
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col>
                        <b-row>
                            <b-col md="4" class="form-group mt-50 align-right">
                                <label>Issued To: </label>
                            </b-col>
                            <b-col md="6" class="form-group mt-50 align-left">
                                <label class="fw-bold">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date Created</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ date_created }}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Issued By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ created_by }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Created By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ created_by }}</label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus> 
                    </b-col>
                </b-row>
            </b-container>
            <b-col sm="12" md="12" lg="12">
                <vuetable 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                class="table-overflow"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                    <div slot="id" slot-scope="props">
                        <span>{{ props.rowIndex + 1 }}</span>
                    </div>
                </vuetable>
                <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import moment from 'moment'
    import ApprovalStatus from '@/components/ApprovalStatus'
    
    export default {
        name: "Show",
        mixins: [modalMixins],
        components: {
            Vuetable,
            VuetablePagination,
            ApprovalStatus
        },
        data(){
            return {
                approveData: [],
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Accountability Issuance', href: '#' },
                    { text: 'View', active: true },
                ],
                selected: [],
                TimelineData: [],
                DeleteData: [],
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    { name: 'id', title: 'Item No.' },
                    { name: 'description', title: 'Item Description' },
                    { name: 'serial_number', title: 'Serial Number' },
                ],
                data: [],
                manager: [],
                employee_name: "",
                date_created:"",
                time_created: "",
                created_by: "",
                perPage:10
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('accountability_issuance/'+this.$route.params.id).then(response => {
                console.log(response.data);
                this.employee_name = response.data.data.employee.first_name + " " + response.data.data.employee.last_name
                this.date_created = moment(String(response.data.data.date)).format('MMM DD, YYYY'),
                // this.time_created = moment(String(response.data.data.created.created_at)).format('hh:mm A'),
                // this.created_by = response.data.data.created.user.name,
                response.data.data.issuance_items.forEach(item => {
                    this.data.push({
                        id: item.asset_id,
                        description: item.asset.inventory.get_inventories_names.description,
                        serial_number: item.asset.serial_model_no
                    })
                })
                this.approveData = response.data
                this.DeleteData = {value:this.$route.params.id,route:'accountability_issuance/',route2:'accountability_issuance',data: this.employee_name}
            });
        },
        methods: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
             validation(){
               return true;
            },
            dateformat(value) {
               return moment(String(value)).format('MMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 