<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('category', { stay: checked, route:'category.view' })">
                    <b-row>
                        <router-link :to="{name:'purchase_order'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Purchase Request</h5></div>
                        <div class="col align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                            </div>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row class="mt-30">
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Purchase Request Reference Number</b>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            v-model="form.pr_reference_number"
                                            :options="purchase_request_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Purchase Order Number</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="category_name"
                                            name="category_name"
                                            placeholder="Purchase Order Number"
                                            v-model="form.po_number"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Supplier Name</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="category_name"
                                            name="category_name"
                                            placeholder="Supplier Name"
                                            v-model="form.supplier_name"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Date</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            id="date" 
                                            name="date"
                                            v-model="po_date"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Enable</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-checkbox v-model="checked" class="category_switch" name="check-button" switch>
                                        </b-form-checkbox>
                                    </b-form-group>
                                </b-col>
                            </b-row> -->
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    // import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
import Axios from 'axios';
import moment from 'moment';
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked:false,
                selected: [],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Procurement', active:true },
                    { text: 'Purchase Order', href: '#'},
                    { text: 'New', active:true },
                ],             
                purchase_request_options: [
                    { value: null, text: "Select Purchase Request" }
                ],
                form: {
                    pr_reference_number: null,
                    po_number: '',
                    supplier_name: '',
                    po_date: null
                },
            };
        },
        validations: {
            form: {
                category_name: {
                    required
                }
            }
        },
        watch: {
        },
        mounted(){
            Axios.get('purchase_requests').then(response => {
                let data = response.data;
                data.forEach(item => {
                    this.purchase_request_options.push({
                        value: item.id,
                        text: item.pr_number + " (" + moment(String(item.date)).format("MMMM DD YYYY") + ")"
                    })
                })
            });

          
        },
         
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
.category_switch {
    position: relative;
    top: 7px;
}
</style>