<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form>
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'operation_material'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Operations Materials</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn" @click.prevent="saveOperations()">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        
                        <b-col md="3" lg="3" class="pl-3rm">
                            <!--<img :src="require(`@/images/image-upload.jpg`)" class="op-img-size mt-30" md="12">-->
                            <upload-image v-on:newImage="imageChanged"/>
                        </b-col>
                        <b-col md="9" lg="9">
                            <b-row class="mt-30">
                                <b-col md="4" class="align-right pt-9">
                                    <b>Item Description</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="description" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="description"
                                            name="description"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.description"
                                            :style="show1 ? filterStyle : null"
                                            placeholder="Item Description"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Category</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="category" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="category_id"
                                            name="category_id"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.category_id"
                                            :style="show2 ? filterStyle : null"
                                            :options="category_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Mat Code</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="mat_code" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="mat_code"
                                            name="mat_code"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.mat_code"
                                            :style="show3 ? filterStyle : null"
                                            placeholder="Mat Code"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Quantity</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="quantity" label-for="input-2">
                                        <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                            id="quantity"
                                            name="quantity"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.quantity"
                                            :style="show4 ? filterStyle : null"
                                            placeholder="Quantity"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Minimum Stock</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="min_stock" label-for="input-2">
                                        <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                            id="min_stock"
                                            name="min_stock"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.min_stock"
                                            :style="show5 ? filterStyle : null"
                                            placeholder="Minimum Stock"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Unit Price</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="unit_price" label-for="input-2">
                                        <b-form-input type="number"
                                            id="unit_price"
                                            name="unit_price"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.unit_price"
                                            placeholder="Unit Price"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right pt-9">
                                    <b>Unit</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="unit" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            aria-describedby="input-2-live-feedback"
                                            id="unit"
                                            name="unit"
                                            v-model="form.unit"
                                            :style="show7 ? filterStyle : null"
                                            :options="unit_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>  
                                <b-col md="9" lg="9" class="align-right">
                                    <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="addRow">+ Add</a>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col md="12" lg="12" class="mt-50">
                            <b-table hover :items="form.item" :fields="tableColumns" show-empty style="width: 100%">
                                <template v-slot:cell(images)="items">
                                    <b-avatar v-if="items.item.images != null" :src="items.item.images" size="4em"></b-avatar>
                                    <b-avatar v-else :src="require(`@/images/user.jpg`)" size="4em"></b-avatar>
                                </template>
                                <template v-slot:cell(quantity)="items">
                                    {{items.item.quantity}}
                                </template>
                                <template v-slot:cell(unit)="items">
                                    {{items.item.unit}}
                                </template>
                                <template v-slot:cell(minimum_stock)="items">
                                    {{items.item.min_stock}}
                                </template>
                                <template v-slot:cell(unit_price)="items">
                                    PHP {{ formatPrice(items.item.unit_price) }}
                                </template>
                                <template v-slot:cell(material_description)="items">
                                    {{items.item.category_name}} > {{items.item.description}} > {{items.item.mat_code}}
                                </template>
                                <template v-slot:cell(action)="items">
                                    <i class="fa fa-times fa-2x remove-color" aria-hidden="true" style="font-size: 20px; margin-left: 1rem; cursor: pointer;" v-on:click="removeElement(items.item)"></i>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>    
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
     import UploadImage from './UploadImage'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Operations Materials', href: '#'},
                    { text: 'New', active:true },
                ],
                tableColumns: [
                   'images','material_description', 'quantity', 'minimum_stock', 'unit_price', 'unit', 'action'
                ],
                unit_options: [
                    { value: null, text: "Select Unit" },
                ],
                category_options: [
                    { value: null, text: "Select Category" },
                ],
                filterStyle: {
                    borderColor: '#dc3545',
                },
                image:null,
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                show5:false,
                show7:false,
                addvalidation:true,
                form: {
                    description: '',
                    category_id: null,
                    mat_code: '',
                    quantity: '',
                    unit: null,
                    min_stock: '',
                    unit_price: '',
                    image:null,
                    type: 0,
                    item: []
                },
            };
        },
        components: {
            UploadImage
        },
        mounted(){
            axios.get('inventories/create').then((response) => {
                let categories = response.data.Categories;
                categories.forEach(category => {
                    this.category_options.push({
                        value: category,
                        text:  category.category_name
                    });
                });

                let units = response.data.Unit;
                units.forEach(unit =>{
                    this.unit_options.push({
                        value: unit,
                        text:  unit.unit_name
                    });   
                });
            });
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            getImage(){
                let form_data = new FormData();
                if (this.form.image != null){
                    form_data.append('image',this.form.image)
                    axios.post('inventories/save-image',form_data).then((val) => {
                        return val.data;
                    })
                }else{
                        return '';
                }
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                return matches.join('')
            },
            changedImage(value){
                 this.form.image = value
            },
            imageChanged(value){
                this.form.image = value
                console.log(this.form.image)
                console.log('----------------------')
            },
            formatDecimal(unit_price) {
                let val = (unit_price/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
            },
            addRow(){
                if (this.form.description == '' || this.form.category_id == null || this.form.mat_code == '' || this.form.quantity == '' || this.form.unit == null || this.form.min_stock == '' ){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form.description == ''){
                        this.show1 = true;
                    }
                    if(this.form.category_id == null){
                        this.show2 = true;
                    }
                    if(this.form.mat_code == ''){
                        this.show3 = true;
                    }
                    if(this.form.quantity == ''){
                        this.show4 = true;
                    }
                    if(this.form.min_stock == ''){
                        this.show5 = true;
                    }                    
                    if(this.form.unit == null){
                        this.show7 = true;
                    }
                }
                else {
                    if(this.form.item == null){
                        this.form.item = [];
                    }       
                                  
                   
                    try {
                        this.show1 = false;
                        this.show2 = false;
                        this.show3 = false;
                        this.show4 = false;
                        this.show5 = false;
                        this.show7 = false;
                        var my_object = [];
                        axios.post('inventories/validation',this.form).then((response) => {
                            let data = response.data
                            if (data == "Error"){
                                this.makeToast('Oopps!','This Inventory is already in use','danger')
                            }else{
                                let form_data = new FormData();
                                my_object = {
                                    description: this.form.description,
                                    category_id: this.form.category_id.id,
                                    category_name: this.form.category_id.category_name,
                                    mat_code: this.form.mat_code,
                                    quantity: this.form.quantity,
                                    min_stock: this.form.min_stock,
                                    unit_id: this.form.unit.id,
                                    unit_price: this.form.unit_price,
                                    unit: this.form.unit.unit_name,
                                    type: this.form.type,
                                    image: null,
                                    images: null,
                                };   
                                if (this.form.image != null){
                                    form_data.append('image',this.form.image)
                                    axios.post('inventories/save-image',form_data).then((response2) => {
                                        let val = response2.data
                                        if (val.error){
                                            this.addvalidation == false;
                                            this.makeToast('Oopps!',val.desc,'danger')
                                        }else{
                                            my_object.image = val.image;
                                            my_object.images = val.image_display;
                                        }
                                       
                                    })
                                }else{
                                    my_object.image = null;
                                    my_object.images = null;
                                }
                                if (this.form.image != null){
                                    let oldImage = document.getElementById('im');
                                    oldImage.src = require(`@/images/image-upload.jpg`);
                                }
                                if(this.addvalidation){
                                    this.form.item.push(my_object)
                                    this.form.category_id = null;
                                    this.form.mat_code = '';
                                    this.form.description = '';
                                    this.form.quantity = '';
                                    this.form.min_stock = '';
                                    this.form.unit_price = '';
                                    this.form.unit = null;
                                    this.form.image =null;
                                    this.image =null;
                                }
                               
                               
                            }                     
                        })
                    }catch (e) {
                        console.log(e)
                    }
                    
                }
            },
            saveOperations(){
                if(this.form.item == '') {
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form.description == ''){
                        this.show1 = true;
                    }
                    if(this.form.category_id == null){
                        this.show2 = true;
                    }
                    if(this.form.mat_code == ''){
                        this.show3 = true;
                    }
                    if(this.form.quantity == ''){
                        this.show4 = true;
                    }
                    if(this.form.min_stock == ''){
                        this.show5 = true;
                    }                   
                    if(this.form.unit == null){
                        this.show7 = true;
                    }
                }
                else {
                    try {
                        axios.post('inventories',this.form).then((response) => {
                            let data = response.data 
                            if (data.error){
                                this.makeToast('Oopps!',data.desc,'danger')
                            } else{
                                this.form.item = [];
                                this.makeToast('Success','Successfully Created','success')
                                if(this.checked == false){
                                    this.$router.push({
                                        name: 'operation_material'
                                    });
                                }
                                
                            }                       
                        })
                    }catch (e) {
                        console.log(e)
                    }
                }
            },
            
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>