<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-form @submit.stop.prevent="save">
            <b-row class="row justify-content-center">
                <b-col md="12" class="mt-24">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{name: 'operation_material.view', params: {id: this.$route.params.id}}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                            <span class="hr-title">Edit Operation Material Information</span>
                        </b-col>
                        <b-col xl="6" lg="6" md="6" sm="4" cols="4" class="align-right">
                            <b-button type="submit" class="btn-inventory-primary btn-size mr-05">Update</b-button>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col md="12" class="mt-24">
                    <div class="container mt-100">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div align="center" >
                                    <img style="border-radius: 50%;width: 140px;height: 140px;" :src="form.image_src"  class="mt-20"  md="12" id="im" name="im"  @click="changeImage">
                                    <b-form-file
                                            id="file_image"
                                            placeholder="Choose a file or drop it here..."
                                            drop-placeholder="Drop file here..."
                                            accept="image/*"
                                            @change="filesChange($event.target.files)"
                                            height="100"
                                            width="100"
                                            class="no-display"
                                    ></b-form-file>
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                <b-row class="mt-30">
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Description</b>
                                    </b-col>
                                    <b-col md="5" class="align-left">
                                        <b-form-group id="description" label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="description"
                                                name="description"
                                                v-model="$v.form.description.$model"
                                                :state="stateValidation('description')"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Mat Code</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="matcode" label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="matcode"
                                                name="matcode"
                                                v-model="$v.form.matcode.$model"
                                                :state="stateValidation('matcode')"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Category</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="category" label-for="input-2">
                                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="category_id"
                                                name="category_id"
                                                v-model="$v.form.category.$model"
                                                :state="stateValidation('category')"
                                                :options="CategoriesOption"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-select>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Quantity</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="quantity" label-for="input-2">
                                            <b-form-input type="number" style="border-left: solid 1.5px #ec0000"
                                                id="quantity"
                                                name="quantity"
                                                v-model="$v.form.quantity.$model"
                                                :state="stateValidation('quantity')"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Mininmum Stock</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="min_stock" label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="min_stock"
                                                name="min_stock"
                                                v-model="form.min_stock"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Unit Price</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="unit_price" label-for="input-2">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="unit_price"
                                                name="unit_price"
                                                v-model="form.unit_price"
                                                aria-describedby="input-2-live-feedback"
                                            ></b-form-input>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row >
                                    <b-col md="2" class="align-left pt-9">
                                        <b>Unit</b>
                                    </b-col>
                                    <b-col  md="5" class="align-left">
                                        <b-form-group id="description" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="category_id"
                                                name="category_id"
                                                v-model="$v.form.unit.$model"
                                                :state="stateValidation('unit')"
                                                aria-describedby="input-2-live-feedback"
                                                :options="UnitOption"
                                            ></b-form-select>
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-form>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { required } from "vuelidate/lib/validators";
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
        },
        data() {
            return {
                route:'inventories/'+this.$route.params.id,
                css: VuetableCSS,
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Operations Materials', href: '#'},
                    { text: 'Edit', active:true },
                ],
                
                UnitOption: [
                    { value: null, text: "Select Unit" },
                ],
                CategoriesOption: [
                    { value: null, text: "Select Category" },
                ],
                form:{
                    description: '',
                    matcode: '',
                    quantity: '',
                    category: '',
                    unit_price: '',
                    image_src: '',
                    image: '',
                    imageval: '',
                    unit: '',
                    min_stock: '',
                },
               
            }
        },
         validations: {
            form: {
                description: {
                    required
                },
                matcode: {
                    required
                },
                quantity: {
                    required
                },
                category: {
                    required
                },
                unit: {
                    required
                },
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            Axios.get('inventories/'+ this.$route.params.id + '/edit').then(response => {
                console.log(response.data);
                this.form.description = response.data.data.inventory_description_data.description;
                this.form.matcode = response.data.data.inventory_description_data.mat_code;
                this.form.category = response.data.data.category_id.id;
                this.form.quantity = response.data.data.quantity;
                this.form.unit = response.data.data.unit_id.id;
                this.form.unit_price = response.data.data.unit_price;
                this.form.image = (response.data.data.image_src == null?'':response.data.data.image_src);
                this.form.image_src = (response.data.data.image == null?require(`@/images/user.jpg`):response.data.data.image);
                this.form.min_stock = response.data.data.min_stock;
                this.form.imageval = 0;
                let categories = response.data.Categories;
                categories.forEach(category => {
                    this.CategoriesOption.push({
                        value: category.id,
                        text:  category.category_name
                    });
                });

                let units = response.data.Unit;
                units.forEach(unit =>{
                    this.UnitOption.push({
                        value: unit.id,
                        text:  unit.unit_name
                    });   
                });
                this.DeleteData = {value:this.$route.params.id,route:'inventories/',route2:'operation_material',data: this.description}
            });
        },
        methods: {
            filesChange(fileList){
                if(!fileList.length) return;
                let selected_file = fileList[0];
                let imageTag = document.getElementById('im') 
                let reader = new FileReader();
                reader.onload = function(e) {
                    // The file's text will be printed here
                    imageTag.src = e.target.result
                };
                reader.readAsDataURL(selected_file);
                this.form.image = selected_file;
                this.form.imageval = 1;
            },
            changeImage(){
                document.getElementById('file_image').click()
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
            addRow(){
                if (this.otheritems.location == '' || this.otheritems.type == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        if(this.otheritems.location == ''){
                            this.show1 = true;
                        }
                        if(this.otheritems.type == null){
                            this.show2 = true;
                        }
                        setTimeout(()=>{
                            this.show1 = false;
                            this.show2 = false;
                        },5000);
                }
            },
            formatDecimal(quantity) {
                let val = (quantity/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")

            },
            save(){
                // submitForm(route,{ stay: false, route:'operation_material.view', edit: true })
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }else{
                    let form_data = new FormData();
                    form_data.append("_method", "PUT");
                    form_data.append("image", this.form.image);
                    form_data.append("description", this.form.description);
                    form_data.append("matcode", this.form.matcode);
                    form_data.append("category", this.form.category);
                    form_data.append("unit", this.form.unit);
                    form_data.append("quantity", this.form.quantity);
                    form_data.append("unit_price", this.form.unit_price);
                    form_data.append("imageval", this.form.imageval);
                    form_data.append("min_stock", this.form.min_stock);
                    
                    Axios.post('inventories/'+this.$route.params.id,form_data).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                            this.makeToast('Success','Successfully Edit','success')
                            if(this.checked == false){
                                this.$router.push({
                                    name: 'operation_material.view',
                                    params: {id: this.$route.params.id}
                                });
                            }
                            
                        }                       
                    })
                }
                
            }
        },
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>