<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Operations Materials</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Operations Materials List</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{name:'operation_material.create'}">
                        <b-button class="inventory-btn mr-05"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button class="btn-size" :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-button>
                </b-col>
            </b-row>
            <b-col class="mt-30" md="12">
                <!-- <b-container class="bv-example-row">
                    <b-row>
                        <b-col xl="9" lg="8" md="6" ></b-col>
                        <b-col xl="3" lg="4" md="6" sm="12" cols="12"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container> -->
            </b-col>
            <vuetable 
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                class="table-overflow"
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="image" slot-scope="props">
                    <b-avatar v-if="props.rowData.image == null" size="lg" :src="require(`@/images/user.jpg`)" class="rounded-circle img-user-size"></b-avatar>
                    <b-avatar v-else :src="props.rowData.image" size="lg"></b-avatar>
                </div>
                <div slot="description" slot-scope="props">
                    <router-link :to="{ name: 'operation_material.view', params: {id: props.rowData.id} }">{{ props.rowData.description }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import NoData from '@/components/NoDataPage'
    import { mapActions } from 'vuex'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                importBreadcrumb: [],
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Operation Materials",
                    image: "operation_material",
                    description: "Materials needed for Operation. tracked all history, consumed items, provide detailed information and replenished of one materials.",
                    route_create: "operation_material.create",
                    route_import: "operation_material.import",
                    allmodules: true,
                    import_data: {
                        importBreadcrumb: [
                            { html: '<span class="fa fa-home"></span>', href: '#'},
                            { text: 'Inventory', active: true },
                            { text: 'Operations Materials', href: '#'},
                            { text: 'Import', active: true },
                        ],
                        params: "operation-material",
                        title: "Operation Materials",
                        download: "SampleCSVFile_OperationMaterials", //SampleCSVFile_ + Name of module in CamelCase format
                        data_to_import: "operation-material",
                        data_route: "operation_materials",
                        template_headers: { //add sample data here
                            "ItemDescription*": "Coax RG-6(Blk) 77%-Trsshield w/ mes",
                            "Category*": "Cable",
                            "MatCode*": "75002710",
                            "Quantity*": "20",
                            "MinimumStock*": "10",
                            "UnitPrice": "",
                            "Unit*": "pc",
                        },
                        to: 'operation_material' //route
                    }
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Operations Materials', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'description',
                        sortField: 'description',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'image',
                        title: 'Image',
                        sortField: 'image',
                        formatter: (value) => {
                         return value
                        }
                    },
                    {
                        name: 'description',
                        title: 'Description',
                        sortField: 'description',
                        formatter: (value) => {
                        return value  
                        }                        
                    },
                    {
                        name: 'category',
                        title: 'Category',
                        sortField: 'category',
                        formatter: (value) => {
                        return value  
                        } 
                    },
                    {
                        name: 'quantity',
                        title: 'Quantity',
                        sortField: 'quantity',
                        formatter: (value) => {
                        return value
                        } 
                    },
                ],
                data: [],
                perPage: 10,
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        created(){
            this.fetchModule("operation_materials");
        },
        mounted() {
            axios.get('inventories').then( response => {
                for(const x in response.data){
                    let data = response.data[x]
                    this.data.push({
                        id: data.id,
                        image: response.data.[x].image,
                        description: response.data[x].inventory_description_data.description,
                        category: response.data[x].category_id.category_name,
                        quantity: response.data[x].quantity,                     
                    });
                }
            })
        },
        methods: {
            ...mapActions({
                fetchModule: 'fetchModule'
            }),
             getColor(index){
                index = index + 6;
                index = index%6
                return this.color_array[index]
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                return matches.join('')
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;
                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }
                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;
                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('inventories/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>