<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <modal2 ref="addField">
            <h5 slot="header">Add Other Information</h5>
            <div slot="body">
                <b-row class="mt-20">
                    <b-col md="3" class="align-right media-left">
                        <b>Location</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group>
                            <b-form-input
                                id="location"
                                name="location"
                                v-model="otheritems.location"
                                :style="show1 ? filterStyle : null"
                                placeholder="Add Location">
                                </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="3" class="align-right media-left">
                        <b>Type</b>
                    </b-col>
                    <b-col md="6">
                        <b-form-group>
                            <b-form-radio-group id="type" 
                                v-model="otheritems.type"
                                :style="show2 ? filterStyle : null"
                                :options="type_options" class="drkgry-color"
                                name="type">
                            </b-form-radio-group>
                        </b-form-group>
                        
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="3" class="align-right media-left"></b-col>
                    <b-col md="6">
                        <router-link :to="{name: 'new_field.create'}" ><a href="#" ><span class="fa fa-plus"></span> <b>Add New Field</b></a></router-link></b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click="addRow">
                    OK
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2>  
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'operation_material'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Operation Material Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                       <router-link :to="{name: 'operation_material.edit', params: {id: this.$route.params.id}}"><b-button class="btn-inventory-primary btn-size mr-05" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Operation Material"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item >Timeline</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
             <div class="container mt-100">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <div style="text-align: left;">
                                <b-avatar v-if="image != null" :src="image" size="7rem"></b-avatar>
                                <b-avatar v-else  :src="require(`@/images/user.jpg`)"  size="100px"></b-avatar>
                            </div>
                        </div>

                        <div class="form-group col-md-8">
                            <b-row>
                                <b-col md="3" class="form-group mt-50 align-left">
                                    <label>Description</label>
                                </b-col>
                                <b-col md="6" class="form-group mt-50 align-left">
                                    <label class="fw-bold">{{ description }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Mat Code</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ MatCode }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Category</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ category }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Quantity</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ formatDecimal(quantity) }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Mininmum Stock</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ formatDecimal(min_stock) }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Unit Price</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">PHP {{ unit_price != null ?unit_price:'N/A' }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Unit</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ unit }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Created By</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">Admin</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="3" class="form-group align-left">
                                    <label>Date Created</label>
                                </b-col>
                                <b-col md="6" class="form-group align-left">
                                    <label class="fw-bold">{{ created_at }} | {{ time }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="2" ></b-col>   
                                <b-col md="5">
                                    <a href="#"  @click="modalShow('addField')" title="Add Specification / Other Info" component=""><span class="fa fa-plus"></span> <b>Add Specification / Other Info</b></a>
                                </b-col>
                            </b-row>
                           
                        </div>
                        <div class="form-group col-md-12">
                            <b-tabs content-class="mt-3" class="mt-30">
                                <b-tab title="Attachments" active>
                                    <vuetable ref="vuetable" :fields="attachmentHeader" :data="attachment" :api-mode="false" class="table-overflow" :css="css.table" >
                                    </vuetable>
                                </b-tab>
                                <b-tab title="History"></b-tab>
                                <b-tab title="Material Issuance">
                                    <vuetable ref="vuetable" :fields="MaterialsHeader" :data="this.material_items"  class="table-overflow" :css="css.table" >
                                    </vuetable>
                                </b-tab>
                                <b-tab title="Drop Materials"></b-tab>
                            </b-tabs>
                        </div>
                    </div>
            </div>
        </b-row>
    </b-col>
</template>

<script>
    import Axios from 'axios'
    import Vuetable from 'vuetable-2'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Modal2 from '@/components/Modal2';
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            Modal2
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Operations Materials', href: '#'},
                    { text: 'View', active:true },
                ],
                attachmentHeader: [
                    {
                        name: 'file_name',
                        title: 'File Name',
                        sortField: 'file_name',
                    },
                    {
                        name: 'added_by',
                        title: 'Added By',
                        sortField: 'added_by',
                    },
                    {
                        name: 'date_added',
                        title: 'Date Added',
                        sortField: 'date_added',
                    },
                ],
                MaterialsHeader: [
                    {
                        name: 'issuance_id',
                        title: 'Material Issuances ID',
                        sortField: 'issuance_id',
                    },
                     {
                        name: 'quantity',
                        title: 'Quantity',
                        sortField: 'quantity',
                    },
                    {
                        name: 'remarks',
                        title: 'Remarks',
                        sortField: 'remarks',
                    }
                ],
                attachment: [{
                    'file_name' : 'Company_profile.docx',
                    'added_by' : 'Jhon Mariano',
                    'date_added' : 'May 12, 2020',
                }],
                type_options: [
                    { value: 0, text: "Type 1" },
                    { value: 1, text: "Type 2" },
                ],
                description: [],
                image: [],
                MatCode: [],
                category: [],
                quantity: [],
                unit: [],
                min_stock: [],
                unit_price: [],
                created_at: [],
                time: [],
                material_items: [],
                history_logs: [],
                 filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                otheritems: {
                    location : '',
                    type: null,
                }
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            Axios.get('inventories/'+this.$route.params.id).then(response => {
                console.log(response.data);
                this.description = response.data.data.inventory_description_data.description;
                this.MatCode = response.data.data.inventory_description_data.mat_code;
                this.category = response.data.data.category_id.category_name;
                this.quantity = response.data.data.quantity;
                this.unit = response.data.data.unit_id.unit_name;
                this.created_at = response.data.data.created_at;
                this.image = response.data.data.image;
                this.time = response.data.data.time;
                this.min_stock = response.data.data.min_stock;
                this.unit_price = response.data.data.unit_price;
                this.history_logs = response.data.data.history_logs
                this.material_items = response.data.MaterialIssuancesItems
                this.DeleteData = {value:this.$route.params.id,route:'inventories/',route2:'operation_material',data: this.description}
            });
        },
        methods: {
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
            addRow(){
                if (this.otheritems.location == '' || this.otheritems.type == null){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        if(this.otheritems.location == ''){
                            this.show1 = true;
                        }
                        if(this.otheritems.type == null){
                            this.show2 = true;
                        }
                        setTimeout(()=>{
                            this.show1 = false;
                            this.show2 = false;
                        },5000);
                }
            },
            formatDecimal(quantity) {
                let val = (quantity/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")

            },
        },
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>