<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm(route, { stay: false, route:'deductions.view', edit: true })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'deductions' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Deductions</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-button type="submit" class="hr-btn">Update</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-1" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="employee_id"
                                        id="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :state="stateValidation('employee_id')"
                                        aria-describedby="input-1-live-feedback"
                                        readonly
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Effective</b>
                        </b-col>  
                        <b-col md="5">
                            <b-form-group label="" label-for="date-from">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"  
                                    v-model="$v.form.effective_date.$model"
                                    :state="stateValidation('effective_date')"                                  
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Cutoff Payment</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input type="number" min="0" style="border-left: solid 1.5px #ec0000"
                                        name="cutoff"
                                        id="cutoff"
                                        v-model="$v.form.cutoff.$model"
                                        :state="stateValidation('cutoff')"
                                        placeholder="Enter cutoff"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Deducted Amount</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input type="number" min="0" step=".01" style="border-left: solid 1.5px #ec0000"
                                        name="amount"
                                        id="amount"
                                        v-model="$v.form.amount.$model"
                                        :state="stateValidation('amount')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Reason for Deduction</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-4" label-for="input-4">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="reason"
                                        id="reason"
                                        v-model="$v.form.reason.$model"
                                        :state="stateValidation('reason')"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                route: 'deduction/'+this.$route.params.id,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Deductions', href: '#' },
                    { text: 'Edit', active: true },
                ],
                form: {
                    employee_id: null,
                    effective_date: '',
                    amount: '',
                    cutoff: '',
                    reason: null
                },
            }
        },
        mounted(){
            axios.get('deduction/' + this.$route.params.id).then((response) => {
                let data = response.data
                this.form.employee_id = data.employee_name             
                this.form.effective_date = data.effective_date               
                this.form.amount = data.amount               
                this.form.reason = data.reason
                this.form.cutoff = data.cutoff             
            });
        },
        validations: {
            form: {
                employee_id: { required },
                effective_date: { required },
                amount: { required },
                reason: { required },
                cutoff: { required }
            }
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>