<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('designation', { stay: checked, route: 'designations.view' })">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'designations'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Designation</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Department Name</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="department_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="department_id"
                                        name="department_id"
                                        v-model="$v.form.department_id.$model"
                                        :state="stateValidation('department_id')"
                                        :options="departments_options"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Designation Name</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="designation_name" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="designation_name"
                                        name="designation_name"
                                        v-model="$v.form.name.$model"
                                        :state="stateValidation('name')"
                                        placeholder="Enter Designation"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Description</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5" class="mt-n1rm">
                            <div align="right">
                                <span class="drkgry-color fs-12">(optional)</span>
                            </div>
                            <b-form-group label-for="description">
                                <b-form-textarea
                                        id="description"
                                        v-model="form.description"
                                        placeholder="Enter a description"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Designations', href: '#' },
                    { text: 'New', active: true },
                ],
                departments_options: [
                    { value: null, text: "Select Department" }
                ],
                form: {
                    department_id: null,
                    name: '',
                    description: ''
                }
            };
        },        
        mounted(){
            this.getDepartment()
        },
        validations: {
            form: {
                department_id: {
                    required
                },
                name: {
                    required
                }
            }
        },
        methods: {
            getDepartment(){
                axios.get('designation/create').then((response) => {
                    let departments = response.data.departments;
                    departments.forEach(department => {
                        this.departments_options.push({
                            value: department.id,
                            text:  department.name
                        });
                    });
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>