<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Designation</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm" @click="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" size="sm" @click.stop.prevent="modalHide">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30" md="12"> 
                <b-col xl="6" lg="6" md="6" sm="6" cols="6" style="white-space: nowrap">
                    <span class="hr-title">Designations List</span>
                </b-col>
                <b-col xl="6" lg="6" md="6" sm="6" cols="6" class="align-right">
                    <router-link :to="{name:'designations.create'}">
                        <b-button class="btn-hr-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button class="btn-size hide-edit">Delete</b-button>
                    <div style="display: none;" class="show-edit">
                        <b-dropdown right  class="hr-more btn-size ">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item ><router-link :to="{name:'designations.create'}">New </router-link></b-dropdown-item>
                            <b-dropdown-item :disabled="checkboxID.length <= 0"  @click.stop.prevent="modalShow">Delete</b-dropdown-item>
                        </b-dropdown>
                    </div>
                </b-col>

            </b-row>
            <b-col class="mt-30" md="12">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col xl="9" lg="8" md="6" ></b-col>
                        <b-col xl="3" lg="4" md="6" sm="12" cols="12"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click="filter()"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                class="table-overflow"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="name" slot-scope="props">
                    <router-link :to="{ name: 'designations.view', params: {id: props.rowData.id} }">{{ props.rowData.name }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Designations",
                    image: "designation",
                    description: "Designation are the heirarchy of Department to determine designate position in the Company Like, HR, Sales Associate, Accounting Staff etc.",
                    route_create: "designations.create",
                    route_import: "designations.import",
                    params: "designations",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Organization', active:true },
                    { text: 'Designations', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'name',
                        title: 'Designation Name',
                        sortField: 'name',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'department_name',
                        title: 'Department Name',
                        sortField: 'department_name',
                        formatter: (value) => {
                           return value
                        }
                    },
                ],
                perPage: 10,
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('designation').then( response => {
                this.data = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('designation/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main')
                        this.makeToast('Success','Successfully Deleted','success')
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
</style>