<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                        <router-link :to="{name: 'designations'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Designation Information</span>
                    </b-col>
                    <b-col sm="6" md="6" lg="6" class="align-right">
                        <router-link :to="{name: 'designations.edit', params: {id: this.$route.params.id}}"><b-button class="btn-hr-primary btn-size hide-edit" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>                            
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <b-dropdown-item style="display: none;" class="show-edit"><router-link :to="{name: 'designations.edit'}">Edit</router-link></b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item><router-link :to="{name: 'designations.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'designations.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>           
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group  align-right media-left mb-0">
                                <label class="fs-14">Department Name</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ DesignationData.department_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Designation Name</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ DesignationData.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Description</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ (DesignationData.description == null ? 'N/A' : DesignationData.description) }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row> 
            </b-container>           
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data() {
            return {
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Designations', href: '#' },
                    { text: 'View', active: true }
                ],
                DeleteData: [],
                DesignationData: [],
                TimelineData: [],
                history_logs: [],
                approveData: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Designation Record'
                }
            }
        },
        
        mounted(){
            axios.get('designation/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.DesignationData = data
                this.history_logs = response.data.history_logs
                this.DeleteData = {value:this.$route.params.id,route:'designation/',route2:'designations',data:this.DesignationData.name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'designations.view'}
                this.approveData = response.data
                if (response.data.approver != null) {
                    this.approver = response.data.approver.approver;
                    this.actionData.model = response.data.approver.model
                } 
            });
        },
        methods:{
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>