<template>
    <b-tab >
        <div slot="title">Open Activities
            <b-badge v-if="countActivities > 0" variant="danger">{{ countActivities }}</b-badge>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableLateAbsentActivity"
                :api-mode="false" 
                :fields="activityLateAbsent"
                :per-page="perPage"
                :data-manager="dataManagerLateAbsentActivity" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                <div slot="status" slot-scope="props">
                    <p v-if="props.rowData.status == 'Absent' || props.rowData.status == 'Late'">{{ props.rowData.status }}</p>
                    <router-link v-else :to="{ name: 'timesheet.view', params: {id: props.rowData.status['id']} }">
                        <span class="bold">Timesheet: </span>{{ props.rowData.status['rendered_hours'] + 'hr(s)' }}</router-link>
                </div>
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'activity-lates-absent-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activityLateAbsent: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'date',
                    title: 'Date',
                    sortField: 'date'
                },
                {
                    name: 'status',
                    title: 'Status',
                    sortField: 'status'
                    // formatter: (value) => {
                    //     return this.formatStatus(value)
                    // }
                },
                {
                    name: 'time_in',
                    title: 'Time-in',
                    sortField: 'time_in'
                },
                {
                    name: 'hours_late',
                    title: 'Late Hours',
                    sortField: 'hours_late'
                }
            ],
            perPage: 10,
            countActivities: 0,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableLateAbsentActivity.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/activity/lates-absent/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let attendance = {
                        employee_name: att['employee_name'],
                        date: att['date'],
                        status: att['status'],
                        time_in: att['time-in'],
                        hours_late: att['hrs_late']
                    }
                    this.countActivities++;
                    this.data = this.data.concat(attendance)
                }
            }
        );
    },
    methods: {
        // formatStatus(value)
        // {
        //     if (value == 'Absent') {
        //         return value
        //     } else {
        //         return 'Absent <p class="mini-desc"><span class="bold">Timesheet: </span>'
        //             + value['start_time'] + ' ' + value['rendered_hours'] +'hr(s)</span></p>'
        //     }
            
        // },
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableLateAbsentActivity.changePage(page)
        },
        dataManagerLateAbsentActivity(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableLateAbsentActivity.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>