<template>
    <b-tab >
        <div slot="title">Open Activities
            <b-badge v-if="countActivities > 0" variant="danger">{{ countActivities }}</b-badge>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableAttendanceSummary"
                :api-mode="false" 
                :fields="activity_attendance_summary"
                :per-page="perPage"
                :data-manager="dataManagerAttendanceSummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                <div slot="employee_name" slot-scope="props">                                    
                    <router-link :to="{ name: 'employee_attendance.view', params: {id: props.rowData.id} }"> {{ props.rowData.employee_name }}</router-link>
                </div>
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'activity-attendance-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activity_attendance_summary: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'date',
                    title: 'Date',
                    sortField: 'date'
                },
                {
                    name: 'status',
                    title: 'Status',
                    sortField: 'status'
                }
            ],
            perPage: 10,
            countActivities: 0,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableAttendanceSummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/activity/attendance/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let attendance = {
                        id: att['id'],
                        employee_name: att['employee_name'],
                        date: att['date'],
                        status: att['status'],
                    }
                    this.countActivities++;
                    this.data = this.data.concat(attendance)
                }
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableAttendanceSummary.changePage(page)
        },
        dataManagerAttendanceSummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableAttendanceSummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>