<template>
    <b-tab >
        <div slot="title">Open Activities
            <b-badge v-if="countActivities > 0" variant="danger">{{ countActivities }}</b-badge>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableOvertimeActivity"
                :api-mode="false" 
                :fields="activityOvertime"
                :per-page="perPage"
                :data-manager="dataManagerOvertimeActivity" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'activity-overtime-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activityOvertime: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name',
                },
                {
                    name: 'ot_type',
                    title: 'Type',
                    sortField: 'ot_type',
                },
                {
                    name: 'date_overtime',
                    title: 'Date',
                    sortField: 'date_overtime',
                },
                {
                    name: 'start_time',
                    title: 'Time-in',
                    sortField: 'start_time',
                },
                {
                    name: 'rendered_hours',
                    title: 'Total Hours',
                    sortField: 'rendered_hours',
                },
                {
                    name: 'purpose',
                    title: 'Purpose',
                    sortField: 'purpose',
                }
            ],
            perPage: 10,
            countActivities: 0,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableOvertimeActivity.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/activity/overtime/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let ot = {
                        employee_name: att['employee_name'],
                        ot_type: att['ot_type'],
                        date_overtime: att['overtime_date'],
                        start_time: att['start_time'],
                        rendered_hours: att['rendered_hours'],
                        purpose: att['purpose']
                    }
                    this.countActivities++;
                    this.data = this.data.concat(ot)
                }
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableOvertimeActivity.changePage(page)
        },
        dataManagerOvertimeActivity(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableOvertimeActivity.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>