<template>
    <b-tab >
        <div slot="title">Open Activities
            <b-badge v-if="countActivities > 0" variant="danger">{{ countActivities }}</b-badge>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableLeaveActivity"
                :api-mode="false" 
                :fields="activityLeave"
                :per-page="perPage"
                :data-manager="dataManagerLeaveActivity" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'activity-leave-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activityLeave: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name',
                },
                {
                    name: 'leave_date',
                    title: 'Date (from-to)',
                    sortField: 'leave_date',
                },
                {
                    name: 'total_days',
                    title: 'Total Days',
                    sortField: 'total_days',
                },
                {
                    name: 'billable',
                    title: 'Billable',
                    sortField: 'billable',
                },
                {
                    name: 'leave_type',
                    title: 'Leave Type',
                    sortField: 'leave_type',
                },
                {
                    name: 'leave_hours',
                    title: 'Leave Hours',
                    sortField: 'leave_hours',
                }
            ],
            perPage: 10,
            countActivities: 0,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableLeaveActivity.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/activity/employee-leave/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let leave = {
                        employee_name: att['employee_name'],
                        leave_date: att['leave_date'],
                        total_days: att['total_days'],
                        billable: att['billable'],
                        leave_type: att['leave_type'],
                        leave_hours: att['leave_hours']
                    }
                    this.countActivities++;
                    this.data = this.data.concat(leave)
                }
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableLeaveActivity.changePage(page)
        },
        dataManagerLeaveActivity(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableLeaveActivity.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>