<template>
    <b-tab >
        <div slot="title">Open Activities
            <b-badge v-if="countActivities > 0" variant="danger">{{ countActivities }}</b-badge>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableTimesheetActivity"
                :api-mode="false" 
                :fields="activityTimesheet"
                :per-page="perPage"
                :data-manager="dataManagerTimesheetActivity" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'activity-ob-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activityTimesheet: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'total_days',
                    title: 'Total No. of Days',
                    sortField: 'total_days'
                },
                {
                    name: 'rendered_hrs',
                    title: 'Rendered Hours',
                    sortField: 'rendered_hrs'
                }
            ],
            perPage: 10,
            countActivities: 0,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableTimesheetActivity.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/activity/timesheet/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let timesheet = {
                        employee_name: att['employee_name'],
                        date: att['date'],
                        total_hours: att['total_hours'],
                        status: att['status'],
                    }
                    this.countActivities++;
                    this.data = this.data.concat(timesheet)
                }
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableTimesheetActivity.changePage(page)
        },
        dataManagerTimesheetActivity(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableTimesheetActivity.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>