<template>
    <b-tab title="Summary" active>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableAttendanceSummary"
                :api-mode="false" 
                :fields="attendance_summary"
                :per-page="perPage"
                :data-manager="dataManagerAttendanceSummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'attendance-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            attendance_summary: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'total_days',
                    title: 'Total No. of Days',
                    sortField: 'total_days'
                },
                {
                    name: 'rendered_hours',
                    title: 'Total Hours Rendered',
                    sortField: 'rendered_hours'
                },
                {
                    name: 'billable_hrs',
                    title: 'Billable Hours',
                    sortField: 'billable_hrs'
                }
            ],
            perPage: 10,
            data: [],
            total_hrs: 0,
            css: VuetableCSS,
            employees: []
        }
    },
    watch: {
        data() {
            this.$refs.vuetableAttendanceSummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/attendance/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                 response.data.forEach((att) => {
                     this.data.push({
                        employee_name: att['employee_name'],
                        total_days: att['total_days'],
                        billable_hrs: att['billable_hrs'],
                        rendered_hours: att['rendered_hours'],
                        no_working_hours: att['no_working_hours']
                    });

                    this.total_hrs += att['billable_hrs']
                 });
                // for (let att of response.data) {
                //     let attendance = {
                //         employee_name: att['employee_name'],
                //         total_days: att['total_days'],
                //         billable_hrs: att['billable_hrs'],
                //         no_billable_hrs: att['no_billable_hrs'],
                //         no_working_hours: att['no_working_hours']
                //     }
                    
                //     this.total_hrs += att['billable_hrs']
                //     this.employees = this.employees.concat(att['employee_id']);
                //     this.data = this.data.concat(attendance)
                // }
                this.$emit('employees', this.employees)

                this.$emit('totalBillableHours', this.total_hrs)
            }
        ).catch(err => {
                console.log(err)
        })
        
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableAttendanceSummary.changePage(page)
        },
        dataManagerAttendanceSummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableAttendanceSummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>