<template>
    <b-tab title="Summary" active>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableLateAbsentSummary"
                :api-mode="false" 
                :fields="lateAbsentSummary"
                :per-page="perPage"
                :data-manager="dataManagerLateAbsentSummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'lates-absent-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            lateAbsentSummary: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name',
                },
                {
                    name: 'lates_absences.days_late',
                    title: 'No. of Days Late',
                    sortField: 'lates_absences.days_late',
                },
                {
                    name: 'lates_absences.hrs_late',
                    title: 'No. of Hours Late',
                    sortField: 'lates_absences.days_late',
                },
                {
                    name: 'lates_absences.days_absent',
                    title: 'No. of Days Absent',
                    sortField: 'lates_absences.days_late',
                },
                {
                    name: 'lates_absences.hrs_absent',
                    title: 'No. of Hours Absent',
                    sortField: 'lates_absences.days_late',
                }
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableLateAbsentSummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/lates-absent/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let attendance = {
                        employee_name: att['employee_name'],
                        lates_absences: att['lates_absences'],
                    }
                    
                    this.data = this.data.concat(attendance)
                }
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableLateAbsentSummary.changePage(page)
        },
        dataManagerLateAbsentSummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableLateAbsentSummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>