<template>
    <b-tab title="Summary" active>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableOvertimeSummary"
                :api-mode="false" 
                :fields="overtimeSummary"
                :per-page="perPage"
                :data-manager="dataManagerOvertimeSummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'overtime-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            overtimeSummary: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name',
                }
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS,
            total_hrs: 0,
            employees: []
        }
    },
    watch: {
        data() {
            this.$refs.vuetableOvertimeSummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/overtime/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                response.data.forEach((ot, index) => {
                    this.data.push({
                        employee_name: ot.employee_name
                    });
                    
                    for (let type of ot.overtime) {
                        this.data[index][type.overtime_type] = type.total_hours

                        this.total_hrs += parseFloat(type.total_hours)
                    }

                    this.employees = this.employees.concat(ot.employee_id);
                });    
                
                this.$emit('employees', this.employees)

                this.$emit('totalOtHours', this.total_hrs)
            }
        );

        axios.get('ot-type/2')
            .then(response => {
                response.data.forEach((ot) => {
                    this.overtimeSummary.push({
                        name: ot.code,
                        title: ot.code,
                        sortField: ot.code
                    })
                })
            }).catch(error => {
                console.log(error.response)
            })
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableOvertimeSummary.changePage(page)
        },
        dataManagerOvertimeSummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableOvertimeSummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>