<template>
    <b-tab title="Summary" active>
        <div class="row justify-content-center">
            <div class="col-md-12 pr-0">
                <vuetable ref="vuetableTimesheetSummary"
                :api-mode="false" 
                :fields="timesheetSummary"
                :per-page="perPage"
                :data-manager="dataManagerTimesheetSummary" 
                pagination-path="pagination"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table"
                class="table-overflow"> 
                </vuetable>
            </div>
        </div>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" 
                @vuetable-pagination:change-page="onChangePage" 
                :css="css.pagination">
            </vuetable-pagination>
        </div>
    </b-tab>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'

export default {
    name: 'timesheet-table',
    props: ['payload'],
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            timesheetSummary: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'total_days',
                    title: 'Total No. of Days',
                    sortField: 'total_days'
                },
                {
                    name: 'non_billable_hrs',
                    title: 'Non Billable Hours',
                    sortField: 'non_billable_hrs'
                },
                {
                    name: 'billable_hrs',
                    title: 'Billable Hours',
                    sortField: 'billable_hrs'
                }
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS,
            total_hrs: 0,
            employees: []
        }
    },
    watch: {
        data() {
            this.$refs.vuetableTimesheetSummary.refresh();
        }
    },
    mounted() {
        
        axios.get('payruns/timesheet/' + this.payload.start + '/' + this.payload.end)
            .then(response => {
                for (let att of response.data) {
                    let timesheet = {
                        employee_name: att['employee_name'],
                        employee_id: att['employee_id'],
                        total_days: att['no_of_days'],
                        non_billable_hrs: att['non_billable_hrs'],
                        billable_hrs: att['billable_hrs']
                    }

                    this.total_hrs += parseFloat(att['billable_hrs'])

                    this.employees = this.employees.concat(att['employee_id'])

                    this.data = this.data.concat(timesheet)
                }

                this.$emit('employees', this.employees)

                this.$emit('totalBillableHours', this.total_hrs)
            }
        );
    },
    methods: {
        onPaginationData(paginationData)
        {
            this.$refs.pagination.setPaginationData(paginationData);
        },
        onChangePage(page)
        {
            this.$refs.vuetableTimesheetSummary.changePage(page)
        },
        dataManagerTimesheetSummary(sortOrder, pagination)
        {
            if (this.data.length < 1) return;

            let local = this.data;

            if (sortOrder.length > 0){
                local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableTimesheetSummary.makePagination(
                local.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;

            return {
                pagination: pagination,
                data: _.slice(local, from, to)
            };
        },
    }
}
</script>