<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="submitForm('issuance-template', {route:'material_issuance_slip'})">
                    <b-row>
                        <router-link :to="{name:'material_issuance_slip'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Material Issuance Template</h5></div>
                        <div class="col text-right"><b-button class="inventory-btn"  type="submit"> Save</b-button></div>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <b-row class="mt-30">
                                <b-col md="4" class="text-right pt-9">
                                    <b>Template Name</b>
                                </b-col>   
                                <b-col md="5">
                                        <b-form-group label="" label-for="date">
                                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="particulars"
                                                name="particulars"
                                                aria-describedby="input-1-live-feedback"
                                                v-model="$v.form.template_name.$model"
                                                :state="stateValidation('template_name')"
                                            ></b-form-input>
                                        </b-form-group>
                                        <b-form-checkbox
                                            value="1"
                                            unchecked-value="0"
                                            v-model="form.default"
                                        >Set as Default Template</b-form-checkbox>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                    <br/>
                    <b-col sx="12" sm="12" md="6" lg="6" align="right">
                        <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="addRow()">+ Add Item</a>
                    </b-col>
                    <b-row>
                        <b-table hover :items="form.item" :fields="tableHeaders">
                            <template v-slot:cell(item)="row">
                                {{ row.index + 1 }}
                            </template>
                            <template v-slot:cell(inventory_id)="row">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="description"
                                    name="description"
                                    :options="item_options"
                                    v-model="row.item.inventory_id"
                                ></b-form-select>
                            </template>
                            <template v-slot:cell(quantity)="row">
                                 <b-form-input :type="number" style="border-left: solid 1.5px #ec0000"
                                        v-model="row.item.quantity"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                            </template>
                            <template v-slot:cell(action)="row">
                                 <div>
                                    <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(row.item)"></span>
                                </div>
                            </template>
                        </b-table>
                    </b-row>
                </b-form>                            
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'

    export default {
        mixins: [formMixins, validationMixin],
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active: true, href: '#'},
                    { text: 'Material Issuance Slip', href: '#'},
                    { text: 'New Template', active: true },
                ],
                tableHeaders: [
                    {key:'item', label:'Item Number'},
                    {key:'inventory_id', label:'Description'},
                    {key:'quantity', label:'Quantity'},
                    {key:'action', label:'Action'},
                ],
                item_options: [{
                    value: null,
                    text: "Select Inventory",
                    selected: "true"

                }],
                form:{
                    template_name: "",
                    default: "0",
                    item: [],
                }
            };
        },
        validations: {
                form:{
                    template_name:{
                        required
                    }
                }
        },
        mounted(){
            axios.get('issuance-template/create').then((response)=>{
                let inventories = response.data.Inventories;
                console.log(inventories);
                inventories.forEach(inventory => {
                    this.item_options.push({
                        value: inventory.id,
                        text: inventory.get_inventories_names.description
                    });
                });
            });
        },
        methods: {
            addRow(){
                this.form.item.push({
                    item: null,
                    inventory_id: null,
                    quantity: "",
                    action: ""
                });
            },
            removeElement(item){
                this.form.item.splice(item.index, 1)
            },
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>