<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="submitForm('material-issuances', {route:'material_issuance_slip.view'})">
                    <b-row>                    
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'material_issuance_slip'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Material Issuance Slip</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="12" > 
                            <b-row class="mt-30">
                                <b-col md="4" class="text-right pt-9">
                                    <b>Date</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group label="" label-for="date">
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            id="date" 
                                            name="date"
                                            v-model="$v.form.date_issue.$model"
                                            :state="stateValidation('date_issue')"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Team No.</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="team_no" label-for="input-2">
                                        <b-form-select v-on:change="changeItem($event)" style="border-left: solid 1.5px #ec0000"
                                            id="team_no"
                                            name="team_no"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.team_id.$model"
                                            :state="stateValidation('team_id')"
                                            :options="team_no"
                                        ></b-form-select>
                                        <a href="#">Save Team</a>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Tech 1</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="tech_1" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="tech_1"
                                            name="tech_1"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.tech1"
                                            :state="stateValidation('tech1')"
                                            :options="tech_1"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Tech 2</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="tech_2" label-for="input-2">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            id="tech_2"
                                            name="tech_2"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="form.tech2"
                                            :state="stateValidation('tech2')"
                                            :options="tech_2"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b>Vehicle Plate No.</b>
                                </b-col>   
                                <b-col md="5">
                                    <b-form-group id="vehicle_plateno" label-for="input-2">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="vehicle_plateno"
                                            name="vehicle_plateno"
                                            aria-describedby="input-2-live-feedback"
                                            v-model="$v.form.vehicle_plateno.$model"
                                            :state="stateValidation('vehicle_plateno')"
                                            placeholder="Vehicle Plate No"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-form>
                <b-row class="fs-18 pt-2rm">
                    <b-col sx="12" sm="12" md="6" lg="6">
                        <b>Material Issuance Slip Items</b> 
                        <!-- <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="addRow('')">+ Add</a> -->
                    </b-col>
                    <b-col sx="12" sm="12" md="6" lg="6" align="right">
                        <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="modalShow('selectTemplate')">+ Select Template</a>
                    </b-col>
                </b-row>
                <modal2 ref="selectTemplate">
                    <h5 slot="header">Add Template</h5>
                    <div slot="body">
                        <b-row class="pt-1rm">
                            <b-col md="4" class="text-right pt-9">
                                <b class="">Template Name</b>
                            </b-col>
                            <b-col md="5">
                                <b-form-group id="input-group-4" label-for="particulars">
                                    <b-form-select style="border-left: solid 1.5px #ec0000"
                                    :options="template_items"
                                    aria-describedby="input-1-live-feedback"
                                    v-model="selected_template"
                                ></b-form-select>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </div>
                    <div slot="buttons">
                        <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem" variant="success" @click="applyTemplate">Apply</b-button>
                        <b-button size="sm" style="background: #fff; color: #707070;" @click="modalHide">Close</b-button>
                    </div>
                </modal2>
                <hr style="width: 100%">
                <b-table :items="form.item" :fields="material_issuance_items" show-empty responsive>
                    <template v-slot:cell(id)="row">
                        {{row.index + 1}}
                    </template>
                    <template v-slot:cell(inventory_description_id)="row">
                       {{ row.item.inventory_description_id }}
                       <br><label><strong>buffer stock:</strong> {{row.item.buffer_stock}} {{row.item.unit}}</label>
                    </template>
                    <template v-slot:cell(quantity)="row">
                        <b-form-input style="border-left: solid 1.5px #ec0000"
                            id="quantity"
                            name="quantity"
                            v-model="row.item.quantity"
                        ></b-form-input>
                    </template>
                    <template v-slot:cell(onhand)="row">
                        {{ row.item.onhand }}
                    </template>
                    <template v-slot:cell(action)="row">
                        <div :value="row.action">
                            <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(row.item)"></span>
                        </div>
                    </template>
                    <template v-slot:emptyfiltered="scope">
                        <h4>{{ scope.emptyFilteredText }}</h4>
                    </template>
                </b-table>
                <!-- <b-col style="padding-left: 0px">
                    <b-button class="btn-inventory-primary" @click="addRow"><span class="fa fa-plus"></span>&nbsp;Add Row</b-button>
                </b-col> -->
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import axios from 'axios'
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import Modal2 from '@/components/Modal2'
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
             Modal2
        },
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active: true},
                    { text: 'Material Issuance Slip', href: '#'},
                    { text: 'New', active: true },
                ],
                selected: [],
                team_data: {
                    tech_1: null,
                    tech_2: null
                },
                asset_tag: '',
                material_issuance_items: [
                    { key: 'id', label: 'Item No.' },
                    { key: 'inventory_description_id', label: 'Description' },
                    { key: 'onhand', label: 'On Hand' },
                    { key: 'quantity', label: 'Issued' },
                    { key: 'action', label: 'Action' }
                ],
                team_no: [
                    { value: null, text: "Select Team" },
                ],
                tech_1: [
                    { value: null, text: "Select Tech" },
                ],
                tech_2: [
                    { value: null, text: "Select Tech" },
                ],
                form: {
                    date_issue: '',
                    team_id: null,
                    tech1: null,
                    tech2: null,
                    vehicle_plateno: '',
                    template_id: null,
                    description: null,
                    item: [],
                    Used: [],
                    table_template: []
                },
                template_items: [{
                    value: null,
                    text: "Select Template"
                }],
                selected_template: null,
                data: [{
                    'item_no' : '1' ,
                    'description' :  '',
                    'unit' : '1000 ft',
                    'issued' : '1000'
                    }
                ]
            };
        },
        validations: {
            form: {
                date_issue: {
                    required
                },
                team_id: {
                    required,
                },
                tech1: {
                    required,
                },
                tech2: {
                    required,
                },
                vehicle_plateno: {
                    required,
                },
            }
        },
        mounted(){
            this.getMaterialIssuance()
            // this.getCandidates()
        },
        methods: {
            changeItem(id){
                axios.get('team/'+id).then((response) => {
                    // console.log(response.data)
                    let technicians = response.data.team_technicians;
                    technicians.forEach(technician => {
                        if (technician['technician']==1) {
                            this.form.tech1 = technician['employee_id'];
                        }
                        else {
                           this.form.tech2 = technician['employee_id']; 
                        }
                    });
                })
              
            },
            getMaterialIssuance(){
                axios.get('material-issuances/create').then((response) => {
                    console.log(response.data); 
                           
                    let teams = response.data.Team;
                    teams.forEach(team => {
                        this.team_no.push({value: team['id'],text: team['team_name']})
                        
                    });
                    
                    let technicians = response.data.Technicians;
                    technicians.forEach(technician => {
                         if(technician['technician'] == 1){
                            this.tech_1.push({value: technician['employee_id'],text: technician['employee_name']})
                        }else{
                            this.tech_2.push({value: technician['employee_id'],text: technician['employee_name']})
                        } 
                    });
                    
                    let templates = response.data.IssuanceTemplates;
                    templates.forEach(template => {
                        if(template.default == 1){
                            this.form.item = [];
                            let template_items = template.get_issuance_templates_items;
                            this.form.template_id = template.id;
                            template_items.forEach(item => {
                                this.form.item.push({
                                    id: item.id,
                                    inventory_id: item.inventory_id,
                                    inventory_description_id: item.get_inventories.get_inventories_names.description,
                                    onhand:"",
                                    quantity:"",
                                    action:"",
                                    buffer_stock: item.quantity,
                                    unit: item.get_inventories.get_unit.unit_code
                                });
                            });
                        }
                        
                        this.template_items.push({
                            value: template,
                            text: template.template_name
                        });
                    });
                   
                })
                this.form.item.push({
                    id: "",
                    inventory_id:"",
                    inventory_description_id: "",
                    onhand: "",
                    quantity: "",
                    action: ""
                }); 
            },
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            applyTemplate(){
                this.form.item = [];
                this.$v.form.team_id.$touch()
                console.log(this.$v.form.team_id)
                if(!this.$v.form.team_id.$error){
                    this.form.template_id = this.selected_template.id;
                    axios.get('material-issuances/get_onhand/'+this.form.team_id+'/template/'+this.form.template_id).then((template) => {
                        console.log(template.data);
                        template.data.forEach(item => {
                            this.form.item.push({
                                inventory_id: item.inventory_id,
                                id: item.id,
                                inventory_description_id: item.inventory_description_id,
                                onhand: item.onhand + " " + item.unit,
                                quantity:"",
                                action:"",
                                buffer_stock: item.buffer_stock,
                                unit: item.unit
                            });
                        });
                    });
                    this.$bvModal.hide('modal-main')
                }else{
                    this.$bvModal.hide('modal-main')
                    this.makeToast('Notice',"Please select a team before applying template",'danger')
                }
            },
            makeToast(title, message, variant = null){
            this.$bvToast.toast(message,{
                title: title,
                variant: variant,
                solid: true
            })
        },
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>