<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Account</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Material Issuance Slip List</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{name:'material_issuance_slip.create'}">
                        <b-button class="btn-inventory-primary btn-size mr-05"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button class="btn-size">Delete</b-button>
                </b-col>
            </b-row>
            <b-col class="mt-30">
                <b-container>
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click="filter()"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable
                ref="vuetable"
                :fields="fields" 
                :data="data"
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="date_issued" slot-scope="props">
                    <router-link :to="{ name: 'material_issuance_slip.view', params: {id: props.rowData.id} }">{{ props.rowData.date_issue }}</router-link> 
                </div>
                <!-- <div slot="created_by" slot-scope="props">
                    <b-avatar v-if="props.rowData.history_logs == null" size="sm" :text="getAcronym(props.rowData.history_logs.user.name)"></b-avatar>
                    <b-avatar v-else :src="props.rowData.history_logs.image" size="sm"></b-avatar>&nbsp;&nbsp;
                    <span class="mini-desc bold">{{props.rowData.history_logs.user.name}}</span><br>
                    <span class="mini-desc">{{props.rowData.history_logs.date}} | {{props.rowData.history_logs.time}}</span>
                </div> -->
            </vuetable> 
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'
    import NoData from '@/components/NoDataPage'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Material Issuance Slip",
                    image: "material_issuance_slip",
                    description: "Issuing materials on an employee or a team for tracked records of used, installed and return materials.",
                    route_create: "material_issuance_slip.create",
                    route_import: "material_issuance_slip.import",
                    route_other: "material_issuance_slip.create.template",
                    other_title: "Template",
                    allmodules: true,
                    params: "material_issuance_slip" 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Material Issuance Slip', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'date_issued',
                        sortField: 'date_issued',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'date_issued',
                        title: 'Date Issued',
                        sortField: 'date_issued'
                    },
                    {
                        name: 'team_details.vehicle_plateno',
                        title: 'Vehicle Plate No.',
                        sortField: 'team_details.vehicle_plateno'
                    },
                    {
                        name: 'tech1',
                        title: 'Tech 1',
                        sortField: 'tech1'
                    },
                    {
                        name: 'tech2',
                        title: 'Tech 2',
                        sortField: 'tech2',
                    },
                    {
                        name: 'created_by',
                        title: 'Created By',
                        sortField: 'created_by',
                    }
                ],
                // data: [{
                //     'date_issued' : '' ,
                //     'vehicle_plate' :  'ABC 1234',
                //     'tech_1' : 'Angelo Zamora',
                //     'tech_2' : 'Jared Salazar',
                //     'created_by' :  '' 
                //     }
                // ],
                perPage: 10,
                data: []
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('material-issuances').then( response => {
                // console.log(response.data.history_logs)
                this.data = response.data
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetableDepartments.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            getColor(index){
                index = index + 6;
                index = index%6
                return this.color_array[index]
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                return matches.join('')
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('department/massdelete/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>