<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <div class="col-md-6" style="margin: inherit;">
                        <router-link :to="{ name: 'material_issuance_slip' }"><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Material Issuance Slip Information</span>
                    </div>
                    <div class="col-md-6 align-right" style="margin: auto;">
                        <b-button class="btn-inventory-primary btn-size" style="margin-right: 5px;">Edit</b-button>
                        
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item @click="printMe">Print</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Onboarding"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item><router-link :to="{name : 'onboardings.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'onboardings.view', data: history_logs})}}">Timeline</router-link></b-dropdown-item>
                        </b-dropdown>
                    </div>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="5">
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{MaterialIssuanceData.date_issue}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Team No.</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">1</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Tech 1</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{MaterialIssuanceData.tech1}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Tech 2</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{MaterialIssuanceData.tech2}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Plate Vehicle No.</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{MaterialIssuanceData.team_details.vehicle_plateno}}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <b-col md="12">
                            <b-card>
                                <b-row>
                                    <div class="col-md-4">
                                        <div style="text-align: center;">
                                            <img :src="require(`@/images/user.jpg`)" style="width: 120px; height: 120px;" class="rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="fs-16">{{MaterialIssuanceData.team_details.team_name}}</label><br>
                                        <label class="fs-16">{{MaterialIssuanceData.team_details.vehicle_plateno}}</label><br>
                                        <label class="fs-16"><a href="">Show Information <i class="fa fa-chevron-down"></i></a></label>
                                    </div>
                                </b-row>
                            </b-card>
                        </b-col>
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>

            <b-container>
                <div class="tab-permission mt-50">
                    <b-tabs active-nav-item-class="fw-600" content-class="mt-3">
                        <b-tab title="Issued Materials" active>
                            <vuetable ref="vuetable" :fields="issued_materials" :data="MaterialIssuanceItems" :api-mode="false" :css="css.table" class="mt-20 table-overflow">
                                <div slot="description" slot-scope="props">
                                    <label>{{props.rowData.inventory_id.get_inventories_names.description}}</label>
                                </div>
                                <div slot="onhand" slot-scope="props">
                                    <label>{{props.rowData.inventory_id.quantity}}</label>
                                </div>
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                                </vuetable-pagination>
                            </div>
                        </b-tab>
                        <b-tab title="Used/Installed Materials">
                            <b-form @submit.stop.prevent="submitForm('issuance-template/return-used-materials')">
                                <div class="col text-right"><b-button class="inventory-btn" variant="success" type="submit"> Save</b-button></div>
                                <b-table 
                                    :items="form.Used" 
                                    :fields="fields_items_used"
                                    class="table-overflow">
                                    <template v-slot:cell(id)="row">
                                        {{row.index + 1}}
                                    </template>
                                    <template v-slot:cell(quantity)="row">
                                        <b-form-input v-model="row.item.quantity" :value="row.item.quantity"></b-form-input>
                                    </template>
                                    <template v-slot:cell(remarks)="row">
                                        <b-form-input v-model="row.item.remarks"  :value="row.item.remarks"></b-form-input>
                                    </template>
                                </b-table>
                            </b-form>
                            <!-- <vuetable ref="vuetable" :fields="used_installed" :data="MaterialIssuanceItems" :api-mode="false" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" class="mt-20">
                              
                                 <div slot="description" slot-scope="props">
                                    <label>{{props.rowData.inventory_id.get_inventories_names.description}}</label>
                                </div>
                                <div slot="onhand" slot-scope="props">
                                    <label>{{props.rowData.inventory_id.quantity}}</label>
                                </div>
                                <div slot="used_installed" slot-scope="props">
                                    <b-form-input
                                        id="material_item_id"
                                        name="material_item_id"
                                        v-model="formitems.material_item_id"
                                        :value="props.rowData.inventory_id.id"
                                        @input="props.rowData.inventory_id.id"
                                    ></b-form-input>
                                    <b-form-input
                                        id="used_installed"
                                        name="used_installed"
                                        v-model="props.rowData.used_installed"
                                        :style="show1" 
                                        placeholder="Used Installed"
                                    ></b-form-input>
                                </div>
                                <div slot="remarks">
                                    <b-form-input
                                        id="remarks"
                                        name="remarks"
                                        v-model="formitems.remarks"
                                        :style="show2"
                                        placeholder="Remarks"
                                    ></b-form-input>
                                </div>
                            </vuetable> -->
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                                </vuetable-pagination>
                            </div>
                        </b-tab>
                        <b-tab title="Return Materials">
                            <b-form @submit.stop.prevent="submitForm('issuance-template/return-used-materials')">
                                <div class="col text-right"><b-button class="inventory-btn" variant="success" type="submit"> Save</b-button></div>
                                <b-table 
                                    :items="form.Returned" 
                                    :fields="fields_items_returned"
                                    class="table-overflow">
                                    <template v-slot:cell(id)="row">
                                        {{row.index + 1}}
                                    </template>
                                    <template v-slot:cell(quantity)="row">
                                        <b-form-input v-model="row.item.quantity" :value="row.item.quantity"></b-form-input>
                                    </template>
                                    <template v-slot:cell(remarks)="row">
                                        <b-form-input v-model="row.item.remarks"  :value="row.item.remarks"></b-form-input>
                                    </template>
                                </b-table>
                            </b-form>
                        </b-tab>
                    </b-tabs>
                </div>
            </b-container>            
        </b-row>
        <b-row style="display: none">
            <Printing></Printing>
        </b-row>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import moment from 'moment'
    import { formMixins } from '@/mixins/form'
    import { validationMixin } from "vuelidate";
    import ApprovalStatus from '@/components/ApprovalStatus'   
    import Printing from '@/components/Print'
    import printJS from 'print-js';
    
    export default {
        name: "Show",
        mixins: [modalMixins, formMixins, validationMixin],
        components: {
            Vuetable,
            VuetablePagination,
            ApprovalStatus,
            Printing
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Material Issuance Slip', href: '#' },
                    { text: 'View', active: true },
                ],
                show1:false,
                show2:false,
                selected: [],
                form: {
                    Returned: [],
                    Used: [],
                },
                approveData: [],
                MaterialIssuanceData: [],
                MaterialIssuanceItems: [],
                fields_items_used: [
                    { key: 'id', label: 'Item No.' },
                    { key: 'description', label: 'Description' },
                    { key: 'onhand', label: 'On Hand' },
                    { key: 'quantity', label: 'Used/Installed' },
                    { key: 'remarks', label: 'Remarks' },
                ],
                fields_items_returned: [
                    { key: 'id', label: 'Item No.' },
                    { key: 'description', label: 'Description' },
                    { key: 'onhand', label: 'On Hand' },
                    { key: 'quantity', label: 'Returned' },
                    { key: 'remarks', label: 'Remarks' },
                ],
                TimelineData: [],
                DeleteData: [],
                // used_installed: [
                //     { name: 'id', title: 'Item No.' },
                //     { name: 'description', title: 'Description' },
                //     { name: 'onhand', title: 'On Hand' },
                //     { name: 'items_used', title: 'Used/Installed' },
                //     { name: 'remarks', title: 'Remarks' },
                // ],
                issued_materials: [
                    { name: 'id', title: 'Item No.' },
                    { name: 'description', title: 'Description' },
                    { name: 'onhand', title: 'On Hand' },
                    { name: 'issued', title: 'Issued' },
                ],
                // returns: [
                //     { name: 'id', title: 'Item No.' },
                //     { name: 'description', title: 'Description' },
                //     { name: 'onhand', title: 'On Hand' },
                //     { name: 'returned', title: 'Returned' },
                //     { name: 'remarks', title: 'Remarks' },
                // ],
                formitems: {
                    used_installed: '',
                    material_item_id: '',
                    remarks: ''
                },
                useqty:'',
                useremarks:'',
                returnqty:'',
                returnremarks:'',
                perPage: 10,
                manager: [],
                data:[],
                history_logs: [],
            }
        },
        validations: {
            form: {
               
            }
        },
        mounted(){
            axios.get('material-issuances/'+ this.$route.params.id).then(response => {
                this.approveData = response.data
                let data = response.data
                this.MaterialIssuanceData = data
                this.MaterialIssuanceItems = data.materialitem
                data.materialitem.forEach(element => {
                    if(element.use){
                        console.log(1);
                        if(element.use.issuance_item_id == element.inventory_id.id){
                            this.useqty = element.use.quantity;
                            this.useremarks = element.use.remarks;
                        }
                    }else{
                        this.useqty = '';
                        this.useremarks = '';
                    }
                    
                    this.form.Used.push({
                        id: element.inventory_id.id,
                        description: element.inventory_id.get_inventories_names.description,
                        onhand:element.inventory_id.quantity,
                        status:1,
                        quantity:this.useqty,
                        remarks: this.useremarks
                    })
                    
                });
                data.materialitem.forEach(element => {
                    if(element.return){
                        console.log(1);
                        if(element.return.issuance_item_id == element.inventory_id.id){
                            this.returnqty = element.return.quantity;
                            this.returnremarks = element.return.remarks;
                        }
                    }else{
                        this.returnqty = '';
                        this.returnremarks = '';
                    }
                    
                    this.form.Returned.push({
                        id: element.inventory_id.id,
                        description: element.inventory_id.get_inventories_names.description,
                        onhand:element.inventory_id.quantity,
                        status:0,
                        quantity:this.returnqty,
                        remarks: this.returnremarks
                    })
                    
                });
            });
        },
        methods: {
            printMe(){
                printJS({ printable: 'printMe', type: 'html', header: 'Material Issuance Slip Information'});
                // this.printval = false;
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
             validation(){
               return true;
            },
            dateformat(value) {
               return moment(String(value)).format('MMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            // addRow(){
            //     if (this.formitems.used_installed == '' || this.formitems.remarks == '' ){
            //         // this.makeToast('Oopps!','Fields with red are required','danger')
            //             if(this.formitems.used_installed == ''){
            //                 this.show1 = true;
            //             }
            //             if(this.formitems.remarks == ''){
            //                 this.show2 = true;
            //             }
            //             setTimeout(()=>{
            //                 this.show1 = false;
            //                 this.show2 = false;
            //             },5000);
            //     }else{
            //         if(this.form.item ==null){
            //             this.form.item = [];
            //         }
                    
            //         var my_object = {
            //             Action:'',
            //             issuance_item_id:this.formitems.material_item_id,
            //             quantity:this.formitems.used_installed,
            //             status:1,
            //             remarks:this.formitems.remarks
            //         };
            //         this.formitems.used_installed = '';
            //         this.formitems.remarks = '';
            //         this.form.item.push(my_object)
            //         axios.post('issuance-template/return-used-materials',this.form).then((response) => {
            //             let data = response.data
            //             console.log(data)
            //         });
            //     }
                
            // },
            trigger () {
                this.$refs.fileInput.click()
            }
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 