<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('interview', { stay: checked, route:'interview.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'interviews' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Interview</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn">Save</b-button>
                            </b-overlay>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right pt-9">
                            <b>Interview Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="interview_type_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="interview_type_id"
                                    name="interview_type_id"
                                    v-model="$v.form.interview_type_id.$model"
                                    :options="interview_type_id"
                                    :state="stateValidation('interview_type_id')"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>From</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="interview_from"
                                    v-model="$v.form.interview_from.$model"
                                    :state="stateValidation('interview_from')"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>To</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="interview_to"
                                    v-model="$v.form.interview_to.$model"
                                    :state="stateValidation('interview_to')"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Candidate Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="candidate_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="candidate_id"
                                    name="candidate_id"
                                    v-model="$v.form.candidate_id.$model"
                                    :options="candidate_id"
                                    :state="stateValidation('candidate_id')"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Interviewer</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="interviewer_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="interviewer_id"
                                    name="interviewer_id"
                                    v-model="$v.form.interviewer_id.$model"
                                    :options="interviewer_id"
                                    :state="stateValidation('interviewer_id')"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Location</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="location" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="location"
                                    name="location"
                                    placeholder="Location"
                                    v-model="$v.form.location.$model"
                                    :state="stateValidation('location')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Comments</b>
                        </b-col>   
                        <b-col md="5" class=" mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="comments" label="" label-for="comments">
                                <b-form-textarea
                                        id="comments"
                                        name="comments"
                                        v-model="form.comments"
                                        placeholder="Enter a requirements"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="align-right pt-9">
                            <b>Attachments</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="attachments">
                                <b-form-file id="attachments" v-model="form.attachments" name="attachments"  placeholder="Choose a file or drop it here" drop-placheholder="Drop file here"></b-form-file>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Recruitment', active:true },
                    { text: 'Interviews', href: '#'},
                    { text: 'New', active:true },
                ], 
                interview_type_id: [
                    { value: null, text: "Select Interview Type" },
                ],
                candidate_id: [
                    { value: null, text: "Select Candidate" },
                ],
                interviewer_id: [
                    { value: null, text: "Select Interviewer" },
                ],
                Holiday: [],
                form: {
                    interview_type_id: null,
                    interviewer_id: null,
                    candidate_id: null,
                    comments:'',
                    location:'',
                    interview_from:'',
                    interview_to:'',
                    attachments: []
                },              
            };
        },
      
        validations: {
            form: {
                interview_type_id: { required },
                interview_from: { required },
                interviewer_id: { required },                
                candidate_id: { required },
                location: { required },
                interview_to: { required }                
            }
        },
        mounted(){
            axios.get('interview/create').then((response) => {
                let interviewer_data = response.data.interviewer_id;
                interviewer_data.forEach((interviewer) =>{
                    this.interviewer_id.push({value: interviewer['id'],text: interviewer['first_name']+' '+ interviewer['last_name'] })
                });  
                
                let candidate_data = response.data.candidate_id;
                candidate_data.forEach((candidate) =>{
                    this.candidate_id.push({value: candidate['id'],text: candidate['name'] })
                });  
            
                let interview_type_data = response.data.interview_type;
                interview_type_data.forEach((interview_type) =>{
                    this.interview_type_id.push({value: interview_type['id'],text: interview_type['name'] })
                });  
            });
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
</script>

<style scoped>

.p-5{
  padding: 0px !important;
}
</style>