<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <!-- Modal Delete -->
            <modal2>
                <h5 slot="header" class="margin-0">Delete Interview</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">Interviews List</p></div>
                <div class="col text-right">
                    <router-link :to="{name:'interviews.create'}"><b-button class="hr-btn mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable 
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="interview_type_name" slot-scope="props">
                    <router-link :to="{ name: 'interview.view', params: {id: props.rowData.id} }">{{ props.rowData.interview_type_name }}</router-link>
                </div>
                <div slot="department_id" slot-scope="props">
                    {{props.rowData.department_id == 'N/A' ? props.rowData.department_id :  props.rowData.department_id.name  }}
                </div>
                <div slot="candidate_data" slot-scope="props">
                    {{props.rowData.candidate_data == 'N/A' ? props.rowData.candidate_data :  props.rowData.candidate_data  }}
                </div>
                <div slot="interview_range" slot-scope="props">
                    {{ interviewRange(props.rowData,1) }}
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
            </vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'
    import moment from 'moment'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "interviews",
                    title: "Interviews",
                    description: "Job Opening are the position or designation in the company that can be hiring. requested manpower to specific department by hiring manager or supervisor.",
                    route_create: "interviews.create",
                    route_import: "interviews.import",
                    params: "interviews",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Recruitment', active:true },
                    { text: 'Interviews', href: '#'},
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'interview_type_name',
                        sortField: 'interview_type_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },                    
                    {
                        name: 'interview_type_name',
                        title: 'Interview Type',
                        sortField: 'interview_type_name'
                    },
                    {
                        name: 'interview_range',
                        title: 'From - To',
                        sortField: 'interview_range',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'candidate_name',
                        title: 'Candidate Name',
                        sortField: 'candidate_name',
                        formatter: (value) => {
                            return value +'<br><p class="mini-desc">Status: '+ (value == 1?'In-progress':(value == 2?'Waiting for Approval':(value == 3?'On-Hold':(value == 4?'Filled':(value == 5?'Cancelled':(value == 6?'Declined':'In-progress')))))) + '</p>'
                        }
                    },
                    {
                        name: 'department_id',
                        title: 'Department Name',
                        sortField: 'department_id',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'candidate_data.name',
                        title: 'Posting Title',
                        sortField: 'candidate_data',
                        formatter: (value) => {
                            return value 
                        }
                    },                     
                ],
                perPage: 10,
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('interview').then( response => {
                this.data = response.data
            })
        },
        methods: {
            interviewRange(data,type) {
                if(type == 1){
                    return moment(String(data.interview_from)).format('MMMM DD, YYYY ') +  (moment(String(data.interview_from)).format('MMMM DD, YYYY ') == moment(String(data.interview_to)).format('MMMM DD, YYYY ') ? '' : "- " +moment(String(data.interview_to)).format('MMMM DD, YYYY '));
                }else{
                   return
                } 
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('interview/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
 .p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
</style>