<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'interviews.view'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Interview Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'interview.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'interviews.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'interview.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="6">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Interview Type</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ InterviewData.interview_type_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Department Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ InterviewData.department }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>From</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ InterviewData.interview_from }}</label>
                            </b-col>
                        </b-row>
                         <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>To</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                   <label class="fw-bold">{{ InterviewData.interview_to }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Interviewer(s)</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                 <label class="fw-bold">{{ InterviewData.interviewer_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Location</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                 <label class="fw-bold">{{ InterviewData.location }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Interview Status</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                 <label class="fw-bold">{{ (InterviewData.status == 1?'In-progress':(InterviewData.status == 2?'Waiting for Approval':(InterviewData.status == 3?'On-Hold':(InterviewData.status == 4?'Filled':(InterviewData.status == 5?'Cancelled':(InterviewData.status == 6?'Declined':'Inactive')))))) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Created By</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">N/A</label>
                            </b-col>
                        </b-row>
                        
                    </b-col>
                    <b-col md="6">
                        <b-row>
                            <b-col offset-md="1" md="11">
                                <ApprovalStatus :data="approveData"></ApprovalStatus>
                            </b-col>
                        </b-row>
                        <p></p>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Candidate Name</label>
                            </b-col>
                            <b-col class="form-group align-left">
                                 <label class="fw-bold">{{ InterviewData.candidate_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Posting Title</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                   <label class="fw-bold">{{ InterviewData.post_title }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Modified By</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold" style="margin: 0;">N/A</label><br>
                                <!--<label class="fw-bold fs-12">Mon, 15 Jun 2020 3:55pm</label> -->
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Comments</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                 <label class="fw-bold">{{ (InterviewData.comments == '' ?'N/A':InterviewData.comments) }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <div class="row mt-50">
                    <div class="col-md-6">
                        <label class="fs-18 hr-default-color fw-600">Attachments</label>
                    </div>
                    <div class="col-md-6 align-right">
                        <label class="fs-18 fw-600" style="color: rgb(0, 128, 255); cursor: pointer;"><i class="fa fa-plus" style="color: rgb(0, 128, 255); font-size: 14px;"></i> Attach</label>
                        <b-icon icon="chevron-down" class="hr-default-color attach-chevron"></b-icon>
                    </div>                   
                </div>
                <hr class="hr-view">                
                <vuetable ref="vuetable" :fields="attachments" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                </vuetable>
            </b-container>            
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],

        components: {
            Vuetable, ApprovalStatus, Approval
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Interviews', href: '#' },
                    { text: 'View', active: true }
                ], 
                DeleteData: [],
                InterviewData:[],
                TimelineData: [],
                history_logs: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Interview'
                },
                attachments: [
                    {
                        name: 'file_path',
                        title: 'File Name',
                        sortField: 'file_path',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'attached_by',
                        title: 'Added By',
                        sortField: 'attached_by',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'created_at',
                        title: 'Date Added',
                        sortField: 'created_at',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('interview/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.InterviewData = data
                this.history_logs = response.data.history_logs
                this.InterviewData.department = response.data.data.department_id.name
                this.InterviewData.status = response.data.data.candidate_data.job_opening_status
                this.InterviewData.post_title = response.data.data.candidate_data.name
                this.DeleteData = {value:this.$route.params.id,route:'interview/',route2:'interviews',data:this.InterviewData.interview_type_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'interview.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
         
        },
        methods: {
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>