<template>
    <div class="form-group col-md-12 p-5">
        <div id="notfound">
            <div class="notfound">
                <div>
                    <div class="notfound-404">
                        <h1>!</h1>
                    </div>
                    <h2>Permission<br>Error</h2>
                </div>
                <p>You are not permitted to access this page. Please contact HR Department</p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'ErrorView',
    }
</script>
<style scoped>
 .p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
</style>