<template>
    <main  class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid p-5">
            <div class="row">

                <div class="form-group col-md-12">

                    <h4 class="form-head">Create Item</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-12 margin-top">
                            <FullCalendar
                                    class='demo-app-calendar'
                                    ref="fullCalendar"
                                    defaultView="dayGridMonth"
                                    :header="{
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                                    }"
                                    :plugins="calendarPlugins"
                                    :weekends="true"
                                    :events="calendarEvents"
                                    @dateClick="handleDateClick"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<style lang="scss">
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
</style>
<script>
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import interactionPlugin  from '@fullcalendar/interaction'
    export default {
        name: "Calendar",
        components: {
            FullCalendar
        },
        data(){
            return {
                calendarPlugins: [ dayGridPlugin,interactionPlugin  ],
                calendarEvents: [
                    { title: 'Event Now', start:  new Date() },
                    { title: 'Event Now', start:  new Date() },
                    { title: 'Event Now', start:  new Date() },
                    { title: 'Event Now', start:  new Date() },
                ]
            }
        },
        methods: {
            handleDateClick(arg){
                if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                    this.calendarEvents.push({ // add new event data
                        title: 'New Event',
                        start: arg.date,
                        allDay: arg.allDay
                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>