<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('job-openings', { stay: checked, route:'job_opening.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'job_openings' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Job Opening</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn">Save</b-button>
                            </b-overlay>
                        </b-col>
                    </b-row>
                     <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Posting Title</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="name" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="name"
                                    name="name"
                                    placeholder="Posting Title"
                                    v-model="$v.form.name.$model"
                                    :state="stateValidation('name')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Number of Positions</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="manpower_required" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="manpower_required"
                                    name="manpower_required"
                                    placeholder="Number of Positions"
                                    v-model="$v.form.manpower_required.$model"
                                    :state="stateValidation('manpower_required')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Title</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="designation_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="designation_id"
                                    name="designation_id"
                                    v-model="$v.form.designation_id.$model"
                                    :options="designation_id"
                                    :state="stateValidation('designation_id')"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Assigned Recruiters</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="assigned_recruiter" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="assigned_recruiter"
                                    name="assigned_recruiter"
                                    v-model="$v.form.assigned_recruiter.$model"
                                    :options="assigned_recruiter"
                                    :state="stateValidation('assigned_recruiter')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Target Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="target_date"
                                    v-model="$v.form.target_date.$model"
                                    :state="stateValidation('target_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Opening Status</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="job_opening_status" label-for="example-input-1">
                                <b-form-select
                                    id="job_opening_status" style="border-left: solid 1.5px #ec0000"
                                    name="job_opening_status"
                                    v-model="$v.form.job_opening_status.$model"
                                    :state="stateValidation('job_opening_status')"
                                    :options="job_opening_status"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Expected Salary</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="expected_salary" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="expected_salary"
                                    name="expected_salary"
                                    placeholder="Expected Salary"
                                    v-model="$v.form.expected_salary.$model"
                                    :state="stateValidation('expected_salary')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Hiring Manager</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="hiring_manager_id" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="hiring_manager_id"
                                    name="hiring_manager_id"
                                    v-model="$v.form.hiring_manager_id.$model"
                                    :options="hiring_manager_id"
                                    :state="stateValidation('hiring_manager_id')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Opened</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="opened_date" label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="opened_date"
                                    v-model="$v.form.opened_date.$model"
                                    :state="stateValidation('opened_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="job_type" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="job_type"
                                    name="job_type"
                                    v-model="$v.form.job_type.$model"
                                    :options="job_type"
                                    :state="stateValidation('job_type')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Work Experience</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="work_experience" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="work_experience"
                                    name="work_experience"
                                    v-model="$v.form.work_experience.$model"
                                    :options="work_experience"
                                    :state="stateValidation('work_experience')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Add Job Description</b>
                        </b-col>   
                        <b-col md="5 mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="job_description" label="" label-for="job_description">
                                <b-form-textarea
                                        id="job_description"
                                        name="job_description"
                                        placeholder="Enter Job Description"
                                        v-model="form.job_description"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>                               
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Add Requirements</b>
                        </b-col>   
                        <b-col md="5 mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="job_requirements" label="" label-for="job_requirements">
                                <b-form-textarea
                                        id="job_requirements"
                                        name="job_requirements"
                                        v-model="form.job_requirements"
                                        placeholder="Enter a requirements"
                                        rows="3"
                                        max-rows="6">
                                </b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Attachments</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="attachments">
                                <b-form-file id="attachments" v-model="form.attachments" name="attachments"  placeholder="Choose a file or drop it here" drop-placheholder="Drop file here"></b-form-file>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs: [
                   { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Recruitment', active:true },
                    { text: 'Job Openings', href: '#'},
                    { text: 'New', active:true },
                ],
                assigned_recruiter: [
                    { value: null, text: "Select Recruiters" },
                ],
                hiring_manager_id: [
                    { value: null, text: "Select Hiring Manager" },
                ],
                designation_id: [
                    { value: null, text: "Select Designation" },
                ],
                form: {
                    name: '',
                    manpower_required: '',
                    designation_id: null,
                    assigned_recruiter: null,
                    target_date: '',
                    job_opening_status: null,
                    expected_salary: '',
                    hiring_manager_id: null,
                    opened_date: '',
                    job_type: null,
                    work_experience: null,
                    job_description: null,
                    job_requirements: null,
                    attachments: []
                },
                job_opening_status: [{text: 'Select JO Status', value: null},{text: 'In-progress', value: 1},{text: 'Waiting for Approval', value: 2},{text: 'On-Hold', value: 3},{text: 'Filled ', value: 4},{text: 'Cancelled', value: 5},{text: 'Declined', value: 6},{text: 'Inactive', value: 7}],
                job_type: [{text: 'Select Job Type', value: null},{text: 'OJT', value: 1},{text: 'Regular', value: 2},{text: 'Probationary', value: 3},{text: 'Freelance', value: 4},{text: 'Resign', value: 5},{text: 'Terminated', value: 6}],
                work_experience: [{text: 'Select Job Experience', value: null},{text: 'Fresh Grad', value: 1},{text: '1 to 3 years Experience.', value: 2},{text: '3 to 5years Experience.', value: 3}],
                
            };
        },
        mounted(){
            axios.get('job-openings/create').then((response) => {
                let employee_data = response.data.data;
                employee_data.forEach((employee) =>{
                    this.assigned_recruiter.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name']})
                    this.hiring_manager_id.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name']})
                });
                
                let designations = response.data.designation
                designations.forEach((designation) =>{
                    this.designation_id.push({value: designation['id'],text: designation['name']})
                });
            });
        },
        validations: {
            form: {
                manpower_required: { required },
                designation_id: { required },
                assigned_recruiter: { required },
                target_date: { required },
                job_opening_status: { required },
                expected_salary: { required },
                 hiring_manager_id: { required },
                 opened_date: { required },
                 job_type: { required },
                work_experience: { required },
                name: { required }
            }
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>