<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="update">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'job_opening.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Job Opening</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn">Save</b-button>
                            </b-overlay>
                        </b-col>
                    </b-row>
                     <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Posting Title</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="name" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="name"
                                    name="name"
                                    placeholder="Posting Title"
                                    v-model="$v.form.name.$model"
                                    :state="stateValidation('name')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Number of Positions</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="manpower_required" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="manpower_required"
                                    name="manpower_required"
                                    placeholder="Number of Positions"
                                    v-model="$v.form.manpower_required.$model"
                                    :state="stateValidation('manpower_required')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Title</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="designation_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="designation_id"
                                    name="designation_id"
                                    v-model="$v.form.designation_id.$model"
                                    :options="designation_id"
                                    :state="stateValidation('designation_id')"
                                    aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Assigned Recruiters</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="assigned_recruiter" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="assigned_recruiter"
                                    name="assigned_recruiter"
                                    v-model="$v.form.assigned_recruiter.$model"
                                    :options="assigned_recruiter"
                                    :state="stateValidation('assigned_recruiter')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Target Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="target_date"
                                    v-model="$v.form.target_date.$model"
                                    :state="stateValidation('target_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Opening Status</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="job_opening_status" label-for="example-input-1">
                                <b-form-select
                                    id="job_opening_status" style="border-left: solid 1.5px #ec0000"
                                    name="job_opening_status"
                                    v-model="$v.form.job_opening_status.$model"
                                    :state="stateValidation('job_opening_status')"
                                    :options="job_opening_status"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Expected Salary</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="expected_salary" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    id="expected_salary"
                                    name="expected_salary"
                                    placeholder="Expected Salary"
                                    v-model="$v.form.expected_salary.$model"
                                    :state="stateValidation('expected_salary')"
                                    aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Hiring Manager</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="hiring_manager_id" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="hiring_manager_id"
                                    name="hiring_manager_id"
                                    v-model="$v.form.hiring_manager_id.$model"
                                    :options="hiring_manager_id"
                                    :state="stateValidation('hiring_manager_id')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Opened</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="opened_date" label-for="example-input-1">
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    name="opened_date"
                                    v-model="$v.form.opened_date.$model"
                                    :state="stateValidation('opened_date')"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Job Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="job_type" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="job_type"
                                    name="job_type"
                                    v-model="$v.form.job_type.$model"
                                    :options="job_type"
                                    :state="stateValidation('job_type')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Work Experience</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="work_experience" label-for="example-input-1">
                                 <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="work_experience"
                                    name="work_experience"
                                    v-model="$v.form.work_experience.$model"
                                    :options="work_experience"
                                    :state="stateValidation('work_experience')"
                                    aria-describedby="input-2-live-feedback"                                    
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                     <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Add Job Description</b>
                        </b-col>   
                        <b-col md="5 mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="job_description" label="" label-for="job_description">
                                <b-form-textarea
                                        id="job_description"
                                        name="job_description"
                                        placeholder="Enter Job Description"
                                        v-model="form.job_description"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>                               
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Add Requirements</b>
                        </b-col>   
                        <b-col md="5 mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                            <b-form-group id="job_requirements" label="" label-for="job_requirements">
                                <b-form-textarea
                                        id="job_requirements"
                                        name="job_requirements"
                                        v-model="form.job_requirements"
                                        placeholder="Enter a requirements"
                                        rows="3"
                                        no-resize>
                                </b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Attachments</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="attachments">
                                <b-form-file id="attachments" v-model="form.attachments" name="attachments"  placeholder="Choose a file or drop it here" drop-placheholder="Drop file here"></b-form-file>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs: [
                   { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Recruitment', active: true },
                    { text: 'Job Openings', href: '#'},
                    { text: 'Edit', active: true },
                ],
                assigned_recruiter: [
                    { value: null, text: "Select Recruiters" },
                ],
                hiring_manager_id: [
                    { value: null, text: "Select Hiring Manager" },
                ],
                designation_id: [
                    { value: null, text: "Select Designation" },
                ],
                form: {
                    name: '',
                    manpower_required: '',
                    designation_id: null,
                    assigned_recruiter: null,
                    target_date: '',
                    job_opening_status: null,
                    expected_salary: '',
                    hiring_manager_id: null,
                    opened_date: '',
                    job_type: null,
                    work_experience: null,
                    job_description: null,
                    job_requirements: null,
                    attachments: []
                },
                job_opening_status: [{text: 'Select JO Status', value: null},{text: 'In-progress', value: 1},{text: 'Waiting for Approval', value: 2},{text: 'On-Hold', value: 3},{text: 'Filled ', value: 4},{text: 'Cancelled', value: 5},{text: 'Declined', value: 6},{text: 'Inactive', value: 7}],
                job_type: [{text: 'Select Job Type', value: null},{text: 'OJT', value: 1},{text: 'Regular', value: 2},{text: 'Probationary', value: 3},{text: 'Freelance', value: 4},{text: 'Resign', value: 5},{text: 'Terminated', value: 6}],
                work_experience: [{text: 'Select Job Experience', value: null},{text: 'Fresh Grad', value: 1},{text: '1 to 3 years Experience.', value: 2},{text: '3 to 5years Experience.', value: 3}],
                
            };
        },
        validations: {
            form: {
                manpower_required: { required },
                designation_id: { required },
                assigned_recruiter: { required },
                target_date: { required },
                job_opening_status: { required },
                expected_salary: { required },
                hiring_manager_id: { required },
                opened_date: { required },
                job_type: { required },
                work_experience: { required },
                name: { required }
            }
        },
        mounted(){
            axios.get('job-openings/'+ this.$route.params.id + '/edit').then((response) => {
                let data = response.data
                this.form.name = data.job_openings.name
                this.form.manpower_required = data.job_openings.manpower_required
                this.form.designation_id = data.job_openings.designation.id
                this.form.assigned_recruiter = data.job_openings.assigned_recruiter.id
                console.log(data.job_openings.target_date)
                this.form.target_date = data.job_openings.edit_target_date
                this.form.job_opening_status = data.job_openings.job_opening_status
                this.form.expected_salary = data.job_openings.expected_salary
                this.form.hiring_manager_id = data.job_openings.hiring_manager.id
                this.form.opened_date = data.job_openings.edit_opened_date
                this.form.job_type = data.job_openings.job_type
                this.form.work_experience = data.job_openings.work_experience
                this.form.job_description = data.job_openings.job_description == null ? 'N/A' : data.job_openings.job_description
                this.form.job_requirements = data.job_openings.job_requirements == null ? 'N/A' : data.job_openings.job_requirements
                for (let designation of response.data.designation){
                    this.designation_id.push({
                        value: designation.id,  
                        text: designation.name
                    });
                }
                for (let recruiter of response.data.employees){
                    this.assigned_recruiter.push({
                        value: recruiter.id,  
                        text: recruiter.first_name + ' ' + recruiter.last_name
                    });
                }
                for (let manager of response.data.employees){
                    this.hiring_manager_id.push({
                        value: manager.id,  
                        text: manager.first_name + ' ' + manager.last_name
                    });
                }
                // let employee_data = response.data.data;
                // employee_data.forEach((employee) =>{
                //     this.assigned_recruiter.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name']})
                //     this.hiring_manager_id.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name']})
                // });
                
                // let designations = response.data.designation
                // designations.forEach((designation) =>{
                //     this.designation_id.push({value: designation['id'],text: designation['name']})
                // });
            });
        },
        
        methods: {
            update(){
                this.$v.form.$touch();
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                } else {
                    let form_data = new FormData();
                    form_data.append("_method", "PUT");
                    form_data.append("name", this.form.name);
                    form_data.append("manpower_required", this.form.manpower_required);
                    form_data.append("designation_id", this.form.designation_id);
                    form_data.append("assigned_recruiter", this.form.assigned_recruiter);
                    form_data.append("target_date", this.form.target_date);
                    form_data.append("job_opening_status", this.form.job_opening_status);
                    form_data.append("expected_salary", this.form.expected_salary);
                    form_data.append("hiring_manager_id", this.form.hiring_manager_id);
                    form_data.append("opened_date", this.form.opened_date);
                    form_data.append("job_type", this.form.job_type);
                    form_data.append("work_experience", this.form.work_experience);
                    form_data.append("job_requirements", this.form.job_requirements);

                    axios.post('job-openings/'+this.$route.params.id,form_data).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                            this.makeToast('Success','Successfully Edited','success')
                            if(this.checked == false){
                                this.$router.push({
                                    name: 'job_opening.view'
                                });
                            }
                            
                        }                       
                    })
                }  
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>