<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24"> 
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'job_openings'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Job Opening Information</span>
                    </b-col>
                    <b-col md="6" class=" align-right">
                        <router-link :to="{ name:'job_openings.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary mr-05 btn-size"> Edit</b-button>
                        </router-link>
                        <!-- <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button> -->
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'job_opening.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'job_opening.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="6">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Posting Title</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Number of Positions</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.manpower_required }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Title</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.designations }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Assigned Recruiter(s)</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.recruiter }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Target Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.target_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Job Opening Status</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ (JobOpeningData.job_opening_status == 1?'In-progress':(JobOpeningData.job_opening_status == 2?'Waiting for Approval':(JobOpeningData.job_opening_status == 3?'On-Hold':(JobOpeningData.job_opening_status == 4?'Filled':(JobOpeningData.job_opening_status == 5?'Cancelled':(JobOpeningData.job_opening_status == 6?'Declined':'Inactive')))))) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Industry</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.department }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Salary</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">₱ {{ JobOpeningData.expected_salary }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Hiring Manager</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.hiring }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label>Job Opening ID</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">ZR_2_JOB{{ JobOpeningData.id }}</label>
                            </b-col>
                        </b-row>                    
                    </b-col>
                    <b-col md="6">                        
                        <b-row>
                            <b-col offset-md="1" md="11">
                                <ApprovalStatus :data="approveData"></ApprovalStatus>
                            </b-col>
                        </b-row>
                        <p></p>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Department Name</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.department }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Created By</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fw-bold">N/A</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date Opened</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.opened_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Job Type</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ (JobOpeningData.job_type == 1?'OJT':(JobOpeningData.job_type == 2?'Regular':(JobOpeningData.job_type == 3?'Probationary':(JobOpeningData.job_type == 4?'Freelance':(JobOpeningData.job_type == 5?'Resign':'Terminated'))))) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Work Experience</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ (JobOpeningData.work_experience == 1?'Fresh Grad':(JobOpeningData.work_experience == 2?'1 to 3 years Experience':'3 to 5years Experience')) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Job Description</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.job_description == null ? 'N/A' : JobOpeningData.job_description }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Requirements</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold">{{ JobOpeningData.job_requirements == null ? 'N/A' : JobOpeningData.job_requirements }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Modified By</label>
                            </b-col>
                            <b-col md="8" class="form-group align-left">
                                <label class="fw-bold" style="margin: 0;">N/A</label><br>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row class="mt-50">
                    <b-col md="6">
                        <label class="hr-title">Interviews</label>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <label class="fs-18 fw-600" style="color: rgb(0, 128, 255); cursor: pointer;"><i class="fa fa-plus" style="color: rgb(0, 128, 255); font-size: 14px;"></i> Schedule Interviews</label>
                        <b-icon icon="chevron-down" class="hr-default-color attach-chevron"></b-icon>
                    </b-col>                   
                </b-row>
                <hr class="hr-view">
                <vuetable ref="vuetable" :fields="interviewHeader" :data="interviews" class="table-overflow" :api-mode="false" :data-manager="dataManagerInterview" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                </vuetable>
                <b-row class="mt-50">
                    <b-col md="6">
                        <label class="hr-title">Candidates</label>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <label class="fs-18 fw-600" style="color: rgb(0, 128, 255); cursor: pointer;"><i class="fa fa-plus" style="color: rgb(0, 128, 255); font-size: 14px;"></i> Associate Candidates</label>
                        <b-icon icon="chevron-down" class="hr-default-color attach-chevron"></b-icon>
                    </b-col>                   
                </b-row>
                <hr class="hr-view">               
                <vuetable ref="vuetable" :fields="candidatesHeader" :data="candidates" :api-mode="false" class="table-overflow" :data-manager="dataManagerCandidate" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                </vuetable>
                <b-row class="mt-50">
                    <b-col md="6">
                        <label class="hr-title">Attachments</label>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <label class="fs-18 fw-600" style="color: rgb(0, 128, 255); cursor: pointer;"><i class="fa fa-plus" style="color: rgb(0, 128, 255); font-size: 14px;"></i> Attach</label>
                        <b-icon icon="chevron-down" class="hr-default-color attach-chevron"></b-icon>
                    </b-col>                   
                </b-row>
                <hr class="hr-view">
                <vuetable ref="vuetable" :fields="attachments" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" >
                </vuetable>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        components: {
            Vuetable, ApprovalStatus, Approval
        },
         mixins: [formMixins,modalMixins],
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Job Openings', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                JobOpeningData: [],
                DeleteData: [],
                candidates: [],
                interviews: [],
                TimelineData: [],
                history_logs: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Job Opening'
                },
                attachments: [
                    {
                        name: 'attachments',
                        title: 'File Name',
                        sortField: 'attachments',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'created_at',
                        title: 'Date Added',
                        sortField: 'created_at',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
                candidatesHeader: [
                    {
                        name: 'name',
                        title: 'Name',
                        sortField: 'name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'contact_number',
                        title: 'Contact Number',
                        sortField: 'contact_number',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'email',
                        title: 'Email',
                        sortField: 'email',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'address',
                        title: 'Address',
                        sortField: 'address',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
                interviewHeader: [
                    {
                        name: 'interview_type_name',
                        title: 'Interview Type',
                        sortField: 'interview_type_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'interview_from',
                        title: 'Interview From',
                        sortField: 'interview_from',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'interview_to',
                        title: 'Interview To',
                        sortField: 'interview_to',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'candidate_name',
                        title: 'Candidate Name',
                        sortField: 'candidate_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'interviewer_name',
                        title: 'Interview Name',
                        sortField: 'interviewer_name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'comments',
                        title: 'Comment',
                        sortField: 'comments',
                        formatter: (value) => {
                            return value
                        }
                    }
                ]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('job-openings/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.JobOpeningData = data
                this.history_logs = response.data.history_logs
                this.JobOpeningData.hiring = response.data.data.hiring_manager.first_name+' '+response.data.data.hiring_manager.last_name
                for (const x in response.data.data.candidates){
                    this.candidates.push({name: response.data.data.candidates[x]['name'],contact_number: response.data.data.candidates[x]['contact_number'],email: response.data.data.candidates[x]['email'],address: response.data.data.candidates[x]['address']})
                }
                for (const x in response.data.data.interviews){
                    this.interviews.push({interview_type_name: response.data.data.interviews[x]['interview_type_name'],interview_from: response.data.data.interviews[x]['interview_from'],interview_to: response.data.data.interviews[x]['interview_to'],candidate_name: response.data.data.interviews[x]['candidate_name'],interviewer_name: response.data.data.interviews[x]['interviewer_name'],comments: response.data.data.interviews[x]['comments']})
                }
                this.DeleteData = {value:this.$route.params.id,route:'job-openings/',route2:'job_openings',data:this.JobOpeningData.name}
                this.JobOpeningData.recruiter = response.data.data.assigned_recruiter.first_name+' '+response.data.data.assigned_recruiter.last_name
                this.JobOpeningData.designations = response.data.data.designation.name
                this.JobOpeningData.department = response.data.data.designation.department_name
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'job_opening.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
        },
        methods: {
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            dataManagerInterview(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            dataManagerCandidate(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>