<template>
    <b-form class="form-group">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <h3 style="margin-top: 20px">All Reports</h3>
        <hr>
        <b-row>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_employee'}">
                <div class="card">
                    <div class="image">
                        <img src="@/images/employee_reports.jpg">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Employee Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the total employee remaining and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_leave'}">
                    <div class="card">
                        <div class="image">
                            <img :src="require(`@/images/leave_reports.jpg`)">
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h6 class="h6-reports">Leave Reports</h6>
                            </div>
                            <div class="content_report">
                                <p>Track the total leaves remaining and project the likelihood of achieving the sprint goal.</p>
                            </div>
                        </div>
                    </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_overtime'}">
                    <div class="card">
                        <div class="image">
                            <img :src="require(`@/images/overtime_reports.jpg`)">
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h6 class="h6-reports">Overtime Reports</h6>
                            </div>
                            <div class="content_report">
                                <p>Track the total overtime remaining and project the likelihood of achieving the sprint goal.</p>
                            </div>
                        </div>
                    </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_attendance'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/attendance_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Attendance Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the total attendance remaining and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_birthday'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/birthday_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Birthday Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the birthday of employees and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_timesheet'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/timesheet_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Timesheet Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the total timesheet of employees and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_exit'}">
                    <div class="card">
                        <div class="image">
                            <img :src="require(`@/images/employee_exits_reports.jpg`)">
                        </div>
                        <div class="card-inner">
                            <div class="header">
                                <h6 class="h6-reports">Employee Exit Reports</h6>
                            </div>
                            <div class="content_report">
                                <p>Track the total Employee Exit remaining and project the likelihood of achieving the sprint goal.</p>
                            </div>
                        </div>
                    </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_schedule'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/shift_schedule_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Shift Schedule Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the total Shift Schedule remaining and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_payroll'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/payroll_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Payroll Reports</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the total Payroll and project the likelihood of achieving the sprint goal.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_payroll'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/payroll_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">Mandated Deductions Report</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the government mandated deductions of each employees.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
            <b-col md="3">
                <router-link :to="{name:'human_resource.reports_payroll'}">
                <div class="card">
                    <div class="image">
                        <img :src="require(`@/images/payroll_reports.jpg`)">
                    </div>
                    <div class="card-inner">
                        <div class="header">
                            <h6 class="h6-reports">13th month Report</h6>
                        </div>
                        <div class="content_report">
                            <p>Track the government mandated deductions of each employees.</p>
                        </div>
                    </div>
                </div>
                </router-link>
            </b-col>
        </b-row>
    </b-form>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        name: "List",
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'List', active: true },
                ]
            }
        },
    }
</script>
<style scoped>
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
  width:100%;
}
.h6-reports {
    color: #007bff;
    font-weight: 600;
}
a:hover {
    text-decoration: none;
}
.content_report {
    color: #707070;
}
</style>