<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Assets Reports Details</span>
            </b-col>
            <b-col md="6">
                <div class="text-right">
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item @click.stop.prevent="exportToCSV">Export Data</b-dropdown-item>

                    </b-dropdown>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Inventory Name</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    v-model="form.inventory_id"
                                    :options="inventory"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Status</b>
                    </b-col>   
                    <b-col sm="12" md="8" lg="2">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="year"
                                    name="year"
                                    v-model="form.status"
                                    :options="status"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="2">
                        <b-button class="btn-hr-primary btn-size mr-05" @click="search"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <vuetable 
                    ref="vuetable" 
                    class="table-overflow"
                    :fields="fields" 
                    pagination-path="pagination"
                    @vuetable:pagination-data="onPaginationData"
                    :api-mode="false"
                    :data-manager="dataManager"
                    :css="css.table"
            >
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </div>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import Vuetable from 'vuetable-2'
    import axios from 'axios'
    import { mapActions } from 'vuex'
import moment from 'moment'

    export default {
        name: "List",
        components: {
            VuetablePagination,
            Vuetable
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    {
                        name: 'name',
                        title: 'Name',
                        sortField: 'name'
                    },
                    {
                        name: 'asset_tag',
                        title: 'Asset Tag',
                        sortField: 'asset_tag'
                    },
                    {
                        name: 'serial_number',
                        title: 'Serial Number',
                        sortField: 'serial_number'
                    },
                    {
                        name: 'date_added',
                        title: 'Date Added',
                        sortField: 'date_added',
                    },
                    {
                        name: 'assigned_to',
                        title: 'Assigned To',
                        sortField: 'assigned_to',
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                    }
                ],
                items: [],
                inventory: [
                    { value: null, text: "Select All Inventory" }
                ],
                status: [
                    { value: null, text: "Select All Status" },
                    { value: 1, text: "Used" },
                    { value: 2, text: "New" },
                    { value: 3, text: "Damaged" },
                ],
                form: {
                    inventory_id: null,
                    status: null,
                },
                perPage: 10,
                all_employees: [],
            }
        },
        mounted() {
            this.fetchLoader(true);
            axios.get('asset-inventory').then(response => {
                response.data.forEach(item => {
                    this.inventory.push({
                        value: item.id,
                        text: item.inventory_description_data.description
                    })
                })
            });
            this.fetchLoader(false)
        },
        watch: {
            items(){
                this.$refs.vuetable.refresh();
            }
        }, 
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            search() {
                this.fetchLoader(true);
                axios.get('reports', {
                    params: {
                        module: 'assets',
                        inventory_id: this.form.inventory_id,
                        status: this.form.status,
                    }
                }).then(response => {
                    console.log(response)
                    let data = []
                    let status = ["", "Used", "New", "Damaged"]
                    for (let value of response.data){
                        let latest = {
                            id: value['id'],
                            name: value['inventory_data']['inventory_description_data']['description'],
                            asset_tag: value['job_details'],
                            serial_number: value['serial_model_no'],
                            date_added: moment(value['created_at']).format('MMMM Do YYYY'),
                            assigned_to: value['assigned_to'],
                            status: status[value['asset_status']]
                        }
                        data.push(latest)
                    }
                    if(data.length > 0){
                        this.items = data;
                    } else{
                        this.makeToast('','No Data Retrieved with provided filter. Showing All Employees','danger');
                        this.items = this.all_employees;
                    }
                }).finally(()=>{
                    this.fetchLoader(false)
                })
            },
            dataManager(sortOrder,pagination){
                if (this.items.length < 1) return;

                let local = this.items;

                if (sortOrder.length > 0){
                    //console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            exportToCSV() {
                this.fetchLoader(true);
                axios.get('reports/export', {
                    params: {
                        module: 'assets',
                        type: 'CSV',
                        inventory_id: this.form.inventory_id,
                        status: this.form.status
                    }
                }).then(response => {
                    var a = document.createElement("a"); //Create <a>
                        a.href = response.data.data; //Image Base64 Goes here
                        a.download = response.data.fileName; //File name Here
                        a.click(); //Downloaded file
                    this.fetchLoader(false);
                })
                .finally(()=>{
                    this.fetchLoader(false)
                })
            }
        }
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>