<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <loading-overlay :active="isLoading" :is-full-page="fullPage" :loader="loader" :color="color" :width="width" :height="height" />
          <div class="row mt-30">
            <router-link :to="{name:'employees'}" ><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
              <div class="col text-left"><h5 class="form-head">{{ (this.summary ? 'Employee Summary' : 'Create Employees') }}</h5></div>
              <template v-if="!this.summary">
                    <div  :class="{ 'no-display' : tabIndex === 0 }" style="margin-right: 3px">
                        <b-button @click.prevent="previousTab" class="hr-btn">Previous</b-button>&nbsp;
                    </div>
                    <div >
                        <b-button @click.prevent="nextTab" class="hr-btn">Next</b-button>
                    </div>
              </template>  
              <template v-else>
                  <div style="margin-right: 3px">
                      <b-button @click.prevent="backToTabs" class="hr-btn"  >Back</b-button>
                  </div>
                  <div>
                      <b-overlay
                              :show="is_saving"
                              rounded
                              opacity="0.6"
                              spinner-small
                              spinner-variant="primary"
                              class="d-inline-block"
                      >
                        <b-button class="hr-btn" @click.prevent="saveEmployee" >Save</b-button>
                      </b-overlay>
                  </div>

              </template>
              <!--<div class="col text-right"><b-button class="hr-btn"> Save</b-button></div>-->
          </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <b-form :class="{ 'no-display' : this.summary }">
                    <form-wizard @on-complete="onComplete"
                                 @on-loading="setLoading"
                                 @on-validate="handleValidation"
                                 @on-error="handleError"
                                 shape="tab"
                                 color="#55C755"
                                 error-color="#dc3545"
                                 ref="wizard">
                        <template slot="step" slot-scope="props">
                            <wizard-step :tab="props.tab"
                                         :transition="props.transition"
                                         :key="props.tab.title"
                                         :index="props.index">
                            </wizard-step>
                        </template>
                        <tab-content title="Personal Information" icon="fa fa-user" :before-change="validateAsync">


                            <upload-image v-on:newImage="imageChanged" v-on:oldImage="setDefaultImage"/>
                            <div class="row pt-1rm">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">First Name</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="full-name">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="full-name"
                                                v-model="$v.form.first_name.$model"
                                                :state="validateState('first_name',$v.form)"
                                                required
                                                placeholder="Enter First Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-14">
                                    <b class="drkgry-color">Middle Name</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                <div align="right">
                                    <span class="fs-12">(optional)</span>
                                </div>
                                    <b-form-group id="input-group-2" label-for="middle-name">
                                        <b-form-input
                                                id="middle-name"
                                                v-model="form.middle_name"
                                                placeholder="Enter Middle Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Last Name</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-3" label-for="last-name">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="last-name"
                                                v-model="$v.form.last_name.$model"
                                                :state="validateState('last_name',$v.form)"
                                                required
                                                placeholder="Enter Last Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Gender</b>
                                </div>
                                <b-form-group class="pt-9 pl-1rm">
                                    <b-form-radio-group
                                            v-model="$v.form.gender.$model"
                                            :state="validateState('gender',$v.form)"
                                            :options="gender" class="drkgry-color"
                                            name="radio-inline"
                                    ></b-form-radio-group>
                                </b-form-group>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Birth date</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="birth_date">
                                        <b-form-datepicker 
                                            id="birth_date" 
                                            style="border-left: solid 1.5px #ec0000" 
                                            v-model="$v.form.birth_date.$model"
                                            :state="validateState('birth_date',$v.form)"
                                            :show-decade-nav="showDecNav"
                                            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Current Address</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-4" label-for="current-address">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="current-address"
                                                v-model="$v.form.current_address.$model"
                                                :state="validateState('current_address',$v.form)"
                                                placeholder="Enter you current address"
                                                v-on:keyup="changePermanent"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Permanent Address</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-5" label-for="permanent-address">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="permanent-address"
                                                v-model="$v.form.permanent_address.$model"
                                                :state="validateState('permanent_address',$v.form)"
                                                placeholder="Enter your permanent address"
                                                :disabled="same_address"
                                        ></b-form-input>
                                        <div>
                                            <b-form-checkbox size="sm drkgry-color" style="font-weight: normal" v-on:change="sameCurrent($event)">Same as current address</b-form-checkbox>
                                        </div>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Martial Status</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-6" label-for="martial-status">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="martial-status"
                                                v-model="$v.form.marital_status.$model"
                                                :state="validateState('marital_status',$v.form)"
                                                :options="marital_status"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                        </tab-content>

                        <tab-content title="Contact Details" icon="fa fa-phone" :before-change="validateAsync2">

                            <div class="row pt-1rm">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Email</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="email">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="email"
                                        v-model="$v.form2.email.$model"
                                        :state="validateState('email',$v.form2)"
                                        placeholder="Enter Email"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Phone Number</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="phone-number">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="phone-number"
                                                v-model="$v.form2.phone_number.$model"
                                                :state="validateState('phone_number',$v.form2)"
                                                placeholder="Enter Phone Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Telephone Number</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                    <div align="right">
                                        <span class="drkgry-color fs-12" style="font-weight: normal;">(optional)</span>
                                    </div>
                                    <b-form-group id="input-group-2" label-for="telephone-number">
                                        <b-form-input
                                                id="telephone-number"
                                                v-model="form2.telephone_number"
                                                required
                                                placeholder="Enter Telephone Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Work Phone</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                    <div align="right">
                                        <span class="drkgry-color fs-12" style="font-weight: normal;">(optional)</span>
                                    </div>
                                    <b-form-group id="input-group-2" label-for="work-phone">
                                        <b-form-input
                                                id="work-phone"
                                                v-model="form2.work_phone"
                                                required
                                                placeholder="Enter Work Phone"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Emergency Contact Person</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="contact-person">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="contact-person"
                                                v-model="$v.form2.emergency_contact.$model"
                                                :state="validateState('emergency_contact',$v.form2)"
                                                placeholder="Full Name - Relation"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Emergency Contact Number</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="contact-number">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="contact-number"
                                                v-model="$v.form2.emergency_contact_number.$model"
                                                :state="validateState('emergency_contact_number',$v.form2)"
                                                placeholder="Enter Contact Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                        </tab-content>

                        <tab-content title="Employment Details" icon="fa fa-briefcase" :before-change="validateAsync3">
                            <!--<div class="row pt-1rm">-->
                                <!--<div class="col-md-4 text-right pt-9">-->
                                    <!--<b class="drkgry-color">Employee ID</b>-->
                                <!--</div>-->
                                <!--<div class="col-md-5">-->
                                    <!--<b-form-group id="input-group-2" label-for="employee-id">-->
                                        <!--<b-form-input-->
                                                <!--id="employee-id"-->
                                                <!--v-model="form.employee_id"-->
                                                <!--required-->
                                                <!--placeholder="Enter Employee ID"-->
                                        <!--&gt;</b-form-input>-->
                                    <!--</b-form-group>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Designation</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="designation">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="designation"
                                                v-model="$v.form3.designation_id.$model"
                                                :state="validateState('designation_id',$v.form3)"
                                                :options="departments"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee Type</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="employee-type">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="employee-type"
                                                v-model="$v.form3.employee_type_id.$model"
                                                :state="validateState('employee_type_id',$v.form3)"
                                                :options="employee_types"
                                                required
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee Status</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="employee-status">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="employee-status"
                                                v-model="$v.form3.employee_status.$model"
                                                :state="validateState('employee_status',$v.form3)"
                                                :options="employee_statuses"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Date Joined</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="date-joined">
                                        <b-form-datepicker 
                                            id="date-joined" 
                                            style="border-left: solid 1.5px #ec0000"
                                            v-model="$v.form3.joined_date.$model"
                                            :state="validateState('joined_date',$v.form3)"
                                            :show-decade-nav="showDecNav"
                                            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                            ></b-form-datepicker>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Source of Hire</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="source-of-hire">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="source-of-hire"
                                                v-model="$v.form3.source_of_hire.$model"
                                                :state="validateState('source_of_hire',$v.form3)"
                                                :options="hire_sources"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                        </tab-content>

                        <tab-content title="User Credentials" icon="fa fa-user" :before-change="validateAsync4">
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Account Email</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input id="" style="border-left: solid 1.5px #ec0000"
                                                           v-model="$v.form_user.acct_email.$model"
                                                           :state="validateState('acct_email',$v.form_user)"
                                                           placeholder="Enter Account Email"></b-form-input>
                                        <div>
                                            <b-form-checkbox v-on:change="sameEmail($event)" size="sm drkgry-color" style="font-weight: normal" >Same as email address</b-form-checkbox>
                                        </div>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee No.</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="employee_no"
                                            v-model="$v.form_user.employee_no.$model"
                                            :state="validateState('employee_no',$v.form_user)"
                                            placeholder="Enter Employee No"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Username</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-3" label-for="input-3">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="username"
                                            v-model="$v.form_user.username.$model"
                                            :state="validateState('username',$v.form_user)"
                                            placeholder="Enter Username"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="default-color">Password</b>
                                </div>   
                                <div class="col-md-5">
                                    <b-form-group id="input-group-3" label-for="input-3">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="password"
                                                autocomplete="new-password"
                                                :type="passwordFieldType"
                                                v-model="$v.form_user.password.$model"
                                                :state="validateState('password',$v.form_user)"
                                                placeholder="Set Password"
                                        ></b-form-input>
                                        
                                    </b-form-group>
                                    <span toggle="#password-field" @click="showHide" class="fa fa-fw fa-eye field-icon "></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Role</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                v-model="$v.form_user.role.$model"
                                                :state="validateState('role',$v.form_user)"
                                                :options="roles" id=""></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Permission</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                v-model="$v.form_user.permission.$model"
                                                :state="validateState('permission',$v.form_user)"
                                                :options="permissions" id=""></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">

                                </div>
                                <div class="col-md-5">
                                    <b-form-checkbox v-b-popover.hover.top="'Send an email to the user you have just created, which will allow them to set up their acount password.'"
                                            id="checkbox-1"
                                            v-model="form_user.send_notification"
                                            name="checkbox-1"
                                            value="1"
                                            unchecked-value="0"
                                    >
                                        Send email invitation to employee
                                    </b-form-checkbox>
                                </div>
                            </div>
                        </tab-content>
                    </form-wizard>
                </b-form>

                <employee-summary :form="form" :form2="form2" :form3="form3" :genders="gender" :maritals="marital_status" :educational_backgrounds="educational_backgrounds" :work_details="work_details" :departments="departments" :employee_types="employee_types" :employee_status="employee_statuses" :hire_sources="hire_sources" :class="{ 'no-display' : !this.summary }"/>
            </div>
        </div>
    </div>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { FormWizard, TabContent, WizardStep } from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import EmployeeSummary from './EmployeeSummary'
    import UploadImage from './UploadImage'

    export default {
        mixins: [validationMixin,formMixins],
        mounted(){
            axios.get('employees/create').then((response) => {
                this.employeeid = response.data.count;
                let departments_data = response.data.departments;
                departments_data.forEach((department) =>{
                    let department_object = {
                        label: department.name,
                        options: []
                    };
                    let designations_data = department.designations;
                    designations_data.forEach((designation) =>{
                        let designation_object = {
                            value: designation.id,
                            text: designation.name
                        }
                        department_object.options.push(designation_object)
                    });
                    this.departments.push(department_object)
                });

                let roles_data = response.data.roles;
                roles_data.forEach((role) =>{
                    let role_object = {
                        value: role.id,
                        text: role.role_name
                    }
                    this.roles.push(role_object)
                });
               
               
                let permissions_data = response.data.permissions;
                permissions_data.forEach((permission) =>{
                   let permission_object = {
                        value: permission.id,
                        text: permission.permission_name
                    }
                    this.permissions.push(permission_object)
                });
                
                let employee_types_data = response.data.employee_types;
                employee_types_data.forEach((type) =>{
                   let type_object = {
                        value: type.id,
                        text: type.name
                    }
                    this.employee_types.push(type_object)
                });
            })
        },
        data(){
            return {
                image: null,
                is_saving: false,
                defaultImage: null,
                tabIndex:0,
                educational_backgrounds: [],
                work_details: [],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employees', href: '#' },
                    { text: 'New', active: true},
                ], 
                form: {
                    image: null,
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    birth_date: '',
                    current_address: '',
                    permanent_address: '',
                    marital_status: null,
                    gender: '' 
                },
                form2: {
                    email: '',
                    phone_number: '',
                    telephone_number: '',
                    work_phone: '',
                    emergency_contact: '',
                    emergency_contact_number: ''
                },
                form3: {
                    designation_id: null,
                    employee_type_id: null,
                    employee_status: null,
                    joined_date: '',
                    source_of_hire: null,
                },
                form_user:{
                    acct_email: '',
                    username: null,
                    password: null,
                    role: null,
                    employee_no: null,
                    permission: null,
                    send_notification: '0'
                },
                loadingWizard: false,
                errorMessage: '',
                gender: [
                    { text: 'Male', value: '1'},
                    { text: 'Female', value: '0' }
                ],
                marital_status: [
                    { text: 'Select Marital Status', value: null },
                    { text: 'Single',value: 'Single' },
                    { text: 'Married',value: 'Married' },
                    { text: 'Widowed',value: 'Widowed' },
                    { text: 'Separated',value: 'Separated' },
                ],
                employee_types: [
                    { text: 'Select Employee Type', value: null },
                ],
                employee_statuses: [
                    { value: null, text: 'Select Employee Status' },
                    { value :1, text: 'Active' },
                    { value :2, text: 'Inactive' },
                ],
                hire_sources: [
                    { value: null, text: 'Select Source Hire' },
                    { value :1, text: 'Direct' },
                ],
                departments: [
                    // { value: null, text: "Select Designation" }
                ],
                employeeid: 0,
                roles: [
                    { value: null, text: 'Select Roles'}
                ],
                permissions: [
                    { value: null, text: 'Select Permissions'}
                ],
                same_address: false,
                summary: false,
                showDecNav: true,
                passwordFieldType: 'password',
                show: true,
                isLoading: false,
                fullPage: true,
                loader: "bars",
                color: "#FF0000",
                width: 100,
                height: 100,
            }
        },
        validations: {
            form: {
                first_name: { required },
                last_name: { required },
                birth_date: { required },
                current_address: { required },
                permanent_address: { required },
                marital_status: { required },
                gender: { required },
            },
            form2:{
                email: { required },
                phone_number: { required },
                emergency_contact: { required },
                emergency_contact_number: { required }
            },
            form3: {
                designation_id: { required },
                employee_type_id: { required },
                employee_status: { required },
                joined_date: { required },
                source_of_hire: { required }
            },
            form_user: {
                acct_email: { required },
                username: { required },
                employee_no: { required },
                password: { required },
                permission: { required },
                role: { required }
            }
        },
        components: {
            FormWizard,
            TabContent,
            EmployeeSummary,
            WizardStep,
            UploadImage
        },
        computed:{
            getBenefits:{
                get(){
                    return this.$store.state.appendEvent[0].benefits
                }
            },
        },
        methods: {
            showHide(event){
                if(this.passwordFieldType == 'password') {
                    event.target.className = "fa fa-fw fa-eye fa-eye-slash field-icon";
                }
                else{
                    event.target.className = "fa fa-fw fa-eye field-icon";
                }
                this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
            },
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            },
            onComplete(){
                this.summary  = true
            },
            setLoading: function (value) {
                this.loadingWizard = value
            },
            handleValidation: function () {
            },
            handleError: function (errorMessage) {
                this.makeToast('Oooppps!',errorMessage,'danger')
                this.errorMessage = errorMessage
            },
            validateAsync: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form.$touch();
                    console.log(this.$v.form.gender.$model);
                    if (this.$v.form.$anyError){
                        reject('Fields with red are required')
                    } else{
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            validateAsync2: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form2.$touch();
                    if (this.$v.form2.$anyError){
                        reject('Fields with red are requireds')
                    } else{
                        axios.get(`employees/email-validation/`+this.$v.form2.email.$model).then(response => {
                            if(response.data != 'error'){
                                this.tabIndex++
                                resolve(true)
                            }else{
                                reject('Try Other Email')
                            }
                        });
                    }
                })
            },
            validateAsync3: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form3.$touch();
                    if (this.$v.form3.$anyError){
                        reject('Fields with red are required')
                    } else{
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            validateAsync4: function(){
                return new Promise((resolve,reject) => {
                    this.$v.form_user.$touch()
                    if (this.$v.form_user.$anyError) reject('Fields with red are required')
                    else {
                          axios.get(`employees/employeeno-validation/`+this.$v.form_user.employee_no.$model+'/'+this.$v.form_user.acct_email.$model).then(response => {
                            console.log(response.data);
                            if(response.data == 'no-error'){
                               this.tabIndex++
                                resolve(true)
                            }else{
                                if(response.data == 'no-error-employeno'){
                                    reject('Try Other Employee No')
                                }else{
                                    reject('Try Other Employee Email')

                                }
                            }
                        });
                    }
                })
            },
            sameCurrent(event){
                this.same_address = event;
                if (event) {
                    this.$v.form.permanent_address.$model = this.$v.form.current_address.$model
                }else{
                    this.$v.form.permanent_address.$model = ''
                }
            },
            sameEmail(event){
                if (event) {
                    this.$v.form_user.acct_email.$model = this.$v.form2.email.$model
                }else{
                    this.$v.form_user.acct_email.$model = ''
                }
            },
            changePermanent(){
                if (this.same_address){
                    this.$v.form.permanent_address.$model = this.$v.form.current_address.$model
                }
            },
            nextTab(){
                this.$refs.wizard.nextTab();
            },
            previousTab(){
                this.$refs.wizard.prevTab();
                this.tabIndex--
            },
            saveEmployee(){
                this.isLoading = true
                let form_object = Object.assign(this.form,this.form2,this.form3,this.form_user)
                let form_data = new FormData();

                if(this.getBenefits != undefined && this.getBenefits != null && this.getBenefits.length > 0 ){
                    this.getBenefits.forEach((benefit) => {
                        form_data.append(benefit['title'],'1');
                        console.log(benefit['title']);
                        let myString = benefit['title']
                        let strArray = myString.split('_')
                        for (let value in benefit) {
                            form_data.append(strArray[0] + '_' + value,benefit[value])
                        }
                    })
                    // for (let key in this.getBenefits){
                        
                    // }
                }
               
                //for educational background
                let educational = [];
                if(this.educational_backgrounds.length > 0 ){
                    for (let key in this.educational_backgrounds){
                        educational.push(key)
                        form_data.append('level_'+key,this.educational_backgrounds[key]['level'])
                        form_data.append('school_name_'+key,this.educational_backgrounds[key]['school_name'])
                        form_data.append('start_date_'+key,this.educational_backgrounds[key]['start_date'])
                        form_data.append('end_date_'+key,this.educational_backgrounds[key]['end_date'])
                    }
                    form_data.append('educational',JSON.stringify(educational))
                }
                //for work details
                let work = []
                if(this.work_details.length > 0 ){
                    for (let key in this.work_details) {
                        work.push(key)
                        form_data.append('company_'+key,this.work_details[key]['company'])
                        form_data.append('description_'+key,this.work_details[key]['description'])
                        form_data.append('start_date_'+key,this.work_details[key]['start_date'])
                        form_data.append('end_date_'+key,this.work_details[key]['end_date'])
                    }
                    form_data.append('work_details',JSON.stringify(work))
                }

                for ( let key in form_object ) {
                    form_data.append(key, form_object[key]);
                }
               
                if (this.image != null){
                    form_data.append('image',this.image,this.image.name)
                }
                this.is_saving = true
                try {
                    axios.post('employees',form_data).then((response) => {
                        let data = response.data
                        if (data.error){
                            this.isLoading = false;
                            this.makeToast('Oopps!',data.desc,'danger')

                        } else{
                            this.isLoading = false;
                            this.makeToast('Success','Employee created','success')
                            this.resetForm()
                            this.$router.replace({
                                name: 'employees.view',
                                params: {
                                    id: data.id
                                }
                            })
                        }
                        this.is_saving = false
                    })
                }catch (e) {
                    console.log(e)
                }
            },
            resetForm(){
                this.formReset(this.$v.form)
                this.formReset(this.$v.form2)
                this.formReset(this.$v.form3)
                this.summary = false
                this.$refs.wizard.reset()
                this.tabIndex = 0
                this.image = null
                for (let key in this.getBenefits) {
                    this.removeBenefit(key)
                }
                let image = document.getElementById('im')
                image.src = this.defaultImage
            },
            removeBenefit: function(index){
                let myArray = this.getBenefits
                myArray.splice(index,1)
                console.log(myArray)
            },
            backToTabs(){
                this.summary = false
            },
            imageChanged(value){
                this.form.image = value
                console.log(this.form.image)
                console.log('----------------------')
            },
            setDefaultImage(value){
                this.defaultImage  = value;                
            }
        },
    }   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.field-icon {
  float: right;
  padding-right: 50px;
  margin-top: -42px;
  position: relative;
  z-index: 2;
}
</style>