<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
          <div class="row mt-30">
            <router-link :to="{name:'employees.view'}" ><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
              <div class="col text-left"><h5 class="form-head">{{ (this.summary ? 'Employee Summary' : 'Edit Employees') }}</h5></div>
              <template v-if="!this.summary">
                  <div  :class="{ 'no-display' : tabIndex === 0 }" style="margin-right: 3px">
                      <b-button @click.prevent="previousTab" class="hr-btn">Previous</b-button>&nbsp;
                  </div>
                  <div >
                      <b-button @click.prevent="nextTab" class="hr-btn">Next</b-button>
                  </div>
              </template>  
              <template v-else>
                  <div style="margin-right: 3px">
                      <b-button @click.prevent="backToTabs" class="hr-btn">Back</b-button>
                  </div>
                  <div>
                      <b-overlay
                        :show="is_saving"
                        rounded
                        opacity="0.6"
                        spinner-small
                        spinner-variant="primary"
                        class="d-inline-block">
                        <b-button class="hr-btn" @click.prevent="saveEmployee">Save</b-button>
                      </b-overlay>
                  </div>

              </template>
              <!--<div class="col text-right"><b-button class="hr-btn"> Save</b-button></div>-->
          </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <b-form :class="{ 'no-display' : this.summary }">
                    <form-wizard @on-complete="onComplete"
                                 @on-loading="setLoading"
                                 @on-validate="handleValidation"
                                 @on-error="handleError"
                                 shape="tab"
                                 color="#55C755"
                                 error-color="#dc3545"
                                 ref="wizard">
                        <template slot="step" slot-scope="props">
                            <wizard-step :tab="props.tab"
                                         :transition="props.transition"
                                         :key="props.tab.title"
                                         :index="props.index">
                            </wizard-step>
                        </template>
                        <tab-content title="Personal Information" icon="fa fa-user" :before-change="validateAsync">
                            <div class="form-group col-md-12">
                                <div align="center" >
                                    <img style="border-radius: 50%;width: 140px;height: 140px;" :src="form.image_src"  class="mt-20"  md="12" id="im" name="im"  @click="changeImage">
                                    
                                </div>
                            </div>
                            <div class="row pt-1rm">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">First Name</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="full-name">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="full-name"
                                                v-model="$v.form.first_name.$model"
                                                :state="validateState('first_name',$v.form)"
                                                required
                                                placeholder="Enter First Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-14">
                                    <b class="drkgry-color">Middle Name</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                <div align="right">
                                    <span class="fs-12">(optional)</span>
                                </div>
                                    <b-form-group id="input-group-2" label-for="middle-name">
                                        <b-form-input
                                                id="middle-name"
                                                v-model="form.middle_name"
                                                placeholder="Enter Middle Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Last Name</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-3" label-for="last-name">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="last-name"
                                                v-model="$v.form.last_name.$model"
                                                :state="validateState('last_name',$v.form)"
                                                required
                                                placeholder="Enter Last Name"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Gender</b>
                                </div>
                                <b-form-group class="pt-9 pl-1rm">
                                    <b-form-radio-group
                                            v-model="$v.form.gender.$model"
                                            :state="validateState('gender',$v.form)"
                                            :options="gender" class="drkgry-color"
                                            name="radio-inline"
                                    ></b-form-radio-group>
                                </b-form-group>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Birth date</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="birth_date">
                                        <b-form-datepicker id="birth_date" style="border-left: solid 1.5px #ec0000" v-model="$v.form.birth_date.$model"
                                                           :state="validateState('birth_date',$v.form)"></b-form-datepicker>
                                    </b-form-group>
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Current Address</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-4" label-for="current-address">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="current-address"
                                                v-model="$v.form.current_address.$model"
                                                :state="validateState('current_address',$v.form)"
                                                placeholder="Enter you current address"
                                                v-on:keyup="changePermanent"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Permanent Address</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-5" label-for="permanent-address">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="permanent-address"
                                                v-model="$v.form.permanent_address.$model"
                                                :state="validateState('permanent_address',$v.form)"
                                                placeholder="Enter your permanent address"
                                                :disabled="same_address"
                                        ></b-form-input>
                                        <div>
                                            <b-form-checkbox size="sm drkgry-color" style="font-weight: normal" v-on:change="sameCurrent($event)">Same as current address</b-form-checkbox>
                                        </div>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Martial Status</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-6" label-for="martial-status">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="martial-status"
                                                v-model="$v.form.marital_status.$model"
                                                :state="validateState('marital_status',$v.form)"
                                                :options="marital_status"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee No</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="employee_no"
                                            v-model="$v.form_user.employee_no.$model"
                                            :state="validateState('employee_no',$v.form_user)"
                                            placeholder="Enter Employee No"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                        </tab-content>

                        <tab-content title="Contact Details" icon="fa fa-phone" :before-change="validateAsync2">

                            <div class="row pt-1rm">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Email</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="email">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="email"
                                        v-model="$v.form2.email.$model"
                                        :state="validateState('email',$v.form2)"
                                        placeholder="Enter Email"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Phone Number</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="phone-number">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="phone-number"
                                                v-model="$v.form2.phone_number.$model"
                                                :state="validateState('phone_number',$v.form2)"
                                                placeholder="Enter Phone Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Telephone Number</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                    <div align="right">
                                        <span class="drkgry-color fs-12" style="font-weight: normal;">(optional)</span>
                                    </div>
                                    <b-form-group id="input-group-2" label-for="telephone-number">
                                        <b-form-input
                                                id="telephone-number"
                                                v-model="form2.telephone_number"
                                                required
                                                placeholder="Enter Telephone Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Work Phone</b>
                                </div>
                                <div class="col-md-5 mt-n1rm">
                                    <div align="right">
                                        <span class="drkgry-color fs-12" style="font-weight: normal;">(optional)</span>
                                    </div>
                                    <b-form-group id="input-group-2" label-for="work-phone">
                                        <b-form-input
                                                id="work-phone"
                                                v-model="form2.work_phone"
                                                required
                                                placeholder="Enter Work Phone"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Emergency Contact Person</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-1" label-for="contact-person">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="contact-person"
                                                v-model="$v.form2.emergency_contact.$model"
                                                :state="validateState('emergency_contact',$v.form2)"
                                                placeholder="Enter Contact Person"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Emergency Contact Number</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="contact-number">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                                id="contact-number"
                                                v-model="$v.form2.emergency_contact_number.$model"
                                                :state="validateState('emergency_contact_number',$v.form2)"
                                                placeholder="Enter Contact Number"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>

                        </tab-content>

                        <tab-content title="Employment Details" icon="fa fa-briefcase" :before-change="validateAsync3">
                            <!--<div class="row pt-1rm">-->
                                <!--<div class="col-md-4 text-right pt-9">-->
                                    <!--<b class="drkgry-color">Employee ID</b>-->
                                <!--</div>-->
                                <!--<div class="col-md-5">-->
                                    <!--<b-form-group id="input-group-2" label-for="employee-id">-->
                                        <!--<b-form-input-->
                                                <!--id="employee-id"-->
                                                <!--v-model="form.employee_id"-->
                                                <!--required-->
                                                <!--placeholder="Enter Employee ID"-->
                                        <!--&gt;</b-form-input>-->
                                    <!--</b-form-group>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Designation</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="designation">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="designation"
                                                v-model="$v.form3.designation_id.$model"
                                                :state="validateState('designation_id',$v.form3)"
                                                :options="departments"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee Type</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="employee-type">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="employee-type"
                                                v-model="$v.form3.employee_type_id.$model"
                                                :state="validateState('employee_type_id',$v.form3)"
                                                :options="employee_types"
                                                required
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee Status</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="employee-status">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="employee-status"
                                                v-model="$v.form3.employee_status.$model"
                                                :state="validateState('employee_status',$v.form3)"
                                                :options="employee_statuses"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Date Joined</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="date-joined">
                                        <b-form-datepicker id="date-joined" style="border-left: solid 1.5px #ec0000"
                                                           v-model="$v.form3.joined_date.$model"
                                                           :state="validateState('joined_date',$v.form3)"></b-form-datepicker>
                                    </b-form-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Source of Hire</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group id="input-group-2" label-for="source-of-hire">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                id="source-of-hire"
                                                v-model="$v.form3.source_of_hire.$model"
                                                :state="validateState('source_of_hire',$v.form3)"
                                                :options="hire_sources"
                                        ></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                        </tab-content>

                        <!--<tab-content title="User Credentials" icon="fa fa-user" :before-change="validateAsync4">
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Email</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input id="" style="border-left: solid 1.5px #ec0000"
                                                           v-model="$v.form_user.username.$model"
                                                           :state="validateState('username',$v.form_user)"></b-form-input>
                                        <div>
                                            <b-form-checkbox v-on:change="sameEmail($event)" size="sm drkgry-color" style="font-weight: normal" >Same as email address</b-form-checkbox>
                                        </div>
                                    </b-form-group>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Employee No</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            id="contact-number"
                                            v-model="$v.form_user.employee_no.$model"
                                            :state="validateState('employee_no',$v.form_user)"
                                            placeholder="Enter Employee No"
                                        ></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Full Name</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-input id=""  style="border-left: solid 1.5px #ec0000"
                                        v-model="full_name"></b-form-input>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Role</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                v-model="$v.form_user.role.$model"
                                                :state="validateState('role',$v.form_user)"
                                                :options="roles" id=""></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">
                                    <b class="drkgry-color">Permission</b>
                                </div>
                                <div class="col-md-5">
                                    <b-form-group label="" label-for="">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                                v-model="$v.form_user.permission.$model"
                                                :state="validateState('permission',$v.form_user)"
                                                :options="permissions" id=""></b-form-select>
                                    </b-form-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right pt-9">

                                </div>
                                <div class="col-md-5">
                                    <b-form-checkbox
                                            id="checkbox-1"
                                            v-model="form_user.send_notification"
                                            name="checkbox-1"
                                            value="true"
                                            unchecked-value="false"
                                    >
                                        Send email invitation to employee
                                    </b-form-checkbox>
                                </div>
                            </div>
                        </tab-content>-->
                    </form-wizard>
                </b-form>

                <employee-summary :form="form" :form2="form2" :form3="form3" :genders="gender" :maritals="marital_status" :educational_backgrounds="educational_backgrounds" :work_details="work_details" :departments="departments" :employee_types="employee_types" :employee_status="employee_statuses" :hire_sources="hire_sources" :class="{ 'no-display' : !this.summary }"/>
            </div>
        </div>
    </div>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { FormWizard, TabContent, WizardStep } from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import EmployeeSummary from './EmployeeSummary'
    // import UploadImage from './UploadImage'
    import moment from 'moment'

    export default {
        mixins: [validationMixin,formMixins],
        mounted(){
            
            axios.get('employees/' +this.$route.params.id + '/edit' ).then((response) => {
                console.log(response.data.data)
                let personal_info = response.data.data
                  for (let department of response.data.departments){
                    let department_object = {
                        label: department.name,
                        options: []
                    };
                    for (let designation of department.designations) {
                        let designation_object = {
                            value: designation.id,
                            text: designation.name
                        }
                        department_object.options = department_object.options.concat(designation_object)
                    }
                    this.departments = this.departments.concat(department_object)
                }
                 for (let role of response.data.roles){
                    let role_object = {
                        value: role.id,
                        text: role.role_name
                    }
                    this.roles = this.roles.concat(role_object)
                }
                for (let permission of response.data.permissions){
                    let permission_object = {
                        value: permission.id,
                        text: permission.permission_name
                    }
                    this.permissions = this.permissions.concat(permission_object)
                }
                for (let type of response.data.employee_types){
                    let type_object = {
                        value: type.id,
                        text: type.name
                    }
                    this.employee_types = this.employee_types.concat(type_object)
                }
                this.form.image = (response.data.data.image_src == null?'':response.data.data.image_src);
                this.form.image_src = (response.data.data.image == null?require(`@/images/user.jpg`):response.data.data.image);
                this.form.first_name = personal_info.first_name
                this.form.middle_name = personal_info.middle_name == "null" ? '' : personal_info.middle_name
                this.form.last_name = personal_info.last_name
                this.form.gender = personal_info.gender
                this.form.birth_date = moment(String(personal_info.birth_date)).format('yyyy-MM-D')
                this.form.current_address = personal_info.current_address
                this.form.permanent_address = personal_info.permanent_address
                this.form.marital_status = personal_info.marital_status

                let contact_info = response.data.data.contact_details
                this.form2.email = contact_info.email
                this.form2.phone_number = contact_info.phone_number
                this.form2.telephone_number = contact_info.telephone_number == "null" ? '' : contact_info.telephone_number
                this.form2.work_phone = contact_info.work_phone == "null" ? '' : contact_info.work_phone
                this.form2.emergency_contact = contact_info.emergency_contact
                this.form2.emergency_contact_number = contact_info.emergency_contact_number

                let job_info = response.data.data.job_details
                this.form3.designation_id = job_info.designation_id
                this.form3.employee_type_id = job_info.employees_type.id
                this.form3.employee_status = job_info.employee_status
                this.form3.joined_date = moment(String(job_info.joined_date)).format('yyyy-MM-D')
                this.form3.source_of_hire = job_info.source_hire               

                // let user_access = response.data.data.user_access 
                // this.form_user.username = user_access.get_user.email
                this.form_user.employee_no = personal_info.employee_no
                // this.form_user.role = user_access.role_id
                // this.form_user.permission = user_access.permission_id
                // this.full_name = personal_info.first_name + ' ' + personal_info.last_name

                // this.designation = this.job_info.employee_designation.id
                // this.emp_type = this.job_info.employees_type.id
                // this.birth_date =  moment(String(this.personal_info.birth_date)).format('MMMM DD, YYYY ')
                // this.full_name = this.personal_info.first_name + ' ' + this.personal_info.last_name
               
            })
        },
        data(){
            return {
                // image: null,
                is_saving: false,
                defaultImage: null,
                tabIndex:0,
                educational_backgrounds: [],
                work_details: [],
                full_name: '',
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employees', href: '#' },
                    { text: 'New', active: true
                    },
                ], 
                form: {
                    first_name: '',
                    middle_name: '',
                    last_name: '',
                    birth_date: '',
                    current_address: '',
                    permanent_address: '',
                    marital_status: null,
                    gender: '',
                    image_src: '',
                    image_validation: 0,
                    image: null
                },
                form2: {
                    email: '',
                    phone_number: '',
                    telephone_number: '',
                    work_phone: '',
                    emergency_contact: '',
                    emergency_contact_number: ''
                },
                form3: {
                    designation_id: '',
                    employee_type_id: '',
                    employee_status: null,
                    joined_date: '',
                    source_of_hire: null,
                },
                form_user:{
                    username: '',
                    role: null,
                    employee_no: null,
                    permission: null,
                    send_notification: false
                },
                loadingWizard: false,
                errorMessage: '',
                gender: [
                    { text: 'Male', value: 'male'},
                    { text: 'Female', value: 'female' }
                ],
                marital_status: [
                    { text: 'Select Marital Status', value: null },
                    { text: 'Single',value: 'single' },
                    { text: 'Married',value: 'married' },
                    { text: 'Widowed',value: 'widowed' },
                    { text: 'Separated',value: 'separated' },
                ],
                employee_types: [],
                employee_statuses: [
                    { value: null, text: 'Select Employee Status' },
                    { value :1, text: 'Active' },
                    { value :2, text: 'Inactive' },
                ],
                hire_sources: [
                    { value: null, text: 'Select Source Hire' },
                    { value :1, text: 'Direct' },
                ],
                departments: [],
                roles: [],
                permissions: [],
                same_address: false,
                summary: false,
            }
        },
        validations: {
            form: {
                first_name: { required },
                last_name: { required },
                birth_date: { required },
                current_address: { required },
                permanent_address: { required },
                marital_status: { required },
                gender: { required },
            },
            form2:{
                email: { required },
                phone_number: { required },
                emergency_contact: { required },
                emergency_contact_number: { required }
            },
            form3: {
                designation_id: { required },
                employee_type_id: { required },
                employee_status: { required },
                joined_date: { required },
                source_of_hire: { required }
            },
            form_user: {
                username: { required },
                employee_no: { required },
                permission: { required },
                role: { required }
            }
        },
        components: {
            FormWizard,
            TabContent,
            EmployeeSummary,
            WizardStep,
            // UploadImage
        },
        computed:{
            getBenefits:{
                get(){
                    return this.$store.state.appendEvent[0].benefits
                }
            },
        },
        methods: {
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            },
            onComplete(){
                this.summary  = true
            },
            setLoading: function (value) {
                this.loadingWizard = value
            },
            handleValidation: function () {
            },
            handleError: function (errorMessage) {
                this.makeToast('Oooppps!',errorMessage,'danger')
                this.errorMessage = errorMessage
            },
            validateAsync: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form.$touch();
                    if (this.$v.form.$anyError){
                        reject('Fields with red are required')
                    } else{
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            validateAsync2: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form2.$touch();
                    if (this.$v.form2.$anyError){
                        reject('Fields with red are required')
                    } else{
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            validateAsync3: function () {
                return new Promise((resolve,reject) => {
                    this.$v.form3.$touch();
                    if (this.$v.form3.$anyError){
                        reject('Fields with red are required')
                    } else{
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            validateAsync4: function(){
                return new Promise((resolve,reject) => {
                    this.$v.form_user.$touch()
                    if (this.$v.form_user.$anyError) reject('Fields with red are required')
                    else {
                        this.tabIndex++
                        resolve(true)
                    }
                })
            },
            sameCurrent(event){
                this.same_address = event;
                if (event) {
                    this.$v.form.permanent_address.$model = this.$v.form.current_address.$model
                }else{
                    this.$v.form.permanent_address.$model = ''
                }
            },
            sameEmail(event){
                if (event) {
                    this.$v.form_user.username.$model = this.$v.form2.email.$model
                }else{
                    this.$v.form_user.username.$model = ''
                }
            },
            changePermanent(){
                if (this.same_address){
                    this.$v.form.permanent_address.$model = this.$v.form.current_address.$model
                }
            },
            nextTab(){
                this.$refs.wizard.nextTab();
            },
            previousTab(){
                this.$refs.wizard.prevTab();
                this.tabIndex--
            },
            saveEmployee(){
                let form_object = Object.assign(this.form,this.form2,this.form3,this.form_user)
                let form_data = new FormData();

                if(this.getBenefits != undefined && this.getBenefits != null && this.getBenefits.length > 0 ){
                    this.getBenefits.forEach((benefit) => {
                        form_data.append(benefit['title'],'1');
                        console.log(benefit['title']);
                        let myString = benefit['title']
                        let strArray = myString.split('_')
                        for (let value in benefit) {
                            form_data.append(strArray[0] + '_' + value,benefit[value])
                        }
                    })
                    // for (let key in this.getBenefits){
                        
                    // }
                }
               
                //for educational background
                let educational = [];
                if(this.educational_backgrounds.length > 0 ){
                    for (let key in this.educational_backgrounds){
                        educational.push(key)
                        form_data.append('level_'+key,this.educational_backgrounds[key]['level'])
                        form_data.append('school_name_'+key,this.educational_backgrounds[key]['school_name'])
                        form_data.append('start_date_'+key,this.educational_backgrounds[key]['start_date'])
                        form_data.append('end_date_'+key,this.educational_backgrounds[key]['end_date'])
                    }
                    form_data.append('educational',JSON.stringify(educational))
                }
                //for work details
                let work = []
                if(this.work_details.length > 0 ){
                    for (let key in this.work_details) {
                        work.push(key)
                        form_data.append('company_'+key,this.work_details[key]['company'])
                        form_data.append('description_'+key,this.work_details[key]['description'])
                        form_data.append('start_date_'+key,this.work_details[key]['start_date'])
                        form_data.append('end_date_'+key,this.work_details[key]['end_date'])
                    }
                    form_data.append('work_details',JSON.stringify(work))
                }

                for ( let key in form_object ) {
                    form_data.append(key, form_object[key]);
                }
               
                if (this.image != null){
                    form_data.append('image',this.image,this.image.name)
                }
                this.is_saving = true
                try {
                    form_data.append("_method", "PUT")
                    axios.post('employees/'+ this.$route.params.id ,form_data).then((response) => {
                        
                        let data = response.data
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')

                        } else{
                            this.makeToast('Success','Successfully Edited','success')
                            this.resetForm()
                            this.$router.replace({
                                name: 'employees.view',
                                params: {id: this.$route.params.id}
                            })
                        }
                        this.is_saving = false
                    })
                }catch (e) {
                    console.log(e)
                }
            },
            resetForm(){
                this.formReset(this.$v.form)
                this.formReset(this.$v.form2)
                this.formReset(this.$v.form3)
                this.summary = false
                this.$refs.wizard.reset()
                this.tabIndex = 0
                this.image = null
                for (let key in this.getBenefits) {
                    this.removeBenefit(key)
                }
                let image = document.getElementById('im')
                image.src = this.defaultImage
            },
            removeBenefit: function(index){
                let myArray = this.getBenefits
                myArray.splice(index,1)
                // console.log(myArray)
            },
            backToTabs(){
                this.summary = false
            },
            filesChange(fileList){
                if(!fileList.length) return;
                let selected_file = fileList[0];
                let imageTag = document.getElementById('im') 
                let reader = new FileReader();
                reader.onload = function(e) {
                    // The file's text will be printed here
                    imageTag.src = e.target.result
                };
                reader.readAsDataURL(selected_file);
                this.form.image = selected_file;
                this.form.image_validation = 1;
            },
            changeImage(){
                document.getElementById('file_image').click()
            },
        },
    }   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>