<template>
    <div class="container mt-50">

        <modal2 ref="addBenefit">

        </modal2>
        <modal2 ref="addWorkDetails">
            <h5 slot="header">Add Work Details</h5>
            <div slot="body">
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">Company Name</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group  label-for="">
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                v-model="$v.work_form.company_name.$model"
                                :state="validateState('company_name',$v.work_form)"
                                placeholder="Enter Company Name"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">Job Description</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group  label-for="">
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.work_form.job_description.$model"
                                    :state="validateState('job_description',$v.work_form)"
                                    placeholder="Enter Job Description"
                                ></b-form-input>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">Start date</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group >
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.work_form.start_date.$model"
                                    :state="validateState('start_date',$v.work_form)"
                                ></b-form-datepicker>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">To date</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group >
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.work_form.end_date.$model"
                                    :state="validateState('end_date',$v.work_form)"
                                ></b-form-datepicker>
                        </b-form-group>
                    </div>
                </div>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click="checkValidity($v.work_form,'work')">
                    OK
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">
                    Cancel
                </b-button>
            </div>
        </modal2>
        <modal2 ref="addEducationBackground">
            <h5 slot="header">Add Educational background</h5>
            <div slot="body">
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">Level</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group  label-for="">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                   :options="level_options"
                                   v-model="$v.education_form.level.$model"
                                   :state="validateState('level',$v.education_form)"
                            >
                                <template v-slot:first>
                                    <!-- This is required to prevent bugs with Safari -->
                                    <option disabled value="">Choose a tag...</option>
                                </template>
                            </b-form-select>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">School Name</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                v-model="$v.education_form.school_name.$model"
                                :state="validateState('school_name',$v.education_form)"
                                placeholder="Enter School Name"
                            ></b-form-input>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">Start date</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group >
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.education_form.start_date.$model"
                                    :state="validateState('start_date',$v.education_form)"
                            ></b-form-datepicker>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-9">
                        <b class="drkgry-color">End date</b>
                    </div>
                    <div class="col-md-5">
                        <b-form-group >
                            <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                    v-model="$v.education_form.end_date.$model"
                                    :state="validateState('end_date',$v.education_form)"
                            ></b-form-datepicker>
                        </b-form-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right pt-14">
                        <b class="drkgry-color">Awards</b>
                    </div>
                    <div class="col-md-5 mt-n1rm">
                        <div align="right">
                            <span class="fs-12">(optional)</span>
                        </div>
                        <b-form-group >
                            <b-form-tags ></b-form-tags>
                        </b-form-group>
                    </div>
                </div>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right: 0.5rem" @click="checkValidity($v.education_form,'education')">
                    OK
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal" >
                    Cancel
                </b-button>
            </div>
        </modal2>

        <b-form>
            <div class="row">
                <div class="form-group col-md-2">
                    <div style="text-align: center;">
                        <div v-if="form.image" size="7rem">
                            <img  v-bind:src="imageView" height="100" width="100" id="im" name="im" class="" hidden>
                            <img height="100" width="100" id="viewimg" name="viewimg" v-bind:src="form.image" style="border-radius: 50%;">
                        </div>
                        <div v-else-if="form.image_src && form.image_validation == 0" size="7rem"><img :src="form.image_src" height="100" width="100" style="border-radius: 50%;"></div>
                        <div v-else size="7rem"><img  src="../../../../images/user.jpg" height="100" width="100" style="border-radius: 50%;"></div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label class="fs-20 hr-default-color fw-bold">Personal Information</label>
                    <hr class="hr-view">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label v-if="form.middle_name != null" class="fw-bold">{{ form.first_name + ' ' + form.middle_name + ' ' + form.last_name }}</label>
                            <label v-if="form.middle_name == null" class="fw-bold">{{ form.first_name + ' ' + form.last_name }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getGender }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Birth Date</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getBirthDate }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Permanent Address</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ form.permanent_address }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Current Address</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ form.current_address }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Marital Status</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getMarital }}</label>
                        </div>
                    </div>


                    <label class="fs-20 hr-default-color fw-bold margin-top">Employment Details</label>
                    <hr class="hr-view">
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<label class="fs-16 hr-default-color fw-bold">Employee ID</label>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 align-left">-->
                            <!--<label class="fs-16 hr-default-color">asdad</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Department</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getDepartment }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Designation</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getDesignation }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Employee Type</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getEmployeeType }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Employee Status</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getEmployeeStatus }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date Joined</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getJoinedDate }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Source of Hire</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ getSource }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label class="fs-20 hr-default-color fw-bold">Contact Details</label>
                    <hr class="hr-view">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6 align-left" style="word-break: break-all">
                            <label class="fw-bold">{{ form2.email }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ form2.phone_number }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Telephone Number</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label v-if="form2.telephone_number == 'null'" class="fw-bold">N/A</label>
                            <label v-if="form2.telephone_number == ''" class="fw-bold">N/A</label>
                            <label v-if="form2.telephone_number != 'null'" class="fw-bold">{{ form2.telephone_number == null ? 'N/A' : form2.telephone_number }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Work Phone Number</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label v-if="form2.work_phone == 'null'" class="fw-bold">N/A</label>
                            <label v-if="form2.work_phone == ''" class="fw-bold">N/A</label>
                            <label v-if="form2.work_phone != 'null'" class="fw-bold">{{ form2.work_phone == null ? 'N/A' : form2.work_phone }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Emergency Contact Person</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ form2.emergency_contact }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Emergency Contact Number</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fw-bold">{{ form2.emergency_contact_number }}</label>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-md-12">
                            <a href="#"  @click="showModal($event)" title="Add Benefit" component="benefits"><span class="fa fa-plus"></span> <b>Add Benefits</b></a>
                        </div>
                        <b-card v-for="(benefit, index) in getBenefits" :title="getCardTitle(benefit.title)"  :sub-title="benefit.membership_code" :key="index" style="width: 100%;margin-bottom: 0.5em" >
                            <span class="fa fa-trash delete-card-button" v-on:click.prevent="removeBenefit(index)"></span>
                            <b-card-text>
                                {{ dateformat(benefit.joined_date)}} - {{ benefit.separation_date == null? 'N/A' : dateformat(benefit.separation_date)}}
                            </b-card-text>

                        </b-card>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" @click="modalShow('addEducationBackground')"><span class="fa fa-plus"></span> <b>Add Educational Background</b></a>
                        </div>
                        <b-card v-for="(education, index) in educational_backgrounds" :title="education.school_name"  :sub-title="education.level" :key="index" style="width: 100%;margin-bottom: 0.5em" >
                            <span class="fa fa-trash delete-card-button" v-on:click.prevent="removeEducationalBackground(index)"></span>
                            <b-card-text>
                                {{ education.start_date }}  -  {{ education.end_date }}
                            </b-card-text>
                        </b-card>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" @click="modalShow('addWorkDetails')"><span class="fa fa-plus"></span> <b>Add Employment Background</b></a>
                        </div>
                        <b-card v-for="(work, index) in work_details" :title="work.company"  :sub-title="work.description" :key="index" style="width: 100%;margin-bottom: 0.5em" >
                            <span class="fa fa-trash delete-card-button" v-on:click.prevent="removeEmploymentBackground(index)"></span>
                            <b-card-text>
                                {{ work.start_date }}  -  {{ work.end_date }}
                            </b-card-text>
                        </b-card>
                    </div>
                    
                </div>
            </div>
            <!--<div class="row">
                </div>

               <div class="form-group col-md-5">
                    <label class="fs-20 hr-default-color fw-bold">Other Information</label>
                    <hr class="hr-view">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="fs-16 hr-default-color fw-bold">Source</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fs-16 hr-default-color">Employee Referral</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="fs-16 hr-default-color fw-bold">Candidate Owner</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fs-16 hr-default-color">Kenneth Manalo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="fs-16 hr-default-color fw-bold">Candidate Status</label>
                        </div>
                        <div class="col-md-6 align-left">
                            <label class="fs-16 hr-default-color">New</label>
                        </div>
                    </div>
                </div> 
            </div>-->
        </b-form>

    </div>
</template>

<script>
    import moment from 'moment'
    import { modalMixins } from '@/mixins/modal'
    import Modal2 from '@/components/Modal2'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";

    export default {
        name: "EmployeeSummary",
        props: ['form','form2','form3','genders','maritals','departments','employee_types','employee_status','hire_sources','educational_backgrounds','work_details'],
        mixins: [modalMixins,validationMixin],
        components: {
          Modal2,
        },
        data(){
            return {
                gender: null,
                benefits: [],
                level_options: [
                    {value: 'primary', text: 'Primary'},
                    {value: 'secondary', text: 'Secondary'},
                    {value: 'tertiary', text: 'Tertiary'},
                    {value: 'vocation', text: 'Vocational'},
                ],
                benefit_form: {//for benefit modals
                    benefit_type: null,
                    membership_code: null,
                    joined_date: null,
                    separation_date: null,
                },
                education_form: {
                    level: '',
                    school_name: '',
                    start_date: '',
                    end_date: '',
                    awards: '',
                },
                work_form: {
                    company_name: '',
                    job_description: '',
                    start_date: '',
                    end_date: '',
                }
            }
        },
        validations: {
            education_form: {
                level: {required},
                school_name: {required},
                start_date: {required},
                end_date: {required},
            },
            work_form: {
                company_name: {required},
                job_description: {required},
                start_date: {required},
                end_date: {required},
            }
        },
        computed: {
            getGender: function(){
                let gender = '';
                for (let x of this.genders){
                    if (x.value === this.form.gender) {
                        gender = x.text
                    }
                }
                return gender;
            },
             imageView(){
                 if(this.form3.source_of_hire != '' && this.form.image != null){
                 
                    let reader = new FileReader();
                    let imageTag = document.getElementById('viewimg');
                    reader.readAsDataURL(this.form.image);
                    reader.onload = function(e) {
                        
                        console.log(e.target.result);
                        imageTag.src = e.target.result
                    };
                 }
                
                return '';
            },
            getBirthDate: function(){
                return moment(String(this.form.birth_date)).format('MMMM DD, YYYY')
            },
            getJoinedDate: function(){
                return moment(String(this.form3.joined_date)).format('MMMM DD, YYYY')
            },
            getMarital: function(){
                let marital = '';
                for (let x of this.maritals){
                    if (x.value === this.form.marital_status) {
                        marital = x.text
                    }
                }
                return marital;
            },
            getDepartment: function () {
                let department = '';
                for (let x of this.departments){
                    for (let y of x.options){
                        if (y.value === this.form3.designation_id) {
                            department = x.label
                        }
                    }
                }
                return department
            },
            getDesignation: function(){
                let designation = '';
                for (let x of this.departments){
                    for (let y of x.options){
                        if (y.value === this.form3.designation_id) {
                            designation = y.text
                        }
                    }
                }
                return designation
            },
            getEmployeeType: function(){
                let employee_type = '';
                for (let x of this.employee_types){
                    if (x.value === this.form3.employee_type_id) {
                        employee_type = x.text
                    }
                }
                return employee_type
            },
            getEmployeeStatus: function(){
                let employee_status = '';
                for (let x of this.employee_status){
                    if (x.value === this.form3.employee_status) {
                        employee_status = x.text
                    }
                }
                return employee_status
            },
            getSource: function(){
                let source = '';
                for (let x of this.hire_sources){
                    if (x.value === this.form3.source_of_hire) {
                        source = x.text
                    }
                }
                return source
            },
            getBenefits:{
                get(){
                    return this.$store.state.appendEvent[0].benefits
                }
            },
        },
        methods:{
            removeBenefit: function(index){
                let myArray = this.getBenefits
                myArray.splice(index,1)
                console.log(myArray)
            },
            removeEducationalBackground: function(index){
                let myArray = this.educational_backgrounds
                myArray.splice(index,1)
                console.log(myArray)
            },
            removeEmploymentBackground: function(index){
                let myArray = this.work_details
                myArray.splice(index,1)
                console.log(myArray)
            },
            getCardTitle: function(string){
                let title = ''
                switch (string) {
                    case 'sss_details':
                        title = 'SSS Details'
                    break
                    case 'phic_details':
                        title = 'PHIC Details'
                        break
                    case 'bir_details':
                        title = 'BIR Details'
                        break
                    case 'hdmf_detais':
                        title = 'HDMF Details'
                        break
                    default:
                        title = 'Card Title'
                    break
                }
                return title
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            checkValidity(form,type){
                form.$touch()
                if (form.$anyError){
                    return
                }
                if (type === 'education'){
                    let data = {
                        school_name: form.$model.school_name,
                        level : form.$model.level,
                        start_date: moment(String(form.$model.start_date)).format('MMMM DD, YYYY'),
                        end_date: moment(String(form.$model.end_date,)).format('MMMM DD, YYYY'),
                        awards: form.$model.awards
                    }
                    this.educational_backgrounds.push(data)
                }else if (type === 'work'){
                    let data = {
                        company: form.$model.company_name,
                        description: form.$model.job_description,
                        start_date: moment(String(form.$model.start_date)).format('MMMM DD, YYYY'),
                        end_date: moment(String(form.$model.end_date,)).format('MMMM DD, YYYY'),
                    }
                    this.work_details.push(data)
                }

                this.closeModal(form)

            },
            closeModal: function(form){
                for (let val in form.$model) {
                    this.$set(form.$model,val,null)
                }

                this.$nextTick(() => {
                    this.$v.$reset();
                    this.$bvModal.hide('modal-main')
                })
            },
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            },

            dateformat(value) {
               return moment(String(value)).format('MMMM DD, YYYY')
            },
        }
    }
</script>

<style scoped>
.margin-top{
  margin-top: 30px;
}
</style>