<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="all_employees.length > 0">
            <modal2 ref="exportModal">
                <h5 slot="header">Export Employee Data</h5>
                <div slot="body" >
                    <form ref="form">
                        <div class="container-fluid" id="zp_export_body">
                            <div class="row PT10 PB10" id="zp_export_ftype">
                                <div class="col-md-12 TC text-left">
                                    <b style="margin-right: 1em">Export As</b>
                                    <label id="zp_export_xls" class="tagbg radio">
                                        <input v-model="file_extension" value="xls" type="radio" checked="checked" name="zp_ftype"><span>XLS</span></label>
                                    <label id="zp_export_xlsx" class="tagbg radio"><input v-model="file_extension" value="xlsx" type="radio" name="zp_ftype"><span>XLSX</span></label>
                                    <label id="zp_export_csv" class="tagbg radio"><input v-model="file_extension" value="csv" type="radio" name="zp_ftype"><span>CSV</span></label>
                                    <label id="zp_export_tsv" class="tagbg radio"><input v-model="file_extension" value="tsv" type="radio" name="zp_ftype"><span>TSV</span></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <h5 slot="buttons">
                    <b-button size="sm" class="mr-05 btn-dltmodal-size" variant="success" @click="exportFunction">Export</b-button>
                    <b-button size="sm" style="background: #fff; color: #707070;" @click="modalHide">Cancel</b-button>
                </h5>
            </modal2>
            <modal2 ref="importModal">
                <h5 slot="header">Import Employee Data</h5>
                <div slot="body">
                    <form ref="form">
                        <b-form-group label="Import data from" label-for="name-input">
                            <b-form-select  size="sm">
                                <option value="employee">Employee</option>
                                <option value="work_experience">Work Experience</option>
                                <option value="education">Education</option>
                            </b-form-select>
                            <small><a href="#">Download sample template for import</a></small>
                        </b-form-group>
                    </form>
                </div>
            </modal2>
            <!-- Modal Delete -->
            <modal2 ref="deleteModal">
                <h5 slot="header" class="margin-0">Delete Employee</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <div class="row mt-30">
                <div class="col text-left"><p class="hr-title">Employees List</p></div>
                <div class="col text-right"><router-link :to="{name:'employees.create'}"> <b-button class="hr-btn btn-shadow"><span class="fa fa-plus"></span> New</b-button></router-link>&nbsp;
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShowDelete">Delete</b-dropdown-item>
                        <b-dropdown-item>
                        <router-link :to="{name: defaultData.route_import, params: {import_data: defaultData.import_data}}">
                            Import Data
                        </router-link>
                        </b-dropdown-item>
                        <b-dropdown-item @click.stop.prevent="modalShowExport">Export Data</b-dropdown-item>
                        <b-dropdown-item @click.stop.prevent="downloadQRCode">Download QR Codes</b-dropdown-item>

                    </b-dropdown>
                </div>
            </div>
            <div class="col-md-12 justify-content-center margin-top" style="margin-left: 0px;padding: 0px;">
                <b-container>
                    <b-row>
                        <b-col sm="6">
                            <b-button size="sm" variant="light" v-b-toggle.collapse-1>FILTER <b-icon icon="filter-left" aria-hidden="true"></b-icon> </b-button>
                        </b-col>
                        <b-col sm="6">
                            
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="12">
                        <b-collapse id="collapse-1" class="mt-12">
                            <b-card>
                                <b-container class="bv-example-row">
                                    <p class="card-text"></p>
                                    <b-row>
                                        <b-input-group>
                                            <b-form-input v-model="search" placeholder="Filter by Employee Name..." v-on:keyup.enter="applyFilter"></b-form-input>
                                        </b-input-group>
                                    </b-row>
                                    <b-row class="p-5 margin-top">
                                        <b-col sm="4" >
                                            <b-form inline>
                                                <label label-align-sm="left" label-size="lg" for="department_filter">Department: </label>
                                                <b-form-select id="department_filter" class="clean-form-input" plain v-model="department" :options="department_options" button-only></b-form-select>
                                            </b-form>
                                        </b-col>
                                        <b-col sm="4">
                                            <b-form inline>
                                                    <label label-align-sm="left" label-size="lg" for="type_filter">Employee Type: </label>
                                                    <b-form-select id="type_filter" class="clean-form-input" plain v-model="type" right :options="type_options"></b-form-select>
                                            </b-form>
                                        </b-col>
                                        <b-col sm="4">
                                            <b-form inline>
                                                    <label label-align-sm="left" label-size="lg" for="year_filter">Year Joined: </label>
                                                    <b-form-select id="year_filter" class="clean-form-input" plain v-model="date_joined" right :options="year_joined_options"></b-form-select>
                                            </b-form>
                                        </b-col>
                                    </b-row>
                                    <b-row class="p-5 margin-top" >
                                        <b-col sm="8"></b-col>
                                        <b-col sm="4">
                                            <b-button 
                                                size="sm" 
                                                variant="primary" 
                                                @click.stop.prevent="applyFilter" >
                                                <b-icon icon="filter-right" font-scale="1" aria-hidden="true"></b-icon> APPLY FILTER
                                            </b-button>
                                            <b-button 
                                                size="sm"
                                                @click.stop.prevent="clearFilter"
                                                style="margin-left:5px;background-color:white !important;color:#707070;">
                                                <b-icon icon="slash-circle" font-scale="1" aria-hidden="true"></b-icon> CLEAR FILTER
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </b-card>
                        </b-collapse>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <div class="row justify-content-center margin-top">
                <div class="col-md-12">
                    <vuetable ref="vuetable"
                        :fields="fields"
                        :api-mode="false"
                        class="table-overflow"
                        :data-manager="dataManager"
                        pagination-path="pagination"
                        @vuetable:pagination-data="onPaginationData"
                        @vuetable:checkbox-toggled-custom="addCheckboxID" 
                        @vuetable:checkbox-toggled-all="checkALL"
                        :css="css.table"
                        >
                        <div slot="employee_name" slot-scope="props">
                            <router-link :to="{ name: 'employees.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                        </div>
                        <div slot="image" slot-scope="props">
                            <b-avatar v-if="props.rowData.image == null" size="lg" :text="getAcronym(props.rowData.employee_name)" :variant="getColor(props.rowData.id)"></b-avatar>
                            <b-avatar v-else :src="props.rowData.image" size="lg"></b-avatar>
                        </div>
                    </vuetable>
                    <div style="padding-top:0px">
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <!-- <div v-html="qr.data"></div>
            <div><h5>JARED BRYAN ESPIRITU</h5></div> -->
            <no-data :data="defaultData"></no-data>
        </template>
    </div>
</template>

<script>
    import {exportData} from '@/mixins/export'
    import {modalMixins} from '@/mixins/modal'
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Modal2 from '@/components/Modal2'
    import Checkbox from '@/components/Checkbox'
    import NoData from '@/components/NoDataPage'
    import { mapActions } from 'vuex'

    export default {
        mixins: [exportData,modalMixins,VuetableFieldCheckboxMixin],
        components: {
            Vuetable,
            VuetablePagination,
            Modal2,
            NoData
        },
        data(){
            return {
                qr: null,
                qr_base64: null,
                full_name: '',
                all_employees: [],
                search: "",
                department: null,
                type: null,
                date_joined: null,
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Employees",
                    image: "employees",
                    description: "Employees are the list of employees in the company, define different information like, Personal Information, Employment History, Educational Background etc.",
                    route_create: "employees.create",
                    route_import: "employees.import",
                    allmodules: true,
                    params: "employees",
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Employees', href: '#'},
                    { text: 'List', active:true },
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'image',
                        title: 'Image',
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'department',
                        sortField: 'department',
                        formatter: (value) => {
                            return value['department']+'<br><p class="mini-desc"><span class="bold">Designation:</span> '+value['designation']+'</span></p>'
                        }
                    },
                    {
                        name: 'employee_type',
                        title: 'Employee Type',
                        sortField: 'employee_type',

                    },
                    {
                        name: 'date_joined',
                        title: 'Date Joined',
                        sortField: 'date_joined',
                        formatter: (value) => {
                            return value === null ? 'None' : value
                        }
                    },
                    {
                        name: 'status',
                        title: 'Approval Status',
                        sortField: 'status',
                    },
                ],
                department_options: [
                    {value: null, text:"Select Department"},
                ],
                type_options: [
                    {value: null, text:"Select Employee Type"},
                ],
                year_joined_options: [
                    {value: null, text:"Select Year"},
                ],
                perPage: 10,
                data:[],//for table data
                exportData: [],
                file_extension: 'xls',
                color_array: ['primary','secondary','success','danger','warning','info'],
                showExportModal: false
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        }, 
        created(){
            this.fetchModule("employees")
        },
        mounted() {
            this.fetchLoader(true);
            axios.get('employees').then( response => {
                response.data.departments.forEach(department=>{
                    this.department_options.push({
                        value: department.id,
                        text: department.name
                    })
                })
                response.data.employee_types.forEach(employee_type=>{
                    this.type_options.push({
                        value: employee_type.id,
                        text: employee_type.name
                    })
                })
                response.data.date_year.forEach(year=>{
                    this.year_joined_options.push({
                        value: year,
                        text: year
                    })
                })
                for (let value of response.data.data){
                    let latest = {
                        id: value['id'],
                        image: value['image'],
                        employee_name: value['last_name'] + ' ' + value['first_name'],
                        department: value['job_details'],
                        employee_type: value['job_details']['employee_type'],
                        date_joined: value['job_details']['joined_date'],
                        status: value['status']
                    }
                    this.data = this.data.concat(latest)
                    this.all_employees = this.data.concat(latest);
                    let export_data = {//for export function
                        EmployeeId: value['id'],
                        FirstName: value['first_name'],
                        LastName: value['last_name'],
                        Email: value['email'],
                        BirthDate: value['birth_date'],
                        CurrentAddress: value['current_address'],
                        PermanentAddress: value['permanent_address'],
                        MaritalStatus: value['marital_status'],
                        Department: value['job_details']['department'],
                        Designation: value['job_details']['designation'],
                        EmployeeType: value['job_details']['employee_type'],
                        DateJoined: value['job_details']['joined_date']
                    }
                    this.exportData = this.exportData.concat(export_data)
                }
                this.fetchLoader(false);
            }).catch((error)=>{
                console.log(error);
                this.fetchLoader(false);
            });
        },
        methods: {
            ...mapActions({
                fetchModule: 'fetchModule',
                fetchLoader: 'fetchLoader'
            }), 
            sliceIntoChunks(arr, chunkSize) {
                const res = [];
                for (let i = 0; i < arr.length; i += chunkSize) {
                    const chunk = arr.slice(i, i + chunkSize);
                    res.push(chunk);
                }
                return res;
            },
            downloadQRCode(){
                this.fetchLoader(true);
                let employee_ids = [];
                if(this.checkboxID.length == 0){
                    employee_ids = this.all_employees.map((employee)=>{return employee.id});
                }else{
                    employee_ids = this.checkboxID;
                }

                axios.get('employee/qr-code/1', {responseType:'blob', params:{id:employee_ids }}).then(response => {
                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                    var a = document.createElement("a"); //Create <a>
                        a.href = fileURL; //Image Base64 Goes here
                        a.download = "employee_qr_codes.zip"; //File name Here
                        a.click(); //Downloaded file
                    this.fetchLoader(false);

                }).catch(error => {
                    console.log(error)
                    this.fetchLoader(false);
                });
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                //console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    //console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            getColor(index){
                index = index + 6;
                index = index%6
                return this.color_array[index]
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                return matches.join('')
            },
            modalShowExport: function () {
                // let id = this.$refs.exportModal.$children[0].id
                // this.$bvModal.show(id)
                // this.$refs['my-modal'].show()
                this.$refs['exportModal'].$children[0].show()
            },
            modalShowImport: function (){
                this.$refs['importModal'].$children[0].show()
            },
            modalShowDelete: function (){
                this.$refs['deleteModal'].$children[0].show()
            },
            exportFunction: function () {
                if (this.dataExport(this.exportData,'Employee Master List',this.file_extension)) {
                    this.$bvModal.hide('modal-main')
                }
            },
            deleteModal: function (){
                axios.delete('employees/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            clearFilter(){
                this.fetchLoader(true);
                this.search = "";
                this.department = null;
                this.type = null;
                this.date_joined = null;
                this.data = this.all_employees;
                this.fetchLoader(false);
            },
            applyFilter(){
                this.fetchLoader(true);
                axios.get('employee/search', {
                    params: {
                        search: this.search,
                        department: this.department,
                        employee_type: this.type,
                        joined_date: this.date_joined
                    }
                }).then(response => {
                    let data = [];
                    for (let value of response.data){
                        let latest = {
                            id: value['id'],
                            image: value['image'],
                            employee_name: value['last_name'] + ' ' + value['first_name'],
                            department: { 
                                department: value['job_details']['employee_designation']['get_department']['name'], 
                                designation: value['job_details']['employee_designation']['name']
                            },
                            employee_type: value['job_details']['employees_type']['name'],
                            date_joined: value['job_details']['joined_date'],
                            status: value['status']
                        }
                        data = data.concat(latest)
                    }
                    if(data.length != 0){
                        this.data = data;
                    }else{
                        this.makeToast('','No Data Retrieved with provided filter. Showing All Employees','danger');
                        this.data = this.all_employees;
                    }
                }).finally(()=>{
                    this.fetchLoader(false)
                })
            },
            svgtoPng(svgText, margin, fill){
                 return new Promise(function(resolve, reject) {
                            try {
                                // can use the domUrl function from the browser
                                var domUrl = window.URL || window.webkitURL || window;
                                if (!domUrl) {
                                throw new Error("(browser doesnt support this)")
                                }
                                
                                // figure out the height and width from svg text
                                var match = svgText.match(/height="(\d+)/m);
                                var height = match && match[1] ? parseInt(match[1],10) : 200;
                                match = svgText.match(/width="(\d+)/m);
                                var width = match && match[1] ? parseInt(match[1],10) : 200;
                                margin = margin || 0;
                                
                                // it needs a namespace
                                if (!svgText.match(/xmlns="/mi)){
                                svgText = svgText.replace ('<svg ','<svg xmlns="http://www.w3.org/2000/svg" ') ;  
                                }
                                
                                // create a canvas element to pass through
                                var canvas = document.createElement("canvas");
                                canvas.width = height+margin*2;
                                canvas.height = width+margin*2;
                                var ctx = canvas.getContext("2d");
                                
                                
                                // make a blob from the svg
                                var svg = new Blob([svgText], {
                                type: "image/svg+xml;charset=utf-8"
                                });
                                
                                // create a dom object for that image
                                var url = domUrl.createObjectURL(svg);
                                
                                // create a new image to hold it the converted type
                                var img = new Image;
                                
                                // when the image is loaded we can get it as base64 url
                                img.onload = function() {
                                // draw it to the canvas
                                ctx.drawImage(this, margin, margin);
                                
                                // if it needs some styling, we need a new canvas
                                if (fill) {
                                    var styled = document.createElement("canvas");
                                    styled.width = canvas.width;
                                    styled.height = canvas.height;
                                    var styledCtx = styled.getContext("2d");
                                    styledCtx.save();
                                    styledCtx.fillStyle = fill;   
                                    styledCtx.fillRect(0,0,canvas.width,canvas.height);
                                    styledCtx.strokeRect(0,0,canvas.width,canvas.height);
                                    styledCtx.restore();
                                    styledCtx.drawImage (canvas, 0,0);
                                    canvas = styled;
                                }
                                // we don't need the original any more
                                domUrl.revokeObjectURL(url);
                                // now we can resolve the promise, passing the base64 url
                                resolve(canvas.toDataURL());
                                };
                                
                                // load the image
                                img.src = url;
                                
                            } catch (err) {
                                reject('failed to convert svg to png ' + err);
                            }
                        });
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
.clean-form-input{
    border: none;
    margin: 0px;
    padding: 2px;
}
</style>