<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'employees'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Employee Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{ name: 'employees.edit', params: {id: this.$route.params.id} }"><b-button class="btn-hr-primary btn-size" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <b-dropdown-item  @click="deleteModal($event,DeleteData)" :title='"Delete Employee"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item @click="downloadQR">Download QR Code</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'employees.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'employees.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container class="mt-50">
                <b-form>
                    <b-row>
                        <b-col md="2" class="form-group">
                            <div class="text-center">
                                <b-avatar v-if="employee_description.image != null" :src="employee_description.image" size="7rem"></b-avatar>
                                <b-avatar v-else :text="getAcronym(employee_description.first_name + ' ' + employee_description.last_name)" :variant="getColor(employee_description.id)"  size="100px"></b-avatar>
                            </div>
                        </b-col>
                        <div class="form-group col-md-5">
                            <label class="fs-20 hr-default-color fw-bold">Personal Information</label>
                            <hr class="hr-view">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Full Name</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label v-if="employee_description.middle_name == 'null'" class="fw-bold">{{ employee_description.first_name + ' ' + employee_description.last_name }}</label>
                                    <label v-else class="fw-bold">{{ employee_description.first_name }} {{ employee_description.middle_name }} {{ employee_description.last_name }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="cap-letter fw-bold">{{ employee_description.gender }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Birth Date</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ employee_description.birth_date }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Permanent Address</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ employee_description.permanent_address }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Current Address</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ employee_description.current_address }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Marital Status</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="cap-letter fw-bold">{{ employee_description.marital_status }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="fs-20 hr-default-color fw-bold">Contact Details</label>
                            <hr class="hr-view">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6 align-left" style="word-break: break-all">
                                    <label class="fw-bold">{{ (employee_description.contact_details == null ? 'N/A' : employee_description.contact_details.email) }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ (employee_description.contact_details == null ? 'N/A' : employee_description.contact_details.phone_number) }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telephone Number</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label v-if="employee_description.contact_details.telephone_number == 'null'" class="fw-bold">N/A</label>
                                    <label v-if="employee_description.contact_details.telephone_number != 'null'" class="fw-bold">{{ (employee_description.contact_details.telephone_number == null ? 'N/A' : employee_description.contact_details.telephone_number) }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Work Phone Number</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label v-if="employee_description.contact_details.work_phone == 'null'" class="fw-bold">N/A</label>
                                    <label v-if="employee_description.contact_details.work_phone != 'null'" class="fw-bold">{{ (employee_description.contact_details.work_phone == null ? 'N/A' : employee_description.contact_details.work_phone) }}</label>
                                </div>
                                <!--<div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ (employee_description.contact_details.work_phone == '' ? 'N/A' : employee_description.contact_details.work_phone) }}</label>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Emergency Contact Person</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ (employee_description.contact_details.emergency_contact == null ? 'N/A' : employee_description.contact_details.emergency_contact) }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Emergency Contact Number</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ (employee_description.contact_details.emergency_contact_number == null ? 'N/A' : employee_description.contact_details.emergency_contact_number) }}</label>
                                </div>
                            </div>
                            
                            
                        </div>
                    </b-row>
                    <b-row>
                        <b-col md="2">
                        </b-col>
                        <b-col md="5">
                            <label class="fs-20 hr-default-color fw-bold mt-30">Employment Details</label>
                            <hr class="hr-view">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Employee ID</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ employee_description.id }}</label>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-6">
                                    <label>Employee No</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ employee_description.employee_no }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Department</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ job_details.department }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Employee Designation</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{job_details.designation}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Employee Type</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{ job_details.employee_type }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Employee Status</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">Active</label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date Joined</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">{{job_details.joined_date}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Source of Hire</label>
                                </div>
                                <div class="col-md-6 align-left">
                                    <label class="fw-bold">Direct</label>
                                </div>
                            </div>
                        </b-col>
                        <b-col md="5">
                            <div>
                                <ApprovalStatus :data="approveData"></ApprovalStatus>
                            </div>
                            <label class="fs-20 hr-default-color fw-bold mt-30" v-if="employee_description.sss_details ||  employee_description.bir_details || employee_description.phic_details || employee_description.hdmf_details != null ">Benefit Details</label>
                            <hr v-if="employee_description.sss_details ||  employee_description.bir_details || employee_description.phic_details || employee_description.hdmf_details != null " class="hr-view">
                            <b-card class="mt-7" title="SSS Details" v-if="employee_description.sss_details != null">
                                <b-card-text>
                                    Membership Code: <b>{{employee_description.sss_details.membership_code}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Joined Date: <b>{{employee_description.sss_details.joined_date}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Separation Date: <b>{{ employee_description.sss_details.separation_date == null ? 'N/A' : employee_description.sss_details.separation_date }}</b>
                                </b-card-text>
                            </b-card>
                            <b-card class="mt-20" title="BIR Details" v-if="employee_description.bir_details != null">
                                <b-card-text>
                                    Membership Code: <b>{{employee_description.bir_details.membership_code}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Joined Date: <b>{{employee_description.bir_details.joined_date}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Separation Date: <b>{{employee_description.bir_details.separation_date == null ? 'N/A' : employee_description.bir_details.separation_date}}</b>
                                </b-card-text>
                            </b-card>
                            <b-card class="mt-20" title="PHIC Details" v-if="employee_description.phic_details != null">
                                <b-card-text>
                                    Membership Code: <b>{{employee_description.phic_details.membership_code}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Joined Date: <b>{{employee_description.phic_details.joined_date}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Separation Date: <b>{{employee_description.phic_details.separation_date == null ? 'N/A' : employee_description.phic_details.separation_date}}</b>
                                </b-card-text>
                            </b-card>
                            <b-card class="mt-30" v-if="employee_description.hdmf_details != null">
                                <b-card-text>
                                    Membership Code: <b>{{employee_description.hdmf_details.membership_code}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Joined Date: <b>{{employee_description.hdmf_details.joined_date}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Separation Date: <b>{{employee_description.hdmf_details.separation_date == null ? 'N/A' : employee_description.hdmf_details.separation_date}}</b>
                                </b-card-text>
                            </b-card>

                            <b-card class="mt-30" title="Education Details" v-for="(education) in educational_details" :key="education.id">
                                <b-card-text>
                                    School: <b>{{education.school}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Level <b>{{education.level}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Start Date <b>{{dateformat(education.start_date)}}</b>
                                </b-card-text>
                                <b-card-text>
                                    End Date <b>{{dateformat(education.end_date)}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Awards <b>{{education.awards == null? "N/A" : education.awards}}</b>
                                </b-card-text>
                            </b-card>

                            <b-card class="mt-30" title="Work Details" v-for="(work) in work_details" :key="work.id">
                                <b-card-text>
                                    Company Name: <b>{{work.company}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Job Description <b>{{work.description}}</b>
                                </b-card-text>
                                <b-card-text>
                                    Start Date <b>{{dateformat(work.start_date)}}</b>
                                </b-card-text>
                                <b-card-text>
                                    End Date <b>{{dateformat(work.end_date)}}</b>
                                </b-card-text>
                            </b-card>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="2">
                        </b-col>
                        <b-col md="8">
                            <label class="fs-20 hr-default-color fw-bold mt-30">Assigned Assets</label>
                            <hr class="hr-view">
                            <b-table hover :items="inventories" :fields="tableColumns" show-empty style="width: 100%">
                            </b-table> 
                        </b-col>
                    </b-row>
                </b-form>
            </b-container>
        </b-row>
        <!--<div class="row mt-50">
            <div class="col-md-6">
                <label class="hr-title">Attachments</label>
            </div>
            <div class="col-md-6 align-right">
                <label class="fs-18 trigger fw-600" style="color: rgb(0, 128, 255); cursor: pointer;"><i class="fa fa-plus" style="color: rgb(0, 128, 255); font-size: 14px;"></i> Attach</label>
                <b-icon icon="chevron-down" class="hr-default-color attach-chevron"></b-icon>
                <input type="file" style="display: none;" ref="fileInput"/>
            </div>
        </div>
        <hr class="hr-view">
        <vuetable ref="vuetable" :fields="attachments" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table">
            <div slot="file_name" slot-scope="props">
                <a href="#">{{ props.rowData.file_name }}</a>
            </div>
        </vuetable>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </div>-->
    </b-col>
</template>

<script>
    // import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import axios from 'axios'
    // import VuetableCSS from '@/assets/scripts/vuetable-custom'
    // import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import { modalMixins } from '@/mixins/modal'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    import moment from 'moment'
    import { mapActions } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            // Vuetable,
            // VuetablePagination,
            ApprovalStatus, Approval
        },
        data() {
            return {
                // css: VuetableCSS,
                inventories: [],
                tableColumns: ['inventory_name', 'asset_number', "category", "date_issued"],
                attachments: [
                    {
                        name: 'file_name',
                        title: 'File Name',
                        sortField: 'file_name',
                    },
                    {
                        name: 'attached_by',
                        title: 'Attached by',
                        sortField: 'attached_by',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'created_at',
                        title: 'Date Added',
                        sortField: 'created_at',
                        formatter: (value) => {
                            return value
                        }
                    }
                ],
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employees', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                employee_description: [],
                educational_details: [],
                work_details:[],
                job_details: [],
                DeleteData: [],
                TimelineData: [],
                history_logs: [],
                data: [],
                perPage: 10,
                color_array: ['primary','secondary','success','danger','warning','info'],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Employee'
                }
            }
        },
        mounted() {
            axios.get(`employees/`+this.$route.params.id).then(response => {
                this.employee_description = response.data.data
                this.educational_details = response.data.data.educational_details
                this.work_details = response.data.data.work_details
                this.history_logs = response.data.history_logs
                this.job_details = response.data.data.job_details
                this.DeleteData = {value:this.$route.params.id,route:'employees/',route2:'employees',data:this.employee_description.first_name + ' ' + this.employee_description.last_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'employees.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });

            axios.get('assets/' + this.$route.params.id + '/employee').then(response => {
                console.log(response.data);
                let requisitions = response.data;
                requisitions.forEach(requisition =>{
                    if(requisition.issuance != null){
                        let issuance_items = requisition.issuance.issuance_items;
                        issuance_items.forEach(item => {
                            let inventory = item.asset.inventory
                            this.inventories.push({
                                'inventory_name': inventory.get_inventories_names.description,
                                'asset_number': item.asset.asset_tag,
                                "category": inventory.get_categories.category_name,
                                "date_issued": moment(requisition.issuance.created_at).format('MMMM Do YYYY')
                            })
                        })
                    }
                })
            })
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }), 
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            downloadQR(){
                this.fetchLoader(true);
                axios.get('employee/qr-code/single', {responseType:'blob', params:{id:[this.$route.params.id]}}).then(response => {
                    console.log(response)
                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                    var a = document.createElement("a"); //Create <a>
                        a.href = fileURL; //Image Base64 Goes here
                        a.download = this.employee_description.last_name + ' ' + this.employee_description.first_name + '.jpg'; //File name Here
                        a.click(); //Downloaded file
                    this.fetchLoader(false);
                    
                }).catch(error => {
                    console.log(error);
                    this.fetchLoader(false);
                })
            },
            DeleteFunction(){
                this.deleteForm('employees/',this.$route.params.id,'employees')
            },
            getColor(index){
                index = index + 6;
                index = index%6
                let color = this.color_array[index]
                return color
            },
            getAcronym(string){
                let matches = string.match(/\b(\w)/g);
                let acronym = matches.join('')
                return acronym
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                console.log('adsasdasd')
                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            dateformat(value) {
               return moment(String(value)).format('MMMM DD, YYYY')
            },
            svgtoPng(svgText, margin, fill){
                 return new Promise(function(resolve, reject) {
                            try {
                                // can use the domUrl function from the browser
                                var domUrl = window.URL || window.webkitURL || window;
                                if (!domUrl) {
                                throw new Error("(browser doesnt support this)")
                                }
                                
                                // figure out the height and width from svg text
                                var match = svgText.match(/height="(\d+)/m);
                                var height = match && match[1] ? parseInt(match[1],10) : 200;
                                match = svgText.match(/width="(\d+)/m);
                                var width = match && match[1] ? parseInt(match[1],10) : 200;
                                margin = margin || 0;
                                
                                // it needs a namespace
                                if (!svgText.match(/xmlns="/mi)){
                                svgText = svgText.replace ('<svg ','<svg xmlns="http://www.w3.org/2000/svg" ') ;  
                                }
                                
                                // create a canvas element to pass through
                                var canvas = document.createElement("canvas");
                                canvas.width = height+margin*2;
                                canvas.height = width+margin*2;
                                var ctx = canvas.getContext("2d");
                                
                                
                                // make a blob from the svg
                                var svg = new Blob([svgText], {
                                type: "image/svg+xml;charset=utf-8"
                                });
                                
                                // create a dom object for that image
                                var url = domUrl.createObjectURL(svg);
                                
                                // create a new image to hold it the converted type
                                var img = new Image;
                                
                                // when the image is loaded we can get it as base64 url
                                img.onload = function() {
                                // draw it to the canvas
                                ctx.drawImage(this, margin, margin);
                                
                                // if it needs some styling, we need a new canvas
                                if (fill) {
                                    var styled = document.createElement("canvas");
                                    styled.width = canvas.width;
                                    styled.height = canvas.height;
                                    var styledCtx = styled.getContext("2d");
                                    styledCtx.save();
                                    styledCtx.fillStyle = fill;   
                                    styledCtx.fillRect(0,0,canvas.width,canvas.height);
                                    styledCtx.strokeRect(0,0,canvas.width,canvas.height);
                                    styledCtx.restore();
                                    styledCtx.drawImage (canvas, 0,0);
                                    canvas = styled;
                                }
                                // we don't need the original any more
                                domUrl.revokeObjectURL(url);
                                // now we can resolve the promise, passing the base64 url
                                resolve(canvas.toDataURL());
                                };
                                
                                // load the image
                                img.src = url;
                                
                            } catch (err) {
                                reject('failed to convert svg to png ' + err);
                            }
                        });
            }
        }
    }
    
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>