<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Attendance Reports Details</span>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Department</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="department"
                                    name="department"
                                    v-model="form.department"
                                    :options="department"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Designation</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="designation"
                                    name="designation"
                                    v-model="form.designation"
                                    :options="designation"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Attendance Covered</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="2">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="year"
                                    name="year"
                                    v-model="form.year"
                                    :options="year"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="3">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="month"
                                    name="month"
                                    v-model="form.month"
                                    :options="month"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Employees</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    v-model="form.employee_name"
                                    :options="employee_name"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <b-table striped borderless :items="items" :fields="fields"></b-table>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        name: "List",
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    { key: 'employee_name', sortable: true },
                    { key: 'time_in', sortable: true },
                    { key: 'time_out', sortable: true },
                    { key: 'breaks', sortable: true },
                    { key: 'rendered_hours', sortable: true }
                ],
                items: [],
                department: [
                    { value: null, text: "Select Department" }
                ],
                designation: [
                    { value: null, text: "Select Designation" }
                ],
                employee_name: [
                    { value: null, text: "Select Employee" }
                ],
                year: [
                    { value: null, text: "Select Year" }
                ],
                month: [
                    { value: null, text: "Select Month" }
                ],
                form: {
                    department: null,
                    designation: null,
                    employee_name: null,
                    year: null,
                    month: null,
                }
            }
        },
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>