<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Shift Schedule Reports Details</span>
            </b-col>
            <b-col md="6" class="align-right">
                <router-link :to="{name: 'human_resource.reports_list'}">
                    <b-button class="btn-hr-primary btn-size mr-05"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                </router-link>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Date Created</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="2">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    v-model="form.year"
                                    :options="year"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="3">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    v-model="form.month"
                                    :options="month"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Department</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="department"
                                    name="department"
                                    v-model="form.department"
                                    :options="department"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <b-table striped borderless :items="items" :fields="fields"></b-table>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        name: "List",
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    { key: 'shift_name', sortable: true },
                    { key: 'schedule_start', sortable: true },
                    { key: 'schedule_end', sortable: true },
                    { key: 'department', sortable: true },
                    { key: 'exception', sortable: true },
                    { key: 'working_days', sortable: true },
                    { key: 'full_day', sortable: true },
                    { key: 'half_day', sortable: true },
                ],
                items: [
                    { isActive: true, shift_name: 'Day Shift', schedule_start: 'January 02, 2021', schedule_end: 'January 15, 2021', department: 'IT Department', exception: 'John Doe', working_days: 'Mon, Tue, Wed', full_day: '09:00 AM - 06:00 PM', half_day: '02:00 PM - 06:00 PM' },
                    { isActive: false, shift_name: 'Day Shift', schedule_start: 'January 02, 2021', schedule_end: 'January 15, 2021', department: 'IT Department', exception: 'John Doe', working_days: 'Mon, Tue, Wed', full_day: '09:00 AM - 06:00 PM', half_day: '02:00 PM - 06:00 PM' },
                    { isActive: false, shift_name: 'Day Shift', schedule_start: 'January 02, 2021', schedule_end: 'January 15, 2021', department: 'IT Department', exception: 'John Doe', working_days: 'Mon, Tue, Wed', full_day: '09:00 AM - 06:00 PM', half_day: '02:00 PM - 06:00 PM' },
                    { isActive: false, shift_name: 'Day Shift', schedule_start: 'January 02, 2021', schedule_end: 'January 15, 2021', department: 'IT Department', exception: 'John Doe', working_days: 'Mon, Tue, Wed', full_day: '09:00 AM - 06:00 PM', half_day: '02:00 PM - 06:00 PM' }
                ],
                department: [
                    { value: null, text: "Select Department" }
                ],
                year: [
                    { value: null, text: "Select Year" }
                ],
                month: [
                    { value: null, text: "Select Month" }
                ],
                form: {
                    department: null,
                    year: null,
                    month: null,
                }
            }
        },
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>