<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Employees Reports Details</span>
            </b-col>
            <b-col md="6">
                <div class="text-right">
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item @click.stop.prevent="exportToCSV">Export Data</b-dropdown-item>

                    </b-dropdown>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Department</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="department"
                                    name="department"
                                    v-model="form.department"
                                    :options="department"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Designation</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="designation"
                                    name="designation"
                                    v-model="form.designation"
                                    :options="designation"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Employee Type</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="employee_type"
                                    name="employee_type"
                                    v-model="form.employee_type"
                                    :options="employee_type"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Joined Date</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="2">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="year"
                                    name="year"
                                    v-model="form.year"
                                    :options="year"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="2">
                        <b-button class="btn-hr-primary btn-size mr-05" @click="search"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <vuetable 
                    ref="vuetable" 
                    class="table-overflow"
                    :fields="fields" 
                    pagination-path="pagination"
                    @vuetable:pagination-data="onPaginationData"
                    :api-mode="false"
                    :data-manager="dataManager"
                    :css="css.table"
            >
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </div>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import Vuetable from 'vuetable-2'
    import axios from 'axios'
    import { mapActions } from 'vuex'

    export default {
        name: "List",
        components: {
            VuetablePagination,
            Vuetable
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    {
                        name: 'department',
                        title: 'Department',
                        sortField: 'department'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'designation',
                        title: 'Designation',
                        sortField: 'designation'
                    },
                    {
                        name: 'employee_type',
                        title: 'Employee Type',
                        sortField: 'employee_type',
                    },
                    {
                        name: 'joined_date',
                        title: 'Date Hired',
                        sortField: 'joined_date',
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                    }
                ],
                items: [],
                department: [
                    { value: null, text: "Select Department" }
                ],
                designation: [
                    { value: null, text: "Select Designation" }
                ],
                employee_type: [
                    { value: null, text: "Select Employee Type" }
                ],
                year: [
                    { value: null, text: "Select Year" }
                ],
                form: {
                    department: null,
                    designation: null,
                    employee_type: null,
                    year: null
                },
                perPage: 10,
                all_employees: [],
            }
        },
        mounted() {
            this.fetchLoader(true);
            axios.get('department').then( response => {
                let departments = response.data;

                departments.forEach((department) => {
                    this.department.push({
                        value: department['id'],
                        text: department['name']
                    })
                });
            });

            axios.get('designation').then( response => {
                let designations = response.data;

                designations.forEach((designation) => {
                    this.designation.push({
                        value: designation['id'],
                        text: designation['name']
                    })
                });
            });

            axios.get('employee-type').then( response => {
                let employee_types = response.data;

                employee_types.forEach((employee_type) => {
                    this.employee_type.push({
                        value: employee_type['id'],
                        text: employee_type['name']
                    })
                });
            });

            axios.get('employee-years-join').then( response => {
                let years = response.data;

                years.forEach((year) => {
                    this.year.push({
                        value: year['joined_year'],
                        text: year['joined_year']
                    })
                });
            });

            axios.get('employees').then( response => {
                for (let value of response.data.data) {
                    let latest = {
                        id: value['id'],
                        employee_name: value['_parse_name'],
                        department: value['job_details']['department'],
                        employee_type: value['job_details']['employee_type'],
                        joined_date: value['job_details']['joined_date'],
                        designation: value['job_details']['employee_designation']['name'],
                        status: value['status']
                    }
                    this.items.push(latest)
                    this.all_employees.push(latest)
                }
            });

            this.fetchLoader(false);
        },
        watch: {
            items(){
                this.$refs.vuetable.refresh();
            }
        }, 
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            search() {
                this.fetchLoader(true);
                axios.get('reports/', {
                    params: {
                        module: 'employees',
                        department: this.form.department,
                        designation: this.form.designation,
                        employee_type: this.form.employee_type,
                        year: this.form.year
                    }
                }).then(response => {
                    let data = [];
                    for (let value of response.data){
                        let latest = {
                            id: value['id'],
                            employee_name: value['_parse_name'],
                            department: value['job_details']['employee_designation']['get_department']['name'],
                            employee_type: value['job_details']['employees_type']['name'],
                            joined_date: value['job_details']['joined_date'],
                            designation: value['job_details']['employee_designation']['name'],
                            status: value['status']
                        }
                        data.push(latest)
                    }
                    if(data.length > 0){
                        this.items = data;
                    } else{
                        this.makeToast('','No Data Retrieved with provided filter. Showing All Employees','danger');
                        this.items = this.all_employees;
                    }
                }).finally(()=>{
                    this.fetchLoader(false)
                })
            },
            dataManager(sortOrder,pagination){
                if (this.items.length < 1) return;

                let local = this.items;

                if (sortOrder.length > 0){
                    //console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            exportToCSV() {
                this.fetchLoader(true);
                axios.get('reports/export', {
                    params: {
                        module: 'employees',
                        type: 'CSV',
                        department: this.form.department,
                        designation: this.form.designation,
                        employee_type: this.form.employee_type,
                        year: this.form.year
                    }
                }).then(response => {
                    var a = document.createElement("a"); //Create <a>
                        a.href = response.data.data; //Image Base64 Goes here
                        a.download = response.data.fileName; //File name Here
                        a.click(); //Downloaded file
                    this.fetchLoader(false);
                })
                .finally(()=>{
                    this.fetchLoader(false)
                })
            }
        }
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>