<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Employees Leave Details</span>
            </b-col>
            <b-col md="6">
                <div class="text-right">
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                        <b-dropdown-item @click.stop.prevent="exportToCSV">Export Data</b-dropdown-item>

                    </b-dropdown>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12"> 
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Employees</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="employees"
                                    name="employees"
                                    v-model="form.employees"
                                    :options="employees"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Leave Type</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="leave_type"
                                    name="leave_type"
                                    v-model="form.leave_type"
                                    :options="leave_type"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Status</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="status"
                                    name="status"
                                    v-model="form.status"
                                    :options="status"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Leave Covered Year and Month</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="2">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="year"
                                    name="year"
                                    v-model="form.year"
                                    :options="year"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="3">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="month"
                                    name="month"
                                    v-model="form.month"
                                    :options="month"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" lg="2">
                        <b-button class="btn-hr-primary btn-size mr-05" @click="search"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <vuetable 
                    ref="vuetable" 
                    class="table-overflow"
                    :fields="fields" 
                    pagination-path="pagination"
                    @vuetable:pagination-data="onPaginationData"
                    :api-mode="false"
                    :data-manager="dataManager"
                    :css="css.table"
            >
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
            </div>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import Vuetable from 'vuetable-2'
    import axios from 'axios'
    import { mapActions } from 'vuex'

    export default {
        name: "List",
        components: {
            VuetablePagination,
            Vuetable
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'leave_type',
                        title: 'Type',
                        sortField: 'leave_type'
                    },
                    {
                        name: 'start_date',
                        title: 'Start Date',
                        sortField: 'start_date'
                    },
                    {
                        name: 'end_date',
                        title: 'End Date',
                        sortField: 'end_date'
                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'status',
                    }
                ],
                items: [],
                employees: [
                    { value: null, text: "Select Employees" },
                ],
                leave_type: [
                    { value: null, text: "Select Leave Type" },
                ],
                status: [
                    { value: null, text: "Select Status" },
                    { value: 'Pending', text: "Pending" },
                    { value: 'Approved', text: "Approved" },
                    { value: 'Rejected', text: "Rejected" },
                    
                ],
                year: [
                    { value: null, text: "Select Year" },
                ],
                month: [
                    { value: null, text: "Select Month" },
                ],
                form: {
                    employees: null,
                    leave_type: null,
                    status: null,
                    year: null,
                    month: null,
                },
                perPage: 10,
                all_employees: [],
            }
        },
        mounted() {
            this.fetchLoader(true);
            axios.get('employee_leave').then( response => {
                for (let value of response.data) {
                    let latest = {
                        employee_name: value['employee_name'],
                        leave_type: value['leave_type']['name'],
                        start_date: value['_parse_start_date'],
                        end_date: value['_parse_end_date'],
                        status: value['status']
                    }
                    this.items.push(latest)
                    this.all_employees.push(latest)
                }
            });

            axios.get('employee_leave/create').then( response => {
                for (let value of response.data.employees) {
                    let employee = {
                        value: value.id,
                        text: value._parse_name
                    }
                    this.employees.push(employee)
                }
                
                for (let value of response.data.leave_type) {
                    this.leave_type.push({
                        value: value.id,
                        text: value.name
                    });
                }

                for (let value of response.data.leaveYears) {
                    this.year.push({
                        value: value.leave_year,
                        text: value.leave_year
                    });
                }

                for (let value of response.data.leaveMonths) {
                    this.month.push({
                        value: value.leave_month_value,
                        text: value.leave_month
                    })
                }
            });

            this.fetchLoader(false);
        },
        watch: {
            items(){
                this.$refs.vuetable.refresh();
            }
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            search() {
                this.fetchLoader(true);
                axios.get('reports/', {
                    params: {
                        module: 'employee-leaves',
                        employee_id: this.form.employees,
                        leave_type: this.form.leave_type,
                        year: this.form.year,
                        month: this.form.month,
                        status: this.form.status
                    }
                }).then(response => {
                    let data = [];
                    for (let value of response.data){
                        let latest = {
                            id: value['id'],
                            employee_name: value['employee_name'],
                            leave_type: value['leave_type']['name'],
                            start_date: value['_parse_start_date'],
                            end_date: value['_parse_end_date'],
                            status: value['status']
                        }
                        data.push(latest)
                    }
                    if(data.length > 0){
                        this.items = data;
                    } else{
                        this.makeToast('','No Data Retrieved with provided filter. Showing All Employee with Leave','danger');
                        this.items = this.all_employees;
                    }
                }).finally(()=>{
                    this.fetchLoader(false)
                })
            },
            dataManager(sortOrder,pagination){
                if (this.items.length < 1) return;

                let local = this.items;

                if (sortOrder.length > 0){
                    //console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            exportToCSV() {
                this.fetchLoader(true);
                axios.get('reports/export', {
                    params: {
                        module: 'employee-leaves',
                        type: 'CSV',
                        employee_id: this.form.employees,
                        leave_type: this.form.leave_type,
                        month: this.form.month,
                        year: this.form.year,
                        status: this.form.status
                    }
                }).then(response => {
                    var a = document.createElement("a"); //Create <a>
                        a.href = response.data.data; //Image Base64 Goes here
                        a.download = response.data.fileName; //File name Here
                        a.click(); //Downloaded file
                    this.fetchLoader(false);
                })
                .finally(()=>{
                    this.fetchLoader(false)
                })
            }
        }
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>