<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Employees Exit Details</span>
            </b-col>
            <b-col md="6" class="align-right">
                <router-link :to="{name: 'reports_list'}">
                    <b-button class="btn-hr-primary btn-size mr-05"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                </router-link>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Employees</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="employees"
                                    name="employees"
                                    v-model="form.employees"
                                    :options="employees"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Exit Type</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                    id="exit_type"
                                    name="exit_type"
                                    v-model="form.exit_type"
                                    :options="exit_type"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24">
            <b-table striped borderless :items="items" :fields="fields"></b-table>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        name: "List",
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    {
                        key: 'employees',
                        sortable: true
                    },
                    {
                        key: 'exit_type',
                        sortable: true
                    },
                    {
                        key: 'interviewer',
                        sortable: true,
                    },
                    {
                        key: 'separation_date',
                        sortable: true,
                    },
                    {
                        key: 'reason',
                        sortable: true,
                    }
                ],
                items: [
                    { isActive: true, employees: 'Angelo Zamora', exit_type: 'Resignation', interviewer: 'Angelo Zamora', separation_date: 'January 2020', reason: 'I was offered a position with another company and accepted.'},
                    { isActive: false, employees: 'Gilbert Yabut', exit_type: 'Resignation', interviewer: 'Angelo Zamora', separation_date: 'January 2020', reason: 'I went back to school to pursue a master’s degree program.' },
                    { isActive: false, employees: 'Jared Salazar', exit_type: 'Resignation', interviewer: 'Gilbert Yabut', separation_date: 'January 2020', reason: 'I decided to take five years off to start a family.' },
                    { isActive: true, employees: 'Kenneth Manalo', exit_type: 'Resignation', interviewer: 'Gilbert Yabut', separation_date: 'January 2020', reason: 'I decided to take five years off to start a family.' }
                ],
                employees: [
                    { value: null, text: "Select Employees" },
                    { value: 1, text: "Gilbert Yabut" },
                    { value: 2, text: "Angelo Zamora" },
                    { value: 3, text: "Jared Salazar" }
                ],
                exit_type: [
                    { value: null, text: "Select Leave Type" },
                    { value: 1, text: "Resignation" },
                    { value: 2, text: "Termination" }
                ],
                form: {
                    employees: null,
                    exit_type: null
                }
            }
        },
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>