<template>
    <b-col md="12" class="form-group reports-padding">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-24">
            <b-col md="6">
                <router-link :to="{name: 'human_resource.reports_list'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                <span class="hr-title">Payroll Reports Details</span>
            </b-col>
            <b-col md="6" class="align-right">
                <router-link :to="{name: 'human_resource.reports_list'}">
                    <b-button class="btn-hr-primary btn-size mr-05"><span class="fa fa-search"></span>&nbsp;Search</b-button>
                </router-link>
            </b-col>
        </b-row>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Pay Cut Period</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                v-model="form.paycut"
                                :options="paycut"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>Payroll Mode</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                v-model="form.payroll_mode"
                                :options="payroll_mode"
                                v-on:change="selectMode($event)"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Department</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                id="department"
                                name="department"
                                v-model="form.department"
                                :options="department"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                        <b>By Designation</b>
                    </b-col>   
                    <b-col sm="12" md="6" lg="5">
                        <b-form-group label-for="input-1">
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                id="designation"
                                name="designation"
                                v-model="form.designation"
                                :options="designation"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <div class="mt-24" id="table_1" style="display: none;">
            <b-table striped borderless :items="items" :fields="fields"></b-table>
        </div>
        <div class="mt-24" id="table_2" style="display: none;">
            <b-table striped borderless :items="item" :fields="data"></b-table>
        </div>
    </b-col>
</template>
<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'

    export default {
        name: "List",
        data(){
            return {
                key: "",
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Reports', href: '#' },
                    { text: 'View', active: true },
                ],
                fields: [
                    { key: 'employee_name', sortable: true },
                    { key: 'total_attendance', sortable: true },
                    { key: 'late_and_absence', sortable: true },
                    { key: 'holiday_or_rest_day', sortable: true },
                    { key: 'ot_type', sortable: true },
                    { key: 'leave', sortable: true },
                    { key: 'total_hours', sortable: true },
                ],
                data: [
                    { key: 'employee_name', sortable: true },
                    { key: 'basic_salary', sortable: true },
                    { key: 'allowance', sortable: true },
                    { key: 'number_of_days', sortable: true },
                    { key: 'ADJ', sortable: true },
                    { key: 'per_day', sortable: true },
                    { key: 'per_hour', sortable: true },
                    { key: 'OT_pay', sortable: true },
                    { key: 'gross', sortable: true },
                    { key: 'tax', sortable: true },
                    { key: 'SSS_EE', sortable: true },
                    { key: 'PHIC_EE', sortable: true },
                    { key: 'HDMF_EE', sortable: true },
                    { key: 'net_pay', sortable: true },
                ],
                items: [
                    { isActive: true, employee_name: 'Juan Dela Cruz', total_attendance: '20', late_and_absence: '8 hours', holiday_or_rest_day: 'Regular', ot_type: '0.00', leave: '1', total_hours: '8 hours'},
                    { isActive: false, employee_name: 'Juan Dela Cruz', total_attendance: '20', late_and_absence: '8 hours', holiday_or_rest_day: 'Regular', ot_type: '0.00', leave: '1', total_hours: '8 hours'},
                    { isActive: false, employee_name: 'Juan Dela Cruz', total_attendance: '20', late_and_absence: '8 hours', holiday_or_rest_day: 'Regular', ot_type: '0.00', leave: '1', total_hours: '8 hours'},
                    { isActive: true, employee_name: 'Juan Dela Cruz', total_attendance: '20', late_and_absence: '8 hours', holiday_or_rest_day: 'Regular', ot_type: '0.00', leave: '1', total_hours: '8 hours'},
                ],
                item: [
                    { isActive: true, employee_name: 'John Doe', basic_salary: '26,000.00', allowance: '0.00', number_of_days: 'Regular', ADJ: '0.00', per_day: '0.00', per_hour: '0.00', OT_pay: '0.00', gross: '0.00', tax: '0.00', SSS_EE: '0.00', PHIC_EE: '0.00', HDMF_EE: '0.00', net_pay: '0.00' },
                    { isActive: false, employee_name: 'John Doe', basic_salary: '26,000.00', allowance: '0.00', number_of_days: 'Regular', ADJ: '0.00', per_day: '0.00', per_hour: '0.00', OT_pay: '0.00', gross: '0.00', tax: '0.00', SSS_EE: '0.00', PHIC_EE: '0.00', HDMF_EE: '0.00', net_pay: '0.00' },
                    { isActive: false, employee_name: 'John Doe', basic_salary: '26,000.00', allowance: '0.00', number_of_days: 'Regular', ADJ: '0.00', per_day: '0.00', per_hour: '0.00', OT_pay: '0.00', gross: '0.00', tax: '0.00', SSS_EE: '0.00', PHIC_EE: '0.00', HDMF_EE: '0.00', net_pay: '0.00' },
                    { isActive: true, employee_name: 'John Doe', basic_salary: '26,000.00', allowance: '0.00', number_of_days: 'Regular', ADJ: '0.00', per_day: '0.00', per_hour: '0.00', OT_pay: '0.00', gross: '0.00', tax: '0.00', SSS_EE: '0.00', PHIC_EE: '0.00', HDMF_EE: '0.00', net_pay: '0.00' },
                ],
                department: [
                    { value: null, text: "Select Department" }
                ],
                designation: [
                    { value: null, text: "Select Designation" }
                ],
                paycut: [
                    { value: null, text: "Select Pay Cut Period" }
                ],
                payroll_mode: [
                    { value: null, text: "Select Payroll Mode" },
                    { value: '0', text: "Select Payroll Total Hours" },
                    { value: '1', text: "Select Payroll Summary" }
                ],
                form: {
                    department: null,
                    designation: null,
                    paycut: null,
                    payroll_mode: null,
                }
            }
        },
        methods: {
            selectMode(selected){
                if (selected == 0) {
                    document.getElementById('table_1').style.display ='flex';
                    document.getElementById('table_2').style.display ='none';
                } else {
                    document.getElementById('table_1').style.display ='none';
                    document.getElementById('table_2').style.display ='flex';
                }
            },
        }
    }
</script>
<style scoped>
    .reports-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-size {
        width: 100px;
    }
</style>