<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="submitForm('employee-exit', { stay: checked, route:'employee_exits.view' })">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                            <router-link :to="{ name:'employee_exits' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Employee Exits</span>                        
                        </b-col>
                        <b-col md="6" class="align-right" style="white-space: nowrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn">Save</b-button>
                            </b-overlay>
                        </b-col>                        
                    </b-row>
                    <b-row class="mt-30">
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-1" label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee"
                                        name="employee"
                                        v-model="$v.form.employee.$model"
                                        :options="employee"
                                        :state="stateValidation('employee')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Interviewer</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="interviewer"
                                        name="interviewer"
                                        v-model="$v.form.interviewer.$model"
                                        :options="interviewer"
                                        :state="stateValidation('interviewer')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>                
                    
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Separation Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="separation_date">
                                <b-form-datepicker id="separation_date" style="border-left: solid 1.5px #ec0000"
                                        name="separation_date" 
                                        v-model="$v.form.separation_date.$model"
                                        :state="stateValidation('separation_date')"
                                        ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Exit Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="exit_type" label-for="exit_type">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="exit_type"
                                        name="exit_type"
                                        v-model="$v.form.exit_type.$model"
                                        :options="exit_type"
                                        :state="stateValidation('exit_type')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Reason</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="reason" label="" label-for="reason">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="reason"
                                        name="reason"
                                        v-model="$v.form.reason.$model"
                                        :state="stateValidation('reason')"
                                        aria-describedby="input-1-live-feedback"
                                        placeholder="Enter a reason"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                
                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Attachment</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="example-file">
                                <b-form-file id="example-file" placeholder="Choose a file or drop it here" drop-placheholder="Drop file here" v-model="form.attachment"></b-form-file>
                            </b-form-group>
                        </b-col>
                    </b-row>

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employee Exits', href: '#' },
                    { text: 'New', active: true },
                ], 
                employee: [
                    { value: null, text: "Select Employee" }
                ],
                interviewer: [
                    { value: null, text: "Select Interviewer" },
                ],
                form: {
                    employee: null,
                    interviewer: null,
                    separation_date: '',
                    exit_type: null,
                    reason: '',
                    attachment: ''
                },
                exit_type: [
                    { text:'Select Exit Type', value: null },
                    { text:'Resignation', value: 0 },
                    { text:'Termination', value: 1 }
                ]
            }
        },
        mounted(){
            this.getEmployees();
        },
        validations: {
            form: {
                employee: { required },
                interviewer: { required },
                separation_date: { required },
                exit_type: { required },
                reason: { required },               
            }
        },
        methods: {
            getEmployees(){
                axios.get('employee-exit/create').then((response) => {
                    let employee_data = response.data;
                    employee_data.forEach((employee) =>{
                        this.employee.push({value: employee['id'],text: employee['last_name'] + ' ' + employee['first_name']});
                        this.interviewer.push({value: employee['id'],text: employee['last_name'] + ' ' + employee['first_name']});
                    });
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>