<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form  @submit.stop.prevent="submitForm(route, { stay: false, route:'employee_exits.view', edit: true })">
                    <b-row>
                        <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                            <router-link :to="{ name:'employee_exits.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Employee Exits</span>                        
                        </b-col>
                        <b-col sm="6" md="6" lg="6" class="align-right">
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn">Update</b-button>
                            </b-overlay>
                        </b-col>                        
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-1" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="employee"
                                        name="employee"
                                        v-model="$v.form.employee.$model"
                                        readonly
                                        :state="stateValidation('employee')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col xs="12" sm="12" md="4" lg="4" class="align-right media-left pt-9">
                            <b>Interviewer</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="interviewer"
                                        name="interviewer"
                                        v-model="$v.form.interviewer.$model"
                                        :options="interviewer_options"
                                        :state="stateValidation('interviewer')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>                
                    
                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Separation Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="separation_date">
                                <b-form-datepicker id="separation_date" style="border-left: solid 1.5px #ec0000"
                                        name="separation_date" 
                                        v-model="$v.form.separation_date.$model"
                                        :state="stateValidation('separation_date')"
                                        ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Exit Type</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="exit_type" label-for="exit_type">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="exit_type"
                                        name="exit_type"
                                        v-model="$v.form.exit_type.$model"
                                        :options="exit_type"
                                        :state="stateValidation('exit_type')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Reason</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="reason" label="" label-for="reason">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="reason"
                                        name="reason"
                                        v-model="$v.form.reason.$model"
                                        :state="stateValidation('reason')"
                                        aria-describedby="input-1-live-feedback"
                                        placeholder="Enter a reason"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                
                    <!-- <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Attachment</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label="" label-for="example-file">
                                <b-form-file id="example-file" placeholder="Choose a file or drop it here" drop-placheholder="Drop file here" v-model="form.attachment"></b-form-file>
                            </b-form-group>
                        </b-col>
                    </b-row> -->

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                route: 'employee-exit/'+this.$route.params.id,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employee Exits', href: '#' },
                    { text: 'Edit', active: true },
                ], 
                employee: [
                    { value: null, text: "Select Employee" },
                    { value: 'Emman', text: "Emmanuel Atienza" }
                ],
                interviewer_options: [
                    { value: null, text: "Select Interviewer" },
                ],
                form: {
                    employee: null,
                    interviewer: [],
                    separation_date: '',
                    exit_type: null,
                    reason: '',
                    attachment: ''
                },
                exit_type: [
                    { value: null, text:'Select Exit Type' },
                    { value: 0, text:'Resignation' },
                    { value: 1, text:'Termination' },
                ]
            }
        },
        validations: {
            form: {
                employee: { required },
                interviewer: { required },
                separation_date: { required },
                exit_type: { required },
                reason: { required },               
            }
        },
        mounted(){
            axios.get('employee-exit/' + this.$route.params.id + '/edit').then((response) => {
                let data = response.data.employee_exit
                this.form.employee = data.employee.first_name +' '+ data.employee.last_name
                this.form.interviewer = data.interviewer.id
                this.form.separation_date = data.edit_separation_date
                this.form.reason = data.reason
                this.form.exit_type = data.exit_type

                let employee_data = response.data.employee;
                employee_data.forEach((employee) =>{                    
                    this.interviewer_options.push({value: employee['id'],text: employee['first_name'] + ' ' + employee['last_name']});
                });
            });
        },
        
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>