n<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- Modal Delete -->
        <template v-if="data.length > 0">
            <modal2>
                <h5 slot="header" class="margin-0">Delete Employee Exit</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <div class="row mt-30">
                <div class="col text-left"><p class="hr-title">Employee Exits List</p></div>
                <div class="col text-right">
                    <router-link :to="{name:'employee_exits.create'}"> <b-button class="hr-btn btn-shadow mr-05"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </div>
            <div class="col-md-12 mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <vuetable
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="employee_name" slot-scope="props">
                    <router-link :to="{ name: 'employee_exits.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components:{
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {                    
                    image: "employee-exits",
                    title: "Employee Exits",
                    description: "Employees who are inactive on the company for the history records of employees hired in the company. example employee exits are, resigned, terminate, retired etc.",
                    route_create: "employee_exits.create",
                    route_import: "employee_exits.import",
                    params: "employee-exits",
                    allmodules: true,
                    import_data: {
                        params: "employee-exits",
                        title: "Employee Exits",
                        download: "SampleCSVFile_EmployeeExits", //SampleCSVFile_ + Name of module in CamelCase format
                        data_to_import: "employee-exits",
                        data_route: "employee_exits",
                        template_headers: {
                            "EmployeeName*":"",
                            "Interviewer*": "",
                            "SeparationDate*": "",
                            "ExitType*": "",
                            "Reason*": "",
                            "Attachment": "",
                        },
                        to: 'employee_exits' //route
                    }
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employee Exits', href: '#' },
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'employee_name',
                        sortField: 'employee_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        formatter: (value) => {
                            return "<a href='#' >"+value+"</a>"
                        }
                    },
                    {
                        name: 'interviewer_name',
                        title: 'Interviewer',
                        sortField: 'interviewer_name',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'separation_date',
                        title: 'Separation Date',
                        sortField: 'separation_date',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'reason',
                        title: 'Reason For Leaving',
                        sortField: 'reason',
                        formatter: (value) => {
                            return value
                        }
                    }                   
                ],
                perPage: 10,
                data:[]
            }
        },  
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('employee-exit').then( response => {
                for(const x in response.data){
                    this.data.push({
                        id: response.data[x].id,
                        employee_id: response.data[x].employee.id,
                        employee_name: response.data[x].employee.first_name + " " +response.data[x].employee.last_name,
                        interviewer_name: response.data[x].interviewer.first_name + " " + response.data[x].interviewer.last_name,
                        separation_date: response.data[x].separation_date,
                        reason: response.data[x].reason,
                    });
                }
            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('employee-exit/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}

.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
</style>