<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'employee_exits'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 2px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title pl-1rm">Employee Exit Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'employee_exits.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'employee_exits.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'employee_exits.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Employee Name</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Interviewer</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">{{ interviewer }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Separation Date</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">{{ separation_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Exit Type</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">{{ exit_type }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Reason for Leaving</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">{{ reason }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 fw-bold">Attachment</label>
                            </b-col>
                            <b-col md="7" class="align-left form-group">
                                <label class="fs-14">N/A</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import axios from 'axios'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data() {
            return {
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Organization', active: true },
                    { text: 'Employee Exits', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                DeleteData: [],
                TimelineData: [],
                history_logs: [],
                employee_name: '',
                separation_date: '',
                exit_type: '',
                reason: '',
                interviewer: '',
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Employee Exit'
                }
            }
        },
        mounted(){
            axios.get('employee-exit/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.employee_name = data.employee.first_name+' '+ data.employee.last_name
                this.separation_date = data.separation_date
                this.exit_type = data.exit_type == 0 ? 'Resignation' : 'Termination'
                this.reason = data.reason
                this.interviewer = data.interviewer.first_name +' '+ data.interviewer.last_name
                this.history_logs = response.data.history_logs
                this.DeleteData = {value:this.$route.params.id,route:'employee-exit/',route2:'employee_exits',data: this.employee_name}
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'employee_exits.view'}
                this.approveData = response.data
                if (response.data.approver != null) {
                    this.approver = response.data.approver.approver;
                    this.actionData.model = response.data.approver.model
                } 
            });
        },
        methods:{
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
        }
    }
</script>


<style scoped>
.p-5{
    padding: 0px !important;
}
</style>