<template>
  <b-col md="12" class="form-group p-5">
    <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
    <b-row class="justify-content-center mt-30">
      <b-col md="12">
        <b-modal 
          id="remove_pr_item" 
          @cancel="cancelRemoval"
          @ok="removePRItem">
          <div class="text-center"><h6>Are you sure to remove this item</h6></div>
        </b-modal>
        <b-modal 
          id="add_pr_item" ok-only>
          <div class="text-center"><h6>{{error_text}}</h6></div>
        </b-modal>
        <b-form
          @submit.stop.prevent="
            submitForm('purchase_requests', {
              stay: checked,
              route: 'purchase_request.list',
            })
          ">
          <b-row>
            <router-link :to="{ name: 'purchase_request' }"
              ><i
                class="fa fa-arrow-left back-btn pl-1rm"
                aria-hidden="true"
              ></i
            ></router-link>
            <div class="col text-left">
              <h5 class="form-head">Create Purchase Request</h5>
            </div>
            <div class="col align-right">
              <b-form-checkbox
                class="mr-05 custom-checkbox-position"
                v-model="checked"
                true-value="true"
                false-value="false"
              >
              </b-form-checkbox>
              <label class="label-create-a">Create Another</label>
              <b-button type="submit" class="inventory-btn">Save</b-button>
            </div>
          </b-row>
          <b-row>
            <b-col xs="12" sm="12" md="9" lg="9">
              <b-row class="mt-30">
                <b-col
                  xs="12"
                  sm="12"
                  md="5"
                  lg="5"
                  class="align-right media-left pt-9"
                >
                  <b>Department</b>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                  <b-form-group>
                    <b-form-select
                      style="border-left: solid 1.5px #ec0000"
                      v-model="form.department_id"
                      :options="department_options"
                    ></b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col
                  xs="12"
                  sm="12"
                  md="5"
                  lg="5"
                  class="align-right media-left pt-9"
                >
                  <b>Purchase Request Number</b>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                  <b-form-group>
                    <b-form-input
                      style="border-left: solid 1.5px #ec0000"
                      id="category_name"
                      name="category_name"
                      placeholder="Purchase Request Number"
                      v-model="form.pr_number"
                    ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col
                  xs="12"
                  sm="12"
                  md="5"
                  lg="5"
                  class="align-right media-left pt-9"
                >
                  <b>Date</b>
                </b-col>
                <b-col xs="12" sm="12" md="6" lg="6">
                  <b-form-group>
                    <b-form-datepicker
                      style="border-left: solid 1.5px #ec0000"
                      id="date"
                      name="date"
                      v-model="form.date"
                    ></b-form-datepicker>
                  </b-form-group>
                </b-col>
              </b-row>
              <!-- <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Enable</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-checkbox v-model="checked" class="category_switch" name="check-button" switch>
                                        </b-form-checkbox>
                                    </b-form-group>
                                </b-col>
                            </b-row> -->
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12" sm="12" md="12" lg="12">
              <b-tabs pills vertical>
                  <b-tab title="Operation Materials" active style="margin-top: 1em;">
                    <b-table hover :items="inventory_catalog_data.operation_materials" :fields="fields.operation_material_fields">
                    </b-table>
                  </b-tab>
                  <b-tab title="CPE">
                    <b-table hover :items="inventory_catalog_data.cpe" :fields="fields.operation_material_fields">
                    </b-table>
                  </b-tab>
                  <b-tab title="Assets">
                      <b-row>
                        <b-col sm="12">
                            <b-button size="sm" variant="light" v-b-toggle.collapse-1>FILTER <b-icon icon="filter-left" aria-hidden="true"></b-icon> </b-button>
                        </b-col>
                        <!-- <b-col sm="6">
                        </b-col> -->
                      </b-row>
                      <b-row>
                        <b-col sm="12">
                          <b-collapse id="collapse-1" class="mt-12">
                            <b-card>
                                <b-container class="bv-example-row">
                                    <p class="card-text"></p>
                                    <b-row>
                                        <b-input-group>
                                            <b-form-input placeholder="Filter by Name..."></b-form-input>
                                        </b-input-group>
                                    </b-row>
                                    <b-row class="p-5 margin-top">
                                        <b-col sm="4">
                                            <b-form inline>
                                                    <label label-align-sm="left" label-size="lg" for="type_filter">Category: </label>
                                                    <b-form-select id="type_filter" class="clean-form-input" v-model="category_filter" :options="category_options" plain ></b-form-select>
                                            </b-form>
                                        </b-col>
                                        <b-col sm="8">
                                            <!-- <b-form inline>
                                                    <label label-align-sm="left" label-size="lg" for="year_filter">Year Joined: </label>
                                                    <b-form-select id="year_filter" class="clean-form-input" plain v-model="date_joined" right :options="year_joined_options"></b-form-select>
                                            </b-form> -->
                                        </b-col>
                                    </b-row>
                                    <b-row class="p-5 margin-top" >
                                        <b-col sm="7"></b-col>
                                        <b-col sm="5">
                                            <b-button 
                                                size="sm" 
                                                variant="primary" 
                                                @click.stop.prevent="applyFilter" >
                                                <b-icon icon="filter-right" font-scale="1" aria-hidden="true"></b-icon> APPLY FILTER
                                            </b-button>
                                            <b-button 
                                                size="sm"
                                                @click.stop.prevent="clearFilter"
                                                style="margin-left:5px;background-color:white !important;color:#707070;">
                                                <b-icon icon="slash-circle" font-scale="1" aria-hidden="true"></b-icon> CLEAR FILTER
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </b-card>
                        </b-collapse>
                      </b-col>
                    </b-row>
                    <b-row>
                    <b-table hover :items="inventory_catalog_data.filtered_assets" :fields="fields.operation_material_fields">
                      <template #cell(quantity)="row">
                          <b-form-input
                            v-model="row.item.quantity"
                          ></b-form-input>
                      </template> 
                      <template #cell(action)="row">
                          <b-button @click.prevent="addToPRItems(row)">Add</b-button>
                      </template> 
                    </b-table>
                    </b-row>
                  </b-tab>
                  <b-tab title="Consumables">
                    <b-table hover :items="inventory_catalog_data.consumables" :fields="fields.operation_material_fields">
                    </b-table>
                  </b-tab>
                  <b-tab title="Purchase Request Items">
                    <b-table hover :items="form.purchase_request_items" :fields="fields.operation_material_fields">
                        <template #cell(quantity)="row">
                            <b-form-input
                              v-model="row.item.quantity"
                            ></b-form-input>
                        </template> 
                        <template #cell(action)="row">
                            <b-button @click.prevent="removeItem(row)">Remove</b-button>
                        </template> 
                    </b-table>
                  </b-tab>
              </b-tabs>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
  </b-col>
</template>

<script>
// import axios from 'axios';
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import { formMixins } from "@/mixins/form";
import Axios from "axios";
export default {
  mixins: [validationMixin, formMixins],
  data() {
    return {
      checked: false,
      selected: [],
      breadcrumbs: [
        { html: '<span class="fa fa-home"></span>', href: "#" },
        { text: "Procurement", active: true },
        { text: "Purchase Request", href: "#" },
        { text: "New", active: true },
      ],
      department_options: [{ value: null, text: "Select Department" }],
      form: {
        department_id: null,
        pr_number: "",
        date: null,
        purchase_request_items: []
      },
      inventory_catalog_data:{
        operation_materials:[],
        cpe:[],
        consumables:[],
        assets:[],
        filtered_assets:[]
      },
      fields:{
        operation_material_fields: [
          'name',
          'category_name',
          'in_warehouse',
          { key: 'quantity', label: 'Quantity' },
          { key: 'action', label: 'Actions' }
        ]
      },
      forRemoval: null,
      error_text: "",
      category_options: [
        {
          value: null, 
          text: "Select A Category"
        }
      ],
      category_filter: null
    };
  },
  validations: {
    form: {
      department_id: {
        required,
      },
      pr_number: {
        required,
      },
      date: {
        required,
      },
    },
  },
  watch: {},
  mounted() {
    Axios.get('category').then(response => {
      console.log(response.data)
      response.data.forEach(item => {
        this.category_options.push({
          value: item.id,
          text: item.category_name
        })
      })
    });
    Axios.get("department").then((response) => {
      let data = response.data;
      data.forEach((department) => {
        this.department_options.push({
          value: department.id,
          text: department.name,
        });
      });
    });

    Axios.get("inventory/all").then((response) => {
      response.data.forEach(inventory => {
        switch (inventory.type_number) {
          case 0:
            this.inventory_catalog_data.operation_materials.push({
              id:inventory.id,
              name: inventory.inventory_description_data.description,
              action: null,
              quantity: 0,
              issued_count: inventory.issued_count,
              in_warehouse: inventory.quantity - inventory.issued_count,
              category_id: inventory.category_id.id,
              category_name: inventory.category_id.category_name
            });
            break;
          case 1:
            this.inventory_catalog_data.cpe.push({
              id:inventory.id,
              name: inventory.inventory_description_data.description,
              action: null,
              quantity: 0,
              issued_count: inventory.issued_count,
              in_warehouse: inventory.quantity - inventory.issued_count,
              category_id: inventory.category_id.id,
              category_name: inventory.category_id.category_name
            });
            break;
          case 2:
            console.log(inventory.inventory_description_data.description)
            this.inventory_catalog_data.assets.push({
              id:inventory.id,
              name: inventory.inventory_description_data.description,
              action: null,
              quantity: 0,
              issued_count: inventory.issued_count,
              in_warehouse: inventory.quantity - inventory.issued_count,
              category_id: inventory.category_id.id,
              category_name: inventory.category_id.category_name
            });
            this.inventory_catalog_data.filtered_assets.push({
              id:inventory.id,
              name: inventory.inventory_description_data.description,
              action: null,
              quantity: 0,
              issued_count: inventory.issued_count,
              in_warehouse: inventory.quantity - inventory.issued_count,
              category_id: inventory.category_id.id,
              category_name: inventory.category_id.category_name
            });
            break;
          case 3:
            this.inventory_catalog_data.cpe.push({
              id:inventory.id,
              name: inventory.inventory_description_data.description,
              action: null,
              quantity: 0,
              issued_count: inventory.issued_count,
              in_warehouse: inventory.quantity - inventory.issued_count,
              category_id: inventory.category_id.id,
              category_name: inventory.category_id.category_name
            });
            break;
          default:
            break;
        }
      })
      console.log(this.inventory_catalog_data.assets)
    });
  },
  methods:{
      applyFilter: function () {
        let filtered_asset = this.inventory_catalog_data.assets.filter(k => k.category_id == this.category_filter);
        if(filtered_asset != undefined || filtered_asset != null){
          this.inventory_catalog_data.filtered_assets = filtered_asset
        }else{
          this.error_text = "No Asset Found with given filter"
          this.$bvModal.show("add_pr_item")
        }
      },
      clearFilter: function () {
        this.inventory_catalog_data.filtered_assets = this.inventory_catalog_data.assets
      },
      addToPRItems: function (row) {
        let item_index = this.form.purchase_request_items.find(k => k.id == row.item.id);
        console.log(item_index);
        if(item_index == null || item_index == undefined){
          this.form.purchase_request_items.push(row.item)
          this.error_text = "Successfully added to Purchase Request Items!!"
          this.$bvModal.show("add_pr_item")

        }else{
          this.error_text = "Cannot be added due to duplicate item"
          this.$bvModal.show("add_pr_item")
        }
      },
      removePRItem: function () {
        this.form.purchase_request_items.splice(this.forRemoval.index)
        this.$bvModal.hide("remove_pr_item")
      },
      cancelRemoval: function () {
        this.forRemoval = null;
        this.$bvModal.hide("remove_pr_item")
      },
      removeItem: function (row) {
        this.forRemoval = row;
        this.$bvModal.show("remove_pr_item")
      }
  }

};
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
.category_switch {
  position: relative;
  top: 7px;
}
</style>