<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'purchase_request'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Purchase Request Information</span>
                    </b-col>
                    <!-- <b-col md="6" class="align-right">
                        <router-link :to="{name: 'category.edit', params: {id:$route.params.id}}"><b-button class="btn-inventory-primary btn-size mr-05">Edit</b-button></router-link>
                        <b-button right class="hr-more btn-size mr-05">Delete</b-button>
                    </b-col> -->
                </b-row>
            </b-col>
            <b-container>
                <b-row class="justify-content-center mt-50">
                    <b-col xs="12" sm="12" md="7" lg="7">
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Purchase Request Number</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{purchase_request_number}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Department</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{department}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Date</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <!-- <b-col xs="12" sm="12" md="4" lg="4" class="form-group align-right media-left">
                                <label>Enable</label>
                            </b-col>
                            <b-col xs="12" sm="12" md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">Active</label>
                            </b-col> -->
                            <b-table hover :items="pr_items" :fields="pr_item_fields">
                            </b-table>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
import Axios from 'axios';
import moment from 'moment';
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Procurement', active:true },
                    { text: 'Purchase Request', href: '#'},
                    { text: 'View', active:true },
                ],
                pr_item_fields: [
                    'name',
                    { key: 'quantity', label: 'Quantity' }
                ],
                purchase_request_number:'',
                department: '',
                date: '',
                pr_items: []
            }
        },
        mounted(){ 
            Axios.get('purchase_requests/'+this.$route.params.id).then(response => {
               console.log(response.data)
               let data = response.data;
               this.purchase_request_number = data.pr_number;
               this.date = moment(String(data.date)).format('MMMM DD, YYYY')
               this.department = data.department.description
               response.data.pr_items.forEach(item => {
                   this.pr_items.push({
                       name: item.inventory.get_inventories_names.description,
                       quantity: item.quantity
                   })
               })
            }) 
        },
        method: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>