
<template>
    <b-card v-if="data.approved_status != null">
        <b-row>
            <b-col md="4" class="form-group">
                <label>Approval Status</label>
            </b-col>
            <b-col md="8" class="form-group align-left">
                <div v-if="data.approved_status == null || data.approved_status == 'Pending'">
                    <label class="mr-05"><b-icon icon="clock" aria-hidden="true"></b-icon><b> {{data.approved_status}}</b></label>
                </div>
                <div v-else-if="data.approved_status == 'Approved'">
                    <span class="mr-05"><b-icon icon="hand-thumbs-up"></b-icon><b class="" style="color: limegreen;"> {{data.approved_status}}</b></span>
                </div>
                <div v-else>
                    <span><b-icon icon="hand-thumbs-down"></b-icon> <b class="" style="color: red;"> {{data.approved_status}}</b></span>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="10">
                <a v-b-toggle.status-collapse class="m-1 fs-14 fw-bold" style="color: #0080FF; cursor: pointer;"><span class="when-closed">Show</span><span class="when-open">Hide</span> Approval History
                    <b-icon icon="chevron-down" class="when-closed"></b-icon>
                    <b-icon icon="chevron-up" class="when-open"></b-icon>
                </a>                 
                <b-collapse id="status-collapse">
                    <b-row class="mt-1rem">
                        <b-col md="12" class="">
                            <b-row v-if="data.approver.approval_status.length == 0">
                                <b-col md="12">
                                    <p style="margin-left: 0.3rem;">Pending for Approval</p>
                                </b-col>
                            </b-row>
                            <div v-else>
                                <div v-if="data.approver.setup == 'sequential'">
                                    <b-row v-for="index in data.approver.approval_status" :key="index.status">
                                        <b-col md="12" v-if="index">
                                            <b-icon :icon="(index.status == 0 ? 'hand-thumbs-down' : (index.status == 1 ? 'hand-thumbs-up' : 'clock'))"></b-icon>
                                            <span><b> {{ index.name == null ? 'Waiting for Approval' : index.name }}</b></span>
                                            <span> {{index.date_approved}}</span>
                                            <span> {{index.time_approved}} <span v-if='index.status == 0' class="fa fa-info-circle" v-b-tooltip.hover :title="index.remarks"></span></span>
                                            <p></p>
                                        </b-col>
                                    </b-row>
                                </div>
                                <div v-else-if="data.approver.setup == 'parallel'">
                                    <b-row v-for="index in data.approver.approval_status" :key="index.seq_order">                                        
                                        <b-col md="12" v-if="index.seq_order">
                                            <b-icon :icon="(index.status == 0 ? 'hand-thumbs-down':(index.status == 1?'hand-thumbs-up':'clock'))"></b-icon>
                                            <span><b> {{ index.name }}</b></span>
                                            <span> {{index.date_approved}}</span>
                                            <span> {{index.time_approved}} <span v-if='index.status == 0' class="fa fa-info-circle" v-b-tooltip.hover :title="index.remarks"></span></span>
                                            <p></p>
                                        </b-col>
                                    </b-row>
                                </div>
                                <b-row v-else>
                                    <b-col md="12">
                                        <b-icon :icon="(data.approver.approval_status.status == 0 ? 'hand-thumbs-down':(data.approver.approval_status.status == 1?'hand-thumbs-up':'clock'))"></b-icon>
                                        <span><b> {{ data.approver.approval_status.name }} </b></span>
                                        <span> {{ data.approver.approval_status.date_approved }}</span>
                                        <span> {{ data.approver.approval_status.time_approved }} <span  class="fa fa-info-circle" v-b-tooltip.hover :title="data.approver.approval_status.remarks"></span></span>
                                        <p></p>
                                    </b-col>
                                </b-row>
                            </div>
                        </b-col>
                    </b-row>
                </b-collapse>
            </b-col>
        </b-row>
        <p></p>
    </b-card>
</template>

<script>
    export default {
        name: "ApprovalStatus",
        props: ['data'],
        data() {
            return {
               
            }
        },
        mounted(){
        },
        methods: {
        },
    }
</script>

<style scoped>
</style>