<template>
        <!-- modal for approval -->
        <modal2>
            <h5 v-if="data.action" slot="header" class="margin-0">Approve {{ data.name }}</h5>
            <h5 v-else slot="header" class="margin-0">Reject {{ data.name }}</h5>
            <h5 slot="body">
                <form  v-if="data.action == 0" ref="form">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="12">
                             <b-form-textarea
                                id="textarea"
                                v-model="data.remark"
                                placeholder="Enter something..."
                                rows="3"
                                max-rows="6"
                            ></b-form-textarea>
                        </b-col>
                    </b-row>
                </form>
                <p v-else>Are you sure you want to approve?</p>
            </h5>
            <h5 slot="buttons">
                <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm" @click="submitAction">Confirm</b-button>
                <b-button style="background: #fff; color: #707070;" size="sm" @click.stop.prevent="modalHide">Cancel</b-button>
            </h5>
        </modal2>
        <!-- end of code of modal for approval -->

</template>

<script>
    import Modal2 from '@/components/Modal2'
    import axios from 'axios'

    export default {
        name: "Approval",
        components: {
            Modal2,
        },
        props: ['data'], //actions: Approved/Reject, Reference: id and type, 
        data() {
            return {
               
            }
        },
        mounted(){   
        },
        methods: {
            submitAction(){
                let approved_status = (this.data.action ? 1 : 0)
                let form_data = new FormData();
                form_data.append('approved_status', approved_status);
                form_data.append('reference_id', this.$route.params.id);
                form_data.append('reference_type', this.data.model);
                form_data.append('remarks', this.data.remark);
                axios.post('approvals',form_data).then((response) => {
                    let toast_message = '';
                    if(response.data.approved_status == 1){
                         toast_message= 'Successfully Approved';
                        this.approved_status = "Approved"
                    }else{
                        toast_message = 'Successfully Rejected';
                        this.approved_status = "Rejected"
                    }
                    this.makeToast('Success',toast_message,'success')
                    this.$bvModal.hide('modal-main')
                    setTimeout( function() { window.location.reload(true); }, 500);
                });
            },
            modalHide() {
                this.$bvModal.hide('modal-main')
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }
    }
</script>

<style scoped>
    .btn-manager {
        border: 1px solid rgb(112 112 112 / 27%);
        height: 35px;
    }
    .icon-manager {
        color:#707070;
        font-size: 15px !important;
    }
    .modal-header {
        background-color: #55C755;
        color: #FFF;
    }
    .close {
        float: right;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1;
        color: rgb(255, 0, 0);
        text-shadow: 0 1px 0 #fff;
        opacity: .9;
    }
    .modal-title {
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }
    .hr-file {
        width: 100%;
    }
    .frame {  
        height: 90px;
        border: 1px solid rgb(112 112 112 / 27%);
        position: relative;
    } 
    img.bg {  
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
    .text-file {
        position: relative; 
        top: 2px;
        word-break: break-all;
    }
</style>