<template>
    <body class="body-timein">
        <main class="topdsgn-timein">
            <b-col>
                <b-row>
                    <b-col align="right" xs="7" sm="7" md="7" style="padding-right:2rem">
                        <img src="../images/acableworks.png" width="22%">
                    </b-col>
                    <b-col align="right" xs="5" sm="5" md="5" class="time-top">
                        <span class="fs-20"><i class="fa fa-clock-o clock-icon" aria-hidden="true"></i>&nbsp;<b>{{ currentTime }} | {{ dayNow }} | {{ dateNow }}</b></span>
                    </b-col>
                </b-row>
            </b-col>
        </main>
        <b-col>
            <b-row>
                <b-col xs="5" md="5" align="center">
                    <div class="mt-50">
                        <img src="../images/biometrics.jpg" width="40%" v-b-toggle.sidebar-right>
                        <b-row>
                            <b-col class="align-center fs-50 pt-1rm">
                                <span style="font-size: 35px"><b>USE FINGERPRINT<br>
                                SCANNER</b></span>
                            </b-col>
                        </b-row>
                        <b-sidebar id="sidebar-right" right shadow width="765px" header-class="right-toggle" body-class="right-toggle">
                            <div class="px-5 py-2" style="color: #707070">
                                <div align="left">
                                    <h3 class="mb-0"><b>{{ employeeAttendance.name }}</b></h3>
                                    <span>{{ employeeAttendance.designation }}</span>
                                </div>
                                <b-row>
                                    <b-col xs="4" sm="4" md="4" class="align-left">
                                        <img :src="require(`@/images/user.jpg`)" class="img-right-toggle mt-20" md="12" style="border-radius: 100%">
                                    </b-col>
                                    <b-col xs="8" sm="8" md="8">
                                        <b-card class="mt-20" style="background: #F0F0F0; border: none; padding: 1.25rem">
                                            <div class="fs-4rm mt-n1rm"><b>{{ employeeAttendance.hours_worked }}</b></div>
                                            <div class="fs-18 mt-n1rm">HOURS WORKED</div>
                                        </b-card>
                                        <b-row v-if="employeeAttendance.status" class="pt-1rm">
                                            <b-col xs="6" sm="6" md="6">
                                                <b-dropdown class="sb-btn" text ="START BREAK"> 
                                                    <b-dropdown-item v-for="brk in employeeAttendance.breaks" :key="brk.id" @click="getBreaks(brk.id)">
                                                        {{ brk.name }}
                                                    </b-dropdown-item>
                                                </b-dropdown>
                                            </b-col>
                                            <b-col xs="6" sm="6" md="6" align="right">
                                                <b-button class="es-btn" @click="timeOut">END SHIFT</b-button>
                                            </b-col>
                                        </b-row>
                                        <b-row v-else-if="!employeeAttendance.status" class="pt-1rm">
                                            <b-button class="timein-btn" @click="timeIn">Time in</b-button>
                                        </b-row>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-1-5rm">
                                    <p class="fs-24"><b>{{ employeeAttendance.date }}</b></p>
                                </b-row>
                                <b-row>
                                    <b-card class="card-nbb mt-n1rm" style="height: 48vh; padding: 1.25rem">
                                        <b-row class="pb-1rm">
                                            <b-col class="align-left">
                                                <p class="fs-24 mb-0"><b>{{ employeeAttendance.time_in ? employeeAttendance.time_in : 'No Time-in' }}</b></p>
                                                <span>{{ employeeAttendance.location ? employeeAttendance.time_in : 'No Location Found' }}</span>
                                            </b-col>
                                            <b-col>
                                                
                                            </b-col>
                                        </b-row>
                                        <hr>
                                        <div v-for="breaks in employeeAttendance.breaks_status" :key="breaks.status">
                                            <b-row>
                                                <b-col class="align-left" xs="4" sm="4" md="4">
                                                    <p class="fs-24 mb-0"><b>{{ breaks.break }}</b></p>
                                                    <span>{{ breaks.billed }}</span>
                                                </b-col>
                                                <b-col class="align-right" xs="4" sm="4" md="4">
                                                    <p class="fs-24 mb-0" style="opacity: 0"><b>------</b></p>
                                                    <span>{{ breaks.duration }}</span>
                                                </b-col>
                                                <b-col sm="1" md="1">
                                                    <div class="v-line2"></div>
                                                </b-col>
                                                <b-col class="pt-1-5rm align-left" xs="3" sm="3" md="3">
                                                    <i v-if="breaks.status" class="fa fa-check fs-24 var-success" aria-hidden="true"></i>&nbsp;
                                                    <i v-else class="fa fa-check fs-24 var-danger" aria-hidden="true"></i>&nbsp;
                                                    <span v-if="breaks.status" class="fs-24 var-success"><b>{{ breaks.status ? 'Taken' : 'Missed' }}</b></span>
                                                    <span v-else class="fs-24 var-danger"><b>{{ breaks.status ? 'Taken' : 'Missed' }}</b></span>
                                                </b-col>
                                            </b-row>
                                        <hr class="">
                                        </div>
                                    </b-card>
                                </b-row>
                            </div>
                        </b-sidebar>

                        <b-sidebar id="sidebar-left" left shadow width="765px" header-class="right-toggle" body-class="right-toggle">
                            <div class="px-5 py-2" style="color: #707070">
                                <div align="left">
                                    <h3 class="mb-0"><b>{{ employeeAttendance.name }}</b></h3>
                                    <span>{{ employeeAttendance.designation }}</span>
                                </div>
                                <b-row>
                                    <b-col xs="4" sm="4" md="4" class="align-left">
                                        <img :src="require(`@/images/user.jpg`)" class="img-right-toggle mt-20" md="12" style="border-radius: 100%">
                                    </b-col>
                                    <b-col xs="8" sm="8" md="8">
                                        <b-card class="mt-20" style="background: #F0F0F0; border: none; padding: 1.25rem">
                                            <div class="fs-4rm mt-n1rm"><b>{{ employeeAttendance.hours_worked }}</b></div>
                                            <div class="fs-18 mt-n1rm">HOURS WORKED</div>
                                        </b-card>
                                        <b-row v-if="employeeAttendance.status" class="pt-1rm">
                                            <b-col xs="6" sm="6" md="6">
                                                <b-dropdown class="sb-btn" text ="START BREAK"> 
                                                    <b-dropdown-item v-for="brk in employeeAttendance.breaks" :key="brk.id" @click="getBreaks(brk.id)">
                                                        {{ brk.name }}
                                                    </b-dropdown-item>
                                                </b-dropdown>
                                            </b-col>
                                            <b-col xs="6" sm="6" md="6" align="right">
                                                <b-button class="es-btn" @click="timeOut">END SHIFT</b-button>
                                            </b-col>
                                        </b-row>
                                        <b-row v-else-if="employeeAttendance.status == false">
                                            <b-button class="timein-btn" @click="timeIn">Time in</b-button>
                                        </b-row>
                                        <b-row v-else>
                                        </b-row>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-1-5rm">
                                    <p class="fs-24"><b>{{ employeeAttendance.date }}</b></p>
                                </b-row>
                                <b-row>
                                    <b-card class="card-nbb mt-n1rm" style="height: 48vh; padding: 1.25rem">
                                        <b-row class="pb-1rm">
                                            <b-col class="align-left">
                                                <p class="fs-24 mb-0"><b>{{ employeeAttendance.time_in ? employeeAttendance.time_in : 'No Time-in' }}</b></p>
                                                <span>{{ employeeAttendance.location ? employeeAttendance.time_in : 'No Location Found' }}</span>
                                            </b-col>
                                            <b-col>
                                                
                                            </b-col>
                                        </b-row>
                                        <hr>
                                        <div v-for="breaks in employeeAttendance.breaks_status" :key="breaks.status">
                                            <b-row >
                                                <b-col class="align-left" xs="4" sm="4" md="4">
                                                    <p class="fs-24 mb-0"><b>{{ breaks.break }}</b></p>
                                                    <span>{{ breaks.billed }}</span>
                                                </b-col>
                                                <b-col class="align-right" xs="4" sm="4" md="4">
                                                    <p class="fs-24 mb-0" style="opacity: 0"><b>------</b></p>
                                                    <span>{{ breaks.duration }}</span>
                                                </b-col>
                                                <b-col xs="1" sm="1" md="1">
                                                    <div class="v-line2"></div>
                                                </b-col>
                                                <b-col class="pt-1-5rm align-left" xs="3" sm="3" md="3">
                                                    <i v-if="breaks.status" class="fa fa-check fs-24 var-success" aria-hidden="true"></i>&nbsp;
                                                    <i v-else class="fa fa-check fs-24 var-danger" aria-hidden="true"></i>&nbsp;
                                                    <span v-if="breaks.status" class="fs-24 var-success"><b>{{ breaks.status ? 'Taken' : 'Missed' }}</b></span>
                                                    <span v-else class="fs-24 var-danger"><b>{{ breaks.status ? 'Taken' : 'Missed' }}</b></span>
                                                </b-col>
                                            </b-row>
                                            <hr class="">
                                        </div>
                                    </b-card>
                                </b-row>
                            </div>
                        </b-sidebar>

                        <!--<a href="https://www.freepik.com/vectors/background">Background vector created by freepik - www.freepik.com</a>-->
                    </div>
                </b-col>
                <b-col xs="2" md="2" align="center">
                    <div class="hide-row">
                        <div class="v-line1"></div>
                            <p class="fs-24 mt15"><b>OR</b></p>
                        <div class="v-line1"></div>
                    </div>
                    <b-row class="show-row">
                        <b-col align="right">
                            <div class="h-line1"></div>
                        </b-col>
                        <b-col>
                            <p class="fs-24 mt15"><b>OR</b></p>
                        </b-col>
                        <b-col align="left">
                            <div class="h-line2"></div>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col xs="5" md="5" class="pad-left1">
                    <b-col>
                        <!--<div class="icon-keyboard" v-b-toggle="'accordion'">
                            <i class="fa fa-keyboard-o"></i>
                        </div>-->
                        <b-form-group id="designation_name" label-for="input-2" class="mt-50" >       
                            <b-form-input class="empID-input" v-b-toggle="'accordion'"
                                    @keyup.enter="trigger"
                                    id="designation_name"
                                    name="designation_name"
                                    placeholder="Employee ID"
                                    v-model="form.employee_id"
                            ></b-form-input>
                            <!-- <i class="fb-send" @click="enterClicked" ref="sendReply">&#x21E8;</i> -->
                        </b-form-group>
                        <b-collapse id="accordion" class="num-accordion" style="overflow-y: hidden">
                            <b-card style="height: 74vh">
                                <b-row style="padding-top: 4rem">
                                    <b-col align="right" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>1</b></b-button>
                                    </b-col>
                                    <b-col align="center" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>2</b></b-button>
                                    </b-col>
                                    <b-col align="left" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>3</b></b-button>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-2rm">
                                    <b-col align="right" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>4</b></b-button>
                                    </b-col>
                                    <b-col align="center" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>5</b></b-button>
                                    </b-col>
                                    <b-col align="left" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>6</b></b-button>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-2rm">
                                    <b-col align="right" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>7</b></b-button>
                                    </b-col>
                                    <b-col align="center" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>8</b></b-button>
                                    </b-col>
                                    <b-col align="left" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>9</b></b-button>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-2rm">
                                    <b-col align="right" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="align-center clear-btn">
                                            <span style=""><b>CLEAR</b></span>
                                            <hr style="border-top: solid;">
                                        </b-button>
                                    </b-col>
                                    <b-col align="center" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="btn-biometric"><b>0</b></b-button>
                                    </b-col>
                                    <b-col align="left" xs="4" sm="4" md="4" class="wdth0">
                                        <b-button class="align-center enter-btn" @click="enterClicked" ref="sendReply" v-b-toggle.sidebar-left>
                                            <span style=""><b>ENTER</b></span>
                                            <hr style="border-top: solid;">
                                        </b-button>
                                    </b-col>
                                </b-row>

                            </b-card>
                        </b-collapse>
                    </b-col>
                    <b-row class="pt-1rm">
                        <b-col align="center">
                            <img src="../images/ID.png" width="35%" style="margin-right: 20%">
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col class="align-center fs-50 pt-1rm" style="margin-right: 19%">
                            <span style="font-size: 35px"><b>ENTER YOUR<br>
                            EMPLOYEE ID</b></span>
                        </b-col>
                    </b-row>

                </b-col>
            </b-row>
        </b-col>



        <!--<div>
            <b-button v-b-toggle.sidebar-right>Toggle Sidebar</b-button>
            <b-sidebar id="sidebar-right" title="Sidebar" right shadow width="750px">
            <div class="px-3 py-2">
                <p>
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
                in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                </p>
                <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
            </div>
            </b-sidebar>
        </div>-->
            
    </body>
</template>

<script>
    import moment from 'moment'
    import axios from 'axios'
    import {formMixins } from "@/mixins/form"
    import { validationMixin } from "vuelidate"
    import { required } from "vuelidate/lib/validators"
    export default {
        mixins: [formMixins,validationMixin],
        name: 'Biometrics',
        components: {
        },
        data(){
            return {
                currentTime: null,
                dateNow: [],
                dayNow: [],
                employeeAttendance:
                {
                    employee_id: null,
                    date: null,
                    name: null,
                    designation: null,
                    breaks: {},
                    time_in: null,
                    image: null,
                    location: null,
                    breaks_status: {},
                    status: null,
                    hours_worked: null
                },
                form: {
                    employee_id: null,
                    biometric_id: null,
                    break_id: null,
                    attendance_id: null
                }
            }
        },
        validations: {
            form: {
                employee_id:{ required }
            }
        },
        created() {
            this.currentTime = moment().format('LTS');
            setInterval(() => this.updateCurrentTime(), 1 * 1000);

            this.dateNow = moment().format('ll');
            this.dayNow = moment().format('ddd');
        },
        methods:{
            updateCurrentTime() {
                this.currentTime = moment().format('LTS');
            },
            enterClicked(){
                this.getAttendanceEmployee(this.form.employee_id)
            },
            trigger () {
                this.$refs.sendReply.click()
            },
            getBreaks(id)
            {
                this.form.break_id = id
                this.form.attendance_id = this.employeeAttendance.breaks_status[0].attendance_id
                console.log('asdasd');
                this.submitForm('timelog/breaks')
            },
            bioTriggerClicked() {
                this.getAttendanceEmployee(this.form.biometric_id)
            },
            getAttendanceEmployee(id) {
                axios.get('timelog/verify/'+id).then(response => {
                    if (response.data.error == true) {
                        alert(response.data.message)
                    } else {
                        this.employeeAttendance.employee_id = response.data.employee_id
                        this.employeeAttendance.date = response.data.date
                        this.employeeAttendance.date = response.data.date
                        this.employeeAttendance.name = response.data.name
                        this.employeeAttendance.designation = response.data.designation
                        this.employeeAttendance.breaks = response.data.breaks
                        this.employeeAttendance.time_in = response.data.time_in
                        this.employeeAttendance.image = response.data.image
                        this.employeeAttendance.location = response.data.location
                        this.employeeAttendance.breaks_status = response.data.breaks_status
                        this.employeeAttendance.status = response.data.status
                        this.employeeAttendance.hours_worked = response.data.hours_worked
                    }
                })
            },
            timeIn(){
                if(this.form.employeeAttendance){
                    this.form.attendance_id = this.employeeAttendance.breaks_status[0].attendance_id
                }
                this.submitForm('timelog/store')
            },
            timeOut(){
                if (confirm("Are you sure you want to end your shift?")) {
                    this.submitForm('timelog/time-out')
                } 
                
            }
            
            
        }
    }
</script>

<style scoped>
    .card-body{
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0;
    }
</style>