<template>
  <th v-if="isHeader" class="vuetable-th-component-checkbox">
    <input type="checkbox" @change="toggleAllCheckbox($event)" :checked="isAllItemsInCurrentPageSelected()">
  </th>
  <td v-else class="vuetable-td-component-checkbox">
    <input type="checkbox" @change="toggleCheckbox(rowData, $event)" :checked="isSelected(rowData)">
  </td>
</template>
<script>
import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin.vue'

export default {
  name: 'vuetable-field-checkbox',
  mixins: [VuetableFieldCheckboxMixin],
  data() {
    return {
      selectedID: []
    }
  },
  methods:{
    toggleCheckbox(data, event) {
        this.vuetable.fireEvent('checkbox-toggled-custom', event.target.checked, data.id);
        this.vuetable.onCheckboxToggled(event.target.checked, this.rowField.name, data)
    }

  }
}
</script>
