<template>
    <div class="customizer-links " :class="{ open : this.open === true }" @click.prevent="toggleOpen">
        <div class="nav flex-column nac-pills">
            <a href="#" class="nav-link">
                <div class="settings">
                    <i class="fa fa-magic fa-2x"></i>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomLinks",
        computed: {
            open: {
                get(){
                    return this.$store.state.open
                },
                set(newValue){
                    return this.$store.dispatch('setOpen',newValue)
                }
            }
        },
        methods: {
            toggleOpen(){
                this.open = !this.open
            }
        }
    }
</script>

<style scoped>

</style>