<template>
  <div class="row">
    <!-- <div class="col-2">
      <button class="btn btn-secondary button" @click="sort">
        To original order
      </button>
    </div> -->
    <div class="col-12">
      <b>Drag Orders</b>
      <draggable
        class="list-group"
        tag="ul"
        v-model="form.list"
        v-bind="dragOptions"
        @change="log"
        @start="isDragging = true"
        @end="isDragging = false"
      >
        <transition-group type="transition" name="flip-list">
          <li
            class="list-group-item"
            v-for="element in form.list"
            :key="element.order"
          >
            <i
              :class="
                element.fixed ? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'
              "
              @click="element.fixed = !element.fixed"
              aria-hidden="true"
            ></i>
            {{ element.name.user_name }} - ({{ element.name.role }})
          </li>
        </transition-group>
      </draggable>
    </div>

    <rawDisplayer class="col-3" :value="form.list" title="List" />
  </div>
</template>

<script>
import draggable from "vuedraggable";
export default {
  name: "transition-example",
  display: "Transition",
  order: 6,
  props: ['data'],
  components: {
    draggable
  },
  data() {
    return {
        form: {
            list: []
        }
    };
  },
  watch: {
      data: function(newVal) {
        console.log(this.data);
        if(this.data != null){
          this.form.list = newVal.map((name, index) => {
            return { 
                    name,
                    order: index + 1 
                };
          })
        }
      }
  },
  methods: {
    // sort() {
    //   this.list = this.list.sort((a, b) => a.order - b.order);
    // }
    log: function() {
        this.$emit("sort", this.form.list);
        console.log('asdasd');
    }
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  }
};
</script>

<style>
.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>