<template>
    <div>
        <label class="fw-bold" v-on:click="transformElement()" v-if="show">{{data.comp_value}}</label>
        <b-row v-else>
            <b-col>
                <span>
                    <b-form-textarea  
                        v-if="data.transform_to == 'textarea'"
                        v-model="$v.input_value.$model"
                        :class="status($v.input_value)" 
                        placeholder="Enter something..."
                        rows="3"
                    ></b-form-textarea> 
                    
                    <b-form-datepicker  
                        v-else-if="data.transform_to == 'datepicker'"
                        v-model="$v.input_value.$model"
                        :class="status($v.input_value)" 
                        placeholder="Enter something..."
                    ></b-form-datepicker> 

                    <b-form-select 
                        v-else-if="data.transform_to == 'select'"
                        v-model="$v.input_value.$model"
                        :class="status($v.input_value)" >
                        <b-form-select-option value="" >Choose a {{data.comp_value}}</b-form-select-option>
                        <b-form-select-option 
                            v-for="option in data.additional_data" 
                            :value="option.value" 
                            :key="option.value"
                        >{{option.text}}</b-form-select-option>
                    </b-form-select>
                    <multiselect
                        v-else-if="data.transform_to == 'multiselect'"
                        track-by="text"
                        label="text"
                        v-model="$v.input_value.$model"
                        :class="status($v.input_value)"
                        :options="data.additional_data"
                        :searchable="false"
                        :multiple="true">       
                    </multiselect>
                    <b-form-input 
                        v-else
                        :type="data.transform_to"
                        :class="status($v.input_value)" 
                        v-model="$v.input_value.$model" 
                    ></b-form-input>
                    
                </span>
            </b-col>

                <span 
                    class="fa fa-check hover_btn" 
                    style="color: green; font-size: 30px;" 
                    v-on:click="edit" 
                />
                <span 
                    class="fa fa-times hover_btn" 
                    style="color: red; font-size: 30px;" 
                    v-on:click="close" 
                />
        </b-row>
    </div>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import axios from 'axios'
    import moment from 'moment'
    import Multiselect from 'vue-multiselect'

    export default {
        name:"EditElement",
        mixins: [validationMixin],
        components: { Multiselect },
        props: ["data"],
        data() {
            return {
               show:true,
               value:"",
               input_value:this.data.comp_value,
            }
        },
        validations(){
            if(this.data.required){
                return {
                    input_value: {
                        required
                    }
                }
            }
        },
        computed:{
           
        },
        created(){
        },
        mounted(){
            this.changelabel(this.data.comp_value);
        },
        methods:{
            transformElement(){
                this.show = !this.show
                this.setInputValue()
                
            },
            close(){
                if(this.data.required){
                    if(!this.$v.input_value.$error){
                        this.show = !this.show
                    }
                }else{
                    this.show = !this.show
                }
            },
            edit(){
                if(this.input_value != this.data.comp_value){
                    let form_data = new FormData();
                    
                    form_data.append("_method", "PUT");
                    form_data.append("column_name", this.data.column_name);
                    form_data.append("new_value", this.input_value);

                    axios.post(this.data.route, form_data).then((response) => {
                        let data = response.data
                        this.changelabel(this.input_value);

                        console.log(data);
                        
                        this.close();
                        this.makeToast('Success','Successfully Updated '+this.data.label,'success')
                    });
                }else{
                    this.close();
                }
            },
            changelabel(value){
                let formatted_value = value;
                if(this.data.transform_to == "datepicker"){
                    formatted_value = moment(String(value)).format('MMMM DD, YYYY')
                }
                this.data.comp_value = formatted_value;
            },
            setInputValue(){
                if(this.data.transform_to == "select"){
                    for (let value of this.data.additional_data ) {
                        if(this.data.comp_value.toLowerCase() == value.text.toLowerCase()){
                            this.input_value = value.value;
                        }
                    }
                }else if(this.data.transform_to == "datepicker"){
                     this.input_value = moment(String(this.data.comp_value)).format('YYYY-MM-DD')
                }else{
                    this.input_value = this.data.comp_value;
                }
            },
            status(validation) {
                return {
                    error: validation.$error,
                    dirty: validation.$dirty
                }
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
        }
    }
</script>

<style scoped>
    .hover_btn {
        cursor: pointer;
    }
    .dirty {
        border-color: #5A5;
        background: #EFE;
    }
    .dirty:focus {
        outline-color: #8E8;
    }
    .error {
        border-color: red;
        background: #FDD;
    }
    .error:focus {
        outline-color: #F99;
    }
</style>