<template>
    <div>
        <b-row v-if="user.employee.isEmployee" class="mt-30"  style="margin-bottom:20px">
            <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                <b>Employee Name</b>
            </b-col>
            <b-col  md="7" lg="5" class="align-left pt-9 text-no-wrap">
                <b>{{user.employee.name}}</b>
            </b-col>
        </b-row>
        <b-row v-else-if="user.id == 1" class="mt-30"  >
            <b-col md="4" lg="4" class="align-right media-left pt-9 text-no-wrap">
                <b>Employee Name</b>
            </b-col>
            <b-col md="7" lg="5">
                <b-form-group id="input-group-1" label-for="input-1">
                    <b-form-select style="border-left: solid 1.5px #ec0000"
                            id="input-1"
                            v-model="employee_id"
                            :options="employee_options"
                    ></b-form-select>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row v-else class="mt-30"  style="margin-bottom:20px" >
            <b-col class="text-center" style="background-color:rgb(208 3 3 / 26%); padding:5px; border-radius: 20px">
                <p class="h6 mb-2">
                    <b-icon
                        font-scale="2" 
                        shift-v="-4" 
                        icon="exclamation-triangle-fill" 
                        animation="throb" 
                        variant="danger">
                    </b-icon>
                    <b>User account not connected to your employee information.
                    Please contact your Administrator</b>
                </p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import axios from 'axios';
    
    export default {
        name:"EmployeeSelection",
        props: ["data"],
        data() {
            return {
                employee_options: [{text: 'Select Employee', value: null}],
                employee_id: null
            }
        },
        computed:{
            ...mapGetters({
                user: 'auth/user',
            }),
        },
        mounted(){
            if(this.user.employee.isEmployee){
                this.$emit('assignEmployeeID', this.user.employee.id)
            }else{
                axios.get('employees').then(response => {
                    response.data.forEach((employee) => {
                        this.employee_options.push({
                            text: employee.last_name + " " + (employee.middle_name == null? "": employee.middle_name + " ") + employee.first_name,
                            value: employee.id
                        });
                    });
                });
            }
        },
        watch:{
            employee_id(val){
                this.$emit('assignEmployeeID', val)
            }
        }
    }
</script>