<template>
    <body style="overflow: inherit;">
        <section class="bg-mayon-home">
            <b-img :src="require(`@/images/Home/MAYON_BG.jpg`)" class="img-mayon"></b-img>
            <b-container>
                <b-row>
                    <b-col>
                        <b-img :src="require(`@/images/Home/Mayon_Machinery.png`)" class="mayon-logo-home" />
                    </b-col>
                    <b-col>
                        <b-col md="4" class="ml-auto p-3">
                            <button type="submit" class="btn login-btn">Login</button>
                        </b-col>
                    </b-col>
                </b-row>
                <b-col md="4">
                    <p class="fs-55 mt-12rem drkgry-color"><b>Rentals,<br>Sales and Maintenance</b></p>
                </b-col>
            </b-container>
        </section>
        <section style="background-color: #7070701c;">
            <b-container style="margin-top: 2rem;">
                <b-row>
                    <b-col md="8">
                        <b-card class="container" style="margin-top: 2rem;">
                            <label class="drkgry-color fs-18"><b>Newsfeed</b></label>
                            <p></p>
                            <hr class="hr-view">
                            <b-row>
                                <b-col md="2">
                                    <div style="text-align: center;">
                                        <b-img :src="require(`@/images/user.jpg`)" class="rounded-circle text-center" style="height: 100%; width: 50%;"></b-img>
                                    </div>
                                </b-col>
                                <b-col md="10">
                                    <label class="drkgry-color fs-16"><b>THE COMPANY</b></label>
                                    <p class="drkgry-color fs-14">by <b class="s-link">HR/Admin</b> 1hr ago</p>
                                    <p class="drkgry-color fs-14">Establish on October 03, 2014, Mayon Machinery Rentrade, INC. Entered the Philippines Equipment Rentals & Sales Market....</p>
                                    <b-col>
                                        <b-img :src="require(`@/images/Home/the-company.jpg`)" class="" style="height: 100%; width: 96%;"/>
                                    </b-col>                                    
                                </b-col>
                            </b-row>
                            <p style="margin-top: 3rem;"></p>
                            <hr class="hr-view">
                            <b-row>
                                <b-col md="2">
                                    <div style="text-align: center;">
                                        <b-img :src="require(`@/images/user.jpg`)" class="rounded-circle text-center" style="height: 100%; width: 50%;"></b-img>
                                    </div>
                                </b-col>
                                <b-col md="10">
                                    <label class="drkgry-color fs-16"><b>HAPPY BIRTHDAY TO OUR PRESIDENT</b></label>
                                    <p class="drkgry-color fs-14">by <b class="s-link">HR/Admin</b> <b>Today</b></p>
                                    <p class="drkgry-color fs-14">Wishing a Happy Birthday to Our President...</p>
                                    <b-col>
                                        <b-img :src="require(`@/images/Home/happy-birthday.jpg`)" class="" style="height: 100%; width: 96%;"/>
                                    <p></p>
                                    </b-col>                                    
                                </b-col>
                            </b-row>
                        </b-card>
                        <p></p>
                    </b-col>                    
                    <b-col md="4">
                        <b-card class="container" style="margin-top: 2rem;">
                            <label class="drkgry-color fs-18"><b>Events</b></label>
                            <hr class="hr-view">
                            <div class="text-center">
                                <p class="fs-14"><b class="s-link">Login</b> to view your Events here.</p>
                            </div>
                        </b-card>
                        <p></p>
                        <b-card class="container">
                            <label class="drkgry-color fs-18"><b>Activities</b></label>
                            <hr class="hr-view">
                            <div class="text-center">
                                <p class="fs-14"><b class="s-link">Login</b> to view your Activities here.</p>
                            </div>
                        </b-card>
                    </b-col>
                </b-row>
                <hr class="hr-view" style="margin-top: 4rem;">
                <b-col>
                    <b-col md="5" class="ml-auto p-3" style="margin-top: -1rem;">
                        <p class="drkgry-color">Powered by <b>ABC SYSTEM SOLUTIONS INC. 2020</b></p>
                    </b-col>
                </b-col>
            </b-container>
        </section>
    </body>
</template>