<template>
    <b-col md="12" class="form-group">
        <b-breadcrumb :items="this.import_fields[this.imported_module].importBreadcrumb"></b-breadcrumb>
        <!-- <b-navbar class="col-12" type="secondary" variant="secondary">
            <b-navbar-brand style="color: #FFFFFF">Import {{ this.import_fields[this.imported_module].title }}</b-navbar-brand>
        </b-navbar> -->

        <b-row class="justify-content-center" style="margin-top: 2em">
            <b-col md="12">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{ name: this.import_fields[this.imported_module].data_route }" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Import {{this.import_fields[this.imported_module].title}}</span>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-30">
                    <b-col offset-md="3" md="6">
                        <b-card>
                            <b-avatar class="import" size="50px" icon="file-earmark-text" style="background-color: #55c755;"></b-avatar>
                            <span class="mr-auto span-file">From File</span>
                            <b-form-group v-if="getRoute === ''"
                                    id="input-group-1"
                                    label="Import data for"
                                    label-for="input-1"
                                >
                                <b-form-select
                                id="input-1"
                                v-model="this.import_fields[this.imported_module].data_to_import"
                                :options="employeeOptions"></b-form-select>
                            </b-form-group>
                            <b-col md="12" class="text-center mt-20">
                                <b-card-text>
                                    <drop-zone ref="myVueDropzone" id="dropZone"
                                        :options="dropzoneOptions"
                                        v-on:vdropzone-error="failed"
                                        v-on:vdropzone-success="completeFunction"/>
                                </b-card-text>
                                <a :href="getSampleTemplate" :download="getDownloadTemplate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download sample template for Import</a><br>
                                <b-card-text class="mt-50">
                                    You can import up to 1000 records through an .csv file. To import more than 100 records at a time, use a .csv file.
                                </b-card-text>
                            </b-col>
                        </b-card>
                        <b-form align="right" style="margin-top: 10px">
                            <b-overlay
                                :show="is_saving"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                            >
                                <b-button class="btn-hr-primary btn-size mr-05" v-on:click.prevent="saveImport" :disabled="import_data.length >= 0 && this.import_data.contents != undefined">Save</b-button>&nbsp;
                            </b-overlay>
                            <router-link :to="{ name: this.import_fields[this.imported_module].data_route }" style="color: #707070;"><b-button class="btn-size">Cancel</b-button></router-link>
                        </b-form>
                    </b-col>
                    <!-- <b-col md="3"></b-col> -->
                </b-row>
            </b-container>
        </b-row>
        
    </b-col>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import {exportData} from '@/mixins/export'
import Papa from 'papaparse'
import axios from 'axios'
import { formMixins } from '@/mixins/form'
import importFields from "@/assets/data/import.json"
import { mapGetters } from 'vuex'

export default {
    name: "ImportPage",
    mixins: [exportData,formMixins],
    components: {
        DropZone: vue2Dropzone
    },
    data: function(){
        return {
            dropzoneOptions: {
                url: 'https://httpbin.org/post',
                thumbnailWidth: 150,
                maxFilesize: 10.0,
                addRemoveLinks: true,
                dictRemoveFile: "Remove File",
                acceptedFiles: '.csv',
                maxFiles: 1,
                headers: { "My-Awesome-Header": "header value" },
            },
            data_to_import: 'employees',
            employeeOptions: [
                {value: 'employees',text: 'Employees'},
                {value: 'work-experience',text: 'Work Experience'},
                {value: 'education',text: 'Education'},
            ],
            import_data: [],
            is_saving: false,
            import_fields: importFields
        }
    },
    methods: {
        completeFunction(file){
            let response = JSON.parse(file.xhr.response)
            let csvString = response.files.file
            this.import_data = this.dataImport(csvString, this.import_fields[this.imported_module].template_headers)
            if(this.import_data.missing_header != "")
            {
                this.makeToast('Oopps!',"Some Headers are Missing! " + this.import_data.missing_header,'danger')
                this.$refs.myVueDropzone.removeAllFiles()


            }
            else if(this.import_data.contents.length <= 0 || this.import_data.missing_fields.includes(true)) {
                this.makeToast('Oopps!',"Please fill your import file with data",'danger')
                this.$refs.myVueDropzone.removeAllFiles()

            }
            else {
                this.makeToast('Success','Data imported success!','success')
            }
        },
        failed() {
            this.makeToast('Oopps!',"You can't upload file of this type!",'danger')
        },
        saveImport: function(){
            this.is_saving = true
            let form_data = new FormData();
            console.log(this.import_data);
            form_data.append('type',this.import_fields[this.imported_module].data_to_import)
            form_data.append('count',this.import_data.contents.length)
            for(let key in this.import_data.contents){
                let keys = Object.keys(this.import_data.contents[key])
                let values = Object.values(this.import_data.contents[key])
                for (let index = 0; index < keys.length; index++) {
                    // form_data.append(keys[index]+'_'+key,'123')
                    form_data.append(keys[index]+'_'+key,values[index])
                }
            }
            this.sendData(form_data)
        },
        sendData: function(form_data){
            axios.post(this.import_fields[this.imported_module].data_route + '/import',form_data).then((response) => {
                let data = response.data
                this.is_saving = false
                if(!response.data.error){
                    this.makeToast('Success','Data imported success!','success')
                    this.$router.replace({
                        name: this.import_fields[this.imported_module].to,
                        params: { id: data.id }
                    })
                }else{
                    this.makeToast('Oopps!','Import Failed!','danger')
                }
            })
        }
    },
    mounted(){
        console.log(this.import_fields[this.imported_module]);
    },
    computed: {
        ...mapGetters({
            imported_module: 'importedModule',
        }),
        resultCount () {
            return Object.keys(this.import_data.contents).length 
        },
        getRoute: function(){
            return this.import_fields[this.imported_module].params
        },
        getSampleTemplate: function(){
            let object = []
            switch (this.import_fields[this.imported_module].data_to_import) {
                case 'work-experience':
                     object = object.concat({
                        'EmployeeID*': '',
                        'Company*': '',
                        'StartDate*': '',
                        'EndDate*': '',
                        'Description*' : '',
                    })
                    break; 
                case 'education': 
                    object = object.concat({
                        'EmployeeID*': '',
                        'Level*': '',
                        'StartDate*': '',
                        'EndDate*': '',
                        'School*' : '',
                        'Awards*' : '',
                    })
                    break;
                default:
                    if(this.import_fields[this.imported_module].template_headers != null){
                        object = object.concat(this.import_fields[this.imported_module].template_headers);
                    }else{
                        object = object.concat({})
                    }
                    
                    break;
            }
            let blob = new Blob([Papa.unparse(object)],{type: 'text/csv;charset=utf-8;'})
            return URL.createObjectURL(blob)
        },
        getDownloadTemplate: function(){
            return this.import_fields[this.imported_module].download+'.csv'
        }
    }
}
</script>

<style>
    .b-avatar > .b-icon > .import{
        color: #62cc6a;
    }
    .b-avatar > .import {
        background-color: #FFFFFF !important;
        border: 1px solid #62cc6a;
    }
    .span-file {
        font-weight: 600;
        margin-left: 15px;
        font-size: 18px;
    }
    .btn-browse {
        width: 120px !important;
    }
</style>