<template>
    <b-row >
        <b-navbar class="col-12" type="secondary" variant="secondary">
            <b-navbar-brand style="color: #FFFFFF">Import Employee Exits</b-navbar-brand>
        </b-navbar>
        <b-row  style="margin-top: 2em">
            <b-col md="3"></b-col>
            <b-col md="6">
                <b-card>
                    <b-avatar class="import" size="50px" icon="file-earmark-text" style="background-color: #55c755;"></b-avatar>
                    <span class="mr-auto span-file">From File</span>
                    <b-form-group v-if="getRoute === ''"
                        id="input-group-1"
                        label="Import data for"
                        label-for="input-1"
                    >
                        <b-form-select
                        id="input-1"
                        v-model="data_to_import"
                        :options="employeeOptions"></b-form-select>
                    </b-form-group>
                    <b-col md="12" class="text-center mt-20">
                        

                        <b-card-text>
                            <drop-zone ref="myVueDropzone" id="dropZone" :options="dropzoneOptions" v-on:vdropzone-success="completeFunction"/>
                        </b-card-text>
                        <!-- <b-button href="#" class="btn-shadow hr-btn btn-browse">Browse</b-button><br><br><br> -->
                        <a :href="getSampleTemplate" :download="getDownloadTemplate"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download sample template for Import</a><br>
                        <b-card-text class="mt-50">
                            You can import up to 1000 records through an .xls, .xlsx, .vcf, .pdf, .docx or .csv file. To import more than 100 records at a time, use a .csv file.
                        </b-card-text>
                    </b-col>
                </b-card>
                <b-form align="right" style="margin-top: 10px">
                    <b-overlay
                            :show="is_saving"
                            rounded
                            opacity="0.6"
                            spinner-small
                            spinner-variant="primary"
                            class="d-inline-block"
                    >
                        <b-button class="btn btn-hr-primary btn-size btn-secondary" v-on:click.prevent="saveImport" :disabled="import_data.length === 0">Save</b-button>&nbsp;
                    </b-overlay>
                    <router-link :to="{name:'employee_exits'}" style="color: #707070;"><b-button class="btn btn-size btn-secondary">Cancel</b-button></router-link>
                </b-form>
            </b-col>
            <b-col md="3"></b-col>
        </b-row>
        
    </b-row>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import {exportData} from '@/mixins/export'
import Papa from 'papaparse'
import axios from 'axios'
import { formMixins } from '@/mixins/form'

export default {
    name: "Import",
    mixins: [exportData,formMixins],
    components: {
        DropZone: vue2Dropzone
    },
    data: function(){
        return {
            prop_data : {
                title: "",
                
            },
            dropzoneOptions: {
                url: 'https://httpbin.org/post',
                thumbnailWidth: 150,
                maxFilesize: 10.0,
                addRemoveLinks: true,
                headers: { "My-Awesome-Header": "header value" }
            },
            data_to_import: 'employees',
            employeeOptions: [
                {value: 'employees',text: 'Employees'},
                {value: 'work-experience',text: 'Work Experience'},
                {value: 'education',text: 'Education'},
            ],
            import_data: [],
            is_saving: false
        }
    },
    methods: {
        completeFunction(file){
            let response = JSON.parse(file.xhr.response)
            let csvString = response.files.file
            this.import_data = this.dataImport(csvString)
            console.log(this.import_data);
        },
        saveImport: function(){
            this.is_saving = true
            let form_data = new FormData();
            form_data.append('type',this.data_to_import)
            form_data.append('count',this.import_data.length)
            for(let key in this.import_data){
                let keys = Object.keys(this.import_data[key])
                let values = Object.values(this.import_data[key])
                for (let index = 0; index < keys.length; index++) {
                    // form_data.append(keys[index]+'_'+key,'123')
                    form_data.append(keys[index]+'_'+key,values[index])
                }
                
            }
            this.sendData(form_data)
        },
        sendData: function(form_data){
            axios.post('import',form_data).then((response) => {
                this.is_saving = false
                if(!response.data.error){
                    this.makeToast('Success','Employee created','success')
                    this.$router.replace({
                        name: 'employees'
                    })
                }else{
                    this.makeToast('Oopps!','Import Failed!','danger')
                }
            })
        }
    },
    computed: {
        getRoute: function(){
            return this.$route.params.data.params
        },
        getSampleTemplate: function(){
            let object = []
            switch (this.data_to_import) {
                case 'employees':
                    object = object.concat({
                        'EmployeeID*': '',
                        'LastName*': '',
                        'FirstName*': '',
                        'MiddleName*': '',
                        'BirthDate*' : '',
                        'DateHired*' : '',
                        'Gender*' : '',
                        'Designation*' : '',
                        'Department*' : '',
                        'PhoneNumber*' : '',
                        'SSS#*' : '',
                        'PHIC#*' : '',
                        'HDMF#*' : '',
                        'TIN#*' : '',
                        // 'PermanentAddress*' : '',
                        'CivilStatus*' : '',//end of personal details
                        // 'Email*' : '',
                        'CurrentAddress*' : '',
                        // 'TelephoneNumber*' : '',
                        // 'WorkPhone*' : '',
                        // 'EmergencyContact*' : '',
                        //'ContactNumber*' : '',//End of contact details
                        
                        
                        'EmployeeType*' : '',
                        'EmployeeStatus*' : '',

                        
                        // 'SourceOfHire*' : '',//End of employment details
                        // 'UserName*' : '',
                        // 'Role*' : '',
                        // 'Permission*' : '',//End of user details
                    })
                    break;
                case 'work-experience':
                     object = object.concat({
                        'EmployeeID*': '',
                        'Company*': '',
                        'StartDate*': '',
                        'EndDate*': '',
                        'Description*' : '',
                    })
                    break; 
                case 'education': 
                    object = object.concat({
                        'EmployeeID*': '',
                        'Level*': '',
                        'StartDate*': '',
                        'EndDate*': '',
                        'School*' : '',
                        'Awards*' : '',
                    })
                    break;
                default:
                    object = object.concat({})
                    break;
            }
            let blob = new Blob([Papa.unparse(object)],{type: 'text/csv;charset=utf-8;'})
            return URL.createObjectURL(blob)
        },
        getDownloadTemplate: function(){
            return this.data_to_import+'.csv'
        }
    }
}
</script>

<style>
    .b-avatar > .b-icon > .import{
        color: #62cc6a;
    }
    .b-avatar > .import {
        background-color: #FFFFFF !important;
        border: 1px solid #62cc6a;
    }
    .span-file {
        font-weight: 600;
        margin-left: 15px;
        font-size: 18px;
    }
    .btn-browse {
        width: 120px !important;
    }
</style>