<template>
    <body class="body-login" v-if="show">
        <main class="topdsgn-login">
            <div align="center" class="">
                <img src="../images/acableworks.png" class="img-top">
            </div>
        </main>
        <b-row class="pt-5rm front-login">
            <b-col sm="12" md="6" lg="6" class="text-center">
                <img src="../images/BAYANIHAN.png" width="75%" class="mr-n10">
                <p class="fs-60 drkgry-color"><b>ACTS Bayanihan</b></p>
                <p class="fs-35 mtop-n2rm drkgry-color semibold">Enterprise Management System</p>
            </b-col>
            <b-col sm="12" md="6" lg="6" class="text-center">
                <b-card class="width55 ml-12rm border-card">
                    <b-form @submit.prevent="login">
                        <b-col for="email" class="fs-16 text-left"><b>Email or Username</b></b-col>
                        <b-col>
                            <b-form-group id="input-group-1" label-for="email">
                                <b-form-input
                                        name="email"
                                        id="email"
                                        v-model="$v.form.email.$model"
                                        :state="validateState('email',$v.form)"
                                        placeholder="Enter Email"
                                ></b-form-input> 
                            </b-form-group>
                        </b-col>
                        <b-col for="password" class="fs-16 text-left"><b>Password</b></b-col>
                        <b-col>
                            <b-form-group id="input-group-2" label-for="password">
                                <b-form-input
                                        name="password"
                                        id="password"
                                        type="password"
                                        v-model="$v.form.password.$model"
                                        :state="validateState('password',$v.form)"
                                        placeholder="Enter Password"
                                ></b-form-input> 
                            </b-form-group>
                        </b-col>
                        <div class="form-group pt-2rm">
                            <div class="col-md-12">
                                <button type="submit" class="btn login-btn">
                                    Login
                                </button>
                            </div>
                        </div>
                        <b-row>
                            <b-col cols="6" style="padding-left: 3rem; margin-top: 1rem">
                                <input class="form-check-input" type="checkbox" name="remember" id="remember" >
                                <label class="form-check-label" for="remember">
                                    <b>Remember Me</b>
                                </label>
                            </b-col>
                            <b-col cols="6" class="text-right pr-2rm mt-1rem">
                                <a href="#">
                                    Forgot your password?
                                </a>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
            </b-col>
            <b-col md="12" class="footer">
                <hr class="hr1">
                <p class="p-powered fs-16">Powered by <b>ABC SYSTEM SOLUTIONS INC. 2020</b></p>
            </b-col>
        </b-row>
    </body>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import { mapActions } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins],
        name: "Login",
        data(){
            return{
                form: {
                    email: '',
                    password: ''
                },
                show: true
            }
        },
        validations: {
            form: {
                email: { required },
                password: { required }
            }
        },
        beforeDestroy(){
        },
        methods:{
            ...mapActions({
                signIn: 'auth/signIn',
                changeActiveSidebar: 'changeDefaultSystem',
                fetchSystems: 'fetchSystems', 
                fetchActiveView: 'fetchActiveView',
                fetchLoading: 'fetchLoading',
                fetchLoader: 'fetchLoader'
            }),
            login(){
                this.fetchLoading(true);
                this.fetchLoader(true);
                this.signIn(this.form).then(() => {
                    this.fetchSystems().then(()=>{
                        this.fetchActiveView();
                    });
                }).catch(() => {
                    this.fetchLoader(false);
                    this.$v.form.$touch()
                    if (this.$v.form.$anyError) {
                        this.$bvToast.toast('Username and Password are required',{
                            title: 'Login Failed',
                            variant: 'danger',
                            solid: true
                        })
                    }
                    else {
                        this.$bvToast.toast('Username or password is incorrect',{
                            title: 'Login Failed',
                            variant: 'danger',
                            solid: true
                        })
                    }
                   
                });
            },  
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            }
        }
    }
</script>

<style scoped lang="scss">
    .topdsgn-login {
        width: 100%;
        background: #fff;
        border: solid 1px #707070;
    }
    .p-powered {
       margin: 25px 50px 25px 0px;
    }
    .form-control {
        margin-top: 10px;
    }
    body.body-login { 
        background: rgb(248, 248, 248) !important;
        height: 100vh;
    }
    .front-login {
        background: #f8f8f8;
        margin-right: 0px;
        margin-left: 0px;
    }
</style>