<template>
    <b-row>
        <b-col md='6'>
            <b-button size="sm" variant="default" class="btn-manager">
                <b-icon icon="arrow90deg-up" aria-label="arrow-up" class="icon-manager"></b-icon>
            </b-button>&nbsp;
            <b-button size="sm" variant="default" class="btn-manager">
                <b-icon icon="arrow-repeat" aria-label="arrow-repeat" class="icon-manager"></b-icon>
            </b-button>&nbsp;
            <b-button size="sm" variant="default" style="background-color: #007bff;height: 35px">
                <b-icon icon="box-arrow-in-up" aria-label="arrow-up" class="icon-manager" style="color:#FFF"></b-icon>
            </b-button>&nbsp;
            <b-button size="sm" variant="default" class="btn-manager">
                <b-icon icon="folder-fill" aria-label="folder" class="icon-manager"></b-icon>
            </b-button>&nbsp;
            <b-button size="sm" variant="danger" style="height: 35px">
                <b-icon icon="trash" aria-label="trash" class="icon-manager" style="color:#FFF"></b-icon>
            </b-button> 
        </b-col>
        <b-col md="6">
            <b-input-group
            :size="md"
            >
                <b-form-input placeholder="Search"></b-form-input>
                <b-input-group-append>
                    <b-button style="background-color: #007bff;border-color: #007bff;"><span class="fa fa-search"></span></b-button>
                </b-input-group-append>
            </b-input-group>
        </b-col>
        <b-col md="12">
            <hr class="hr-file">
        </b-col>
        <b-container style="display: inline-flex;margin-bottom: 20px" >
            <!-- <b-col md="3" class="text-center">
                <b-form style="height: 90px">
                    <a>
                        <img src="../images/folder.png" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox
                id="checkbox-1"
                name="checkbox-1"
                style="margin-top: 10px"
                >
                <b class="text-file">Folder 1 {{id}}</b>
                </b-form-checkbox>
            </b-col>
            <b-col md="3" class="text-center">
                <b-form style="height: 90px">
                    <a>
                        <img src="../images/folder.png" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox
                id="checkbox-1"
                name="checkbox-1"
                style="margin-top: 10px"
                >
                <b class="text-file">Folder 2</b>
                </b-form-checkbox>
            </b-col>
            <b-col md="3" class="text-center">
                <b-form class="frame">
                    <a>
                        <img class="bg" src="../images/files.png" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox
                id="checkbox-1"
                name="checkbox-1"
                style="margin-top: 10px"
                >
                <b class="text-file">files.png</b>
                </b-form-checkbox>
            </b-col>
            <b-col md="3" class="text-center">
                <b-form class="frame">
                    <a>
                        <img class="bg" src="../images/user.jpg" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox
                id="checkbox-1"
                name="checkbox-1"
                style="margin-top: 10px"
                >
                <b class="text-file">user.png</b>
                </b-form-checkbox>
            </b-col>
        </b-container>
        <b-container style="display: inline-flex">
            <b-col md="3" class="text-center">
                <b-form class="frame">
                    <a>
                        <img class="bg" src="../images/BAYANIHAN.png" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox
                id="checkbox-1"
                name="checkbox-1"
                style="margin-top: 10px"
                >
                <b class="text-file">Bayanihan.png</b>
                </b-form-checkbox>
            </b-col> -->
            <b-col md="3" class="text-center" v-for="file in files" :key="file.id">
                <b-form class="frame">
                    <a @click="download(file.id)">
                        <img class="bg" src="" width="50%">
                    </a>
                </b-form>
                <b-form-checkbox id="checkbox-1" name="checkbox-1" style="margin-top: 10px">
                    <b class="text-file">{{file.file_name}}</b>
                </b-form-checkbox>
            </b-col>
        </b-container>
        <!-- <b-col md="12">
            <b-progress :max="max">
                <b-progress-bar variant="success" :value="values[1]" animated show-progress></b-progress-bar>
            </b-progress>
        </b-col> -->
    </b-row>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Manager",
        props: ['id'],
        data() {
            return {
                // values: [0,100,0],
                // max: 100
                files: [],
                loadFileData: false
            }
        },
        mounted(){
            this.loadFiles();
                
        },
        methods: {
            download(file_id){
                axios.get('file_manager/download/'+ file_id).then(response => {
                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                    var fileLink = document.createElement('a');
                    fileLink.href = fileURL;
                    fileLink.setAttribute('download', 'file.pdf');
                    document.body.appendChild(fileLink);
                    fileLink.click();
                });
            },
            upload(){

            },
            delete(){

            },
            loadFiles(){
                this.loadFileData = true
                axios.get('file_manager/get_attachments/'+ this.id).then(response => {
                    console.log(response.data);
                    this.files = response.data;
                    this.loadFileData = false;
                });
            }
        }
    }
</script>

<style scoped>
    .btn-manager {
        border: 1px solid rgb(112 112 112 / 27%);
        height: 35px;
    }
    .icon-manager {
        color:#707070;
        font-size: 15px !important;
    }
    .modal-header {
        background-color: #55C755;
        color: #FFF;
    }
    .close {
        float: right;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1;
        color: rgb(255, 0, 0);
        text-shadow: 0 1px 0 #fff;
        opacity: .9;
    }
    .modal-title {
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    }
    .hr-file {
        width: 100%;
    }
    .frame {  
        height: 90px;
        border: 1px solid rgb(112 112 112 / 27%);
        position: relative;
    } 
    img.bg {  
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
    .text-file {
        position: relative; 
        top: 2px;
        word-break: break-all;
    }
</style>