<template>
    <b-modal id="modal-main" size="lg" header-class="bg-hr-modal">
        <template v-slot:modal-title>
            <!-- Emulate built in modal header close button action -->
            <slot name="header">
                Default Body
            </slot>
        </template >
        <template v-slot:default="">
            <slot name="body">
                Default Body
            </slot>
        </template>
        <template v-slot:modal-footer="{  cancel }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <slot name="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" @click.prevent="checkValidity($v.benefit_form)">
                    OK
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;"  @click="cancel()">
                    Cancel
                </b-button>
            </slot>
        </template>
    </b-modal>
</template>

<script>
    export default {
        name: "Modal2"
    }
</script>

<style scoped>

</style>