<template>
    <b-modal id="modal-scoped" size="lg" header-class="bg-hr-modal">
        <template v-slot:modal-title>
            <!-- Emulate built in modal header close button action -->
            <h5>{{ title }}</h5>
        </template>
        <template v-slot:default="">
            <form ref="form">
                <template v-if="component === 'benefits'">
                    <benefit :benefit_form="$v.benefit_form"/>
                </template>
                <template v-if="component === 'export'">
                    <export/>
                </template>
                <template v-if="component === 'manager'">
                    <manager :id="data"/>
                </template>
                <template v-if="component === 'delete'">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="2" class="text-center">
                            <i class="fa fa-exclamation-triangle icon-modal-lg" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="10">
                            <b-form-group id="input-group-2" label-for="benefit_type">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{delete_form.data}}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </template>
                <template v-else>
                    <modal-content/>
                </template>
            </form>
        </template>

        <template v-slot:modal-footer="{  cancel }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <b-button size="sm" class="btn-dltmodal-size" variant="success" @click.prevent="checkValidity($v.benefit_form)">
                <div v-if="component === 'delete'">
                    Confirm
                </div>
                <div v-if="component != 'delete'">
                     OK
                </div>                   
            </b-button>
            <div v-if="component === 'delete'">
                <b-button style="background: #fff; color: #707070;" @click="cancel()" size="sm">Cancel</b-button>
            </div>
            <div v-else>
                <b-button size="sm" style="background: #fff; color: #707070;" @click="cancel()">
                    Cancel
                </b-button>
            </div>
        </template>
    </b-modal>
</template>

<script>
    import { mapActions } from 'vuex'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '../mixins/form'
    import { required } from "vuelidate/lib/validators";
    import ModalContent from './ModalContent'
    import Benefit from '../views/human_resources/organization/employees/modal/Benefits'
    import Export from './Export'
    import Manager from './Manager'
    export default {
        name: "Modal",
        mixins: [validationMixin,formMixins],
        components: {
            ModalContent,
            Benefit,
            Manager,
            Export
        },
        data(){
            return {
                title: null,
                component: null,
                data: null,
                benefit_form: {//for benefit modals
                    benefit_type: null,
                    membership_code: null,
                    joined_date: null,
                    separation_date: null,
                },
                delete_form: null,
               
            }
        },
        validations: {
            benefit_form: {
                benefit_type: {required},
                membership_code: {required},
                joined_date: {required},
                separation_date: {},
            }
        },
        mounted(){
            this.$root.$on('set-title',this.set)
        }, 
        computed:{
            getBenefits: {
                get(){
                    return this.$store.state.appendEvent
                }
            }
        },
        methods: {
            set: function (data) {
                this.title  = data.title
                this.component = data.component
                this.data = data.data
                if(data.component =='delete'){
                    this.delete_form = data.data
                }
            },
            checkValidity(form){
                if(this.component == 'delete'){
                    this.deleteForm(this.delete_form.route,this.delete_form.value,this.delete_form.route2)
                }else{
                    form.$touch()
                    console.log(form.$anyError)
                    if (form.$anyError){
                        return
                    }
                    let data = {

                        title: form.$model.benefit_type,
                        membership_code : form.$model.membership_code,
                        joined_date: form.$model.joined_date,
                        separation_date: form.$model.separation_date
                    }
                    console.log(form.$model.benefit_type)
                    this.getBenefits[0].benefits = this.getBenefits[0].benefits.concat(data)

                    for (let val in form.$model) {
                        this.$set(form.$model,val,null)
                    }

                    this.$nextTick(() => {
                        this.$v.$reset();
                        this.$bvModal.hide('modal-scoped')
                    })
                }
                
            },
            ...mapActions({
                appendEvent: 'setAppendEvent'
            })
        }
    }
</script>

<style scoped>
    
</style>