<template>
    <div>
    </div>
</template>

<script>
    import Content from '../views/human_resources/organization/employees/Create'


    export default {
        name: "ModalContent",
        props: ['components'],
        data(){
            return {
                component: null
            }
        },
        mounted() {
            switch (this.components) {
                case 'benefits':
                    this.component = Content
                    break;
            }
        },

    }
</script>

<style scoped>

</style>