<template>
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled" :class="{ pinned : this.pinned === true }">
        <div v-if="!loading">
            <label for="offcanvas-menu" class="full-screen-close"></label>
            <!--SideBar for Application-->
            <aside class="menu-container" :class="{ shown : this.shown === true }">

                <div class="menu-heading clearfix">
                    <label for="offcanvas-menu" class="close-btn" @click="closeButton">
                        <i class="fa fa-times"></i>
                    </label>
                </div><!--end menu-heading-->

                <div class="container">
                    
                    <span class="sw-label">Switch to </span>
                    <nav class="slide-menu">
                        <ul class="pt-1rm">
                            <!--<li v-for="system in systems" :key="system.id" @click.prevent="changeSystem(system.id)">
                                <a href="">
                                <i class="fa fa-folder-open"></i>{{ system.name }}</a>
                            </li>-->
                            <div v-for="system in allSystems" :key="system.id">
                                <hr style="width: 85%" v-if="system.id == 5">
                                <li @click.prevent="changeSystem(system.id)">
                                    <a href="#">
                                        <b-row md="12">
                                            <b-col md="2">
                                                <div><img src="../images/Kawani_Logo.png" v-if="system.id == 1" width="30" ></div>
                                                <div><img src="../images/kliyente_logo.png" v-if="system.id == 2" width="30" ></div>
                                                <div><img src="../images/Kamalig_Logo.png" v-if="system.id == 3" width="30" ></div>
                                                <div><img src="../images/Kartamoneda_Logo.png" v-if="system.id == 4" width="30"></div>
                                                <div><i class="fa fa-cog" v-if="system.id == 5"></i></div>
                                            </b-col>
                                            <b-col md="10" style="line-height: 1">
                                                <span>{{system.name}}</span><br><span class="semibold" style="font-size: 10px">{{system.description}}</span>
                                            </b-col>
                                        </b-row>
                                    </a>
                                </li>
                            </div>
                            
                        </ul>
                    </nav><!--end slide-menu -->
                </div>
            </aside><!--end menu-container-->
            <!--end SideBar for Application-->
            <nav id="sidebar" class="sidebar-wrapper" >
                <div class="sidebar-content" :class="{ 'no-display' : this.changed === true }" >
                    <!-- sidebar-brand  -->
                    <div class="sidebar-item sidebar-brand">
                        <h5 class="system-name"><b><a href="">{{chosenSystem.name}}</a></b></h5><br>
                    </div>
                    <div>
                        <p class="system-description">{{chosenSystem.description}}</p>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                        <router-link :to="{name: 'my_portal.view'}">
                        <div class="user-pic">
                            <b-avatar variant="primary" size="4em"></b-avatar>
                        </div>
                        </router-link>
                        <div class="user-info ">
                            <span class="user-name ">{{user.name}}</span>
                            <span class="user-role ">{{user.role}}</span>
                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-item sidebar-search">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-menu  -->
                    <div class="sidebar-item sidebar-menu">
                        <ul>
                            <template v-for="module in activeModule">
                                <li  :key="module.id" v-if="module.sub_modules.length === 0 && module.parent_module !== 'None'">
                                    <router-link :to="{ name: module.route }" >
                                        <i :class="module.icon" ></i>
                                        <span class="menu-text">{{ module.name }}</span>
                                    </router-link>
                                </li>
                                <li v-else-if="module.sub_modules.length !== 0" class="header-menu" :key="module.id">
                                    <span>{{ module.name }}</span>
                                </li>
                                <template v-for="sub_module in module.sub_modules">
                                    <li :key="sub_module.id">
                                        <router-link :to="{ name: sub_module.route }">
                                            <i :class="sub_module.icon" ></i>
                                            <span class="menu-text" :title="sub_module.name">{{ sub_module.name}}</span>
                                        </router-link>
                                    </li>
                                </template>
                            </template>
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-footer  -->
                <div class="sidebar-footer">
                    <div class="dropdown">
                    </div>
                    <div class="dropdown">
                    </div>
                    <div class="dropdown">
                    </div>
                    <div>
                        <a href="#" @click.prevent="pinnedSidebar">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </div>
                    <div class="pinned-footer">
                        <a href="#">
                            <i class="fa fa-angle-double-right" @click.prevent="pinnedSidebar"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- page-content  -->
        <router-view/>
        <!--@include('layouts.modal')-->
        <!-- page-content"  -->
    </div>
</template>

<script>
    import $ from 'jquery'
    import 'jquery-mousewheel'
    import 'malihu-custom-scrollbar-plugin'
    import { mapActions,mapGetters } from 'vuex'

    export default {
        name: "NewNavigationSidebar",
        components: {
        },
        data (){
            return{
                activeIndex: null,
                pinned: false,
            }
        },
        created() {
            window.addEventListener("resize", this.changePinned);
        },
        destroyed() {
            window.removeEventListener("resize", this.changePinned);
        },
        computed:{
            ...mapGetters({
                user: 'auth/user',
                allSystems: 'allSystems', 
                chosenSystem: 'chosenSystem',
                activeModule: 'activeModule',
                loading: 'loading',
            }),
            changed:{
                get(){
                    return this.$store.state.lazyload
                }
            },
            shown:{
                get(){
                    return this.$store.state.toggle
                },
                set(newValue){
                    return this.$store.dispatch('setToggle',newValue)
                }
            }
        },
        methods:{
            ...mapActions({
                fetchActiveSystem: 'fetchActiveSystem',
                fetchActiveView: 'fetchActiveView',
                fetchSystems: 'fetchSystems', 
            }),
            changeSystem(system_id){
                if(localStorage.getItem("activeSystem") != system_id){
                    this.fetchActiveSystem(system_id).then(() => {
                        let route = 'home'
                        switch (system_id) {
                            case 5:
                                route = 'admin.home'
                                break;
                            case 4:
                                route = 'accounting.home'
                                break;
                            case 3:
                                route = 'inventory.home'
                                break
                            case 2:
                                route = 'sales.home'
                                break
                            case 1:
                                route = 'human.home'
                                break
                            default:
                                route = 'admin.home'
                                break;
                        }
                        this.$router.replace({
                            name: route
                        })
                        this.bindScrollBar()
                    });
                }
                this.closeButton();
            },
            changePinned(e) {
                if(e.srcElement.innerHeight <= 500 || e.srcElement.innerWidth<= 1000){
                    this.pinned = true
                }else{
                    this.pinned = false
                }
            },
            closeButton(){
                let val = this.shown
                this.shown = !val
            },
            pinnedSidebar(){
                this.pinned = !this.pinned
            },
            bindScrollBar(){
                // //switch between themes
                var themes = "default-theme legacy-theme chiller-theme ice-theme cool-theme light-theme";
                $('[data-theme]').click(function () {
                    $('[data-theme]').removeClass("selected");
                    $(this).addClass("selected");
                    $('.page-wrapper').removeClass(themes);
                    $('.page-wrapper').addClass($(this).attr('data-theme'));
                });

                // switch between background images
                var bgs = "bg1 bg2 bg3 bg4";
                $('[data-bg]').click(function () {
                    $('[data-bg]').removeClass("selected");
                    $(this).addClass("selected");
                    $('.page-wrapper').removeClass(bgs);
                    $('.page-wrapper').addClass($(this).attr('data-bg'));
                });

                // toggle background image
                $("#toggle-bg").change(function (e) {
                    e.preventDefault();
                    $('.page-wrapper').toggleClass("sidebar-bg");
                });

                // toggle border radius
                $("#toggle-border-radius").change(function (e) {
                    e.preventDefault();
                    $('.page-wrapper').toggleClass("border-radius-on");
                });

                //custom scroll bar is only used on desktop
                if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    $(".sidebar-content").mCustomScrollbar({
                        axis: "y",
                        autoHideScrollbar: true,
                        scrollInertia: 300
                    });
                    $(".sidebar-content").addClass("desktop");
                }
            },
            changeText(str){
                let matches  = str.match(/\b(\w)/g);
                let acronym = matches.join('')
                return acronym
            }
        },
        mounted(){
            this.bindScrollBar()
        }
    }
</script>

<style scoped>
    .system-description {
        padding: 0 1.2rem; 
        font-size: 12px;
        word-break: break-all;
    }
    .system-name {
        margin-bottom: 0px;
        word-break: break-all;
    }
</style>