<template>
    <b-row class="justify-content-center mt-4rem mt-2rem" style="margin-top: 13rem">
        <b-col md="5" lg="3" class="align-right img-left">
            <icon :name="data.image"></icon>
        </b-col>
        <!-- {{data.import_data}} -->
        <b-col md="7" lg="7">
            <h4 class="data-20">{{data.title}}</h4>
            <b class="data-12">{{data.description}}</b>
            <b-row class="span-media-m0 mt-15px">
                <div v-if="data.allmodules == true">
                    <span>  
                        <router-link :to="{name: data.route_create}">
                            <b-button class="mr-05 data-12" variant="success">Create {{data.title}}</b-button>
                        </router-link>
                    </span>
                    <span>
                        <router-link :to="{name: data.route_import}">
                            <b-button class="data-12" style="background: #707070">Import {{data.title}}</b-button>
                        </router-link>
                    </span>
                </div>
                <span v-if="data.route_other != null">
                    <router-link :to="{name: data.route_other}">
                        <b-button class="data-12" style="background: #707070">Create {{data.other_title}}</b-button>
                    </router-link>
                </span>
                <div v-if="data.route_dropdown == true">
                    <span>  
                        <b-dropdown text="Create Office Supplies and Equipment" class="mr-05 data-12" variant="success">
                            <b-dropdown-item :to="{name: data.route_assets_create}">{{data.title1}}</b-dropdown-item>
                            <b-dropdown-item :to="{name: data.route_consumables_create}">{{data.title2}}</b-dropdown-item>
                        </b-dropdown>
                    </span>
                    <span>
                        <b-dropdown text="Import Office Supplies and Equipment" class="data-12" style="background: #707070">
                            <b-dropdown-item @click="fetchModule('assets')" :to="{name: data.route_assets_import}">{{data.title1}}</b-dropdown-item>
                            <b-dropdown-item @click="fetchModule('consumables')" :to="{name: data.route_consumables_import}">{{data.title2}}</b-dropdown-item>
                        </b-dropdown>
                    </span>
                </div>
            </b-row>
            <b-row class="span-media-m0 mt-15px"> <!--for leave settings -->
                <router-link :to="{name: data.route_setting}">
                    <a style="font-size: 16px; text-decoration: underline;"><i>{{data.settings}}</i></a>
                </router-link>
            </b-row>
        </b-col>
        <template >
            <Import style="display: none"></Import>
        </template>
    </b-row>
</template>

<script>
import {mapActions, mapGetters } from 'vuex'
import Import from '@/components/ImportPage'
import Icon from '@/components/Icon'

export default {
    name: "NoDataPage",
    props: ['data'],
    components:{
        Import,
        Icon
    },
    computed:{
        ...mapGetters({
            modules: 'auth/modules',
        }),
    },
    methods:{
        ...mapActions({
            fetchModule: 'fetchModule'
        }),
    }
}
</script>
<style>
/* .b-dropdown:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
} */
</style>