<template>
<!--EMMAN NOTIFICATIONS-->
<div class="notification-container" style="overflow-y:auto; overflow-x:hidden;"  :class="{ notif : this.notif === true }">
        <b-row class="pl-1rm pt-1rm">
            <b-col>
                Notifications
            </b-col>
            <b-col class="align-right">
                <label class="closeNotif" @click="closeNotif">
                    <i class="fa fa-times"></i>
                </label>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="align-center">
                <span :class="{ notif : this.notif === true }" @click.prevent="toggleNotif">
                    <router-link :to="{name: 'notifications'}" class="view-all-notif viewall-hover">
                        View all notifications
                    </router-link>
                </span>
            </b-col>
        </b-row>
            <ul class="pt-1rm">
                <li class="notif-hr" v-bind:class="{notif_view: notification.view_at == null}" v-for="notification in notifications" :key="notification.id">
                    <router-link @click.native="markAsView(notification.id)" :to="{ name: notification.data.route, params: {id: notification.data.id} }" style="color: #707070">
                        <b-row>
                            <b-col md="2">
                                <img src="../images/user.jpg" class="default-img" style="vertical-align: text-top">
                            </b-col>
                            <b-col md="10">
                                <div class="fs-12" style="padding-left: 10px; line-height: 1.2rem">
                                <div>
                                    <span class="ellipsis-2">
                                        <b>{{ notification.data.user_name }}</b> {{ notification.data.description }}<b> {{ notification.data.other_info }}</b>
                                    </span>
                                    <span>{{ notification.time_diff }}</span> <span> - created by: {{notification.data.created_at}}</span>
                                </div>
                                    
                                </div>
                            </b-col>
                        </b-row>
                    </router-link>
                </li>         
            </ul>
</div>
<!--END OF EMMAN NOTIFICATIONS-->
</template>

<script>
    import axios from 'axios'
    export default {
        name: "Notification",
        data() {
            return {
               notifications: []
            }
        },
        computed: {
            notif: {
                get(){
                    return this.$store.state.notif
                },
                set(newValue){
                    return this.$store.dispatch('setNotif',newValue)
                }
            }
        },
        mounted(){
                axios.get('notification/all').then((response) => {
                    this.notifications = response.data
                });
        },
        methods:{
            toggleNotif(){
                this.notif = !this.notif
            },
            closeNotif(){
                this.notif = !this.notif
            },
            markAsView(id){
                this.closeNotif();
                axios.put('notification/' + id);
            }
        }
    }
</script>