<template>
    <main  class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid p-5">
            <div class="row">
                <router-view></router-view>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        name: "PageBody"
    }
</script>

<style scoped>
.p-5{
    padding-top: 0px !important;
}
</style>