<template>
    <div class="first-sidebar"  v-bind:style="changeStyle" v-if="!loading">
        <div class="pt-1rm">
            <img v-if="chosenSystem.id == 1" :src="require('@/images/kawani_logo_sidebar.png')" width="45px">
            <img v-else-if="chosenSystem.id == 3" :src="require('@/images/kamalig_logo_sidebar.png')" width="45px">
            <img v-else-if="chosenSystem.id == 5" :src="require('@/images/settings_icon_sidebar.png')" width="45px">
        </div>
        <ul>
            <li class="content">
                <a href="#" class="menu">
                    <label for="" class="toggle-btn" title="Switch to" @click="toggleSidebar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </label>
                </a>
            </li>
            <li><router-link :to="{name:'human_resource.reports_list'}">
                <a href="#" title="Reports">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </a></router-link>
            </li>
            <!-- <li><router-link :to="{name:'human_resource.activities'}">
                <a href="#" title="Activities">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a></router-link>
            </li> -->
            <li>
                <a href="#" @click="markAsView" title="Notifications"  :class="{ notif : this.notif === true }" @click.prevent="toggleNotif">
                    <i class="fa fa-bell" aria-hidden="true"><span v-if="countNotification != '0'" class="badge badge-danger">{{ countNotification }}</span></i>
                </a>
            </li>
            <li>
                <a href="#" title="Settings">
                    <i class="fa fa-cog" aria-hidden="true" ></i>
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="signOut" title="Logout">
                    <i class="fa fa-power-off" aria-hidden="true" ></i>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import axios from 'axios'

    export default {
        name: "Sidebar",
        data(){
            return{
                countNotification: '0'
            }
        },
        computed: {
             ...mapGetters({
                chosenSystem: 'chosenSystem',
                loading: 'loading'
            }),
            status:{
                get(){
                    return this.$store.state.toggle
                },
                set(newValue){
                    return this.$store.dispatch('setToggle',newValue)
                }
            },
            changeStyle: function () {
                return {
                    background: this.chosenSystem.theme   
                }
            },
            notif: {
                get(){
                    return this.$store.state.notif
                },
                set(newValue){
                    return this.$store.dispatch('setNotif',newValue)
                }
            }
        },
        mounted(){
            axios.get('notification/unread-count').then((response) => {
                this.countNotification = response.data
                if (response.data >= 99) {
                    this.countNotification = '99+' 
                }
            });
        },
        methods:{
            ...mapActions({
                signOutAction: 'auth/signOut',
            }),
            toggleSidebar() {
                let val = this.status
                this.status = !val
            },
            toggleNotif(){
                this.notif = !this.notif
            },
            signOut() {
                this.signOutAction().then(() => {
                    localStorage.clear();
                    this.$router.replace({
                        name: 'login'
                    })
                })
            },
            markAsView() {
                this.countNotification = 0;
                axios.put('notification/mark-read');
            }
        }
    }
</script>

<style scoped>
    .badge{
        position: absolute;
        margin-top: -12px;
        margin-left: -6px;
    }
</style>