<template>
    <body>
        <main class="topdsgn-login">
            <div align="center" class="">
                <img src="../images/acableworks.png" width="10%">
            </div>
                <div class="row justify-content-center pt-12rm">
                    <div class="col-md-6 pl-15rm">
                        <img src="../images/BAYANIHAN.png" width="75%" class="mr-n10">
                        <p class="fs-60 drkgry-color mt-n1rm"><b>ACTS Bayanihan</b></p>
                        <p class="fs-35 mtop-n2rm drkgry-color semibold">Enterprise Management System {{decrypt()}}</p>
                    </div>
                    <div class="col-md-6 n-mt-4rm" style="margin-top: -6rem">
                        <div class="card width55 ml-12rm border-card">
                            <div class="card-body">
                                <form @submit.prevent="login">
                                    <!--<div class="form-group">
                                        <label for="email" class="col-md-6 col-form-label fs-16 drkgry-color"><b>Email or Username</b></label>
                                        <div class="col-md-12">
                                            <input id="email"  class="form-control " name="email" value="" v-model="form.email">
                                        </div>
                                    </div>-->
                                    
                                    <div class="text-center">
                                        <img src="../images/user.jpg" width="15%" style="border-radius: 100%"><br>
                                        <span class="bold">Hi {{form.name}}</span><br>
                                        <span>{{form.email}}</span><br>
                                        <span>{{form.role}}</span><br>  

                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="password" class="col-md-6 col-form-label fs-16 drkgry-color"><b>Password</b></label>
                                        <b-form-group id="input-group-2" label-for="password">
                                        <b-form-input
                                                name="password"
                                                id="password"
                                                type="password"
                                                v-model="$v.form.password.$model"
                                                :state="validateState('password',$v.form)"
                                                placeholder="Enter Password"
                                        ></b-form-input> 
                                        </b-form-group>
                                    </div>

                                    <div class="form-group pt-2rm">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn login-btn">
                                                Sign Up
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row pl-1rm">
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="remember" id="remember" >

                                                <label class="form-check-label drkgry-color fs-12" for="remember">
                                                    <b>Remember Me</b>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right pr-2rm">
                                            <div class="form-check">
                                                <label class="blue-color fs-12">
                                                    Forgot your password?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-footer">
                <div align="right" class="mr-10rm">
                    <p class="drkgry-color fs-16">Powered by <b>ABC SYSTEM SOLUTIONS INC. 2020</b></p>
                </div>
        </main>
    </body>
</template>

<script>
    import axios from 'axios'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import { mapActions } from 'vuex'
    export default {
        name: "Signup",
        mixins: [validationMixin,formMixins],
        data(){
            return{
                form:{
                    id: '',
                    email: '',
                    password: '',
                    name: '',
                    permission: '',
                    role:''
                },
                token: null
            }
        },
        validations: {
            form: {
                password: { 
                    required 
                }
            }
        },
        mounted(){
            this.decrypt();
            axios.get('users/first_login/'+this.token).then(response => {
               if(response.data.verified){
                    this.$router.replace({
                        name: 'login'
                    })
               }else{
                    this.form.id = response.data.data.id;
                    this.form.email = response.data.data.email;
                    this.form.name = response.data.data.name;
                    this.form.permission = response.data.data.permission;
                    this.form.role = response.data.data.role;
               }
            });
        },
        methods:{
            ...mapActions({
                signIn: 'auth/signIn'
            }),
            login(){
                let form_data = new FormData();
                form_data.append('id', this.form.id);
                form_data.append('email', this.form.email);
                form_data.append('password', this.form.password);
                form_data.append('new_user', true);

                this.signIn(form_data).then(() => {
                    this.$router.replace({
                        name: 'home'
                    })
                }).catch(() => {
                    this.$v.form.$touch()
                    if (this.$v.form.$anyError) {
                        this.$bvToast.toast('Username and Password are required',{
                            title: 'Login Failed',
                            variant: 'danger',
                            solid: true
                        })
                    }
                    else {
                        this.$bvToast.toast('Username or password is incorrect',{
                            title: 'Login Failed',
                            variant: 'danger',
                            solid: true
                        })
                    }
                   
                });
            },  
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            },
            decrypt(){
                this.token = atob(this.$route.params.token);
            }
        }
    }
</script>

<style scoped lang="scss">
    .topdsgn-login{
        height: 4rem;
        width: 100%;
        background: #fff;
        border: solid 1px #707070;
    }
    .container.nocontainer{
        padding-left: 0px;
        padding-right: 0px;
    }
    body{
        background: #f8f8f8!important; 
        height: 98vh!important;
        overflow-x:hidden;
        overflow-y:hidden;
    }
    .hr-footer{
        width: 92%;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        margin-top: 6rem!important;
    }
</style>