<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="parsedQuery.breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{ name: parsedQuery.route, params: {id: parsedQuery.id} }" ><i class="fa fa-arrow-left back-btn pl-1rm"  style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Timeline Information</span>
                    </b-col>
                </b-row>
            </b-col>
            <b-container v-if="this.parsedQuery.data.length > 0">
                <b-col v-for="logs in dateArray" :key="logs">
                    <b-row class="mt-34">
                        <b-col md="3" class="align-right my-auto">
                            <label class="fw-bold">{{ logs }}</label>
                        </b-col>
                    </b-row>
                    <b-row v-for="user in dateInfo[logs]" :key="user.id">
                        <b-col md="3" class="align-right my-auto">
                            <label>{{user.time}}</label>
                        </b-col>
                        <span class="mini-circle"><i class="fa fa-file-text align" aria-hidden="true"></i></span>                   
                        <b-col md="7" class="align-left">
                            <label class="fw-bold mb-0 text-end">{{user.subject}}</label><br>
                            <label class="mini-desc">by <b>{{user.user}}</b></label>
                        </b-col>
                    </b-row>
                </b-col>
            </b-container>
            <b-container v-else>
                <b-row>
                   <img :src="require(`@/images/nodata-found.png`)" class="mt-30" md="12"> 
                </b-row>
            </b-container> 
        </b-row>       
    </b-col>
</template>

<script>
    export default {
        name: 'Timeline',
        props: ['data'],
        data() {
            return {
                parsedQuery: null,
                dateArray: [],
                dateInfo: []
            }
        },
        mounted(){
           this.parsedQuery = JSON.parse(this.$route.query.data);
           this.sortLogs();
        },
        methods: {
            sortLogs(){
                let logs = this.parsedQuery.data;
                for(let i in logs){
                    let log_date = logs[i].date
                    if(!this.dateArray.includes(logs[i].date)){
                        this.dateArray.push(logs[i].date);
                    }
                    if(logs[i].date in this.dateInfo){
                        this.dateInfo[log_date].push(logs[i]);  
                    }else{
                        this.dateInfo[log_date] = [logs[i]]
                    }
                }
                console.log(this.dateInfo[logs]);
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}

</style>