<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row justify-content-center mt-30">

            <div class="col-md-12">
                <b-form  @submit.stop.prevent="save">
                    <div class="row ">
                        <router-link :to="{name:'permissions'}" style="color: #000"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Permissions</h5></div>
                        <b-col sm="6" md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="stay_on_page"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="admin-btn">Save</b-button>
                        </b-col>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Permission Name</b>
                        </div>
                        <div class="col-md-5">
                            <b-form-group id="permission_name" label-for="input-1">
                                <b-form-input 
                                    style="border-left: solid 1.5px #ec0000"
                                    placeholder="Permission Name"
                                    v-model="$v.form.permission_name.$model"
                                    :state="stateValidation('permission_name')">
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="col-md-4 text-right pt-14">
                            <b class="drkgry-color">Clone Permission</b>
                        </div>
                        <div class="col-md-5 mt-n1rm">
                            <b-form-group id="permission_id" label-for="input-2">
                                <div align="right">
                                    <span class="fs-12">(optional)</span>
                                </div>
                                <b-form-select
                                    v-model="clone_data"
                                    :options="options.permissions"
                                ></b-form-select>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right pt-14">
                            <b class="drkgry-color">Application</b>
                        </div>
                        <div class="col-md-5">
                            <b-form-group label="">
                               <multiselect
                                    style="border-left: solid 1.5px #ec0000"
                                    track-by="text"
                                    label="text"
                                    v-model="$v.form.systems.$model"
                                    :state="stateValidation('systems')"
                                    :options="options.systems"
                                    :searchable="false"
                                    :multiple="true">       
                                </multiselect>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Description</b>
                        </div>
                        <div class="col-md-5">
                            <b-form-group label="" label-for="description">
                                <b-form-textarea 
                                    v-model="form.description">
                                </b-form-textarea>
                            </b-form-group>
                        </div>
                    </div>
                    <!-- {{form.systems}} -->
                    <div class="container">
                        <div class="tab-permission mt-50">
                            <b-tabs v-if="form.systems != null && form.systems.length > 0"
                                    active-nav-item-class="fw-bold"
                                    active-tab-class="fw-bold"
                                    content-class="mt-3">
                                <div>
                                    <b-tab v-for="(system, systems_index) in form.systems" :key="systems_index" :title="system.text">
                                       <div v-for="(module_data, modules_index) in system.modules" :key="modules_index">
                                            <div class="row pt-1rm">
                                                <div class="col-md-2 text-right pt-9">
                                                    <p class="drkgry-color">{{module_data.name}}</p>
                                                </div>
                                                <b-form-checkbox 
                                                    name="leads-checkbox" 
                                                    v-model="form.systems[systems_index].modules[modules_index].enabled"
                                                    :value="true"
                                                    :unchecked-value="false"
                                                    switch>
                                                </b-form-checkbox>
                                                <div class="col-md-6">
                                                    <b-form-group label="">
                                                    <multiselect
                                                        track-by="description"
                                                        label="description"
                                                        v-model="form.systems[systems_index].modules[modules_index].restrictions"
                                                        :options="module_data.restriction_options"
                                                        :searchable="false"
                                                        :disabled="!form.systems[systems_index].modules[modules_index].enabled"
                                                        :multiple="true">
                                                    </multiselect>    
                                                </b-form-group>
                                                </div>
                                            </div>
                                        </div>
                                    </b-tab>
                                </div>
                            </b-tabs>
                        </div>
                    </div>
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import axios from 'axios'
    import {formMixins } from "@/mixins/form";
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    export default {
        mixins: [formMixins,validationMixin],
        components: { Multiselect },
        data() {
            return {
            breadcrumbs: [
                { html: '<span class="fa fa-home"></span>', href: '#' },
                { text: 'User Management', active: true },
                { text: 'Permissions', href: '#' },
                { text: 'New', active: true },
            ],
            stay_on_page: false,
            clone_data:null,
            options:{
                permissions:[
                    { value: null, text: "Select Permissions" }
                ],
                systems:[]
            },
            form:{
                permission_name: null,
                systems:[],
                description: null,
            }
        }
        },
        validations: {
            form: {
                permission_name:{ required },
                systems:{ required },
            }
        },
        mounted(){
            axios.get('permissions/create').then((response) => {
                let permissions = response.data.permission;
                let systems = response.data.application;

                permissions.forEach((permission) => {
                    this.options.permissions.push({
                        value: permission.id,
                        text: permission.permission_name
                    })
                });

                systems.forEach((system) => {
                    let modules = system.modules;
                    let modules_array = [];
                    modules.forEach((module) => {
                        let sub_modules = module.sub_modules;
                        sub_modules.forEach((sub_module) => {
                            modules_array.push(
                                {
                                    id: sub_module.id,
                                    name: sub_module.name,
                                    enabled: false,
                                    restriction_options: sub_module.module_functions,
                                    restrictions: [],
                                }
                            );
                        });
                    });
                    this.options.systems.push({
                        id: system.id,
                        text: system.name,
                        modules: modules_array
                    });
                });

            })
        },
        watch: {
            clone_data: function (val) {
                this.form.systems = []
                axios.get(`/system/permissions/`+val).then((response) => {
                    let systems = response.data.systems;
                    systems.forEach((system) => {
                        let sub_modules = system.content;
                        let modules_array = [];
                        sub_modules.forEach((sub_module) => {
                            modules_array.push(
                                {
                                    id: sub_module.id,
                                    name: sub_module.name,
                                    enabled: sub_module.has_permission,
                                    restriction_options: sub_module.module_functions,
                                    restrictions: sub_module.module_permission,
                                }
                            );
                        });
                        this.form.systems.push({
                            id: system.id,
                            text: system.title,
                            modules: modules_array
                        });
                    });
                });
            }
        },
        methods: {
            save(){
                this.submitForm('permissions', {stay: this.stay_on_page,route: 'permissions.view'}).then((result) => {
                    this.clone_data = null;
                    this.options.permissions.push({
                        value: result.id,
                        text: result.permission_name
                    });
                });
            }
        }
    };

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>