<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row mt-30">
            <div class="col text-left"><p class="hr-title">Permissions List</p></div>
            <div class="col text-right"><router-link :to="{name: 'permissions.create'}"><b-button class="admin-btn"><span class="fa fa-plus"></span> New</b-button></router-link></div>
        </div>
        <div class="col-md-12 mt-30" >
            <b-container class="bv-example-row">
                <!-- <b-row>
                    <b-col sm="10"></b-col>
                    <b-col sm="2">
                        <b-input-group
                        >
                            <b-form-input></b-form-input>
                            <b-input-group-append>
                                <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-col>
                </b-row> -->
            </b-container>
        </div>

        <vuetable ref="vuetable" :fields="fields" :api-mode="false" class="table-overflow" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" :sort-order="sortOrder">
            <div slot="permission_name" slot-scope="props">
                <router-link :to="{ name: 'permissions.view', params: {id: props.rowData.id} }">{{ props.rowData.permission_name }}</router-link>
            </div>
            <div slot="systems" slot-scope="props">
                <b-avatar-group >
                    <b-avatar v-for="(systems,index) in props.rowData.systems" v-bind:key="index" :text="systems.name" style="cursor: pointer;" :style="{'background-color' : systems.color}" v-b-tooltip.hover :title="systems.description"></b-avatar>
                </b-avatar-group>
            </div>
        </vuetable>
        <div style="padding-top:0px">
            <vuetable-pagination ref="pagination"
                @vuetable-pagination:change-page="onChangePage" :css="css.pagination"
            ></vuetable-pagination>
        </div>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '../../../assets/scripts/vuetable-custom'
    export default {
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return {
                color: '',
                 css: VuetableCSS,
                 breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'User Management', active:true },
                    { text: 'Permissions', href: '#'},
                    { text: 'List', active:true },
                ], 
                 fields: [
                    {
                        name: 'permission_name',
                        title: 'Permission Name',
                        sortField: 'name',
                        formatter: (value) => {
                            return "<a href='#' @click='onActionClicked' >"+value+"</a>"
                        }
                    },
                    {
                        name: 'description',
                        title: 'Permission Description',
                        sortField: 'description',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'systems',
                        title: 'Systems',
                        sortField: 'systems',
                    },
                ],
                perPage: 10,
                sortOrder: [
                    {
                        field: 'permission_name',
                        sortField: 'permission_name',
                        direction: 'asc'
                    }
                ],
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('permissions').then( response => {
                this.data = response.data
            })
            //alert('mounted')
        },
        created() {
            //alert('created')
        },
        methods: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            // onActionClicked(id) {
            //     alert(id);
            // }
        },
        computed: {
            getColor(color){
                return color
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>