<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row justify-content-center mt-30">
            <div class="col-md-12">
                <div class="row">
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{name: 'permissions'}" style="color: #707070; "><i class="fa fa-arrow-left back-btn pl-1rm"  aria-hidden="true"></i></router-link>
                        <span class="hr-title"> {{PermissionData.permission_name}}</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                        <router-link :to="{name: 'permissions.edit', params:{id:this.$route.params.id}}" ><b-button class="btn-hr-primary btn-size" style="margin-right: 5px;">Edit</b-button></router-link> 
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Department"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item ><router-link :to="{name: 'departments.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'departments.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item>
                        </b-dropdown> 
                    </b-col>
                </div>
            </div>
            <div class="container">
                <b-row>
                    <b-col md="6">
                            <div class="row">
                                <div class="col-md-4 mt-50 form-group align-right">
                                    <label>Permission Name</label>
                                </div>
                                <div class="col-md-8 mt-50 form-group align-left">
                                    <label class="fw-bold">{{PermissionData.permission_name}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 align-right">
                                    <label>Description</label>
                                </div>
                                <div class="col-md-8 align-left">
                                    <label class="fw-bold">{{PermissionData.description}}</label>

                                </div>
                            </div>
                    </b-col>
                </b-row>

            </div>
            <div class="container">
                <div class="tab-permission mt-50">
                    <b-tabs v-if="systems != null && systems.length > 0"
                            active-nav-item-class="fw-bold"
                            active-tab-class="fw-bold"
                            content-class="mt-3">
                        <div>
                            <b-tab v-for="(system, systems_index) in systems" :key="systems_index" :title="system.text">
                                <div v-for="(module_data, modules_index) in system.modules" :key="modules_index">
                                    <div class="row pt-1rm">
                                        <div class="col-md-2 text-right pt-9">
                                            <p class="drkgry-color">{{module_data.name}}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <b-form-group label="">
                                                <div>
                                                    <h5 >
                                                        <b-badge style="margin-right:4px"
                                                            variant="success"
                                                            v-for="(restriction, restriction_index) in systems[systems_index].modules[modules_index].restrictions"
                                                            :key="restriction_index">
                                                        {{ restriction.description}}
                                                        </b-badge>
                                                    </h5>
                                                </div> 
                                            </b-form-group>
                                        </div>
                                    </div>
                                </div>
                            </b-tab>
                        </div>
                    </b-tabs>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "Index",
        data(){
            return {
                breadcrumbs:[
                    {
                        html: '<span class="fa fa-home" aria-hidden="true" style="color: #1C7CD5; font-size: 20px;"></span>',
                        href: '#'
                    },
                    {
                        text: 'User Management',
                        active: true
                    },
                    {
                        text: 'Permissions',
                        href: '#'
                    },
                    {
                        text: 'View',
                        active: true
                    }
                ],
                systems: [],
                PermissionData: [],
                history_logs:null
            }
        },
         mounted(){
             axios.get(`/system/permissions/`+this.$route.params.id).then((response) => {
                    this.history_logs = response.data.history_logs;
                    this.PermissionData = response.data.permission_data;
                    let systems = response.data.systems;
                    systems.forEach((system) => {
                        let sub_modules = system.content;
                        let modules_array = [];
                        sub_modules.forEach((sub_module) => {
                            if(sub_module.has_permission){
                                modules_array.push(
                                    {
                                        id: sub_module.id,
                                        name: sub_module.name,
                                        enabled: sub_module.has_permission,
                                        restriction_options: sub_module.module_functions,
                                        restrictions: sub_module.module_permission,
                                    }
                                );
                            }
                           
                        });
                        this.systems.push({
                            id: system.id,
                            text: system.title,
                            modules: modules_array
                        });
                    });
                });
            
        },
        methods: {
            testFunc: function(text){
                 console.log(text)
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>