<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6">
                        <router-link :to="{name: 'adjustments'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Adjustment Information</span>
                    </b-col>
                    <b-col md="6" class="align-right">
                        <router-link :to="{name: 'adjustment.edit', params: {id: this.$route.params.id}}">
                            <b-button class="btn-hr-primary btn-size mr-05">Edit</b-button>
                        </router-link>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <b-dropdown-item  @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'adjustments.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'adjustments.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Employee Name</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ AdjustmentData.employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Date From</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ AdjustmentData.date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Date To</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ AdjustmentData.applicable_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Adjusted Amount</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">PHP {{ AdjustmentData.amount }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14">Reason for Adjustment</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ AdjustmentData.reason }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [formMixins,modalMixins],
        components: {
            ApprovalStatus, Approval
        },
        data() {
            return {
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Adjustments', href: '#' },
                    { text: 'View', active: true }
                ],
                approveData: [],
                approveStatus: "",
                AdjustmentData: [],
                DeleteData: [],
                TimelineData: [],
                history_logs: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Adjustment'
                }
            }
        },
        mounted(){
            axios.get('adjustment/'+this.$route.params.id).then(response => {
                let data = response.data.data;
                this.approveStatus = response.data.approved_status
                this.AdjustmentData = data;
                this.history_logs = response.data.history_logs;
                this.DeleteData = {value:this.$route.params.id,route:'adjustment/',route2:'adjustments',data:this.AdjustmentData.employee_name}
                this.TimelineData = {id: this.$route.params.id, route: 'adjustments.view'}
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
        },
        methods: {
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}    
</style>