<template>
        <div>
            <div class="row">
                <div class="col-md-4 text-right pt-9">
                    <b class="drkgry-color">Benefit Type</b>
                </div>
                <div class="col-md-5">
                    <b-form-group id="input-group-2" label-for="benefit_type">
                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                id="benefit_type"
                                :options="benefits"
                                v-model="benefit_form.benefit_type.$model"
                                :state="validateState('benefit_type',benefit_form)"
                        ></b-form-select>
                    </b-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right pt-9">
                    <b class="drkgry-color">Membership Code</b>
                </div>
                <div class="col-md-5">
                    <b-form-group id="input-group-2" label-for="membership_code">
                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                id="membership_code"
                                v-model="benefit_form.membership_code.$model"
                                :state="validateState('membership_code',benefit_form)"
                                placeholder="Enter Membership Code"
                        ></b-form-input>
                    </b-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right pt-9">
                    <b class="drkgry-color">Joined date</b>
                </div>
                <div class="col-md-5">
                    <b-form-group label="" label-for="joined_date">
                        <b-form-datepicker id="joined_date" style="border-left: solid 1.5px #ec0000"
                                           v-model="benefit_form.joined_date.$model"
                                           :state="validateState('joined_date',benefit_form)"></b-form-datepicker>
                    </b-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right pt-14">
                    <b class="drkgry-color">Separation date</b>
                </div>
                <div class="col-md-5 mt-n1rm">
                    <div align="right">
                        <span class="fs-12">(optional)</span>
                    </div>
                    <b-form-group label="" label-for="separation_date">
                        <b-form-datepicker id="separation_date"  v-model="benefit_form.separation_date.$model"
                                           ></b-form-datepicker>
                    </b-form-group>
                </div>
            </div>
        </div>

</template>

<script>
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'

    export default {
        name: "Benefits",
        props: ['benefit_form'],
        mixins: [validationMixin,formMixins],
        data(){
            return {
                benefits: [
                    {value: null, text: 'Select Benefit Type'},
                    {value: 'sss_details',text: 'SSS'},
                    {value: 'bir_details',text: 'BIR'},
                    {value: 'phic_details',text: 'PHIC'},
                    {value: 'hdmf_detais',text: 'HDMF'},
                ],
            }
        },

        methods: {
            validateState(name,form){
                let dirty = form[name].$dirty
                let error = form[name].$error
                // let { $dirty, $error } = form[name];
                return dirty ? !error : null;
            },
        }
    }
</script>

<style scoped>

</style>