<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('receivings', { stay: checked, route:'receivings.view' })">
                    <b-row>
                        <router-link :to="{name:'category'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Receive Items</h5></div>
                        <div class="col align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                            </div>
                    </b-row>
                    <b-row>
                        <b-col xs="12" sm="11" md="10" lg="11">
                            <EmployeeSelection v-on:assignEmployeeID="assignEmployee" style="margin-bottom:20px"/>
                        </b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Date Received</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            placeholder="Date Received"
                                            v-model="form.received_at"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Purchase Request</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                        v-model="form.pr_reference_number"
                                            :options="purchase_request_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Purchase Order</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                            v-model="form.po_reference_number"
                                            :options="purchase_order_options"
                                        ></b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Series Number</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            placeholder="Series Number"
                                            v-model="form.series_number"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-row>
                                <b-col xs="12" sm="12" md="5" lg="5" class="align-right media-left pt-9">
                                    <b>Supplier Name</b>
                                </b-col>   
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <b-form-group>
                                        <b-form-input style="border-left: solid 1.5px #ec0000"
                                            placeholder="Supplier Name"
                                            v-model="form.supplier"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col xs="2" sm="2" md="1" lg="1"></b-col>
                        <b-col xs="12" sm="12" md="9" lg="9">
                            <b-table hover :items="inventories" :fields="tableColumns" show-empty style="width: 100%">
                                <template v-slot:cell(inventory_name)="items">
                                    <b-form-select v-if="items.item.action" v-model="items.item.inventory_id" :options="inventory_options"></b-form-select>
                                    <label v-else>{{items.item.inventory_name}}</label>
                                </template>
                                <template v-slot:cell(quantity)="items">
                                    <b-form-input v-if="items.item.action" v-model="items.item.quantity"></b-form-input>
                                    <label v-else>{{items.item.quantity}}</label>
                                </template>
                                 <template v-slot:cell(action)="items">
                                    <b-button v-if="items.item.action" class="inventory-btn" @click="addRow(items.item)">Add</b-button>
                                    <b-button v-else class="inventory-btn" @click="removeRow(items.item)">Remove</b-button>
                                </template>
                            </b-table> 
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    // import axios from 'axios';
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import Axios from 'axios';
    import EmployeeSelection from '@/components/EmployeeSelection.vue';
import moment from 'moment';

    export default {
        mixins: [validationMixin,formMixins],
        components: {EmployeeSelection},
        data() {
            return {
                checked:false,
                selected: [],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Procurement', active:true },
                    { text: 'Category', href: '#'},
                    { text: 'New', active:true },
                ],
                tableColumns: ['inventory_name', 'quantity', 'action'],
                inventories: [
                    {
                        inventory_id: "",
                        inventory_name:"12",
                        quantity: "",
                        action:true
                    }
                ],
                form: {
                    received_by_id: null,
                    received_at: '',
                    inventories: [],
                    po_reference_number: null,
                    pr_reference_number: null
                },
                inventory_options: [
                    { value: null, text: "Select Inventory" }
                ],
                purchase_request_options: [
                    { value: null, text: "Select Purchase Request" }
                ],
                purchase_order_options: [
                    { value: null, text: "Select Purchase Order" }
                ]
            };
        },
        validations: {
            form: {
                received_by_id: {
                    required
                },
                received_at: {
                    required
                }
            }
        },
        watch: {
        },
        mounted(){
            Axios.get('receivings/create').then(response => {
                console.log(response.data)
                let data = response.data;
                data.forEach(inventory => {
                    this.inventory_options.push({
                        value: inventory,
                        text: inventory.inventory_description_data.description
                    })
                })
            });

            Axios.get('purchase_requests').then(response => {
                let data = response.data;
                data.forEach(item => {
                    this.purchase_request_options.push({
                        value: item.id,
                        text: item.pr_number + " (" + moment(String(item.date)).format("MMMM DD YYYY") + ")"
                    })
                })
            })
        },
        methods: {
            addRow(item){
                this.form.inventories.push(
                    {
                        inventory_id: item.inventory_id.id,
                        inventory_name: item.inventory_id.inventory_description_data.description,
                        quantity: item.quantity,
                        action: false
                    }
                );
                this.inventories.push(
                    {
                        inventory_id: item.inventory_id.id,
                        inventory_name: item.inventory_id.inventory_description_data.description,
                        quantity: item.quantity,
                        action: false
                    }
                );
            },
            removeRow(item){
                let indexInventory = this.inventories.findIndex(function(inventory) {
                    return inventory.inventory_id == item.inventory_id;
                });
                this.inventories.splice(indexInventory);

                let indexFormInventory = this.form.inventories.findIndex(function(inventory) {
                    return inventory.inventory_id == item.inventory_id;
                });
                this.form.inventories.splice(indexFormInventory);
            },
            assignEmployee(value){
                this.form.received_by_id = value;
            }
        }
        
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
.category_switch {
    position: relative;
    top: 7px;
}

.table.text-center * {
  text-align: center
}
</style>