<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="mt-30">
            <b-col md="6">
                <span class="hr-title">Receivings List</span>
            </b-col>
            <b-col md="6" class="align-right">
                <router-link :to="{name:'receiving.create'}">
                    <b-button class="inventory-btn mr-05"><span class="fa fa-plus"></span> New</b-button>
                </router-link>
                <b-button class="btn-size">Delete</b-button>
            </b-col>
        </b-row>
        <b-row class="mt-30">

        </b-row>
        <template v-if="data.length > 0">
            <vuetable 
                ref="vuetable" 
                :fields="fields" 
                class="table-overflow"
                :api-mode="false" 
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="received_by" slot-scope="props">
                    <router-link :to="{ name: 'receiving.view', params: {id: props.rowData.id} }">{{ props.rowData.received_by }}</router-link>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top:10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import NoData from '@/components/NoDataPage'
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
import moment from 'moment'
    export default {
        components: {
            NoData,
            Vuetable,
            VuetablePagination,
        },
        data(){
            return {
                css: VuetableCSS,
                defaultData: {
                    title: "Receiving",
                    image: "receiving",
                    description: "Receiving of Inventory capture information of receiving an item and add it on the inventory.",
                    route_create: "receiving.create",
                    route_import: "receiving.import",
                    params: "receiving",
                    allmodules: true, 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Receiving', href: '#'},
                    { text: 'List', active:true },
                ],
                data:[],
                perPage: 10,
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'received_by',
                        title: 'Received By',
                    },
                    {
                        name: 'items',
                        title: 'Item Count',
                    },
                    {
                        name: 'received_at',
                        sortField: 'Received At'
                    }
                ],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('receivings').then(response => {
                let data = response.data;
                data.forEach(receiving => {
                    let received_at = new Date(receiving.received_at);
                    this.data.push({
                        id: receiving.id,
                        received_by: receiving.user.name,
                        items: receiving.items.length,
                        received_at: moment(received_at).format('MMM DD, YYYY')
                    });
                });
                console.log(this.data);
            }); 
        },
        methods: {
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    //console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
        
    }

</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>