<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>       
        <b-form  @submit.stop.prevent="save"> 
            <b-row class="justify-content-center mt-30">
                <b-col md="12">
                    <b-row>
                        <router-link :to="{name:'pay_runs'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Pay Runs</h5></div>
                        <div class="col text-right"> <b-button type="submit" class="hr-btn"> Save</b-button></div>
                    </b-row>
                    <b-row class="pt-2rm">
                        <b-col md="4">
                            <b-card class="drkgry-color bg-card card-height">
                                <b-row>
                                    <b-col md="4" class="text-right">
                                        <b-card-text>Period</b-card-text>
                                    </b-col>
                                    <b-col md="6">
                                        <b-card-text><b>{{payruns.from_period}} - {{payruns.to_period}}</b></b-card-text>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="4" class="text-right">
                                        <b-card-text>Payable</b-card-text>
                                    </b-col>
                                    <b-col md="6">
                                        <b-card-text><b>days</b></b-card-text>
                                    </b-col>
                                </b-row>
                                <b-row class="pt-1rm">
                                    <b-col md="5" class="text-right" style="margin-top: 10px">
                                        <b-card-text>{{total_hours.toFixed(2)}}</b-card-text><br>
                                        <b-card-text class="mt-n2rm"><b>Total Hrs</b></b-card-text>
                                    </b-col>
                                    <b-col md="1">
                                        <hr class="vertical-hr">
                                    </b-col>
                                    <b-col md="5" class="text-left" style="margin-top: 10px">
                                        <b-card-text>{{total_ot_hours.toFixed(2)}}</b-card-text><br>
                                        <b-card-text class="mt-n2rm"><b>Total OT Hrs</b></b-card-text>
                                    </b-col>
                                </b-row>
                            </b-card>
                        </b-col>

                        <b-col md="2" align="center">
                            <b-card class="drkgry-color bg-card card-height">
                                <b-card-text><b>Pay Day</b></b-card-text>
                                <b-card-text>{{payruns.payable_days}}</b-card-text>
                                <!-- <b-card-text>{{pay_date}}</b-card-text> -->
                                <hr>
                                <b-card-text class="mt-n6"><b>{{payruns.total_employee}}</b>&nbsp;Employees</b-card-text>
                            </b-card>
                        </b-col>
                        
                        
                    </b-row>    
                </b-col>
            </b-row>

            <div class="pt-6rm">
            <b-tabs content-class="mt-3" nav-class="myportal-tabs">
                 <!-- Attendance Tab -->
                <b-tab title="Attendance">
                    <div class="col-md-12 mt-30">
                        <b-container class="bv-example-row">
                            <b-row>
                                <b-col sm="10"></b-col>
                                <b-col sm="2">
                                    <!-- <b-input-group
                                    :size="md"
                                    >
                                        <b-form-input></b-form-input>
                                        <b-input-group-append>
                                            <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                        </b-input-group-append>
                                    </b-input-group> -->
                                </b-col>
                            </b-row>
                        </b-container>
                    </div>
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <attendance-table 
                                :payload="getRouteData" 
                                v-on:totalBillableHours="computeTotalAttendance($event)"
                                v-on:employees="computeTotalEmployee($event)"
                                ></attendance-table>
                            <activity-attendance-table :payload="getRouteData"></activity-attendance-table>
                        </b-tabs>
                    </b-card>
                </b-tab>
                 <!-- Timesheet Tab -->
                <b-tab title="Official Business">
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <OBTable :payload="getRouteData" 
                                v-on:totalBillableHours="computeTotalAttendance($event)"
                                v-on:employees="computeTotalEmployee($event)"></OBTable>
                            <ActivityOBTable :payload="getRouteData"></ActivityOBTable>
                        </b-tabs>
                    </b-card>
                </b-tab>
                <!-- Lates and Absences Tab -->
                <b-tab title="Late & Absences">
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <lates-absent-table :payload="getRouteData"></lates-absent-table>
                            <activity-lates-absent-table :payload="getRouteData"></activity-lates-absent-table>
                        </b-tabs>
                    </b-card>
                </b-tab>
                <!-- Leave Tab -->
                <b-tab title="Employee Leave">
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <leave-table :payload="getRouteData"></leave-table>
                            <activity-leave-table :payload="getRouteData"></activity-leave-table>
                        </b-tabs>
                    </b-card>
                </b-tab>
                <!-- Overtime Tab -->
                <b-tab title="Employee Overtime">
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <overtime-table 
                                :payload="getRouteData" 
                                v-on:totalOtHours="computeTotalOT($event)"
                                v-on:employees="computeTotalEmployee($event)"
                                ></overtime-table>
                            <activity-overtime-table :payload="getRouteData"></activity-overtime-table>
                        </b-tabs>
                    </b-card>
                </b-tab>
                <!-- Holidays/Restday Work -->
                <b-tab title="Holiday/Restday Work">
                    <b-card no-body>
                        <b-tabs pills card vertical nav-class="profilecard-header">
                            <restday-holiday-table 
                                :payload="getRouteData" 
                                v-on:totalBillableHours="computeTotalAttendance($event)"
                                v-on:employees="computeTotalEmployee($event)"
                                ></restday-holiday-table>
                            <activity-restday-holiday-table :payload="getRouteData"></activity-restday-holiday-table>
                        </b-tabs>
                    </b-card>
                </b-tab>
            </b-tabs>
        </div>
        </b-form>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import AttendanceTable from './tables/AttendanceTable'
    import ActivityAttendanceTable from './tables/ActivityAttendanceTable'
    // import TimesheetTable from './tables/TimesheetTable'
    // import ActivityTimesheetTable from './tables/ActivityTimesheetTable'
    import LatesAbsentTable from './tables/LatesAbsentTable'
    import ActivityLatesAbsentTable from './tables/ActivityLatesAbsentTable'
    import LeaveTable from './tables/LeaveTable'
    import ActivityLeaveTable from './tables/ActivityLeaveTable'
    import OvertimeTable from './tables/OvertimeTable'
    import ActivityOvertimeTable from './tables/ActivityOvertimeTable'
    import RestdayHolidayTable from './tables/RestdayHolidayTable'
    import ActivityRestdayHolidayTable from './tables/ActivityRestdayHolidayTable'
    import { mapGetters } from 'vuex'
    import {formMixins } from "@/mixins/form"
    import OBTable from './tables/OBTable'
    import ActivityOBTable from './tables/ActivityOBTable'
    //import { validationMixin } from "vuelidate"
    //import { required } from "vuelidate/lib/validators"
    // import moment from 'moment'
    export default {
        mixins: [formMixins],
        name: 'Create',
        components: {
            AttendanceTable,
            ActivityAttendanceTable,
            // TimesheetTable,
            // ActivityTimesheetTable,
            LatesAbsentTable,
            ActivityLatesAbsentTable,
            LeaveTable,
            ActivityLeaveTable,
            OvertimeTable,
            ActivityOvertimeTable,
            RestdayHolidayTable,
            ActivityRestdayHolidayTable,
            OBTable,
            ActivityOBTable
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active:true },
                    { text: 'Pay Runs', href: '#' },
                    { text: 'Create', active:true },
                ],  
                payruns_overtime: [],
                incentives_summary: [
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                    },
                    {
                        name: 'total_days',
                        title: 'Total Days',
                        formatter: (value) => {
                            return value + " Day(s) "
                        }
                    },
                    {
                        name: 'accreditation',
                        title: 'Accreditation',
                        formatter: (value) => {
                            return value + " %"
                        }
                    },
                    {
                        name: 'total_incentives',
                        title: 'Total Incentives',
                    }
                ],
                contributions_summary: [
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                    },
                    {
                        name: 'sss',
                        title: 'SSS EE',
                    },
                    {
                        name: 'philhealth',
                        title: 'PHIC EE',
                    },
                    {
                        name: 'pagibig',
                        title: 'HDMF EE',
                    },
                    {
                        name: 'total',
                        title: 'Total',
                    }
                ],
                incentives_activities: [
                    {
                        name: 'employee_name',
                        title: 'Employee Name',
                    },
                    {
                        name: 'total_days',
                        title: 'Total Days',
                    },
                    {
                        name: 'accreditation',
                        title: 'Accreditation',
                    },
                    {
                        name: 'total_incentives',
                        title: 'Total Incentives',
                    }
                ],
                items: [
                    { employees_total_hours: '100:00 Hours',payment_date: 'June 15, 2020', no_of_employees: '2'}, 
                ],
                payruns: [],
                formPayroll: [],
                total_hours: 0,
                total_ot_hours: 0,
                totalEmployee: []
            }
        },
        mounted() {
            axios.get('payruns/' + this.getRouteData.start + '/' + this.getRouteData.end + '/' + this.getRouteData.pay_date).then(response => {
                this.payruns = response.data;
            });
        },
        computed: {
            ...mapGetters({
                getRouteData: 'setRouteData',
            }),
        },
        methods: {
            save() {
                axios.get('payruns/form-payroll/' + this.getRouteData.start + '/' + this.getRouteData.end + '/' + this.getRouteData.pay_date).then(response => {
                    this.formPayroll = response.data;
                    let form_data = new FormData();
                    form_data.append('start_period', this.getRouteData.start);
                    form_data.append('end_period', this.getRouteData.end);
                    form_data.append('pay_date', this.getRouteData.pay_date);

                    this.submitPayrollForm('payruns', form_data, 'pay_runs.view').then((resultPayroll) => {
                        this.formPayroll.attendance.forEach((attendance) => {
                            let form_attendance = new FormData();
                            form_attendance.append('employee_id', attendance.employee_id);
                            form_attendance.append('total_late_absent_hours', attendance.total_late_absent_hours);
                            form_attendance.append('billable_leave_hours', attendance.billable_leave_hours);
                            form_attendance.append('non_billable_leave_hours', attendance.non_billable_leave_hours);
                            form_attendance.append('total_billable_hours', attendance.total_billable_hours);
                            form_attendance.append('total_non_billable_hours', attendance.total_non_billable_hours);
                            axios.post('payruns/' + resultPayroll.id + '/payrun-items', form_attendance).then((resultItem) => {
                                this.formPayroll.overtime.forEach(ot => {
                                    if (ot.employee_id == attendance.employee_id) {
                                        ot.overtime.forEach(type => {
                                            if(type.total_hours != '0.00') {
                                                let form_ot = new FormData();
                                                form_ot.append('ot_type_id', type.overtime_type_id);
                                                form_ot.append('billable_hours', type.total_hours); 
                                                axios.post('payruns/' + resultItem.data.id + '/payrun-overtime', form_ot);
                                            }
                                        });
                                    }
                                });

                                this.formPayroll.restday_holiday.forEach(ot => {
                                    if (ot.employee_id == attendance.employee_id) {
                                        ot.restday.forEach(type => {
                                            if(type.total_hours != '0.00') {
                                                let form_ot = new FormData();
                                                form_ot.append('ot_type_id', type.restday_type_id);
                                                form_ot.append('billable_hours', type.total_hours); 
                                                axios.post('payruns/' + resultItem.data.id + '/payrun-overtime', form_ot);
                                            }
                                        });
                                    }
                                });
                                
                            });
                        });     
                    });
                });
                
            },
            computeTotalAttendance(total) {
                this.total_hours += parseFloat(total)
            },
            computeTotalOT(total) {
                this.total_ot_hours += parseFloat(total)
            },
            computeTotalEmployee(count) {
                count.forEach((employee) => {
                    if (!this.totalEmployee.includes(employee)) {
                        this.totalEmployee.push(employee)
                    }
                });
            },
            // totalTimesheets(data) {
            //     data.forEach((timesheet) => {
            //         let index = this.payrollHours.findIndex(x => x.employee_id == timesheet.employee_id);
            //         if (index >= 0 ) {
            //             let timePayroll = this.payrollHours;
            //             timePayroll[index].total_billable_hours += parseFloat(timesheet.billable_hrs)
            //             timePayroll[index].total_non_billable_hours += parseFloat(timesheet.non_billable_hrs)
            //         } else {
            //             this.payrollHours.push({
            //                 employee_id: timesheet.employee_id,
            //                 total_late_absent_hours: 0.00,
            //                 billable_leave_hours: 0.00,
            //                 non_billable_leave_hours: 0.00,
            //                 total_billable_hours: timesheet.billable_hrs,
            //                 total_non_billable_hours: timesheet.non_billable_hrs
            //             })
            //         }
            //     });
            // }
        }
    }
   
</script>

<style scoped>
.p-5 {
  padding: 0px !important;
}

.bg-card {
    background: #FBFBFB;
    border: none;
    box-shadow: 0px 2px 4px #aaaaaa;
}
.pluscircle-fill-icon {
    position: absolute;
    padding-left: 6rem;
    padding-top: 4rem;
}
.card-height {
    height: 11rem;
}
.pt-6rm {
    padding-top: 6rem;
}
</style>