<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 1">
            <div v-if="payrollStatus == null">
                <div class="row mt-30">
                    <div class="col text-left">
                        <p class="hr-title">Pay Runs from {{period}} 
                            <span  v-if="payrollStatus == 'Approved'"> - Approved</span>
                        </p>
                    </div>
                </div>
                <router-link :to="{name: 'pay_runs.create'}">
                    <b-card class="bcard"><b-table  :items="current_data" borderless></b-table>
                        <div>
                            <p class="m-left"><span> <b-icon-info-circle-fill></b-icon-info-circle-fill></span> Please approve this payroll before <b>{{ pay_date }}</b></p>
                        </div>
                    </b-card>
                </router-link>
            </div>
            <div class="mt-30">
                <b-tabs content-class="mt-3"  align="right">
                    <b-tab title="Upcoming" active>
                        <div class="row justify-content-center mt-30" >
                            <b-col md="12">
                                <b-row>
                                    <b-col sm="6">
                                        <b-button class="btn btn-light" size="md" v-b-toggle.collapse-1 style="width: auto">Filter <b-icon icon="filter-left" style="vertical-align: middle;" aria-hidden="true"></b-icon> </b-button>
                                    </b-col>
                                    <b-col sm="6">
                                        
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col sm="12">
                                        <b-collapse id="collapse-1" class="mt-12">
                                            <b-card style="padding-right:1.5rem;">
                                                <b-container class="bv-example-row">
                                                    <p class="card-text"></p>
                                                    <b-row>
                                                        <b-col>
                                                            <b-form>
                                                                <label label-align-sm="left" label-size="lg" >Year: </label>
                                                                <b-form-select @change="applyFilter($event)" class="clean-form-input" v-model="filter.year" :options="year_options" button-only></b-form-select>
                                                            </b-form>
                                                        </b-col>
                                                    </b-row>
                                                </b-container>
                                            </b-card>
                                        </b-collapse>
                                    </b-col>
                                </b-row>
                            </b-col>
                            <div class="col-md-12">
                                <vuetable ref="vuetable" 
                                    :fields="fields" 
                                    :api-mode="false" 
                                    class="table-overflow" 
                                    :data-manager="dataManager" 
                                    pagination-path="pagination" 
                                    @vuetable:pagination-data="onPaginationData"
                                    :css="css.table">
                                    
                                    <div slot="payroll_period" slot-scope="props">
                                        <router-link :to="{ name: 'pay_runs.create'}">
                                            <span v-on:click="appendDate(props.rowData.start,props.rowData.end,props.rowData.pay_date)">
                                                {{ props.rowData.payroll_period }}
                                            </span>
                                        </router-link>
                                    </div>
                                </vuetable>
                                <div style="padding-top:0px">
                                    <vuetable-pagination ref="pagination"
                                        @vuetable-pagination:change-page="onChangePage" :css="css.pagination"
                                    ></vuetable-pagination>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                    <b-tab title="History" @click="activeTabHistory()">
                        <history-table v-if="activeTab === 'history'"></history-table>
                    </b-tab>
                </b-tabs>
            </div>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template> 
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import { mapActions, mapGetters } from 'vuex'
    import HistoryTable from './History'
    export default {
        name: 'List',
        components: {
            Vuetable,
            HistoryTable,
            VuetablePagination,
            NoData
        },
        data(){
            return {
                css: VuetableCSS,
                defaultData: {
                    image: "payruns",
                    title: "Payruns",
                    description: "Payrun is the date you will disburse salaries to your employee correspond to a designated Pay Periods, which you can determine computation of employee payroll.",
                    route_create: "pay_runs.create",
                    route_import: "pay_runs.import",
                    params: "pay_runs",
                    allmodules: true 
                },
                breadcrumbs:[
                    {html: '<span class="fa fa-home"></span>',href: '#'},
                    {text: 'Payroll',active:true},
                    {text: 'Pay Runs',href: '#'},
                    {text: 'List',active:true}
                ],
                fields: [
                    {
                        name: 'payroll_period',
                        title: 'Payroll Period',
                        sortField: 'payroll_period'

                    },
                    {
                        name: 'status',
                        title: 'Status',
                        sortField: 'employee_name'
                    },
                    {
                        name: 'pay_date',
                        title: 'Pay Date',
                        sortField: 'pay_date'
                    }
                ],
                year_options: [
                    { value: '2021', text: "2021" },
                    { value: '2022', text: "2022" }
                ],
                filter: {
                    year: "2022",
                },
                data:[],
                period:'',
                pay_date:'',
                current_data:[],
                perPage: 10,
                activeTab: null,
                payrollStatus: null,
                dates: []
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        computed: {
            ...mapGetters({
                payrunsList: 'payrunsList'
            }),
        },
        mounted() {
            this.fetchPayruns();
            this.dataList(this.payrunsList);
        },
        methods: {
            applyFilter(value) {
                let url = 'payruns?year='+value;

                console.log(url);
                axios.get(url).then((response) => {
                    console.log(response.data);
                    if (response.data.length != 0) {
                        this.data = []
                        this.dataList(response.data, false, true);
                    } else {
                        this.makeToast('','No Data Retrieved with provided filter.','danger');
                    }   
                    
                })
            },
            dataList(payruns, update = true, search = false){
                for (let value of payruns) {
                    if(value['cutoff'] == 'Current' && value['approval_status'] == null){
                        if (!search) {
                            let current = {
                                employees_total_hours: value['added_info']['total_hours']+' Hrs',
                                pay_date: value['payment_date'],
                                no_of_employees: value['added_info']['employee_count'],
                            }
                            this.payrollStatus = value['approval_status'];
                            this.period = value['payroll_period']
                            this.pay_date = value['payment_date']
                            this.start_period = value['start_period']
                            this.end_period = value['end_period']
                            this.current_data = this.current_data.concat(current)
                        }
                    }
                    else{
                        let next = {
                            payroll_period: value['payroll_period'],
                            status: value['cutoff'],
                            pay_date: value['payment_date'],
                            start: value['start_period'],
                            end: value['end_period']
                        }
                        this.data = this.data.concat(next)
                    }

                    this.fetchRouteData({
                        start: this.start_period,
                        end: this.end_period,
                        pay_date: this.pay_date 
                    });
                } 

                if (update) {
                    axios.get('payruns').then((response) => {
                        if (response.data.length != payruns.length) {
                            console.log('update api');
                            this.data = []
                            this.dataList(response.data);
                        }
                    })
                }
            },
            activeTabHistory() {
                this.activeTab = 'history';
            },
            ...mapActions({
                fetchRouteData: 'fetchRouteData',
                fetchPayruns: 'fetchPayruns'
            }),
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination,set){
                console.log(set);
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                // console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            appendDate(start, end , pay_date) {
                 this.fetchRouteData({
                    start: start, 
                    end: end, 
                    pay_date: pay_date
                });
            }
        },
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}

</style>