<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                        <router-link :to="{name: 'pay_runs'}" ><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Payroll {{ periodData.payroll_period }}</span>
                    </b-col>
                    <b-col sm="6" md="6" lg="6" class="align-right">
                        <b-button class="btn-hr-primary btn-size hide-edit" style="margin-right: 5px;">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item style="display: none;" class="show-edit">Edit</b-dropdown-item>
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <b-dropdown-item  @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item>Print</b-dropdown-item>
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="6">
                        <b-row>
                            <b-col md="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Payroll Period</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ periodData.payroll_period }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Pay Date</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ periodData.pay_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Created By</label>
                            </b-col>
                            
                            <b-col md="7" class="form-group align-left">
                                <b-avatar size="sm"></b-avatar>&nbsp;&nbsp;
                                <span class="bold">{{ created_by }}</span><br>
                                <span class="">{{ created_date }}</span>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="5" class="form-group align-right media-left mb-0">
                                <label class="fs-14">Payable Days</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">10</label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                    <b-col md="6">
                        
                        <b-row>
                            <b-col md="10">
                            <ApprovalStatus :data="approveData"></ApprovalStatus>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>

                <b-tabs content-class="mt-3" class="mt-50">
                    <total-hours-table :payload="$route.params.id" ></total-hours-table>
                </b-tabs>

            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    import TotalHoursTable from './ShowTab/PayrollComputation'
    export default {
        mixins: [formMixins,modalMixins],
        components: {
            ApprovalStatus,
            Approval,
            TotalHoursTable
        },
        data() {
            return {
                breadcrumbs:[
                    {html: '<span class="fa fa-home"></span>',href: '#'},
                    {text: 'Payroll',active:true},
                    {text: 'Pay Runs',href: '#'},
                    {text: 'View',active:true}
                ],  
                // psHeader: [
                //     {
                //         name: 'name',
                //         title: 'Name',
                //         sortField: 'name'

                //     },
                //     {
                //         name: 'basic_salary',
                //         title: 'Basic Salary',
                //         sortField: 'basic_salary'
                //     },
                //     {
                //         name: 'allow',
                //         title: 'Allow',
                //         sortField: 'allow',
                //     },
                //     {
                //         name: 'no_of_days',
                //         title: 'No. of Days',
                //         sortField: 'no_of_days'
                //     },
                //     {
                //         name: 'adj',
                //         title: 'ADJ',
                //         sortField: 'adj'
                //     },
                //     {
                //         name: 'per_day',
                //         title: 'Per Day',
                //         sortField: 'per_day'
                //     },
                //     {
                //         name: 'per_hour',
                //         title: 'Per Hr',
                //         sortField: 'per_hour'
                //     },
                //     {
                //         name: 'ot_pay',
                //         title: 'OT Pay',
                //         sortField: 'ot_pay'
                //     },
                //     {
                //         name: 'gross',
                //         title: 'Gross',
                //         sortField: 'gross'
                //     },
                //     {
                //         name: 'tax',
                //         title: 'Tax',
                //         sortField: 'tax'
                //     },
                //     {
                //         name: 'sss_ee',
                //         title: 'SSS EE',
                //         sortField: 'sss_ee'
                //     },
                //     {
                //         name: 'phic_ee',
                //         title: 'PHIC EE',
                //         sortField: 'phic_ee'
                //     },
                //     {
                //         name: 'hdmf_ee',
                //         title: 'HDMF EE',
                //         sortField: 'hdmf_ee'
                //     },
                //     {
                //         name: 'net_pay',
                //         title: 'NET PAY',
                //         sortField: 'net_pay'
                //     },
                // ],
                // dataPayrollSummary: [
                //     {   
                //         'name' : 'John Michael Langan', 
                //         'basic_salary' : '26,000.00', 
                //         'allow' : '0', 
                //         'no_of_days' : '0',
                //         'adj' : '0',
                //         'per_day' : '0',
                //         'per_hour' : '0',
                //         'ot_pay' : '0',
                //         'gross' : '0',
                //         'tax' : '0',
                //         'sss_ee' : '0',
                //         'phic_ee' : '0',
                //         'hdmf_ee' : '0',
                //         'net_pay' : '0',
                //     },
                // ],
                periodData: [],
                approveData: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Pay runs'
                },
                created_by: null,
                created_date: null,
                history_logs: [],
            }
        },
        mounted(){
            axios.get('payruns/'+this.$route.params.id).then(response => {
                this.periodData = response.data.data;
                this.approveData = response.data;
                let logs  = response.data.data.history_logs[0];
                this.created_by = logs.user;
                this.created_date = logs.date + ' ' + logs.time;
                if (response.data.approver != null) {
                    this.approver = response.data.approver.approver;
                    this.actionData.model = response.data.approver.model
                } 
            });

            
        },
        methods: {
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}    
</style>