<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <router-link :to="{name:'employee_attendance'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                    <div class="col text-left"><h5 class="form-head">Employee Attendance List</h5></div>
                </b-row>
            </b-col>
        </b-row>
        <b-form @submit.stop.prevent="importAttendance()">
            <div class="pt-2rm">
                <b-row>
                    <b-col>
                    <b-form-file
                        v-model="import_file"
                        :state="Boolean(import_file)"
                        placeholder="Choose a file or drop it here..."
                        drop-placeholder="Drop file here...">
                    </b-form-file>
                    </b-col>
                    <b-button 
                        variant="success" 
                        class="mr-05 aligh-right" 
                        size="sm"
                        type="submit">
                    <b-icon icon="upload"></b-icon> Upload
                    </b-button>
                </b-row>
                <vuetable
                    ref="vuetables" 
                    :fields="fields" 
                    :api-mode="false" 
                    class="table-overflow"
                    :data-manager="dataManager" 
                    pagination-path="pagination" 
                    @vuetable:pagination-data="onPaginationData"
                    :css="css.table"
                    :sort-order="sortOrder">
                        <div slot="Date" slot-scope="props">
                        <div class="outline" v-b-toggle="'accordion' + props.rowIndex" >
                            <b block >{{ props.rowData.Date }}</b> 
                            <b-icon icon="caret-down-fill" class="when-closed right"></b-icon>
                            <b-icon icon="caret-up-fill" class="when-open right"></b-icon> 
                        </div>
                        <div>
                            <b-collapse :id="'accordion'+props.rowIndex" class="mt-2">
                                <vuetable :ref="'vuetable'+props.rowIndex"
                                    pagination-path="pagination"
                                    :css="css.table"
                                    :api-mode="false"
                                    :data="props.rowData.attendance"
                                    :fields="innerFields">
                                    <div slot="user_id" slot-scope="preps" class="ellipsis">
                                        <p v-if="preps.rowData.employee != ''" >{{preps.rowData.employee}}</p>
                                        <p v-else>{{preps.rowData.user_id}}</p>
                                    </div>
                                    <div slot="verified" slot-scope="preps" class="ellipsis">
                                        <p v-if="preps.rowData.verified" ><b-icon icon="check2-circle" ></b-icon> {{preps.rowData.description}}</p>
                                        <p v-else><b-icon icon="exclamation-circle"></b-icon> {{preps.rowData.description}}</p>
                                    </div>
                                </vuetable>
                            </b-collapse>
                        </div>
                    </div>


                </vuetable>
                <div style="padding-top:0px">
                    <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                </div>
            </div>
        </b-form>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    // import moment from 'moment'
    import { mapActions } from 'vuex'

    export default {
        mixins: [validationMixin,formMixins],
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Employee Attendance', href: '#' },
                    { text: 'Import', active: true },
                ],
                sortOrder: [
                    {
                        field: 'process_name',
                        sortField: 'process_name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {
                        name: 'Date',
                        title: 'Date',
                        sortField: 'Date',
                    }
                ],
                innerFields: [ 
                    {
                        name: 'user_id',
                        title: 'Employee',
                        sortField: 'user_id',
                        width: "15%",
                    },
                    {
                        name: 'time_in',
                        title: 'Time In',
                        sortField: 'time_in',
                        width: "15%",
                    },
                    {
                        name: 'time_out',
                        title: 'Time Out',
                        sortField: 'time_out',
                        width: "15%",
                    },
                     {
                        name: 'verified',
                        title: '',
                        width: "15%",
                    }
                ],
                perPage: 10,
                presentData: [],
                import_file: null
            }
        },
        watch: {
            import_file(val){
                console.log(val)
                this.fetchLoader(true);
                let form_data = new FormData();
                form_data.append('file', val);
                this.presentData = [];
                axios.post('biometrics/attendance', form_data)
                .then((response) => {
                    if(response.data.success){
                        let dates = Object.keys(response.data.attendance);
                        dates.forEach((date) => {
                            this.presentData.push(
                                {
                                    "Date": date,
                                    "attendance": response.data.attendance[date]
                                }
                            );
                        });
                        this.$refs.vuetables.refresh();
                        this.fetchLoader(false);
                        this.makeToast('Success','Successfully Fetched Data','success');
                    }else{
                        this.fetchLoader(false);
                        this.makeToast('Error',response.data.error_desc,'danger');
                    }
                    
                });
            }
        },
        mounted(){
           
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }),
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)

            },
            onChangePage(page){
                this.$refs.vuetables.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.presentData.length < 1) return;
                let local = this.presentData;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetables.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            importAttendance(){
                let form_data = new FormData();
                form_data.append('data', JSON.stringify(this.presentData));
                axios.post('biometrics/attendance/import', form_data).then((response)=>{
                    console.log(response)
                    this.presentData = response.data;
                    this.$refs.vuetables.refresh();
                    this.makeToast('Success','Successfully Imported','success')
                });
                // let f_data = [];
                // this.presentData.forEach((data) => {
                //     f_data[]
                // });
            },
            makeToast(title, message, variant = null){
                this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
        
    }
   
</script>