<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-row>
                    <router-link :to="{name:'employee_attendance'}"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                    <div class="col text-left"><h5 class="form-head">Employee Attendance List</h5></div>
                    <router-link :to="{name: 'employee_attendance.import'}"><b-button class="btn-hr-primary text-no-wrap" style="box-shadow: 2px 2px #00000016;"><span class="fa fa-plus"></span> Import</b-button></router-link>
                </b-row>
                <b-row class="pt-2rm">
                    <b-col xs="12" sm="12" md="4" lg="4" style="margin-bottom: 5px">
                        <b-card class="bg-card card-height align-center">
                            <h1 class="h1-attendance">{{ currentTime }}</h1>
                            <h5>{{ dateTimeNow | moment }}</h5>
                        </b-card>
                    </b-col>

                    <b-col xs="12" sm="12" md="4" lg="4" style="margin-bottom: 5px">
                        <b-card class="bg-card card-height">
                            <b-row>
                                <b-col xs="12" sm="12" md="3" lg="3" class="mb-3">
                                    <b-icon class="icon-employees" icon="person-fill" font-scale="4"></b-icon>
                                </b-col>
                                <b-col xs="12" sm="12" md="9" lg="9" class="mb-3">
                                    <h1 class="h1-employees align-left">{{ present_employee_count }}</h1>
                                    <h5>Present Employees</h5>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col>
                    
                    <b-col xs="12" sm="12" md="4" lg="4">
                        <b-card class="bg-card card-height">
                            <b-row>
                                <b-col xs="12" sm="12" md="4" lg="4" class="text-right">
                                    <b-icon icon="person-fill" font-scale="3"></b-icon>
                                </b-col>
                                <b-col xs="12" sm="12" md="8" lg="8" class="mb-3">
                                    <h4>{{ absent_count }}</h4>
                                    <h5>Absent</h5>
                                </b-col>
                            </b-row>
                            <hr class="hr-attendance">
                            <b-row>
                                <b-col xs="12" sm="12" md="4" lg="4" class="text-right">
                                    <b-icon icon="person-fill" font-scale="3"></b-icon>
                                </b-col>
                                <b-col xs="12" sm="12" md="8" lg="8" class="mb-3">
                                    <h4>{{ leave_count }}</h4>
                                    <h5>On Leave</h5>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col>
                </b-row>    
            </b-col>
        </b-row>
                   
        <div class="pt-6rm">
            <b-tabs content-class="mt-3" nav-class="myportal-tabs">
                <b-tab :title='dateNow' active>
                    <b-row class="mt-30">
                        <b-col md="6" lg="9"></b-col>
                        <b-col xs="12" sm="12" md="6" lg="3">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                    <vuetable
                        ref="vuetable" 
                        :fields="attendanceFields" 
                        :api-mode="false" 
                        class="table-overflow mt-20"
                        :data-manager="dataManager"
                        :data="presentData"
                        pagination-path="pagination" 
                        :sort-order="sortOrder"
                        @vuetable:pagination-data="onPaginationData"
                        :css="css.table">
                        <div slot="employee_name" slot-scope="props">
                            <b-avatar style="margin-right: 10px"></b-avatar>
                            <router-link :to="{ name: 'employee_attendance.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link><p class="mini-desc-att"><b>{{ props.rowData.position }}</b></p>
                        </div>
                        <div slot="time_out" slot-scope="props">
                            {{ (props.rowData.time_out == null ? '-' : props.rowData.time_out) }}
                        </div>
                        <div slot="break" slot-scope="props">
                            <div v-if="props.rowData.break.length <= 0">-</div>
                            <div v-else>
                                <div v-for="breakData in props.rowData.break" v-bind:key="breakData">                                
                                    <div v-if="breakData != null">
                                        {{ ( breakData.type == 'in' ?  breakData.time : '' ) + ' - ' + ( breakData.type == 'out' ?  breakData.time : '')  }}
                                    </div>
                                    <div v-else>-</div>                      
                                </div>
                            </div>
                        </div>
                        <div slot="rendered_hours" slot-scope="props">
                            {{ (props.rowData.time_out == null ? '00:00' : props.rowData.rendered_hours + ' hours') }}
                        </div>
                    </vuetable>
                    <vuetable-pagination ref="paginationData" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                </b-tab>
                <b-tab title="History">
                    <b-row class="mt-30">
                        <b-col md="6" lg="9"></b-col>
                        <b-col xs="12" sm="12" md="6" lg="3">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                    <vuetable ref="vuetableInner"
                        pagination-path="paginationInner"
                        :data="historyData"
                        :data-manager="dataManagerInner"
                        :css="css.table"
                        :api-mode="false"
                        class="table-overflow"
                        :fields="fields">
                        <div slot="Date" slot-scope="props">
                            <div class="outline" v-b-toggle="'accordion' + props.rowData.id">
                                <b block>{{ props.rowData.Date }}</b> 
                                <b-icon icon="caret-down-fill" class="when-closed right"></b-icon>
                                <b-icon icon="caret-up-fill" class="when-open right"></b-icon>
                            </div>
                            <b-collapse :id="'accordion'+props.rowData.id" class="mt-2">
                            <vuetable
                                :data-manager="dataManager"
                                pagination-path="pagination"
                                @vuetable:pagination-data="onPaginationData"
                                :css="css.table"
                                :api-mode="false"
                                :data="props.rowData.attendance"
                                :fields="innerFields">
                                <div slot="employee_name" slot-scope="props">                                    
                                    <b-avatar style="margin-right: 10px"></b-avatar>
                                    <router-link :to="{ name: 'employee_attendance.view', params: {id: props.rowData.id} }"> {{ props.rowData.employee_data.last_name }}, {{ props.rowData.employee_data.first_name }}</router-link><p class="mini-desc-att"><span class="bold">{{props.rowData.employee_data.job_details.employee_designation.name}}</span></p>
<!-- 
                                    {{ props.rowData.employee_data.last_name }}, {{ props.rowData.employee_data.first_name }}
                                    <p class="mini-desc-att"><span class="bold">{{props.rowData.employee_data.job_details.employee_designation.name}}</span></p> -->
                                </div>
                                <div slot="time_in" slot-scope="props">
                                    {{ props.rowData.start_time }}
                                </div>
                                <div slot="time_out" slot-scope="props">
                                    {{ props.rowData.end_time == null ? '-' : props.rowData.end_time }}
                                </div>
                                <div slot="break" slot-scope="props">
                                    <div v-if="props.rowData.break.length <= 0">-</div>
                                    <div v-else>
                                        <div v-for="breakData in props.rowData.break" v-bind:key="breakData">
                                            <div v-if="breakData != null">
                                                {{ ( breakData.type == 'in' ?  breakData.time : '' ) + ' - ' + ( breakData.type == 'out' ?  breakData.time : '')  }}
                                            </div>
                                            <div v-else>-</div>                      
                                        </div>
                                    </div>
                                </div>
                                <div slot="rendered_hours" slot-scope="props">
                                    {{ (props.rowData.end_time == null ? '00:00' : props.rowData.render_hrs + ' hours') }}                                            
                                </div>
                            </vuetable>
                            </b-collapse>
                        </div>
                    </vuetable>
                    <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                </b-tab>
            </b-tabs>
        </div>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import moment from 'moment'
    export default {
        name: 'Create',
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return {
                dateTimeNow: [],
                currentTime: null,
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Employee Attendance', href: '#' },
                    { text: 'List', active: true },
                ],
                sortOrder: [
                    {
                        field: 'process_name',
                        sortField: 'process_name',
                        direction: 'asc'
                    }
                ],
                attendanceFields: [
                    {                        
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        width: "30%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_in',
                        title: 'Time In',
                        sortField: 'time_in',
                        width: "15%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_out',
                        title: 'Time Out',
                        sortField: 'time_out',
                        width: "15%",
                        formatter: (value) => {
                            return value 
                        }
                    },
                    // {
                    //     name: 'break',
                    //     title: 'Breaks',
                    //     sortField: 'break',
                    //     width: "25%",
                    //     formatter: (value) => {
                    //         return value 
                    //     }
                    // },
                    {
                        name: 'rendered_hours',
                        title: 'Rendered Hours',
                        sortField: 'rendered_hours',
                        width: "25%",
                        formatter: (value) => {
                            return value 
                        }
                    },
                ],
                fields: [
                    {
                        name: 'Date',
                        title: 'Date',
                        sortField: 'Date',
                    }
                ],
                innerFields: [ 
                    {                        
                        name: 'employee_name',
                        title: 'Employee Name',
                        sortField: 'employee_name',
                        width: "30%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_in',
                        title: 'Time In',
                        sortField: 'time_in',
                        width: "15%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_out',
                        title: 'Time Out',
                        sortField: 'time_out',
                        width: "15%",
                        formatter: (value) => {
                            return value 
                        }
                    },
                    // {
                    //     name: 'break',
                    //     title: 'Breaks',
                    //     sortField: 'break',
                    //     width: "25%",
                    //     formatter: (value) => {
                    //         return value 
                    //     }
                    // },
                    {
                        name: 'rendered_hours',
                        title: 'Rendered Hours',
                        sortField: 'rendered_hours',
                        width: "25%",
                        formatter: (value) => {
                            return value
                        }
                    },
                ],
                perPage: 10,
                leave_count: "",
                absent_count: "",
                present_employee_count: "",
                timeNow: [],
                dateNow: [],
                presentData: [],
                historyData: [],
                contentID: [],
                history: [],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
                this.$refs.vuetableInner.refresh();
            }
        },
        created() {
            this.currentTime = moment().format('LTS');
            setInterval(() => this.updateCurrentTime(), 1 * 1000);
        },
        mounted(){
            axios.get('attendance', {
                params: {
                    max: 15
                }
            }).then( response => {   
                this.dateNow = moment().format('LL'); 
                this.timeNow = moment().format('LTS');
                this.leave_count = response.data.onleave_count;
                this.absent_count = response.data.absent_count;
                this.present_employee_count = response.data.present_employee_count;
                this.historyData = response.data.history_attendance
                for (let data of response.data.history_attendance){
                    this.contentID[data.id]=data;
                }
                let present_day = response.data.present_employee_today_list;
                present_day.forEach(present => {
                    this.presentData.push({
                        id: present.id,
                        employee_name: present.employee_data.last_name + ", " + present.employee_data.first_name,
                        // time_in: moment(String(present.start_time)).format('hh:mm A'),
                        // time_out: present.end_time == null ? '-' : moment(String(present.end_time)).format('hh:mm A'),
                        time_in: present.start_time,
                        time_out: present.end_time,
                        // break: present.break,
                        rendered_hours: present.render_hrs,
                        position: present.employee_data.job_details.employee_designation.name,
                    });
                });
                
            })
        },
        filters: {
            moment: function (dateTimeNow) {
                return moment(dateTimeNow).format('dddd, MMMM DD, YYYY');
            },
            moments: function (timeToday) {
                return moment(timeToday).format('h:mm:ss A');
            },
        },
        methods: {
            moment: function () {
                return moment();
            },
            moments: function () {
                return moment();
            },
            updateCurrentTime() {
                this.currentTime = moment().format('LTS');
            },
            hourFormat(value) {
               return moment(String(value)).format('HH:MM')
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            onPaginationData(tablePagination) {
                this.$refs.paginationData.setPaginationData(tablePagination),
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.presentData.length < 1) return;
                let local = this.presentData;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            dataManagerInner(sortOrder,pagination){
                if (this.historyData.length < 1) return;

                let local = this.historyData;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetableInner.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        },
        
    }
   
</script>

<style scoped>
.p-5 {
  padding: 0px !important;
}
.h1-attendance {
    font-weight: 600;
    letter-spacing: 2px;
    margin: 1rem 0;
}
.h1-employees{
    margin: 1rem 0;
    font-weight: 600;
    letter-spacing: 2px;
}
.icon-employees {
    margin: 1rem 0;
}
.icon-emp {
    margin: 0.8rem 0;
}
.hr-attendance {
    margin: -15px 0 15px 0;
}
.bg-card {
    background: #FBFBFB;
    border: none;
    box-shadow: 0px 2px 4px #aaaaaa;
}
.pluscircle-fill-icon {
    position: absolute;
    padding-left: 6rem;
    padding-top: 4rem;
}
.card-height {
    height: 11rem;
}
.pt-6rm {
    padding-top: 6rem;
}
.mini-desc {
    font-size: 12px;
    position: relative;
    margin-bottom: 0px;
    margin-left: 45px;
}
</style>