<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <div class="col-md-6">
                        <router-link :to="{ name: 'employee_attendance' }"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">{{ employee_no }} - {{ date }}</span>
                    </div>
                    <div class="col-md-6 align-right">
                        <!-- <router-link :to="{name: 'human_resource.onboarding.convert'}" style="color: #707070; "><b-button class="hr-btn btn-size" style="margin-right: 5px;">Convert</b-button></router-link> -->
                        
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item>Edit</b-dropdown-item>
                            <b-dropdown-item>Print</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Employee Attendance"' component="delete">Delete</b-dropdown-item>
                            <b-dropdown-item><router-link :to="{name : 'employee_attendance.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'employee_attendance.view', data: history_logs})}}">Timeline</router-link></b-dropdown-item>
                        </b-dropdown>
                    </div>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="5">
                        <b-row class="mt-50">
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Employee Name</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Date</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Time In</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ time_in }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Last Time Out</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ time_out }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Total Rendered</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{ total_hours }} hr/s</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right media-left">
                                <label>Device </label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">Mobile App QR Code</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="12" class="form-group align-right media-left">
                                <label class="fw-bold">Lunch Breaks - 12:00 pm - 12:30 pm (30 mins)</label>
                            </b-col>
                        </b-row> -->
                    </b-col>
                    <!-- <b-col md="6">
                        <b-col md="12" class="mt-50">
                            <b-row>
                                <b-col md="2" class="form-group">
                                    <label>Device</label>
                                </b-col>
                                <b-col md="10" class="form-group">
                                    <label class="fw-bold">Mobile QR</label>
                                </b-col>
                            </b-row>
                            <b-card>
                                <b-row>
                                    <b-col sx="12" sm="12" md="3" lg="3">
                                        <div style="text-align: center;">
                                            <b-icon icon="geo-alt" animation="fade" font-scale="4"></b-icon>
                                        </div>
                                    </b-col>
                                    <b-col xs="12" sm="12" md="9" lg="9" class="locator-attendance">
                                        <label class="fs-16 fw-bold" style="margin-top: 5px">Acts Office</label><br>
                                        <label class="fs-14 fw-600">{{ location }}</label>
                                    </b-col>
                                </b-row>
                            </b-card>
                        </b-col>
                    </b-col> -->
                </b-row>
            </b-container>
            
            <b-tabs class="mt-50 col-12">
                <b-tab title="Attendance Logs" active>
                    <div class="row justify-content-center margin-top">
                        <div class="col-md-12">
                            <vuetable ref="vuetable"
                                :fields="fields"
                                :api-mode="false"
                                class="table-overflow"
                                :data-manager="dataManager"
                                pagination-path="pagination"
                                @vuetable:pagination-data="onPaginationData"
                                :css="css.table"
                                >
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                            </div>
                        </div>
                    </div>
                </b-tab>
                <!-- <b-tab title="Attachment">
                    <vuetable ref="vuetable" :fields="attachment" :data="data" :api-mode="false" :css="css.table" ></vuetable>
                </b-tab> -->
            </b-tabs>     
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import moment from 'moment'
    
    export default {
        name: "Show",
        mixins: [modalMixins],
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Time Attendance', active: true },
                    { text: 'Employee Attendance', href: '#' },
                    { text: 'View', active: true },
                ],                
                fields: [ 
                    {
                        name: 'time_in',
                        title: 'Time In',
                        sortField: 'time_in',
                        width: "15%",
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'time_out',
                        title: 'Time Out',
                        sortField: 'time_out',
                        width: "15%",
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'rendered_hours',
                        title: 'Rendered Hours',
                        sortField: 'rendered_hours',
                        width: "25%",
                        formatter: (value) => {
                            return value
                        }
                    },
                ],
                attendanceData: [],
                perPage: 10,
                manager: [],
                data:[],
                history_logs: [],                
                // historyData: [],
                employee_name: "",
                employee_no: "",
                total_hours: "",
                time_in: "",
                time_out: "",
                location: "",
                date: "",
                DeleteData: "",
            }
        },        
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted(){
            axios.get('attendance/'+this.$route.params.id+'/get_attendances').then(response => {
                this.data = response.data
                this.total_hours = 0;
                this.data.forEach(attendance => {
                    this.time_out = attendance.time_out
                    this.total_hours += attendance.rendered_hours
                });
            });

            axios.get('attendance/'+this.$route.params.id).then(response => {
                //this.historyData = response.data.history_attendance
                let data = response.data.data;
                this.employee_name = data.employee_data.first_name + ' ' + data.employee_data.last_name;
                this.employee_no = data.employee_data.employee_no;
                this.time_in = data.start_time;
                //this.time_out = data.end_time == null ? '-' : data.end_time;
                this.location = data.location;
                this.date = data.date;
                this.DeleteData = {value: this.$route.params.id,route:'attendance/',route2:'employee_attendance', data: this.employee_name}
            });
        },
        methods: {            
            hourFormat(value) {
               return moment(String(value)).format('HH:MM')
            },
            
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            validation(){
               return true;
            },
            dateformat(value) {
               return moment(String(value)).format('MMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.a-month {
    position: relative;
    top: 1em;
}
</style> 