<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb> 
        <modal2 ref="addNewSubscriber">
            <h5 slot="header">Add New Subscriber</h5>
            <div slot="body">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Name</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                v-model="formsubscriber.name"
                                placeholder="Enter Name"
                                :style="show1 ? filterStyle : null"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Home No.</b>
                    </b-col>
                    <b-col md="2">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.home_code"
                                placeholder="Area Code"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="3">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.home_no"
                                placeholder="Code"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Other No.</b>
                    </b-col>
                    <b-col md="2">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.other_code"
                                placeholder="Area Code"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="3">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.other_no"
                                placeholder="Number"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Mobile No.</b>
                    </b-col>
                    <b-col md="2">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.mobile_prefix"
                                placeholder="Prefix"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="3">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.mobile_no"
                                placeholder="Number"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Email</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                v-model="formsubscriber.email"
                               placeholder="Enter Email"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Gender</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group class="pt-9">
                            <b-form-radio-group
                                    v-model="formsubscriber.gender"
                                    :options="gender_options" class="drkgry-color"
                                    name="gender"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Birth Date</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group label-for="example-txtarea">
                            <b-form-datepicker
                                    v-model="formsubscriber.birth_date"
                            ></b-form-datepicker>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Civil Status</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group class="pt-9">
                            <b-form-radio-group
                                    v-model="formsubscriber.civil_status"
                                    :options="civil_options" class="drkgry-color"
                                    name="civil_status"
                            ></b-form-radio-group>
                           
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Are you the household head?</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group class="pt-9">
                            <b-form-radio-group
                                    v-model="formsubscriber.household"
                                    :options="household_options" class="drkgry-color"
                                    name="household"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">The Household head is my</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group class="pt-9">
                            <b-form-radio-group
                                    v-model="formsubscriber.head"
                                    :options="head_options" class="drkgry-color"
                                    name="head"
                            ></b-form-radio-group>
                            <b-form-input
                                placeholder="Specify"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click.stop.prevent="SaveSubscriber" >
                    Submit
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2>        
        <modal2 ref="addServiceInformation">
            <h5 slot="header">Add Service Information</h5>
            <div slot="body">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Service Address</b>
                    </b-col>
                </b-row>
                <hr>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">House No./Unit No./Floor</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter Number"
                                :style="showser1 ? filterStyle : null"
                                v-model="formserviceinfo.ser_home_house"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Building Name</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter Name"
                                :style="showser2 ? filterStyle : null"
                                v-model="formserviceinfo.ser_building_name"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Subdivision/Village/Barangay</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter Subdivision/Village/Barangay"
                                :style="showser3 ? filterStyle : null"
                                v-model="formserviceinfo.ser_sub_vill_brgy"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">City/Town</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter City/Town"
                                :style="showser4 ? filterStyle : null"
                                v-model="formserviceinfo.ser_city_town"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Province</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter Province  "
                                :style="showser5 ? filterStyle : null"
                                v-model="formserviceinfo.ser_province"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Zip Code</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input
                                placeholder="Enter Zip"
                                :style="showser6 ? filterStyle : null"
                                v-model="formserviceinfo.ser_zip_code"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Billing Address</b>
                    </b-col>
                    <b-col md="5" class="text-right pt-9">
                        <b-form-checkbox
                            v-model="formserviceinfo.billing"
                            :value="true"
                             @change="ValidationBill($event)"
                        ><b class="drkgry-color">Same as Service Address</b></b-form-checkbox>
                    </b-col>
                </b-row>
                <div v-if="val_billing">
                    <br>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">House No./Unit No./Floor</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter Number"
                                    :style="showbill1 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_home_house"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Building Name</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter Name"
                                    :style="showbill2 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_building_name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Subdivision/Village/Barangay</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter Subdivision/Village/Barangay"
                                    :style="showbill3 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_sub_vill_brgy"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">City/Town</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter City/Town"
                                    :style="showbill4 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_city_town"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Province</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter Province  "
                                    :style="showbill5 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_province"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Zip Code</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input
                                    placeholder="Enter Zip"
                                    :style="showbill6 ? filterStyle : null"
                                    v-model="formserviceinfo.bill_zip_code"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                  
                </div>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click.stop.prevent="SaveServiceInfo">
                    Submit
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2>  
          
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="save">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'service_order'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Service Order</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Service No.</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="service_no" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.service_no.$model"
                                        :state="stateValidation('service_no')"
                                        placeholder="Enter Service No"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Account No.</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="account_no" label-for="example-input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.account_no.$model"
                                        :state="stateValidation('account_no')"
                                        placeholder="Enter Account No"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Subscriber Name</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="subscriber_id" label-for="example-input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                         v-model="$v.form.subscriber_id.$model"
                                        :state="stateValidation('subscriber_id')"
                                        :options="subscriber_options"
                                        @change="subscribername($event)"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col md="2" xl="2" lg="2" class="pt-9">
                            <b-form-group id="subscriber_name" label-for="example-input-1">
                                <a href="" @click.stop.prevent="modalShow('addNewSubscriber')" title="Add New Subscriber"><span class="fa fa-plus"></span> <b>Add New Subscriber</b></a>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row v-if="serviceval">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Service Address</b>
                        </b-col>
                        <b-col md="6" xl="5" lg="5">
                            <b-card class="mt-10 mb-1rem" v-for="row in JSON.parse(valservicedata)" :key="row.house_no">
                                <label><b>House No./Unit No./Floor</b>: {{row.house_no}}</label><br>
                                <label><b>Building Name</b>: {{row.building_name}}</label><br>
                                <label><b>Subdivision/Village/Barangay</b>: {{row.sub_vill_brgy}}</label><br>
                                <label><b>City/Town</b>: {{row.city_town}}</label><br>
                                <label><b>Province</b>: {{row.province}}</label><br>
                                <label><b>Zip Code</b>: {{row.zip_code}}</label><br>
                            </b-card>
                        </b-col>
                      
                    </b-row>
                    
                    <b-row v-if="serviceval">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Billing Address</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                           <b-card class="mt-10 mb-1rem" v-for="row in JSON.parse(valservicedatabill)" :key="row.house_no">
                                <label><b>House No./Unit No./Floor</b>: {{row.house_no}}</label><br>
                                <label><b>Building Name</b>: {{row.building_name}}</label><br>
                                <label><b>Subdivision/Village/Barangay</b>: {{row.sub_vill_brgy}}</label><br>
                                <label><b>City/Town</b>: {{row.city_town}}</label><br>
                                <label><b>Province</b>: {{row.province}}</label><br>
                                <label><b>Zip Code</b>: {{row.zip_code}}</label><br>
                            </b-card>
                        </b-col>
                    
                    </b-row>
                    
                    <b-row v-if="valserviceinfo">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Service Information</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5" class="pt-9">
                            <b-form-group  label-for="example-input-1">
                                 <a href="#" @click.stop.prevent="modalShow('addServiceInformation')" title="Add Service Information"><span class="fa fa-plus"></span> <b>Add Service Information</b></a>
                            </b-form-group>
                        </b-col>
                    </b-row> 
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Code</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="team_code" label-for="example-input-1">
                                <b-form-select  style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.team_code.$model"
                                        :state="stateValidation('team_code')"
                                        :options="team_options"
                                        v-on:change="changeItem($event)"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row> 
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Member</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group>
                                <!-- prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                                <b-form-tags v-model="form.team_member" style="border-left: solid 1.5px #ec0000" :state="stateValidation('team_member')" size="lg" add-on-change no-outer-focus class="mb-2">
                                    <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                                            <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                                <b-form-tag
                                                        @remove="removeTag(tag)"
                                                        :title="tag"
                                                        :disabled="disabled"
                                                        variant="info"
                                                >{{ tag }}</b-form-tag>
                                            </li>
                                        </ul>
                                        <b-form-select
                                                v-bind="inputAttrs"
                                                v-on="inputHandlers"
                                                :options="MemberOptionss">
                                            <template v-slot:first>
                                                <option disabled value="">Choose Team Member</option>
                                            </template>
                                        </b-form-select>
                                    </template>
                                </b-form-tags>
                            </b-form-group>
                        </b-col>
                    </b-row> 
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Completion Date</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group label-for="example-txtarea">
                                <b-form-datepicker
                                        v-model="form.date"
                                ></b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">SO No.</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="so_no" label-for="example-input-1">
                                <b-form-input 
                                        v-model="form.so_no"
                                        placeholder="Enter SO No"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Type</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="type" label-for="example-input-1">
                                <b-form-input 
                                        v-model="form.type"
                                        placeholder="Enter Type"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Time Start</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group label-for="time-started">
                                <b-form-timepicker 
                                v-model="form.time_start"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                        
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Time End</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group label-for="time-started">
                                <b-form-timepicker 
                                v-model="form.time_end"
                                ></b-form-timepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">With POB</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="with_pob" label-for="example-input-1">
                                <b-form-input 
                                        v-model="form.with_pob"
                                        placeholder="Enter POB"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Without POB</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="without_pob" label-for="example-input-1">
                                <b-form-input 
                                        v-model="form.without_pob"
                                        placeholder="Enter Without POB"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Type of POB</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="type_pob" label-for="example-input-1">
                                <b-form-input 
                                        v-model="form.type_pob"
                                        placeholder="Enter Type POB"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Remarks</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5" class="mt-n1rm">
                            <div align="right">
                                <span class="drkgry-color fs-12">(optional)</span>
                            </div>
                            <b-form-group label-for="remarks">
                                <b-form-textarea
                                        id="remarks"
                                        v-model="form.remarks"
                                        placeholder="Enter a remark"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import Modal2 from '@/components/Modal2';
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        components: {
            Modal2,
        },
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Service Order', href: '#' },
                    { text: 'New', active: true },
                ],
                subscriber_options: [
                    { value: null, text: "Select Subscriber" }
                ],
                team_options: [
                    { value: null, text: "Select Team Code" }
                ],
                MemberOptionss: [],
                member_data: [],
                gender_options: [
                    { value: 0, text: "Female" },
                    { value: 1, text: "Male" }
                ],
                civil_options: [
                    { value: 0, text: "Single" },
                    { value: 1, text: "Married" },
                    { value: 2, text: "Widow" }
                ],
                household_options: [
                    { value: 0, text: "yes" },
                    { value: 1, text: "no" }
                ],
                head_options: [
                    { value: 0, text: "Parent" },
                    { value: 1, text: "Spouse" },
                    { value: 2, text: "Son/Daughter" },
                    { value: 3, text: "Others" }
                ],
                val_billing:true,
                show1:false,
                showser1:false,
                showser2:false,
                showser3:false,
                showser4:false,
                showser5:false,
                showser6:false,
                showbill1:false,
                showbill2:false,
                showbill3:false,
                showbill4:false,
                showbill5:false,
                showbill6:false,
                serviceval:false,
                errormsg:false,
                valservicedata:[],
                valservicedatabill:[],
                valserviceinfo:false,
                filterStyle: {
                    borderColor: '#dc3545',
                },
                form: {
                    service_no: '',
                    account_no: '',
                    subscriber_name: null,
                    team_code: null,
                    team_member: null,
                    date: '',
                    so_no: '',
                    type: '',
                    time_start: '',
                    time_end: '',
                    with_pob: '',
                    without_pob: '',
                    type_pob: '',
                    remarks: '',
                },
                formsubscriber: {
                    name: '',
                    home_code: '',
                    home_no: '',
                    other_code: '',
                    other_no: '',
                    mobile_prefix: '',
                    mobile_no: '',
                    email: '',
                    gender: '',
                    birth_date: '',
                    civil_status: '',
                    household: '',
                    head: '',
                },
                formserviceinfo: {
                    id: '',
                    ser_home_house: '',
                    ser_building_name: '',
                    ser_sub_vill_brgy: '',
                    ser_city_town: '',
                    ser_province: '',
                    ser_zip_code: '',
                    bill_home_house: '',
                    bill_building_name: '',
                    bill_sub_vill_brgy: '',
                    bill_city_town: '',
                    bill_province: '',
                    bill_zip_code: '',
                    billing: false,
                }
            };
        },        
        mounted(){
             axios.get('service-orders/create').then((response) => {
                let Team = response.data.Team
                Team.forEach((data) =>{
                    this.team_options.push({value: data['id'],text: data['team_name']})
                });      
                let Subscribers = response.data.Subscribers
                Subscribers.forEach((data) =>{
                    this.subscriber_options.push({value: data['id'],text: data['subscriber_name']})
                });     
            });
        },
        computed: {
             MemberOptions() {
                return this.MemberOptionss.filter(opt => this.member_data .indexOf(opt) === -1)
            }
        },
        validations: {
            form: {
                service_no: {required},
                account_no:  {required},
                team_code:  {required},
                subscriber_id:  {required},
                team_member:  {required},
            }
        },
       
        methods: {
            changeItem(id){
                axios.get('service-orders/team-member/'+id).then((response) => {
                    let members = response.data
                     members.forEach((val) =>{
                        this.MemberOptionss.push(val.employee_name)
                        let key = val.id
                        this.member_data[key] = val.employee_name
                    });
                })
              
            },
            subscribername(data){
                if(data != null){
                    axios.get('service-orders/find-serviceinfo/'+data).then((response) => {
                        let members = response.data
                        this.formserviceinfo.id = data;
                            if(members.service_address != '' && members.billing_address != ''){
                                this.valserviceinfo = false;
                                this.serviceval = true;
                                this.valservicedata = members.service_address;
                                this.valservicedatabill = members.billing_address;
                                console.log('show');
                            }else{
                                this.serviceval = false;
                                this.valserviceinfo = true;
                                this.valservicedata = ['{}'];
                                this.valservicedatabill = ['{}'];
                                console.log('hide');
                            }
                    })
                
                }else{
                    this.serviceval = false;
                    this.valservicedata = ['{}'];
                    this.valservicedatabill =['{}'];
                }
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
            ValidationBill(val){
                if(val == true){
                    this.val_billing = false;
                }else{
                     this.val_billing = true;
                }
            },
            SaveSubscriber: function () {   
                if(this.formsubscriber.name == ''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    this.show1 = true;
                }else{
                    axios.post('service-orders/subscribers',this.formsubscriber).then((response) => {
                        let data = response.data
                        if (data == "Error"){
                            this.makeToast('Oopps!',data)
                        }else{
                            for (let val in this.formsubscriber) {
                                this.$set(this.formsubscriber,val,null)
                            }
                            this.subscriber_options.push({value: data.id,text: data.subscriber_name})
                            this.formserviceinfo.id = data.id;
                            // this.valserviceinfo = true;
                            
                            this.$bvModal.hide('modal-main')
                        }           
                    })
                }
            },
               save(){    
                this.fetchLoader(true);
               
                this.$v.form.$touch()
                if (this.$v.form.$anyError){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    return
                }
               else{
                   
                      axios.post('service-orders',this.form).then((response) => {
                            let data = response.data
                            if (data.error){
                                this.makeToast('Oopps!',data.desc,'danger')
                            } else{
                                this.makeToast('Success','Successfully Created','success')
                                if(this.checked == false){
                                    this.$router.push({
                                        name: 'service_order.view', 
                                        params: {id: data.id}
                                    });
                                }
                                for (let val in this.form) {
                                    this.$set(this.form,val,null)
                                }
                                this.$nextTick(() => {
                                    this.$v.$reset();
                                });
                                this.form.item = [];
                                 this.serviceval = false;
                                this.checked = false;
                                
                            }                       
                        })

               }
                
                this.fetchLoader(false);
            },
            SaveServiceInfo: function () {   
                if(this.formserviceinfo.ser_home_house == ''){
                    this.errormsg = true;
                    this.showser1 = true;
                }if(this.formserviceinfo.ser_building_name == ''){
                    this.errormsg = true;
                    this.showser2 = true;
                }if(this.formserviceinfo.ser_sub_vill_brgy == ''){
                    this.errormsg = true;
                    this.showser3 = true;
                }if(this.formserviceinfo.ser_city_town == ''){
                    this.errormsg = true;
                    this.showser4 = true;
                }if(this.formserviceinfo.ser_province == ''){
                    this.errormsg = true;
                    this.showser5 = true;
                }if(this.formserviceinfo.ser_zip_code == ''){
                    this.errormsg = true;
                    this.showser6 = true;
                }
                if(this.formserviceinfo.billing == false && this.formserviceinfo.bill_home_house == '' && this.formserviceinfo.bill_building_name == '' && this.formserviceinfo.bill_sub_vill_brgy == '' && this.formserviceinfo.bill_city_town == '' && this.formserviceinfo.bill_province == '' && this.formserviceinfo.bill_zip_code == ''){
                    if(this.formserviceinfo.bill_home_house == ''){
                        this.errormsg = true;
                        this.showbill1 = true;
                    }if(this.formserviceinfo.bill_building_name == ''){
                        this.errormsg = true;
                        this.showbill2 = true;
                    }if(this.formserviceinfo.bill_sub_vill_brgy == ''){
                        this.errormsg = true;
                        this.showbill3 = true;
                    }if(this.formserviceinfo.bill_city_town == ''){
                        this.errormsg = true;
                        this.showbill4 = true;
                    }if(this.formserviceinfo.bill_province == ''){
                        this.errormsg = true;
                        this.showbill5 = true;
                    }if(this.formserviceinfo.bill_zip_code == ''){
                        this.errormsg = true;
                        this.showbill6 = true;
                    }
                }else{
                    this.errormsg = false;
                    axios.post('service-orders/service-info',this.formserviceinfo).then((response) => {
                        let data = response.data
                        if (data == "Error"){
                            this.makeToast('Oopps!',data)
                        }else{
                            for (let val in this.formserviceinfo) {
                                this.$set(this.formserviceinfo,val,null)
                            }
                            console.log(data)
                            console.log(data.service_address)
                            console.log(data.billing_address)
                            this.serviceval = true;
                            this.valservicedata = data.service_address;
                            this.valservicedatabill = data.billing_address;
                            this.valserviceinfo = false;
                            this.val_billing = true;
                            this.$bvModal.hide('modal-main')
                        }           
                    })
                }
                if(this.errormsg == true){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                }
            },
        }
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>