<template>
    <b-col md="12" class="form-group p-5"> 
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <modal2 ref="addBreakdown">
            <h5 slot="header">Add Break Down Charges</h5>
            <div slot="body">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Type</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                id="type"
                                name="type"
                                :style="show1 ? filterStyle : null"
                                v-model="form_breakdown.type"
                                placeholder="Enter Type"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Description</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                id="description"
                                name="description"
                                :style="show2 ? filterStyle : null"
                                v-model="form_breakdown.description"
                                placeholder="Enter Description"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Amount</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                                id="amount"
                                name="amount"
                                :style="show3 ? filterStyle : null"
                                v-model="form_breakdown.amount"
                                placeholder="Enter Amount"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click="addBreakdownCharges">
                    Submit
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2> 
        <modal2 ref="addPayment">
            <h5 slot="header">Add Payment</h5>
            <div slot="body">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Payment Mode</b>
                    </b-col>
                    <b-col md="5" class=" pt-9">
                        <b-form-group >
                            <b-form-radio-group
                                v-model="formpayment.payment_mode"
                                :options="payment_options"
                                :style="show6 ? filterStyle : null"
                                v-on:change="changeItem($event)"
                            ></b-form-radio-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row v-if="payment1">
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">OR No.</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                               v-model="formpayment.or_no"
                               placeholder="Enter OR No."
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <div v-if="payment2">
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Check No.</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                placeholder="Enter Check No."
                                v-model="formpayment.check_no"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Bank</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                v-model="formpayment.bank"
                                placeholder="Enter Bank"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b class="drkgry-color">Branch</b>
                        </b-col>
                        <b-col md="5">
                            <b-form-group >
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                placeholder="Enter Branch"
                                v-model="formpayment.branch"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </div>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click.stop.prevent="SavePayment">
                    Submit
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2> 
        <modal2 ref="addMaterialUsed">
            <h5 slot="header">Add Material Used</h5>
            <div slot="body">
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Materials</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-select style="border-left: solid 1.5px #ec0000"
                                id="inventory"
                                name="inventory"
                                v-model="form_material_used.inventory"
                                :style="show4 ? filterStyle : null"
                                :options="inventory"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-select>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Brand and Model</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input 
                               id="brandandmodel"
                                name="brandandmodel"
                                v-model="form_material_used.brandandmodel"
                                placeholder="Enter Brand and Model"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Serial No</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input 
                               id="serial_no"
                                name="serial_no"
                                v-model="form_material_used.serial_no"
                                placeholder="Enter Serial No"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4" class="text-right pt-9">
                        <b class="drkgry-color">Quantity</b>
                    </b-col>
                    <b-col md="5">
                        <b-form-group >
                            <b-form-input style="border-left: solid 1.5px #ec0000"
                               id="quantity"
                                name="quantity"
                                :style="show5 ? filterStyle : null"
                                v-model="form_material_used.quantity"
                                placeholder="Enter Quantity"
                                aria-describedby="input-1-live-feedback"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </div>
            <div slot="buttons">
                <b-button size="sm" class="btn-dltmodal-size" variant="success" style="margin-right:0.5rem" @click="addMaterialUsed">
                    Submit
                </b-button>
                <b-button size="sm" style="background: #fff; color: #707070;" @click.stop.prevent="modalHide">
                    Cancel
                </b-button>
            </div>
        </modal2> 
        <modal2 ref="Delete">
            <h5 slot="header" class="margin-0">Delete Service Order</h5>
            <h5 slot="body">
                <form ref="form">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="2" class="align-right">
                            <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="10">
                            <p class="fs-16 margin-0">Are you sure you want to delete File?</p>
                            <p class="fs-16">You can't undo this action.</p>
                        </b-col>
                    </b-row>
                </form>
            </h5>
            <h5 slot="buttons">
                <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                <b-button style="background: #fff; color: #707070;" size="sm" @click.stop.prevent="modalHide">Cancel</b-button>
            </h5>
        </modal2>
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                        <router-link :to="{name: 'service_order'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Service Order Information</span>
                    </b-col>
                    <b-col sm="6" md="6" lg="6" class="align-right">
                        <b-button class="btn-inventory-primary btn-size hide-edit" style="margin-right: 5px;">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item style="display: none;" class="show-edit">Edit</b-dropdown-item>
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Service Order" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item  @click.stop.prevent="modalShow('Delete')" title="Add New Material">Delete</b-dropdown-item> -->
                           </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="6">
                        <b-row class="mt-50">
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Account No.</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold" style="text-transform: uppercase;">{{ account_no }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Subscriber Name</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ subscriber_name }}</label>
                            </b-col>
                        </b-row>
                       
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team Code</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ team_code }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Remarks</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (remarks == null?'N/A':remarks) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Completion Date</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (completion_date == null?'N/A':completion_date) }}</label>
                            </b-col>
                        </b-row>
                         <b-row >
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0" > 
                                <label>SO No.</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (so_no == null?'N/A':so_no) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0" >
                                <label>Type</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (type == null?'N/A':type) }}</label>
                            </b-col>
                        </b-row>
                         <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0"> 
                                <label>Time Start</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (time_start == null?'N/A':time_start) }}</label>
                            </b-col>
                        </b-row>
                        <b-row >
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0"> 
                                <label>Time End</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">{{ (time_end == null?'N/A':time_end) }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <b-row class="mt-50">
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>With POB</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ (with_pob == null?'N/A':with_pob) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Without POB</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ (without_pob == null?'N/A':without_pob) }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Type of POB</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ (type_pob == null?'N/A':type_pob) }}</label>
                            </b-col>
                        </b-row>
                        <b-row  v-if="payment_mode != null">
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Payment Mode</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ payment_mode }}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="check_or_no != null">
                            <b-col v-if="payment_mode == 'Cash'" md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>OR No</label>
                            </b-col>
                            
                            <b-col v-if="payment_mode == 'Check'" md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Check No</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ check_or_no }}</label>
                            </b-col>
                        </b-row>
                       
                        <b-row v-if="bank != null">
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Bank</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ bank }}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="branch != null">
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Branch</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">{{ branch }}</label>
                            </b-col>
                        </b-row>
                        <b-row v-if="payment_mode == null">
                            <b-col md="7" lg="7" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <a href="" @click.stop.prevent="modalShow('addPayment')" title="Add Payment"><span class="fa fa-plus"></span> <b>Add Payment</b></a>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>   
                <b-row>
                    <b-col md="6">
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Service Address</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left" v-for="row in this.service_address" :key="row.house_no">
                                <label><b>House No./Unit No./Floor</b>: {{ row.house_no }}</label><br>
                                <label><b>Building Name</b>: {{ row.building_name }}</label><br>
                                <label><b>Subdivision/Village/Barangay</b>: {{ row.sub_vill_brgy }}</label><br>
                                <label><b>City/Town</b>: {{ row.city_town }}</label><br>
                                <label><b>Province</b>: {{ row.province }}</label><br>
                                <label><b>Zip Code</b>: {{ row.zip_code }}</label><br>
                            </b-col>
                        </b-row>
                   
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Billing Address</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left" v-for="row in this.billing_address" :key="row.house_no">
                                <label><b>House No./Unit No./Floor</b>: {{ row.house_no }}</label><br>
                                <label><b>Building Name</b>: {{ row.building_name }}</label><br>
                                <label><b>Subdivision/Village/Barangay</b>: {{ row.sub_vill_brgy }}</label><br>
                                <label><b>City/Town</b>: {{ row.city_town }}</label><br>
                                <label><b>Province</b>: {{ row.province }}</label><br>
                                <label><b>Zip Code</b>: {{ row.zip_code }}</label><br>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>          
                <b-tabs content-class="mt-3" class="mt-30">
                    <b-tab title="Break Down Charges" active>
                     <div class="align-right">
                        <a href="" @click.stop.prevent="modalShow('addBreakdown')" title="Add New Breakdown"><span class="fa fa-plus"></span> <b>Add Breakdown</b></a>
                    </div>
                        <vuetable
                            ref="vuetableService" 
                            :fields="breakDownHeader" 
                            :api-mode="false" 
                            :data-manager="dataManager"
                            :data="break_down"
                            pagination-path="pagination" 
                            class="table-overflow"
                            @vuetable:pagination-data="onPaginationData"
                            :css="css.table">
                        </vuetable>
                      
                    </b-tab>
                    <b-tab title="Material Used">
                        <div class="align-right">
                             <a href="" @click.stop.prevent="modalShow('addMaterialUsed')" title="Add New Material"><span class="fa fa-plus"></span> <b>Add Material Used</b></a>
                        </div>
                        <vuetable
                            ref="vuetableMaterialUsed" 
                            :fields="materialUsedHeader" 
                            :api-mode="false" 
                            :data-manager="dataManager"
                            :data="materialUsed"
                            pagination-path="pagination" 
                            class="table-overflow"
                            @vuetable:pagination-data="onPaginationData"
                            :css="css.table">
                            
                        </vuetable>
                    </b-tab>
                    <b-tab title="Equipments">
                        <vuetable
                            ref="vuetableEquipment" 
                            :fields="equipmentHeader" 
                            :api-mode="false" 
                            :data-manager="dataManager"
                            :data="equipment"
                            pagination-path="pagination" 
                            class="table-overflow"
                            @vuetable:pagination-data="onPaginationData"
                            :css="css.table">
                        </vuetable>
                    </b-tab>
                </b-tabs>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    import { modalMixins } from '@/mixins/modal'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Modal2 from '@/components/Modal2';
    export default {
        mixins: [validationMixin,formMixins,modalMixins],
        components: {
            Vuetable,
            Modal2,
        },
        data() {
            return {
                css: VuetableCSS,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Service Order', href: '#'},
                    { text: 'View', active:true },
                ],
                type_options: [
                    { value: 1, text: "Select Type" }
                ],
                payment_options: [
                    { value: "Cash", text: "Cash" },
                    { value: "Check", text: "Check" }
                ],
                inventory: [
                     { value: null, text: "Select Material" }
                ],
                equipment_options: [
                     { value: 1, text: "Select Equipment" }
                ],
                sortOrderBreakdown: [
                    {
                        field: 'type',
                        sortField: 'type',
                        direction: 'asc'
                    }
                ],
                breakDownHeader: [
                    {
                        name: 'type',
                        title: 'Type',
                        sortField: 'type',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'description',
                        title: 'Description',
                        sortField: 'description',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'amount',
                        title: 'Amount',
                        sortField: 'amount',
                        formatter: (value) => {
                           return value
                        }
                    }
                ],
                DeleteData: [],
                data: [],
                payment1: false,
                payment2: false,
                formpayment: {
                    id: this.$route.params.id,
                    payment_mode: '',
                    check_no : '',
                    or_no : '',
                    bank: null,
                    branch: null
                },
                perPage: 10,
                // breakdown: [{
                //     'type' : 'Installation',
                //     'description' : 'sample Description',
                //     'amount' : '1,200.00',
                // }],
                materialUsedHeader: [
                    {
                        name: 'materials',
                        title: 'Materials',
                        sortField: 'materials',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'qty_used',
                        title: 'Quantity',
                        sortField: 'qty_used',
                        formatter: (value) => {
                           return value
                        }
                    }
                ],
                // material: [{
                //     'materials' : 'Cable',
                //     'quantity' : '100',
                // }],
                equipmentHeader: [
                    {
                        name: 'brandandmodel',
                        title: 'Brand/Model',
                        sortField: 'brandandmodel',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'serial_no',
                        title: 'Serial No',
                        sortField: 'serial_no',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'type',
                        title: 'Type',
                        sortField: 'type',
                        formatter: (value) => {
                           return value
                        }
                    }
                ],
                equipment: [],
                materialUsed: [],
                account_no:[],
                break_down:[],
                subscriber_name:'',
                service_address:'',
                billing_address:'',
                team_code:'',
                remarks:'',
                completion_date:'',
                time_start: '',
                time_end: '',
                so_no: '',
                type: '',
                with_pob: '',
                without_pob: '',
                type_pob: '',
                branch: '',
                bank: '',
                check_or_no: '',
                payment_mode: '',

                form: {
                    item: []
                },

                filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                show5:false,
                show6:false,
                deleteid: [],
                form_breakdown: {
                    validation: '',
                    type: '',
                    description: '',
                    amount: '',
                },
                form_material_used: {
                    inventory: null,
                    serial_no: null,
                    brandandmodel: null,
                    quantity: '',
                },      
            }
        },
        mounted(){
            axios.get('service-orders/'+this.$route.params.id).then(response => {
                this.serviceID = response.data.data.serviceCharges_list;
                this.data=response.data;
                this.DeleteData = {value:this.$route.params.id,route:'service-orders/',route2:'service_order',data:this.data.data.account_no}
                this.account_no = response.data.data.account_no;
                this.subscriber_name = response.data.data.subscribers_data.subscriber_name;
                this.service_address = response.data.data.service_address;
                this.billing_address = response.data.data.billing_address;
                this.team_code = response.data.data.team_id.team_name;
                this.remarks = response.data.data.remarks;
                this.completion_date = response.data.data.completion_date;
                this.time_start = response.data.data.time_start;
                this.time_end = response.data.data.time_end;
                this.so_no = response.data.data.so_no;
                this.type = response.data.data.type;
                this.with_pob = response.data.data.with_pob;
                this.without_pob = response.data.data.without_pob;
                this.type_pob = response.data.data.type_pob;

                this.payment_mode = response.data.data.payment_mode;
                this.check_or_no = response.data.data.check_or_no;
                this.bank = response.data.data.bank;
                this.branch = response.data.data.branch;
                let servicecharges = response.data.data.serviceCharges_list;
                servicecharges.forEach(servicechargesdata => {
                    this.break_down.push({
                        validation:'hide',
                        type: servicechargesdata.type,
                        description:  servicechargesdata.description,
                        amount:  servicechargesdata.amount,
                    });
                });
                let materialUses = response.data.data.materialUses_list;
                materialUses.forEach(data => {
                    this.materialUsed.push({
                        materials:data.inventory_id.get_categories.category_name+' > '+data.inventory_id.get_inventories_names.description+' > '+data.inventory_id.get_inventories_names.mat_code,
                        qty_used:data.qty_used
                    });
                    this.equipment.push({
                        brandandmodel:data.brandandmodel,
                        serial_no:data.serial_no,
                        type:(data.type == 1?'Operation Material':'Customer Premise Equipment'),
                    });
                });
               

                let inventory = response.data.invetory;
                inventory.forEach(inventory => {
                    this.inventory.push({
                        value: inventory.id,
                        text:  inventory.get_categories.category_name+' > '+inventory.get_inventories_names.description+' > '+inventory.get_inventories_names.mat_code
                    });
                });
                
              
               

            });
           
            
        },
        watch: {
            data(){
                this.$refs.vuetableService.refresh();
            }
        },
        methods: {
             changeItem(id){
                if(id == 'Cash'){
                    this.payment1 = true;
                    this.payment2 = false;
                }else{
                    this.payment2 = true;
                    this.payment1 = false;
                }
              
            },
            // deleteModal: function (){
            //     this.deleteid.push(this.$route.params.id)
            //     axios.delete('service-orders/'+this.deleteid).then(response => {
            //         let data = response.data
            //         if (data.error){
            //             this.makeToast('Oopps!',data.desc,'danger')
            //         } else{ 
            //             this.$router.push({
            //                 name: 'service_order'
            //             });
            //             this.$bvModal.hide('modal-main')
            //             this.makeToast('Success','Successfully Deleted','success')
            //         }
            //     });
            // },
            
             SavePayment: function () {   
               if(this.formpayment.payment_mode ==''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        this.show6 = true;
                        setTimeout(()=>{
                            this.show6 = false;
                        },5000);
               }else{
                   axios.post('service-orders/service-payments/'+this.$route.params.id,this.formpayment).then((response) => {
                        let data = response.data
                        if (data == "Error"){
                            this.makeToast('Oopps!',data)
                        }else{
                            for (let val in this.formpayment) {
                                this.$set(this.formpayment,val,null)
                            }
                            this.payment_mode = data.payment_mode;
                            this.check_or_no = data.check_or_no;
                            this.bank = data.bank;
                            this.branch = data.branch;
                            this.payment2 = false;
                            this.payment1 = false;
                            this.$bvModal.hide('modal-main')
                        }           
                    })
               }
                    
                
            },
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
                this.totalamount-=Number(item.amount);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            addBreakdownCharges(){
                if (this.form_breakdown.type == '' || this.form_breakdown.description == '' || this.form_breakdown.amount == ''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        if(this.form_breakdown.type == ''){
                            this.show1 = true;
                        }
                        if(this.form_breakdown.description == ''){
                            this.show2 = true;
                        }
                        if(this.form_breakdown.amount == ''){
                            this.show3 = true;
                        }
                        setTimeout(()=>{
                            this.show1 = false;
                            this.show2 = false;
                            this.show3 = false;
                        },5000);
                }else{
                    if(this.break_down ==null){
                        this.break_down = [];
                    }
                    
                    var my_object = {
                        validation:'show',
                        type:this.form_breakdown.type,
                        service_id:this.$route.params.id,
                        description:this.form_breakdown.description,
                        amount:this.form_breakdown.amount,
                        action:''
                        // amount:this.form_breakdown.amount
                    };
                    this.break_down.push(my_object)
                    this.form_breakdown.service_id = this.$route.params.id;
                    axios.post('service-orders/service-charges',this.form_breakdown).then((response) => {
                        let data = response.data
                        if (data == "Error"){
                            this.makeToast('Oopps!',data)
                        }else{
                            this.totalamount+=Number(this.form_breakdown.amount);
                            this.form_breakdown.type = '';
                            this.form_breakdown.description = '';
                            this.form_breakdown.amount = '';
                            this.$bvModal.hide('modal-main')
                        }           
                    })
                }
               
            },
            addMaterialUsed(){
                if (this.form_material_used.inventory == null || this.form_material_used.quantity == ''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        if(this.form_material_used.inventory == null){
                            this.show4 = true;
                        }
                        if(this.form_material_used.quantity == ''){
                            this.show5 = true;
                        }
                        setTimeout(()=>{
                            this.show4 = false;
                            this.show5 = false;
                        },5000);
                }else{
                    if(this.materialUsed ==null){
                        this.materialUsed = [];
                    }
                    
                  
                    this.form_material_used.service_id = this.$route.params.id;
                    axios.post('service-orders/material-uses',this.form_material_used).then((response) => {
                        let data = response.data
                        if (data == "Error"){
                            this.makeToast('Oopps!',data)
                        }else{
                            console.log(data)
                            var my_object = {
                                materials:data.inventory_id.get_categories.category_name+' > '+data.inventory_id.get_inventories_names.description+' > '+data.inventory_id.get_inventories_names.mat_code,
                                qty_used:this.form_material_used.quantity
                            };
                            this.equipment.push({
                                brandandmodel:data.brandandmodel,
                                serial_no:data.serial_no,
                                type:(data.type == 1?'Operation Material':'Customer Premise Equipment'),
                            });
                            this.materialUsed.push(my_object)
                            this.form_material_used.inventory = null;
                            this.form_material_used.quantity = '';
                            this.form_material_used.brandandmodel = '';
                            this.form_material_used.serial_no = '';
                            this.$bvModal.hide('modal-main')
                        }           
                    })
                }
               
            },

            onPaginationData(tablePagination) {
                this.$refs.paginationData.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;
                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },

            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            closeModal: function(form){
                for (let val in form.$model) {
                    this.$set(form.$model,val,null)
                }

                this.$nextTick(() => {
                    this.$v.$reset();
                    this.$bvModal.hide('modal-main')
                })
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>