<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>   
          
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="save">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'teams'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Team</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="inventory-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team ID</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="team_id" label-for="team_id">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        
                                        placeholder="Enter Team ID"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Name</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="team_name" label-for="team_name">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        
                                        placeholder="Enter Team Name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Team Type</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="team_type" label-for="team_type">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        :options="team_type"
                                        aria-describedby="input-1-live-feedback"
                                        value="null"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Vehicle Plate No.</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="vehicle_plate_no" label-for="vehicle_plate_no">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        
                                        placeholder="Enter Plate Number"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Members</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            
                        </b-col>
                    </b-row>
                    <b-row class="pt-1rm">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Tech 1</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="tech1" label-for="tech1">
                                <b-form-select  style="border-left: solid 1.5px #ec0000"
                                        :options="tech_1"
                                        aria-describedby="input-1-live-feedback"
                                        value="null"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row >
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Tech 2</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="tech2" label-for="tech2">
                                <b-form-select  style="border-left: solid 1.5px #ec0000"
                                        :options="tech_2"
                                        aria-describedby="input-1-live-feedback"
                                        value="null"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    // import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    // import Modal2 from '@/components/Modal2';
    // import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        components: {
            // Modal2,
        },
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Operations', active: true },
                    { text: 'Teams', href: '#' },
                    { text: 'New', active: true },
                ],
                team_type: [
                    { value: null, text: "Select Team Type" }
                ],
                tech_1: [
                    { value: null, text: "Select Member" }
                ],
                tech_2: [
                    { value: null, text: "Select Member" }
                ],
                filterStyle: {
                    borderColor: '#dc3545',
                },
                form: {
                    team_id: '',
                    team_name: '',
                    team_type: null,
                    vehicle_plate_no: '',
                    tech1: [],
                    tech2: []
                },
                
            };
        },        
       
        methods: {
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
        }
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>