<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <!-- <template v-if="data.length > 0"> -->
            <!-- Modal Delete -->
            <modal2 ref="deleteSalary">
                <h5 slot="header" class="margin-0">Delete Team</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <b-col xl="6" lg="6" md="6" sm="6" cols="6">
                    <span class="hr-title">Teams List</span>
                </b-col>
                <b-col xl="6" lg="6" md="6" sm="6" cols="6" class="align-right">
                    <router-link :to="{name: 'teams.create'}">
                        <b-button class="btn-inventory-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                    </router-link>
                    <b-dropdown right class="hr-more btn-size">
                        <template slot="button-content">
                            <b-icon icon="three-dots"></b-icon>
                        </template>
                            <b-dropdown-item style="display: none;" class="show-edit">
                                <router-link :to="{name: 'teams.create'}">New</router-link>
                            </b-dropdown-item>
                        <b-dropdown-item>Edit</b-dropdown-item>
                        <b-dropdown-item>Delete</b-dropdown-item>
                    </b-dropdown>
                </b-col>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col xl="9" lg="8" md="6"></b-col>
                        <b-col xl="3" lg="4" md="6" sm="12" cols="12">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <vuetable 
                @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                :sort-order="sortOrder"
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="team">
                    <router-link :to="{ name: 'teams.view'}">ACTS_001</router-link>
                </div>               
                <div slot="created_by">
                    <b-row md="12">
                        <b-col md="1">
                            <img :src="require(`@/images/user.jpg`)" class="rounded-circle default-minimg"/>
                        </b-col>
                        <b-col md="10" style="padding-left: 1.5rem">
                            <span class="mini-desc bold">Angelo Zamora</span><br>
                            <span class="mini-desc">HR Supervisor</span>
                        </b-col>
                    </b-row>
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
            </vuetable-pagination>
        <!-- </template> -->
        <!-- <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>  -->
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    // import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    // import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2
        },
        data(){
            return {
                type: 'password',
                iconText: 'eye-fill',
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "teams",
                    title: "Teams",
                    description: "Teams.",
                    route_create: "teams.create",
                    route_import: "teams.import",
                    params: "teams" 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active: true },
                    { text: 'Teams', href: '#'},
                    { text: 'List', active: true },
                ],
                sortOrder: [
                    {
                        field: 'team',
                        sortField: 'team',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'team',
                        title: 'Team',
                        sortField: 'team',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'team_type',
                        title: 'Team Type',
                        sortField: 'team_type',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'created_by',
                        title: 'Created By',
                        sortField: 'created_by',
                        formatter: (value) => {
                           return value
                        }
                    },                   
                ],
                perPage: 10,
                data:[{
                    team_type: 'BAU',
                }],
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            // modalShow: function () {
            //     this.$bvModal.show('modal-main')
            // },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        },
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}

</style>