<template>
    <b-col md="12" class="form-group p-5"> 
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb> 
        <b-row class="row justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col sm="6" md="6" lg="6" style="white-space: nowrap">
                        <router-link :to="{name: 'teams'}"><i class="fa fa-arrow-left back-btn" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Teams Information</span>
                    </b-col>
                    <b-col sm="6" md="6" lg="6" class="align-right">
                        <b-button class="btn-inventory-primary btn-size hide-edit" style="margin-right: 5px;">Edit</b-button>
                        <b-dropdown right class="hr-more btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                            <b-dropdown-item style="display: none;" class="show-edit">Edit</b-dropdown-item>
                            <b-dropdown-item>Delete</b-dropdown-item>
                            <!-- <b-dropdown-item  @click.stop.prevent="modalShow('Delete')" title="Add New Material">Delete</b-dropdown-item> -->
                           </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="6">
                        <b-row class="mt-50">
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team ID</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold" style="text-transform: uppercase;">ACTS_001</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team Name</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">N/A</label>
                            </b-col>
                        </b-row>
                       
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Team Type</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">BAU</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" lg="5" class="form-group align-right media-left mb-0">
                                <label>Vehicle Plate No.</label>
                            </b-col>
                            <b-col md="6" lg="6" class="form-group align-left">
                                <label class="fw-bold">102-33</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <b-row class="mt-50">
                            <b-col md="4" lg="4" class="form-group align-center media-left mb-0" style="white-space: nowrap">
                                <label><b>Members</b></label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold"></label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Tech 1</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">Angelo Zamora</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" lg="4" class="form-group align-right media-left mb-0" style="white-space: nowrap">
                                <label>Tech 2</label>
                            </b-col>
                            <b-col md="7" lg="7" class="form-group align-left">
                                <label class="fw-bold">Jared Espiritu</label>
                            </b-col>
                        </b-row>
                       
                    </b-col>
                </b-row>           
                <b-tabs content-class="mt-3" class="mt-30">
                    <b-tab title="Member History" active>
                    
                    </b-tab>
                    <b-tab title="Material Used">

                    </b-tab>
                    <b-tab title="Materials On Hand">
                        
                    </b-tab>
                </b-tabs>
            </b-container> 
        </b-row>
    </b-col>
</template>

<script>
    // import axios from 'axios'
    // import Vuetable from 'vuetable-2'
    import _ from 'lodash'
    import { validationMixin } from "vuelidate";
    import { formMixins } from '@/mixins/form'
    // import { modalMixins } from '@/mixins/modal'
    // import VuetableCSS from '@/assets/scripts/vuetable-custom'
    // import Modal2 from '@/components/Modal2';
    export default {
        mixins: [validationMixin,formMixins],
        components: {
            // Vuetable,
            // Modal2,
        },
        data() {
            return {
                // css: VuetableCSS,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Operations', active:true },
                    { text: 'Teams', href: '#'},
                    { text: 'View', active:true },
                ],
  
            }
        },
        
        watch: {
            data(){
                this.$refs.vuetableService.refresh();
            }
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

            onPaginationData(tablePagination) {
                this.$refs.paginationData.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;
                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },

            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            closeModal: function(form){
                for (let val in form.$model) {
                    this.$set(form.$model,val,null)
                }

                this.$nextTick(() => {
                    this.$v.$reset();
                    this.$bvModal.hide('modal-main')
                })
            },
            modalHide: function () {   
                this.$bvModal.hide('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>