<template>
  <div id="app">
    <b-overlay
      :show="loader"
      spinner-variant="primary"
      spinner-type="grow"
      spinner-small
      rounded="sm"
      style="z-index: 1;"
      opacity="0.85">

      <template v-if="authenticated">
          <Sidebar/>
          <NewNavigationSidebar/>
          <!-- <CustomLinks/> -->
          <!-- <CustomContainer/> -->
          <Notification/>
          <Modal/>
      </template>

      <template v-else>
        <router-view/>
      </template>
      <template #overlay>
        <div class="text-center">
          <a class="h6 mb-2">
            <b-icon icon="gear-wide-connected" font-scale="3" animation="spin-reverse" :style="'color: '+ chosenSystem.theme"></b-icon>
          </a>
          <a class="h3 mb-2">
            <b-icon icon="gear-wide-connected" font-scale="3" animation="spin-reverse-pulse" :style="'color: '+ chosenSystem.theme"></b-icon>
          </a>
          <a class="h6 mb-2">
            <b-icon icon="gear-wide-connected" font-scale="3" animation="spin" :style="'color: '+ chosenSystem.theme"></b-icon>
          </a>
          <p style="padding-top: 10px; font-size: 1.1rem;"><strong>Please Wait...</strong></p>
        </div>
      </template> 
    </b-overlay>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
  import Sidebar from './components/Sidebar'
  // import NavigationSidebar from './components/NavigationSidebar'
  import NewNavigationSidebar from './components/NewNavigationSidebar'
  // import Login from './components/Login'
  import Modal from './components/Modal'
  // import CustomLinks from './components/CustomLinks'
  // import CustomContainer from './components/CustomContainer'
  import Notification from './components/Notification'

  export default {
    components:{
      Sidebar,
      NewNavigationSidebar,
      // Login,
      Modal,
      // CustomLinks,
      // CustomContainer,
      Notification
    },
    computed:{
      ...mapGetters({
          authenticated: 'auth/authenticated',
          loading: 'loading',
          loader: 'loader',
          chosenSystem: 'chosenSystem',
      })
    },
    method(){
    }

  }
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
