<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>     
        <div class="row justify-content-center mt-30">
            <div class="col-md-12">
                <b-form @submit.stop.prevent="submitForm('onboarding')">
                    <div class="row">
                        <router-link :to="{name: 'onboardings'}" style="color: #707070;"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Convert Onboarding</h5></div>
                        <div class="col text-right"> <b-button type="submit" class="hr-btn"> Save</b-button></div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-4 text-right pt-9">
                            <b class="drkgry-color">New Employee</b>
                        </div>   
                        <div class="col-5">
                            <b-form-group label-for="example-input-1"> 
                                <b-form-input :value="OnboardingData.candidate_name">
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right pt-9">
                            <b class="drkgry-color">Designation</b>
                        </div>   
                        <div class="col-5">
                            <b-form-group label-for="starting_date"> 
                                <b-form-input :value="CandidateData.potential_designation == null ? 'N/A' : CandidateData.potential_designation.name">
                                </b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right pt-9 form-group">
                            <b-form-checkbox
                                id="checkbox-1"
                                v-model="form.checkbox"
                                name="checkbox-1"
                                value="accepted"
                                unchecked-value="not_accepted"
                                >
                                <b>Create User's Account</b>
                            </b-form-checkbox>
                        </div>                  
                    </div>
                    <div v-if="form.checkbox == 'accepted'">
                        <div class="row">
                            <div class="col-4 text-right pt-9">
                                <b class="drkgry-color">Email Address</b>
                            </div>   
                            <div class="col-5">
                                <b-form-group label-for="starting_date"> 
                                    <b-form-input :value="CandidateData.email == null ? 'N/A' : CandidateData.email">
                                    </b-form-input>
                                </b-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-right pt-9">
                                <b class="drkgry-color">Roles</b>
                            </div>   
                            <div class="col-5">
                                <b-form-group label-for="starting_date"> 
                                    <b-form-select 
                                    id=""
                                    name=""
                                    v-model="form.roles"
                                    :options="roles">
                                    </b-form-select>
                                </b-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 text-right pt-9">
                                <b class="drkgry-color">Permissions</b>
                            </div>   
                            <div class="col-5">
                                <b-form-group label-for="starting_date"> 
                                    <b-form-select   
                                    id=""
                                    name=""
                                    v-model="form.permissions"
                                    :options="permissions">
                                    </b-form-select>
                                </b-form-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right pt-9">
                            <p class="drkgry-color">Owner of New Records<br><b>Administrator</b></p>
                        </div>   
                    </div>
                </b-form>
            </div>
        </div>
    </div>
</template> 

<script>
    import { validationMixin } from "vuelidate";
    // import { required } from "vuelidate/lib/validators";
    import { formMixins } from '../../../../mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                busy: false,
                breadcrumbs: [
                    {
                        html: '<span class="fa fa-home"></span>',
                        href: '#'
                    },
                    {
                        text: 'Recruitment',
                        active:true
                    },
                    {
                        text: 'Onboarding',
                        href: '#'
                    },
                    {
                        text: 'Convert',
                        active:true
                    },
                ],
                OnboardingData: [],
                CandidateData: [],
                roles: [
                    { value: null, text: "Select Roles" }
                ],
                permissions: [
                    { value: null, text: "Select Permissions" }
                ],
                form: {
                    roles: null,
                    permissions: null,
                    checkbox: 'not_accepted'
                }
            };
        },
        
        mounted(){
            axios.get('onboarding/'+ this.$route.params.id).then(response => {
                this.OnboardingData = response.data
                // console.log(this.OnboardingData)
            });
            axios.get('candidate/'+ this.$route.params.id).then(response => {
                this.CandidateData = response.data
            });
            this.getRoles()
            this.getPermissions()
        },
        methods: {
            getRoles(){
                axios.get('roles').then((data) => {
                    for (const x in data.data){
                        this.roles.push({value: data.data[x]['id'],text: data.data[x]['role_name'] })
                    }
                })
            },
            getPermissions(){
                axios.get('permissions').then((data) => {
                    for (const x in data.data){
                        this.permissions.push({value: data.data[x]['id'],text: data.data[x]['permission_name'] })
                    }
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>