<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>     
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('onboarding', { stay: checked, route:'onboarding.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'onboarding' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Onboarding</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Candidate Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-1"> 
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="candidate_id"
                                        name="candidate_id"
                                        v-model="$v.form.candidate_id.$model"
                                        :state="stateValidation('candidate_id')"
                                        :options="candidates"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>                                
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Starting Date</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="starting_date"> 
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                        id="starting_date"
                                        name="starting_date"
                                        v-model="$v.form.starting_date.$model"
                                        :state="stateValidation('starting_date')"
                                        aria-describedby="input-2-live-feedback"
                                ></b-form-datepicker>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Hired</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="hired_date"> 
                                <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                        id="hired_date"
                                        name="hired_date"
                                        v-model="$v.form.hired_date.$model"
                                        :state="stateValidation('hired_date')"
                                        aria-describedby="input-3-live-feedback"
                                ></b-form-datepicker>                                
                            </b-form-group>
                        </b-col>
                    </b-row>
                    
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Salary Offered</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group label-for="example-input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                    name="salary_offered"
                                    v-model="$v.form.salary_offered.$model"
                                    :state="stateValidation('salary_offered')"
                                    placeholder="Salary Offered">
                                </b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Status</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class="drkgry-color fs-12">(optional)</span>
                            </div>
                            <b-form-group label-for="example-input-3">
                                    <b-form-select
                                            id="status"
                                            name="status"
                                            v-model="form.status"
                                            :options="status"
                                    ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {
                checked: false,
                busy: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Onboarding', href: '#' },
                    { text: 'New', active: true },
                ],
                candidates: [
                    { value: null, text: "Select Candidate" }
                ],
                status: [
                    { value: null, text: "Select Status" },
                    { value: 1, text: "Pending" },
                    { value: 2, text: "Requirements" },
                    { value: 3, text: "Sent Job Offer" }
                ],
                form: {
                    candidate_id: null,
                    starting_date: '',
                    hired_date: '',
                    salary_offered: '',
                    status: null
                }
            };
        },
        
        mounted(){            
            axios.get('onboarding/create').then((response) => {
                let candidate_data = response.data.candidates
                candidate_data.forEach((candidate) =>{
                    this.candidates.push({value: candidate['id'], text: candidate['name'] })
                });
            })
        },
        validations: {
            form: {
                candidate_id: { required },
                starting_date: { required },
                hired_date: { required },
                salary_offered: { required }
            }
        },
        methods: {
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>