<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <div class="col-md-6" style="margin: inherit;">
                        <router-link :to="{ name: 'onboarding' }"><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Onboarding Information</span>
                    </div>
                    <div class="col-md-6 align-right" style="margin: auto;">
                        <router-link :to="{name: 'human_resource.onboarding.convert'}" style="color: #707070; "><b-button class="hr-btn btn-size" style="margin-right: 5px;">Convert</b-button></router-link>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>                            
                            <b-dropdown-item>
                                <router-link :to="{name: 'onboarding.edit', params: {id: this.$route.params.id}}">Edit</router-link>
                            </b-dropdown-item>                            
                            <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" :title='"Delete Onboarding"' component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name : 'onboardings.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'onboardings.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </div>
                </b-row>
            </b-col>
            <b-container>
                <b-row>
                    <b-col md="5">
                        <b-row>
                            <b-col md="4" class="form-group mt-50 align-right">
                                <label>Name</label>
                            </b-col>
                            <b-col md="6" class="form-group mt-50 align-left">
                                <label class="fw-bold">{{OnboardingData.candidate_name}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Starting Date</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{OnboardingData.starting_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Date Hired</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{OnboardingData.hired_date}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Salary Offered</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">PHP {{OnboardingData.salary_offered}}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="4" class="form-group align-right">
                                <label>Status</label>
                            </b-col>
                            <b-col md="6" class="form-group align-left">
                                <label class="fw-bold">{{OnboardingData.status}}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="6">
                        <b-col md="12" class="mt-50">
                            <b-card>
                                <b-row>
                                    <div class="col-md-4">
                                        <div style="text-align: center;">
                                            <img :src="require(`@/images/user.jpg`)" style="width: 120px; height: 120px;" class="rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="fs-16 fw-600" style="margin: 0;">{{CandidateData.potential_designation == null ? 'N/A' : CandidateData.get_designation.name}}</p>
                                        <label class="fs-16">{{CandidateData.contact_number}}</label><br>
                                        <label class="fs-14 fw-600" style="color: rgb(0, 128, 255);">{{CandidateData.email == null ? 'N/A' : CandidateData.email}}</label><br>
                                    </div>
                                </b-row>
                            </b-card>
                            <p></p>
                            <ApprovalStatus :data="approveData"></ApprovalStatus>
                        </b-col>
                    </b-col>
                </b-row>
            </b-container>
            <b-container>
                <div class="tab-permission mt-50">
                    <b-tabs active-nav-item-class="fw-600" content-class="mt-3">
                        <b-tab title="Job Offer" active>
                            <div class="align-right">
                                <label class="fw-600 attach-file"><i class="fa fa-plus"></i>&nbsp;Create Template</label>
                                <label class="fw-600 attach-file"><i class="fa fa-plus"></i>&nbsp;Create Job Offer</label>
                                <input type="file" style="display: none;" ref="fileInput"/> 
                            </div>
                            <vuetable ref="vuetable" :fields="job_offer" :data="JobOpeningData" :api-mode="false" :css="css.table" class="mt-20">
                                <div slot="created_at" slot-scope="props">
                                   {{dateformat(props.rowData.created_at)}}
                                </div>
                                <div slot="created_by">
                                   --
                                </div>
                                <div slot="checked_by">
                                   --
                                </div>
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                                </vuetable-pagination>
                            </div>
                        </b-tab>
                        <b-tab title="Requirements">
                            <div class="align-right">
                                <label class="fw-600 attach-file" @click="$root.$emit('bv::show::modal', 'modal-lg', $event.target)"><i class="fa fa-plus"></i>&nbsp;Add Requirements</label>
                            </div>
                            <b-form-group>
                                <div class="row">
                                    <div class="col-md-12 align-center">
                                        <b-form-checkbox-group
                                            v-model="selected"
                                            :options="RequirementData"
                                            switches
                                        ></b-form-checkbox-group>
                                    </div>
                                </div>
                            </b-form-group>
                        </b-tab>
                        <b-tab title="Attachments" >
                            <div class="align-right">
                                <label class="fw-600 attach-file"><i class="fa fa-plus"></i> Upload a File</label>
                                <input type="file" style="display: none;" ref="fileInput"/> 
                            </div>
                            <a href="#" @click="showModal($event, '2')" title="Image Manager" component="manager"><span class="fa fa-plus"></span> <b>Add files</b></a>
                            <vuetable ref="vuetable" :fields="attachments" :data="OnboardingData.candidate_attachment" :api-mode="false"  :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" class="mt-20 table-overflow">
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                                </vuetable-pagination>
                            </div>
                        </b-tab>
                        <b-tab title="Status History">
                            <vuetable ref="vuetable" :fields="history" :items="history" :api-mode="false" :data-manager="dataManager" pagination-path="pagination" @vuetable:pagination-data="onPaginationData" :css="css.table" class="mt-50 table-overflow">
                            </vuetable>
                            <div style="padding-top:0px">
                                <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination">
                                </vuetable-pagination>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </b-container>            
        </b-row>
        <b-row style="display: none">
            <Printing></Printing>
        </b-row>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import _ from 'lodash'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import moment from 'moment'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'
    
    export default {
        name: "Show",
        mixins: [modalMixins],
        components: {
            Vuetable, VuetablePagination, ApprovalStatus, Approval
        },
        data(){
            return {
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Recruitment', active: true },
                    { text: 'Onboarding', href: '#' },
                    { text: 'View', active: true },
                ],
                approveData: [],
                selected: [],
                JobOpeningData: [],
                RequirementData: [],
                interviewData: [],
                RequData: 1,
                OnboardingData: [],
                CandidateData: [],
                TimelineData: [],
                DeleteData: [],
                attachments: [
                    { name: 'description', title: 'File Name' },
                    { name: 'attached_by', title: 'Added By' },
                    { name: 'created_at', title: 'Date Added' },
                ],
                job_offer: [
                    { name: 'name', title: 'Title' },
                    { name: 'created_by', title: 'Created By' },
                    { name: 'created_at', title: 'Date Created' },
                    { name: 'checked_by', title: 'Checked By' },
                ],
                job_offer_data: [{
                    'name': 'Title' ,
                     'created_by': 'Created By' ,
                     'created_at': 'Date Created' ,
                     'checked_by': 'Checked By' ,
                }],
                history: [
                    { name: '', title: 'Status' },
                    { name: '', title: 'Updated By' },
                    { name: '', title: 'Date Updated' },
                ],
                perPage: 10,
                manager: [],
                data:[],
                history_logs: [],
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Onboarding'
                },
            }
        },
        mounted(){
            axios.get('onboarding/'+ this.$route.params.id).then(response => {
                let data = response.data.data
                this.OnboardingData = data
                this.history_logs = response.data.history_logs
                this.JobOpeningData.push(response.data.data.job_offer)
                for (const x in response.data.data.requirements){
                    this.RequirementData.push({value:response.data.data.requirements[x]['id'],text:response.data.data.requirements[x]['name']})
                    this.selected.push(response.data.data.requirements[x]['is_enabled'] == 1?response.data.data.requirements[x]['id']:'');
                }
                let status_text = new Array('--', 'Pending', 'Requirements', 'Sent Job Offer');
                this.OnboardingData.status = status_text[this.OnboardingData.status];
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'onboarding.view'}
                this.DeleteData = {value:this.$route.params.id,route:'onboarding/',route2:'onboardings',data: this.OnboardingData.candidate.name}
                this.CandidateData = response.data.data.candidate
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
        },
        methods: {    
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
             validation(){
               return true;
            },
            dateformat(value) {
               return moment(String(value)).format('MMM DD, YYYY')
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
        }
    }


</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 