/**
 * style for customize css needed for the application
 */

 $hr-link: #007bff;
 $white: #ffffff;
 $dark: #000000;
 $hr-title: #707070;
 $hr-second: #F0F0F0;
 $hr-card: #FBFBFB;
 $btn-hr: #55c755;
 $btn-crm: #ec0000;
 $btn-op: #ec6e00;
 $btn-acctg: #0d4bf6;
 $font-family: "Arial";
 

//General CSS
.breadcrumb{
    // margin-top:24px;
    background-color: white !important;
    margin-left: -15px;
    margin-bottom: 0px;
}
.btn-primary{
    background-color: #00007c !important;
}
.form-head{
    color: #707070;
    font-weight: 600;
    font-size: 1.25rem
}
.customizer-links{
    position: fixed;
    right: 00px;
    top: 50%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 0 0 15px 3px rgba(176,185,189,0.3);
    box-shadow: 0 0 15px 3px rgba(176,185,189,0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.customizer-links.open{
    right: 330px;
    border-radius: 8px 0 0 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.customizer-contain {
    direction: ltr;
    position: fixed;
    height: calc(100vh);
    top: 0px;
    width: 330px;
    right: -330px;
    background-color: #fff;
    z-index: 99;
    font-family: Nunito;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.customizer-contain.open {
    right: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 10px 1px rgba(68,102,242,0.05);
    box-shadow: 0 0 10px 1px rgba(68,102,242,0.05);
}
.customizer-contain .customizer-header {
    padding: 15px 25px;
    border-bottom: 1px solid #f6f7fb;
}
.customizer-contain .customizer-header i {
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    font-weight: 900;
    right: 30px;
    color: #4466f2;
}
.customizer-contain .customizer-header h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: #313131;
}
.customizer-contain .customizer-header p {
    color: #313131;
}
.customizer-contain .customizer-body {
    padding: 15px 25px;
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
}
.custom-scrollbar {
    -webkit-transition: all 3s;
    transition: all 3s;
}
.customizer-contain .customizer-body .tab-pane>h6:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}
.customizer-contain .customizer-body .tab-pane>h6 {
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 20px;
    border-top: 1px solid #f3f3f3;
    font-size: 15px;
}
.customizer-contain h6 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #212529;
}

.customizer-body .theme.default-theme {
    background: #1d1d1d;
}
.customizer-body .theme.chiller-theme {
    background: #374140;
}
.customizer-body .theme.legacy-theme {
    background: #2e333c;
}
.customizer-body .theme.ice-theme {
    background: #3a4d56;
}
.customizer-body .theme.cool-theme {
    background: #46454c;
}
.customizer-body .theme.light-theme {
    background: #ececec;
}
.customizer-body .theme.selected {
    border: 2px solid #00c7ff;
}
.customizer-body .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
    background-size: cover;
}

@keyframes shimmerEffect {
    0%{
        background-position: -468px 0;
    }
    100%{
        background-position: 468px 0;
    }
}

.page-wrapper.default-theme .animated-background{
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmerEffect;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #55595C 10%, #8f8b8b 18%, #55595C 33%);
    background-size: 800px 104px;
    position: relative;
}
.user-name{
    font-size: 13px;
    font-weight: 700;
}
.user-name.animated-background{
    height: 20px;
    width: 150px;
    margin: 5px;
}
.user-role.animated-background{
    height: 12px;
    width: 100px;
    margin: 5px;
}
.menu-header.animated-background{
    height: 10px;
    width: 100px;
    margin: 5px;
}
.menu-text.animated-background{
    height: 20px;
    width: 120px;
    margin: 5px;
}
.no-display{
    display: none;
}
.login-btn{
    background-color: #FF0000;
    color: #fff;
    width: 100%;
}

//ken css
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-55 {
    font-size: 55px;
}
.back-arrow {
    font-size: 30px;
    position: relative;
    top: 4px;
    margin-right: 3px;
    cursor: pointer;
}
.fw-600 {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}
.mb-0{ 
    margin-bottom: 0;
}
.mb-1rem {
 margin-bottom: 1rem;
}
.mt-08 {
    margin-top: 8px;
}
.mt-1rem {
    margin-top: 1rem;
}
.mt-12rem {
    margin-top: 12rem;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24{
    margin-top: 24px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-34 {
    margin-top: 34px;
}
.mt-50 {
    margin-top: 50px;
}
.btn-secondary:focus {
    box-shadow: none;
    outline: none;
}
.btn-hr-primary:hover {
    color: #FFFFFF;
}
.btn-size {
    width: 85px;
    box-shadow: 2px 2px #00000016;
}
.btn-dltmodal-size {
    width: 80px;
}
.btn-hr-primary {
    background-color: #55C755 !important;
    color: #FFFFFF;
    border: none;
}
.btn-shadow {
    box-shadow: 3px 5px 5px 0 rgba(24, 26, 27, 0.31), 0 2px 4px 0 rgba(40, 42, 46, 0.26);
}
.btn-ts {
    border-radius: 5px;
}
.nav-tabs .nav-link {
    border-width: 2px;
    margin-top: 0;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.ellipsis{
    a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: 100px;
        display: block;
    }
  
}
.attach-chevron {
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.week-style {
    border-radius: 50%;
    border: 1px solid;
    display: inherit;
    margin-right: 5px;
}
.pad-mon-wed {
    padding: 1px 6px;
}
.pad-tue-thu {
    padding: 1px 5px;
}
.pad-fri {
    padding: 1px 7px;
}
.bg-mayon-home {
    padding-bottom: 8.5rem;
}
.img-mayon {
    height: 100%;
    position: absolute;
    width: fit-content;
}
.mayon-logo-home {
    height: 100%;
    width: 35%;
    position: relative;
}
.img-user-size {
    width: 50px;
    height: 50px;
}
.user-size {
    width: 120px;
    height: 120px;
}
.cap-letter {
    text-transform:capitalize;
}
.pill {
    border: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    font-size: 12px;
}
.ps-pill {
    position: absolute;
    left: 11rem;
    bottom: 7.5rem;
}
.margin-0 {
    margin: 0;
}
.dropdown-item:active {
    text-decoration: none;
    background-color: #f8f9fa;
}
ul li a.dropdown-item a {
    color: #212529!important;
    text-decoration: none;
}
.mt-05 {
    margin-top: 5px;
}
.mr-05 {
    margin-right: 5px;
}
.mr-05rm{
    margin-right: 0.5rem;
}
.act-btn {
    margin-right: 10px;
    vertical-align: middle;
    font-size: xx-large;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.bg-hr-modal {
    background-color: $btn-hr;
    color: #fff;
}
.icon-modal {
    color: rgb(236, 0, 0);
    font-size: 40px;
}
.icon-modal-lg {
    color: rgb(236, 0, 0);
    font-size: 50px;
}
.bg-cancel {
    background: #fff;
    color: #707070;
}
.list-enter-active, .list-leave-active, .calen-leave-active {
    transition: opacity .5s;
}
.list-enter, .calen-enter, .list-leave-to, .calen-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
//customize calendar
.full-calendar-header {
    border: 1px solid #e0e0e0;
    padding: 10px 0px;
}
.comp-full-calendar {
    padding: 0;
}
.full-calendar-body {
    margin-top: 0px;
}
.header-center .title, .prev-month, .next-month {
    font-size: 20px;
    font-weight: 700;
}
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item {
    background-color: rgb(85, 199, 85);
    color: white;
}
.full-calendar-body .dates .more-events .more-body .body-list .body-item {
    background-color: rgb(85, 199, 85);
    color: white;
}
.label-create-a {
    margin-right: 0.5rem;
    font-weight: 700;
}
.custom-checkbox-position {
    position: absolute;
    right: 13rem;
    top: 5px;
}
.btn-drop {
    border-left: solid 1.5px #ec0000;
    width: auto;
}
//for toggle collapse
.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
//for tabs
.myportal-tabs{
    border-bottom: none!important;
    margin-top: -3.4rem;
}
.nav-tabs {
    border-bottom: solid 1px #707070;
}
.nav-link {
    display: block;
    padding: 0.5rem 2rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #707070;
}
.nav-tabs .nav-link {
    border: 1px solid #707070;
    border-top-right-radius: 10px;
    color: #707070;
    font-weight: 600;
    font-size: 14px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #707070;
    background-color: #e4e4e4;
    border-color: #707070;
}
.no-border thead th {
    border-bottom: none;
    position: relative;
    top: 1rem;
    padding-bottom: 1.5rem;
}
.no-border td {
    border-top: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bv-example-row{
    margin: 20px;

    .form-row{
        &:hover{
            .editIcon{
                display: inline-block;
            }
        }
    }
}
.editIcon{
    color: rgba(0, 0, 0, 0.38);
    display: none;
    cursor: pointer;
    margin-left: 5px;
}
.saveIcon{
    margin: 5px ;
    color: rgb(0, 204, 0);
    cursor: pointer;
}
.closeIcon{
    margin: 5px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.action-buttons{
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -2.3em;
}


//styles for HR
.hr-btn{
    background-color: $btn-hr;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 85px;
    box-shadow: 2px 2px #00000016;
}
body{
    font-family: $font-family;
    color: #707070; 
}

.hr-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: $hr-title;
}


table{
    td{
        vertical-align: middle !important;
    }
    th, tr{
        font-family: $font-family;
        // font-size: 14px;
        color: $hr-title;
    }
    th{
        border-top: 0 !important;
    }
}
.fa-home{
    font-size: 20px !important;
}
.fa-filter{
    font-size: 20px;
    // margin-left: 10px;
}
.dropdown-toggle::after { 
    content: none !important; 
} 
.hr-more {
    border: none;
    // width: 70px;
}
.hr-appr{
    border: none;
    font-size: 16px;
    font-family: $font-family;
}
.m-left{
    margin-left: 13px;
    color: $hr-title;
}
.bcard{
    background-color: $hr-card;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #707070;
    content: ">";
}


// Emman
.closeNotif{
    cursor: pointer;
    padding-right: 1.2rem;
    font-size: 1.2rem;
    color: #707070;
    margin-top: -4px;
}
.view-all-notif{
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #5f6368;
    cursor: pointer;
    height: 36px;
    box-shadow: inset 0 0 0 1px #dadce0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1a73e8;
    width: 90%;
}
.view-all-notif:hover{
    background-color: #F0F0F0;
    border-color: #dadce0;
    color: #1967d2;
}
.viewall-hover:hover{
    text-decoration: none;
}
.bir-h{
    width: 30%;
    opacity: 80%;
}
.mtop-n2rm{
    margin-top:-2rem;
}
.semibold{
    font-weight: 500;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-35{
    font-size: 35px;
}
.fs-60{
    font-size: 60px;
}
.card.width55{
    width: 55%;
}
.pt-8{
    padding-top: 8px;
}
.pt-9{
    padding-top: 9px;
}
.pt-14{
    padding-top: 14px;
}
.pt-15{
    padding-top: 15px;
}
.pt-1rm{
    padding-top:1rem;
}
.pt-2rm{
    padding-top: 2rem;
}
.pt-5rm{
    padding-top: 5rem;
}
.pt-12rm{
    padding-top: 12rem;
}
.pt-n2rm{
    padding-top: -2rem;
}
.pl-8{
    padding-left: 8px;
}
.pl-1rm{
    padding-left: 1rem;
}
.pl-3rm{
    padding-left: 3rem;
}
.pl-8rm{
    padding-left: 8rem;
}
.pl-15rm{
    padding-left: 15rem;
}
.pr-0{
    padding-right: 0px;
}
.pr-2rm{
    padding-right: 2rem;
}
.ml-n6{
    margin-left: -6px;
}
.ml-8{
    margin-left: 8px;
}
.ml-10{
    margin-left: 10px;
}
.ml-1rm{
    margin-left: 1rem;
}
.ml-n1rm{
    margin-left: -1rem;
}
.ml-1-5rm{
    margin-left: 1.5rem;
}
.ml-2rm{
    margin-left: 2rem;
}
.ml-2-5rm{
    margin-left: 2.5rem;
}
.ml-8rm{
    margin-left: 8rem;
}
.ml-12rm{
    margin-left: 12rem;
}
.ml-16rm{
    margin-left: 16rem;
}
.mr-n10{
    margin-left: -10px;
}
.mr-10rm{
    margin-right: 10rem;
}
.mt-7{
    margin-top: 7px;
}
.mt-8{
    margin-top: 8px;
}
.mt-n6{
    margin-top: -6px;
}
.mt-n8{
    margin-top: -8px;
}
.mt-n2rm{
    margin-top: -2rem;
}
.n-mt-4rm{
    margin-top: -4rem;
}
.mt-n0-7rm{
    margin-top: -0.7rem;
}
.mt-n1rm{
    margin-top: -1rem;
}
.blue-color{
    color: #0D4BF6;
}
.border-card{
    border-radius: 1rem;
    border: 1px solid #707070;
}
.hr1{
    width: 92%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.tWidth-col1{
    width: 32%;
}
.tWidth-30{
    width: 30%;
}
.tWidth-col2{
    width: 38%;
}
.tWidth-col3{
    width: 22%;
}
.wdth-auto{
    width: auto;
}
.vertical-hr {
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 10vh;       
    margin-top: 0px;
}
.vertical-hr2 {
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 20vh;
    margin-top: 0px;
}
.s-link{
    color: $hr-link;
}
.center{
    padding-left: 0;;
}
.mini-desc{
    font-size: 12px;
    margin-bottom: 0px;
}
.mini-desc-att {
    margin-left: 3.3rem;
    position: relative;
    bottom: 0.5rem;
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
.mini-circle{
    height: 40px;
    width: 40px;
    background-color: $hr-second;
    border: 1px solid $hr-title;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.mini-circle-end{
    height: 40px;
    width: 40px;
    background-color: $btn-hr;
    border: 1px solid $white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    i.align{
        color: $white;
    }
}
// .mini-circle::after{
//     content: ' ';
//     position: absolute;
//     display: block;
//     top: 1px;
//     bottom: 1px;
//     right: 50%;
//     left: 50%;
//     height: 100%;
//     width: 1px;
//     transform: scale(1, 2);
//     transform-origin: 50% -100%;
//     background-color: $hr-title;
//     z-index: -1;
// }
.line-this{
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    bottom: 1px;
    right: 50%;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: $hr-title;
    z-index: -1;
}
p .line-this:nth-last-child(1) {
    background-color: white;    
}
i.align{
    color: $hr-title;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    height: 40px;
    width: 40px;   
}
.text-end{
    color: $btn-hr;
}
.back-btn{
    font-size: 20px;
    color: #707070;
    margin-top: 2px;
}
.tdWidth{
    width: 100px !important;
}
.default-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.default-minimg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.profilecard-header {
    padding: 0!important;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: #707070;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    outline: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #707070;
    background-color: #e4e4e4!important;
}
.wdth-200{
    width: 200%;
}
.v-align-top{
    vertical-align: top!important;
}
.btn-contri{
    margin-top: -12.8rem;
    padding-bottom: 10rem;
}
.upload-img{
    cursor: pointer;
}
.b-radius{
    border-radius: 100%;
}
.lbl-tag-kawani{
    height: 1.8rem;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $btn-hr;
    border-color: $btn-hr!important;
}
.lbl-tag-kawani:hover, .lbl-tag-kawani:focus{
    height: 1.8rem;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $btn-hr;
    border-color: $btn-hr!important;
}
.lbl-tag-kamalig{
    height: 1.8rem;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $btn-op;
    border-color: $btn-op!important;
}
.lbl-tag-kamalig:hover, .lbl-tag-kamalig:focus{
    height: 1.8rem;
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $btn-op;
    border-color: $btn-op!important;
}
.opacity-8{
    opacity: 0.8;
}

// Biometrics
.btn-biometric {
    font-size: 60px;
    background-color: white!important;
    color: #6c757d!important;
    padding: 0rem 2rem!important;
    border: 1px solid rgba(0, 0, 0, 0.125)!important;
}
.right-toggle{
    color: #707070; 
    background: white!important;
}
.sb-btn{
    background-color: $btn-op;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 14rem;
    height: 3rem;
    box-shadow: 2px 2px #00000016;
}
.es-btn{
    background-color: $btn-crm;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 12rem;
    height: 3rem;
    box-shadow: 2px 2px #00000016;
}
.timein-btn{
    background-color: $btn-hr;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 12rem;
    height: 3rem;
    box-shadow: 2px 2px #00000016;
    width:100%;
    margin: 15px;
}
.var-success{
    color: $btn-hr;
}
.var-danger{
    color: $btn-crm;
}
.topdsgn-timein{
    width: 100%;
    background: #fff;
    border: solid 1px #707070;
}
body.body-timein { 
    background: rgb(248, 248, 248) !important;
    height: 100vh;
}
.clock-icon{
    font-size: 2rem;
    vertical-align: middle;
}
.time-top{
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}
.v-line1 {
    border-left: 3px solid #f0f0f0;
    height: 293px;
    margin-top: 10px;
    margin-left: 50%;
}
.v-line2{
    border-left: 3px solid #f0f0f0;
    height: 100px;
    margin-left: 50%;
}
.h-line1{
    border-top: 3px solid #f0f0f0;
    margin-right: -3rem;
    width: 4rem;
    margin-top: 1rem;
}
.h-line2{
    border-top: 3px solid #f0f0f0;
    margin-left: -3rem;
    width: 4rem;
    margin-top: 1rem;
}
.empID-input{
    border-left: solid 1.5px #ec0000; 
    width: 80%; 
    height: 3rem;
}
.icon-keyboard{
    font-size: 2.5rem;
    position: fixed;
    margin-left: 25.5rem;
    margin-top: -5px;
}
.img-right-toggle{
    width: 160px;
    height: 150px;
}
.card-nbb{
    width: 100%;
    border-bottom: none;
}
.num-accordion{
    overflow-x: hidden;
    left: -141px;
    width: 764px;
    position: absolute; 
    z-index: 1;
}
.clear-btn{
    width: 6rem;
    padding-top: 2rem;
    background: #ec0000;
}
.enter-btn{
    width: 6rem;
    padding-top: 2rem;
    background: #55c755;
}
.pt-1-5rm{
    padding-top: 1.5rem;
}
.fs-4rm{
    font-size: 4rem;
}
.pad-lrb{
    .card-body{
        padding-bottom: 0px;
    }
}
//notif

.ellipsis-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.pad-0{
    padding: 0!important;
}
.notif-hr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    padding-left: 10px;
    padding-right: 8px;
}

.notif_view{
    background: #F0F0F0;
}

// .notification-container{
//     width: 20rem;
//     height: 100%;
//     overflow-x: hidden;
//     z-index: 9999;
//     box-shadow: 0px 2px 10px #888888;
//     background: #fff;
//     // margin-left: -100%;
//     float: left;
//     position: fixed;
//     z-index: 99;
// }

.notification-container {
    direction: ltr;
    position: fixed;
    height: calc(100vh);
    top: 0px;
    width: 330px;
    right: -330px;
    background-color: #fff;
    z-index: 99;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.notification-container.notif {
    right: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 10px #888888;
}


/* Popup container - can be anything you want */
// .popup {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// /* The actual popup */
// .popup .popuptext {
//   visibility: hidden;
//   width: 160px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 8px 0;
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   margin-left: -80px;
// }

// /* Popup arrow */
// .popup .popuptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   display: block;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

// /* Toggle this class - hide and show the popup */
// .popup .show {
//   visibility: visible;
//   -webkit-animation: fadeIn 1s;
//   animation: fadeIn 1s;
// }

// /* Add animation (fade in the popup) */
// @-webkit-keyframes fadeIn {
//   from {opacity: 0;} 
//   to {opacity: 1;}
// }

// @keyframes fadeIn {
//   from {opacity: 0;}
//   to {opacity:1 ;}
// }



//styles for ADMIN
.admin-btn {
    background-color: #006DFF;
    color: $white;
    border: none;
    font-family: $font-family;
    width: 85px;
    box-shadow: 2px 2px #00000016;
}
.outline{
    outline: none;
}
.admin-color{
    color: $hr-title;
}
.left26{
    color: $hr-title;
    margin-left: 32px;
}
.mleft{
     margin-left: 32px;
}
.input-group-append { 
    margin-left: 0px !important;
}

.ui.right.floated.menu {
    float: right;
    margin: 0 0 0 .5rem;
}
.ui.pagination.menu {
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}   
.ui.pagination.menu .item {
    min-width: 3em;
    text-align: center;
}
.ui.menu .item.disabled, .ui.menu .item.disabled:hover {
    cursor: default;
    background-color: transparent!important;
    color: rgba(40,40,40,.3);
}
.ui.menu>.item:first-child {
    border-radius: .28571429rem 0 0 .28571429rem;
}
.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
}
.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.ui.pagination.menu .active.item {
    border-top: none;
    padding-top: .92857143em;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    box-shadow: none;
}
.ui.pagination.menu .item {
    min-width: 3em;
    text-align: center;
}
.ui.menu .active.item {
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    font-weight: 400;
    box-shadow: none;
}
.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.customizer-links {
    .nav{
        .nav-link{
            padding: 15px;
        }
    }
}

.wizard-header{
    display: none;
}

.wizard-card-footer{
    display: none;
}
.attach-file {
    color: rgb(0, 128, 255); 
    cursor: pointer;
    margin-right: 20px !important;
}

//error 404.vue styles

#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
  }
  
  .notfound>div:first-child {
    padding-left: 200px;
    padding-top: 12px;
    height: 170px;
    margin-bottom: 20px;
  }
  
  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 170px;
    background: #e01818;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 0px 10px #e01818 inset, 0px 0px 0px 20px #fff inset;
            box-shadow: 0px 0px 0px 10px #e01818 inset, 0px 0px 0px 20px #fff inset;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Chango', cursive;
    color: #fff;
    font-size: 118px;
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: inline-block;
    height: 60px;
    line-height: 60px;
  }
  
  .notfound h2 {
    font-family: 'Chango', cursive;
    font-size: 68px;
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.1;
  }
  
  .notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    margin-top: 5px;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    color: #e01818;
    font-weight: 400;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 480px) {
    .notfound {
      padding-left: 15px;
      padding-right: 15px;
    }
    .notfound>div:first-child {
      padding: 0px;
      height: auto;
    }
    .notfound .notfound-404 {
      position: relative;
      margin-bottom: 15px;
    }
    .notfound h2 {
      font-size: 42px;
    }
  }

#search-icon{
    display: none;
}

.PB10 {
    padding-bottom: 10px;
}
.pb-14{
    padding-bottom: 14px;
}
.PT10 {
    padding-top: 10px;
}
.TC {
    text-align: center;
}
.tagbg {
    background-color: #F6F7F8;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    padding: 6px 15px 6px 5px;
    display: inline-block;
    margin-right: 10px;
}
.radio {
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
#zp_export_body{
    font-size: 15px;
}
.delete-card-button{
    position: absolute;
    top: 0;
    margin-top: 0.5em;
    margin-right: 0.5em;
    /* left: 147px; */
    right: 0
}

.btn-inventory-primary{
    background-color: $btn-op;
    color: $white;
    border: none;
}
.k-card{
    background-color: $btn-op;
    color: $white;
}
.k-bcard{
    background-color: $hr-title;
    color: $white;
    width: 15em;
}
.m-card{
    margin-right: 20px;
}
.mt-12{
    margin-top: 12px;
}
.pl-3rm{
    padding-left: 3rem;
}
.link-color{
    a{
        color: $white;
    }
}
.inventory-btn{
    background-color:  $btn-op;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 85px;
    box-shadow: 2px 2px #00000016;
}
.remove-color{
    color: $btn-crm;
}
.add-color{
    color: $btn-op;
}
//crm styles
.btn-crm-primary {
    background-color: $btn-crm;
    color: $white;
    border: none;
}
.crm-btn{
    background-color:  $btn-crm;
    color: $white;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    width: 85px;
    box-shadow: 2px 2px #00000016;

}
.text-no-wrap {
    white-space: nowrap
}
.img-data-matters {
    width: 80%;
    height: 100%;
}
.mt-4rem {
    margin-top: 4rem;
}
.span-media-m0 {
    margin-left: 0;
}
.mt-15px {
    margin-top: 15px;
}
.op-img-size {
    width: 200px;
    height: 200px;
}
.footer {
    position: relative;
    top: 2em;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}
.img-top {
    width: 11%;
}
.rectangle {
    width: 200px;
    height: 100px;
}
.approval-shape {
    display: inline-block;
    color: black;
    font-size: 14px;
    padding: 9px 25px;
    text-transform: capitalize;
    transition: all 0.5s;
    border: 2px solid #64686c;
    text-decoration: none;
}
.approval-shape:hover {
    transform: translateY(-2px);
    color: black;
    text-decoration: none;
    box-shadow: 3px 5px 5px 0 rgba(24, 26, 27, 0.31), 0 2px 4px 0 rgba(40, 42, 46, 0.26);
}
.info-icon {
    position: relative;
    left: 17rem;
    bottom: 2.8rem;
    font-size: 20px;
    color: #5c5757;
}
.dropzone .dz-preview .dz-error-message {
    top: 90px!important;
}
.ob-elips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
}
.icon-position {
    position: relative;
    left: 24rem;
    bottom: 2rem;
    cursor: pointer;
}
.dash-income {
    background: #dcdcdc85;
    border-style: dashed;
    border-radius: 10px;
    padding: 1rem 1rem;
}
.dash-income > span > b {
    font-size: 20px;
    margin-left: 2rem;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  
    .ml-12rm {
        margin-left: 0rem;
    }
    .card.width55{
        width: 100%;
    }
    .button-position {
        position: absolute;
        right: 0;
    }
    .table-overflow {
        overflow: auto;
    }
    .table-payroll-overflow{
        overflow-x: auto;
    }
    .table thead th {
        vertical-align: middle;
    }
    .dc-align {
        display: none;
    }
    .media-left {
        text-align: left;
    }
    .sort-icon {
        position: relative;
        margin-left: 5px;
    }
    .total-dc {
        display: block;
    }
    .hide-edit {
        display: none;
    }
    .show-edit {
        display: block!important;
    }
    .ml-05n {
        margin-left: 0;
    }
    .pd-l1 {
        padding-left: 1rem;
    }
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 130px
    }
    .page-wrapper.toggled .page-content {
        padding-left: 290px
    }
    .label-left {
        text-align: left;
    }
    .mt-1rem {
        margin-top: 0;
    }
    .img-left {
        text-align: left;
    }
    .img-data-matters {
        width: 40%;
        height: 100%;
    }
    .mt-2rem {
        margin-top: 2rem;
    }
    .data-12 {
        font-size: 12px;
    }
    .data-20 {
        font-size: 20px;
    }
    // .footer {
    //     position: relative;
    // }
    .img-top {
        width: 25%;
    }
    .locator-attendance {
        text-align: center;
    }
    .num-accordion{
        overflow-x: hidden;
        left: 0px;
        width: 100%;
        position: absolute; 
        z-index: 1;
    }
    .wdth0{
        padding-left: 6rem;
        width: 20%!important;
    }
    .v-line1 {
        border-left: 3px solid #f0f0f0;
        height: 50px;
        margin-top: 10px;
        margin-left: 50%;
    }
    body.body-timein { 
        background: rgb(248, 248, 248) !important;
        height: 66vh;
    }
    .show-row{
        margin-top: 60px;
        display: show;
    }
    .hide-row{
        display: none;
    }
    .btn-contri{
        margin-top: -16rem;
        padding-bottom: 11rem;
    }
    .table-contri{
        padding-top: 3rem;
    }
    .pt-media{
        margin-top: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  
    @media (min-width: 576px) and (max-width: 662px){
        .btn-contri{
            margin-top: -15.3rem;
            padding-bottom: 10rem;
        }
        .table-contri{
            padding-top: 3rem;
        }
    }
    .ml-12rm {
        margin-left: 0rem;
    }
    .card.width55{
        width: 100%;
    }
    .button-position {
        position: absolute;
        right: 0;
    }
    .media-left {
        text-align: left;
    }
    .table-overflow {
        overflow: auto;
    }
    .table-payroll-overflow{
        overflow-x: auto;
    }
    .table thead th {
        vertical-align: middle;
    }
    // .sort-icon {
    //     position: absolute;
    //     margin-left: 5px;
    // }
    .hide-edit {
        display: none;
    }
    .show-edit {
        display: block!important;
    }
    .no-mt{
        margin-top: 0px;
    }
    .dc-align{
        display: none;
    }
    .total-dc{
        display: block;
    }
    .pd-l1 {
        padding-left: 1rem;
    }
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 130px
    }
    .page-wrapper.toggled .page-content {
        padding-left: 290px
    }
    .img-left {
        text-align: left;
    }
    .img-data-matters {
        width: 40%;
        height: 100%;
    }
    .mt-2rem {
        margin-top: 2rem;
    }
    .data-12 {
        font-size: 12px;
    }
    .data-20 {
        font-size: 20px;
    }
    .ptpb-overview {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    // .footer {
    //     position: relative;
    // }
    .img-top {
        width: 25%;
    }
    .locator-attendance {
        text-align: center;
    }
    body.body-timein { 
        background: rgb(248, 248, 248) !important;
        height: 78vh;
    }
    .v-line1 {
        border-left: 3px solid #f0f0f0;
        height: 100px;
        margin-top: 10px;
        margin-left: 50%;
    }
    .pad-left1{
        padding-left: 6rem;
    }
    .num-accordion{
        overflow-x: hidden;
        left: -100px;
        width: 126%;
        position: absolute; 
        z-index: 1;
    }
    .show-row{
        margin-top: 140px;
        display: show;
    }
    .hide-row{
        display: none;
    }
    .pt-media{
        margin-top: 1rem;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  
    .ml-12rm {
        margin-left: 0rem;
    }
    .card.width55{
        width: 100%;
    }
    .dc-align{
        display: block;
    }
    .total-dc{
        display: none;
    }
    // .footer {
    //     position: relative;
    // }
    .show-edit {
        display: none;
    }
    .table-overflow{
        overflow-x: auto;
    }
    .table-payroll-overflow{
        overflow-x: auto;
    }
    .pd-l1 {
        padding-left: 1rem;
    }
    .data-12 {
        font-size: 12px;
    }
    .num-accordion{
        overflow-x: hidden;
        left: -90px;
        width: 135%;
        position: absolute; 
        z-index: 1;
    }
    .show-row{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {    
    .dc-align{
        display: block;
    }
    .total-dc{
        display: none;
    }
    .show-edit { 
        display: none;
    }
    .num-accordion{
        overflow-x: hidden;
        left: -100px;
        width: 130%;
        position: absolute; 
        z-index: 1;
    }
    .show-row{
        display: none;
    }
    .table-payroll-overflow{
        overflow-x: auto;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .dc-align{
        display: block;
    }
    .total-dc{
        display: none; 
    }
    .show-edit { 
        display: none;
    }
    .show-row{
        display: none;
    }
    .table-payroll-overflow{
        overflow-x: auto;
    }
}