// sidebar header scss
/*=====  SLIDE MENU  ======*/

/*----------  HIDE SELECT CHECKBOX  ----------*/


.toggle {
  display: none;
}

.full-screen-close {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}

/*----------  TOGGLE OFF-CANVAS MENU  ----------*/

.toggle:checked + {
  .menu-container {
    margin-left: 0;
  }

  .content .full-screen-close {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
}
.menu-container.shown{
  margin-left: 0;
  position: fixed;
}
// .menu {
//   padding-top: 24px;
// }

.toggle-btn {
  cursor: pointer;
}

.close-btn {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #707070;
}

.menu-container, .content {
  transition: margin 0.5s ease-in-out;
}

.menu-container {
  background: #fff;
  width: 40%;
  margin-left: -100%;
  float: left;
  height: 100%;
  position: fixed;
  z-index: 99;
}

.sw-label {
  color: #707070;
}

.slide-menu {
  i {
    margin-right: 1rem;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  li a {
    color: #707070;
    padding: 0.5rem;
    // text-transform: uppercase;
    font-weight: 600;
    display: block;
    transition: background-color .5s ease-in-out;

    &:hover {
      background-color: #F0F0F0;
    }
  }
}

/*=====  MEDIA QUERIES  ======*/
@media (max-width: 460px) {
  .slide-menu li {
    a {
      font-size: 0.875rem;
      padding-left: 12px;
    }

    i {
      font-size: 16px;
    }
  }
}

@media (max-width: 320px) {
  .slide-menu li i {
    display: none;
  }
}


.first-sidebar {
    width: 3rem !important;
    height: 100vh;
    background: #00007c ;
    border-radius: 0rem !important;
    margin-bottom: 0px !important;
    position: fixed;
  
    ul {
      list-style-type: none;
      padding: 0;
      bottom: 0rem !important;
      position: fixed !important;
      padding-bottom: 2rem !important;
    }
  
    li {
      padding: 1em;
    }
    a{
      color: #FFF;
    }
  }
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 3rem !important;
  }
  
  /*=====  UTILITIES  ======*/
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
    &:after, &:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
  .clearfix {
    &:before {
      content: " ";
      display: table;
    }
  
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  
  /*=====  GENERAL PAGE STYLES  ======*/
  
  .menu-container {
    width: 20rem;
  
    /*full screen width*/
    height: 100%;
  
    /*full screen height*/
    overflow-x: hidden;
  
    /*no horizontal scroll bar*/
    z-index: 9999;

    box-shadow: 0px 2px 10px #888888;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    line-height: 1.5;
  }
  
  h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 3rem 0;
  }
  
  /*=====  AP META  ======*/
  
  .ap-meta {
    text-align: center;
    font-size: 1.125rem;
  
    a {
      color: #2196F3;
      margin-right: 24px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    i {
      margin-right: 6px;
    }
  }
  
  /*===== SLIDE OPTIONS  ======*/
  
  .menu-options {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 30%;
  
    h3 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 36px;
    }
  
    a {
      display: block;
      padding: 6px 12px;
      border: 1px solid #2196F3;
      border-radius: 5px;
      color: #2196F3;
      font-weight: 500;
      margin-bottom: 12px;
      transition: all .5s ease-in-out;
  
      &:hover {
        background: #2980b9;
        color: #fff;
      }
    }
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  /*===== GENERAL MEDIA QUERIES ======*/
  
  @media (max-width: 980px) {
    .menu-options {
      width: 50%;
    }
  }
  
  @media (max-width: 605px) {
    .menu-options {
      width: 80%;
    }
  }
  
  @media (max-width: 518px) {
    .ap-meta a span {
      display: none;
    }
  }
  
  @media (max-width: 375px) {
    .ap-meta a span {
      display: none;
    }
  
    header h1 {
      font-size: 1.5rem;
      font-weight: 600;
    }
  
    .menu-options {
      width: 100%;
    }
  }
  
  @media (max-width: 330px) {
    .content {
      padding: 0 1rem;
    }
  
    .menu {
      margin-bottom: 1.5rem;
    }
  
    .ap-meta a span {
      display: none;
    }
  
    header h1 {
      font-size: 1.125rem;
      font-weight: 600;
    }
  
    .menu-options {
      width: 100%;
    }
  }