/*=====  SLIDE MENU  ======*/

/*----------  HIDE SELECT CHECKBOX  ----------*/


.toggle {
    display: none;
  }
  
  .full-screen-close {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  
  /*----------  TOGGLE OFF-CANVAS MENU  ----------*/
  
  .toggle:checked + {
    .menu-container {
      margin-left: 0;
    }
  
    .content .full-screen-close {
      display: block;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  
  // .menu {
  //   padding-top: 24px;
  // }
  
  .toggle-btn {
    cursor: pointer;
  }
  
  .close-btn {
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #ededed;
  }
  
  .menu-container, .content {
    transition: margin 0.5s ease-in-out;
  }
  
  .menu-container {
    background: #2c3e50;
    width: 40%;
    margin-left: -100%;
    float: left;
    height: 100%;
    position: absolute;
    z-index: 99;
  }
  
  .sw-label {
    color: #fff;
  }
  
  .slide-menu {
    i {
      margin-right: 1rem;
      font-size: 1.5rem;
      vertical-align: middle;
    }
  
    li a {
      color: #fff;
      padding: 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
      display: block;
      transition: background-color .5s ease-in-out;
  
      &:hover {
        background-color: #34495e;
      }
    }
  }
  
  /*=====  MEDIA QUERIES  ======*/
  @media (max-width: 460px) {
    .slide-menu li {
      a {
        font-size: 0.875rem;
        padding-left: 12px;
      }
  
      i {
        font-size: 16px;
      }
    }
  }
  
  @media (max-width: 320px) {
    .slide-menu li i {
      display: none;
    }
  }