.ellipsis-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
.pad-0{
    padding: 0!important;
}
.notif-hr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    padding-left: 10px;
    padding-right: 8px;
}

.notif_view{
    background: #F0F0F0;
}

.notification-container{
    width: 20rem;
    height: 100%;
    overflow-x: hidden;
    z-index: 9999;
    box-shadow: 0px 2px 10px #888888;
    background: #fff;
    // margin-left: -100%;
    float: left;
    position: fixed;
    z-index: 99;
}

/* Popup container - can be anything you want */
// .popup {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// /* The actual popup */
// .popup .popuptext {
//   visibility: hidden;
//   width: 160px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 8px 0;
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   margin-left: -80px;
// }

// /* Popup arrow */
// .popup .popuptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   display: block;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

// /* Toggle this class - hide and show the popup */
// .popup .show {
//   visibility: visible;
//   -webkit-animation: fadeIn 1s;
//   animation: fadeIn 1s;
// }

// /* Add animation (fade in the popup) */
// @-webkit-keyframes fadeIn {
//   from {opacity: 0;} 
//   to {opacity: 1;}
// }

// @keyframes fadeIn {
//   from {opacity: 0;}
//   to {opacity:1 ;}
// }