<template>
    <div class="form-group col-md-12">
        <h4 class="form-head">Inventory Dashboard</h4>
        <div class="row justify-content-center">
            <div class="col-md-12 margin-top">

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Dashboard"
    }
</script>

<style scoped>

</style>