<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form>
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'thirteenth_months' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create 13th Month</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button class="hr-btn" @click.prevent="store()">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Employee Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-1" label-for="input-1">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        name="employee_id"
                                        id="employee_id"
                                        v-model="$v.form.employee_id.$model"
                                        :options="employee_options"
                                        :state="stateValidation('employee_id')"
                                        :style="employeeDropdown ? filterStyle : null"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Period</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="input-group-4" label-for="input-4">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        name="period"
                                        id="period"
                                        v-model="$v.form.period.$model"
                                        :state="stateValidation('period')"
                                        :options="period_option"
                                        :style="periodText ? filterStyle : null"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Year</b>
                        </b-col>   
                        <b-col md="7" lg="5">
                            <b-form-group label="" label-for="year">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.year.$model"
                                        :state="stateValidation('year')"
                                        :options="year_option"
                                        :style="yearText ? filterStyle : null"
                                ></b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row> 
                        <b-col offset-md="7" md="3" offset-lg="6" lg="3" class="media-left align-right">
                            <b-form-group>
                                <a class="fs-16 fw-bold text-no-wrap" style="color: #1C7CD5; cursor: pointer;" @click="addRow">+ Add Employee</a>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-table hover :items="form.employeeData" :fields="tableColumns"  show-empty style="width: 100%">
                                <template v-slot:cell(employee_name)="items">
                                    {{items.item.employee_name}}
                                </template>
                                <template v-slot:cell(period)="items">
                                    {{items.item.period}}
                                </template>
                                <template v-slot:cell(amount)="items">
                                    {{items.item.amount}}
                                </template>
                                <template v-slot:cell(months_worked)="items">
                                    {{items.item.months_worked}}
                                </template>
                                <template v-slot:cell(total_months)="items">
                                    {{items.item.total_months}}
                                </template>
                                <template v-slot:cell(year)="items">
                                    {{items.item.thirteenth_month_year}}
                                </template>
                                <template v-slot:cell(action)="items">
                                    <i class="fa fa-times fa-2x remove-color" aria-hidden="true" style="font-size: 20px; margin-left: 1rem; cursor: pointer;" v-on:click="removeElement(items.item)"></i>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>   
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: '13th Month', href: '#' },
                    { text: 'New', active: true },
                ],
                employee_options: [
                    { value: null, text: "Select Employees" }
                ],
                form: {
                    employee_id: null,
                    period: '',
                    employeeData: [],
                    year: null
                },
                period_option: [
                    { value: '', text: 'Select Period' },
                    { value: 1, text: 'January-May' },
                    { value: 2, text: 'June-December' },
                ],
                year_option:[ { value: null, text: "Select Year" } ],
                tableColumns: [
                    'employee_name', 'period', 'amount', 'total_days_worked' ,'months_worked', 'total_months', 'year', 'action'
                ],
                filterStyle: {
                    borderColor: '#dc3545',
                },
                employeeDropdown: false,
                periodText: false,
                yearText: false
            }
        },
        mounted(){
            axios.get('thirteenthmonth/create').then((response) => {
                let employee_data = response.data.employee;
                employee_data.forEach((employee) =>{
                    this.employee_options.push({value: employee['id'],text: employee['last_name'] + ' ' + employee['first_name']})
                });
               
            });

            axios.get('attendance-years').then( response => {
                let years = response.data;

                years.forEach((year) => {
                    this.year_option.push({
                        value: year['year'],
                        text: year['year']
                    })
                });
            });
        },
        validations: {
            form: {
                employee_id: { required },
                period: { required },
                year: { required }
            }
        },
        methods: {
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            removeElement : function (item) {
                this.form.employeeData.splice(this.form.employeeData.indexOf(item), 1);
            },
            addRow(){
                if (this.form.employee_id == null || this.form.period == ''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                    if(this.form.employee_id == null){
                        this.employeeDropdown = true;
                    }
                    if(this.form.period == ''){
                        this.periodText = true;
                    }
                    if(this.form.year == ''){
                        this.year = true;
                    }
                }
                else {
                    if(this.form.employeeData == null){
                        this.form.employeeData = [];
                    }       
                    try {
                        this.employeeDropdown = false;
                        this.periodText = false;
                        var my_object = [];
                        axios.get('thirteenthmonth/getDetails/' + this.form.employee_id + '?period=' + this.form.period + '&year=' + this.form.year).then((response) => {
                            let data = response.data
                            let found = this.form.employeeData.some(el => el.employee_id === data.employee_id);
                            if (data == "Error"){
                                this.makeToast('Oopps!','This Inventory is already in use','danger')
                            } 
                            if (found) {
                                this.makeToast('Data Error','Employee already added','danger')
                            }
                            else if(data.rendered_hours == 0) {
                                this.makeToast('Data Error','No data found on this period','danger')
                            }
                            else{
                                my_object = {
                                    employee_id: data.employee_id,
                                    employee_name: data.employee_name,
                                    category: this.form.period,
                                    period: this.form.period == 1 ? 'January-May' : 'June-December',
                                    amount: this.formatPrice(data.amount),
                                    total_days_worked: data.total_days_worked,
                                    total_months: data.months_worked,
                                    months_worked: data.months,
                                    hours_render: data.rendered_hours,
                                    thirteenth_month_year: data.year
                                };   
                                this.form.employeeData.push(my_object)
                            }                     
                        })
                    }catch (e) {
                        console.log(e)
                    }
                    
                }
            },
            store() {
                this.form.employeeData.forEach(datas => {
                    axios.post('thirteenthmonth', datas).then((response) => {
                        let data = response.data 
                        if (data.error){
                            this.makeToast('Oopps!',data.desc,'danger')
                        } else{
                            this.form.item = [];
                    
                            this.makeToast('Success','Successfully Created','success')
                            
                            if(this.checked == false){
                                this.$router.push({
                                    name: 'thirteenth_months'
                                });
                            }
                        }
                    });
                });
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>