<template>
    <div class="row justify-content-center mt-30">
        <div class="col-md-12">
            <vuetable ref="vuetableHistory" 
                :fields="history_fields" 
                :api-mode="false" 
                class="table-overflow" 
                :data-manager="dataManagerHistory" 
                pagination-path="pagination" 
                @vuetable:pagination-data="onPaginationDataHistory"
                :css="css.table">
                <div slot="employee_name" slot-scope="props">
                    <router-link 
                        :to="{ name: 'thirteenth_months.view', params: {id: props.rowData.id} }">
                        {{ props.rowData.employee_name }}
                    </router-link>
                </div>
                <div slot="created_by" slot-scope="props">
                    <b-row>
                        <b-col md="2" class="text-center">
                            <img v-if="props.rowData.history_logs == null" :src="require(`@/images/user.jpg`)" class="mr-05 rounded-circle default-minimg"/>
                            <b-avatar v-else :src="props.rowData.history_logs" size="lg" class="mr-05"></b-avatar>
                        </b-col>
                        <b-col md="8" style="padding-left: 0;">
                            <p class="mini-desc bold">{{ props.rowData.created_by }}</p>
                            <span class="mini-desc">{{ props.rowData.date }} | {{ props.rowData.time }}</span>
                        </b-col>
                    </b-row>
                </div>
            </vuetable>
            <div style="padding-top:0px">
                <vuetable-pagination 
                    ref="paginationHistory"
                    @vuetable-pagination:change-page="onChangePageHistory" 
                    :css="css.pagination"
                ></vuetable-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import _ from 'lodash'
import axios from 'axios'
import VuetableCSS from '@/assets/scripts/vuetable-custom'
import { mapActions, mapGetters } from 'vuex'

export default {
    name: 'history-table',
    components: {
        Vuetable,
        VuetablePagination
    },
    data() {
        return {
            activeTab: 'history',
            history_fields: [
                {
                    name: 'employee_name',
                    title: 'Employee Name',
                    sortField: 'employee_name'
                },
                {
                    name: 'period',
                    title: 'Period',
                    sortField: 'period'
                },
                {
                    name: 'year',
                    title: 'Year',
                    sortField: 'year'
                },
                {
                    name: 'approved_status',
                    title: 'Approval Status',
                    sortField: 'approved_status'
                },
                {
                    name: 'created_by',
                    title: 'Created By',
                    sortField: 'created_by',
                    width: '25%',
                    formatter: (value) => {
                        return value 
                    }
                }
            ],
            perPage: 10,
            data: [],
            css: VuetableCSS
        }
    },
    watch: {
        data() {
            this.$refs.vuetableHistory.refresh();
        }
    },
    computed: {
        ...mapGetters({
            thirteenthMonthHistoryList: 'thirteenthMonthHistoryList'
        }),
    },
    mounted() {
        this.fetchThirteenthMonthHistory();

        this.dataList(this.thirteenthMonthHistoryList);

        
    },
    methods: {
        dataList(history, update = true) {
            for (let value of history){ 
                let history = {
                    id: value['id'],
                    employee_name: value['employee_name'],
                    period: value['period'],
                    year: value['thirteenth_month_year'],
                    approved_status: value['status'],
                    created_by: value['history_logs'][0]['user'] ? value['history_logs'][0]['user'] : 'N/A',
                    time: value['history_logs'][0]['time'],
                    date: value['history_logs'][0]['date'],
                    history_image: value['history_logs'][0]['image']
                }
                this.data = this.data.concat(history)
            }

            if (update) {
                axios.get('thirteenthmonth/history').then((response) => {
                    if (response.data.length != history.length) {
                        console.log('update api');
                        this.data = []
                        this.dataList(response.data);
                    }
                })
            }
        },
        ...mapActions({
            fetchThirteenthMonthHistory : 'fetchThirteenthMonthHistory'
        }),
        onPaginationDataHistory(tablePagination) {
            this.$refs.paginationHistory.setPaginationData(tablePagination)
        },
        onChangePageHistory(page){
            this.$refs.vuetableHistory.changePage(page)
        },
        dataManagerHistory(sortOrder,pagination){

            if (this.data.length < 1) return;

            let local_history = this.data;

            if (sortOrder.length > 0){
                console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                local_history = _.orderBy(
                    local_history,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                );
            }

            pagination = this.$refs.vuetableHistory.makePagination(
                local_history.length,
                this.perPage
            );
            let from = pagination.from - 1;
            let to = from + this.perPage;
            return {
                pagination: pagination,
                data: _.slice(local_history, from, to)
            };
        },
    }
}
</script>