<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template>
            <!-- Modal Delete -->
            <modal2>
                <h5 slot="header" class="margin-0">Delete 13th Month</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">13th Month Year</p></div>
                <div class="col text-right">
                    <router-link :to="{name: 'thirteenth_months.create'}"> <b-button class="hr-btn btn-shadow mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </b-row>
            <div class="mt-30">
                <b-tabs content-class="mt-3"  align="right">
                    <b-tab title="Upcoming" active>
                        <div class="row justify-content-center mt-30" >
                            <b-col md="12">
                                <b-row>
                                    <b-col sm="6">
                                        <b-button class="btn btn-light" size="md" v-b-toggle.collapse-1 style="width: auto">Filter <b-icon icon="filter-left" style="vertical-align: middle;" aria-hidden="true"></b-icon> </b-button>
                                    </b-col>
                                    <b-col sm="6">
                                        
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col sm="12">
                                        <b-collapse id="collapse-1" class="mt-12">
                                            <b-card style="padding-right:1.5rem;">
                                                <b-container class="bv-example-row">
                                                    <p class="card-text"></p>
                                                    <b-row>
                                                        <b-col>
                                                            <b-form>
                                                                <label label-align-sm="left" label-size="lg" >Year: </label>
                                                                <b-form-select @change="applyFilter($event)" class="clean-form-input" v-model="filter.year" :options="year_options" button-only></b-form-select>
                                                            </b-form>
                                                        </b-col>
                                                    </b-row>
                                                </b-container>
                                            </b-card>
                                        </b-collapse>
                                    </b-col>
                                </b-row>
                            </b-col>
                            <div class="col-md-12">
                                <vuetable @vuetable:checkbox-toggled-custom="addCheckboxID" 
                                    @vuetable:checkbox-toggled-all="checkALL" 
                                    ref="vuetable" 
                                    :fields="fields" 
                                    :api-mode="false" 
                                    class="table-overflow"
                                    :data-manager="dataManager" 
                                    pagination-path="pagination" 
                                    @vuetable:pagination-data="onPaginationData"
                                    :css="css.table">
                                    <div slot="employee_name" slot-scope="props">
                                        <router-link :to="{ name: 'deductions.view', params: {id: props.rowData.id} }">{{ props.rowData.employee_name }}</router-link>
                                    </div>
                                    <div slot="total_amount" slot-scope="props">
                                        ₱ {{ props.rowData.total_amount }}
                                    </div>
                                </vuetable>
                                <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                            </div>
                        </div>
                    </b-tab>
                    <b-tab title="History" @click="activeTabHistory()">
                        <history-table v-if="activeTab === 'history'"></history-table>
                    </b-tab>
                </b-tabs>
            </div>
        </template>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import HistoryTable from './History'
    import { mapActions, mapGetters } from 'vuex'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components:{
            Vuetable,
            VuetablePagination,
            Modal2,
            HistoryTable
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "reimbursements",
                    title: "13th Month",
                    description: "",
                    route_create: "thirteenth_months.create",
                    route_import: "thirteenth_months.import",
                    params: "thirteenth_months",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: '13th Month', href: '#'},
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: '_parse_name',
                        title: 'Employee',
                        sortField: '_parse_name'
                    },
                    {
                        name: 'first_period',
                        title: 'First Period (Jan-May)',
                        sortField: 'first_period',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'status_first',
                        title: 'Status 1st',
                        sortField: 'status_first',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'second_period',
                        title: 'Second Period (June-Dec)',
                        sortField: 'second_period',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'status_second',
                        title: 'Status 2nd',
                        sortField: 'status_second',
                        formatter: (value) => {
                            return value
                        }
                    },
                             
                ],
                year_options:[ { value: null, text: "Select Year" } ],
                filter: {
                    year: new Date().getFullYear()
                },
                perPage: 10,
                data:[],
                activeTab: null,
                current_year: new Date().getFullYear()
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        computed: {
            ...mapGetters({
                thirteenthMonthList: 'thirteenthMonthList'
            }),
        },
        mounted() {
            this.fetchThirteenthMonth();

            this.dataList(this.thirteenthMonthList);

            axios.get('attendance-years').then( response => {
                let years = response.data;

                years.forEach((year) => {
                    this.year_options.push({
                        value: year['year'],
                        text: year['year']
                    })
                });
            });
        },
        methods: {
            applyFilter(value) {
                let url = 'thirteenthmonth?year='+value;

                console.log(url);
                axios.get(url).then((response) => {
                    console.log(response.data);
                    if (response.data.length != 0) {
                        this.data = []
                        this.dataList(response.data, false);
                    } else {
                        this.makeToast('','No Data Retrieved with provided filter.','danger');
                    }   
                })
            },
            dataList(thirteenth_month, update = true) {

                this.data = thirteenth_month;

                if (update) {
                    axios.get('thirteenthmonth').then((response) => {
                        if (response.data.length != thirteenth_month.length) {
                            console.log('update api');
                            this.data = []
                            this.dataList(response.data);
                        }
                    })
                }
            },
            ...mapActions({
                fetchThirteenthMonth: 'fetchThirteenthMonth'
            }),
            activeTabHistory() {
                this.activeTab = 'history';
            },
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            TotalAmount(data){
                console.log(data);
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('deduction/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }

    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}

</style>