<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row justify-content-center mt-30">
            <div class="col-md-12"> 
                <b-form @submit.stop.prevent="save">
                    <div class="row">
                        <router-link :to="{name: 'users'}" style="color: #707070;"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Create Users</h5></div>
                        <b-col sm="6" md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="stay_on_page"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="admin-btn">Save</b-button>
                        </b-col>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Connected Employee</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-1"> 
                               <b-form-select
                                        v-model="form.employee_id"
                                        :options="employees"
                                        aria-describedby="input-1-live-feedback"
                                        @change="fullName()"
                                        class="default-color"
                                ></b-form-select>
                                <!-- <b-form-invalid-feedback id="user_id-feedback">This is a required field.</b-form-invalid-feedback> -->
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Username</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="name"
                                        v-model="$v.form.name.$model"
                                        :state="stateValidation('name')"
                                        placeholder="Username"
                                ></b-form-input>
                                
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Email Address</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="email"
                                        v-model="$v.form.email.$model"
                                        :state="stateValidation('email')"
                                        placeholder="An invitation will be sent to this Email Address"
                                ></b-form-input>
                                
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Password</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="password"
                                        autocomplete="new-password"
                                        :type="passwordFieldType"
                                        v-model="$v.form.password.$model"
                                        :state="stateValidation('password')"
                                        placeholder="Set Password"
                                ></b-form-input>
                                
                            </b-form-group>
                            <span toggle="#password-field" @click="showHide" class="fa fa-fw fa-eye field-icon "></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Roles</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-4">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="role_id"
                                        name="role_id"
                                        v-model="$v.form.role_id.$model"
                                        :options="roles"
                                        :state="stateValidation('role_id')"
                                        aria-describedby="input-4-live-feedback"
                                ></b-form-select>
                                
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Role Exemptions</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-4">
                                 <multiselect
                                    style="border-left: solid 1.5px #ec0000"
                                    track-by="text"
                                    label="text"
                                    v-model="form.systems"
                                    :options="systems"
                                    :searchable="false"
                                    :multiple="true">       
                                </multiselect>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Permissions</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="permission_id" label-for="example-input-5">
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="permission_id"
                                        name="permission_id"
                                        v-model="$v.form.permission_id.$model"
                                        :options="permissions"
                                        :state="stateValidation('permission_id')"
                                        aria-describedby="input-5-live-feedback"
                                ></b-form-select>
                                
                            </b-form-group>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4 text-right pt-9">
                        </div>   
                        <div class="col-md-5">
                            <b-form-checkbox
                                id="share-with-peers"
                                name="is_email"
                                v-model="form.is_email"
                                value="1"
                                unchecked-value="0"
                                true-value="1"
                                false-value="0"
                            > Send Notification Email 
                                <span class="fa fa-info-circle" 
                                    v-b-tooltip.hover 
                                    title="Send an email to the user you have just created, which will allow them to set up their password (if applicable).">
                                </span>
                            </b-form-checkbox>                     
                        </div>
                    </div> -->
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '../../../mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        components: { Multiselect },
        data() {
            return {
                busy: false,
                breadcrumbs: [
                    {
                        html: '<span class="fa fa-home"></span>',
                        href: '#'
                    },
                    {
                        text: 'User Management',
                        active:true
                    },
                    {
                        text: 'Users',
                        href: '#'
                    },
                    {
                        text: 'New',
                        active:true
                    },
                ],
                employees: [
                    { value: null, text: "Select Employees" , email:""}
                ],
                roles: [
                    { value: null, text: "Select Roles" }
                ],
                permissions: [
                    { value: null, text: "Select Permissions" }
                ],
                systems: [

                ],
                form: {
                    employee_id: null,
                    password: null,
                    name: '',
                    email: '',
                    status: '1',
                    role_id: null,
                    permission_id: null,
                    is_email: '0',
                    systems: null
                },
                passwordFieldType: 'password',
                show: true,
                stay_on_page: false
            };
        },
        
        mounted(){
            this.getEmployees()
            this.getRoles()
            this.getPermissions()
            this.getSystems()
        },
        validations: {
            form: {
                role_id: { required },
                name: { required },
                password: { required },
                email: { required },
                permission_id: { required }
            }
        },
        methods: {
            showHide(event){
                if (this.passwordFieldType == 'password') {
                    event.target.className = "fa fa-fw fa-eye fa-eye-slash field-icon";
                } else {
                    event.target.className = "fa fa-fw fa-eye field-icon";
                }

                this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
            },
            getEmployees(){
                axios.get('users/create').then((response) => {
                    let employees_data = response.data.data;
                    employees_data.forEach((datum) =>{
                        this.employees.push({value: datum['id'],text: datum['first_name'] + ' ' + datum['last_name'], email: datum['email']})
                    });
                })
            },
            getRoles(){
                axios.get('roles').then((data) => {
                    let roles_data = data.data;
                    roles_data.forEach((role) =>{
                        this.roles.push({value: role['id'],text: role['role_name'] })
                    });
                })
            },
            getPermissions(){
                axios.get('permissions').then((data) => {
                     let permissions_data = data.data;
                    permissions_data.forEach((permission) =>{
                        this.permissions.push({value: permission['id'],text: permission['permission_name'] })
                    });
                })
            },
            getSystems(){
                axios.get('system').then((response) => {
                    console.log(response.data);
                    response.data.forEach((system)=>{
                        this.systems.push({
                            id: system.id,
                            text: system.name,
                        });
                    });
                })
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            fullName: function(){
                const sel = document.getElementById('user_id');
                const employee_id =sel.options[sel.selectedIndex].value == ""?null:sel.options[sel.selectedIndex].value;
                for(const x in this.employees){
                    if(this.employees[x].value == employee_id){
                        this.form.email = this.employees[x].email;
                        this.form.name = this.employees[x].text;
                    }
                }
            },
            save(){
                this.submitForm('users', {stay: this.stay_on_page, route: 'users.view'}).then((result) => {
                    //this.form.reports_to = null;
                    this.reports_to.push({
                        value: result.id,
                        text: result.role_name
                    });
                });
            }
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.field-icon {
  float: right;
  padding-right: 50px;
  margin-top: -42px;
  position: relative;
  z-index: 2;
}
</style> 