<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <div class="row justify-content-center mt-30">
            <div class="col-md-12"> 
                <b-form @submit.stop.prevent="submitForm(route, { stay: false, route:'users.view', edit: true })">
                    <div class="row">
                        <router-link :to="{name: 'users.view'}" style="color: #707070;"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                        <div class="col text-left"><h5 class="form-head">Edit Users</h5></div>
                        <b-col sm="6" md="6" lg="6" class="align-right text-no-wrap">
                            <b-button type="submit" class="admin-btn">Update</b-button>
                        </b-col>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Connected Employee</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-1"> 
                               <b-form-input
                                    v-model="form.employee_id"
                                    aria-describedby="input-1-live-feedback"
                                    class="default-color"
                                    disabled
                                ></b-form-input>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Username</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-2" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="$v.form.name.$model"
                                        :state="stateValidation('name')"
                                        placeholder="Username"
                                ></b-form-input>                                
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Email Address</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="email"
                                        v-model="$v.form.email_address.$model"
                                        :state="stateValidation('email_address')"
                                        placeholder="Enter Email Address"
                                ></b-form-input>                                
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Password</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-3" label-for="input-3">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        name="password"
                                        autocomplete="new-password"
                                        :type="passwordFieldType"
                                        v-model="form.password"
                                        placeholder="Set Password"
                                ></b-form-input>                                
                            </b-form-group>
                            <span toggle="#password-field" @click="showHide" class="fa fa-fw fa-eye field-icon "></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Roles</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-4">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="role_id"
                                        name="role_id"
                                        v-model="$v.form.role_id.$model"
                                        :options="roles"
                                        :state="stateValidation('role_id')"
                                        aria-describedby="input-4-live-feedback"
                                ></b-form-select>                                
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Role Exemptions</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label-for="example-input-4">
                                 <multiselect
                                    style="border-left: solid 1.5px #ec0000"
                                    track-by="text"
                                    label="text"
                                    v-model="form.systems"
                                    :options="systems"
                                    :searchable="false"
                                    :multiple="true">       
                                </multiselect>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="default-color">Permissions</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="permission_id" label-for="example-input-5">
                               <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="permission_id"
                                        name="permission_id"
                                        v-model="$v.form.permission_id.$model"
                                        :options="permissions"
                                        :state="stateValidation('permission_id')"
                                        aria-describedby="input-5-live-feedback"
                                ></b-form-select>                                
                            </b-form-group>
                        </div>
                    </div>
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import Multiselect from 'vue-multiselect'

    export default {
        mixins: [validationMixin,formMixins],
        components: { Multiselect },
        data() {
            return {
                route:'users/'+this.$route.params.id, 
                busy: false,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Users', href: '#' },
                    { text: 'Edit', active: true },
                ],
                employees: [
                    { value: null, text: "Select Employees" }
                ],
                roles: [
                    { value: null, text: "Select Roles" }
                ],
                permissions: [
                    { value: null, text: "Select Permissions" }
                ],
                systems: [

                ],
                form: {
                    employee_id: null,
                    password: null,
                    name: '',
                    email_address: '',
                    status: '1',
                    role_id: null,
                    permission_id: null,
                    is_email: '0',
                    systems: []
                },
                passwordFieldType: 'password',
                show: true,
            };
        },
        
        mounted(){
            axios.get('users/' + this.$route.params.id + '/edit').then((response) => {
                let user_name = response.data.users;
                let employee = response.data.employees;
                let user_access = response.data.user_access;
                this.form.name = user_name.name
                this.form.employee_id = employee == "" ? 'No Connected Employee Found' : employee.first_name +' '+ employee.last_name
                this.form.email_address = user_name.email
                this.form.password = user_name.password
                this.form.role_id = user_access!=null?user_access.role_id:null;
                this.form.permission_id = user_access!=null?user_access.permission_id:null;

                let roles_data = response.data.roles;
                roles_data.forEach((role) =>{
                    this.roles.push({value: role['id'],text: role['role_name'] })
                });

                let permissions_data = response.data.permissions;
                permissions_data.forEach((permission) =>{
                    this.permissions.push({value: permission['id'],text: permission['permission_name'] })
                });

                let role_exemptions_data = response.data.role_exemptions;
                role_exemptions_data.forEach((exemption) => {
                    this.form.systems.push({
                        id: exemption.id,
                        text: exemption.name,
                    });
                });
                // let employees_data = response.data.user_info;
                // employees_data.forEach((datum) =>{
                //     this.employees.push({value: datum['user_id'],text: datum['first_name'] + ' ' + datum['last_name']})
                // });
            });
            axios.get('system').then((response) => {
                response.data.forEach((system)=>{
                    this.systems.push({
                        id: system.id,
                        text: system.name,
                    });
                });
            })
        },
        validations: {
            form: {
                role_id: { required },
                name: { required },
                email_address: { required },
                permission_id: { required }
            }
        },
        methods: {
            showHide(event){
                if (this.passwordFieldType == 'password') {
                    event.target.className = "fa fa-fw fa-eye fa-eye-slash field-icon";
                } else {
                    event.target.className = "fa fa-fw fa-eye field-icon";
                }
                this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
        }
    };

</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.field-icon {
  float: right;
  padding-right: 50px;
  margin-top: -42px;
  position: relative;
  z-index: 2;
}
</style> 