<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
         <!-- Modal Delete -->
        <modal2>
            <h5 slot="header" class="margin-0">Delete User</h5>
            <h5 slot="body">
                <form ref="form">
                    <b-row style="top: 10px; position: relative;">
                        <b-col md="2" class="align-right">
                            <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                        </b-col>
                        <b-col md="10">
                            <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                            <p class="fs-16">You can't undo this action.</p>
                        </b-col>
                    </b-row>
                </form>
            </h5>
            <h5 slot="buttons">
                <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
            </h5>
        </modal2>
        <div class="row mt-30">
            <div class="col text-left"><p class="hr-title">Users List</p></div>
            <div class="col text-right">
                <router-link :to="{name:'users.create'}"><b-button class="admin-btn" ><span class="fa fa-plus"></span> New</b-button></router-link>&nbsp;
                <b-button class="hr-btn" style="background: #707070" :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-button>
               <!-- <b-dropdown right class="hr-more btn-size">
                    <template slot="button-content">
                        <b-icon icon="three-dots"></b-icon>
                    </template> -->
                    <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                    <!-- <b-dropdown-item :disabled="checkboxID.length <= 0" @click.stop.prevent="modalShow">Delete</b-dropdown-item>
                </b-dropdown> -->
            </div>
        </div>
        <!-- <div class="col-md-12 mt-30">
            <b-container class="bv-example-row">
                <b-row>
                        <b-col sm="7"></b-col>
                        <b-col sm="5">
                            <b-input-group>
                                <b-form-input v-model="search" placeholder="Search..." v-on:keyup.enter="searchUser"></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click.stop.prevent="searchUser"><span class="fa fa-search"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
            </b-container>
        </div> -->
       <div class="col-md-12 justify-content-center margin-top" style="margin-left: 0px;padding: 0px;">
            <b-container style="margin-left: 0px;">
                <b-row>
                    <b-col sm="12">
                        <b-button size="sm" variant="light" v-b-toggle.collapse-1>FILTER <b-icon icon="filter-left" aria-hidden="true"></b-icon> </b-button>
                    </b-col>
                    <!-- <b-col sm="6">
                    </b-col> -->
                </b-row>
                <b-row>
                    <b-col sm="12">
                    <b-collapse id="collapse-1" class="mt-12">
                        <b-card>
                            <b-container class="bv-example-row">
                                <p class="card-text"></p>
                                <b-row>
                                    <b-input-group>
                                        <b-form-input v-model="search" placeholder="Filter by Name..."></b-form-input>
                                    </b-input-group>
                                </b-row>
                                <b-row class="p-5 margin-top">
                                    <b-col sm="4" >
                                        <b-form inline>
                                            <label label-align-sm="left" label-size="lg" for="department_filter">Role: </label>
                                            <b-form-select id="department_filter" class="clean-form-input" plain v-model="role" :options="role_options" button-only></b-form-select>
                                        </b-form>
                                    </b-col>
                                    <b-col sm="4">
                                        <b-form inline>
                                                <label label-align-sm="left" label-size="lg" for="type_filter">Permission: </label>
                                                <b-form-select id="type_filter" class="clean-form-input" plain v-model="permission" right :options="permission_options"></b-form-select>
                                        </b-form>
                                    </b-col>
                                    <b-col sm="4">
                                        <!-- <b-form inline>
                                                <label label-align-sm="left" label-size="lg" for="year_filter">Year Joined: </label>
                                                <b-form-select id="year_filter" class="clean-form-input" plain v-model="date_joined" right :options="year_joined_options"></b-form-select>
                                        </b-form> -->
                                    </b-col>
                                </b-row>
                                <b-row class="p-5 margin-top" >
                                    <b-col sm="8"></b-col>
                                    <b-col sm="4">
                                        <b-button 
                                            size="sm" 
                                            variant="primary" 
                                            @click.stop.prevent="applyFilter" >
                                            <b-icon icon="filter-right" font-scale="1" aria-hidden="true"></b-icon> APPLY FILTER
                                        </b-button>
                                        <b-button 
                                            size="sm"
                                            @click.stop.prevent="clearFilter"
                                            style="margin-left:5px;background-color:white !important;color:#707070;">
                                            <b-icon icon="slash-circle" font-scale="1" aria-hidden="true"></b-icon> CLEAR FILTER
                                        </b-button>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-card>
                    </b-collapse>
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-md-12">
                <vuetable
                    @vuetable:checkbox-toggled-custom="addCheckboxID" 
                    @vuetable:checkbox-toggled-all="checkALL" 
                    ref="vuetable" 
                    :fields="fields" 
                    :api-mode="false" 
                    class="table-overflow"
                    :data-manager="dataManager" 
                    pagination-path="pagination" 
                    @vuetable:pagination-data="onPaginationData"
                    :css="css.table">
                    <div slot="name" slot-scope="props">
                        <router-link :to="{ name: 'users.view', params: {id: props.rowData.id} }">{{ props.rowData.name }}</router-link>
                    </div>
                </vuetable>
              
                <vuetable-pagination style="margin-top: 10px" ref="pagination"
                    @vuetable-pagination:change-page="onChangePage" :css="css.pagination"
                ></vuetable-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import { mapActions } from 'vuex'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            Modal2
        },
        data(){
            return {
                search: "",
                checkboxID: [],
                css: VuetableCSS,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', active: true },
                    { text: 'Users', href: '#' },
                    { text: 'List', active: true }
                ],
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {  
                        name: 'image',
                        title: 'Image',
                        formatter: (value) => {
                            return value == null ? '<img src="'+require(`@/images/user.jpg`)+'" class="rounded-circle img-user-size">' : ''
                        }
                    },
                    {
                        name: 'name',
                        title: 'Name',
                        sortField: 'name',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'email',
                        title: 'Email',
                        sortField: 'email',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'role',
                        title: 'Roles',
                        sortField: 'role',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'permission',
                        title: 'Permissions',
                        sortField: 'Permission',
                        formatter: (value) => {
                            return value 
                        }
                    },
                ],
                perPage: 10,
                data:[],
                allusers:[],
                role:null,
                permission:null,
                role_options:[{
                    value:null, text: "Filter by Role"
                }],
                permission_options:[{
                    value:null, text: "Filter by Permission"
                }]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            },
            // search(val){
            //     if(val==""){
            //         this.data = this.allusers;
            //     }
            // }
        },
        mounted() {
            axios.get('users').then( response => {
                this.data = response.data.data
                this.allusers = response.data.data
                response.data.roles.forEach((role) => {
                    this.role_options.push({
                        value: role.id,
                        text: role.role_name
                    })
                })
                response.data.permissions.forEach((permission) => {
                    this.permission_options.push({
                        value: permission.id,
                        text: permission.permission_name
                    })
                })
            })
        },
        methods: {
            ...mapActions({
                fetchLoader: 'fetchLoader'
            }), 
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('user/massdelete/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            },
            applyFilter(){
                this.fetchLoader(true);
                axios.get('user/search',
                    {
                        params: {
                            search: this.search,
                            role: this.role,
                            permission: this.permission
                        }
                    }).then( response => {
                    if(response.data.length != 0){
                        this.data = response.data;
                    }else{
                        this.makeToast('','No Data Retrieved with provided filter. Showing All Users','danger');
                        this.data = this.allusers;
                    }
                }).finally(()=>{
                    this.fetchLoader(false)
                });
            },
            clearFilter(){
                this.data = this.allusers;
            }
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}
.clean-form-input{
    border: none;
    margin: 0px;
    padding: 2px;
}
</style>