<template>

    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <b-row class="justify-content-center mt-30">
            <b-col md="6">
                <b-row>
                    <router-link :to="{name: 'users'}" style="color: #707070;"><i class="fa fa-arrow-left back-btn pl-1rm" aria-hidden="true"></i></router-link>
                    <div class="col text-left"><h5 class="form-head">{{ userDetails.data.name }}</h5></div>
                </b-row>
            </b-col>
            <b-col md="6 align-right">
                <router-link :to="{name: 'users.edit', params: {id: this.$route.params.id}}">
                    <b-button class="admin-btn mr-05">Edit</b-button>
                </router-link>
                <b-button @click="deleteModal($event,DeleteData)" :title='"Delete User"' class="btn-size" component="delete">Delete</b-button>
            </b-col>
            <b-container class="mt-50">
                <b-row>
                    <b-col md="6">
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Username</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">{{ userDetails.data.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Email</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">{{ userDetails.data.email }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Permission</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">{{ userDetails.data.permission }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Role</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">{{ userDetails.data.role }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label>Role Exemptions</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">{{ role_exemptions }}</label>
                            </b-col>
                        </b-row>
                        <!-- <b-row>
                            <b-col md="3" class="form-group align-right">
                                <label class="">Username</label>
                            </b-col>
                            <b-col md="9" class="form-group align-left">
                                <label class="fw-bold">N/A</label>

                            </b-col>
                        </b-row> -->
                    </b-col>
                    <b-col v-if="userDetails.employee != null" md="6">
                        <b-card>
                            <b-row>
                                <b-col md="4">
                                    <div style="text-align: center;">
                                        <img :src="require(`@/images/user.jpg`)" class="rounded-circle user-size"/>
                                    </div>
                                </b-col>
                                <b-col md="8">
                                    <label class="fw-bold default-color fs-22">{{ userDetails.employee.first_name +' '+ userDetails.employee.last_name }}</label><br>
                                    <label class="" style="margin: 0;">{{ userDetails.data.role }} at ACTS</label><br>
                                    <b-icon icon="envelope-fill" class="default-color"></b-icon> <span class="fw-600 default-color">{{ userDetails.contact_details != null ? userDetails.contact_details.email : null }}</span>
                                    <p class="fw-600 default-color" style="margin-left: 1rem;">{{ userDetails.contact_details !=null ? userDetails.contact_details.phone_number : null }}</p>
                                    <a v-b-toggle.collapse-5 class="m-1 fs-14 fw-bold" style="color: #0080FF; cursor: pointer;"><span class="when-closed">Show More</span><span class="when-open">Hide</span> Information
                                        <b-icon icon="chevron-down" class="when-closed"></b-icon>
                                        <b-icon icon="chevron-up" class="when-open"></b-icon>
                                    </a>                        
                                    <b-collapse id="collapse-5">
                                        <b-row class="mt-1rem">
                                            <b-col md="12" class="text-center">
                                                <label>More information will be added here soon.</label>
                                            </b-col>
                                        </b-row>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col>
                </b-row>
                <b-row v-if="userDetails.employee != null || userDetails.contact_details != null">
                    <b-col md="12">
                        <div class="form-group mt-30">
                            <label class="fs-20 default-color fw-bold">Employee Details</label>
                            <hr class="hr-view">
                        </div>
                    </b-col>
                    <b-col md="6" class="form-group">
                        <a v-b-toggle.collapse-1 class="m-1 fs-14 fw-bold" style="color: #0080FF; cursor: pointer;">Personal Information
                            <b-icon icon="chevron-down" class="when-closed"></b-icon>
                            <b-icon icon="chevron-up" class="when-open"></b-icon>
                        </a>                    
                        <b-collapse id="collapse-1">
                            <b-row class="mt-1rem">
                                <b-col md="4" class="align-right">
                                    <label>Mobile</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.contact_details != null ? userDetails.contact_details.phone_number : null }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Date of Birth</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.employee.birth_date }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Gender</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="cap-letter fw-bold">{{ userDetails.employee.gender }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Civil Status</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="cap-letter fw-bold">{{ userDetails.employee.marital_status }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Nationality</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">Filipino</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Religion</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">Roman Catholic</label>
                                </b-col>
                            </b-row>
                        </b-collapse>
                    </b-col>
                </b-row>
                <b-row v-if="userDetails.employee != null || userDetails.job_details != null">
                    <b-col md="6" class="form-group">
                        <a v-b-toggle.collapse-2 class="m-1 fs-14 fw-bold" style="color: #0080FF; cursor: pointer;">Job Details
                            <b-icon icon="chevron-down" class="when-closed"></b-icon>
                            <b-icon icon="chevron-up" class="when-open"></b-icon>
                        </a>                    
                        <b-collapse id="collapse-2">
                            <b-row class="mt-1rem">
                                <b-col md="4" class="align-right">
                                    <label>Employee Type</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.job_details.employees_type.name }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Employee Status</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.job_details.employee_status === 1 ? 'Active' : 'Inactive' }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Designation</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.job_details.employee_designation.name }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Source of Hire</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.job_details.source_hire === 1 ? 'Direct' : '-' }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Date Joined</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.job_details.joined_date }}</label>
                                </b-col>
                            </b-row>
                        </b-collapse>                        
                    </b-col>
                </b-row>
                <b-row v-if="userDetails.employee != null">
                    <b-col md="6" class="form-group">
                        <a v-b-toggle.collapse-3 class="m-1 fs-14 fw-bold" style="color: #0080FF; cursor: pointer;">Address Information
                            <b-icon icon="chevron-down" class="when-closed"></b-icon>
                            <b-icon icon="chevron-up" class="when-open"></b-icon>
                        </a>
                        <b-collapse id="collapse-3">
                            <b-row class="mt-1rem">
                                <b-col md="4" class="align-right">
                                    <label>Current Address</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.employee.current_address == null ? 'N/A' : userDetails.employee.current_address }}</label>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="align-right">
                                    <label>Permanent Address</label>
                                </b-col>
                                <b-col md="8" class="align-left">
                                    <label class="fw-bold">{{ userDetails.employee.permanent_address }}</label>
                                </b-col>
                            </b-row>
                        </b-collapse>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
    </b-col>
</template>

<script>
    import axios from 'axios'
    import { modalMixins } from '@/mixins/modal'
    export default {        
        mixins: [modalMixins],
        name: "Show",
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'User Management', href: '#' },
                    { text: 'Users', href: '#' },
                    { text: 'View', active: true },
                ],
                userDetails: [],
                DeleteData: [],
                role_exemptions: [],
            }
        },
        mounted(){
            axios.get('users/'+this.$route.params.id).then(response => {
                let role_exemptions = "";
                this.userDetails = response.data
                response.data.data.role_exemptions.forEach(system => {
                    role_exemptions = role_exemptions + (role_exemptions != ""?", ":"") + system.name;
                });
                this.role_exemptions = role_exemptions;
                console.log(role_exemptions);
                console.log(this.userDetails);
                this.DeleteData = {value:this.$route.params.id,route:'users/',route2:'users',data:this.userDetails.data.name}
            });
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style>