<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template>
        <!-- Modal Delete -->
            <b-row class="mt-30" md="12">
                <b-col xl="6" lg="6" md="6" sm="6" cols="6">
                    <span class="hr-title">Contributions List </span>
                </b-col>
                <b-col xl="6" lg="6" md="6" sm="6" cols="6" class="align-right">
                    
                </b-col>
            </b-row>
            <b-col md="12" class="mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col xl="9" lg="8" md="6"></b-col>
                        <b-col xl="3" lg="4" md="6">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            
            <b-tabs content-class="mt-3" class="mt-50">
                    <b-tab title="SSS" active>
                        <b-row class="btn-contri">
                            <b-col xl="6" lg="6" md="6" sm="6" cols="6">
                                
                            </b-col>
                            <b-col xl="6" lg="6" md="6" sm="6" cols="6" class="align-right">
                                <router-link :to="{name: 'sss.create'}">
                                    <b-button class="btn-hr-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                                </router-link>
                                <b-button class="hide-edit">Delete</b-button>
                                <div style="display: none;" class="show-edit">
                                    <b-dropdown right  class="hr-more btn-size ">
                                        <template slot="button-content">
                                            <b-icon icon="three-dots"></b-icon>
                                        </template>
                                        <b-dropdown-item ><router-link :to="{name:'sss.create'}">New </router-link></b-dropdown-item>
                                        <b-dropdown-item >Delete</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </b-col>
                        </b-row>
                        <div class="pt-1rm table-contri">
                            <b-table-simple hover bordered responsive style="border-top: solid 2px #F0F0F0">
                                <b-thead head-variant="">
                                <b-tr>
                                    <b-th class="v-align-top" colspan="1" rowspan="3">Range of Compensation</b-th>
                                    <b-th class="v-align-top" colspan="1" rowspan="3">Monthly Salary Credit</b-th>
                                    <b-th colspan="7">Employer - Employee</b-th>
                                </b-tr>
                                <b-tr>
                                    <b-th colspan="3">Social Security</b-th>
                                    <b-th colspan="1">EC</b-th>
                                    <b-th colspan="3" class="align-right">Total Contribution</b-th>
                                </b-tr>
                                <b-tr>
                                    <b-th>ER</b-th>
                                    <b-th>EE</b-th>
                                    <b-th>Total</b-th>
                                    <b-th>ER</b-th>
                                    <b-th>ER</b-th>
                                    <b-th>EE</b-th>
                                    <b-th style="width: 9rem">Total</b-th>
                                </b-tr>
                                </b-thead>
                                <b-tbody>
                                    <b-tr v-for="item_sss in sss_data" :key="item_sss">
                                        <b-td>&#8369;{{ formatDecimal(item_sss.salary_from) }} - &#8369;{{ formatDecimal(item_sss.salary_to) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.monthly_salary_credit) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.employer_contribution) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.employee_contribution) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.total_sss) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.employee_compensation) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.employer_contribution) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.employee_contribution) }}</b-td>
                                        <b-td>&#8369;{{ formatDecimal(item_sss.total_sss_contribution) }}</b-td>
                                    </b-tr>
                                    <b-tr v-if="sss_data == null || sss_data == ''">
                                        <b-td colspan="9" class="text-center">No Data Available</b-td>
                                    </b-tr>
                                </b-tbody>
                                <b-tfoot>
                                <!--<b-tr>
                                    <b-td colspan="7" variant="secondary" class="text-right">
                                    Total Rows: <b>5</b>
                                    </b-td>
                                </b-tr>-->
                                </b-tfoot>
                            </b-table-simple>
                        </div>
                    </b-tab>
                    <b-tab title="PAG-IBIG">
                        <b-row class="btn-contri">
                            <b-col md="6">
                                
                            </b-col>
                            <b-col md="6" class="align-right">
                                <router-link :to="{name: 'pagibig.create'}">
                                    <b-button class="btn-hr-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                                </router-link>
                                <b-button class="hide-edit">Delete</b-button>
                                <div style="display: none;" class="show-edit">
                                    <b-dropdown right  class="hr-more btn-size ">
                                        <template slot="button-content">
                                            <b-icon icon="three-dots"></b-icon>
                                        </template>
                                        <b-dropdown-item ><router-link :to="{name:'pagibig.create'}">New </router-link></b-dropdown-item>
                                        <b-dropdown-item >Delete</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </b-col>
                        </b-row>
                        <div class="pt-1rm table-contri">
                            <b-table-simple hover bordered responsive style="border-top: solid 2px #F0F0F0">
                                <b-thead head-variant="">
                                <b-tr>
                                    <b-th class="v-align-top" rowspan="2" style="width: 30%">Monthly Basis Compensation</b-th>
                                    <b-th class="v-align-top" colspan="3">Contribution Rate</b-th>
                                </b-tr>
                                <b-tr>
                                    <b-th>Employer</b-th>
                                    <b-th>Employee</b-th>
                                    <b-th>Total</b-th>
                                </b-tr>
                                </b-thead>
                                <b-tbody>
                                <b-tr v-for="item_pagibig in pagibig_data" :key="item_pagibig">
                                    <b-td>
                                        &#8369; {{ (item_pagibig.salary_from == '0' ? 'below -' : formatPrice(item_pagibig.salary_from)) }}
                                            {{ (item_pagibig.salary_to == '0' ? ' and up' : formatPrice(item_pagibig.salary_to)) }}</b-td>
                                    <b-td>{{ item_pagibig.employer_percent }}%</b-td>
                                    <b-td>{{ item_pagibig.employee_percent }}%</b-td>
                                    <b-td>{{ item_pagibig.total_pagibig }}%</b-td>
                                </b-tr>
                                <b-tr v-if="pagibig_data == null || pagibig_data == ''">
                                    <b-td colspan="4" align="center">No Data Available</b-td>
                                </b-tr>
                                </b-tbody>
                                <b-tfoot>
                                <!--<b-tr>
                                    <b-td colspan="7" variant="secondary" class="text-right">
                                    Total Rows: <b>5</b>
                                    </b-td>
                                </b-tr>-->
                                </b-tfoot>
                            </b-table-simple>
                        </div>
                    
                    </b-tab>
                    <b-tab title="PHILHEALTH">
                        <b-row class="btn-contri">
                            <b-col md="6">
                                
                            </b-col>
                            <b-col md="6" class="align-right">
                                <router-link :to="{name: 'philhealth.create'}">
                                    <b-button class="btn-hr-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                                </router-link>
                                <b-button class="hide-edit">Delete</b-button>
                                <div style="display: none;" class="show-edit">
                                    <b-dropdown right  class="hr-more btn-size ">
                                        <template slot="button-content">
                                            <b-icon icon="three-dots"></b-icon>
                                        </template>
                                        <b-dropdown-item ><router-link :to="{name:'philhealth.create'}">New </router-link></b-dropdown-item>
                                        <b-dropdown-item >Delete</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </b-col>
                        </b-row>
                        <div class="pt-1rm table-contri">
                            <b-table-simple hover bordered responsive style="border-top: solid 2px #F0F0F0">
                                <b-thead head-variant="">
                                    <b-tr>
                                        <b-th>Year Effective</b-th>
                                        <b-th>Premium Rate</b-th>
                                    </b-tr>
                                </b-thead>
                                <b-tbody>
                                <b-tr v-for="item_philhealth in philhealth_data" :key="item_philhealth">
                                    <b-td>{{ item_philhealth.year_effective }}</b-td>
                                    <b-td>{{ item_philhealth.premium_rate }}</b-td>
                                </b-tr>
                                <b-tr v-if="philhealth_data == null || philhealth_data == ''">
                                        <b-td colspan="6" class="text-center">No Data Available</b-td>
                                </b-tr>
                                </b-tbody>
                                <b-tfoot>
                                <!--<b-tr>
                                    <b-td colspan="7" variant="secondary" class="text-right">
                                    Total Rows: <b>5</b>
                                    </b-td>
                                </b-tr>-->
                                </b-tfoot>
                            </b-table-simple>
                        </div>
                    </b-tab>
                    <b-tab title="BIR">
                        <b-row class="btn-contri">
                            <b-col md="6">
                                
                            </b-col>
                            <b-col md="6" class="align-right">
                                <router-link :to="{name: ''}">
                                    <b-button class="btn-hr-primary btn-size mr-05 hide-edit"><span class="fa fa-plus"></span> New</b-button>
                                </router-link>
                                <b-button class="hide-edit">Delete</b-button>
                                <div style="display: none;" class="show-edit">
                                    <b-dropdown right  class="hr-more btn-size ">
                                        <template slot="button-content">
                                            <b-icon icon="three-dots"></b-icon>
                                        </template>
                                        <b-dropdown-item ><router-link :to="{name:''}">New </router-link></b-dropdown-item>
                                        <b-dropdown-item >Delete</b-dropdown-item>
                                    </b-dropdown>
                                </div>
                            </b-col>
                        </b-row>
                        <div class="pt-1rm table-contri">
                            <b-table-simple hover bordered responsive>
                                <b-tbody>
                                    <b-tr style="border-top: solid 2px #F0F0F0; background: #454545">
                                        <b-th colspan="7" class="align-center" style="color: #fff">Revised Witholding Tax Tables<br>Effective January 1, 2018 to December 31, 2022</b-th>
                                    </b-tr>
                                    <b-tr style="border-top: solid 2px #F0F0F0">
                                        <b-th class="bir-h">Daily</b-th>
                                        <b-td>1</b-td>
                                        <b-td>2</b-td>
                                        <b-td>3</b-td>
                                        <b-td>4</b-td>
                                        <b-td>5</b-td>
                                        <b-td>6</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Compensation Leave (CL)</b-th>
                                        <b-td>
                                            685.00<br>
                                            and below
                                        </b-td>
                                        <b-td>685.00</b-td>
                                        <b-td>1,096.00</b-td>
                                        <b-td>2,192.00</b-td>
                                        <b-td>5,479.00</b-td>
                                        <b-td>21,918.00</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Prescribed Minimum Witholding Tax</b-th>
                                        <b-td>0.00</b-td>
                                        <b-td>
                                            0.00<br>
                                            + 20% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 25% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 30% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 32% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 35% over CL
                                        </b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th class="bir-h">Weekly</b-th>
                                        <b-td>1</b-td>
                                        <b-td>2</b-td>
                                        <b-td>3</b-td>
                                        <b-td>4</b-td>
                                        <b-td>5</b-td>
                                        <b-td>6</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Compensation Leave (CL)</b-th>
                                        <b-td>
                                            4,808.00<br>
                                            and below
                                        </b-td>
                                        <b-td>4,808.00</b-td>
                                        <b-td>7,692.00</b-td>
                                        <b-td>15,385.00</b-td>
                                        <b-td>38,462.00</b-td>
                                        <b-td>153,846.00</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Prescribed Minimum Witholding Tax</b-th>
                                        <b-td>0.00</b-td>
                                        <b-td>
                                            0.00<br>
                                            + 20% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 25% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 30% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 32% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 35% over CL
                                        </b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th class="bir-h">Semi-Monthly</b-th>
                                        <b-td>1</b-td>
                                        <b-td>2</b-td>
                                        <b-td>3</b-td>
                                        <b-td>4</b-td>
                                        <b-td>5</b-td>
                                        <b-td>6</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Compensation Leave (CL)</b-th>
                                        <b-td>
                                            10,417.00<br>
                                            and below
                                        </b-td>
                                        <b-td>10,417.00</b-td>
                                        <b-td>16,667.00</b-td>
                                        <b-td>33,333.00</b-td>
                                        <b-td>83,333.00</b-td>
                                        <b-td>333,333.00</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Prescribed Minimum Witholding Tax</b-th>
                                        <b-td>0.00</b-td>
                                        <b-td>
                                            0.00<br>
                                            + 20% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 25% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 30% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 32% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 35% over CL
                                        </b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th class="bir-h">Monthly</b-th>
                                        <b-td>1</b-td>
                                        <b-td>2</b-td>
                                        <b-td>3</b-td>
                                        <b-td>4</b-td>
                                        <b-td>5</b-td>
                                        <b-td>6</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Compensation Leave (CL)</b-th>
                                        <b-td>
                                            20,833.00<br>
                                            and below
                                        </b-td>
                                        <b-td>20,833.00</b-td>
                                        <b-td>33,333.00</b-td>
                                        <b-td>66,667.00</b-td>
                                        <b-td>166,667.00</b-td>
                                        <b-td>666,667.00</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-th>Prescribed Minimum Witholding Tax</b-th>
                                        <b-td>0.00</b-td>
                                        <b-td>
                                            0.00<br>
                                            + 20% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 25% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 30% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 32% over CL
                                        </b-td>
                                        <b-td>
                                            0.00<br>
                                            + 35% over CL
                                        </b-td>
                                    </b-tr>
                                </b-tbody>
                                <b-tbody>
                                
                                </b-tbody>
                                <b-tfoot>
                                <!--<b-tr>
                                    <b-td colspan="7" variant="secondary" class="text-right">
                                    Total Rows: <b>5</b>
                                    </b-td>
                                </b-tr>-->
                                </b-tfoot>
                            </b-table-simple>
                        </div>
                    </b-tab>
                    
                </b-tabs>

        </template>
    </b-col>
</template>

<script>
    // import _ from 'lodash'
    import axios from 'axios'

    export default {
        name: "List",
        components: {
        },
        data(){
            return {
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Contribution', href: '#'},
                    { text: 'List', active:true },
                ],
                pagibig_data: [],
                philhealth_data: [],
                sss_data: [],
                // sortOrder: [
                //     {
                //         field: 'employee_name',
                //         sortField: 'employee_name',
                //         direction: 'asc'
                //     }
                // ],
                // fields: [
                //     {  
                //         name: Checkbox,
                //         titleClass: 'center aligned',
                //         dataClass: 'center aligned'
                //     },
                //     {
                //         name: 'employee_name',
                //         title: 'Employee Name',
                //         sortField: 'employee_name',
                //         formatter: (value) => {
                //            return value
                //         }
                //     },
                //     {
                //         name: 'date',
                //         title: 'Date From',
                //         sortField: 'name',
                //         formatter: (value) => {
                //            return value
                //         }
                //     },
                //     {
                //         name: 'applicable_date',
                //         title: 'Date To',
                //         sortField: 'name',
                //         formatter: (value) => {
                //            return value
                //         }
                //     },
                //     {
                //         name: 'amount',
                //         title: 'Adjusted Amount',
                //         sortField: 'name',
                //         formatter: (value) => {
                //            return value
                //         }
                //     },
                //     {
                //         name: 'status',
                //         title: 'Status',
                //         sortField: 'name',
                //         formatter: (value) => {
                //             return value == 1 ? 'Waiting for Approval': '' 
                //         }
                //     }                   
                // ],
                // perPage: 10,
                // data:[],
            }
        },
       
        mounted() {
            axios.get('contributions/templates/HDMF').then( response => {
                console.log(response.data)
                // this.pag_ibig = response.data
                let pag_ibig = response.data;
                pag_ibig.forEach(pagibig_data => {
                    this.pagibig_data.push({
                        id: pagibig_data.id,
                        salary_from: pagibig_data.salary_from,
                        salary_to: pagibig_data.salary_to,
                        employer_percent: pagibig_data.employer_percent,
                        employee_percent: pagibig_data.employee_percent,
                        total_pagibig: Number(pagibig_data.employer_percent) + Number(pagibig_data.employee_percent)
                    });
                });
            }),
            axios.get('contributions/templates/PHIC').then( response => {
                let philhealth = response.data;
                philhealth.forEach(philhealth_data => {
                    this.philhealth_data.push({
                        id: philhealth_data.id,
                        year_effective:  philhealth_data.year_effective,
                        premium_rate: philhealth_data.premium_rate,
                    });
                });
            }),
            axios.get('contributions/templates/SSS').then( response => {
                console.log(response.data)
                // this.sss = response.data
                let sss = response.data;
                sss.forEach(sss_data => {
                    this.sss_data.push({
                        id: sss_data.id,
                        salary_from: sss_data.salary_from,
                        salary_to: sss_data.salary_to,
                        monthly_salary_credit: sss_data.monthly_salary_credit,
                        employer_contribution: sss_data.employer_contribution,
                        employee_contribution: sss_data.employee_contribution,
                        employee_compensation: sss_data.employee_compensation,
                        total_sss: Number(sss_data.employer_contribution) + Number(sss_data.employee_contribution),
                        total_sss_contribution: parseFloat(Number(sss_data.employer_contribution) + Number(sss_data.employee_contribution)) + Number(sss_data.employee_compensation)
                    });
                });
            })
        },
        methods: {
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
            // addCheckboxID(checked, data) {
            //     if(checked){
            //         this.checkboxID.push(data);
            //     }else{
            //         let idIndex = this.checkboxID.indexOf(data);
            //         this.checkboxID.splice(idIndex);
            //     }
            // },
            // checkALL(checked){
            //     console.log(checked);
            //     if(checked){
            //         this.checkboxID = this.$refs.vuetable.selectedTo;
            //     }else{
            //         this.checkboxID = [];
            //     }
            // },
            // onPaginationData(tablePagination) {
            //     this.$refs.pagination.setPaginationData(tablePagination)
            // },
            // onChangePage(page){
            //     this.$refs.vuetable.changePage(page)
            // },
            // dataManager(sortOrder,pagination){
            //     if (this.data.length < 1) return;

            //     let local = this.data;

            //     if (sortOrder.length > 0){
            //         console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
            //         local = _.orderBy(
            //             local,
            //             sortOrder[0].sortField,
            //             sortOrder[0].direction
            //         );
            //     }

            //     pagination = this.$refs.vuetable.makePagination(
            //         local.length,
            //         this.perPage
            //     );
            //     console.log('pagination:', pagination)
            //     let from = pagination.from - 1;
            //     let to = from + this.perPage;

            //     return {
            //         pagination: pagination,
            //         data: _.slice(local, from, to)
            //     };
            // },
            
        },
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}

</style>