<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('contributions/templates/HDMF', { stay: checked, route: 'contribution' })">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'contribution'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create PAG-IBIG Contribution</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Monthly Basis Compensation</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                           <b-form-group id="monthly_compensation" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="monthly_compensation"
                                        name="monthly_compensation"
                                        v-model="$v.form.monthly_compensation.$model"
                                        :state="stateValidation('monthly_compensation')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Employer Contribution (%)</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="employer_percent" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="employer_percent"
                                        name="employer_percent"
                                        v-model="$v.form.employer_percent.$model"
                                        :state="stateValidation('employer_percent')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Employee Contribution (%)</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="employee_percent" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="employee_percent"
                                        name="employee_percent"
                                        v-model="$v.form.employee_percent.$model"
                                        :state="stateValidation('employee_percent')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row class="mt-24">
                    <b-col xs="12" sm="12" md="6" lg="6"></b-col>
                    <b-col xs="12" sm="12" md="6" lg="6">
                        <b-card>
                            <b-row>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="bold">Total Contribution</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="fw-bold">{{ formatDecimal(total_contribution) }}%</label>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col>
                </b-row>

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Contribution', href: '#'},
                    { text: 'Pagibig', active:true },
                    { text: 'New', active:true },
                ],
                form: {
                    monthly_compensation: '',
                    employer_percent: '',
                    employee_percent: ''
                }
            };
        },
        mounted(){
            axios.post('contributions/templates/HDMF').then((response) => {    
                console.log(response.data)
            });
        },
        validations: {
            form: {
                monthly_compensation: { required },
                employer_percent: { required },
                employee_percent: { required }
            }
        },
        methods: {
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
        computed: {
            total_contribution(){
                let total_contribution = 0;
                if(this.form.employer_percent == 0){
                    return total_contribution;
                }
                else if(this.form.employee_percent == 0){
                    return total_contribution;
                }
                total_contribution = parseFloat(this.form.employer_percent) + parseFloat(this.form.employee_percent);
                return total_contribution;
            },
        }

    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>