<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('contributions/templates/PHIC', { stay: checked, route: 'contribution' })">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'contribution'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create PHILHEALTH Contribution</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Year</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                           <b-form-group id="year_effective" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="year_effective"
                                        name="year_effective"
                                        v-model="$v.form.year_effective.$model"
                                        :state="stateValidation('year_effective')"
                                        placeholder="Enter Year"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Premium Rate</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="premium_rate" label-for="input-2">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="premium_rate"
                                        name="premium_rate"
                                        v-model="$v.form.premium_rate.$model"
                                        :state="stateValidation('premium_rate')"
                                        placeholder="Enter Premium Rate"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Contribution', href: '#'},
                    { text: 'Philhealth', active:true },
                    { text: 'New', active:true },
                ],
                form: {
                    year_effective: '',
                    premium_rate: ''
                }
            };
        },        
        mounted(){
            axios.post('contributions/templates/PHIC').then((response) => {    
                console.log(response.data)
            });
        },
        validations: {
            form: {
                year_effective: { required },
                premium_rate: { required }
            }
        },
        methods: {
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        }
    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>