<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>        
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('contributions/templates/SSS', { stay: checked, route: 'contribution' })">
                    <b-row  md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8" class="text-no-wrap">
                            <router-link :to="{name:'contribution'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create SSS Contribution</span>                        
                        </b-col>
                        <b-col md="6" lg="6" class="align-right text-no-wrap">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="pt-1rm">
                        <b-col>
                            <span class="form-head">Range of Compensation</span>
                        </b-col>
                        <b-col>
                            
                        </b-col>
                    </b-row>
                    
                    <b-row class="mt-30">
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Effective From</b>
                        </b-col>  
                        <b-col md="5">
                            <b-form-group label="" label-for="date_effective_from">
                                <b-form-datepicker 
                                    id="date_effective_from" 
                                    name="date_effective_from" 
                                    v-model="$v.form.date_effective_from.$model" 
                                    :state="stateValidation('date_effective_from')" 
                                    style="border-left: solid 1.5px #ec0000">
                                </b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="text-right pt-9">
                            <b>Date Effective To</b>
                        </b-col>  
                        <b-col md="5">
                            <b-form-group label="" label-for="date_effective_to">
                                <b-form-datepicker 
                                    id="date_effective_to" 
                                    name="date_effective_to" 
                                    v-model="$v.form.date_effective_to.$model" 
                                    :state="stateValidation('date_effective_to')" 
                                    style="border-left: solid 1.5px #ec0000">
                                </b-form-datepicker>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Salary Range From</b>
                        </b-col>  
                        <b-col md="6" xl="5" lg="5">
                           <b-form-group id="from" label-for="salary_from">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="from"
                                        name="from"
                                        v-model="$v.form.salary_from.$model"
                                        :state="stateValidation('salary_from')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Salary Range To</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="to" label-for="salary_to">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="to"
                                        name="to"
                                        v-model="$v.form.salary_to.$model"
                                        :state="stateValidation('salary_to')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Monthly Salary Credit</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="to" label-for="monthly_salary_credit">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="to"
                                        name="to"
                                        v-model="$v.form.monthly_salary_credit.$model"
                                        :state="stateValidation('monthly_salary_credit')"
                                        placeholder="Enter Amount"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Employer Contribution (ER)</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="to" label-for="employer_contribution">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="to"
                                        name="to"
                                        v-model="$v.form.employer_contribution.$model"
                                        :state="stateValidation('employer_contribution')"
                                        placeholder="Enter Employer Contribution"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Employee Contribution (EE)</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="to" label-for="employee_contribution">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="to"
                                        name="to"
                                        v-model="$v.form.employee_contribution.$model"
                                        :state="stateValidation('employee_contribution')"
                                        placeholder="Enter Employee Contribution"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" xl="4" lg="4" class="align-right media-left pt-9">
                            <b class="drkgry-color">Employee Compensation (ER)</b>
                        </b-col>   
                        <b-col md="6" xl="5" lg="5">
                            <b-form-group id="to" label-for="employee_compensation">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="to"
                                        name="to"
                                        v-model="$v.form.employee_compensation.$model"
                                        :state="stateValidation('employee_compensation')"
                                        placeholder="Enter Employee Compensation"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row class="mt-24">
                    <b-col xs="12" sm="12" md="6" lg="6"></b-col>
                    <b-col xs="12" sm="12" md="6" lg="6">
                        <b-card>
                            <b-row>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label>Total Employee Contribution</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="fw-bold">PHP {{ formatDecimal(total_employee_contribution) }}</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label>Total Employer Contribution</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="fw-bold">PHP {{ formatDecimal(total_employer_contribution) }}</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="bold">Total Contributions</label>
                                </b-col>
                                <b-col xs="12" sm="12" md="6" lg="6">
                                    <label class="fw-bold">PHP {{ formatDecimal(total_contribution) }}</label>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-col>
                </b-row>

                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'

    export default {
        mixins: [validationMixin,formMixins],
        data(){
            return {
                checked:false,
                checkedCategories: [],
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Contribution', href: '#'},
                    { text: 'Sss', active:true },
                    { text: 'New', active:true },
                ],
                form: {
                    date_effective_from: '',
                    date_effective_to: '',
                    salary_from: '',
                    salary_to: '',
                    monthly_salary_credit: '',
                    employer_contribution: '',
                    employee_contribution: '',
                    employee_compensation: ''
                }
            };
        },
        mounted(){
            axios.post('contributions/templates/SSS').then((response) => {    
                console.log(response.data)
            });
        },
        validations: {
            form: {
                date_effective_from: { required },
                date_effective_to: { required },
                salary_from: { required },
                salary_to: { required },
                monthly_salary_credit: { required },
                employer_contribution: { required },
                employee_contribution: { required },
                employee_compensation: { required }
                }
            }, 
        methods: {
            formatDecimal(value) {
                 let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
        computed: {
            total_employee_contribution(){
                let total_employee_contribution = 0;
                if(this.form.employee_contribution == 0){
                    return total_employee_contribution;
                }
                total_employee_contribution = parseFloat(this.form.employee_contribution);
                return total_employee_contribution;
            },
            total_employer_contribution(){
                let total_employer_contribution = 0;
                if(this.form.employer_contribution == 0){
                    return total_employer_contribution;
                }
                total_employer_contribution = parseFloat(this.form.employer_contribution);
                return total_employer_contribution;
            },
            total_contribution(){
                let total_contribution = 0;
                if(this.form.employer_contribution == 0 || this.form.employee_contribution == 0){
                    return total_contribution;
                }
                total_contribution = parseFloat(this.form.employer_contribution) + parseFloat(this.form.employee_contribution);
                return total_contribution
            }
        }

    }
   
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>