<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
         
        <div class="row justify-content-center mt-30">
            <div class="col-md-12">
                <b-form  @submit.stop.prevent="submitForm('reimbursement', { stay: checked, route:'reimbursements.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{ name:'reimbursements' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Reimbursements</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn" 
                                @click="validationforitems()">Save</b-button>
                            </b-overlay>
                        </b-col>
                        
                    </b-row>
              
                    <div class="row mt-30">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Subject</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-1" label-for="subject">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="subject"
                                        name="subject"
                                        v-model="$v.form.subject.$model"
                                        placeholder="Enter Subject"
                                        :state="stateValidation('subject')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Date Filed</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label="" label-for="filed_date">
                                <b-form-datepicker id="filed_date" style="border-left: solid 1.5px #ec0000"
                                    name="filed_date" 
                                    v-model="$v.form.filed_date.$model"
                                    :state="stateValidation('filed_date')"
                                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                ></b-form-datepicker>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Employee</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-2" label-for="employee_name">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_name"
                                        name="employee_name"
                                        v-model="$v.form.employee_id.$model"
                                        :options="employee_name"
                                        :state="stateValidation('employee_id')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right pt-9">
                            <b class="drkgry-color">Description</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label="" label-for="description">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="description"
                                        name="description"
                                        v-model="$v.form.description.$model"
                                        :state="stateValidation('description')"
                                        aria-describedby="input-1-live-feedback"
                                        placeholder="Enter a description"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="drkgry-color fs-18  pt-2rm"><b>Reimbursement Items</b>  <a class="fs-16 fw-bold" style="color: #1C7CD5; cursor: pointer;" @click="modalShow('addReimbursement')">+ Add</a></div>
                    <hr style="width: 100%">

                    <modal2 ref="addReimbursement">
                        <h5 slot="header">Add Reimbursement Items</h5>
                        <div slot="body">                            
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Date</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-1" label-for="date">
                                        <b-form-datepicker id="date" style="border-left: solid 1.5px #ec0000"
                                            name="date" 
                                            v-model="formitems.date"
                                            :style="show1 ? filterStyle : null"                                            
                                            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
                                        ></b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Type</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="type"
                                        name="type"
                                        v-model="formitems.type"
                                        :style="show2 ? filterStyle : null"
                                        :options="type"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-select>
                                </b-col>
                            </b-row>
                            <b-row class="pt-1rm">
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Particulars</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="particulars">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="particulars"
                                        name="particulars"
                                        v-model="formitems.particulars"
                                        :style="show3 ? filterStyle : null"
                                        placeholder="Enter Particulars"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Receipt Number</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="receipt_number">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="receipt_number"
                                        name="receipt_number"
                                        v-model="formitems.receipt_number"
                                        :style="show4 ? filterStyle : null"
                                        placeholder="Enter Receipt Number"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Amount</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="amount">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="amount"
                                        name="amount"
                                        v-model="formitems.amount"
                                        :style="show5 ? filterStyle : null"
                                        placeholder="Enter Amount"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                        </div>
                        <div slot="buttons">
                            <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem" variant="success" @click="addRow"> Save</b-button>
                            <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">Close</b-button>
                        </div>
                    </modal2>
                    <b-row >
                        <b-col >
                            <b-table hover :items="form.item" :fields="tableColumns" show-empty style="width: 100%">
                                <template v-slot:cell(date)="items">
                                    <b-row>
                                        {{dateformat(items.item.date)}}
                                    </b-row>
                                </template>
                                <template v-slot:cell(type)="items">
                                    <b-row>
                                        {{typeformat(items.item.type)}}
                                    </b-row>
                                </template>
                                <template v-slot:cell(amount)="items">
                                    <b-row>
                                        &#8369; {{formatPrice(items.item.amount)}}
                                    </b-row>
                                </template>
                                <template v-slot:cell(Action)="items">
                                    <b-row>
                                        <b-col md="2" class="align-right"> <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(items.item)"></span></b-col>
                                    </b-row>
                                </template>
                                <template v-slot:emptyfiltered="scope">
                                    <h4>{{ scope.emptyFilteredText }}</h4>
                                </template>
                            </b-table>   
                            <!-- <div v-if="this.form.item.length < 1"><h6 class="align-center">No item in inventory</h6></div>    -->
                            <b-col ><h5 class="align-right">Total: &#8369;{{formatPrice(this.totalamount)}}</h5></b-col>
                        </b-col>
                    </b-row>
                      
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import moment from 'moment'
    import { modalMixins } from '@/mixins/modal'
    import Modal2 from '@/components/Modal2'

    export default {
        mixins: [validationMixin,formMixins, modalMixins],
        components: {
          Modal2
        },
        data(){
            return {
                checked:false,
                css: VuetableCSS,
                busy: false,
                tableColumns: [
                    'date', 'type', 'particulars', 'receipt_number', 'amount','Action'
                ],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Reimbursements', href: '#'},
                    { text: 'New', active:true },
                ], 
                filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                show5:false,
                employee_name: [
                    {value: null, text: "Select Employee"}
                ],
                totalamount: 0,
                type: [
                    {value: null, text: "Select Type"},
                    {value: 1, text: "Travel Expenses"},
                    {value: 2, text: "Business Expense"},
                    {value: 3, text: "Medical Reimbursement"}                    
                ],
                form: {
                    subject: '',
                    filed_date: '',
                    employee_id: null,
                    description: '',
                    item: []
                },
                formitems: {
                    date: '',
                    type: null,
                    particulars: '',
                    receipt_number: '',
                    amount: '',
                }                   
            }
        },
        mounted(){
             axios.get('reimbursement/create').then((response) => {
                let employee_list_data = response.data.employee_list;
                employee_list_data.forEach((employee_list) =>{
                    this.employee_name.push({value: employee_list.id, text: employee_list.first_name+' '+ employee_list.last_name})
                });
                
            })
        },
        validations: {
            form: {
                subject: { required },
                filed_date: { required },
                employee_id: { required },
                description: { required }
            }
        },
        methods: {
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
                this.totalamount-=Number(item.amount);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            typeformat(value) {
               
                return (value == 1?'Travel Expenses':(value == 2?'Business Expenses':'Medical Reimbursement'))
            },
            dateformat(value) {
               return moment(String(value)).format('MMMM DD, YYYY')
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            savebtn(){
                this.totalamount = 0;
                this.$refs.vuetable.refresh();                
            },
            addRow(){
                if (this.formitems.date == '' || this.formitems.type == null || this.formitems.particulars == '' || this.formitems.receipt_number == '' || this.formitems.amount == ''){
                    this.makeToast('Oopps!','Fields with red are required','danger')
                        if(this.formitems.date == ''){
                            this.show1 = true;
                        }
                        if(this.formitems.type == null){
                            this.show2 = true;
                        }
                        if(this.formitems.particulars == ''){
                            this.show3 = true;
                        }
                        if(this.formitems.receipt_number == ''){
                            this.show4 = true;
                        }
                        if(this.formitems.amount == ''){
                            this.show5 = true;
                        }
                        setTimeout(()=>{
                            this.show1 = false;
                            this.show2 = false;
                            this.show3 = false;
                            this.show4 = false;
                            this.show5 = false;
                        },5000);
                }else{
                    if(this.form.item ==null){
                        this.form.item = [];
                    }
                    
                    var my_object = {
                        date:this.formitems.date,
                        type:this.formitems.type,
                        particulars:this.formitems.particulars,
                        receipt_number:this.formitems.receipt_number,
                        amount:this.formitems.amount,
                        Action:'',
                    };
                    this.totalamount+=Number(this.formitems.amount);
                    this.formitems.date = '';
                    this.formitems.type = '';
                    this.formitems.particulars = '';
                    this.formitems.receipt_number = '';
                    this.formitems.amount = '';
                    this.form.item.push(my_object)
                    this.closeModal();
                }
                
            },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            validationforitems(){
                this.totalamount = 0;
            },
            closeModal: function(){
                this.$bvModal.hide('modal-main')
            },
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}

</style>