<template>
    <div class="form-group col-md-12 p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
         
        <div class="row justify-content-center mt-30">
            <div class="col-md-12">
                <b-form  @submit.stop.prevent="submitForm(route, { stay: false, route:'reimbursements.view', edit: true })">
                    <b-row md="12">
                        <b-col xl="6" lg="6" md="6" sm="8" cols="8">
                            <router-link :to="{ name:'reimbursements.view' }"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Edit Reimbursements</span>                        
                        </b-col>
                        <b-col xl="6" lg="6" md="6" sm="4" cols="4" class="align-right">
                            <b-overlay
                                :show="busy"
                                rounded
                                opacity="0.6"
                                spinner-small
                                spinner-variant="primary"
                                class="d-inline-block"
                                @hidden="onHidden">
                                <b-button type="submit" class="hr-btn" 
                                @click="validationforitems()">Update</b-button>
                            </b-overlay>
                        </b-col>
                        
                    </b-row>
              
                    <div class="row mt-30">
                        <div class="col-md-4 align-right media-left pt-9">
                            <b class="drkgry-color">Subject</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-1" label-for="subject">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="subject"
                                        name="subject"
                                        v-model="$v.form.subject.$model"
                                        placeholder="Enter Subject"
                                        :state="stateValidation('subject')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-right media-left pt-9">
                            <b class="drkgry-color">Date Filed</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label="" label-for="filed_date">
                                <b-form-datepicker id="filed_date" style="border-left: solid 1.5px #ec0000"
                                    name="filed_date" 
                                    v-model="$v.form.filed_date.$model"
                                    :state="stateValidation('filed_date')"
                                    >
                                </b-form-datepicker>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-right media-left pt-9">
                            <b class="drkgry-color">Employee</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group id="input-group-2" label-for="employee_name">
                                <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="employee_name"
                                        name="employee_name"
                                        v-model="$v.form.employee_id.$model"
                                        :options="employee_options"
                                        :state="stateValidation('employee_id')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-select>
                            </b-form-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 align-right media-left pt-9">
                            <b class="drkgry-color">Description</b>
                        </div>   
                        <div class="col-md-5">
                            <b-form-group label="" label-for="description">
                                <b-form-textarea style="border-left: solid 1.5px #ec0000"
                                        id="description"
                                        name="description"
                                        v-model="$v.form.description.$model"
                                        :state="stateValidation('description')"
                                        aria-describedby="input-1-live-feedback"
                                        placeholder="Enter a description"
                                        rows="3"
                                        max-rows="6"
                                ></b-form-textarea>
                            </b-form-group>
                        </div>
                    </div>
                    <div class="drkgry-color fs-18  pt-2rm"><b>Reimbursements Items</b> </div>
                    <hr style="width: 100%">

                    <!--<modal2 ref="addReimbursement">
                        <h5 slot="header">Add Reimbursement Items</h5>
                        <div slot="body">                            
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Date</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-1" label-for="date">
                                        <b-form-datepicker id="date" style="border-left: solid 1.5px #ec0000"
                                            name="date" 
                                            v-model="formitems.date"
                                            :style="show1 ? filterStyle : null"
                                            >
                                        </b-form-datepicker>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Type</b>
                                </b-col>
                                <b-col md="5">
                                        <b-form-select style="border-left: solid 1.5px #ec0000"
                                        id="type"
                                        name="type"
                                        v-model="formitems.type"
                                        :style="show2 ? filterStyle : null"
                                        :options="type"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-select>
                                </b-col>
                            </b-row>
                            <b-row class="pt-1rm">
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Particulars</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="particulars">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="particulars"
                                        name="particulars"
                                        v-model="formitems.particulars"
                                        :style="show3 ? filterStyle : null"
                                        placeholder="Enter Particulars"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Receipt Number</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="receipt_number">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="receipt_number"
                                        name="receipt_number"
                                        v-model="formitems.receipt_number"
                                        :style="show4 ? filterStyle : null"
                                        placeholder="Enter Receipt Number"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="4" class="text-right pt-9">
                                    <b class="">Amount</b>
                                </b-col>
                                <b-col md="5">
                                    <b-form-group id="input-group-4" label-for="amount">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="amount"
                                        name="amount"
                                        v-model="formitems.amount"
                                        :style="show5 ? filterStyle : null"
                                        placeholder="Enter Amount"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                        </div>
                        <div slot="buttons">
                            <b-button size="sm" class="btn-dltmodal-size" style="margin-right:0.5rem" variant="success" @click="addRow"> Save</b-button>
                            <b-button size="sm" style="background: #fff; color: #707070;" @click="closeModal">Close</b-button>
                        </div>
                    </modal2>-->
                   
                    <b-row >
                        <b-col class="table-overflow"> 
                            <vuetable ref="vuetable" :fields="tableColumns" :data="ReimbursementData.reimbursmentitem" :api-mode="false" :css="css.table" >
                                <div slot="date" slot-scope="props">
                                    <b-row>
                                        <b-form-datepicker style="border-left: solid 1.5px #ec0000"
                                            v-bind:value="props.rowData.edit_date"
                                            >
                                        </b-form-datepicker>
                                    </b-row>
                                </div>
                                <div slot="type" slot-scope="props">
                                    <b-form-select style="border-left: solid 1.5px #ec0000"
                                        v-bind:value="props.rowData.type"
                                        :options="type"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-select>
                                </div>
                                <div slot="particulars" slot-scope="props">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-bind:value="props.rowData.particulars"
                                        placeholder="Enter Particulars"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                </div>
                                <div slot="receipt_number" slot-scope="props">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-bind:value="props.rowData.receipt_number"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                </div>
                                <div slot="amount" slot-scope="props">
                                    <b-form-input style="border-left: solid 1.5px #ec0000"
                                        v-model="ReimbursementData.reimbursmentitem[props.rowIndex].amount"
                                        aria-describedby="input-1-live-feedback"
                                    ></b-form-input>
                                </div>
                                <!--<div slot="Action">
                                    <div class="col-md-2 text-right"> <span class="fa fa-times fa-2x remove-color" v-on:click="removeElement(items.item)"></span></div>
                                </div>-->
                            </vuetable>   
                            <!-- <div v-if="this.form.item.length < 1"><h6 class="align-center">No item in inventory</h6></div>    -->
                            <b-col><h5 class="align-right">Total: &#8369; {{formatPrice(total)}}</h5></b-col>
                        </b-col>
                    </b-row>
                      
                </b-form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    import moment from 'moment'
    import { modalMixins } from '@/mixins/modal'
    // import Modal2 from '@/components/Modal2'

    export default {
        mixins: [validationMixin,formMixins, modalMixins],
        components: {
        //   Modal2,
          Vuetable
        },
        data(){
            return {
                route:'reimbursement/'+this.$route.params.id,  
                checked:false,
                css: VuetableCSS,
                busy: false,
                tableColumns: [
                    'date', 'type', 'particulars', 'receipt_number', 'amount'
                ],
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Reimbursements', href: '#'},
                    { text: 'Edit', active:true },
                ], 
                filterStyle: {
                    borderColor: '#dc3545',
                },
                show1:false,
                show2:false,
                show3:false,
                show4:false,
                show5:false,
                employee_options: [
                    {value: null, text: "Select Employee"}
                ],
                totalamount: 0,
                amount: [],
                type: [
                    {value: null, text: "Select Type"},
                    {value: 1, text: "Travel Expenses"},
                    {value: 2, text: "Business Expense"},
                    {value: 3, text: "Medical Reimbursement"}                    
                ],
                form: {
                    subject: '',
                    filed_date: '',
                    employee_id: null,
                    description: '',
                    item: []
                },
                formitems: {
                    date: '',
                    type: null,
                    particulars: '',
                    receipt_number: '',
                    amount: '',
                },
                ReimbursementData: {},                   
            }
        },
        mounted(){
             axios.get('reimbursement/'+ this.$route.params.id +'/edit').then((response) => {
                    console.log(response.data)
                    let data = response.data;
                    this.ReimbursementData = data.data;
                    this.form.subject = data.data.subject;
                    this.edit_date = data.data.reimbursmentitem.date;
                    this.form.filed_date = moment(String(data.data.filed_date)).format('yyyy-MM-D')
                    this.form.employee_id = response.data.data.employee_id;
                    this.form.description = data.data.description;
                    
                    let employee_id = response.data.employee;
                    employee_id.forEach(employee_id => {
                        console.log(employee_id)
                        this.employee_options.push({
                            value: employee_id.id,
                            text:  employee_id.first_name+' '+employee_id.last_name
                        });
                    });

                    
                })
        },
        validations: {
            form: {
                subject: { required },
                filed_date: { required },
                employee_id: { required },
                description: { required }
            }
        },
        methods: {
            removeElement : function (item) {
                this.form.item.splice(this.form.item.indexOf(item), 1);
                this.totalamount-=Number(item.amount);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            typeformat(value) {
               
                return (value == 1?'Travel Expenses':(value == 2?'Business Expenses':'Medical Reimbursement'))
            },
            dateformat(value) {
               return moment(String(value)).format('MMMM DD, YYYY')
            },
            onHidden() {
                // Return focus to the button once hidden
                this.$refs.button.focus()
            },
            savebtn(){
                this.totalamount = 0;
                this.$refs.vuetable.refresh();                
            },
            // addRow(){
            //     if (this.formitems.date == '' || this.formitems.type == null || this.formitems.particulars == '' || this.formitems.receipt_number == '' || this.formitems.amount == ''){
            //         this.makeToast('Oopps!','Fields with red are required','danger')
            //             if(this.formitems.date == ''){
            //                 this.show1 = true;
            //             }
            //             if(this.formitems.type == null){
            //                 this.show2 = true;
            //             }
            //             if(this.formitems.particulars == ''){
            //                 this.show3 = true;
            //             }
            //             if(this.formitems.receipt_number == ''){
            //                 this.show4 = true;
            //             }
            //             if(this.formitems.amount == ''){
            //                 this.show5 = true;
            //             }
            //             setTimeout(()=>{
            //                 this.show1 = false;
            //                 this.show2 = false;
            //                 this.show3 = false;
            //                 this.show4 = false;
            //                 this.show5 = false;
            //             },5000);
            //     }else{
            //         if(this.form.item ==null){
            //             this.form.item = [];
            //         }
                    
            //         var my_object = {
            //             Action:'',
            //             date:this.formitems.date,
            //             type:this.formitems.type,
            //             particulars:this.formitems.particulars,
            //             receipt_number:this.formitems.receipt_number,
            //             amount:this.formitems.amount
            //         };
            //         this.totalamount+=Number(this.formitems.amount);
            //         this.formitems.date = '';
            //         this.formitems.type = '';
            //         this.formitems.particulars = '';
            //         this.formitems.receipt_number = '';
            //         this.formitems.amount = '';
            //         this.form.item.push(my_object)
            //         this.closeModal();
            //     }
                
            // },
            modalShow(ref){
                this.$refs[ref].$children[0].show()
            },
            validationforitems(){
                //  reject('Fields with red are required')
            },
            closeModal: function(){
                this.$bvModal.hide('modal-main')
            },
        },
        computed:{
            total(){
                let total = 0;
                this.ReimbursementData.reimbursmentitem.forEach((item)=>{
                    total += parseFloat(item.amount);
                });
                return total;
            }
        }
    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.margin-top{
  margin-top: 30px;
}
</style>