<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <!-- Modal Delete -->
            <modal2>
                <h5 slot="header" class="margin-0">Delete Reimbursement</h5>
                <h5 slot="body">
                    <form ref="form">
                        <b-row style="top: 10px; position: relative;">
                            <b-col md="2" class="align-right">
                                <i class="fa fa-exclamation-triangle icon-modal" aria-hidden="true"></i>
                            </b-col>
                            <b-col md="10">
                                <p class="fs-16 margin-0">Are you sure you want to delete {{ checkboxID.length > 1 ? 'these' : 'this' }} {{ checkboxID.length > 1 ? 'files' : 'file' }}?</p>
                                <p class="fs-16">You can't undo this action.</p>
                            </b-col>
                        </b-row>
                    </form>
                </h5>
                <h5 slot="buttons">
                    <b-button variant="success" class="mr-05 btn-dltmodal-size" size="sm"  @click.stop.prevent="deleteModal">Confirm</b-button>
                    <b-button style="background: #fff; color: #707070;" @click.stop.prevent="modalHide" size="sm">Cancel</b-button>
                </h5>
            </modal2>
            <b-row class="mt-30">
                <div class="col text-left"><p class="hr-title">Reimbursements List</p></div>
                <div class="col text-right">
                    <router-link :to="{name: 'reimbursements.create'}"> <b-button class="hr-btn btn-shadow mr-05"><span class="fa fa-plus"></span> New</b-button></router-link>
                    <b-button :disabled="checkboxID.length <= 0" class="btn-size" @click.stop.prevent="modalShow">Delete</b-button>
                </div>
            </b-row>
            <div class="col-md-12 mt-30">
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col sm="10"></b-col>
                        <b-col sm="2">
                            <b-input-group>
                                <b-form-input></b-form-input>
                                <b-input-group-append>
                                    <b-button size="sm" variant="light"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <vuetable @vuetable:checkbox-toggled-custom="addCheckboxID" 
                @vuetable:checkbox-toggled-all="checkALL" 
                ref="vuetable" 
                :fields="fields" 
                :api-mode="false" 
                class="table-overflow"
                :data-manager="dataManager" 
                pagination-path="pagination" 
                @vuetable:pagination-data="onPaginationData"
                :css="css.table">
                <div slot="subject" slot-scope="props">
                    <router-link :to="{ name: 'reimbursements.view', params: {id: props.rowData.id} }">{{ props.rowData.subject }}</router-link>
                </div>
                <div slot="total_amount" slot-scope="props">
                    ₱ {{ props.rowData.total_amount }}
                </div>
            </vuetable>
            <vuetable-pagination style="margin-top: 10px" ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import axios from 'axios'
    import Modal2 from '@/components/Modal2'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import NoData from '@/components/NoDataPage'
    import Checkbox from '@/components/Checkbox'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components:{
            Vuetable,
            VuetablePagination,
            NoData,
            Modal2
        },
        data(){
            return {
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    image: "reimbursements",
                    title: "Reimbursements",
                    description: "Reimbursement is money paid to an employee as repayment for business expense,insurance or other costs. Business expense reimbursements include out-of-pocket expenses, such as those from travel and food.",
                    route_create: "reimbursements.create",
                    route_import: "reimbursements.import",
                    params: "reimbursements",
                    allmodules: true 
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Payroll', active:true },
                    { text: 'Reimbursements', href: '#'},
                    { text: 'List', active:true },
                ], 
                sortOrder: [
                    {
                        field: 'name',
                        sortField: 'name',
                        direction: 'asc'
                    }
                ],
                fields: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'subject',
                        title: 'Subject',
                        sortField: 'subject',
                        formatter: (value) => {
                           return "<a href='#' >"+value+"</a>"
                        }
                    },
                    {
                        name: 'filed_date',
                        title: 'Date Filed',
                        sortField: 'filed_date',
                        formatter: (value) => {
                            return value
                        }
                    },
                    {
                        name: 'employee_name',
                        title: 'Employee',
                        sortField: 'employee_name',
                        formatter: (value) => {
                           return value
                        }
                    },
                    {
                        name: 'total_amount',
                        title: 'Total Amount',
                        sortField: 'total_amount',
                        formatter: (value) => {
                           return value
                        }
                    }
                             
                ],
                perPage: 10,
                data:[]
            }
        },
        watch: {
            data(){
                this.$refs.vuetable.refresh();
            }
        },
        mounted() {
            axios.get('reimbursement').then( response => {
                console.log(response.data);
                this.data = response.data;
                // for(const x in response.data){
                //     this.data.push({
                //         id: response.data[x].id,
                //         subject: response.data[x].subject,
                //         filed_date: response.data[x].filed_date,
                //         employee_name: response.data[x].employee_name,
                //         total_amount: response.data[x].total_amount,
                //         reimbursmentitem: response.data[x].reimbursmentitem
                //     });
                // }
                console.log(this.data);
                console.log('------------------------');

            })
        },
        methods: {
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetable.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            TotalAmount(data){
                console.log(data);
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            onChangePage(page){
                this.$refs.vuetable.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            modalShow: function () {
                this.$bvModal.show('modal-main')
            },
            modalHide: function () {
                this.$bvModal.hide('modal-main')
            },
            deleteModal: function (){
                axios.delete('reimbursement/'+this.checkboxID).then(response => {
                    let data = response.data
                    if (data.error){
                        this.makeToast('Oopps!',data.desc,'danger')
                    } else{
                        this.$bvModal.hide('modal-main');
                        this.makeToast('Success','Successfully Deleted','success');
                        setTimeout( function() { window.location.reload(true); }, 500);
                    }
                });
            },
            makeToast(title,message,variant = null){
                    this.$bvToast.toast(message,{
                    title: title,
                    variant: variant,
                    solid: true
                })
            }
        }

    }
   
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
.sidebar-search{
    padding-right:0;
}
.form-group{
    margin-bottom: 0;
}

</style>