<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs" class="b-crumb"></b-breadcrumb>
        <approval :data="actionData"></approval>
        <b-row class="justify-content-center">
            <b-col md="12" class="mt-24">
                <b-row>
                    <b-col md="6" style="margin: inherit;">
                        <router-link :to="{name: 'reimbursements'}"><i class="fa fa-arrow-left back-btn pl-1rm" style="margin-top: 0.5rem; margin-right: 15px;" aria-hidden="true"></i></router-link>
                        <span class="hr-title">Reimbursement Information</span>
                    </b-col>
                    <b-col md="6" class="align-right" style="margin: auto;">
                        <router-link :to="{name: 'reimbursements.edit', params: {id: this.$route.params.id}}"><b-button class="btn-hr-primary btn-size hide-edit" style="margin-right: 5px;">Edit</b-button></router-link>
                        <b-dropdown right class="hr-more btn-ts btn-size">
                            <template slot="button-content">
                                <b-icon icon="three-dots"></b-icon>
                            </template>
                             <!-- buttons for approval  -->
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(true)">Approve</b-dropdown-item>
                            <b-dropdown-item v-if="approver" @click.stop.prevent="modalShow(false)">Reject</b-dropdown-item>
                            <!-- end of code of buttons for approval  -->
                            <!-- <b-dropdown-item>Print</b-dropdown-item> -->
                            <b-dropdown-item @click="deleteModal($event,DeleteData)" title="Delete Data" component="delete">Delete</b-dropdown-item>
                            <!-- <b-dropdown-item><router-link :to="{name: 'reimbursements.timeline', query: {data: JSON.stringify({id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'reimbursements.view', data: this.history_logs})}}">Timeline</router-link></b-dropdown-item> -->
                        </b-dropdown>
                    </b-col>
                </b-row>
            </b-col>
            <b-container>
                <b-row class="mt-50">
                    <b-col md="7">
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 ">Subject</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ ReimbursementData.subject }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 ">Date Filed</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ ReimbursementData.filed_date }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 ">Employee</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ ReimbursementData.employee_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col md="5" class="form-group align-right">
                                <label class="fs-14 ">Description</label>
                            </b-col>
                            <b-col md="7" class="form-group align-left">
                                <label class="fs-14 fw-bold">{{ ReimbursementData.description }}</label>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col md="5">
                        <ApprovalStatus :data="approveData"></ApprovalStatus>
                    </b-col>
                </b-row>
            </b-container>
        </b-row>
        <div class="mt-30">
            <vuetable ref="vuetable" :fields="items" :data="ReimbursementData.reimbursmentitem" :api-mode="false" :css="css.table" >
                <div slot="type" slot-scope="props">
                    <b-row>
                        {{typeformat(props.rowData.type)}}
                    </b-row>
                </div>
                <div slot="amount" slot-scope="props" class="pl-1rm">
                    <div class="row">
                        &#8369; {{props.rowData.amount}}
                    </div>
                </div>
            </vuetable>
            <b-col><h5 class="align-right mt-20">Total: &#8369; {{this.ReimbursementData.total_amount}}</h5></b-col>
        </div> 
    </b-col>
</template>

<script>
    import Vuetable from 'vuetable-2'
    import axios from 'axios'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import { modalMixins } from '@/mixins/modal'
    import { formMixins } from '@/mixins/form'
    import ApprovalStatus from '@/components/ApprovalStatus'
    import Approval from '@/components/Approval'

    export default {
        mixins: [formMixins,modalMixins],
        components: {
            Vuetable, ApprovalStatus, Approval
        },
        data() {
            return {
                css: VuetableCSS,
                breadcrumbs: [
                    { html: '<span class="fa fa-home"></span>', href: '#' },
                    { text: 'Payroll', active: true },
                    { text: 'Reimbursements', href: '#' },
                    { text: 'View', active: true }
                ], 
                approveData: [],
                DeleteData: [],
                ReimbursementData: [],
                TimelineData: [],
                history_logs: [],
                items: ['date', 'type', 'particulars', 'receipt_number', 'amount'],
                approved_status: 'Pending for approval',
                approver: false,
                actionData: {
                    action: false,
                    remark: "",
                    model: null,
                    name: 'Reimbursement'
                }
            }
        },
        mounted(){
            axios.get('reimbursement/'+this.$route.params.id).then(response => {
                let data = response.data.data
                this.ReimbursementData = data;
                this.history_logs = response.data.history_logs
                this.DeleteData = {value:this.$route.params.id,route:'reimbursement/',route2:'reimbursements',data:this.ReimbursementData.subject};
                this.TimelineData = {id: this.$route.params.id,breadcrumbs: this.breadcrumbs, route: 'reimbursements.view'};
                this.approveData = response.data
                this.approver = response.data.approver.approver;
                this.actionData.model = response.data.approver.model
            });
        },
        methods: {
            typeformat(value) {               
                return (value == 1?'Travel Expenses':(value == 2?'Business Expenses':'Medical Reimbursement'))
            },
            modalHide() {
                this.$bvModal.hide('modal-main')
            },
            modalShow(bool) {
                this.actionData.action = bool;
                this.$bvModal.show('modal-main')
            },
        }
    }
</script>

<style scoped>
.p-5{
  padding: 0px !important;
}
</style> 