<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <template v-if="data.length > 0">
            <b-row class="mt-30">
                <b-col md="6">
                    <span class="hr-title">Office Supplies and Equipment List</span>
                </b-col>
                <b-col md="6" class="align-right">
                    <router-link :to="{name:'supplies_equipment.create.assets'}">
                        <b-button class="btn-inventory-primary mr-05"><span class="fa fa-plus"></span> New Asset</b-button>
                    </router-link>
                    <router-link :to="{name:'supplies_equipment.create.consumables'}">
                        <b-button class="btn-inventory-primary mr-05"><span class="fa fa-plus"></span> New Consumable</b-button>
                    </router-link>
                </b-col>
            </b-row>
            <b-row class="mt-30 col-md-12">
                    <b-card class="k-card m-card">
                      <b-row class="mt-12">
                           <b-col sm="4"><span class="fa fa-shopping-basket fa-3x"></span></b-col>
                            <b-col sm="8"><span class="fs-18 fw-bold">{{ this.consume.length}}</span><br>Consumables</b-col>
                      </b-row>
                    </b-card>
                    <b-card class="k-bcard m-card">
                      <b-row  class="mt-12">
                           <b-col sm="4"><span class="fa fa-calendar-o fa-3x"></span></b-col>
                            <b-col sm="8"><span class="fs-18 fw-bold">{{ total_assets}}</span><br>Total Assets</b-col>
                      </b-row>
                    </b-card>
                    <b-card class="bcard" style="width: 42em;">
                        <b-row class="fw-bold">
                            <b-col >
                                <b-row>
                                    <b-col md="8">Assigned Assets</b-col>
                                    <b-col md="4">{{total_issued}}</b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="8">Assets in Warehouse</b-col>
                                    <b-col md="4">{{ total_warehouse }}</b-col>
                                </b-row>
                            </b-col>
                            <b-col >
                                <!-- <b-row>
                                    <b-col  md="3">5</b-col>
                                    <b-col md="9">CONSUMED</b-col>
                                </b-row>
                                <b-row>
                                    <b-col md="3">{{ this.AVAILCONSUMABLE }}</b-col>
                                    <b-col md="9">AVAILABLE CONSUMABLE</b-col>
                                </b-row> -->
                            </b-col>
                        </b-row>
                    </b-card>
                    
            </b-row>
            <b-col class="mt-30">
                <b-container>
                    <b-row>
                        <!-- <b-col sm="10"></b-col>
                        <b-col sm="2"> 
                            <b-input-group>
                                <b-form-input type="text"></b-form-input> 
                                <b-input-group-append>
                                    <b-button size="sm" variant="light" @click="filter()"><span class="fa fa-filter"></span></b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-col> -->
                    </b-row>
                </b-container>
            </b-col>
            <b-tabs content-class="mt-3" class="mt-30">
                <b-tab title="Consumables" active>
                    <vuetable
                        ref="vuetable"
                        :fields="consumablesHeader" 
                        :api-mode="false" 
                        class="table-overflow"
                        :data-manager="consdataManager" 
                        pagination-path="paginations" 
                        :sort-order="sortOrder"
                        @vuetable:pagination-data="onPaginationData2"
                        :css="css.table">
                        <div slot="image">
                            <img :src="require(`@/images/user.jpg`)" class="rounded-circle img-user-size"/>
                        </div>
                        <div slot="consumable_name" slot-scope="props">
                            <router-link :to="{ name: 'supplies_equipment.view.consumables', params: {id: props.rowData.id} }">{{ props.rowData.consumable_name }}</router-link>
                        </div>
                    </vuetable>
                </b-tab>
                <b-tab title="Assets" >
                    <vuetable
                        ref="vuetables"
                        :fields="assets"
                        :api-mode="false" 
                        class="table-overflow"
                        :data-manager="dataManager" 
                        pagination-path="pagination" 
                        :sort-order="sortOrder"
                        @vuetable:pagination-data="onPaginationData"
                        :css="css.table">
                         <!-- <div slot="image" slot-scope="props">
                            <b-avatar v-if="props.rowData.image == null" size="lg" :src="require(`@/images/user.jpg`)" class="rounded-circle img-user-size"></b-avatar>
                            <b-avatar v-else :src="props.rowData.image" size="lg"></b-avatar>
                        </div> -->
                        <div slot="inventory_name" slot-scope="props">
                            <router-link :to="{ name: 'supplies_equipment.view.assets', params: {id: props.rowData.id} }">{{ props.rowData.inventory_name }}</router-link>
                        </div>
                    </vuetable>
                    <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="css.pagination"></vuetable-pagination>
                </b-tab>
            </b-tabs>
        </template>
        <template v-else>
            <no-data :data="defaultData"></no-data>
        </template>
    </b-col>
</template>
<script>
    import Vuetable from 'vuetable-2'
    import VuetableFieldCheckboxMixin from 'vuetable-2/src/components/VuetableFieldCheckboxMixin'
    import _ from 'lodash'
    import VuetableCSS from '@/assets/scripts/vuetable-custom'
    import Checkbox from '@/components/Checkbox'
    import axios from 'axios'
    import NoData from '@/components/NoDataPage'
    import { mapActions } from 'vuex'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'

    export default {
        name: "List",
        mixins:VuetableFieldCheckboxMixin,
        components: {
            Vuetable,
            VuetablePagination,
            NoData
        },
        data(){
            return {
                importBreadcrumb: [],   
                checkboxID: [],
                css: VuetableCSS,
                defaultData: {
                    title: "Office Supplies and Equipment",
                    title1: "Assets",
                    title2: "Consumables",
                    image: "supplies_equipment",
                    description: "Inventory of Office Supplies and Equipment used on a regular, daily basis on the company of all sizes that used in most office environments.",
                    route_assets_create: "supplies_equipment.create.assets",
                    route_consumables_create: "supplies_equipment.create.consumables",
                    route_assets_import: "assets.import",
                    route_consumables_import: "consumables.import",
                    route_dropdown: true,
                    allmodules: false,
                },
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Inventory', active:true },
                    { text: 'Office Supplies and Equipment', href: '#'},
                    { text: 'List', active:true },
                ],
                sortOrder: [
                    {
                        field: 'consumable_name',
                        sortField: 'consumable_name',
                        direction: 'asc'
                    }
                ],
                ACCOUNTABLE:0,
                INSTOCK:0,
                CONSUMED:0,
                AVAILCONSUMABLE:0,
                consumablesHeader: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'consumable_name',
                        title: 'Consumable Name',
                        sortField: 'consumable_name',
                        formatter: (value) => {
                        return value  
                        }
                        
                    },
                    {
                        name: 'category',
                        title: 'Category',
                        sortField: 'category',
                        formatter: (value) => {
                        return value  
                        } 
                    },
                    {
                        name: 'quantity',
                        title: 'Quantity',
                        sortField: 'quantity',
                        formatter: (value) => {
                        return value 
                        }
                    },
                ],
                assets: [
                    {  
                        name: Checkbox,
                        titleClass: 'center aligned',
                        dataClass: 'center aligned'
                    },
                    {
                        name: 'inventory_name',
                        title: 'Inventory Name',
                        sortField: 'inventory_name',
                        formatter: (value) => {
                            return value  
                        } 
                    },
                    // {
                    //     name: 'asset_no',
                    //     title: 'Asset No.',
                    //     sortField: 'asset_no',
                    //     formatter: (value) => {
                    //         return value  
                    //     }
                        
                    // },
                    {
                        name: 'category',
                        title: 'Category',
                        sortField: 'category',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'assigned',
                        title: 'Assigned',
                        sortField: 'category',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'warehouse',
                        title: 'In Warehouse',
                        sortField: 'category',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    {
                        name: 'total_quantity',
                        title: 'Total Quantity',
                        sortField: 'total_quantity',
                        formatter: (value) => {
                            return value 
                        }
                    },
                    // {
                    //     name: 'status',
                    //     title: 'Status',
                    //     sortField: 'status',
                    //     formatter: (value) => {
                    //         return value 
                    //     }
                    // },
                ],
                data: [],
                consume: [],
                perPage: 10,
                total_issued: 0,
                total_warehouse: 0,
                total_assets: 0
            }
        },        
        watch: {
            data(){
                this.$refs.vuetable.refresh();
                this.$refs.vuetables.refresh();
            },
        },
        mounted() {
            axios.get('assets').then( response => {
                let data = response.data.assets;
                let total_issued = 0;
                let total_warehouse = 0;
                let total_assets = 0;

                data.forEach((inventory) =>{
                    this.data.push({
                        image: inventory.image_src,
                        id: inventory.id,
                        // inventory_no:  inventory.inventory_tag,
                        inventory_name: inventory.inventory_description_data.description,
                        // status: inventory.inventory_status_data.status_name,
                        category: inventory.category_id.category_name,
                        warehouse: inventory.quantity - inventory.issued_count,
                        assigned: inventory.issued_count,
                        total_quantity: inventory.quantity
                    });      
                    total_issued += inventory.issued_count
                    total_warehouse += inventory.quantity - inventory.issued_count
                    total_assets += parseFloat(inventory.quantity) 
                });  
                this.total_issued = total_issued;
                this.total_warehouse = total_warehouse;
                this.total_assets = total_assets;

                let consumables = response.data.consumables;
                consumables.forEach((consumables) =>{
                    this.AVAILCONSUMABLE++;
                    this.consume.push({
                        id: consumables.id,
                        consumable_name: consumables.inventory_description_data.description,
                        category: consumables.category_id.category_name,
                        quantity: consumables.quantity,
                    });      
                });  
                
            })
        },
        methods: {
            ...mapActions({
                fetchModule: 'fetchModule'
            }),
            addCheckboxID(checked, data) {
                if(checked){
                    this.checkboxID.push(data);
                }else{
                    let idIndex = this.checkboxID.indexOf(data);
                    this.checkboxID.splice(idIndex);
                }
            },
            checkALL(checked){
                console.log(checked);
                if(checked){
                    this.checkboxID = this.$refs.vuetableDepartments.selectedTo;
                }else{
                    this.checkboxID = [];
                }
            },
            onPaginationData(tablePagination) {
                this.$refs.pagination.setPaginationData(tablePagination)
            },
            
            onPaginationData2(tablePagination) {
                this.$refs.paginations.setPaginationData(tablePagination)
            },
            onChangePage2(page){
                this.$refs.vuetable.changePage(page)
            },
            onChangePage(page){
                this.$refs.vuetables.changePage(page)
            },
            dataManager(sortOrder,pagination){
                if (this.data.length < 1) return;

                let local = this.data;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetables.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            consdataManager(sortOrder,pagination){
                if (this.consume.length < 1) return;

                let local = this.consume;

                if (sortOrder.length > 0){
                    console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
                    local = _.orderBy(
                        local,
                        sortOrder[0].sortField,
                        sortOrder[0].direction
                    );
                }

                pagination = this.$refs.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                console.log('pagination:', pagination)
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },
            formatDecimal(quantity) {
                let val = (quantity/1).toFixed(0).replace('.', ',')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")

            },
        },
        
    }

</script>

<style scoped>
.p-5 {
    padding: 0px !important;
}
</style>