<template>
    <b-col md="12" class="form-group p-5">
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>         
        <b-row class="justify-content-center mt-30">
            <b-col md="12">
                <b-form @submit.stop.prevent="submitForm('department', { stay: checked, route:'departments.view' })">
                    <b-row>
                        <b-col md="6">
                            <router-link :to="{name:'departments'}"><span class="fa fa-arrow-left back-btn" aria-hidden="true" style="margin-top: 2px;"></span></router-link>
                            <span class="form-head pl-1rm">Create Department</span>                        
                        </b-col>
                        <b-col md="6" class="align-right">
                            <b-form-checkbox class="mr-05 custom-checkbox-position" 
                                v-model="checked"  
                                true-value="true"
                                false-value="false">
                            </b-form-checkbox>
                            <label class="label-create-a">Create Another</label>
                            <b-button type="submit" class="hr-btn">Save</b-button>
                        </b-col>
                    </b-row>
                    <b-row class="mt-30">
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Department Name</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="name" label-for="input-1">
                                <b-form-input style="border-left: solid 1.5px #ec0000"
                                        id="name"
                                        name="name"
                                        placeholder="Department Name"
                                        v-model="$v.form.name.$model"
                                        :state="stateValidation('name')"
                                        aria-describedby="input-1-live-feedback"
                                ></b-form-input>                                
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Department Lead</b>
                        </b-col>   
                        <b-col md="5">
                            <b-form-group id="employee_id" label-for="input-2">
                                <b-form-select 
                                        id="employee_id" 
                                        name="employee_id"
                                        v-model="form.employee_id"
                                        :options="employee_options"
                                        aria-describedby="input-2-live-feedback"
                                ></b-form-select>
                                
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-row>
                        <b-col md="4" class="align-right media-left pt-9">
                            <b>Description</b>
                        </b-col>   
                        <b-col md="5" class="mt-n1rm">
                            <div align="right">
                                <span class="fs-12">(optional)</span>
                            </div>
                                <b-form-group label="" label-for="description">
                                <b-form-textarea
                                        id="description"
                                        name="description"
                                        v-model="form.description"
                                        placeholder="Enter a description"
                                        rows="3"
                                ></b-form-textarea>
                            </b-form-group>
                        </b-col>
                    </b-row>
             
                </b-form>
            </b-col>
        </b-row>
    </b-col>
</template>

<script>
 
    import { validationMixin } from "vuelidate";
    import { required } from "vuelidate/lib/validators";
    import { formMixins } from '@/mixins/form'
    import axios from 'axios'
    export default {
        mixins: [validationMixin,formMixins],
        data() {
            return {                
                checked:false,
                busy: false,
                breadcrumbs:[
                    { html: '<span class="fa fa-home"></span>', href: '#'},
                    { text: 'Organization', active:true },
                    { text: 'Department', href: '#'},
                    { text: 'New', active:true },
                ],
                employee_options: [
                    { value: null, text: "Select Department Lead" },
                ],
                form: {
                    name: '',
                    employee_id: null,
                    description: null,
                },
            };
        },
        mounted(){
            this.getEmployees()
        },
        validations: {
            form: {
                name: {
                    required
                }
            }
        },
        methods: {
            getEmployees(){
                axios.get('department/create').then((response) => {
                    let department_data = response.data;
                    department_data.forEach((department) =>{
                        this.employee_options.push({value: department['id'],text: department['last_name'] + ' ' + department['first_name']})
                    });
                });
            },
        }
    };
  
</script>

<style scoped>
.p-5{
    padding: 0px !important;
}
</style>